Repository MTES-MCT/carbure: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-ci-image, check-backend, check-frontend

.gitlab-ci.yml:

stages:
  - prepare
  - check
  - deploy

variables:
  MYSQL_DATABASE: carbure_mysql_test_db
  MYSQL_ROOT_PASSWORD: carbure_mysql_ci_db_password

# use prebuild CI image when running checks
.checks:
  image: $CI_REGISTRY/$CI_PROJECT_PATH/ci-image:latest
  before_script:
    - mv /app/front/node_modules ./front

# prepare git env to push new code to scalingo
.scalingo:
  image: alpine:latest
  before_script:
    - mkdir ~/.ssh
    - apk add --update git openssh-client
    - eval $(ssh-agent -s)
    - echo "$SCALINGO_SSH_PRIVATE_KEY" | tr -d '\r' | ssh-add -
    - ssh-keyscan $SCALINGO_SSH_HOST >> ~/.ssh/known_hosts
    - chmod 644 ~/.ssh/known_hosts
    - git config user.name $GIT_USER_NAME
    - git config user.email $GIT_USER_EMAIL
    - git remote add scalingo-dev $SCALINGO_GIT_REMOTE_DEV || true
    - git remote add scalingo-staging $SCALINGO_GIT_REMOTE_STAGING || true
    - git remote add scalingo-prod $SCALINGO_GIT_REMOTE_PROD || true
    - git fetch origin $CI_COMMIT_BRANCH --unshallow
    - git checkout $CI_COMMIT_BRANCH

build-ci-image:
  stage: prepare
  image: docker:stable
  services:
    - docker:dind
  script:
    - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
    - docker build -f ci/Dockerfile -t $CI_REGISTRY/$CI_PROJECT_PATH/ci-image:latest .
    - docker push $CI_REGISTRY/$CI_PROJECT_PATH/ci-image:latest
  only:
    changes:
      - ci/Dockerfile
      - Pipfile
      - Pipfile.lock
      - front/package.json
      - front/package-lock.json

check-backend:
  stage: check
  extends: .checks
  services:
    - mysql:8.0
    - redis:latest
  script:
    - export CARBURE_HOME=$(pwd)
    - export DATABASE_URL=mysql://root:$MYSQL_ROOT_PASSWORD@mysql:3306/$MYSQL_DATABASE
    - export REDIS_URL=redis://redis:6379
    - mypy web || true
    - TEST=1 python3 web/manage.py test web
  only:
    refs:
      - dev
      - master
    changes:
      - web/**/*

check-frontend:
  stage: check
  extends: .checks
  script:
    - cd front
    - npx eslint --ext .ts,.tsx src/
    - npm test
  only:
    refs:
      - dev
      - master
    changes:
      - front/**/*

deploy-dev:
  stage: deploy
  extends: .scalingo
  only:
    - dev
  script:
    - git push scalingo-dev $CI_COMMIT_BRANCH:master -f

deploy-staging:
  stage: deploy
  extends: .scalingo
  only:
    - master
  script:
    - git push scalingo-staging master -f

deploy-prod:
  stage: deploy
  extends: .scalingo
  when: manual
  only:
    - master
  script:
    - git push scalingo-prod master -f

[front] fix transfert certificate detaili nfos
  front/src/elec/components/transfer-certificates/details.tsx
Due: check-frontend

[front] meter-readings - create upload errors and clean tests
  front/src/carbure/__test__/helpers.ts
  front/src/elec/__test__/api.ts
  front/src/elec/__test__/data.ts
  front/src/elec/__test__/settings-charging-points.spec.tsx
  front/src/elec/components/meter-readings/errors-dialog.tsx
  front/src/elec/components/meter-readings/upload-dialog.tsx
  front/src/elec/types.ts
  front/src/lot-add/__test__/lot-add.spec.tsx
  front/src/saf/__test__/saf-operator.spec.tsx
  front/src/settings/__test__/api.ts
  front/src/settings/__test__/company.spec.tsx
  front/src/settings/__test__/delivery-site.spec.tsx
  front/src/settings/__test__/production-site.spec.tsx
  front/src/transaction-details/__test__/lot-details.spec.tsx
  front/src/transactions/__test__/transactions.spec.tsx
Due: check-frontend

[front]meter-readings -  add test for upload with errors
  front/public/locales/en/translation.json
  front/public/locales/fr/translation.json
  front/src/double-counting-admin/components/files-checker/errors-details-dialog.tsx
  front/src/double-counting-admin/components/files-checker/index.tsx
  front/src/elec/__test__/api.ts
  front/src/elec/__test__/data.ts
  front/src/elec/__test__/settings-charging-points.spec.tsx
  front/src/elec/__test__/settings-meter-readings.spec.tsx
  front/src/elec/components/charging-points/errors-dialog.tsx
  front/src/elec/components/meter-readings/errors-dialog.tsx
  front/src/elec/components/meter-readings/settings.tsx
  front/src/elec/components/meter-readings/upload-dialog.tsx
  front/src/settings/__test__/api.ts
Due: check-frontend

[front] meter-readings - add valid upload
  front/src/elec/__test__/api.ts
  front/src/elec/__test__/data.ts
  front/src/elec/__test__/settings-charging-points.spec.tsx
  front/src/elec/__test__/settings-meter-readings.spec.tsx
  front/src/elec/api-cpo.ts
  front/src/elec/components/charging-points/replace-alert.tsx
  front/src/elec/components/charging-points/upload-dialog.tsx
  front/src/elec/components/meter-readings/errors-dialog.tsx
  front/src/elec/components/meter-readings/replace-alert.tsx
  front/src/elec/components/meter-readings/settings.tsx
  front/src/elec/components/meter-readings/upload-dialog.tsx
  front/src/elec/components/meter-readings/valid-dialog.tsx
  front/src/elec/types.ts
  front/src/settings/__test__/api.ts
Due: check-frontend

[front] meter-readings - admin display in companies
  front/src/companies/__test__/data.ts
  front/src/companies/components/entity-summary.tsx
  front/src/companies/routes/entity-details.tsx
  front/src/companies/types.ts
  front/src/elec/api-cpo.ts
  front/src/elec/components/meter-readings/settings.tsx
  front/src/elec/components/meter-readings/upload-dialog.tsx
  front/src/elec/components/meter-readings/valid-dialog.tsx
Due: check-frontend

[front] download , valid and reject quarterly meter readings
  front/public/locales/en/translation.json
  front/public/locales/fr/translation.json
  front/src/elec-admin/api.ts
  front/src/elec-admin/components/meter-readings/accept-dialog.tsx
  front/src/elec-admin/components/meter-readings/reject-dialog.tsx
  front/src/elec/__test__/data.ts
  front/src/elec/api-cpo.ts
  front/src/elec/components/charging-points/valid-dialog.tsx
  front/src/elec/components/meter-readings/settings.tsx
  front/src/elec/components/meter-readings/valid-dialog.tsx
  front/src/elec/types.ts
Due: check-frontend

[api] add models for meter reading
  web/elec/migrations/0015_elecmeterreadingapplication.py
  web/elec/migrations/0016_elecmeterreading.py
  web/elec/models/__init__.py
  web/elec/models/elec_meter_reading.py
  web/elec/models/elec_meter_reading_application.py
Due: check-backend

[api] add endpoint to generate meter reading template
  front/src/elec/components/meter-readings/upload-dialog.tsx
  web/elec/api/cpo/__init__.py
  web/elec/api/cpo/meter_readings/__init__.py
  web/elec/api/cpo/meter_readings/application_template.py
Due: check-backend, check-frontend

[front] add alert for not displayed certificates
  front/public/locales/en/translation.json
  front/public/locales/fr/translation.json
  front/src/settings/components/certificates.tsx
Due: check-frontend

[back] fix ISCC scope parsing
  web/carbure/scripts/tests_scripts.py
  web/carbure/scripts/update_iscc_certificates.py
Due: check-backend

[back]clean ISCC scope parsing fix
  web/carbure/scripts/tests_scripts.py
  web/carbure/scripts/update_iscc_certificates.py
Due: check-backend

[back]clean ISCC scope parsing fix 2
  web/core/models.py
Due: check-backend

[api] cleanup meter reading template endpoint
  web/elec/api/cpo/meter_readings/application_template.py
Due: check-backend

[front] add accessibility declaration
  front/src/carbure/components/accessibility-declaration.module.css
  front/src/carbure/components/accessibility-declaration.tsx
  front/src/carbure/components/footer.tsx
  front/src/carbure/index.tsx
Due: check-frontend

[api] fix double counting tests
  web/admin/api/double_counting/agreements/agreements.py
  web/admin/api/double_counting/agreements/tests_agreements.py
  web/admin/api/double_counting/applications/tests_applications.py
Due: check-backend

[front] scope accessibility declaration css
  front/src/carbure/components/accessibility-declaration.module.css
  front/src/carbure/components/accessibility-declaration.tsx
Due: check-frontend

[back] update Readme - how to launch one-off container on scalingo
  README.md
Due: none

[all] refacto admin-controls-lots-comment
  web/admin/api/controls/lots/__init__.py
  web/admin/api/controls/lots/comment.py
Due: check-backend

refacto admin-controls-lot-details
  web/admin/api/controls/lots/comment.py
  web/admin/api/controls/lots/details.py
Due: check-backend

[api] accept x, yes and no as possible values for boolean cells in excel files
  web/core/excel.py
Due: check-backend

[api] fix bug when checking reading energy in charge point application
  web/elec/services/import_charge_point_excel.py
Due: check-backend
