Repository MTES-MCT/carbure: changes, and which GitLab CI jobs are due for each by the changed paths.
All: check-backend, check-frontend

.gitlab-ci.yml:

stages:
  - check


workflow:
  rules:
    # 1. Don't run pipelines for MR drafts.
    - if: $CI_PIPELINE_SOURCE == "merge_request_event" && $CI_MERGE_REQUEST_TITLE =~ /^Draft:/
      when: never

    # 2. Don't run branch pipelines when there's an open MR for the branch (run the MR pipeline instead).
    - if: $CI_COMMIT_BRANCH && $CI_OPEN_MERGE_REQUESTS
      when: never

    # 3. Run all other MR pipelines
    - if: $CI_PIPELINE_SOURCE == 'merge_request_event'
      when: always

    # 4. Run branch pipelines for dev and master
    - if: $CI_COMMIT_BRANCH == "dev" || $CI_COMMIT_BRANCH == "master"
      when: always

    # 5. Else, don't run it
    - when: never


variables:
  MYSQL_DATABASE: carbure_mysql_test_db
  MYSQL_ROOT_PASSWORD: carbure_mysql_ci_db_password
  PIP_CACHE_DIR: "$CI_PROJECT_DIR/.cache/pip"
  PIPENV_VENV_IN_PROJECT: true


# job: run linting and tests for backend
check-backend:
  stage: check
  extends: .backend
  services:
    - mysql:8.0
    - redis:latest
  script:
    - export CARBURE_HOME=$(pwd)
    - export DATABASE_URL=mysql://root:$MYSQL_ROOT_PASSWORD@mysql:3306/$MYSQL_DATABASE
    - export REDIS_URL=redis://redis:6379
    - pipenv run ruff check
    - pipenv run ruff format --check
    - TEST=1 pipenv run python web/manage.py test web


# job: run linting and tests for frontend
check-frontend:
  stage: check
  extends: .frontend
  script:
    - npm run lint
    - npm run build
    - npx chromatic
  interruptible: true


.backend:
  image: python:3.12
  cache:
    - key:
        files:
          - Pipfile.lock
      paths:
        - .cache/pip/
        - .venv/
  before_script:
    - pip install pipenv
    - pipenv install --dev --deploy --ignore-pipfile
  rules:
    - changes:
      - web/**/*
      - .gitlab-ci.yml


.frontend:
  image: node:latest
  cache:
    - key:
        files:
          - front/package-lock.json
      paths:
        - front/.npm/
  before_script:
    - cd front
    - npm ci --cache .npm --prefer-offline
  rules:
    - changes:
      - front/**/*
      - .gitlab-ci.yml

feat(biomethane): in digestate mixins replace api_views by actions for consistency
  web/biomethane/urls.py
  web/biomethane/views/digestate/mixins/__init__.py
  web/biomethane/views/digestate/mixins/validate.py
  web/biomethane/views/digestate/mixins/years.py
Due: check-backend

chore(biomethane): update api schema
  api-schema.yaml
Due: none

feat: add vitest and remove all previous tests
  .gitlab-ci.yml
  front/package-lock.json
  front/package.json
  front/src/account/__test__/access-rights.spec.tsx
  front/src/account/__test__/api.ts
  front/src/auth/__test__/api.ts
  front/src/auth/__test__/login.spec.tsx
  front/src/auth/__test__/register.spec.tsx
  front/src/biomethane/tests/utils.test.ts
  front/src/controls/__test__/api.ts
  front/src/controls/__test__/controls.spec.tsx
  front/src/controls/__test__/data.ts
  front/src/elec-audit-admin/__test__/api.ts
  front/src/elec-audit-admin/__test__/audit-admin-charge-points-sample.spec.tsx
  front/src/elec-audit-admin/__test__/data.ts
  front/src/lot-add/__test__/api.ts
  front/src/lot-add/__test__/lot-add.spec.tsx
  front/src/mocks.ts
  front/src/settings/__test__/api.ts
  front/src/settings/__test__/company.spec.tsx
  front/src/settings/__test__/data.ts
  front/src/settings/__test__/delivery-site.spec.tsx
  front/src/settings/__test__/production-site.spec.tsx
  front/src/settings/__test__/server.ts
  front/src/transaction-details/__test__/api.ts
  front/src/transaction-details/__test__/data.ts
  front/src/transaction-details/__test__/lot-details.spec.tsx
  front/src/transactions/__test__/api.ts
  front/src/transactions/__test__/data.ts
  front/src/transactions/__test__/declaration.spec.tsx
  front/src/transactions/__test__/helpers.ts
  front/src/transactions/__test__/transactions.spec.tsx
Due: check-backend, check-frontend

fix: regenerate schema after rebase
  api-schema.yaml
  front/src/api-schema.ts
Due: check-frontend

feat(biomethane): simplify upsert() methods
  web/biomethane/views/contract/contract.py
  web/biomethane/views/digestate/digestate.py
  web/biomethane/views/injection_site/injection_site.py
  web/biomethane/views/production_unit/production_unit.py
Due: check-backend

fix: error after migrating
  web/biomethane/migrations/0009_biomethanedigestate_biomethanedigestatespreading.py
  web/biomethane/migrations/0012_alter_biomethanedigestatespreading_digestate.py
Due: check-backend

refactor: remove year param digestate api
  api-schema.yaml
  front/src/api-schema.ts
  front/src/biomethane/pages/digestate/api.ts
  front/src/biomethane/pages/digestate/components/sale/sale.tsx
  front/src/biomethane/pages/digestate/components/spreading/add-spreading-department.tsx
  front/src/biomethane/pages/digestate/components/spreading/spreading.tsx
  front/src/biomethane/pages/digestate/digestate.hooks.tsx
  front/src/biomethane/pages/digestate/digestate.tsx
  front/src/common/index.tsx
Due: check-frontend

Restrict container access to (local) host
  docker-compose.yml
Due: none

fix: fix page header undefined status
  front/src/biomethane/layouts/page-header.tsx
Due: check-frontend

fix: remove description digestate page sections
  front/src/biomethane/pages/digestate/components/composting/composting.tsx
  front/src/biomethane/pages/digestate/components/incineration-landfill/incineration-landfill.tsx
  front/src/biomethane/pages/digestate/components/injection-site/index.ts
  front/src/biomethane/pages/digestate/components/production/index.ts
  front/src/biomethane/pages/digestate/components/production/production.tsx
  front/src/biomethane/pages/digestate/components/sale/sale.tsx
  front/src/biomethane/pages/digestate/components/spreading-distance/spreading-distance.tsx
  front/src/biomethane/pages/digestate/components/spreading/spreading.tsx
  front/src/biomethane/pages/digestate/digestate.tsx
Due: check-frontend

feat(biomethane): add validations for digestat page and merge 2 input serializers in 1
  web/biomethane/models/biomethane_digestate.py
  web/biomethane/serializers/digestate/__init__.py
  web/biomethane/serializers/digestate/digestate.py
  web/biomethane/serializers/injection_site.py
  web/biomethane/views/digestate/digestate.py
Due: check-backend

feat(biomethane): make sure to not clear data if not wanted
  web/biomethane/serializers/production_unit.py
Due: check-backend

feat(biomethane): remove unnecessary entity check, because already done via permissions
  web/biomethane/serializers/digestate/digestate.py
  web/biomethane/serializers/digestate/spreading.py
  web/biomethane/serializers/injection_site.py
Due: check-backend

feat(biomethane): move clearing fields logic in a signal in contract model
  web/biomethane/models/biomethane_contract.py
  web/biomethane/models/biomethane_digestate.py
Due: check-backend

feat(biomethane): move clearing fields logic in a signal in contract model
  web/biomethane/serializers/contract.py
Due: check-backend

feat(biomethane): add EN translations
  web/biomethane/serializers/contract.py
  web/biomethane/serializers/contract_amendment.py
  web/biomethane/serializers/digestate/digestate.py
  web/biomethane/serializers/digestate/spreading.py
  web/locale/en/LC_MESSAGES/django.po
Due: check-backend

feat(biomethane): fixes thanks to unit tests
  web/biomethane/models/biomethane_digestate.py
  web/biomethane/serializers/injection_site.py
  web/biomethane/serializers/production_unit.py
Due: check-backend

feat: update translations
  front/public/locales/en/translation.json
  front/public/locales/fr/translation.json
  front/src/biomethane/pages/contract/components/contract-infos/contract-infos.tsx
Due: check-frontend

feat: update schema
  api-schema.yaml
  front/src/api-schema.ts
  front/src/biomethane/pages/digestate/api.ts
  front/src/biomethane/pages/digestate/components/composting/composting.tsx
  front/src/biomethane/pages/digestate/components/incineration-landfill/incineration-landfill.tsx
  front/src/biomethane/pages/digestate/components/production/production.tsx
  front/src/biomethane/pages/digestate/components/sale/sale.tsx
  front/src/biomethane/pages/digestate/components/spreading-distance/spreading-distance.tsx
  front/src/biomethane/pages/digestate/digestate.hooks.tsx
  front/src/biomethane/pages/digestate/types.ts
Due: check-frontend

feat: setup biomethane energy model
  web/biomethane/models/__init__.py
  web/biomethane/models/biomethane_energy.py
Due: check-backend

feat: add first version installation energy needs
  front/src/biomethane/pages/energy/components/energy-efficiency.tsx
  front/src/biomethane/pages/energy/components/installation-energy-needs.tsx
  front/src/biomethane/pages/energy/energy.tsx
  front/src/common/components/inputs2/checkbox/checkbox.tsx
Due: check-frontend

feat: setup biomethane monthly injection
  front/src/biomethane/pages/energy/components/monthy-biomethane-injection/index.ts
  front/src/biomethane/pages/energy/components/monthy-biomethane-injection/monthly-biomethane-injection.tsx
Due: check-frontend

feat: setup biomethane energy endpoints
  api-schema.yaml
  front/src/api-schema.ts
  web/biomethane/migrations/0010_biomethaneenergy.py
  web/biomethane/serializers/energy/__init__.py
  web/biomethane/serializers/energy/energy.py
  web/biomethane/urls.py
  web/biomethane/views/energy/__init__.py
  web/biomethane/views/energy/energy.py
  web/biomethane/views/energy/mixins/__init__.py
  web/biomethane/views/energy/mixins/validate.py
  web/biomethane/views/energy/mixins/years.py
Due: check-backend, check-frontend

test: add tests energy-efficiency
  front/src/biomethane/pages/contract/tests/contract.data.ts
  front/src/biomethane/pages/energy/components/energy-efficiency/energy-efficiency.hooks.test.ts
  front/src/biomethane/pages/energy/components/energy-efficiency/energy-efficiency.hooks.ts
  front/src/biomethane/pages/energy/components/energy-efficiency/energy-efficiency.stories.tsx
  front/src/biomethane/pages/energy/components/energy-efficiency/energy-efficiency.tsx
  front/src/biomethane/pages/energy/tests/energy.data.ts
Due: check-frontend

feat: add biogas production section
  front/src/biomethane/pages/energy/components/biogas-production.tsx
  front/src/biomethane/pages/energy/energy.tsx
  front/src/biomethane/pages/production/components/production-site.tsx
  front/src/biomethane/pages/production/types.ts
Due: check-frontend

feat: setup page biomethane - energy
  front/src/biomethane/pages/energy/api.ts
  front/src/biomethane/pages/energy/energy.hooks.tsx
  front/src/biomethane/pages/energy/energy.tsx
  front/src/biomethane/pages/energy/index.ts
  front/src/biomethane/pages/energy/types.ts
  front/src/biomethane/routes.tsx
Due: check-frontend

feat: add energy efficiency input
  front/src/biomethane/config.ts
  front/src/biomethane/pages/contract/components/contract-infos/contract-infos.tsx
  front/src/biomethane/pages/contract/components/contract-infos/red-ii-dialog.tsx
  front/src/biomethane/pages/contract/contract.utils.ts
  front/src/biomethane/pages/contract/index.ts
  front/src/biomethane/pages/energy/components/energy-efficiency/energy-efficiency.hooks.ts
  front/src/biomethane/pages/energy/components/energy-efficiency/energy-efficiency.tsx
  front/src/biomethane/pages/energy/components/energy-efficiency/index.ts
  front/src/biomethane/pages/energy/components/installation-energy-needs.tsx
  front/src/common/components/inputs2/checkbox/checkbox.tsx
Due: check-frontend

feat: add injected biomethane section
  front/src/biomethane/pages/energy/components/injected-biomethane.tsx
  front/src/biomethane/pages/energy/energy.tsx
  web/biomethane/views/energy/energy.py
Due: check-backend, check-frontend

feat: add energy efficiency section
  front/src/biomethane/pages/energy/components/energy-efficiency.tsx
  front/src/biomethane/pages/energy/energy.tsx
Due: check-frontend

feat(biomethane): rename 'entity' field to 'producer' field
  web/biomethane/factories/contract.py
  web/biomethane/factories/injection_site.py
  web/biomethane/filters/contract_amendment.py
  web/biomethane/migrations/0010_rename_entity_biomethanecontract_producer_and_more.py
  web/biomethane/models/biomethane_contract.py
  web/biomethane/models/biomethane_contract_amendment.py
  web/biomethane/models/biomethane_injection_site.py
  web/biomethane/serializers/contract.py
  web/biomethane/serializers/contract_amendment.py
  web/biomethane/serializers/injection_site.py
  web/biomethane/tests/test_contract.py
  web/biomethane/tests/test_contract_amendment.py
  web/biomethane/tests/test_injection_site.py
  web/biomethane/views/contract/contract.py
  web/biomethane/views/injection_site/injection_site.py
Due: check-backend

feat: terminate v0 monthly biomethane injection
  front/src/biomethane/pages/energy/components/monthy-biomethane-injection/declare-monthly-quantity.tsx
  front/src/biomethane/pages/energy/components/monthy-biomethane-injection/index.ts
  front/src/biomethane/pages/energy/components/monthy-biomethane-injection/monthly-biomethane-injection.tsx
  front/src/biomethane/pages/energy/energy.tsx
  front/src/common/components/inputs2/base-input.module.css
  front/src/common/components/inputs2/base-input.tsx
  front/src/common/components/inputs2/checkbox/checkbox.tsx
Due: check-frontend

feat(biomethane): add logic to clear new digestat field, and fix unit test
  web/biomethane/migrations/0011_merge_20250902_1627.py
  web/biomethane/migrations/0012_alter_biomethanecontract_producer.py
  web/biomethane/models/biomethane_contract.py
  web/biomethane/models/biomethane_digestate.py
  web/biomethane/tests/digestate/test_digestate.py
Due: check-backend

feat(biomethane): complete energy model and serializer
  web/biomethane/migrations/0013_biomethaneenergy_has_injection_difficulties_due_to_network_saturation_and_more.py
  web/biomethane/models/biomethane_energy.py
  web/biomethane/serializers/digestate/digestate.py
  web/biomethane/serializers/energy/__init__.py
  web/biomethane/serializers/energy/energy.py
  web/biomethane/views/energy/energy.py
Due: check-backend

feat(biomethane): correctly use validate() method
  web/biomethane/serializers/contract.py
  web/biomethane/serializers/digestate/digestate.py
  web/biomethane/serializers/injection_site.py
  web/biomethane/serializers/production_unit.py
Due: check-backend

feat(biomethane): update only status field
  web/biomethane/views/digestate/mixins/validate.py
  web/biomethane/views/energy/mixins/validate.py
Due: check-backend

feat(biomethane): update only is_red_ii field
  web/biomethane/serializers/contract.py
Due: check-backend

feat(biomethane): simplify production unit serializer
  web/biomethane/serializers/production_unit.py
Due: check-backend

feat: add malfunction section energy
  front/src/biomethane/pages/energy/components/acceptability.tsx
  front/src/biomethane/pages/energy/components/malfunction.tsx
  front/src/biomethane/pages/energy/energy.tsx
  web/biomethane/migrations/0011_merge_20250902_1539.py
Due: check-backend, check-frontend

refacto: improve readonly checkboxs
  front/src/biomethane/pages/energy/components/installation-energy-needs.tsx
  front/src/biomethane/pages/energy/energy.tsx
  front/src/common/components/inputs2/checkbox/checkbox.module.css
  front/src/common/components/inputs2/checkbox/checkbox.tsx
Due: check-frontend

feat: connect backend to the front for malfunctions
  api-schema.yaml
  front/src/api-schema.ts
  front/src/biomethane/pages/contract/tests/contract.data.ts
  front/src/biomethane/pages/digestate/digestate.tsx
  front/src/biomethane/pages/energy/api.ts
  front/src/biomethane/pages/energy/components/acceptability.tsx
  front/src/biomethane/pages/energy/components/biogas-production.tsx
  front/src/biomethane/pages/energy/components/energy-efficiency/energy-efficiency.tsx
  front/src/biomethane/pages/energy/components/injected-biomethane.tsx
  front/src/biomethane/pages/energy/components/installation-energy-needs.tsx
  front/src/biomethane/pages/energy/components/malfunction.tsx
  front/src/biomethane/pages/energy/energy.hooks.tsx
  front/src/biomethane/pages/energy/energy.tsx
  front/src/biomethane/pages/energy/tests/energy.data.ts
  front/src/biomethane/pages/energy/types.ts
  web/biomethane/migrations/0011_merge_20250902_1539.py
Due: check-backend, check-frontend
