Repository MTES-MCT/carbure: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-ci-image, check-backend, check-frontend

.gitlab-ci.yml:

stages:
  - prepare
  - check
  - deploy

variables:
  MYSQL_DATABASE: carbure_mysql_test_db
  MYSQL_ROOT_PASSWORD: carbure_mysql_ci_db_password

# use prebuild CI image when running checks
.checks:
  image: $CI_REGISTRY/$CI_PROJECT_PATH/ci-image:latest
  before_script:
    - mv /app/front/node_modules ./front

# prepare git env to push new code to scalingo
.scalingo:
  image: alpine:latest
  before_script:
    - mkdir ~/.ssh
    - apk add --update git openssh-client
    - eval $(ssh-agent -s)
    - echo "$SCALINGO_SSH_PRIVATE_KEY" | tr -d '\r' | ssh-add -
    - ssh-keyscan $SCALINGO_SSH_HOST >> ~/.ssh/known_hosts
    - chmod 644 ~/.ssh/known_hosts
    - git config user.name $GIT_USER_NAME
    - git config user.email $GIT_USER_EMAIL
    - git remote add scalingo-dev $SCALINGO_GIT_REMOTE_DEV || true
    - git remote add scalingo-staging $SCALINGO_GIT_REMOTE_STAGING || true
    - git remote add scalingo-prod $SCALINGO_GIT_REMOTE_PROD || true
    - git fetch origin $CI_COMMIT_BRANCH --unshallow
    - git checkout $CI_COMMIT_BRANCH

build-ci-image:
  stage: prepare
  image: docker:stable
  services:
    - docker:dind
  script:
    - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
    - docker build -f ci/Dockerfile -t $CI_REGISTRY/$CI_PROJECT_PATH/ci-image:latest .
    - docker push $CI_REGISTRY/$CI_PROJECT_PATH/ci-image:latest
  only:
    changes:
      - ci/Dockerfile
      - Pipfile
      - Pipfile.lock
      - front/package.json
      - front/package-lock.json

check-backend:
  stage: check
  extends: .checks
  services:
    - mysql:8.0
    - redis:latest
  script:
    - export CARBURE_HOME=$(pwd)
    - export DATABASE_URL=mysql://root:$MYSQL_ROOT_PASSWORD@mysql:3306/$MYSQL_DATABASE
    - export REDIS_URL=redis://redis:6379
    - mypy web || true
    - TEST=1 python3 web/manage.py test web
  only:
    refs:
      - dev
      - master
    changes:
      - web/**/*

check-frontend:
  stage: check
  extends: .checks
  script:
    - cd front
    - npx eslint --ext .ts,.tsx src/
    - npm test
  only:
    refs:
      - dev
      - master
    changes:
      - front/**/*

deploy-dev:
  stage: deploy
  extends: .scalingo
  only:
    - dev
  script:
    - git push scalingo-dev $CI_COMMIT_BRANCH:master -f

deploy-staging:
  stage: deploy
  extends: .scalingo
  only:
    - master
  script:
    - git push scalingo-staging master -f

deploy-prod:
  stage: deploy
  extends: .scalingo
  when: manual
  only:
    - master
  script:
    - git push scalingo-prod master -f

[front] company - prefill data from siren
  front/src/companies/components/registration-dialog.tsx
  front/src/companies/components/siren-picker.tsx
  front/src/settings/components/company-info-siren-dialog.tsx
  front/src/settings/components/company-info.tsx
Due: check-frontend

[front] register company - wording and translations
  front/public/locales/en/translation.json
  front/public/locales/fr/translation.json
  front/src/companies/components/registration-dialog.tsx
  front/src/settings/components/company-info-siren-dialog.tsx
  front/src/settings/components/company-info.tsx
Due: check-frontend

[front] display modal for company with missing data
  front/src/carbure/index.tsx
  front/src/companies/components/company-info-siren-missing-dialog.tsx
  front/src/companies/hooks/missing-company-info-modal.tsx
Due: check-frontend

[front] add scrollToHash hook
  front/src/common/hooks/scroll-to-hash.ts
  front/src/settings/index.tsx
Due: check-frontend

[front] fix some details to be ready
  front/src/__test__/api.ts
  front/src/elec-audit-admin/components/charge-points/details-in-progress.tsx
  front/src/elec-audit-admin/components/charge-points/details-pending.tsx
  front/src/elec-audit-admin/components/charge-points/list.tsx
  front/src/index.tsx
Due: check-frontend

[back] move the extract audit sample logic into its own file
  web/elec/api/admin/audit/charge_points/generate_sample.py
  web/elec/api/admin/audit/meter_readings/application_details.py
  web/elec/services/extract_audit_sample.py
Due: check-backend

[front] bundle mocks in a separate file to avoid having msw in production
  front/src/index.tsx
  front/src/mocks.ts
Due: check-frontend

[front] put back information message for mocking mode
  front/src/index.tsx
Due: check-frontend

[front] put stepper on top of audit modal
  front/src/elec-audit-admin/components/charge-points/details-pending.tsx
Due: check-frontend

[front] move leaflet types to dependencies instead of devdeps
  front/package-lock.json
  front/package.json
Due: build-ci-image, check-frontend

[front] give more space for close button in dialog header
  front/src/common/components/dialog.module.css
Due: check-frontend

[back] add openstreetmap to csp whitelist
  web/carbure/settings.py
Due: check-backend

[front] use custom map marker to avoid csp issues
  front/src/carbure/assets/images/map-pin.svg
  front/src/elec-audit-admin/components/charge-points/sample-map.tsx
Due: check-frontend

[front] don't notify and invalidate when successfully generating an elec audit sample
  front/src/elec-audit-admin/components/charge-points/details-sample-generation-form.tsx
Due: check-frontend

[front] fix alert component css when it has content
  front/src/common/components/alert.module.css
  front/src/common/components/alert.tsx
  front/src/companies/components/company-info-siren-missing-dialog.tsx
Due: check-frontend

[front] elec-audit : add accepted modal for dgec
  front/src/elec-audit-admin/components/charge-points/details-accepted.tsx
  front/src/elec-audit-admin/components/charge-points/details-pending.tsx
  front/src/elec-audit-admin/components/charge-points/details-sample-generation-form.tsx
  front/src/elec-audit-admin/components/charge-points/details.tsx
  front/src/elec/components/provision-certificates/transfer-summary.tsx
Due: check-frontend

[front] DSFR fix - zindex for auth component
  front/src/auth/components/auth.module.css
Due: check-frontend

[front] registration company - not display for non admin and non readWrite
  front/src/companies/hooks/missing-company-info-modal.tsx
Due: check-frontend

[back] merge duplicate rows to get as much data as possible from TDG
  web/elec/services/import_charge_point_excel.py
  web/elec/services/transport_data_gouv.py
Due: check-backend

[back] fix bug in import charge point
  web/elec/services/import_charge_point_excel.py
Due: check-backend
