Repository MTES-MCT/carbure: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-ci-image, check-backend, check-frontend

build-ci-image:
  stage: prepare
  image: docker:stable
  services:
  - docker:dind
  script:
  - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
  - docker build -f ci/Dockerfile -t $CI_REGISTRY/$CI_PROJECT_PATH/ci-image:latest .
  - docker push $CI_REGISTRY/$CI_PROJECT_PATH/ci-image:latest

check-backend:
  image: $CI_REGISTRY/$CI_PROJECT_PATH/ci-image:latest
  before_script:
  - mv /app/front/node_modules ./front
  stage: check
  services:
  - mysql:8.0
  - redis:latest
  script:
  - export CARBURE_HOME=$(pwd)
  - export DATABASE_URL=mysql://root:$MYSQL_ROOT_PASSWORD@mysql:3306/$MYSQL_DATABASE
  ...

check-frontend:
  image: $CI_REGISTRY/$CI_PROJECT_PATH/ci-image:latest
  before_script:
  - mv /app/front/node_modules ./front
  stage: check
  script:
  - cd front
  - npx eslint --ext .ts,.tsx src/
  - npm test

[api] add provision certificate details endpoint for admin
  web/admin/api/elec/__init__.py
  web/admin/api/elec/provision_certificate_details.py
Due: check-backend

[fixture] change provision certificate csv
  web/fixtures/csv/test_data/provision_certificate.csv
Due: check-backend

[api] allow exporting transfer certificates to excel
  web/admin/api/elec/transfer_certificates.py
  web/elec/api/cpo/transfer_certificates.py
  web/elec/api/operator/transfer_certificates.py
Due: check-backend

[front] add api functions for provision and transfer certificates
  front/src/elec-admin/api.ts
  front/src/elec/api-cpo.ts
  front/src/elec/api-operator.ts
  front/src/elec/types-cpo.ts
  front/src/elec/types.ts
Due: check-frontend

[front] display comment in admin
  front/src/elec-admin/components/transfer-certificate/details.tsx
Due: check-frontend

[front] add test data
  front/public/locales/en/translation.json
  front/public/locales/fr/translation.json
  front/src/elec/__test__/data.ts
  front/src/elec/components/provision-certificates/list.tsx
  front/src/elec/components/provision-certificates/table.tsx
  front/src/elec/components/provision-certificates/transfer-dialog.tsx
  front/src/elec/cpo.tsx
Due: check-frontend

[front] accept and reject transfer
  front/src/elec-admin/components/transfer-certificate/table.tsx
  front/src/elec/api-operator.ts
  front/src/elec/components/transfer-certificates/accept.tsx
  front/src/elec/components/transfer-certificates/details.tsx
  front/src/elec/components/transfer-certificates/reject.tsx
  front/src/elec/components/transfer-certificates/table.tsx
  front/src/elec/components/transfer-certificates/tag.tsx
  front/src/elec/types.ts
Due: check-frontend

[front] refacto elec folder to add operators
  front/src/elec-admin/api.ts
  front/src/elec-admin/components/transfer-certificate/list.tsx
  front/src/elec-admin/components/transfer-certificate/status-switcher.tsx
  front/src/elec-admin/components/transfer-certificate/table.tsx
  front/src/elec-admin/components/transfer-certificate/tag.tsx
  front/src/elec-admin/hooks/transfer-certificate-query-params-store.ts
  front/src/elec-admin/hooks/transfer-certificates-query.ts
  front/src/elec-admin/types.ts
  front/src/elec/__test__/data.ts
  front/src/elec/api-cpo.ts
  front/src/elec/api-operator.ts
  front/src/elec/components/provision-certificates/filters.tsx
  front/src/elec/components/provision-certificates/list.tsx
  front/src/elec/components/provision-certificates/status-switcher.tsx
  front/src/elec/components/provision-certificates/table.tsx
  front/src/elec/components/provision-certificates/transfer-dialog.tsx
  front/src/elec/components/transfer-certificates/cancel.tsx
  front/src/elec/components/transfer-certificates/filters.tsx
  front/src/elec/components/transfer-certificates/list.tsx
  front/src/elec/components/transfer-certificates/status-switcher.tsx
  front/src/elec/components/transfer-certificates/table.tsx
  front/src/elec/cpo.tsx
  front/src/elec/hooks/provision-certificate-query-params-store.ts
  front/src/elec/hooks/provision-certificates-query.ts
  front/src/elec/hooks/transfer-certificate-filter-search-params.tsx
  front/src/elec/hooks/transfer-certificate-query-params-store.ts
  front/src/elec/hooks/transfer-certificates-query.ts
  front/src/elec/types-cpo.ts
  front/src/elec/types.ts
Due: check-frontend

[api] fix missing arguments in endpoint functions
  web/elec/api/cpo/provision_certificate_details.py
  web/elec/api/cpo/transfer_certificate_details.py
  web/elec/api/operator/transfer_certificate_details.py
Due: check-backend

[font] show acquired energy to elec operators
  front/src/elec/components/transfer-certificates/list-operator.tsx
  front/src/elec/operator.tsx
  front/src/elec/types-operator.ts
Due: check-frontend

[front] add + before provision cert energy
  front/src/elec/components/provision-certificates/table.tsx
Due: check-frontend

[api] compute total acquired energy for elec operators
  web/elec/api/operator/snapshot.py
Due: check-backend

[api] add transfer certificate details endpoint for admin
  web/admin/api/elec/__init__.py
  web/admin/api/elec/transfer_certificate_details.py
Due: check-backend

[front] display comment in transfer dialog
  front/src/elec-admin/components/transfer-certificate/list.tsx
  front/src/elec-admin/components/transfer-certificate/status-switcher.tsx
  front/src/elec-admin/hooks/transfer-certificate-query-params-store.ts
  front/src/elec/components/transfer-certificates/cpo-status-switcher.tsx
  front/src/elec/components/transfer-certificates/details.tsx
  front/src/elec/components/transfer-certificates/list-cpo.tsx
  front/src/elec/components/transfer-certificates/tag.tsx
  front/src/elec/hooks/transfer-certificate-query-params-store.ts
  front/src/elec/types-cpo.ts
  front/src/elec/types.ts
Due: check-frontend

[api] add comment to transfer certificate detail serializer
  web/admin/api/elec/transfer_certificate_details.py
  web/elec/serializers/elec_transfer_certificate.py
Due: check-backend

[front] cpo + operator - transfer details
  front/src/elec-admin/components/transfer-certificate/list.tsx
  front/src/elec/api-cpo.ts
  front/src/elec/api-operator.ts
  front/src/elec/components/transfer-certificates/accept.tsx
  front/src/elec/components/transfer-certificates/cancel.tsx
  front/src/elec/components/transfer-certificates/details.tsx
  front/src/elec/components/transfer-certificates/list-cpo.tsx
  front/src/elec/components/transfer-certificates/list-operator.tsx
  front/src/elec/components/transfer-certificates/reject.tsx
  front/src/elec/components/transfer-certificates/table.tsx
  front/src/elec/types-cpo.ts
Due: check-frontend

[front] cpo provision details
  front/src/elec-admin/components/provision-certificates/details.tsx
  front/src/elec-admin/components/provision-certificates/list.tsx
  front/src/elec-admin/components/provision-certificates/table.tsx
  front/src/elec/api-cpo.ts
  front/src/elec/components/provision-certificates/details.tsx
  front/src/elec/components/provision-certificates/list.tsx
  front/src/elec/types.ts
  web/admin/api/elec/__init__.py
  web/elec/api/cpo/provision_certificate_details.py
Due: check-backend, check-frontend

[api] fix using tuples instead of arrays in django orm __in filter
  web/carbure/scripts/create_declaration_reminder.py
  web/carbure/scripts/data_reliability_scoring.py
  web/carbure/scripts/sanity_checks.py
  web/core/decorators.py
  web/core/helpers.py
  web/saf/models/saf_ticket_source.py
  web/transactions/api/declarations/invalidate.py
  web/transactions/api/declarations/validate.py
  web/transactions/api/lots/cancel_accept.py
Due: check-backend

[api] allow POME for HC biofuels
  web/transactions/sanity_checks/biofuel_feedstock.py
Due: check-backend

[front]dgac - fix airlines routes
  front/src/carbure/index.tsx
Due: check-frontend

[front] dgac - hide societe tab if empty
  front/src/carbure/components/top-bar.tsx
Due: check-frontend

[front] add elect toggle in company tab
  front/src/carbure/__test__/data.ts
  front/src/carbure/types.ts
  front/src/carbure/utils/normalizers.ts
  front/src/settings/api/company.ts
  front/src/settings/components/company-options.tsx
Due: check-frontend

[api] add toggle elec endpoint for operators
  web/entity/api/options/__init__.py
  web/entity/api/options/electricity.py
  web/entity/api/options/tests_options.py
Due: check-backend

[api+front] create an error when no vendor_certificate is specified when it's required
  front/public/locales/en/errors.json
  front/public/locales/fr/errors.json
  front/src/lot-add/components/lot-form.tsx
  web/core/carburetypes.py
  web/transactions/sanity_checks/mandatory.py
  web/transactions/sanity_checks/sanity_checks.py
Due: check-backend, check-frontend

[api] allow operators to manage a stock
  web/transactions/api/lots/accept_in_stock.py
Due: check-backend

[config] add intructions to install mysql in local
  .env.example
  README.md
Due: none

[api] fix bug in supplier certificate sanity check
  web/transactions/sanity_checks/mandatory.py
Due: check-backend

Path conditions:
  build-ci-image: any of: ci/Dockerfile, Pipfile, Pipfile.lock, front/package.json, front/package-lock.json
  check-backend: any of: web/**/*
  check-frontend: any of: front/**/*
