Repository MTES-MCT/carbure: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-ci-image, check-backend, check-frontend

build-ci-image:
  stage: prepare
  image: docker:stable
  services:
  - docker:dind
  script:
  - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
  - docker build -f ci/Dockerfile -t $CI_REGISTRY/$CI_PROJECT_PATH/ci-image:latest .
  - docker push $CI_REGISTRY/$CI_PROJECT_PATH/ci-image:latest

check-backend:
  image: $CI_REGISTRY/$CI_PROJECT_PATH/ci-image:latest
  before_script:
  - mv /app/front/node_modules ./front
  stage: check
  services:
  - mysql:8.0
  - redis:latest
  script:
  - export CARBURE_HOME=$(pwd)
  - export DATABASE_URL=mysql://root:$MYSQL_ROOT_PASSWORD@mysql:3306/$MYSQL_DATABASE
  ...

check-frontend:
  image: $CI_REGISTRY/$CI_PROJECT_PATH/ci-image:latest
  before_script:
  - mv /app/front/node_modules ./front
  stage: check
  script:
  - cd front
  - npx eslint --ext .ts,.tsx src/
  - npm test

[api] update snapshot with energy totals
  web/elec/api/cpo/snapshot.py
Due: check-backend

[front] provision cert admin + CPO fix
  front/src/carbure/components/top-bar.tsx
  front/src/elec-admin/api.ts
  front/src/elec-admin/components/provision-certificates/list.tsx
  front/src/elec/components/provision-certificates/list.tsx
  web/elec/api/cpo/provision_certificates.py
Due: check-backend, check-frontend

[api] add details endpoint for cpo provision and transfer certificate
  web/elec/api/cpo/__init__.py
  web/elec/api/cpo/provision_certificate_details.py
  web/elec/api/cpo/transfer_certificate_details.py
Due: check-backend

[api] fix missing arguments in endpoint functions
  web/elec/api/cpo/provision_certificate_details.py
  web/elec/api/cpo/transfer_certificate_details.py
  web/elec/api/operator/transfer_certificate_details.py
Due: check-backend

[api] compute available energy without taking year into account
  web/elec/api/cpo/snapshot.py
Due: check-backend

[front] admin - export transfer certificates
  front/src/double-counting/api.ts
  front/src/elec-admin/api.ts
  front/src/elec-admin/components/provision-certificates/list.tsx
  front/src/elec-admin/components/transfer-certificate/list.tsx
  front/src/elec/components/transfer-certificates/details.tsx
Due: check-frontend

[front] refacto elec folder to add operators
  front/src/elec-admin/api.ts
  front/src/elec-admin/components/transfer-certificate/list.tsx
  front/src/elec-admin/components/transfer-certificate/status-switcher.tsx
  front/src/elec-admin/components/transfer-certificate/table.tsx
  front/src/elec-admin/components/transfer-certificate/tag.tsx
  front/src/elec-admin/hooks/transfer-certificate-query-params-store.ts
  front/src/elec-admin/hooks/transfer-certificates-query.ts
  front/src/elec-admin/types.ts
  front/src/elec/__test__/data.ts
  front/src/elec/api-cpo.ts
  front/src/elec/api-operator.ts
  front/src/elec/components/provision-certificates/filters.tsx
  front/src/elec/components/provision-certificates/list.tsx
  front/src/elec/components/provision-certificates/status-switcher.tsx
  front/src/elec/components/provision-certificates/table.tsx
  front/src/elec/components/provision-certificates/transfer-dialog.tsx
  front/src/elec/components/transfer-certificates/cancel.tsx
  front/src/elec/components/transfer-certificates/filters.tsx
  front/src/elec/components/transfer-certificates/list.tsx
  front/src/elec/components/transfer-certificates/status-switcher.tsx
  front/src/elec/components/transfer-certificates/table.tsx
  front/src/elec/cpo.tsx
  front/src/elec/hooks/provision-certificate-query-params-store.ts
  front/src/elec/hooks/provision-certificates-query.ts
  front/src/elec/hooks/transfer-certificate-filter-search-params.tsx
  front/src/elec/hooks/transfer-certificate-query-params-store.ts
  front/src/elec/hooks/transfer-certificates-query.ts
  front/src/elec/types-cpo.ts
  front/src/elec/types.ts
Due: check-frontend

[fixture] change provision certificate csv
  web/fixtures/csv/test_data/provision_certificate.csv
Due: check-backend

[front] display comment in transfer dialog
  front/src/elec-admin/components/transfer-certificate/list.tsx
  front/src/elec-admin/components/transfer-certificate/status-switcher.tsx
  front/src/elec-admin/hooks/transfer-certificate-query-params-store.ts
  front/src/elec/components/transfer-certificates/cpo-status-switcher.tsx
  front/src/elec/components/transfer-certificates/details.tsx
  front/src/elec/components/transfer-certificates/list-cpo.tsx
  front/src/elec/components/transfer-certificates/tag.tsx
  front/src/elec/hooks/transfer-certificate-query-params-store.ts
  front/src/elec/types-cpo.ts
  front/src/elec/types.ts
Due: check-frontend

[front] fix bug with certificates not reloading when changing year
  front/src/elec/hooks/provision-certificates-query.ts
  front/src/elec/hooks/transfer-certificates-query.ts
Due: check-frontend

[front] fix redevable translation
  front/public/locales/en/translation.json
Due: check-frontend

[api] allow exporting transfer certificates to excel
  web/admin/api/elec/transfer_certificates.py
  web/elec/api/cpo/transfer_certificates.py
  web/elec/api/operator/transfer_certificates.py
Due: check-backend

[front] fix quote translations
  front/public/locales/en/translation.json
  front/public/locales/fr/translation.json
  front/src/carbure/components/footer.tsx
  front/src/carbure/components/home.tsx
  front/src/companies/components/add-entity-dialog.tsx
  front/src/controls/actions/delete-many.tsx
  front/src/controls/actions/update-many-confirmation.tsx
  front/src/controls/actions/update-many-errors.tsx
  front/src/controls/actions/update-many.tsx
  front/src/double-counting/components/applications/application-details-dialog.tsx
  front/src/double-counting/components/dc-tables.tsx
  front/src/double-counting/components/files-checker/index.tsx
  front/src/double-counting/components/files-checker/valid-details-dialog.tsx
  front/src/elec-admin/components/provision-certificates/Import.tsx
  front/src/elec/components/transfer-certificates/cancel.tsx
  front/src/saf/airline.tsx
  front/src/saf/components/assignment/grouped-assignment.tsx
  front/src/saf/components/assignment/simple-assignment.tsx
  front/src/saf/components/ticket-details/credit-ticket-source.tsx
  front/src/saf/operator.tsx
  front/src/settings/__test__/double-counting.disabled.tsx
  front/src/settings/utils/double-counting.ts
Due: check-frontend

[front] operator pending certificates
  front/src/carbure/index.tsx
  front/src/elec-admin/components/transfer-certificate/list.tsx
  front/src/elec-admin/hooks/transfer-certificates-query.ts
  front/src/elec-admin/types.ts
  front/src/elec/api-cpo.ts
  front/src/elec/api-operator.ts
  front/src/elec/components/transfer-certificates/cpo-status-switcher.tsx
  front/src/elec/components/transfer-certificates/details.tsx
  front/src/elec/components/transfer-certificates/filters.tsx
  front/src/elec/components/transfer-certificates/list-cpo.tsx
  front/src/elec/components/transfer-certificates/list-operator.tsx
  front/src/elec/components/transfer-certificates/table.tsx
  front/src/elec/hooks/transfer-certificate-filter-search-params.tsx
  front/src/elec/hooks/transfer-certificate-query-params-store.ts
  front/src/elec/hooks/transfer-certificates-query.ts
  front/src/elec/operator.tsx
  front/src/elec/types-cpo.ts
  front/src/elec/types-operator.ts
  front/src/elec/types.ts
Due: check-frontend

[front] cpo provision details
  front/src/elec-admin/components/provision-certificates/details.tsx
  front/src/elec-admin/components/provision-certificates/list.tsx
  front/src/elec-admin/components/provision-certificates/table.tsx
  front/src/elec/api-cpo.ts
  front/src/elec/components/provision-certificates/details.tsx
  front/src/elec/components/provision-certificates/list.tsx
  front/src/elec/types.ts
  web/admin/api/elec/__init__.py
  web/elec/api/cpo/provision_certificate_details.py
Due: check-backend, check-frontend

[front] start display details
  front/public/locales/fr/translation.json
  front/src/elec-admin/api.ts
  front/src/elec-admin/components/transfer-certificate/details.tsx
  front/src/elec-admin/components/transfer-certificate/list.tsx
  front/src/elec-admin/components/transfer-certificate/table.tsx
  front/src/elec/components/transfer-certificates/filters.tsx
  front/src/elec/types.ts
Due: check-frontend

[front] qualicharge translations
  front/public/locales/en/translation.json
  front/public/locales/fr/translation.json
  front/src/carbure/components/notifications.tsx
  front/src/elec-admin/components/transfer-certificate/filters.tsx
  front/src/elec-admin/index.tsx
  front/src/elec/components/provision-certificates/transfer-dialog.tsx
  front/src/elec/components/provision-certificates/transfer-summary.tsx
  front/src/elec/components/transfer-certificates/accept.tsx
  front/src/elec/components/transfer-certificates/details.tsx
  front/src/elec/components/transfer-certificates/filters.tsx
  front/src/elec/components/transfer-certificates/table.tsx
Due: check-frontend

[front] cpo + operator - transfer details
  front/src/elec-admin/components/transfer-certificate/list.tsx
  front/src/elec/api-cpo.ts
  front/src/elec/api-operator.ts
  front/src/elec/components/transfer-certificates/accept.tsx
  front/src/elec/components/transfer-certificates/cancel.tsx
  front/src/elec/components/transfer-certificates/details.tsx
  front/src/elec/components/transfer-certificates/list-cpo.tsx
  front/src/elec/components/transfer-certificates/list-operator.tsx
  front/src/elec/components/transfer-certificates/reject.tsx
  front/src/elec/components/transfer-certificates/table.tsx
  front/src/elec/types-cpo.ts
Due: check-frontend

[api] add details endpoint for operator transfer certificate
  web/elec/api/operator/__init__.py
  web/elec/api/operator/transfer_certificate_details.py
Due: check-backend

[api] add provision certificate details endpoint for admin
  web/admin/api/elec/__init__.py
  web/admin/api/elec/provision_certificate_details.py
Due: check-backend

[front] add api functions for provision and transfer certificates
  front/src/elec-admin/api.ts
  front/src/elec/api-cpo.ts
  front/src/elec/api-operator.ts
  front/src/elec/types-cpo.ts
  front/src/elec/types.ts
Due: check-frontend

[api] compute total acquired energy for elec operators
  web/elec/api/operator/snapshot.py
Due: check-backend

[front] accept and reject transfer
  front/src/elec-admin/components/transfer-certificate/table.tsx
  front/src/elec/api-operator.ts
  front/src/elec/components/transfer-certificates/accept.tsx
  front/src/elec/components/transfer-certificates/details.tsx
  front/src/elec/components/transfer-certificates/reject.tsx
  front/src/elec/components/transfer-certificates/table.tsx
  front/src/elec/components/transfer-certificates/tag.tsx
  front/src/elec/types.ts
Due: check-frontend

[front] add button to download transfer cert for operator
  front/src/elec/api-operator.ts
  front/src/elec/components/transfer-certificates/list-operator.tsx
Due: check-frontend

[front] display comment in admin
  front/src/elec-admin/components/transfer-certificate/details.tsx
Due: check-frontend

[api] fix wrong error name in provision certificate detail endpoint
  web/admin/api/elec/provision_certificate_details.py
Due: check-backend

[api] add comment to transfer certificate detail serializer
  web/admin/api/elec/transfer_certificate_details.py
  web/elec/serializers/elec_transfer_certificate.py
Due: check-backend

[api] add transfer certificate details endpoint for admin
  web/admin/api/elec/__init__.py
  web/admin/api/elec/transfer_certificate_details.py
Due: check-backend

Path conditions:
  build-ci-image: any of: ci/Dockerfile, Pipfile, Pipfile.lock, front/package.json, front/package-lock.json
  check-backend: any of: web/**/*
  check-frontend: any of: front/**/*
