Repository MTES-MCT/carbure: changes, and which GitLab CI jobs are due for each by the changed paths.
All: check-backend, check-frontend

check-backend:
  image: python:3.12
  cache:
  - key:
      files:
      - Pipfile.lock
    paths:
    - .cache/pip/
    - .venv/
  before_script:
  - pip install pipenv
  - pipenv install --dev --deploy --ignore-pipfile
  stage: check
  services:
  - mysql:8.0
  - redis:latest
  script:
  - export CARBURE_HOME=$(pwd)
  ...

check-frontend:
  image: node:latest
  cache:
  - key:
      files:
      - front/package-lock.json
    paths:
    - front/.npm/
  before_script:
  - cd front
  - npm ci --cache .npm --prefer-offline
  stage: check
  script:
  - npm run lint
  - npm run build
  - npx chromatic
  interruptible: true

feat(biomethane): display fields conditionnaly
  front/src/biomethane/pages/production/api.ts
  front/src/biomethane/pages/production/components/digestate-processing.tsx
  front/src/biomethane/pages/production/components/general-info.tsx
  front/src/biomethane/pages/production/components/icpe.tsx
  front/src/biomethane/pages/production/components/production-site.tsx
  front/src/biomethane/pages/production/components/sanitary-agreement.tsx
Due: check-frontend

feat(biomethane): add more client side validation
  front/src/biomethane/pages/production/components/digestate-processing.tsx
  front/src/biomethane/pages/production/components/digestate-storage/add-digestate-storage.tsx
  front/src/biomethane/pages/production/components/general-info.tsx
  front/src/biomethane/pages/production/components/icpe.tsx
  front/src/biomethane/pages/production/components/production-site.tsx
  front/src/biomethane/pages/production/components/sanitary-agreement.tsx
Due: check-frontend

fix: fix api-schema
  api-schema.yaml
  front/src/api-schema.ts
  front/src/biomethane/pages/production/types.ts
Due: check-frontend

[FIX] Do not expose Redis port to the public
  docker-compose.yml
Due: none

fix: remove bad migrations to a single one
  web/biomethane/migrations/0006_biomethaneinjectionsite.py
  web/biomethane/migrations/0007_alter_biomethanedigestatestorage_options_and_more.py
  web/biomethane/migrations/0007_alter_biomethaneproductionunit_producer.py
  web/biomethane/migrations/0007_rename_biomethaneentityconfigcontract_biomethanecontract_and_more.py
  web/biomethane/migrations/0008_alter_biomethaneinjectionsite_city_and_more.py
  web/biomethane/migrations/0008_alter_biomethaneproductionunit_company_address_and_more.py
  web/biomethane/migrations/0009_remove_biomethaneproductionunit_digestate_valorization_method_and_more.py
  web/biomethane/migrations/0010_alter_biomethanedigestatestorage_options_and_more.py
  web/biomethane/migrations/0011_alter_biomethaneproductionunit_unit_name.py
  web/carbure/settings.py
Due: check-backend

fix: fix missing context serializer
  web/biomethane/tests/test_production_unit.py
Due: check-backend

feat: add translations for injection site
  front/public/locales/en/translation.json
  front/public/locales/fr/translation.json
Due: check-frontend

refactor: move api/types from biomethane to contract folder
  front/src/biomethane/hooks/contract.hooks.ts
  front/src/biomethane/pages/contract/api.ts
  front/src/biomethane/pages/contract/components/contract-amendments/add-amendment.tsx
  front/src/biomethane/pages/contract/components/contract-amendments/amendment-detail.tsx
  front/src/biomethane/pages/contract/components/contract-amendments/contract-amendments.tsx
  front/src/biomethane/pages/contract/components/contract-files/add-contract.hooks.ts
  front/src/biomethane/pages/contract/components/contract-files/add-contract.tsx
  front/src/biomethane/pages/contract/components/contract-files/contract-files.tsx
  front/src/biomethane/pages/contract/components/contract-infos/contract-infos.hooks.ts
  front/src/biomethane/pages/contract/components/contract-infos/contract-infos.tsx
  front/src/biomethane/pages/contract/components/contract-infos/contract-infos.utils.ts
  front/src/biomethane/pages/contract/components/contract-infos/red-ii-dialog.tsx
  front/src/biomethane/pages/contract/types.ts
Due: check-frontend

fix: fix required prop dsfr
  front/src/common/components/selects2/select-dsfr/select-dsfr.tsx
Due: check-frontend

fix: fix bad naming tables contract
  web/biomethane/factories/contract.py
  web/biomethane/factories/sample_data.py
  web/biomethane/migrations/0008_alter_biomethanecontractamendment_options_and_more.py
  web/biomethane/models/biomethane_contract.py
  web/biomethane/models/biomethane_contract_amendment.py
  web/entity/factories/entity.py
Due: check-backend

[CLEANUP] remove empty tests
  web/doublecount/tests/agreements/tests_agreements_user.py
Due: check-backend

test: terminate factories
  web/biomethane/factories/injection_site.py
  web/biomethane/factories/production_unit.py
  web/biomethane/factories/sample_data.py
  web/biomethane/models/biomethane_injection_site.py
Due: check-backend

[CLEANUP] remove traces from tests
  web/transactions/api/lots/tests/tests_certif_mayhem.py
Due: check-backend

feat: create a select-dsfr to avoid using autocomplete
  front/src/common/components/selects2/select-dsfr/select-dsfr.stories.tsx
  front/src/common/components/selects2/select-dsfr/select-dsfr.tsx
Due: check-frontend

feat(biomethane): modif contract model to have enum for installation_category
  web/biomethane/migrations/0004_alter_biomethaneentityconfigcontract_installation_category_and_more.py
  web/biomethane/models/biomethane_entity_config_contract.py
Due: check-backend

feat: add read only state for dsfr select
  front/src/common/components/inputs2/base-input.tsx
  front/src/common/components/selects2/select-dsfr/select-dsfr.stories.tsx
  front/src/common/components/selects2/select-dsfr/select-dsfr.tsx
Due: check-frontend

feat: update schema
  api-schema.yaml
Due: none

feat(biomethane): 'agreement' rename to 'contract' and setup list, post, patch
  front/package-lock.json
  web/biomethane/migrations/0002_rename_biomethaneentityconfigagreement_biomethaneentityconfigcontract_and_more.py
  web/biomethane/migrations/0003_alter_biomethaneentityconfigcontract_cmax_and_more.py
  web/biomethane/models/__init__.py
  web/biomethane/models/biomethane_entity_config_agreement.py
  web/biomethane/models/biomethane_entity_config_contract.py
  web/biomethane/serializers/entity_config_agreement/add.py
  web/biomethane/serializers/entity_config_agreement/retrieve.py
  web/biomethane/serializers/entity_config_contract.py
  web/biomethane/urls.py
  web/biomethane/views/entity_config_agreement/__init__.py
  web/biomethane/views/entity_config_agreement/entity_config_agreement.py
  web/biomethane/views/entity_config_agreement/mixins/__init__.py
  web/biomethane/views/entity_config_agreement/mixins/create.py
  web/biomethane/views/entity_config_agreement/mixins/patch.py
  web/biomethane/views/entity_config_agreement/mixins/retrieve.py
  web/biomethane/views/entity_config_contract/__init__.py
  web/biomethane/views/entity_config_contract/entity_config_contract.py
  web/biomethane/views/entity_config_contract/mixins/__init__.py
Due: check-backend, check-frontend

feat: continue setup biomethane config agreement
  web/biomethane/migrations/0001_initial.py
  web/biomethane/models/biomethane_entity_config_agreement.py
  web/biomethane/serializers/__init__.py
  web/biomethane/serializers/entity_config_agreement.py
  web/biomethane/urls.py
  web/biomethane/views/__init__.py
  web/biomethane/views/entity_config_agreement/__init__.py
  web/biomethane/views/entity_config_agreement/entity_config_agreement.py
  web/biomethane/views/entity_config_agreement/mixins/__init__.py
  web/carbure/api/__init__.py
  web/core/migrations/0047_alter_entity_entity_type.py
  web/core/models.py
Due: check-backend

feat(biomethane): logic for POST and PATCH contract
  web/biomethane/models/biomethane_entity_config_contract.py
  web/biomethane/serializers/entity_config_contract.py
Due: check-backend

feat: add create/update biomethane agreement endpoint
  web/biomethane/migrations/0001_initial.py
  web/biomethane/models/biomethane_entity_config_agreement.py
  web/biomethane/serializers/entity_config_agreement/__init__.py
  web/biomethane/serializers/entity_config_agreement/add.py
  web/biomethane/serializers/entity_config_agreement/list.py
  web/biomethane/views/entity_config_agreement/entity_config_agreement.py
  web/biomethane/views/entity_config_agreement/mixins/__init__.py
  web/biomethane/views/entity_config_agreement/mixins/patch.py
Due: check-backend

feat: init biomethane entity config agreement
  web/biomethane/__init__.py
  web/biomethane/apps.py
  web/biomethane/migrations/0001_initial.py
  web/biomethane/migrations/__init__.py
  web/biomethane/models/__init__.py
  web/biomethane/models/biomethane_entity_config_agreement.py
  web/carbure/settings.py
  web/core/migrations/0046_entity_is_red_ii.py
  web/core/models.py
Due: check-backend

refactor: move list endpoint to avoid pagination
  api-schema.yaml
  front/src/api-schema.ts
  web/biomethane/views/entity_config_agreement/entity_config_agreement.py
  web/biomethane/views/entity_config_agreement/mixins/__init__.py
  web/biomethane/views/entity_config_agreement/mixins/list.py
Due: check-backend, check-frontend

feat(biomethane): change urls and schema for get, post and patch
  api-schema.yaml
  front/src/api-schema.ts
  web/biomethane/urls.py
  web/biomethane/views/entity_config_contract/entity_config_contract.py
Due: check-backend, check-frontend

fix: fix api-schema/package-lock bad rebasing
  front/package-lock.json
  front/src/api-schema.ts
Due: check-frontend

refactor: separate code into actions
  web/biomethane/serializers/entity_config_agreement/retrieve.py
  web/biomethane/urls.py
  web/biomethane/views/entity_config_agreement/entity_config_agreement.py
  web/biomethane/views/entity_config_agreement/mixins/__init__.py
  web/biomethane/views/entity_config_agreement/mixins/create.py
  web/biomethane/views/entity_config_agreement/mixins/retrieve.py
Due: check-backend

fix: remove linter from api-schema
  front/.eslintrc.json
  front/package.json
  web/biomethane/views/entity_config_agreement/entity_config_agreement.py
Due: check-backend, check-frontend

feat: prepare pages biomethane
  front/src/common/hooks/entity.ts
  front/src/settings/api/biomethane.ts
  front/src/settings/index.tsx
  front/src/settings/pages/biomethane/contract/contract.tsx
  front/src/settings/pages/biomethane/contract/index.ts
  front/src/settings/pages/biomethane/injection/index.ts
  front/src/settings/pages/biomethane/injection/injection.tsx
  front/src/settings/pages/biomethane/production/index.ts
  front/src/settings/pages/biomethane/production/production.tsx
Due: check-frontend

feat: setup select dsfr
  front/src/common/components/selects2/select-dsfr/index.ts
  front/src/common/components/selects2/select-dsfr/select-dsfr.stories.tsx
  front/src/common/components/selects2/select-dsfr/select-dsfr.tsx
  front/src/settings/pages/biomethane/contract/components/contract-infos.tsx
Due: check-frontend

feat(biomethane): add tests for contract api
  web/biomethane/serializers/entity_config_contract.py
  web/biomethane/tests/__init__.py
  web/biomethane/tests/test_entity_config_contract.py
  web/biomethane/views/entity_config_contract/entity_config_contract.py
Due: check-backend

feat(biomethane): rename files before upload on S3
  web/biomethane/models/biomethane_entity_config_contract.py
Due: check-backend

feat(biomethane): add condition to set entity.is_red_ii, and tests for this
  web/biomethane/models/biomethane_entity_config_contract.py
  web/biomethane/tests/test_entity_config_contract.py
Due: check-backend

feat(biomethane): clean contract viewset and handle duplicate contract case
  web/biomethane/serializers/entity_config_contract.py
  web/biomethane/urls.py
  web/biomethane/views/entity_config_contract/entity_config_contract.py
Due: check-backend

feat: setup front biomethane entity contract
  front/src/biomethane/api.ts
  front/src/biomethane/hooks/contract.hooks.ts
  front/src/biomethane/pages/contract/components/contract-infos.hooks.ts
  front/src/biomethane/pages/contract/components/contract-infos.tsx
  front/src/biomethane/pages/contract/components/contract-infos.utils.ts
  front/src/biomethane/pages/contract/contract.tsx
  front/src/biomethane/pages/contract/index.ts
  front/src/biomethane/pages/injection/index.ts
  front/src/biomethane/pages/injection/injection.tsx
  front/src/biomethane/pages/production/index.ts
  front/src/biomethane/pages/production/production.tsx
  front/src/biomethane/types.ts
  front/src/common/components/inputs2/radio/radio.module.css
  front/src/common/components/inputs2/radio/radio.tsx
  front/src/common/components/notifications.tsx
  front/src/common/components/selects2/select-dsfr/select-dsfr.module.css
  front/src/common/components/selects2/select-dsfr/select-dsfr.stories.tsx
  front/src/common/components/selects2/select-dsfr/select-dsfr.tsx
  front/src/common/types.ts
  front/src/settings/api/biomethane.ts
  front/src/settings/index.tsx
  front/src/settings/pages/biomethane/contract/components/contract-infos.tsx
  front/src/settings/pages/biomethane/contract/contract.tsx
  front/src/settings/types.ts
  web/biomethane/models/biomethane_entity_config_contract.py
Due: check-backend, check-frontend

feat(biomethane): on PATCH, empty fields regarding tariff_reference, and allow mutichoice for amendment_objects
  web/biomethane/serializers/entity_config_contract.py
  web/biomethane/views/entity_config_contract/entity_config_contract_amendment.py
Due: check-backend

feat(biomethane): add a specific id as primary key on contract model, remove primary key on entity field
  web/biomethane/filters/entity_config_contract_amendment.py
  web/biomethane/migrations/0001_initial.py
  web/biomethane/models/biomethane_entity_config_amendment.py
  web/biomethane/models/biomethane_entity_config_contract.py
  web/biomethane/serializers/entity_config_amendment.py
  web/biomethane/views/entity_config_contract/entity_config_contract_amendment.py
Due: check-backend

feat(biomethane): migration for JSONField (amendment_object) and FileField on contract and amendment
  web/biomethane/migrations/0005_alter_biomethaneentityconfigamendment_amendment_file_and_more.py
Due: check-backend

feat(biomethane): add tests for amendment viewset
  web/biomethane/tests/test_entity_config_amendment.py
Due: check-backend

Path conditions:
  check-backend: any of: web/**/*, .gitlab-ci.yml
  check-frontend: any of: front/**/*, .gitlab-ci.yml
