Repository MTES-MCT/carbure: changes, and which GitLab CI jobs are due for each by the changed paths.
All: check-backend, check-frontend

.gitlab-ci.yml:

stages:
  - check


workflow:
  rules:
    # 1. Don't run pipelines for MR drafts.
    - if: $CI_PIPELINE_SOURCE == "merge_request_event" && $CI_MERGE_REQUEST_TITLE =~ /^Draft:/
      when: never

    # 2. Don't run branch pipelines when there's an open MR for the branch (run the MR pipeline instead).
    - if: $CI_COMMIT_BRANCH && $CI_OPEN_MERGE_REQUESTS
      when: never

    # 3. Run all other MR pipelines
    - if: $CI_PIPELINE_SOURCE == 'merge_request_event'
      when: always

    # 4. Run branch pipelines for dev and master
    - if: $CI_COMMIT_BRANCH == "dev" || $CI_COMMIT_BRANCH == "master"
      when: always

    # 5. Else, don't run it
    - when: never


variables:
  MYSQL_DATABASE: carbure_mysql_test_db
  MYSQL_ROOT_PASSWORD: carbure_mysql_ci_db_password
  PIP_CACHE_DIR: "$CI_PROJECT_DIR/.cache/pip"
  PIPENV_VENV_IN_PROJECT: true


# job: run linting and tests for backend
check-backend:
  stage: check
  extends: .backend
  services:
    - mysql:8.0
    - redis:latest
  script:
    - export CARBURE_HOME=$(pwd)
    - export DATABASE_URL=mysql://root:$MYSQL_ROOT_PASSWORD@mysql:3306/$MYSQL_DATABASE
    - export REDIS_URL=redis://redis:6379
    - pipenv run ruff check
    - pipenv run ruff format --check
    - TEST=1 pipenv run python web/manage.py test web


# job: run linting and tests for frontend
check-frontend:
  stage: check
  extends: .frontend
  script:
    - npm run lint
    - npm run build
    - npx chromatic
  interruptible: true


.backend:
  image: python:3.12
  cache:
    - key:
        files:
          - Pipfile.lock
      paths:
        - .cache/pip/
        - .venv/
  before_script:
    - pip install pipenv
    - pipenv install --dev --deploy --ignore-pipfile
  rules:
    - changes:
      - web/**/*
      - .gitlab-ci.yml


.frontend:
  image: node:latest
  cache:
    - key:
        files:
          - front/package-lock.json
      paths:
        - front/.npm/
  before_script:
    - cd front
    - npm ci --cache .npm --prefer-offline
  rules:
    - changes:
      - front/**/*
      - .gitlab-ci.yml

feat(user): fix typo on few serializers name
  front/src/common/hooks/entity.ts
  front/src/common/types.ts
  web/entity/serializers/__init__.py
  web/entity/serializers/users.py
  web/entity/views/users/mixins/entity_rights.py
  web/entity/views/users/mixins/rights_requests.py
Due: check-backend, check-frontend

Introduce SOAP envelope
  web/edelivery/ebms/messages.py
  web/edelivery/soap/__init__.py
  web/edelivery/soap/envelope.py
  web/edelivery/tests/soap/__init__.py
  web/edelivery/tests/soap/test_envelope.py
Due: check-backend

Add eDelivery adapter
  .env.example
  web/edelivery/adapters/edelivery_adapter.py
  web/edelivery/tests/soap/test_envelope.py
Due: check-backend

[CLEANUP] directly use env vars specified in `.env` file
  docker-compose.yml
Due: none

[CLEANUP] Remove Ruff PT ruleset
  pyproject.toml
Due: none

Introduce (eDelivery) message domain concept
  .env.example
  web/edelivery/adapters/__init__.py
  web/edelivery/adapters/base64_encoder.py
  web/edelivery/adapters/clock.py
  web/edelivery/adapters/uuid_generator.py
  web/edelivery/ebms/messages.py
  web/edelivery/tests/ebms/test_message.py
Due: check-backend

Introduce (eDelivery) Access Point domain object
  web/edelivery/__init__.py
  web/edelivery/ebms/__init__.py
  web/edelivery/ebms/access_points.py
  web/edelivery/tests/__init__.py
  web/edelivery/tests/ebms/__init__.py
  web/edelivery/tests/ebms/test_access_point.py
Due: check-backend

feat(user): allow users to changer their password
  api-schema.yaml
  front/src/account/api.ts
  front/src/account/components/authentication.tsx
  front/src/account/index.tsx
  front/src/api-schema.ts
  web/auth/serializers/__init__.py
  web/auth/serializers/change_password.py
  web/auth/tests/test_change_password.py
  web/auth/views/auth.py
  web/auth/views/mixins/__init__.py
  web/auth/views/mixins/change_password.py
Due: check-backend, check-frontend

fix(elec): types
  front/src/elec/pages/certificates/pages/transfer-details/index.tsx
  front/src/elec/pages/certificates/types.ts
Due: check-frontend

feat(qualicharge): add filters for frontend
  web/elec/migrations/0057_alter_elecprovisioncertificatequalicharge_validated_by.py
  web/elec/models/elec_provision_certificate_qualicharge.py
  web/elec/views/provision_certificate_qualicharge/mixins/__init__.py
  web/elec/views/provision_certificate_qualicharge/mixins/bulk_update.py
  web/elec/views/provision_certificate_qualicharge/mixins/filter.py
  web/elec/views/provision_certificate_qualicharge/provision_certificate_qualicharge.py
Due: check-backend

refactor: move change email feature to a new component
  front/src/account/components/authentication.tsx
  front/src/account/components/authentication/authentication.tsx
  front/src/account/components/authentication/change-email-form/change-email-form.tsx
  front/src/account/components/authentication/change-email-form/email-confirmation-modal.tsx
  front/src/account/components/authentication/change-email-form/index.ts
  front/src/account/components/authentication/change-password-form.tsx
  front/src/account/index.tsx
Due: check-frontend

refactor: move change password form to a separate comp
  front/src/account/components/authentication.tsx
  front/src/account/components/authentication/authentication.tsx
  front/src/account/components/authentication/change-password-form.tsx
Due: check-frontend

clean(saf): remove script to bind dgac users with airlines
  web/carbure/tasks.py
  web/saf/scripts/link_dgac_to_airlines.py
Due: check-backend

cleanup(saf): remove link between dgac users and airlines
  web/saf/migrations/0026_clean_dgac_admin_rights.py
Due: check-backend

feat: add sort dc tables admin
  api-schema.yaml
  front/src/api-schema.ts
  front/src/double-counting-admin/components/agreements/agreement-list.tsx
  front/src/double-counting-admin/components/applications/application-list.tsx
  web/doublecount/filters/agreement.py
  web/doublecount/filters/application.py
  web/doublecount/views/agreements/mixins/list_admin.py
Due: check-backend, check-frontend

refactor: simplify throttling
  web/auth/views/mixins/activate.py
  web/auth/views/mixins/login.py
  web/auth/views/mixins/register.py
  web/auth/views/mixins/request_activation_link.py
  web/auth/views/mixins/request_otp.py
  web/auth/views/mixins/request_password_reset.py
  web/auth/views/mixins/reset_password.py
  web/auth/views/mixins/verify_otp.py
  web/carbure/settings.py
  web/core/throttle.py
Due: check-backend

feat(user): remove unused tests (tests are now in auth module)
  web/user/tests/test_update_email.py
Due: check-backend

fix: fix valid until column
  api-schema.yaml
  front/src/api-schema.ts
  front/src/double-counting-admin/api.ts
  front/src/double-counting-admin/components/applications/application-list.tsx
  front/src/double-counting-admin/types.ts
  web/doublecount/filters/application.py
Due: check-backend, check-frontend

fix: order by agreements admin dc
  web/doublecount/tests/agreements/tests_agreements_admin.py
Due: check-backend

fix: add licence gplV3
  front/src/carbure/components/public-stats.tsx
  front/src/stats/index.tsx
Due: check-frontend

fix(elec): remove v2 suffix from refactored elec endpoints
  api-schema.yaml
  front/src/api-schema.ts
  front/src/elec/pages/certificates/api.ts
  front/src/elec/pages/certificates/types.ts
  web/carbure/api/__init__.py
  web/elec/urls.py
Due: check-backend, check-frontend

feat: update recipient feat tiruert
  api-schema.yaml
  front/public/locales/en/translation.json
  front/public/locales/fr/translation.json
  front/src/accounting/components/recipient-form/api.ts
  front/src/api-schema.ts
  front/src/common/api.ts
  front/src/common/layouts/navigation/private/sidebar/hooks/useAccounting.ts
  web/resources/views/entity.py
Due: check-backend, check-frontend

fix(global): review translations
  front/public/locales/en/translation.json
Due: check-frontend

feat(tiruert): add django admin for MACs
  web/tiruert/admin.py
  web/tiruert/models/mac_fossil_fuel.py
Due: check-backend

refactor: set sm size for all cells in tables
  front/src/common/components/table2/table.tsx
Due: check-frontend

fix(deps): update deps to fix issues with stylus package
  front/package-lock.json
  front/package.json
Due: check-frontend

feat: v0 editable card
  front/src/common/molecules/editable-card/editable-card.module.css
  front/src/common/molecules/editable-card/editable-card.stories.tsx
  front/src/common/molecules/editable-card/editable-card.tsx
Due: check-frontend

refactor: add new dialog size + terminate company info
  front/src/common/components/dialog2/dialog.module.css
  front/src/common/components/dialog2/dialog.tsx
  front/src/common/molecules/editable-card/editable-card.tsx
  front/src/settings/api/company.ts
  front/src/settings/components/company-info-siren-dialog.tsx
  front/src/settings/components/company-info.tsx
Due: check-frontend

refactor: terminate delivery site refacto
  front/src/common/molecules/autocomplete-countries.tsx
  front/src/settings/components/delivery-site/create-delivery-site-dialog.tsx
  front/src/settings/components/delivery-site/create-delivery-site-form.tsx
  front/src/settings/components/delivery-site/delivery-site-dialog.tsx
  front/src/settings/components/delivery-site/delivery-site.hooks.tsx
  front/src/settings/components/delivery-site/delivery-site.tsx
  front/src/settings/pages/delivery-site/create-delivery-site-dialog.tsx
  front/src/settings/pages/delivery-site/create-delivery-site-form.tsx
Due: check-frontend

refacto company info
  front/src/common/components/inputs2/index.ts
  front/src/common/components/notice/notice.tsx
  front/src/common/molecules/editable-card/editable-card.module.css
  front/src/common/molecules/editable-card/editable-card.tsx
  front/src/common/molecules/editable-card/index.ts
  front/src/settings/api/company.ts
  front/src/settings/components/company-info.tsx
  front/src/settings/components/company-options.tsx
  front/src/settings/index.tsx
  front/src/settings/pages/company-options.tsx
Due: check-frontend

refactor: Separate sections for settings page
  front/src/common/index.tsx
  front/src/common/layouts/navigation/private/notifications/notifications.hooks.ts
  front/src/common/layouts/navigation/private/sidebar/sidebar.tsx
  front/src/common/utils/routes.ts
  front/src/companies/components/company-info-siren-missing-dialog.tsx
  front/src/double-counting/components/application-checker/send-application-dialog.tsx
  front/src/settings/index.tsx
  front/src/settings/pages/company-options.tsx
  web/elec/api/admin/audit/charge_points/accept_application.py
  web/entity/services/enable_depot.py
  web/user/api/request_access.py
  web/user/views/request_access.py
Due: check-backend, check-frontend

refactor: set radio read only style
  front/src/account/components/access-rights.tsx
  front/src/common/components/inputs2/radio/radio.tsx
  front/src/settings/pages/delivery-site/create-delivery-site-form.tsx
  front/src/settings/pages/delivery-site/delivery-site-dialog.tsx
Due: check-frontend

refactor: separate auditors from users
  front/src/common/molecules/user-rights-table/user-rights-table.tsx
  front/src/settings/pages/user-rights/user-rights.hooks.ts
  front/src/settings/pages/user-rights/user-rights.tsx
Due: check-frontend

feat: terminate first version editable card
  front/src/common/molecules/editable-card/editable-card.stories.tsx
  front/src/common/molecules/editable-card/editable-card.tsx
Due: check-frontend

refactor: control editable state / refacto siren picker
  front/src/common/molecules/editable-card/editable-card.stories.tsx
  front/src/common/molecules/editable-card/editable-card.tsx
  front/src/companies/components/company-info-siren-missing-dialog.tsx
  front/src/companies/components/siren-picker.tsx
  front/src/settings/components/company-info-siren-dialog.tsx
Due: check-frontend
