Repository MTES-MCT/carbure: changes, and which GitLab CI jobs are due for each by the changed paths.
All: check-backend, check-frontend

check-backend:
  image: python:3.12
  cache:
  - key:
      files:
      - Pipfile.lock
    paths:
    - .cache/pip/
    - .venv/
  before_script:
  - pip install pipenv
  - pipenv install --dev --deploy --ignore-pipfile
  stage: check
  services:
  - mysql:8.0
  - redis:latest
  script:
  - export CARBURE_HOME=$(pwd)
  ...

check-frontend:
  image: node:latest
  cache:
  - key:
      files:
      - front/package-lock.json
    paths:
    - front/.npm/
  before_script:
  - cd front
  - npm ci --cache .npm --prefer-offline
  stage: check
  script:
  - npm run lint
  - npm run build
  - npx chromatic
  interruptible: true

feat(outliers): add django command to trigger outlier detection
  web/transactions/management/__init__.py
  web/transactions/management/commands/__init__.py
  web/transactions/management/commands/trigger_anomaly_detection.py
  web/transactions/services/anomaly_detection/anomaly_detection.py
Due: check-backend

fix: replace incompatible scalingo db url params
  web/carbure/settings.py
Due: check-backend

feat(outliers): add cron task to run the algorithm monthly
  cron.json
Due: none

fix: wrong option definition on db settings
  web/carbure/settings.py
Due: check-backend

fix: wrong option definition on db settings 2/2
  web/carbure/settings.py
Due: check-backend

feat(tiruert): refacto balance and operation serializers
  web/tiruert/serializers/__init__.py
  web/tiruert/serializers/balance.py
  web/tiruert/serializers/operation.py
  web/tiruert/views/operation/mixins/balance.py
Due: check-backend

feat(tiruert): handle quantity unit in operation creation process
  web/tiruert/serializers/operation.py
  web/tiruert/serializers/teneur.py
  web/tiruert/services/operation.py
  web/tiruert/services/teneur.py
Due: check-backend

fix(dc): add oneshot patch to insert missing dc data
  scripts/patches/2025-02-25_restore_deleted_dc_applications.py
Due: none

fix(saf refacto): fix stories and upgrade storybook
  front/.storybook/preview.tsx
  front/package-lock.json
  front/package.json
  front/src/common/components/dialog2/dialog.module.css
  front/src/common/components/dialog2/dialog.stories.tsx
  front/src/common/components/dialog2/dialog.tsx
  front/src/common/components/inputs2/base-input.module.css
  front/src/common/components/inputs2/base-input.tsx
  front/src/common/components/inputs2/field.module.css
  front/src/common/components/inputs2/field.tsx
  front/src/common/components/inputs2/input.tsx
  front/src/common/components/inputs2/number/number-input.stories.tsx
  front/src/common/components/notice/notice.module.css
  front/src/common/components/notice/notice.stories.tsx
  front/src/common/components/notice/notice.tsx
  front/src/common/components/selects2/select/select.stories.tsx
  front/src/common/components/selects2/select/select.tsx
  front/src/common/components/table2/table.module.css
  front/src/common/components/table2/table.stories.tsx
  front/src/common/components/table2/table.tsx
  front/src/common/molecules/filter-multiselect2/filter-multiselect2.tsx
  front/src/common/services/api-fetch.ts
  front/src/saf/components/assignment/grouped-assignment.tsx
  front/src/saf/components/assignment/period-select.tsx
  front/src/saf/components/assignment/simple-assignment.tsx
  front/src/saf/components/filters.tsx
  front/src/saf/pages/airline/accept-assignment.tsx
  front/src/saf/pages/airline/tickets.tsx
  front/src/saf/pages/operator/ticket-source-details/fields.tsx
  front/src/saf/pages/operator/ticket-source-details/parent-lot/durability-fields.tsx
  front/src/saf/pages/operator/ticket-sources/index.tsx
  front/src/saf/pages/operator/ticket-sources/table.tsx
  front/src/saf/pages/operator/tickets/index.tsx
  front/src/saf/types.ts
Due: check-frontend

fix(login): fix translations
  front/public/locales/en/translation.json
  front/public/locales/fr/translation.json
  front/src/auth/components/login.tsx
  front/src/common/layouts/navigation/private/user-menu/user-menu.tsx
  front/src/common/utils/routes.ts
Due: check-frontend

fix(dc): add oneshot patch to insert missing dc data
  README.md
  scripts/patches/2025-02-25_restore_deleted_dc_applications.py
Due: none

feat(tiruert operations): update schema + remove volume to quantity
  api-schema.yaml
  front/src/accounting/operations/operations.hooks.tsx
  front/src/accounting/operations/operations.utils.ts
  front/src/accounting/operations/pages/operation-detail/operation-detail.tsx
  front/src/api-schema.ts
Due: check-frontend

fix: force MR pipeline to always pass even if there are no changes in the code itself
  .gitlab-ci.yml
Due: check-backend, check-frontend

chore: remove readme section
  README.md
Due: none

chore: restore readme section
  README.md
Due: none

chore(ci): run pass before check
  .gitlab-ci.yml
Due: check-backend, check-frontend

feat(tiruert): add entity middleware to get request.entity everywhere
  web/carbure/middlewares/entity.py
  web/carbure/settings.py
Due: check-backend

ci: run a job that always succeeds to deal with MR without change in source code
  .gitlab-ci.yml
Due: check-backend, check-frontend

fix(saf): set actions saf to read only for readOnly users
  front/src/common/services/api-fetch.ts
  front/src/saf/pages/operator/ticket-details/index.tsx
  front/src/saf/pages/operator/ticket-source-details/index.tsx
  front/src/saf/pages/operator/ticket-sources/summary.tsx
Due: check-frontend

fix(sanity_checks): remove delivery date sanity check until we fix it
  web/transactions/api/lots/tests/tests_lots_flow.py
  web/transactions/sanity_checks/sanity_checks.py
Due: check-backend

fix: make sure traders have canTrade always true
  front/src/carbure/hooks/entity.ts
Due: check-frontend

feat(tiruert): refacto using of unit for GET and POST views
  web/tiruert/serializers/operation.py
  web/tiruert/serializers/teneur.py
  web/tiruert/services/balance.py
  web/tiruert/services/operation.py
  web/tiruert/services/teneur.py
  web/tiruert/views/operation/mixins/balance.py
  web/tiruert/views/operation/mixins/simulate.py
  web/tiruert/views/operation/operation.py
Due: check-backend

feat(dc): better display of DC applications and registrations in admin
  web/certificates/migrations/0007_alter_doublecountingregistration_options.py
  web/certificates/models.py
  web/doublecount/migrations/0019_alter_doublecountingapplication_options.py
  web/doublecount/models.py
Due: check-backend

feat(tiruert): samll fixes
  web/tiruert/views/operation/mixins/balance.py
  web/tiruert/views/operation/operation.py
Due: check-backend

test(dc): adapt test to new ordering
  web/doublecount/tests/agreements/tests_agreements_user.py
Due: check-backend

fix(dc): display name of dc applications
  web/doublecount/models.py
Due: check-backend

feat(tiruert operations): start debit operation dialog
  front/src/accounting/operations/types.ts
  front/src/common/components/inputs2/radio/radio.module.css
  front/src/common/components/inputs2/radio/radio.tsx
  front/src/common/hooks/query-builder-2.ts
  front/src/material-accounting/balances/api.ts
  front/src/material-accounting/balances/balances.hooks.tsx
  front/src/material-accounting/balances/balances.tsx
  front/src/material-accounting/balances/components/debit-operation-dialog.module.css
  front/src/material-accounting/balances/components/debit-operation-dialog.tsx
  front/src/material-accounting/balances/types.ts
Due: check-frontend

feat(tiruert soldes): add balances table
  front/src/accounting/index.tsx
  front/src/common/utils/routes.ts
  front/src/material-accounting/balances/api.ts
  front/src/material-accounting/balances/balances.hooks.tsx
  front/src/material-accounting/balances/balances.tsx
  front/src/material-accounting/balances/index.ts
Due: check-frontend

feat(balances): continue step 2 cession
  front/src/accounting/balances/components/debit-operation-dialog/cession-dialog/cession-dialog.tsx
  front/src/accounting/balances/components/debit-operation-dialog/cession-dialog/cession-dialog.types.ts
  front/src/accounting/balances/components/debit-operation-dialog/cession-dialog/from-depot-form/from-depot-form.tsx
  front/src/accounting/balances/components/debit-operation-dialog/cession-dialog/volume-form/index.ts
  front/src/accounting/balances/components/debit-operation-dialog/cession-dialog/volume-form/volume-form.tsx
  front/src/accounting/components/operation-text.tsx
  front/src/common/components/autocomplete2/autocomplete.stories.tsx
  front/src/common/components/autocomplete2/autocomplete.tsx
  front/src/common/components/stepper/stepper.tsx
Due: check-frontend

feat(tiruert soldes): continue cession dialog
  front/src/accounting/api.ts
  front/src/accounting/balances/components/debit-operation-dialog/cession-dialog/api.ts
  front/src/accounting/balances/components/debit-operation-dialog/cession-dialog/cession-dialog.module.css
  front/src/accounting/balances/components/debit-operation-dialog/cession-dialog/cession-dialog.tsx
  front/src/accounting/balances/components/debit-operation-dialog/cession-dialog/cession-dialog.types.ts
  front/src/accounting/balances/components/debit-operation-dialog/cession-dialog/from-depot/from-depot.tsx
  front/src/accounting/balances/components/debit-operation-dialog/cession-dialog/from-depot/index.ts
  front/src/accounting/operations/pages/operation-detail/operation-detail.tsx
  front/src/common/components/autocomplete2/autocomplete.stories.tsx
  front/src/common/components/autocomplete2/autocomplete.tsx
  front/src/common/components/autocomplete2/index.ts
  front/src/common/components/button2/button.tsx
  front/src/common/components/stepper/stepper.stories.tsx
  front/src/common/components/stepper/stepper.tsx
Due: check-frontend

feat(tiruert soldes) terminate cession dialog
  front/src/accounting/balances/components/debit-operation-dialog/cession-dialog/cession-dialog.tsx
  front/src/accounting/balances/components/debit-operation-dialog/cession-dialog/cession-dialog.types.ts
  front/src/accounting/balances/components/debit-operation-dialog/cession-dialog/recipient-to-depot-form/index.ts
  front/src/accounting/balances/components/debit-operation-dialog/cession-dialog/recipient-to-depot-form/recipient-to-depot-form.tsx
  front/src/accounting/balances/components/debit-operation-dialog/cession-dialog/volume-form/volume-form.tsx
  front/src/accounting/components/operation-text.tsx
  front/src/common/components/autocomplete2/autocomplete.tsx
  front/src/common/components/inputs2/input.tsx
Due: check-frontend

feat(lazy load): lazy load pages instead of single import
  front/src/accounting/index.tsx
  front/src/carbure/index.tsx
  front/src/contact/index.tsx
  front/src/elec/operator.tsx
  front/src/index.tsx
Due: check-frontend

refactor: fix folder namings
  front/src/accounting/balance/balance.tsx
  front/src/accounting/balance/index.ts
  front/src/accounting/balances/api.ts
  front/src/accounting/balances/balances.hooks.tsx
  front/src/accounting/balances/balances.tsx
  front/src/accounting/balances/components/debit-operation-dialog/cession-dialog/cession-dialog.module.css
  front/src/accounting/balances/components/debit-operation-dialog/cession-dialog/cession-dialog.tsx
  front/src/accounting/balances/components/debit-operation-dialog/cession-dialog/index.ts
  front/src/accounting/balances/components/debit-operation-dialog/debit-operation-dialog.module.css
  front/src/accounting/balances/components/debit-operation-dialog/debit-operation-dialog.tsx
  front/src/accounting/balances/components/debit-operation-dialog/devaluation-dialog/devaluation-dialog.tsx
  front/src/accounting/balances/components/debit-operation-dialog/devaluation-dialog/index.ts
  front/src/accounting/balances/components/debit-operation-dialog/exportation-dialog/exportation-dialog.tsx
  front/src/accounting/balances/components/debit-operation-dialog/exportation-dialog/index.ts
  front/src/accounting/balances/components/debit-operation-dialog/index.ts
  front/src/accounting/balances/index.ts
  front/src/accounting/balances/types.ts
  front/src/accounting/components/operation-text.module.css
  front/src/accounting/components/operation-text.tsx
Due: check-frontend

feat(tiruert soldes): terminate first step cession dialog
  front/public/locales/en/translation.json
  front/public/locales/fr/translation.json
  front/src/accounting/balances/balances.hooks.tsx
  front/src/accounting/balances/components/debit-operation-dialog/cession-dialog/cession-dialog.tsx
  front/src/accounting/balances/components/debit-operation-dialog/cession-dialog/from-depot-form/from-depot-form.tsx
  front/src/common/components/autocomplete2/autocomplete.stories.tsx
  front/src/common/utils/formatters.ts
  front/src/settings/components/production-site-dialog.tsx
Due: check-frontend

feat(tiruert soldes): add step 2 volume
  front/src/accounting/api.ts
  front/src/accounting/balances/components/debit-operation-dialog/cession-dialog/cession-dialog.tsx
  front/src/accounting/balances/components/debit-operation-dialog/cession-dialog/cession-dialog.types.ts
  front/src/accounting/balances/components/debit-operation-dialog/cession-dialog/from-depot-form/from-depot-form.tsx
  front/src/accounting/balances/components/debit-operation-dialog/cession-dialog/volume-form/volume-form.tsx
  front/src/common/components/inputs2/base-input.module.css
  front/src/common/components/inputs2/base-input.tsx
Due: check-frontend

refactor(TIRUERT - SOLDES): move types to the accounting folder
  front/src/accounting/balances/api.ts
  front/src/accounting/balances/balances.hooks.tsx
  front/src/accounting/balances/balances.tsx
  front/src/accounting/balances/components/debit-operation-dialog/cession-dialog/cession-dialog.tsx
  front/src/accounting/balances/components/debit-operation-dialog/debit-operation-dialog.tsx
  front/src/accounting/balances/types.ts
  front/src/accounting/hooks/normalizers.ts
  front/src/accounting/operations/components/operation-badge.tsx
  front/src/accounting/operations/operations.hooks.tsx
  front/src/accounting/operations/operations.tsx
  front/src/accounting/operations/operations.utils.ts
  front/src/accounting/operations/pages/operation-detail/operation-detail.tsx
  front/src/accounting/operations/types.ts
  front/src/accounting/types.ts
  front/src/accounting/utils/formatters.ts
Due: check-frontend

feat(tiruert - soldes): start cession/devaluation/exportation dialog
  front/src/common/components/notice/notice.module.css
  front/src/common/components/notice/notice.stories.tsx
  front/src/common/components/notice/notice.tsx
  front/src/material-accounting/balances/components/debit-operation-dialog/cession-dialog/cession-dialog.module.css
  front/src/material-accounting/balances/components/debit-operation-dialog/cession-dialog/cession-dialog.tsx
  front/src/material-accounting/balances/components/debit-operation-dialog/cession-dialog/index.ts
  front/src/material-accounting/balances/components/debit-operation-dialog/debit-operation-dialog.module.css
  front/src/material-accounting/balances/components/debit-operation-dialog/debit-operation-dialog.tsx
  front/src/material-accounting/balances/components/debit-operation-dialog/devaluation-dialog/devaluation-dialog.tsx
  front/src/material-accounting/balances/components/debit-operation-dialog/devaluation-dialog/index.ts
  front/src/material-accounting/balances/components/debit-operation-dialog/exportation-dialog/exportation-dialog.tsx
  front/src/material-accounting/balances/components/debit-operation-dialog/exportation-dialog/index.ts
  front/src/material-accounting/balances/components/debit-operation-dialog/index.ts
  front/src/material-accounting/components/operation-text.module.css
  front/src/material-accounting/components/operation-text.tsx
Due: check-frontend

feat(tiruert soldes - cession): get available volume for a depot
  front/src/accounting/balances/components/debit-operation-dialog/cession-dialog/api.ts
  front/src/accounting/balances/components/debit-operation-dialog/cession-dialog/cession-dialog.tsx
  front/src/accounting/balances/components/debit-operation-dialog/cession-dialog/from-depot-form/from-depot-form.tsx
  front/src/accounting/balances/components/debit-operation-dialog/cession-dialog/from-depot-form/index.ts
  front/src/accounting/balances/components/debit-operation-dialog/cession-dialog/from-depot/from-depot.tsx
  front/src/accounting/balances/components/debit-operation-dialog/cession-dialog/from-depot/index.ts
  front/src/common/components/form2/form.tsx
  front/src/common/components/inputs2/base-input.module.css
  front/src/common/components/inputs2/base-input.tsx
Due: check-frontend

feat(tiruert soldes): add generic stepper component
  front/src/accounting/balances/components/debit-operation-dialog/cession-dialog/cession-dialog.tsx
  front/src/accounting/index.tsx
  front/src/carbure/assets/css/index.css
  front/src/carbure/assets/css/reset.css
  front/src/common/components/stepper/index.ts
  front/src/common/components/stepper/stepper.module.css
  front/src/common/components/stepper/stepper.tsx
Due: check-frontend

Path conditions:
  check-backend: any of: web/**/*, .gitlab-ci.yml
  check-frontend: any of: front/**/*, .gitlab-ci.yml
