Repository MTES-MCT/carbure: changes, and which GitLab CI jobs are due for each by the changed paths.
All: check-backend, check-frontend

check-backend:
  image: python:3.12
  cache:
  - key:
      files:
      - Pipfile.lock
    paths:
    - .cache/pip/
    - .venv/
  before_script:
  - pip install pipenv
  - pipenv install --dev --deploy --ignore-pipfile
  stage: check
  services:
  - mysql:8.0
  - redis:latest
  script:
  - export CARBURE_HOME=$(pwd)
  ...

check-frontend:
  image: node:latest
  cache:
  - key:
      files:
      - front/package-lock.json
    paths:
    - front/.npm/
  before_script:
  - cd front
  - npm ci --cache .npm --prefer-offline
  stage: check
  script:
  - npm run lint
  - npm run build
  - npx chromatic
  interruptible: true

feat(elec): qualicharge - add drf apikey package
  Pipfile
  Pipfile.lock
  web/carbure/settings.py
  web/elec/views/provision_certificate/mixins/bulk_create.py
  web/elec/views/provision_certificate/provision_certificate.py
Due: check-backend

feat(elec): qualicharge - add simplejwt package
  Pipfile
  Pipfile.lock
  web/carbure/settings.py
  web/carbure/urls.py
  web/elec/views/provision_certificate/provision_certificate.py
Due: check-backend

feat(elec): qualicharge - add siren to entity resource endpoint
  web/core/serializers.py
  web/resources/views/entity.py
Due: check-backend

feat(elec): add registration_id in unit tests for entity response
  web/elec/api/admin/charge_points/tests_charge_points.py
  web/elec/api/admin/meter_readings/tests_meter_readings.py
  web/elec/api/cpo/charge_points/tests_charge_points.py
  web/elec/api/cpo/meter_readings/tests_meter_readings.py
  web/saf/tests/tests_ticket_source_details.py
Due: check-backend

feat(jwt): allow access to jwt generation only if apikey
  web/carbure/urls.py
  web/carbure/views/__init__.py
  web/carbure/views/token.py
Due: check-backend

fix(tests): adding djangorestframework-simplejwt module, generated this issue, idk why...
  web/auth/tests/test_user_creation.py
Due: check-backend

feat(elec): add a filter class for provision certificate
  web/elec/filters/__init__.py
  web/elec/filters/provision_certificate.py
  web/elec/views/provision_certificate/provision_certificate.py
Due: check-backend

feat(elec): add spectacular definition for qualicharge endpoint
  web/elec/views/provision_certificate/mixins/bulk_create.py
Due: check-backend

feat(qualicharge): add provision certificate qualicharge model, modify 'bulk create' and add 'bulk update'
  web/elec/filters/provision_certificate.py
  web/elec/migrations/0056_elecprovisioncertificatequalicharge.py
  web/elec/models/__init__.py
  web/elec/models/elec_provision_certificate_qualicharge.py
  web/elec/serializers/elec_provision_certificate_qualicharge.py
  web/elec/views/__init__.py
  web/elec/views/provision_certificate/__init__.py
  web/elec/views/provision_certificate/mixins/__init__.py
  web/elec/views/provision_certificate/mixins/bulk_create.py
  web/elec/views/provision_certificate/provision_certificate.py
  web/elec/views/provision_certificate_qualicharge/__init__.py
  web/elec/views/provision_certificate_qualicharge/mixins/__init__.py
  web/elec/views/provision_certificate_qualicharge/mixins/bulk_create.py
  web/elec/views/provision_certificate_qualicharge/mixins/bulk_update.py
  web/elec/views/provision_certificate_qualicharge/provision_certificate_qualicharge.py
Due: check-backend

feat(qualicharge): add filters for front usage
  web/elec/filters/provision_certificate.py
  web/elec/views/provision_certificate_qualicharge/provision_certificate_qualicharge.py
Due: check-backend

feat(qualicharge): do jwt validation only for bulk-create
  web/elec/urls.py
  web/elec/views/provision_certificate_qualicharge/mixins/bulk_create.py
  web/elec/views/provision_certificate_qualicharge/provision_certificate_qualicharge.py
Due: check-backend

regenerate pipfile.lock
  Pipfile.lock
Due: none

feat(qualicharge): new api-schema
  api-schema.yaml
  front/src/api-schema.ts
  web/elec/filters/__init__.py
  web/elec/filters/provision_certificate.py
  web/elec/views/provision_certificate_qualicharge/provision_certificate_qualicharge.py
  web/tiruert/views/mac_fossil_fuel/excel_export.py
Due: check-backend, check-frontend

feat(qualicharge): update filters for frontend
  web/elec/filters/provision_certificate_qualicharge.py
Due: check-backend

feat(qualicharge): add filters for frontend
  web/elec/migrations/0057_alter_elecprovisioncertificatequalicharge_validated_by.py
  web/elec/models/elec_provision_certificate_qualicharge.py
  web/elec/views/provision_certificate_qualicharge/mixins/__init__.py
  web/elec/views/provision_certificate_qualicharge/mixins/bulk_update.py
  web/elec/views/provision_certificate_qualicharge/mixins/filter.py
  web/elec/views/provision_certificate_qualicharge/provision_certificate_qualicharge.py
Due: check-backend

feat(qualicharge): fix test units
  web/auth/tests/test_user_creation.py
  web/saf/tests/tests_ticket_sources.py
Due: check-backend

feat: init biomethane entity config agreement
  web/biomethane/__init__.py
  web/biomethane/apps.py
  web/biomethane/migrations/0001_initial.py
  web/biomethane/migrations/__init__.py
  web/biomethane/models/__init__.py
  web/biomethane/models/biomethane_entity_config_agreement.py
  web/carbure/settings.py
  web/core/migrations/0046_entity_is_red_ii.py
  web/core/models.py
Due: check-backend

feat(qualicharge): fix rebase
  Pipfile.lock
  api-schema.yaml
  web/elec/api/__init__.py
  web/elec/models/elec_provision_certificate_qualicharge.py
  web/elec/urls.py
  web/elec/views/__init__.py
Due: check-backend

fix(saf): saf filters mistakes
  front/src/saf/pages/tickets/index.tsx
  front/src/saf/types.ts
  web/saf/filters/ticket_source.py
  web/saf/views/ticket_source/mixins/filter.py
Due: check-backend, check-frontend

fix(saf): tests
  web/saf/tests/tests_ticket_source_filters.py
Due: check-backend

feat: continue setup biomethane config agreement
  web/biomethane/migrations/0001_initial.py
  web/biomethane/models/biomethane_entity_config_agreement.py
  web/biomethane/serializers/__init__.py
  web/biomethane/serializers/entity_config_agreement.py
  web/biomethane/urls.py
  web/biomethane/views/__init__.py
  web/biomethane/views/entity_config_agreement/__init__.py
  web/biomethane/views/entity_config_agreement/entity_config_agreement.py
  web/biomethane/views/entity_config_agreement/mixins/__init__.py
  web/carbure/api/__init__.py
  web/core/migrations/0047_alter_entity_entity_type.py
  web/core/models.py
Due: check-backend

feat: add create/update biomethane agreement endpoint
  web/biomethane/migrations/0001_initial.py
  web/biomethane/models/biomethane_entity_config_agreement.py
  web/biomethane/serializers/entity_config_agreement/__init__.py
  web/biomethane/serializers/entity_config_agreement/add.py
  web/biomethane/serializers/entity_config_agreement/list.py
  web/biomethane/views/entity_config_agreement/entity_config_agreement.py
  web/biomethane/views/entity_config_agreement/mixins/__init__.py
  web/biomethane/views/entity_config_agreement/mixins/patch.py
Due: check-backend

fix: remove linter from api-schema
  front/.eslintrc.json
  front/package.json
  front/src/api-schema.ts
  web/biomethane/views/entity_config_agreement/entity_config_agreement.py
Due: check-backend, check-frontend

feat(saf): add origin lot and sites to saf models
  web/saf/migrations/0027_safticket_origin_lot_safticket_origin_lot_site_and_more.py
  web/saf/models/saf_ticket.py
  web/saf/models/saf_ticket_source.py
Due: check-backend

feat(saf): add propagation of origin lot info to saf tickets
  web/core/traceability/tests_traceability.py
  web/core/traceability/ticket.py
  web/core/traceability/ticket_source.py
Due: check-backend

feat(saf): add migration to propagate lot origin info to existing saf models
  web/saf/migrations/0028_propagate_saf_origin_lot.py
Due: check-backend

feat(saf): return origin lot info on saf detail serializers
  web/saf/serializers/saf_ticket.py
  web/saf/serializers/saf_ticket_source.py
  web/saf/serializers/schema.py
Due: check-backend

test(saf): update expected results
  web/saf/tests/tests_ticket_details.py
  web/saf/tests/tests_ticket_source_details.py
Due: check-backend

refactor: move list endpoint to avoid pagination
  api-schema.yaml
  front/src/api-schema.ts
  web/biomethane/views/entity_config_agreement/entity_config_agreement.py
  web/biomethane/views/entity_config_agreement/mixins/__init__.py
  web/biomethane/views/entity_config_agreement/mixins/list.py
Due: check-backend, check-frontend

refactor: separate code into actions
  web/biomethane/serializers/entity_config_agreement/retrieve.py
  web/biomethane/urls.py
  web/biomethane/views/entity_config_agreement/entity_config_agreement.py
  web/biomethane/views/entity_config_agreement/mixins/__init__.py
  web/biomethane/views/entity_config_agreement/mixins/create.py
  web/biomethane/views/entity_config_agreement/mixins/retrieve.py
Due: check-backend

feat(qualicharge): add frontend for operator
  api-schema.yaml
  front/src/api-schema.ts
  front/src/common/layouts/navigation/private/sidebar/hooks/useChargePoints.ts
  front/src/common/utils/normalizers.ts
  front/src/common/utils/routes.ts
  front/src/elec-charge-points/__test__/data.ts
  front/src/elec-charge-points/charge-points.tsx
  front/src/elec-charge-points/components/qualicharge/qualicharge-badge.tsx
  front/src/elec-charge-points/pages/qualicharge/api.ts
  front/src/elec-charge-points/pages/qualicharge/formatters.ts
  front/src/elec-charge-points/pages/qualicharge/index.ts
  front/src/elec-charge-points/pages/qualicharge/qualicharge.tsx
  front/src/elec-charge-points/pages/qualicharge/types.ts
  front/src/saf/__test__/data.ts
  web/elec/filters/provision_certificate_qualicharge.py
  web/elec/models/elec_provision_certificate_qualicharge.py
  web/elec/views/provision_certificate_qualicharge/mixins/bulk_update.py
Due: check-backend, check-frontend

fix: correction filters qualicharge
  api-schema.yaml
  front/src/api-schema.ts
  front/src/elec-charge-points/pages/qualicharge/api.ts
  front/src/elec-charge-points/pages/qualicharge/qualicharge.hooks.tsx
  front/src/elec-charge-points/pages/qualicharge/qualicharge.tsx
  front/src/elec-charge-points/pages/qualicharge/types.ts
  web/elec/views/provision_certificate_qualicharge/provision_certificate_qualicharge.py
Due: check-backend, check-frontend

refactor: terminate refacto qualicharge page
  front/public/locales/en/translation.json
  front/public/locales/fr/translation.json
  front/src/common/components/table2/table.module.css
  front/src/common/components/table2/table.tsx
  front/src/elec-charge-points/pages/qualicharge/api.ts
  front/src/elec-charge-points/pages/qualicharge/components/qualicharge-badge.tsx
  front/src/elec-charge-points/pages/qualicharge/components/validate-data-dialog.tsx
  front/src/elec-charge-points/pages/qualicharge/qualicharge.hooks.tsx
  front/src/elec-charge-points/pages/qualicharge/qualicharge.tsx
Due: check-frontend

feat: add total volume energy
  api-schema.yaml
  front/src/api-schema.ts
  front/src/elec-charge-points/pages/qualicharge/qualicharge.tsx
  web/elec/views/provision_certificate_qualicharge/provision_certificate_qualicharge.py
Due: check-backend, check-frontend

feat: add qualicharge data detail
  api-schema.yaml
  front/public/locales/en/translation.json
  front/public/locales/fr/translation.json
  front/src/api-schema.ts
  front/src/common/components/table2/table.tsx
  front/src/elec-charge-points/pages/qualicharge/api.ts
  front/src/elec-charge-points/pages/qualicharge/components/qualicharge-data-detail.tsx
  front/src/elec-charge-points/pages/qualicharge/hooks/use-validate-volumes.ts
  front/src/elec-charge-points/pages/qualicharge/qualicharge.tsx
  web/elec/views/provision_certificate_qualicharge/provision_certificate_qualicharge.py
Due: check-backend, check-frontend

feat(qualicharge): add factory for ElecProvisionCertificateQualichargeFactory
  web/elec/factories/__init__.py
  web/elec/factories/provision_certificate_qualicharge.py
Due: check-backend

fix(otp): add name of EmailDevice to be sure to have only one
  web/auth/views/mixins/request_otp.py
  web/auth/views/mixins/verify_otp.py
Due: check-backend

feat(biomethane): 'agreement' rename to 'contract' and setup list, post, patch
  front/package-lock.json
  web/biomethane/migrations/0002_rename_biomethaneentityconfigagreement_biomethaneentityconfigcontract_and_more.py
  web/biomethane/migrations/0003_alter_biomethaneentityconfigcontract_cmax_and_more.py
  web/biomethane/models/__init__.py
  web/biomethane/models/biomethane_entity_config_agreement.py
  web/biomethane/models/biomethane_entity_config_contract.py
  web/biomethane/serializers/entity_config_agreement/add.py
  web/biomethane/serializers/entity_config_agreement/retrieve.py
  web/biomethane/serializers/entity_config_contract.py
  web/biomethane/urls.py
  web/biomethane/views/entity_config_agreement/__init__.py
  web/biomethane/views/entity_config_agreement/entity_config_agreement.py
  web/biomethane/views/entity_config_agreement/mixins/__init__.py
  web/biomethane/views/entity_config_agreement/mixins/create.py
  web/biomethane/views/entity_config_agreement/mixins/patch.py
  web/biomethane/views/entity_config_agreement/mixins/retrieve.py
  web/biomethane/views/entity_config_contract/__init__.py
  web/biomethane/views/entity_config_contract/entity_config_contract.py
  web/biomethane/views/entity_config_contract/mixins/__init__.py
Due: check-backend, check-frontend

feat: terminate first version editable card
  front/src/common/molecules/editable-card/editable-card.stories.tsx
  front/src/common/molecules/editable-card/editable-card.tsx
Due: check-frontend

refactor: add new dialog size + terminate company info
  front/src/common/components/dialog2/dialog.module.css
  front/src/common/components/dialog2/dialog.tsx
  front/src/common/molecules/editable-card/editable-card.tsx
  front/src/settings/api/company.ts
  front/src/settings/components/company-info-siren-dialog.tsx
  front/src/settings/components/company-info.tsx
Due: check-frontend

Path conditions:
  check-backend: any of: web/**/*, .gitlab-ci.yml
  check-frontend: any of: front/**/*, .gitlab-ci.yml
