Repository MTES-MCT/carbure: changes, and which GitLab CI jobs are due for each by the changed paths.
All: check-backend, check-frontend

.gitlab-ci.yml:

stages:
  - check


workflow:
  rules:
    # 1. Don't run pipelines for MR drafts.
    - if: $CI_PIPELINE_SOURCE == "merge_request_event" && $CI_MERGE_REQUEST_TITLE =~ /^Draft:/
      when: never

    # 2. Don't run branch pipelines when there's an open MR for the branch (run the MR pipeline instead).
    - if: $CI_COMMIT_BRANCH && $CI_OPEN_MERGE_REQUESTS
      when: never

    # 3. Run all other MR pipelines
    - if: $CI_PIPELINE_SOURCE == 'merge_request_event'
      when: always

    # 4. Run branch pipelines for dev and master
    - if: $CI_COMMIT_BRANCH == "dev" || $CI_COMMIT_BRANCH == "master"
      when: always

    # 5. Else, don't run it
    - when: never


variables:
  MYSQL_DATABASE: carbure_mysql_test_db
  MYSQL_ROOT_PASSWORD: carbure_mysql_ci_db_password
  PIP_CACHE_DIR: "$CI_PROJECT_DIR/.cache/pip"
  PIPENV_VENV_IN_PROJECT: true


# job: run linting and tests for backend
check-backend:
  stage: check
  extends: .backend
  services:
    - mysql:8.0
    - redis:latest
  script:
    - export CARBURE_HOME=$(pwd)
    - export DATABASE_URL=mysql://root:$MYSQL_ROOT_PASSWORD@mysql:3306/$MYSQL_DATABASE
    - export REDIS_URL=redis://redis:6379
    - pipenv run ruff check
    - pipenv run ruff format --check
    - TEST=1 pipenv run python web/manage.py test web


# job: run linting and tests for frontend
check-frontend:
  stage: check
  extends: .frontend
  script:
    - npm run lint
    - npm run build
    - npx chromatic
  interruptible: true


.backend:
  image: python:3.12
  cache:
    - key:
        files:
          - Pipfile.lock
      paths:
        - .cache/pip/
        - .venv/
  before_script:
    - pip install pipenv
    - pipenv install --dev --deploy --ignore-pipfile
  rules:
    - changes:
      - web/**/*
      - .gitlab-ci.yml


.frontend:
  image: node:latest
  cache:
    - key:
        files:
          - front/package-lock.json
      paths:
        - front/.npm/
  before_script:
    - cd front
    - npm ci --cache .npm --prefer-offline
  rules:
    - changes:
      - front/**/*
      - .gitlab-ci.yml

Resolve "[BC] Client non enregistré à la création d'un lot manuel"
  front/src/carbure/api.ts
  front/src/lot-add/components/delivery-fields.tsx
  front/src/transactions/actions/accept.tsx
  front/src/transactions/actions/split.tsx
  web/resources/api/entities.py
Due: check-backend, check-frontend

[Django Admin] Ouvrir les détails d'un SafTicketSource fait crasher les serveurs
  web/saf/admin.py
Due: check-backend

feat(saf): add missing __init__.py files
  web/saf/api/airline/tests/__init__.py
  web/saf/api/operator/tests/__init__.py
Due: check-backend

ruff formatage
  web/core/migrations/0036_alter_depot_depot_type.py
  web/producers/migrations/0006_alter_productionsiteinput_production_site_and_more.py
  web/transactions/migrations/0007_depot_productionsite.py
Due: check-backend

Refactor/back new model site
  web/core/migrations/0036_alter_depot_depot_type.py
  web/producers/migrations/0006_alter_productionsiteinput_production_site_and_more.py
  web/saf/api/airline/tests/__init__.py
  web/saf/api/operator/tests/__init__.py
  web/transactions/migrations/0007_depot_productionsite.py
Due: check-backend

feat: allow filtering enabled entities
  web/resources/api/entities.py
Due: check-backend

fix: allow enabling entities with none or many pending users
  web/entity/services/enable_entity.py
Due: check-backend

fix: show only enabled entities on front
  front/src/account/components/access-rights.tsx
  front/src/carbure/api.ts
Due: check-frontend

fix saf merge: delete saf/api folder
  web/saf/api/__init__.py
  web/saf/api/airline/tests/__init__.py
  web/saf/api/airline/tests/tests_accept_ticket.py
  web/saf/api/airline/tests/tests_reject_ticket.py
  web/saf/api/airline/tests/tests_snapshot.py
  web/saf/api/airline/tests/tests_ticket_details.py
  web/saf/api/airline/tests/tests_ticket_filters.py
  web/saf/api/airline/tests/tests_tickets.py
  web/saf/api/airline/tests/tests_years.py
  web/saf/api/operator/tests/__init__.py
  web/saf/api/operator/tests/test_viewset/__init__.py
  web/saf/api/operator/tests/test_viewset/tests_accept_ticket.py
  web/saf/api/operator/tests/test_viewset/tests_assign_ticket.py
  web/saf/api/operator/tests/test_viewset/tests_cancel_ticket.py
  web/saf/api/operator/tests/test_viewset/tests_grouped_assign_ticket.py
  web/saf/api/operator/tests/test_viewset/tests_reject_ticket.py
  web/saf/api/operator/tests/test_viewset/tests_snapshot.py
  web/saf/api/operator/tests/test_viewset/tests_ticket_details.py
  web/saf/api/operator/tests/test_viewset/tests_ticket_filters.py
  web/saf/api/operator/tests/test_viewset/tests_ticket_source_details.py
  web/saf/api/operator/tests/test_viewset/tests_ticket_source_filters.py
  web/saf/api/operator/tests/test_viewset/tests_ticket_sources.py
  web/saf/api/operator/tests/test_viewset/tests_tickets.py
  web/saf/api/operator/tests/test_viewset/tests_years.py
  web/saf/api/operator/tests/tests_create_ticket_sources.py
  web/saf/api/operator/tests/tests_years.py
Due: check-backend

feat(elec): update snapshot to return correct count when changing filters
  web/elec/api/admin/audit/charge_points/applications.py
  web/elec/api/admin/audit/meter_readings/applications.py
  web/elec/api/admin/audit/snapshot.py
Due: check-backend

fix: fix storybook screenshots
  front/.storybook/preview.tsx
  front/src/common/components/portal.tsx
Due: check-frontend

fix: remove warn storybook
  front/.storybook/preview-head.html
  front/src/account/__test__/api.ts
  front/src/carbure/__test__/api.ts
  front/src/controls/__test__/api.ts
  front/src/settings/__test__/server.ts
  front/src/transactions/__test__/api.ts
Due: check-frontend

fix(site): set correct entity owner for depot, display entity owners in site admin page
  web/transactions/admin.py
  web/transactions/migrations/0006_move_data_to_site.py
Due: check-backend

fix:(elec) add log to display list of cp not deleted
  web/elec/management/commands/remove_duplicate_cp.py
Due: check-backend

feat: update readme for type safety + add pre push command
  .pre-commit-config.yaml
  api-schema.yaml
  front/README.md
  front/package.json
  package.json
Due: check-frontend

fix: fix errors ts related to the schema
  .pre-commit-config.yaml
  api-schema.yaml
  front/src/api-schema.ts
  front/src/carbure/__test__/data.ts
  front/src/carbure/types.ts
  front/src/common/hooks/query-builder-2.ts
  front/src/elec-charge-points/pages/list/charge-point/[id]/update/index.tsx
  front/src/elec/components/meter-readings/table.tsx
  front/src/lot-add/components/ghg-fields.tsx
  front/src/saf/pages/operator/__test__/data.ts
  front/src/saf/types.ts
  front/src/settings/api/delivery-sites.ts
  front/src/settings/components/delivery-site/create-delivery-site-form.tsx
  front/src/settings/components/delivery-site/delivery-site.hooks.tsx
  front/src/settings/components/delivery-site/delivery-site.tsx
  front/src/settings/components/production-site.tsx
Due: check-frontend

feat: continue integration layout
  front/index.html
  front/src/auth/components/login.tsx
  front/src/carbure/assets/css/index.css
  front/src/carbure/components/home.tsx
  front/src/carbure/index.tsx
  front/src/common/assets/images/MTE.svg
  front/src/common/assets/images/Marianne.svg
  front/src/common/assets/images/banner.light.webp
  front/src/common/assets/images/betagouvfr.svg
  front/src/common/assets/images/carbure.svg
  front/src/common/assets/images/france-relance.png
  front/src/common/assets/images/france-relance.webp
  front/src/common/assets/images/logo-fabriquenumerique.svg
  front/src/common/assets/images/map-pin.svg
  front/src/common/assets/images/operators.svg
  front/src/common/assets/images/republique.svg
  front/src/common/assets/images/schema.svg
  front/src/common/assets/images/traders.svg
  front/src/common/assets/images/union-europeenne.png
  front/src/common/assets/images/union-europeenne.webp
  front/src/common/hooks/routes.ts
  front/src/common/layouts/navigation/footer/footer.module.css
  front/src/common/layouts/navigation/footer/footer.tsx
  front/src/common/layouts/navigation/footer/index.ts
  front/src/common/layouts/navigation/index.ts
  front/src/common/layouts/navigation/navigation-layout.tsx
  front/src/common/layouts/navigation/private/private-navigation.module.css
  front/src/common/layouts/navigation/private/private-navigation.tsx
  front/src/common/layouts/navigation/private/sidebar/entity-selector/entity-selector.tsx
  front/src/common/layouts/navigation/public/logo/logo.tsx
  front/src/common/layouts/navigation/public/public-navigation.tsx
  front/src/common/utils/routes.ts
  front/src/elec-audit-admin/components/sample/sample-map.tsx
Due: check-frontend

refactor: clean ui for new navigation
  front/src/carbure/assets/css/index.css
  front/src/carbure/components/home.module.css
  front/src/common/components/scaffold.module.css
  front/src/elec-charge-points/charge-points.tsx
  front/src/elec-charge-points/pages/list/index.tsx
  front/src/elec-charge-points/pages/meter-readings/index.tsx
  front/src/elec-charge-points/pages/pending/index.tsx
Due: check-frontend

feat: add button to new company
  front/package.json
  front/src/account/index.tsx
  front/src/carbure/index.tsx
  front/src/common/layouts/navigation/private/sidebar/private-sidebar.tsx
  front/src/common/layouts/navigation/private/user-menu/user-menu.tsx
  front/src/common/utils/routes.ts
  front/src/index.tsx
Due: check-frontend

feat: start refactor operator elec pages
  front/src/common/layouts/navigation/index.ts
  front/src/common/layouts/navigation/navigation-layout.tsx
  front/src/common/layouts/navigation/private/private-navigation.tsx
  front/src/common/layouts/navigation/private/sidebar/child-item/child-item.tsx
  front/src/common/utils/routes.ts
  front/src/elec/components/provision-certificates/list.tsx
  front/src/elec/components/transfer-certificates/list-cpo.tsx
  front/src/elec/cpo.tsx
  front/src/elec/operator.tsx
Due: check-frontend

feat(tiruert): add new models
  web/carbure/settings.py
  web/tiruert/__init__.py
  web/tiruert/migrations/__init__.py
  web/tiruert/models/__init__.py
  web/tiruert/models/operation.py
  web/tiruert/models/operation_detail.py
Due: check-backend

fix: update commands
  api-schema.yaml
  front/package.json
  front/src/api-schema.ts
Due: check-frontend

fix: remove temporarily pre-push
  .pre-commit-config.yaml
Due: none

fix: try to understand why pre push fails
  .pre-commit-config.yaml
  package.json
Due: none

fix: fix all ts errors related to depots
  api-schema.yaml
  front/package.json
  front/src/api-schema.ts
  front/src/carbure/__test__/data.ts
  front/src/lot-add/components/ghg-fields.tsx
  front/src/lot-add/components/lot-form.tsx
  front/src/lot-add/components/production-fields.tsx
  front/src/registry/components/depots.tsx
  front/src/settings/components/delivery-site/create-delivery-site-dialog.tsx
  front/src/settings/components/delivery-site/create-delivery-site-form.tsx
  front/src/settings/components/delivery-site/delivery-site.tsx
  front/src/settings/components/production-site-dialog.tsx
  front/src/settings/components/production-site.tsx
  front/src/transactions/actions/split.tsx
Due: check-frontend

feat(site): Remove depot_id, depot_type and site_id from api responses
  web/transactions/admin.py
  web/transactions/models/depot.py
  web/transactions/models/production_site.py
Due: check-backend

refactor: add all titles and remove tabs
  front/public/locales/en/translation.json
  front/public/locales/fr/translation.json
  front/src/account/index.tsx
  front/src/common/components/menu2/simple-menu/simple-menu.tsx
  front/src/common/components/scaffold.module.css
  front/src/common/components/tabs.module.css
  front/src/common/layouts/navigation/private/private-navigation.module.css
  front/src/common/layouts/navigation/private/sidebar/entity-selector/entity-selector.tsx
  front/src/common/layouts/navigation/private/sidebar/private-sidebar.hooks.ts
  front/src/common/layouts/navigation/private/sidebar/private-sidebar.tsx
  front/src/common/layouts/navigation/private/user-menu/user-menu.tsx
  front/src/common/utils/routes.ts
  front/src/controls/index.tsx
  front/src/dashboard/index.tsx
  front/src/elec-auditor/index.tsx
  front/src/elec/cpo.tsx
  front/src/registry/index.tsx
  front/src/saf/pages/operator/index.tsx
  front/src/saf/pages/operator/ticket-sources/index.tsx
  front/src/saf/pages/operator/tickets/index.tsx
  front/src/settings/index.tsx
  front/src/stats/index.tsx
  front/src/transactions/components/lots/index.hooks.ts
  front/src/transactions/components/lots/index.tsx
  front/src/transactions/components/status.tsx
  front/src/transactions/index.tsx
Due: check-frontend

Fix spectacular error on enable_entity
  web/entity/views/enable_entity.py
Due: check-backend

fix: fix error delivery site
  front/src/settings/components/delivery-site/create-delivery-site-form.tsx
Due: check-frontend

feat: change pages admin
  front/src/common/hooks/routes.ts
  front/src/common/layouts/navigation/private/sidebar/private-sidebar.hooks.ts
  front/src/common/utils/routes.ts
  front/src/elec-admin/index.tsx
  front/src/elec-admin/pages/provision-certificates/index.tsx
  front/src/elec-admin/pages/transfer-certificates/index.tsx
Due: check-frontend

Fix spectacular error on enable_entity
  api-schema.yaml
  front/src/api-schema.ts
  web/entity/urls.py
  web/entity/views/__init__.py
  web/entity/views/enable_entity.py
Due: check-backend, check-frontend

feat: continue sidebar admin
  front/src/common/components/scaffold.module.css
  front/src/common/components/tabs.module.css
  front/src/common/layouts/navigation/private/sidebar/private-sidebar.hooks.ts
  front/src/common/utils/routes.ts
  front/src/elec-audit-admin/components/charge-points/list.tsx
  front/src/elec-audit-admin/components/meter-readings/list.tsx
  front/src/elec-audit-admin/index.tsx
Due: check-frontend

fix: fix last error ts
  front/src/companies-admin/api.ts
  package.json
Due: check-frontend

Fix spectacular error: remove body
  api-schema.yaml
  front/src/api-schema.ts
  web/entity/views/enable_entity.py
Due: check-backend, check-frontend

fix: fix user menu name
  front/src/carbure/components/pending.module.css
  front/src/carbure/components/pending.tsx
  front/src/carbure/hooks/user.ts
  front/src/carbure/types.ts
  front/src/common/layouts/navigation/private/sidebar/private-sidebar.tsx
  front/src/common/layouts/navigation/private/user-menu/user-menu.tsx
Due: check-frontend

fix: fix user menu
  front/src/carbure/__test__/data.ts
  front/src/common/layouts/navigation/private/user-menu/user-menu.tsx
Due: check-frontend

feat(tiruert): add api routes
  web/carbure/api/__init__.py
  web/tiruert/migrations/0001_initial.py
  web/tiruert/models/operation.py
  web/tiruert/permissions.py
  web/tiruert/serializers/__init__.py
  web/tiruert/serializers/operation.py
  web/tiruert/serializers/operation_detail.py
  web/tiruert/urls.py
  web/tiruert/views/__init__.py
  web/tiruert/views/operation/__init__.py
  web/tiruert/views/operation/mixins/__init__.py
  web/tiruert/views/operation/mixins/accept.py
  web/tiruert/views/operation/mixins/reject.py
  web/tiruert/views/operation/operation.py
Due: check-backend

fix: update wording dc
  front/public/locales/en/translation.json
  front/public/locales/fr/translation.json
  front/src/double-counting/components/quotas-table.tsx
Due: check-frontend

fix entity tests
  front/README.md
  web/entity/tests/tests_enable_entity.py
  web/entity/views/enable_entity.py
Due: check-backend, check-frontend
