Repository MTES-MCT/carbure: changes, and which GitLab CI jobs are due for each by the changed paths.
All: check-backend, check-frontend

check-backend:
  image: python:3.12
  cache:
  - key:
      files:
      - Pipfile.lock
    paths:
    - .cache/pip/
    - .venv/
  before_script:
  - pip install pipenv
  - pipenv install --dev --deploy --ignore-pipfile
  stage: check
  services:
  - mysql:8.0
  - redis:latest
  script:
  - export CARBURE_HOME=$(pwd)
  ...

check-frontend:
  image: node:latest
  cache:
  - key:
      files:
      - front/package-lock.json
    paths:
    - front/.npm/
  before_script:
  - cd front
  - npm ci --cache .npm --prefer-offline
  stage: check
  script:
  - npm run lint
  - npm run build
  - npx chromatic
  interruptible: true

cleanup: extract method
  web/auth/views/mixins/request_activation_link.py
Due: check-backend

fix: use `CarbureEnv.get_base_url()` to inject URL into notif email
  web/auth/tests/test_request_activation_link.py
  web/auth/views/mixins/request_activation_link.py
  web/templates/emails/account_activation_email.html
  web/templates/emails/account_activation_email.txt
Due: check-backend

cleanup: inline variable
  web/auth/tests/test_request_activation_link.py
Due: check-backend

cleanup: rename test
  web/auth/tests/test_request_activation_link.py
Due: check-backend

cleanup: move code block
  web/auth/views/mixins/request_activation_link.py
Due: check-backend

cleanup: move instruction
  web/auth/tests/test_request_activation_link.py
Due: check-backend

feat(tiruer): on objective page, add link to download 2023 mac
  api-schema.yaml
  front/src/accounting/pages/teneur/api.ts
  front/src/accounting/pages/teneur/components/objective-section/objective-section.tsx
  front/src/accounting/pages/teneur/components/overall-progress/overall-progress.tsx
  front/src/api-schema.ts
  web/tiruert/views/mac_fossil_fuel/excel_export.py
  web/tiruert/views/operation/mixins/excel_export.py
Due: check-backend, check-frontend

small fixes on tiruert and lots filters
  front/src/accounting/pages/teneur/components/card-progress/card-progress.tsx
  front/src/controls/components/lots/index.tsx
  front/src/transactions/components/filters.tsx
Due: check-frontend

feat(elec): qualicharge - add siren to entity resource endpoint
  web/core/serializers.py
  web/resources/views/entity.py
Due: check-backend

fix: use `CarbureEnv.get_base_url()` in notif mails
  web/auth/tests/test_register.py
  web/auth/views/mixins/register.py
  web/templates/emails/account_activation_email.html
Due: check-backend

fix: clarify we check email unicity
  web/auth/tests/test_register.py
Due: check-backend

cleanup: rename tests
  web/auth/tests/test_register.py
Due: check-backend

cleanup: rename test
  web/auth/tests/test_register.py
Due: check-backend

cleanup: move assertions to another test module
  web/auth/tests/test_register.py
  web/auth/tests/test_user_creation.py
Due: check-backend

refactor: move tests to proper module
  web/auth/tests/test_register.py
  web/auth/tests/test_user_creation.py
Due: check-backend

cleanup: remove dead code
  web/auth/serializers/user_creation.py
Due: check-backend

cleanup: extract and move function
  web/auth/views/mixins/mail_helper.py
  web/auth/views/mixins/register.py
  web/entity/views/users/mixins/invite_user.py
Due: check-backend

cleanup: use explicit parameters
  web/auth/views/mixins/mail_helper.py
Due: check-backend

cleanup: extract and move function
  web/auth/views/mixins/mail_helper.py
  web/entity/views/users/mixins/invite_user.py
Due: check-backend

cleanup: narrow parameter scope
  web/auth/views/mixins/mail_helper.py
  web/entity/views/users/mixins/invite_user.py
Due: check-backend

cleanup: uncouple email types from routing logic
  web/auth/views/mixins/mail_helper.py
  web/entity/views/users/mixins/invite_user.py
Due: check-backend

fix(tiruert): typescript errors
  front/src/accounting/components/from-depot-form/from-depot-form.tsx
  front/src/accounting/components/from-depot-form/from-depot-form.utils.ts
  front/src/accounting/pages/balances/biofuels/debit-operation-dialog/exportation-dialog/exportation-dialog.tsx
  front/src/accounting/pages/teneur/__test__/data.ts
Due: check-frontend

feat(elec): add registration_id in unit tests for entity response
  web/elec/api/admin/charge_points/tests_charge_points.py
  web/elec/api/admin/meter_readings/tests_meter_readings.py
  web/elec/api/cpo/charge_points/tests_charge_points.py
  web/elec/api/cpo/meter_readings/tests_meter_readings.py
  web/saf/tests/tests_ticket_source_details.py
Due: check-backend

feat(saf): Add new entity type SAF TRADER
  web/core/migrations/0045_alter_entity_entity_type.py
  web/core/models.py
Due: check-backend

feat(saf): allow new saf trader entity type to access saf endpoints
  web/saf/filters/ticket.py
  web/saf/views/client.py
  web/saf/views/extra/snapshot.py
  web/saf/views/extra/years.py
  web/saf/views/ticket/mixins/filter.py
  web/saf/views/ticket/ticket.py
  web/saf/views/ticket_source/ticket_source.py
Due: check-backend

feat(saf): add new SAF trader entity type to front
  front/src/common/hooks/entity.ts
  front/src/common/layouts/navigation/private/sidebar/entity-selector/entity-selector.tsx
  front/src/common/utils/normalizers.ts
  front/src/companies-admin/components/add-entity-dialog.tsx
  front/src/companies-admin/components/entity-summary.tsx
  front/src/companies-admin/routes/entity-details.tsx
  front/src/companies/components/company-form.tsx
Due: check-frontend

chore(saf): update api schema
  api-schema.yaml
  front/src/api-schema.ts
Due: check-frontend

feat(saf): allow saf traders to access saf pages
  front/src/common/index.tsx
  front/src/common/layouts/navigation/private/sidebar/hooks/useSaf.ts
  front/src/saf/components/assignment/grouped-assignment.tsx
  front/src/saf/components/assignment/simple-assignment/simple-assignment.tsx
Due: check-frontend

feat(tiruert): display energy basis on front and change MAC dl link
  front/src/accounting/pages/teneur/api.ts
  front/src/accounting/pages/teneur/components/overall-progress/overall-progress.tsx
  front/src/accounting/pages/teneur/types.ts
  web/tiruert/serializers/objective.py
  web/tiruert/views/objective/objective.py
Due: check-backend, check-frontend

feat(tiruert): remove cession modal, keep only transfert modal
  front/src/accounting/pages/balances/biofuels/debit-operation-dialog/debit-operation-dialog.tsx
Due: check-frontend

fix: use proper mail template
  web/auth/tests/test_request_password_reset.py
  web/auth/views/mixins/request_password_reset.py
Due: check-backend

cleanup: move methods to module functions
  web/auth/views/mixins/request_activation_link.py
  web/auth/views/mixins/request_otp.py
Due: check-backend

feat(tiruert): display warning message operations validation, and fix penalty display on objective page
  front/src/accounting/pages/operations/biofuels/operations.tsx
  front/src/accounting/pages/teneur/components/card-progress/card-progress.tsx
  front/src/accounting/pages/teneur/components/overall-progress/overall-progress.tsx
Due: check-frontend

fix(dc): add biofuel validation and change xlsx model file
  front/src/double-counting/components/upload-dialog.tsx
  web/doublecount/parser/excel_to_carbure_convertor.py
Due: check-backend, check-frontend

feat(tiruert): operations from 'declaration durabilité' are VALIDATED by default (during beta version)
  web/tiruert/models/operation.py
Due: check-backend

feat(lot): add autocomplete field for DC agreement in lot form, and fill in others production info
  api-schema.yaml
  front/src/api-schema.ts
  front/src/common/api.ts
  front/src/double-counting/components/agreement-public-list.tsx
  front/src/lot-add/components/production-fields.tsx
  web/certificates/serializers.py
  web/resources/urls.py
  web/resources/views/__init__.py
  web/resources/views/dc_agreements.py
Due: check-backend, check-frontend

refacto: continue refacto DC application
  front/src/common/components/inputs2/radio/radio.stories.tsx
  front/src/common/components/inputs2/radio/radio.tsx
  front/src/double-counting-admin/components/applications/application-info.tsx
  front/src/double-counting-admin/components/applications/application-tabs.tsx
  front/src/double-counting/components/application-details-dialog.tsx
  front/src/settings/components/production-site-dialog.tsx
Due: check-frontend

Path conditions:
  check-backend: any of: web/**/*, .gitlab-ci.yml
  check-frontend: any of: front/**/*, .gitlab-ci.yml
