Repository MTES-MCT/carbure: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-ci-image, check-backend, check-frontend

.gitlab-ci.yml:

stages:
  - prepare
  - check
  - deploy

workflow:
  rules:
  # 1. Don't run pipelines for MR drafts.
  # 2. Don't run branch pipelines when there's an open MR for the branch (run the MR pipeline instead).
  # 3. Run all other MR pipelines
  # 4. Run branch pipelines for dev, preview and master
  # 5. Else, don't run it
    - if: $CI_PIPELINE_SOURCE == "merge_request_event" && $CI_MERGE_REQUEST_TITLE =~ /^Draft:/ # 1
      when: never
    - if: $CI_COMMIT_BRANCH && $CI_OPEN_MERGE_REQUESTS # 2
      when: never
    - if: $CI_PIPELINE_SOURCE == 'merge_request_event' # 3
      when: always
    - if: $CI_COMMIT_BRANCH == "dev" || $CI_COMMIT_BRANCH == "preview" || $CI_COMMIT_BRANCH == "master" # 4
      when: always
    - when: never # 5

variables:
  MYSQL_DATABASE: carbure_mysql_test_db
  MYSQL_ROOT_PASSWORD: carbure_mysql_ci_db_password

# use prebuild CI image when running checks
.checks:
  image: $CI_REGISTRY/$CI_PROJECT_PATH/ci-image:latest
  before_script:
    - mv /app/.venv ./.venv
    - mv /app/front/node_modules ./front

# prepare git env to push new code to scalingo
.scalingo:
  image: alpine:latest
  before_script:
    - mkdir ~/.ssh
    - apk add --update git openssh-client
    - eval $(ssh-agent -s)
    - echo "$SCALINGO_SSH_PRIVATE_KEY" | tr -d '\r' | ssh-add -
    - ssh-keyscan $SCALINGO_SSH_HOST $SCALINGO_SSH_HOST_SECNUMCLOUD >> ~/.ssh/known_hosts
    - chmod 644 ~/.ssh/known_hosts
    - git config user.name $GIT_USER_NAME
    - git config user.email $GIT_USER_EMAIL
    - git remote add scalingo-dev $SCALINGO_GIT_REMOTE_DEV || true
    - git remote add scalingo-staging $SCALINGO_GIT_REMOTE_STAGING || true
    - git remote add scalingo-prod $SCALINGO_GIT_REMOTE_PROD || true
    - git fetch origin $CI_COMMIT_BRANCH --unshallow
    - git checkout $CI_COMMIT_BRANCH

build-ci-image:
  stage: prepare
  image: docker:stable
  services:
    - docker:dind
  script:
    - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
    - docker build -f ci/Dockerfile -t $CI_REGISTRY/$CI_PROJECT_PATH/ci-image:latest .
    - docker push $CI_REGISTRY/$CI_PROJECT_PATH/ci-image:latest    
  rules:
    - changes: 
      - ci/Dockerfile
      - Pipfile
      - Pipfile.lock
      - front/package.json
      - front/package-lock.json

check-backend:
  stage: check
  extends: .checks
  services:
    - mysql:8.0
    - redis:latest
  script:
    - export CARBURE_HOME=$(pwd)
    - export DATABASE_URL=mysql://root:$MYSQL_ROOT_PASSWORD@mysql:3306/$MYSQL_DATABASE
    - export REDIS_URL=redis://redis:6379
    - pipenv run ruff check
    - pipenv run ruff format --check
    - TEST=1 pipenv run python web/manage.py test web
  rules:
    - changes:
      - web/**/*
    
check-frontend:
  stage: check
  extends: .checks
  script:
    - cd front
    - npx eslint --ext .ts,.tsx src/
    - npm test
  rules:
    - changes:
      - front/**/*

deploy-dev:
  stage: deploy
  extends: .scalingo
  only:
    - dev
    - preview
  script:
    - git push scalingo-dev $CI_COMMIT_BRANCH:master -f

deploy-staging:
  stage: deploy
  extends: .scalingo
  only:
    - master
  script:
    - git push scalingo-staging master -f

deploy-prod:
  stage: deploy
  extends: .scalingo
  when: manual
  only:
    - master
  script:
    - git push scalingo-prod master -f

feat: vite works like a charm
  front/Dockerfile
  front/index.html
  front/package-lock.json
  front/package.json
  front/vite.config.ts
  gateway/nginx.conf
Due: build-ci-image, check-frontend

fix: fix lot details test
  front/src/transaction-details/__test__/api.ts
  front/src/transaction-details/__test__/lot-details.spec.tsx
Due: check-frontend

fix: remove rules check frontend build
  .gitlab-ci.yml
Due: none

fix: throw error for unused vars
  .gitlab-ci.yml
  front/.eslintrc.json
  front/src/double-counting-admin/components/applications/application-details-dialog.tsx
  front/src/elec-charge-points/pages/list/api.ts
  front/src/elec-charge-points/pages/list/index.tsx
  front/src/elec-charge-points/pages/list/status-switcher.tsx
  front/src/elec-charge-points/pages/list/table/index.hooks.tsx
  front/src/elec-charge-points/pages/list/table/status.tsx
Due: check-frontend

fix: fix ts after rebase
  front/src/elec-charge-points/pages/list/__test__/api.ts
Due: check-frontend

fix: specify custom hmr path
  front/vite.config.ts
  gateway/nginx.conf
Due: check-frontend

fix: try to change static assets dir
  web/carbure/settings.py
Due: check-backend

fix: move assets to static
  front/vite.config.ts
Due: check-frontend

fix: move assets to static
  web/carbure/settings.py
Due: check-backend

fix: change import folder leaflet
  front/src/elec-audit-admin/components/charge-points/details-pending.tsx
  front/src/elec-audit-admin/components/meter-readings/details-pending.tsx
  front/src/elec-audit-admin/components/sample/application-generation.tsx
  front/src/elec-audit-admin/components/sample/sample-map.tsx
  scalingo.json
Due: check-frontend

[back] transactions refactoring
  web/transactions/filters/__init__.py
  web/transactions/filters/lots.py
  web/transactions/tests/__init__.py
  web/transactions/tests/tests_certif_mayhem.py
  web/transactions/tests/tests_corrections.py
  web/transactions/tests/tests_lots_flow.py
  web/transactions/tests/tests_lots_units.py
  web/transactions/tests/tests_ml_checks.py
  web/transactions/tests/tests_utils.py
  web/transactions/urls.py
  web/transactions/views/__init__.py
  web/transactions/views/lots/__init__.py
  web/transactions/views/lots/lots.py
  web/transactions/views/lots/mixins/__init__.py
  web/transactions/views/lots/mixins/accept/__init__.py
  web/transactions/views/lots/mixins/accept/accept_blending.py
  web/transactions/views/lots/mixins/accept/accept_consumption.py
  web/transactions/views/lots/mixins/accept/accept_direct_delivery.py
  web/transactions/views/lots/mixins/accept/accept_export.py
  web/transactions/views/lots/mixins/accept/accept_in_stock.py
  web/transactions/views/lots/mixins/accept/accept_processing.py
  web/transactions/views/lots/mixins/accept/accept_rfc.py
  web/transactions/views/lots/mixins/accept/accept_trading.py
  web/transactions/views/lots/mixins/accept/cancel_accept.py
  web/transactions/views/lots/mixins/add.py
  web/transactions/views/lots/mixins/add_excel.py
  web/transactions/views/lots/mixins/export.py
  web/transactions/views/lots/mixins/fix/__init__.py
  web/transactions/views/lots/mixins/fix/approve_fix.py
  web/transactions/views/lots/mixins/fix/request_fix.py
  web/transactions/views/lots/mixins/fix/submit_fix.py
  web/transactions/views/lots/mixins/list.py
  web/transactions/views/lots/mixins/retrieve.py
  web/transactions/views/lots/mixins/send.py
  web/transactions/views/lots/mixins/utils.py
Due: check-backend

[back] elec refactoring
  web/elec/filters/__init__.py
  web/elec/filters/applications.py
  web/elec/filters/transfer_certificates.py
  web/elec/models/elec_charge_point_application.py
  web/elec/serializers/elec_charge_point.py
  web/elec/urls.py
  web/elec/views/__init__.py
  web/elec/views/charge_points.py
  web/elec/views/charge_points_applications/__init__.py
  web/elec/views/charge_points_applications/charge_points_applications.py
  web/elec/views/charge_points_applications/mixins/__init__.py
  web/elec/views/charge_points_applications/mixins/accept.py
  web/elec/views/charge_points_applications/mixins/export.py
  web/elec/views/charge_points_applications/mixins/filter.py
  web/elec/views/charge_points_applications/mixins/generate_sample.py
  web/elec/views/charge_points_applications/mixins/get_sample.py
  web/elec/views/charge_points_applications/mixins/reject.py
  web/elec/views/transfert_certificates.py
Due: check-backend

[back] refactoring fixes
  web/carbure/api/__init__.py
  web/carbure/settings.py
  web/carbure/urls.py
Due: check-backend

[back] fix schema
  web/saf/views/extra/years.py
Due: check-backend

feat: openapi ts ready to use
  api-schema.yaml
  front/package.json
  front/src/api-schema.d.ts
  front/src/common/services/api-fetch.ts
  front/src/common/services/carbure-api.schema.d.ts
  front/src/saf/pages/airline/api.ts
  front/tsconfig.json
  package.json
Due: build-ci-image, check-frontend

[back] SAF refactoring
  Pipfile
  Pipfile.lock
  web/carbure/urls.py
  web/saf/serializers/saf_ticket_source.py
  web/saf/views/extra.py
  web/saf/views/ticket.py
  web/saf/views/ticket_source.py
Due: build-ci-image, check-backend

feat(openapi-to-ts): generate ts schema from openapi spec
  front/carbure-api.yaml
  front/package-lock.json
  front/package.json
  front/src/common/services/api-fetch.ts
  front/src/common/services/carbure-api.schema.d.ts
Due: build-ci-image, check-frontend

feat: fix tsc error
  front/.eslintrc.json
  front/package.json
  front/src/common/components/input.tsx
  front/src/common/components/table.tsx
  front/src/common/components/tabs.tsx
  front/src/common/hooks/store.ts
  front/src/common/hooks/years.tsx
  front/src/common/services/api-fetch.ts
  front/src/common/utils/formatters.ts
  front/src/control-details/components/lot.tsx
  front/src/controls/actions/update-many-errors.tsx
  front/src/double-counting-admin/components/applications/application-details-dialog.tsx
  front/src/double-counting/components/year-table.tsx
  front/src/elec-admin/pages/provision-certificates/index.tsx
  front/src/elec-audit-admin/components/sample/application-generation.tsx
  front/src/elec-auditor/components/details-pending.tsx
  front/src/saf/components/assignment/grouped-assignment.tsx
  front/src/saf/pages/airline/api.ts
  front/src/settings/__test__/server.ts
  front/src/transaction-details/components/lots/history.tsx
  front/src/transaction-details/components/lots/index.tsx
  front/src/transactions/__test__/helpers.ts
  front/src/transactions/actions/duplicate.tsx
  front/src/transactions/components/lots/lot-table.tsx
  front/tsconfig.json
Due: build-ci-image, check-frontend

Fix/double count export
  web/doublecount/api/admin/applications/export_application.py
  web/doublecount/helpers.py
  web/templates/word/double_count_approval_template.docx
Due: check-backend

fix: meter reading date is now read correctly
  web/elec/api/cpo/meter_readings/add_application.py
  web/elec/api/cpo/meter_readings/check_application.py
  web/elec/services/import_meter_reading_excel.py
Due: check-backend

fix: conflicts
  web/elec/services/import_meter_reading_excel.py
Due: check-backend

fix: more robust duplicate detection in meter reading upload
  web/elec/api/cpo/meter_readings/add_application.py
  web/elec/api/cpo/meter_readings/check_application.py
  web/elec/api/cpo/meter_readings/tests_meter_readings.py
  web/elec/services/import_meter_reading_excel.py
Due: check-backend

feat: fix the generic type for useYears saf
  api-schema.yaml
  front/src/api-schema.d.ts
  front/src/common/services/api-axios.ts
  front/src/common/services/api-fetch.ts
  front/src/common/services/api-fetch.types.ts
  front/src/saf/hooks/years.tsx
  front/src/saf/pages/airline/api.ts
  front/src/saf/pages/airline/index.tsx
Due: check-frontend

fix: remove quotes in formatted string
  web/elec/services/import_meter_reading_excel.py
Due: check-backend

feat: type generic useYears works
  front/src/common/services/api-fetch.types.ts
  front/src/saf/hooks/years.tsx
Due: check-frontend

feat: continue change endpoints saf
  front/src/common/services/api-fetch.types.ts
  front/src/saf/pages/airline/api.ts
  front/src/saf/pages/airline/index.tsx
  front/src/saf/types.ts
Due: check-frontend
