Repository MTES-MCT/carbure: changes, and which GitLab CI jobs are due for each by the changed paths.
All: check-backend, check-frontend

.gitlab-ci.yml:

stages:
  - check


workflow:
  rules:
    # 1. Don't run pipelines for MR drafts.
    - if: $CI_PIPELINE_SOURCE == "merge_request_event" && $CI_MERGE_REQUEST_TITLE =~ /^Draft:/
      when: never

    # 2. Don't run branch pipelines when there's an open MR for the branch (run the MR pipeline instead).
    - if: $CI_COMMIT_BRANCH && $CI_OPEN_MERGE_REQUESTS
      when: never

    # 3. Run all other MR pipelines
    - if: $CI_PIPELINE_SOURCE == 'merge_request_event'
      when: always

    # 4. Run branch pipelines for dev and master
    - if: $CI_COMMIT_BRANCH == "dev" || $CI_COMMIT_BRANCH == "master"
      when: always

    # 5. Else, don't run it
    - when: never


variables:
  MYSQL_DATABASE: carbure_mysql_test_db
  MYSQL_ROOT_PASSWORD: carbure_mysql_ci_db_password
  PIP_CACHE_DIR: "$CI_PROJECT_DIR/.cache/pip"
  PIPENV_VENV_IN_PROJECT: true


# job: run linting and tests for backend
check-backend:
  stage: check
  extends: .backend
  services:
    - mysql:8.0
    - redis:latest
  script:
    - export CARBURE_HOME=$(pwd)
    - export DATABASE_URL=mysql://root:$MYSQL_ROOT_PASSWORD@mysql:3306/$MYSQL_DATABASE
    - export REDIS_URL=redis://redis:6379
    - pipenv run ruff check
    - pipenv run ruff format --check
    - TEST=1 pipenv run python web/manage.py test web


# job: run linting and tests for frontend
check-frontend:
  stage: check
  extends: .frontend
  script:
    - npm run lint
    - npm run build
    - npx chromatic
  interruptible: true


.backend:
  image: python:3.12
  cache:
    - key:
        files:
          - Pipfile.lock
      paths:
        - .cache/pip/
        - .venv/
  before_script:
    - pip install pipenv
    - pipenv install --dev --deploy --ignore-pipfile
  rules:
    - changes:
      - web/**/*
      - .gitlab-ci.yml


.frontend:
  image: node:latest
  cache:
    - key:
        files:
          - front/package-lock.json
      paths:
        - front/.npm/
  before_script:
    - cd front
    - npm ci --cache .npm --prefer-offline
  rules:
    - changes:
      - front/**/*
      - .gitlab-ci.yml

fix(elec): skip article_2 PDCs when generating provision certificates from meter readings
  web/elec/api/admin/audit/meter_readings/accept_application.py
Due: check-backend

refactor(elec): change how meter reading exports are generated
  web/elec/api/admin/meter_readings/application_details.py
  web/elec/api/cpo/meter_readings/application_details.py
  web/elec/api/cpo/meter_readings/tests_meter_readings.py
Due: check-backend

fix(elec): use the right previous readings when importing new readings
  web/elec/api/cpo/meter_readings/add_application.py
  web/elec/api/cpo/meter_readings/check_application.py
  web/elec/repositories/meter_reading_repository.py
  web/elec/services/import_meter_reading_excel.py
Due: check-backend

feat: display nominal power
  api-schema.yaml
  front/src/api-schema.ts
  front/src/elec-charge-points/components/charge-point-list-table/index.hooks.tsx
  front/src/elec-charge-points/components/charge-point-list-table/index.tsx
  web/elec/serializers/elec_charge_point.py
Due: check-backend, check-frontend

feat(1263): mandatory nominal power
  api-schema.yaml
  front/public/templates/points-de-recharge-inscription.xlsx
  front/src/api-schema.ts
  web/elec/fixtures/full_ac_charge_points_error.xlsx
  web/elec/fixtures/full_ac_charge_points_ok.xlsx
  web/elec/fixtures/partial_dc_charge_points_ok.xlsx
  web/elec/services/import_charge_point_excel.py
  web/elec/services/transport_data_gouv.py
  web/locale/en/LC_MESSAGES/django.po
Due: check-backend, check-frontend

feat(tiruert): update 'status' list for operations
  web/tiruert/models/operation.py
  web/tiruert/views/operation/mixins/accept.py
Due: check-backend

feat(tiruert): update entity model to add redevable info
  web/core/migrations/0040_entity_accise_number_entity_is_tiruert_liable.py
  web/core/models.py
Due: check-backend

feat(tiruert): add is_tiruert_liable parameter to entity resource api
  web/resources/views/entity.py
Due: check-backend

feat(tiruert): django command to import fossil fuels mise a consommation
  web/carbure/settings.py
  web/tiruert/management/__init__.py
  web/tiruert/management/commands/__init__.py
  web/tiruert/management/commands/import_fossil_fuel_mac.py
Due: check-backend

feat(tiruert): add 'id' info to api/resources/countries endpoint
  web/doublecount/serializers.py
Due: check-backend

feat(tiruert): fix transaction.atomic()
  web/tiruert/views/operation/mixins/correct.py
Due: check-backend

feat(tiruert): fixtures to create fuels and fuel categories
  bin/post_deploy.sh
Due: none

feat(tiruert): add 'total_quantity' in pagination of operations list endpoint
  web/tiruert/models/operation.py
  web/tiruert/serializers/operation.py
  web/tiruert/views/operation/operation.py
Due: check-backend

feat(tiruert): admin for fuels and fuel categories
  web/tiruert/admin.py
Due: check-backend

feat(tiruert): update on models fossil_fuel and mac_fossil_fuel
  web/tiruert/migrations/0010_fossilfuel_masse_volumique_and_more.py
  web/tiruert/migrations/0011_rename_name_fossilfuel_label_and_more.py
  web/tiruert/migrations/0012_macfossilfuel_unicity.py
  web/tiruert/models/__init__.py
  web/tiruert/models/fossil_fuel.py
  web/tiruert/models/mac_fossil_fuel.py
Due: check-backend

feat(tiruert): add new endpoint 'operations/id/correct' for dgddi, to allow them to add or remove volume from operation
  web/tiruert/models/operation.py
  web/tiruert/serializers/__init__.py
  web/tiruert/serializers/operation.py
  web/tiruert/services/balance.py
  web/tiruert/views/operation/mixins/__init__.py
  web/tiruert/views/operation/mixins/correct.py
  web/tiruert/views/operation/mixins/reject.py
Due: check-backend

feat(tiruert): remove print() from unit test
  web/tiruert/tests/tests_balances.py
Due: check-backend

feat(tiruert): fixtures to create fuels and fuel categories
  web/fixtures/csv/fossil_fuel_categories.csv
  web/fixtures/csv/fossil_fuels.csv
  web/fixtures/load_fossil_fuel_categories.py
  web/fixtures/load_fossil_fuels.py
Due: check-backend

feat(tiruert): update fuel fixture
  web/fixtures/csv/fossil_fuels.csv
  web/fixtures/load_fossil_fuels.py
Due: check-backend

feat(tiruert): queries optimization
  web/tiruert/models/operation.py
  web/tiruert/models/operation_detail.py
Due: check-backend

feat(tiruert): add /objectives/ endpoint
  web/tiruert/admin.py
  web/tiruert/migrations/0012_objective_target_type_and_more.py
  web/tiruert/models/__init__.py
  web/tiruert/models/objective.py
  web/tiruert/serializers/__init__.py
  web/tiruert/serializers/objective.py
  web/tiruert/services/objective.py
  web/tiruert/urls.py
  web/tiruert/views/__init__.py
  web/tiruert/views/objective/__init__.py
  web/tiruert/views/objective/objective.py
Due: check-backend

feat(tiruert): move filters operation file into a 'filters' folder
  web/tiruert/filters/__init__.py
  web/tiruert/filters/objective.py
  web/tiruert/filters/operation.py
Due: check-backend

feat(tiruert): fix on global objective target
  web/tiruert/services/objective.py
  web/tiruert/views/objective/objective.py
Due: check-backend

feat(tiruert): optimize operations request
  web/tiruert/models/operation.py
Due: check-backend

feat(tiruert): refacto balance calculation
  web/tiruert/serializers/balance.py
  web/tiruert/services/balance.py
  web/tiruert/views/operation/mixins/balance.py
Due: check-backend

feat(tiruert): import mac script - search depot on customs_id field
  web/tiruert/management/commands/import_fossil_fuel_mac.py
Due: check-backend

feat(tiruert): update script and models for MACs import
  web/tiruert/management/commands/import_fossil_fuel_mac.py
  web/tiruert/migrations/0011_rename_name_fossilfuel_label_and_more.py
  web/tiruert/migrations/0011_rename_name_fossilfuel_label_fossilfuel_nomenclature_and_more.py
  web/tiruert/models/fossil_fuel.py
  web/tiruert/models/mac_fossil_fuel.py
Due: check-backend

feat(tiruert): update schema for objective
  web/tiruert/views/objective/objective.py
Due: check-backend

feat(tiruert): change fuel model to have one row per nomenclature, and add 'start' and 'end' date on mac fuel model
  web/tiruert/migrations/0012_macfossilfuel_unicity.py
  web/tiruert/migrations/0012_remove_fossilfuel_nomenclatures_and_more.py
  web/tiruert/models/fossil_fuel.py
  web/tiruert/models/mac_fossil_fuel.py
Due: check-backend

feat(tiruert): performance optimizations on objectives
  web/tiruert/filters/__init__.py
  web/tiruert/filters/mac.py
  web/tiruert/models/mac_fossil_fuel.py
  web/tiruert/models/operation.py
  web/tiruert/models/operation_detail.py
  web/tiruert/services/objective.py
  web/tiruert/views/objective/objective.py
Due: check-backend

feat(tiruert): add django admin for operations
  web/tiruert/admin.py
  web/tiruert/admin_actions.py
  web/tiruert/models/operation.py
Due: check-backend

feat(tiruert): rename SAF and DIESEL to GAZOLE and CARBURÉACTEUR
  web/tiruert/filters/operation.py
  web/tiruert/serializers/balance.py
  web/tiruert/views/operation/mixins/filter.py
Due: check-backend

feat: active dgac
  api-schema.yaml
  front/src/api-schema.ts
  front/src/common/layouts/navigation/private/user-menu/user-menu.tsx
  front/src/registry/index.tsx
Due: check-frontend

feat(tiruert): updates for spectacular typing
  web/carbure/settings.py
  web/tiruert/filters/operation.py
  web/tiruert/models/operation.py
  web/tiruert/serializers/balance.py
  web/tiruert/serializers/objective.py
  web/tiruert/views/objective/objective.py
  web/tiruert/views/operation/mixins/filter.py
Due: check-backend

feat: double count download link
  api-schema.yaml
  front/src/api-schema.ts
  front/src/double-counting-admin/components/agreements/agreement-details-dialog.tsx
  front/src/double-counting/api.ts
  front/src/double-counting/components/files-table.tsx
  front/src/double-counting/components/production-table.tsx
  web/doublecount/serializers.py
  web/doublecount/utils.py
  web/doublecount/views/agreements/mixins/__init__.py
  web/doublecount/views/agreements/mixins/download_link.py
  web/doublecount/views/agreements/mixins/retrieve.py
Due: check-backend, check-frontend

feat(refacto saf modal): refacto saf form with new UI
  front/src/common/components/collapse2/collapse.module.css
  front/src/common/components/collapse2/collapse.tsx
  front/src/common/components/dialog2/dialog.module.css
  front/src/common/components/inputs2/base-input.module.css
  front/src/common/components/inputs2/base-input.tsx
  front/src/common/components/inputs2/field.module.css
  front/src/common/components/inputs2/field.tsx
  front/src/common/components/selects2/select/select.tsx
  front/src/saf/components/assignment/period-select.tsx
  front/src/saf/components/assignment/simple-assignment.tsx
  front/src/saf/components/assignment/volume-input.tsx
  front/src/saf/components/tickets/tag.tsx
  front/src/saf/pages/operator/ticket-source-details/assigned-tickets.tsx
  front/src/saf/pages/operator/ticket-source-details/parent-lot/index.tsx
Due: check-frontend

refactor(new layout saf): terminate assigned/received tickets
  front/src/common/components/icon/icon.tsx
  front/src/common/components/no-result2/index.ts
  front/src/common/components/no-result2/no-result.tsx
  front/src/common/components/notice/notice.tsx
  front/src/common/hooks/query-builder-2.ts
  front/src/saf/components/tickets/table.tsx
  front/src/saf/pages/airline/tickets.tsx
  front/src/saf/pages/operator/tickets/index.tsx
  front/src/saf/pages/operator/tickets/status-switcher.tsx
Due: check-frontend

refactor(new ui saf): refacto checkbox to handle checkbox only for table
  front/src/common/components/inputs2/checkbox/checkbox.module.css
  front/src/common/components/inputs2/checkbox/checkbox.tsx
  front/src/common/components/table2/table.module.css
  front/src/common/components/table2/table.tsx
  front/src/saf/components/export.tsx
  front/src/saf/pages/operator/ticket-sources/index.tsx
  front/src/saf/pages/operator/ticket-sources/status-switcher.tsx
  front/src/saf/pages/operator/ticket-sources/table.tsx
  front/src/saf/pages/operator/ticket-sources/tag.tsx
Due: check-frontend

chore: cleanup
  web/core/pagination.py
Due: check-backend

refactor(saf layout): fix last endpoints saf
  front/public/locales/en/translation.json
  front/public/locales/fr/translation.json
  front/src/common/components/inputs2/input.tsx
  front/src/common/components/inputs2/text/text-input.tsx
  front/src/saf/components/assignment/volume-input.tsx
  front/src/saf/components/ticket-details/reject-assignment.tsx
  front/src/saf/pages/airline/accept-assignment.tsx
  front/src/saf/pages/airline/api.ts
  front/src/saf/pages/airline/ticket-details.tsx
  front/src/saf/pages/operator/ticket-details/cancel-assignment.tsx
  front/src/saf/pages/operator/ticket-details/credit-ticket-source.tsx
  front/src/saf/pages/operator/ticket-sources/status-switcher.tsx
Due: check-frontend
