Repository MTES-MCT/carbure: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-ci-image, check-backend, check-frontend

build-ci-image:
  stage: prepare
  image: docker:stable
  services:
  - docker:dind
  script:
  - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
  - docker build -f ci/Dockerfile -t $CI_REGISTRY/$CI_PROJECT_PATH/ci-image:latest .
  - docker push $CI_REGISTRY/$CI_PROJECT_PATH/ci-image:latest

check-backend:
  image: $CI_REGISTRY/$CI_PROJECT_PATH/ci-image:latest
  before_script:
  - mv /app/front/node_modules ./front
  stage: check
  services:
  - mysql:8.0
  - redis:latest
  script:
  - export CARBURE_HOME=$(pwd)
  - export DATABASE_URL=mysql://root:$MYSQL_ROOT_PASSWORD@mysql:3306/$MYSQL_DATABASE
  ...

check-frontend:
  image: $CI_REGISTRY/$CI_PROJECT_PATH/ci-image:latest
  before_script:
  - mv /app/front/node_modules ./front
  stage: check
  script:
  - cd front
  - npx eslint --ext .ts,.tsx src/
  - npm test

[api+front] better parser for charge point excel
  front/public/templates/points-de-recharge-inscription.xlsx
  front/src/elec/components/charge-points/errors-dialog.tsx
  web/core/utils.py
  web/elec/api/cpo/charge_points/tests_charge_points.py
  web/elec/fixtures/points-de-recharge-errors.xlsx
  web/elec/fixtures/points-de-recharge-ok.xlsx
  web/elec/migrations/0022_alter_elecchargepoint_mid_id_and_more.py
  web/elec/models/elec_charge_point.py
  web/elec/services/import_charge_point_excel.py
Due: check-backend, check-frontend

[api+front] adapt meter reading excel import to new validator pattern + bugfix
  front/src/elec/__test__/api.ts
  front/src/elec/components/charge-points/errors-dialog.tsx
  front/src/elec/components/meter-readings/errors-dialog.tsx
  front/src/elec/components/meter-readings/upload-dialog.tsx
  web/core/utils.py
  web/elec/api/cpo/charge_points/tests_charge_points.py
  web/elec/api/cpo/meter_readings/tests_meter_readings.py
  web/elec/services/import_charge_point_excel.py
  web/elec/services/import_meter_reading_excel.py
Due: check-backend, check-frontend

[api] more detailed errors when importing meter readings
  web/core/exception.py
  web/elec/api/admin/audit/meter_readings/application_details.py
  web/elec/api/admin/meter_readings/application_details.py
  web/elec/api/cpo/charge_points/tests_charge_points.py
  web/elec/api/cpo/meter_readings/add_application.py
  web/elec/api/cpo/meter_readings/application_details.py
  web/elec/api/cpo/meter_readings/application_template.py
  web/elec/api/cpo/meter_readings/check_application.py
  web/elec/api/cpo/meter_readings/tests_meter_readings.py
  web/elec/fixtures/points-de-recharge-errors.xlsx
  web/elec/repositories/charge_point_repository.py
  web/elec/scripts/compute_meter_reading_renewable_energy.py
  web/elec/services/import_charge_point_excel.py
  web/elec/services/import_meter_reading_excel.py
Due: check-backend

[dront] fix dc list display
  front/src/double-counting/components/agreement-public-list.tsx
Due: check-frontend

[api] clean feedstock ETHANOL_PUR_LIES_VIN
  web/fixtures/csv/matierespremieres.csv
Due: check-backend

[api] fix saf ticket serializer
  web/saf/serializers/saf_ticket.py
Due: check-backend

[api] fix article 2 detection for charge point
  web/elec/api/cpo/meter_readings/application_template.py
  web/elec/services/transport_data_gouv.py
Due: check-backend

[front] dc fix get_feedstock_from_dc_feedstock
  web/doublecount/parser/excel_to_carbure_convertor.py
Due: check-backend

[api] fix tests
  web/elec/api/cpo/charge_points/tests_charge_points.py
Due: check-backend

[api] fix meter readings filters
  front/src/elec-admin-audit/components/charge-points/list.tsx
  front/src/elec-admin-audit/components/meter-readings/list.tsx
  web/elec/api/admin/audit/meter_readings/applications.py
  web/elec/api/admin/audit/meter_readings/filters.py
Due: check-backend, check-frontend

[front] download provision certificat template
  front/public/templates/certificats-de-fourniture.xlsx
  front/src/elec-admin/components/provision-certificates/Import.tsx
Due: check-frontend

[back] refacto elec admin path for transfer and provision certificates
  front/src/elec-admin/api.ts
  web/elec/api/admin/__init__.py
  web/elec/api/admin/provision_certificates/__init__.py
  web/elec/api/admin/provision_certificates/import_provision_certificates.py
  web/elec/api/admin/provision_certificates/provision_certificate_details.py
  web/elec/api/admin/provision_certificates/provision_certificate_filters.py
  web/elec/api/admin/provision_certificates/provision_certificates.py
  web/elec/api/admin/transfer_certificates/__init__.py
  web/elec/api/admin/transfer_certificates/transfer_certificate_details.py
  web/elec/api/admin/transfer_certificates/transfer_certificate_filters.py
  web/elec/api/admin/transfer_certificates/transfer_certificates.py
  web/elec/api/cpo/provision_certificate_filters.py
  web/elec/api/cpo/provision_certificates.py
  web/elec/api/cpo/transfer_certificate_filters.py
  web/elec/api/cpo/transfer_certificates.py
  web/elec/api/operator/accept_transfer_certificate.py
  web/elec/api/operator/reject_transfer_certificate.py
  web/elec/api/operator/transfer_certificate_details.py
  web/elec/api/operator/transfer_certificate_filters.py
  web/elec/api/operator/transfer_certificates.py
Due: check-backend, check-frontend

[api] start generating ProvisionCertificate from MeterReadingsApplications
  front/src/elec-admin-audit/components/meter-readings/accept-dialog.tsx
  web/elec/api/admin/audit/charge_points/tests_audit_charge_points.py
  web/elec/api/admin/audit/meter_readings/accept_application.py
  web/elec/api/admin/audit/meter_readings/tests_audit_meter_readings.py
  web/elec/api/admin/audit/tests_audit.py
Due: check-backend, check-frontend

import provision certificates specifying the current type
  front/public/templates/certificats-de-fourniture.csv
  front/src/elec-admin/components/provision-certificates/Import.tsx
  front/src/elec/components/provision-certificates/filters.tsx
  web/elec/api/admin/provision_certificates/import_provision_certificates.py
  web/elec/migrations/0022_elecprovisioncertificate_current_type.py
  web/elec/migrations/0023_alter_elecprovisioncertificate_unique_together.py
  web/elec/models/elec_provision_certificate.py
Due: check-backend, check-frontend

[api] generate provision certificate from meterreadings app
  web/elec/api/admin/audit/meter_readings/accept_application.py
  web/elec/api/admin/audit/meter_readings/tests_audit_meter_readings.py
Due: check-backend

fix merge
  web/elec/migrations/0024_merge_20240222_1508.py
  web/elec/models/elec_provision_certificate.py
  web/elec/serializers/elec_meter_reading_application_serializer.py
Due: check-backend

[api+front] display current type on ElecProvisionCertificate
  front/src/elec-admin/components/provision-certificates/details.tsx
  front/src/elec-admin/components/provision-certificates/list.tsx
  front/src/elec-admin/components/provision-certificates/table.tsx
  front/src/elec/__test__/data.ts
  front/src/elec/components/provision-certificates/details.tsx
  front/src/elec/components/provision-certificates/table.tsx
  front/src/elec/types.ts
  web/elec/serializers/elec_provision_certificate.py
Due: check-backend, check-frontend

[front] add dc-prod-sites list in registry
  front/src/double-counting/components/agreement-public-list.tsx
  front/src/registry/components/double-counting.tsx
  front/src/registry/index.tsx
Due: check-frontend

[front] modif description webapp
  front/public/index.html
Due: check-frontend

[front] reorg folder double-counting
  front/src/double-counting-admin/components/files-checker/errors-details-dialog.tsx
  front/src/double-counting/components/settings.tsx
  front/src/settings/index.tsx
  front/src/settings/utils/double-counting.ts
Due: check-frontend

Path conditions:
  build-ci-image: any of: ci/Dockerfile, Pipfile, Pipfile.lock, front/package.json, front/package-lock.json
  check-backend: any of: web/**/*
  check-frontend: any of: front/**/*
