Repository MTES-MCT/carbure: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-ci-image, check-backend, check-frontend

build-ci-image:
  stage: prepare
  image: docker:stable
  services:
  - docker:dind
  script:
  - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
  - docker build -f ci/Dockerfile -t $CI_REGISTRY/$CI_PROJECT_PATH/ci-image:latest .
  - docker push $CI_REGISTRY/$CI_PROJECT_PATH/ci-image:latest

check-backend:
  image: $CI_REGISTRY/$CI_PROJECT_PATH/ci-image:latest
  before_script:
  - mv /app/front/node_modules ./front
  stage: check
  services:
  - mysql:8.0
  - redis:latest
  script:
  - export CARBURE_HOME=$(pwd)
  - export DATABASE_URL=mysql://root:$MYSQL_ROOT_PASSWORD@mysql:3306/$MYSQL_DATABASE
  ...

check-frontend:
  image: $CI_REGISTRY/$CI_PROJECT_PATH/ci-image:latest
  before_script:
  - mv /app/front/node_modules ./front
  stage: check
  script:
  - cd front
  - npx eslint --ext .ts,.tsx src/
  - npm test

[front] factoriser CompanyForm
  front/src/companies/components/company-form.tsx
  front/src/companies/components/registration-dialog.tsx
  front/src/companies/components/siren-picker.tsx
  front/src/settings/components/company-info.tsx
Due: check-frontend

[front] update searchCompanyBySiren method
  front/src/companies/__test__/api.ts
  front/src/companies/__test__/data.ts
  front/src/companies/api.ts
  front/src/companies/components/registration-dialog.tsx
  front/src/companies/components/siren-picker.tsx
Due: check-frontend

[front] custom autocomplete to use for simple version of siren picker
  front/src/common/components/autocomplete.tsx
  front/src/common/components/input.tsx
  front/src/companies/__test__/data.ts
  front/src/companies/api.ts
  front/src/companies/components/registration-dialog.tsx
Due: check-frontend

[api] update entity model with officer_email and description
  front/src/carbure/hooks/entity.ts
  front/src/carbure/types.ts
  front/src/companies/components/company-form.tsx
  front/src/companies/components/registration-dialog.tsx
  front/src/settings/components/company-info.tsx
  web/core/migrations/0022_entity_activity_description_and_more.py
  web/core/models.py
  web/entity/api/update_info.py
Due: check-backend, check-frontend

[front] add form missing fields
  front/src/account/components/access-rights.tsx
  front/src/carbure/types.ts
  front/src/companies/components/company-form.tsx
  front/src/companies/components/registration-dialog.tsx
  front/src/settings/api/company.ts
  front/src/settings/components/certificates.tsx
  front/src/settings/components/company-info.tsx
Due: check-frontend

[api] start searc-company endpoint
  front/src/companies/__test__/data.ts
  front/src/companies/api.ts
  front/src/companies/components/registration-dialog.tsx
  front/src/companies/components/siren-picker.tsx
  front/src/companies/types.ts
  web/entity/api/__init__.py
  web/entity/api/search_company.py
Due: check-backend, check-frontend

[front] add translations
  front/public/locales/en/translation.json
  front/public/locales/fr/translation.json
  front/src/common/components/input.tsx
Due: check-frontend

[front] fileinput and filelistinput factorise
  front/src/common/components/input.tsx
Due: check-frontend

[api] optimize transport.data.gouv.fr charge point data parsing
  web/elec/services/transport_data_gouv.py
Due: check-backend

[front] filelistinput remove null value
  front/src/common/components/input.tsx
  front/src/double-counting-admin/components/files-checker/files-checker-dialog.tsx
Due: check-frontend

[api] move entity admin api inside entity module
  front/src/companies-admin/api.ts
  web/elec/api/admin/audit/meter_readings/accept_application.py
  web/entity/api/__init__.py
  web/entity/api/admin/__init__.py
  web/entity/api/admin/certificates/__init__.py
  web/entity/api/admin/certificates/certificates.py
  web/entity/api/admin/certificates/check.py
  web/entity/api/admin/certificates/reject.py
  web/entity/api/admin/create.py
  web/entity/api/admin/depots.py
  web/entity/api/admin/details.py
  web/entity/api/admin/entities.py
  web/entity/api/admin/production_sites.py
  web/entity/api/admin/tests_entities.py
  web/entity/api/admin/users/__init__.py
  web/entity/api/admin/users/rights_requests.py
  web/entity/api/admin/users/update_right_request.py
  web/entity/api/admin/users/update_user_role.py
  web/entity/api/admin/users/users.py
  web/transactions/api/admin/__init__.py
Due: check-backend, check-frontend

[front] fileinput - handle max size error
  front/src/common/components/input.tsx
Due: check-frontend

[front] show 'Company' settings for airline
  front/src/carbure/components/top-bar.tsx
Due: check-frontend

[api] only save the date of creation of an charge point application without the time to fix timezone bugs on scalingo
  web/elec/migrations/0027_alter_elecchargepointapplication_created_at.py
  web/elec/models/elec_charge_point_application.py
Due: check-backend

[api] fix tests
  web/elec/api/admin/charge_points/tests_charge_points.py
  web/elec/api/admin/meter_readings/tests_meter_readings.py
  web/elec/api/cpo/charge_points/tests_charge_points.py
  web/elec/api/cpo/meter_readings/tests_meter_readings.py
Due: check-backend

[api] turn datetimefield in datefield in meter reading application created_at field
  web/elec/migrations/0028_alter_elecmeterreadingapplication_created_at.py
  web/elec/models/elec_meter_reading_application.py
Due: check-backend

[api] adapt serializers to updated created_at fields
  web/elec/api/admin/audit/meter_readings/application_details.py
  web/elec/api/admin/audit/meter_readings/applications.py
  web/elec/api/admin/meter_readings/applications.py
  web/elec/api/cpo/meter_readings/applications.py
  web/elec/serializers/elec_charge_point_application.py
  web/elec/serializers/elec_meter_reading_application.py
Due: check-backend

[front] test add site name to google
  front/public/index.html
Due: check-frontend

[api] fix company details for external admins
  web/entity/api/admin/entities.py
Due: check-backend

[front] preremplir formulaire avec données api entreprises
  front/src/companies/api.ts
  front/src/companies/components/company-form.tsx
  front/src/companies/components/registration-dialog.tsx
  front/src/companies/components/siren-picker.tsx
  front/src/companies/types.ts
  front/src/settings/components/company-info.tsx
  web/entity/api/search_company.py
  web/entity/api/tests_search_company.py
Due: check-backend, check-frontend

[api] do not filter visible users for admin users
  web/entity/api/users/users.py
Due: check-backend

[api] automatically create read rights on airlines for DGAC + script to do it manually
  web/saf/apps.py
  web/saf/hooks.py
  web/saf/scripts/link_dgac_to_airlines.py
Due: check-backend

[front] fix company forms
  front/src/companies/api.ts
  front/src/companies/components/company-form.tsx
  front/src/companies/components/registration-dialog.tsx
  front/src/companies/types.ts
  front/src/settings/api/company.ts
  front/src/settings/components/company-info.tsx
Due: check-frontend

[front] display warning and errors
  front/src/companies/__test__/data.ts
  front/src/companies/api.ts
  front/src/companies/components/registration-dialog.tsx
  front/src/companies/components/siren-picker.tsx
  front/src/companies/types.ts
  front/src/settings/components/company-info.tsx
  web/entity/api/search_company.py
Due: check-backend, check-frontend

[api] no company found error + test
  web/entity/api/search_company.py
  web/entity/api/tests_search_company.py
Due: check-backend

[api] search company endpoint + tests ok
  front/src/companies/components/registration-dialog.tsx
  front/src/companies/components/siren-picker.tsx
  front/src/companies/types.ts
  web/entity/api/search_company.py
  web/entity/api/tests_search_company.py
Due: check-backend, check-frontend

[front] mailto "societe introuvable"
  front/src/account/components/access-rights.tsx
  front/src/companies/components/registration-dialog.tsx
Due: check-frontend

[api] create new company applied
  front/src/companies/api.ts
  front/src/companies/components/registration-dialog.tsx
  front/src/companies/components/siren-picker.tsx
  web/entity/api/__init__.py
  web/entity/api/apply_new_company.py
  web/entity/api/search_company.py
  web/entity/api/tests_apply_new_company.py
  web/entity/api/tests_search_company.py
Due: check-backend, check-frontend

[back] migrate entity registred_country
  web/core/migrations/0023_entity_country.py
  web/core/migrations/0024_entity_country_rename.py
  web/core/migrations/0025_remove_entity_registered_country.py
  web/core/migrations/0026_rename_country_entity_registered_country.py
  web/core/models.py
Due: check-backend

[front+api] fix registred_country field format
  front/src/carbure/__test__/data.ts
  front/src/carbure/hooks/entity.ts
  front/src/carbure/types.ts
  front/src/common/components/input.tsx
  front/src/companies/__test__/data.ts
  front/src/companies/api.ts
  front/src/companies/components/registration-dialog.tsx
  front/src/companies/types.ts
  front/src/settings/api/company.ts
  front/src/settings/components/company-info.tsx
  web/core/models.py
  web/entity/api/apply_new_company.py
  web/entity/api/search_company.py
  web/entity/api/tests_apply_new_company.py
  web/entity/api/update_info.py
Due: check-backend, check-frontend

[api] modify address fields type
  web/core/migrations/0027_alter_entity_registered_address_and_more.py
  web/core/models.py
Due: check-backend

rename folder entity registration
  front/src/companies/api.ts
  front/src/companies/components/siren-picker.tsx
  web/entity/api/__init__.py
  web/entity/api/registration/__init__.py
  web/entity/api/registration/add_company.py
  web/entity/api/registration/search_company.py
  web/entity/api/registration/tests_apply_new_company.py
  web/entity/api/registration/tests_search_company.py
Due: check-backend, check-frontend

[front] rename registration functions
  front/src/companies/api.ts
  front/src/companies/components/registration-dialog.tsx
  front/src/companies/types.ts
Due: check-frontend

show error with duplicated name
  front/src/companies/__test__/data.ts
  front/src/companies/api.ts
  front/src/companies/components/registration-dialog.tsx
  front/src/companies/types.ts
  front/src/settings/components/company-info.tsx
  web/entity/api/registration/add_company.py
  web/entity/api/registration/search_company.py
  web/entity/api/registration/tests_add_company.py
  web/entity/api/registration/tests_search_company.py
Due: check-backend, check-frontend

[api] fix tests
  web/entity/api/tests_update_info.py
Due: check-backend

[api] send email when company registred
  front/src/companies/components/registration-dialog.tsx
  web/core/models.py
  web/entity/api/registration/add_company.py
  web/entity/api/registration/tests_add_company.py
Due: check-backend, check-frontend

Path conditions:
  build-ci-image: any of: ci/Dockerfile, Pipfile, Pipfile.lock, front/package.json, front/package-lock.json
  check-backend: any of: web/**/*
  check-frontend: any of: front/**/*
