Repository MTES-MCT/carbure: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-ci-image, check-backend, check-frontend

build-ci-image:
  stage: prepare
  image: docker:stable
  services:
  - docker:dind
  script:
  - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
  - docker build -f ci/Dockerfile -t $CI_REGISTRY/$CI_PROJECT_PATH/ci-image:latest .
  - docker push $CI_REGISTRY/$CI_PROJECT_PATH/ci-image:latest

check-backend:
  image: $CI_REGISTRY/$CI_PROJECT_PATH/ci-image:latest
  before_script:
  - mv /app/front/node_modules ./front
  stage: check
  services:
  - mysql:8.0
  - redis:latest
  script:
  - export CARBURE_HOME=$(pwd)
  - export DATABASE_URL=mysql://root:$MYSQL_ROOT_PASSWORD@mysql:3306/$MYSQL_DATABASE
  ...

check-frontend:
  image: $CI_REGISTRY/$CI_PROJECT_PATH/ci-image:latest
  before_script:
  - mv /app/front/node_modules ./front
  stage: check
  script:
  - cd front
  - npx eslint --ext .ts,.tsx src/
  - npm test

[api] add generic error handler
  web/carbure/settings.py
  web/core/exception.py
Due: check-backend

[api] show simple version of excel data in meter reading application template
  web/elec/api/admin/meter_readings/application_details.py
  web/elec/api/cpo/meter_readings/application_details.py
  web/elec/services/create_meter_reading_excel.py
Due: check-backend

[api] save renewable energy amount in meter readings
  web/elec/api/cpo/meter_readings/add_application.py
  web/elec/migrations/0020_elecmeterreading_renewable_energy.py
  web/elec/models/elec_meter_reading.py
  web/elec/repositories/meter_reading_repository.py
  web/elec/serializers/elec_meter_reading_application_serializer.py
  web/elec/services/create_meter_reading_excel.py
  web/elec/services/import_meter_reading_excel.py
Due: check-backend

[front] remove calculation of quarter and year from frontend
  front/src/elec/api-cpo.ts
  front/src/elec/components/meter-readings/settings.tsx
  front/src/elec/components/meter-readings/upload-dialog.tsx
  front/src/elec/components/meter-readings/valid-dialog.tsx
Due: check-frontend

[api] remove some columns from the charge point template
  front/public/templates/points-de-recharge-inscription.xlsx
  web/elec/admin.py
  web/elec/migrations/0021_remove_elecchargepoint_is_article_4_and_more.py
  web/elec/models/elec_charge_point.py
  web/elec/serializers/elec_charge_point.py
  web/elec/services/import_charge_point_excel.py
  web/elec/services/transport_data_gouv.py
Due: check-backend, check-frontend

[api] remove some info from the charge point exports
  web/elec/services/create_meter_reading_excel.py
  web/elec/services/export_charge_point_excel.py
Due: check-backend

[api] add two scripts to refresh charge point and meter reading data
  web/elec/scripts/compute_meter_reading_renewable_energy.py
  web/elec/scripts/refresh_charge_point_data.py
Due: check-backend

[api] fix meter reading tests
  web/elec/api/cpo/meter_readings/tests_meter_readings.py
Due: check-backend

[api] clean self.maxDiff = None in tests
  web/saf/api/airline/tests/tests_ticket_details.py
  web/saf/api/airline/tests/tests_tickets.py
  web/saf/api/operator/tests/tests_ticket_details.py
  web/saf/api/operator/tests/tests_ticket_source_details.py
  web/saf/api/operator/tests/tests_ticket_sources.py
  web/saf/api/operator/tests/tests_tickets.py
Due: check-backend

[api] fix charge point and meter reading tests
  web/elec/api/admin/charge_points/tests_charge_points.py
  web/elec/api/admin/meter_readings/tests_meter_readings.py
  web/elec/api/cpo/charge_points/tests_charge_points.py
  web/elec/api/cpo/meter_readings/application_template.py
  web/elec/api/cpo/meter_readings/tests_meter_readings.py
  web/elec/fixtures/points-de-recharge-errors.xlsx
  web/elec/fixtures/points-de-recharge-ok.xlsx
Due: check-backend

[front] fix meter reading tests
  front/src/elec/__test__/settings-meter-readings.spec.tsx
Due: check-frontend

[api] add more stuff to the refresh charge point script
  web/elec/scripts/refresh_charge_point_data.py
Due: check-backend

[api] add helper text to depot's efficiency fields
  web/core/migrations/0021_alter_depot_electrical_efficiency_and_more.py
  web/core/models.py
Due: check-backend

[api+front] display elec/heat efficiency in depot details when relevant
  front/src/carbure/__test__/data.ts
  front/src/carbure/types.ts
  front/src/settings/components/delivery-site.tsx
  web/core/models.py
Due: check-backend, check-frontend

[api] fix lot export for different type of delivery sites
  web/core/xlsx_v3.py
Due: check-backend

[api] add save created event when duplicating lot
  web/transactions/api/lots/duplicate.py
Due: check-backend

[front] show delete button on every subsection of lot list
  front/src/transactions/components/lots/lot-actions.tsx
Due: check-frontend

[api] meter readings : applications + filter + details
  front/src/elec-admin-audit/components/charge-points/list.tsx
  front/src/elec-admin-audit/components/list-filters.tsx
  front/src/elec-admin-audit/components/meter-readings/details.tsx
  front/src/elec-admin-audit/components/meter-readings/list.tsx
  front/src/elec-admin-audit/components/status-switcher.tsx
  front/src/elec-admin-audit/types.ts
  web/elec/api/admin/audit/__init__.py
  web/elec/api/admin/audit/charge_points/application_details.py
  web/elec/api/admin/audit/meter_readings/__init__.py
  web/elec/api/admin/audit/meter_readings/accept_application.py
  web/elec/api/admin/audit/meter_readings/application_details.py
  web/elec/api/admin/audit/meter_readings/applications.py
  web/elec/api/admin/audit/meter_readings/filters.py
  web/elec/api/admin/audit/meter_readings/reject_application.py
  web/elec/api/admin/audit/meter_readings/start_audit.py
  web/elec/api/admin/meter_readings/applications.py
  web/elec/api/cpo/meter_readings/applications.py
  web/elec/repositories/meter_reading_repository.py
  web/elec/serializers/elec_meter_reading_application_serializer.py
Due: check-backend, check-frontend

[front] automatically reload years when adding/updating lots
  front/src/lot-add/index.tsx
  front/src/transaction-details/components/lots/index.tsx
Due: check-frontend

[api] add traceability deletion to user's lot delete endpoint
  front/src/transactions/components/lots/lot-actions.tsx
  web/core/traceability/bulk_delete_traceability_nodes.py
  web/transactions/api/lots/delete.py
Due: check-backend, check-frontend

[api] fix lot tests
  web/core/models.py
  web/transactions/api/lots/delete.py
  web/transactions/api/lots/tests/tests_lots_flow.py
Due: check-backend

Path conditions:
  build-ci-image: any of: ci/Dockerfile, Pipfile, Pipfile.lock, front/package.json, front/package-lock.json
  check-backend: any of: web/**/*
  check-frontend: any of: front/**/*
