Repository MTES-MCT/carbure: changes, and which GitLab CI jobs are due for each by the changed paths.
All: check-backend, check-frontend

check-backend:
  image: python:3.12
  cache:
  - key:
      files:
      - Pipfile.lock
    paths:
    - .cache/pip/
    - .venv/
  before_script:
  - pip install pipenv
  - pipenv install --dev --deploy --ignore-pipfile
  stage: check
  services:
  - mysql:8.0
  - redis:latest
  script:
  - export CARBURE_HOME=$(pwd)
  ...

check-frontend:
  image: node:latest
  cache:
  - key:
      files:
      - front/package-lock.json
    paths:
    - front/.npm/
  before_script:
  - cd front
  - npm ci --cache .npm --prefer-offline
  stage: check
  script:
  - npm run lint
  - npm run build
  - npx chromatic
  interruptible: true

fix(i18n): backend translations
  web/elec/api/cpo/charge_points/check_application.py
  web/elec/services/import_meter_reading_excel.py
  web/locale/en/LC_MESSAGES/django.po
Due: check-backend

Revert "fix(i18n): backend translations"
  web/elec/api/cpo/charge_points/check_application.py
  web/elec/services/import_meter_reading_excel.py
  web/locale/en/LC_MESSAGES/django.po
Due: check-backend

fix(i18n): fix django translations
  web/auth/views/mixins/verify_otp.py
  web/elec/api/cpo/charge_points/check_application.py
  web/elec/services/import_charge_point_excel.py
  web/elec/services/import_elec_audit_report_excel.py
  web/elec/services/import_meter_reading_excel.py
  web/locale/en/LC_MESSAGES/django.po
Due: check-backend

feat: connect validate endpoint to the frontend
  front/src/biomethane/layouts/page-header.tsx
  front/src/biomethane/pages/digestate/api.ts
  front/src/biomethane/pages/digestate/digestate.tsx
  front/src/biomethane/pages/digestate/types.ts
Due: check-frontend

feat: setup upsert biomethane digestate
  api-schema.yaml
  web/biomethane/serializers/digestate.py
  web/biomethane/urls.py
  web/biomethane/views/digestate/digestate.py
  web/carbure/settings.py
Due: check-backend

test: add biomethane digestate years test
  web/biomethane/tests/digestate/__init__.py
  web/biomethane/tests/digestate/test_years.py
  web/biomethane/views/digestate/mixins/years.py
Due: check-backend

feat: add composting section
  api-schema.yaml
  front/src/api-schema.ts
  front/src/biomethane/pages/digestate/components/composting/composting.tsx
  front/src/biomethane/pages/digestate/components/composting/index.ts
  front/src/biomethane/pages/digestate/digestate.tsx
  front/src/biomethane/pages/digestate/types.ts
  front/src/common/molecules/autocomplete-departments.tsx
  front/src/common/utils/geography.ts
  web/biomethane/migrations/0009_biomethanedigestate_biomethanedigestatespreading.py
  web/biomethane/models/biomethane_digestate.py
  web/biomethane/serializers/digestate/digestate.py
  web/elec/migrations/0058_alter_elecprovisioncertificatequalicharge_options_and_more.py
Due: check-backend, check-frontend

refactor: simplify contract endpoint
  front/src/biomethane/pages/contract/components/contract-infos/contract-infos.tsx
Due: check-frontend

chore(biomethane): update api schema
  api-schema.yaml
Due: none

feat: add condition with contract on incineration module
  front/src/biomethane/pages/contract/contract.hooks.ts
  front/src/biomethane/pages/contract/contract.tsx
  front/src/biomethane/pages/digestate/components/incineration-landfill/incineration-landfill.tsx
  front/src/biomethane/pages/digestate/digestate.tsx
Due: check-frontend

chore(biomethane): update api schema
  front/src/api-schema.ts
Due: check-frontend

continue digestate
  api-schema.yaml
  front/src/api-schema.ts
  front/src/biomethane/pages/digestate/api.ts
  front/src/biomethane/pages/digestate/components/injection-site/injection-site.tsx
  front/src/biomethane/pages/digestate/components/spreading/add-spreading-department.tsx
  front/src/biomethane/pages/digestate/components/spreading/index.ts
  front/src/biomethane/pages/digestate/components/spreading/spreading.hooks.ts
  front/src/biomethane/pages/digestate/components/spreading/spreading.tsx
  front/src/biomethane/pages/digestate/digestate.hooks.tsx
  front/src/biomethane/pages/digestate/digestate.tsx
  front/src/common/molecules/editable-card/editable-card.tsx
  front/src/common/utils/geography.ts
  front/src/common/utils/routes.ts
  web/biomethane/serializers/digestate/__init__.py
  web/biomethane/serializers/digestate/digestate.py
  web/biomethane/serializers/digestate/spreading.py
  web/biomethane/urls.py
  web/biomethane/views/digestate/__init__.py
  web/biomethane/views/digestate/spreading.py
  web/biomethane/views/production_unit/digestate_storage.py
Due: check-backend, check-frontend

feat: setup biomethane digestate
  web/biomethane/migrations/0011_biomethanedigestate_biomethanedigestatespreading.py
  web/biomethane/models/__init__.py
  web/biomethane/models/biomethane_digestate.py
  web/biomethane/models/biomethane_digestate_spreading.py
Due: check-backend

feat: add error message if settings are not set
  front/src/biomethane/layouts/settings-not-filled.tsx
  front/src/biomethane/pages/digestate/components/injection-site/injection-site.tsx
  front/src/biomethane/pages/digestate/digestate.tsx
Due: check-frontend

feat: add get years biomethane digestate
  front/src/biomethane/layouts/page-header.tsx
  front/src/biomethane/pages/digestate/api.ts
  front/src/biomethane/pages/digestate/digestate.tsx
  front/src/biomethane/routes.tsx
  front/src/biomethane/utils.ts
  web/biomethane/urls.py
  web/biomethane/views/digestate/mixins/__init__.py
  web/biomethane/views/digestate/mixins/years.py
Due: check-backend, check-frontend

feat(biomethane): add viewsets for biomethane production unit
  web/biomethane/urls.py
Due: check-backend

fix: fix differences between dev/linter
  front/src/api-schema.ts
Due: check-frontend

feat(biomethane): add correct permissions on every views
  web/biomethane/views/contract/contract.py
  web/biomethane/views/contract/contract_amendment.py
  web/biomethane/views/digestate/digestate.py
  web/biomethane/views/digestate/spreading.py
  web/biomethane/views/injection_site/injection_site.py
  web/biomethane/views/production_unit/digestate_storage.py
  web/biomethane/views/production_unit/production_unit.py
Due: check-backend

feat: add validate endpoint
  api-schema.yaml
  front/src/api-schema.ts
  front/src/biomethane/layouts/page-header.tsx
  front/src/biomethane/pages/digestate/components/composting/composting.tsx
  front/src/biomethane/pages/digestate/components/incineration-landfill/incineration-landfill.tsx
  front/src/biomethane/pages/digestate/components/injection-site/injection-site.tsx
  front/src/biomethane/pages/digestate/components/sale/sale.tsx
  front/src/biomethane/pages/digestate/components/spreading-distance/spreading-distance.tsx
  front/src/biomethane/pages/digestate/components/spreading/spreading.hooks.tsx
  front/src/biomethane/pages/digestate/components/spreading/spreading.tsx
  front/src/biomethane/pages/digestate/digestate.hooks.tsx
  front/src/biomethane/pages/digestate/digestate.tsx
  front/src/common/molecules/editable-card/editable-card.stories.tsx
  front/src/common/molecules/editable-card/editable-card.tsx
  web/biomethane/decorators/check_declaration_period.py
  web/biomethane/models/biomethane_digestate.py
  web/biomethane/serializers/digestate/digestate.py
  web/biomethane/tests/decorators/__init__.py
  web/biomethane/tests/utils/__init__.py
  web/biomethane/tests/utils/test_get_declaration_period.py
  web/biomethane/urls.py
  web/biomethane/utils/__init__.py
  web/biomethane/utils/get_declaration_period.py
  web/biomethane/views/digestate/mixins/__init__.py
  web/biomethane/views/digestate/mixins/validate.py
Due: check-backend, check-frontend

feat: setup biomethane digestate routes
  front/src/biomethane/pages/digestate/digestate.tsx
  front/src/biomethane/pages/digestate/index.ts
  front/src/biomethane/routes.tsx
  front/src/common/hooks/routes.ts
  front/src/common/index.tsx
  front/src/common/layouts/navigation/private/sidebar/hooks/useBiomethane.ts
  front/src/common/layouts/navigation/private/sidebar/sidebar.hooks.ts
  front/src/common/utils/routes.ts
Due: check-frontend

feat: set up digestate page
  front/src/biomethane/pages/digestate/digestate.tsx
Due: check-frontend

feat: setup biomethane digestate GET endpoint
  api-schema.yaml
  front/src/api-schema.ts
  web/biomethane/filters/__init__.py
  web/biomethane/filters/digestate.py
  web/biomethane/migrations/0012_alter_biomethanedigestatespreading_digestate.py
  web/biomethane/models/biomethane_digestate_spreading.py
  web/biomethane/serializers/__init__.py
  web/biomethane/serializers/digestate.py
  web/biomethane/urls.py
  web/biomethane/views/digestate/__init__.py
  web/biomethane/views/digestate/digestate.py
Due: check-backend, check-frontend

feat(biomethane): fix biomethane tests
  web/biomethane/tests/digestate/test_digestate.py
  web/biomethane/tests/digestate/test_spreading.py
  web/biomethane/tests/test_injection_site.py
  web/biomethane/tests/test_production_unit.py
  web/biomethane/tests/utils/__init__.py
  web/biomethane/tests/utils/test_get_declaration_period.py
Due: check-backend

add spreading distance/injection site
  front/src/biomethane/pages/digestate/api.ts
  front/src/biomethane/pages/digestate/components/injection-site/index.ts
  front/src/biomethane/pages/digestate/components/injection-site/injection-site.tsx
  front/src/biomethane/pages/digestate/components/spreading-distance/index.ts
  front/src/biomethane/pages/digestate/components/spreading-distance/spreading-distance.tsx
  front/src/biomethane/pages/digestate/digestate.tsx
  front/src/biomethane/pages/digestate/types.ts
  front/src/common/utils/routes.ts
Due: check-frontend

feat: add incineration/sale digestate page
  front/src/biomethane/pages/digestate/components/incineration-landfill/incineration-landfill.tsx
  front/src/biomethane/pages/digestate/components/incineration-landfill/index.ts
  front/src/biomethane/pages/digestate/components/sale/index.ts
  front/src/biomethane/pages/digestate/components/sale/sale.tsx
  front/src/biomethane/pages/digestate/digestate.tsx
Due: check-frontend

fix(biomethane): add entity info in serializer context to delete error 500 when create digestat storage
  web/biomethane/views/production_unit/digestate_storage.py
Due: check-backend

feat: add check declaration decorator
  front/src/biomethane/pages/digestate/components/spreading/add-spreading-department.tsx
  front/src/biomethane/pages/digestate/components/spreading/spreading.hooks.tsx
  front/src/biomethane/pages/digestate/components/spreading/spreading.tsx
  front/src/biomethane/pages/digestate/digestate.hooks.tsx
  front/src/biomethane/pages/digestate/digestate.tsx
  front/src/common/components/notifications.tsx
  web/biomethane/decorators/__init__.py
  web/biomethane/decorators/check_declaration_period.py
  web/biomethane/tests/decorators/__init__.py
  web/biomethane/tests/decorators/test_check_declaration_period.py
  web/biomethane/views/digestate/digestate.py
  web/biomethane/views/digestate/spreading.py
Due: check-backend, check-frontend

feat: delete spreading department
  api-schema.yaml
  front/src/api-schema.ts
  front/src/biomethane/pages/digestate/api.ts
  front/src/biomethane/pages/digestate/components/spreading/add-spreading-department.tsx
  front/src/biomethane/pages/digestate/components/spreading/spreading.hooks.ts
  front/src/biomethane/pages/digestate/components/spreading/spreading.hooks.tsx
  front/src/biomethane/pages/digestate/types.ts
  web/biomethane/serializers/digestate/spreading.py
  web/biomethane/views/digestate/spreading.py
Due: check-backend, check-frontend

feat: add modal when pap/cmax is lower than threshold
  front/public/locales/en/translation.json
  front/src/biomethane/pages/contract/components/contract-infos/contract-infos.tsx
Due: check-frontend

feat: connect digestate request to the front
  api-schema.yaml
  front/src/api-schema.ts
  front/src/biomethane/pages/digestate/api.ts
  front/src/biomethane/pages/digestate/components/injection-site/injection-site.tsx
  front/src/biomethane/pages/digestate/components/spreading-distance/spreading-distance.tsx
  front/src/biomethane/pages/digestate/components/spreading/spreading.tsx
  front/src/biomethane/pages/digestate/digestate.hooks.tsx
  front/src/biomethane/pages/digestate/types.ts
  web/biomethane/serializers/digestate/digestate.py
  web/biomethane/views/digestate/digestate.py
Due: check-backend, check-frontend

feat(biomethane): remove year query param, and calculate the current declaration period
  web/biomethane/decorators/__init__.py
  web/biomethane/decorators/check_declaration_period.py
  web/biomethane/utils/get_declaration_period.py
  web/biomethane/views/digestate/digestate.py
  web/biomethane/views/digestate/spreading.py
Due: check-backend

test: add backend tests digestate
  web/biomethane/tests/digestate/__init__.py
  web/biomethane/tests/digestate/test_digestate.py
  web/biomethane/tests/digestate/test_spreading.py
  web/biomethane/tests/digestate/test_years.py
  web/core/tests_utils.py
Due: check-backend

fix: fix rebasing api-schema
  api-schema.yaml
  front/src/api-schema.ts
Due: check-frontend

feat(biomethane): remove year filter for digestat route
  web/biomethane/filters/digestate.py
Due: check-backend

fix: fix api-schema
  api-schema.yaml
Due: none

Path conditions:
  check-backend: any of: web/**/*, .gitlab-ci.yml
  check-frontend: any of: front/**/*, .gitlab-ci.yml
