Repository MTES-MCT/carbure: changes, and which GitLab CI jobs are due for each by the changed paths.
All: check-backend, check-frontend

check-backend:
  image: python:3.12
  cache:
  - key:
      files:
      - Pipfile.lock
    paths:
    - .cache/pip/
    - .venv/
  before_script:
  - pip install pipenv
  - pipenv install --dev --deploy --ignore-pipfile
  stage: check
  services:
  - mysql:8.0
  - redis:latest
  script:
  - export CARBURE_HOME=$(pwd)
  ...

check-frontend:
  image: node:latest
  cache:
  - key:
      files:
      - front/package-lock.json
    paths:
    - front/.npm/
  before_script:
  - cd front
  - npm ci --cache .npm --prefer-offline
  stage: check
  script:
  - npm run lint
  - npm run build
  - npx chromatic
  interruptible: true

feat(tiruert): update entity model to add redevable info
  web/core/migrations/0040_entity_accise_number_entity_is_tiruert_liable.py
  web/core/models.py
Due: check-backend

feat(tiruert): add is_tiruert_liable parameter to entity resource api
  web/resources/views/entity.py
Due: check-backend

fix(users): fix user rights again
  front/src/common/molecules/user-rights-table/user-rights-table.tsx
  front/src/companies-admin/routes/entity-details.tsx
Due: check-frontend

feat(tiruert): update 'status' list for operations
  web/tiruert/models/operation.py
  web/tiruert/views/operation/mixins/accept.py
Due: check-backend

feat(biofuels): allow creating new MP/BC from django admin
  web/core/admin.py
Due: check-backend

feat(tiruert): add new endpoint 'operations/id/correct' for dgddi, to allow them to add or remove volume from operation
  web/tiruert/models/operation.py
  web/tiruert/serializers/__init__.py
  web/tiruert/serializers/operation.py
  web/tiruert/services/balance.py
  web/tiruert/views/operation/mixins/__init__.py
  web/tiruert/views/operation/mixins/correct.py
  web/tiruert/views/operation/mixins/reject.py
Due: check-backend

fix(dsfr): force dsfr theme
  front/index.html
Due: check-frontend

feat(tiruert): fix transaction.atomic()
  web/tiruert/views/operation/mixins/correct.py
Due: check-backend

feat(tiruert): remove print() from unit test
  web/tiruert/tests/tests_balances.py
Due: check-backend

feat(elec): provision certificate source migration revision
  web/elec/migrations/0053_update_model_data.py
Due: check-backend

refactor(saf ui): terminate refacto saf
  front/src/common/components/form2/form.tsx
  front/src/common/components/inputs2/base-input.tsx
  front/src/common/components/inputs2/radio/radio.tsx
  front/src/saf/pages/airline/accept-assignment.tsx
  front/src/saf/pages/airline/index.tsx
  front/src/saf/pages/airline/ticket-details.tsx
  front/src/saf/pages/operator/ticket-sources/index.tsx
Due: check-frontend

refactor(saf feedbacks): terminate feedbacks saf
  front/public/locales/en/translation.json
  front/public/locales/fr/translation.json
  front/src/common/components/autocomplete2/autocomplete.tsx
  front/src/common/components/button2/button.tsx
  front/src/common/components/icon/icon.tsx
  front/src/common/components/pagination2/pagination.tsx
  front/src/common/components/table2/table.module.css
  front/src/common/hooks/debounce.ts
  front/src/saf/hooks/useSafRules.ts
  front/src/saf/pages/operator/ticket-source-details/index.tsx
  front/src/saf/pages/operator/ticket-sources/status-switcher.tsx
  front/src/saf/pages/operator/ticket-sources/table.tsx
Due: check-frontend

refactor(saf refacto): terminate saf refacto only for operator
  front/public/locales/en/translation.json
  front/public/locales/fr/translation.json
  front/src/common/components/autocomplete2/autocomplete.stories.tsx
  front/src/common/components/autocomplete2/autocomplete.tsx
  front/src/common/components/autocomplete2/index.ts
  front/src/common/components/button2/button.tsx
  front/src/common/components/pagination2/index.ts
  front/src/common/components/selects2/select/select.tsx
  front/src/common/components/table2/table.stories.tsx
  front/src/common/components/table2/table.tsx
  front/src/common/hooks/years-2.ts
  front/src/saf/components/assignment/grouped-assignment.tsx
  front/src/saf/components/assignment/simple-assignment.tsx
  front/src/saf/components/ticket-details/reject-assignment.tsx
  front/src/saf/pages/airline/ticket-details.tsx
  front/src/saf/pages/operator/index.tsx
  front/src/saf/pages/operator/ticket-details/credit-ticket-source.tsx
  front/src/saf/pages/operator/ticket-details/index.tsx
  front/src/saf/pages/operator/ticket-details/linked-ticket-source.tsx
  front/src/saf/pages/operator/ticket-source-details/assigned-tickets.tsx
  front/src/saf/pages/operator/ticket-source-details/fields.tsx
  front/src/saf/pages/operator/ticket-sources/index.tsx
  front/src/saf/pages/operator/ticket-sources/summary.tsx
  front/src/saf/pages/operator/ticket-sources/table.tsx
Due: check-frontend

refactor(saf feedback): continue feedbacks (add pagination selector limit)
  front/src/accounting/operations/operations.tsx
  front/src/common/components/navigation/navigation.tsx
  front/src/common/components/pagination2/pagination.module.css
  front/src/common/components/pagination2/pagination.stories.tsx
  front/src/common/components/pagination2/pagination.tsx
  front/src/saf/components/tickets/table.tsx
  front/src/saf/pages/operator/ticket-source-details/parent-lot/durability-fields.tsx
  front/src/saf/pages/operator/ticket-sources/index.tsx
Due: check-frontend

refactor(refacto ui saf): continue refacto pages
  front/src/common/molecules/filter-multiselect2/filter-multiselect2.tsx
  front/src/saf/components/filters.tsx
  front/src/saf/components/tickets/table.tsx
  front/src/saf/components/tickets/tag.tsx
Due: check-frontend

refactor(saf layout): start feedbacks saf layout
  front/src/accounting/operations/pages/operation-detail/operation-detail.tsx
  front/src/common/components/autocomplete2/autocomplete.tsx
  front/src/common/components/button2/button.tsx
  front/src/common/components/collapse2/collapse.module.css
  front/src/common/components/table2/table.tsx
  front/src/saf/components/assignment/grouped-assignment.tsx
  front/src/saf/components/assignment/simple-assignment.tsx
  front/src/saf/components/assignment/volume-input.tsx
  front/src/saf/pages/operator/ticket-details/cancel-assignment.tsx
Due: check-frontend

refactor(new ui saf): refacto checkbox to handle checkbox only for table
  front/src/common/components/inputs2/checkbox/checkbox.module.css
  front/src/common/components/inputs2/checkbox/checkbox.tsx
  front/src/common/components/table2/table.module.css
  front/src/common/components/table2/table.tsx
  front/src/saf/components/export.tsx
  front/src/saf/pages/operator/ticket-sources/index.tsx
  front/src/saf/pages/operator/ticket-sources/status-switcher.tsx
  front/src/saf/pages/operator/ticket-sources/table.tsx
  front/src/saf/pages/operator/ticket-sources/tag.tsx
Due: check-frontend

feat(refacto saf modal): refacto saf form with new UI
  front/src/common/components/collapse2/collapse.module.css
  front/src/common/components/collapse2/collapse.tsx
  front/src/common/components/dialog2/dialog.module.css
  front/src/common/components/inputs2/base-input.module.css
  front/src/common/components/inputs2/base-input.tsx
  front/src/common/components/inputs2/field.module.css
  front/src/common/components/inputs2/field.tsx
  front/src/common/components/selects2/select/select.tsx
  front/src/saf/components/assignment/period-select.tsx
  front/src/saf/components/assignment/simple-assignment.tsx
  front/src/saf/components/assignment/volume-input.tsx
  front/src/saf/components/tickets/tag.tsx
  front/src/saf/pages/operator/ticket-source-details/assigned-tickets.tsx
  front/src/saf/pages/operator/ticket-source-details/parent-lot/index.tsx
Due: check-frontend

refactor(new layout saf): terminate assigned/received tickets
  front/src/common/components/icon/icon.tsx
  front/src/common/components/no-result2/index.ts
  front/src/common/components/no-result2/no-result.tsx
  front/src/common/components/notice/notice.tsx
  front/src/common/hooks/query-builder-2.ts
  front/src/saf/components/tickets/table.tsx
  front/src/saf/pages/airline/tickets.tsx
  front/src/saf/pages/operator/tickets/index.tsx
  front/src/saf/pages/operator/tickets/status-switcher.tsx
Due: check-frontend

refactor(refacto saf): continue refacto ui saf
  front/src/common/components/dialog2/dialog.module.css
  front/src/common/components/dialog2/dialog.tsx
  front/src/common/components/inputs2/checkbox/checkbox.module.css
  front/src/common/components/inputs2/checkbox/checkbox.stories.tsx
  front/src/common/components/inputs2/checkbox/checkbox.tsx
  front/src/common/components/inputs2/field.module.css
  front/src/common/components/inputs2/field.tsx
  front/src/common/components/inputs2/index.ts
  front/src/common/components/inputs2/input.tsx
  front/src/common/components/navigation/navigation.tsx
  front/src/common/components/scaffold.module.css
  front/src/common/components/scaffold.tsx
  front/src/common/components/table2/table.module.css
  front/src/common/components/table2/table.tsx
  front/src/saf/components/assignment/simple-assignment.tsx
  front/src/saf/components/dialog-section/dialog-section.module.css
  front/src/saf/components/dialog-section/dialog-section.tsx
  front/src/saf/components/ticket-details/fields.tsx
  front/src/saf/pages/operator/ticket-details/cancel-assignment.tsx
  front/src/saf/pages/operator/ticket-details/index.tsx
  front/src/saf/pages/operator/ticket-details/linked-ticket-source.tsx
  front/src/saf/pages/operator/ticket-source-details/index.tsx
  front/src/saf/pages/operator/ticket-source-details/parent-lot/durability-fields.tsx
Due: check-frontend

refactor(refacto ui saf): start refacto saf
  front/src/common/components/scaffold.module.css
  front/src/common/components/scaffold.tsx
  front/src/saf/components/export.tsx
  front/src/saf/pages/airline/index.tsx
  front/src/saf/pages/airline/tickets.hooks.ts
  front/src/saf/pages/airline/tickets.tsx
  front/src/saf/pages/operator/ticket-sources/index.tsx
  front/src/saf/pages/operator/tickets/index.tsx
Due: check-frontend

feat(saf modal): start refacto saf modal
  front/src/common/components/collapse2/collapse.stories.tsx
  front/src/common/components/collapse2/collapse.tsx
  front/src/common/components/collapse2/index.ts
  front/src/common/components/dialog2/dialog.module.css
  front/src/common/components/dialog2/dialog.tsx
  front/src/common/components/dialog2/index.ts
  front/src/common/components/icon/icon.tsx
  front/src/common/components/inputs2/field.tsx
  front/src/common/components/inputs2/input.tsx
  front/src/common/components/no-result2/no-result.tsx
  front/src/common/components/notice/notice.module.css
  front/src/common/components/notice/notice.tsx
  front/src/common/components/scaffold.module.css
  front/src/common/components/scaffold.tsx
  front/src/saf/components/dialog-section/dialog-section.module.css
  front/src/saf/components/dialog-section/dialog-section.tsx
  front/src/saf/components/dialog-section/index.ts
  front/src/saf/pages/operator/ticket-source-details/fields.tsx
  front/src/saf/pages/operator/ticket-source-details/index.tsx
  front/src/saf/pages/operator/ticket-source-details/parent-lot/durability-fields.tsx
  front/src/saf/pages/operator/ticket-sources/index.tsx
Due: check-frontend

fix(saf refacto): fix stories and upgrade storybook
  front/.storybook/preview.tsx
  front/package-lock.json
  front/package.json
  front/src/common/components/dialog2/dialog.module.css
  front/src/common/components/dialog2/dialog.stories.tsx
  front/src/common/components/dialog2/dialog.tsx
  front/src/common/components/inputs2/base-input.module.css
  front/src/common/components/inputs2/base-input.tsx
  front/src/common/components/inputs2/field.module.css
  front/src/common/components/inputs2/field.tsx
  front/src/common/components/inputs2/input.tsx
  front/src/common/components/inputs2/number/number-input.stories.tsx
  front/src/common/components/notice/notice.module.css
  front/src/common/components/notice/notice.stories.tsx
  front/src/common/components/notice/notice.tsx
  front/src/common/components/selects2/select/select.stories.tsx
  front/src/common/components/selects2/select/select.tsx
  front/src/common/components/table2/table.module.css
  front/src/common/components/table2/table.stories.tsx
  front/src/common/components/table2/table.tsx
  front/src/common/molecules/filter-multiselect2/filter-multiselect2.tsx
  front/src/common/services/api-fetch.ts
  front/src/saf/components/assignment/grouped-assignment.tsx
  front/src/saf/components/assignment/period-select.tsx
  front/src/saf/components/assignment/simple-assignment.tsx
  front/src/saf/components/filters.tsx
  front/src/saf/pages/airline/accept-assignment.tsx
  front/src/saf/pages/airline/tickets.tsx
  front/src/saf/pages/operator/ticket-source-details/fields.tsx
  front/src/saf/pages/operator/ticket-source-details/parent-lot/durability-fields.tsx
  front/src/saf/pages/operator/ticket-sources/index.tsx
  front/src/saf/pages/operator/ticket-sources/table.tsx
  front/src/saf/pages/operator/tickets/index.tsx
  front/src/saf/types.ts
Due: check-frontend

test: start testing saf components
  front/src/common/components/autocomplete2/autocomplete.tsx
  front/src/common/hooks/debounce.ts
  front/src/saf/__test__/api.ts
  front/src/saf/__test__/data.ts
  front/src/saf/components/assignment/simple-assignment/index.ts
  front/src/saf/components/assignment/simple-assignment/simple-assignment.stories.tsx
  front/src/saf/components/assignment/simple-assignment/simple-assignment.tsx
  front/src/saf/pages/operator/__test__/api.ts
  front/src/saf/pages/operator/__test__/saf-operator.spec.tsx
  front/src/saf/pages/operator/ticket-source-details/index.stories.tsx
  front/src/saf/pages/operator/ticket-source-details/index.tsx
Due: check-frontend

fix(dsfr): fix dsfr default scheme
  front/index.html
  front/src/common/components/inputs2/base-input.tsx
  front/src/common/components/inputs2/search/search-input.stories.tsx
  front/src/setup-dsfr.ts
Due: check-frontend

fix(1201): filters for agreement view for MTE-DGEC
  api-schema.yaml
  front/src/api-schema.ts
  front/src/double-counting-admin/api.ts
  front/src/double-counting-admin/components/agreements/agreement-list.tsx
  front/src/double-counting-admin/filters.tsx
  front/src/double-counting-admin/types.ts
  web/core/carburetypes.py
  web/doublecount/filters/agreement.py
  web/doublecount/views/agreements/agreement.py
  web/doublecount/views/agreements/mixins/__init__.py
  web/doublecount/views/agreements/mixins/filter.py
  web/doublecount/views/agreements/mixins/list_admin.py
Due: check-backend, check-frontend

fix: others filters
  api-schema.yaml
  front/src/api-schema.ts
  web/carbure/settings.py
  web/saf/filters/ticket.py
  web/saf/filters/ticket_source.py
  web/tiruert/filters.py
Due: check-backend, check-frontend

fix: some clean in settings.py
  api-schema.yaml
  front/src/api-schema.ts
  web/carbure/settings.py
Due: check-backend, check-frontend

fix(carbure -> common): fix files imports
  front/src/accounting/components/from-depot-form/from-depot-form.tsx
  front/src/accounting/components/quantity-form/quantity-form.tsx
  front/src/accounting/components/recipient-to-depot-form/api.ts
  front/src/accounting/components/recipient-to-depot-form/recipient-to-depot-form.tsx
  front/src/accounting/index.tsx
  front/src/accounting/pages/balances/balances.hooks.tsx
  front/src/accounting/pages/balances/balances.tsx
  front/src/accounting/pages/balances/components/debit-operation-dialog/cession-dialog/cession-dialog.tsx
  front/src/accounting/pages/operations/operations.tsx
  front/src/common/hooks/unit.ts
  front/src/common/index.tsx
Due: check-frontend

refactor(tiruert soldes): terminate feedbacks soldes page
  front/src/accounting/components/quantity-form/quantity-form.tsx
  front/src/accounting/pages/balances/balances.hooks.tsx
  front/src/accounting/pages/balances/balances.tsx
  front/src/accounting/pages/operations/operations.hooks.tsx
  front/src/accounting/pages/operations/operations.module.css
  front/src/accounting/pages/operations/operations.tsx
  front/src/common/hooks/unit.ts
Due: check-frontend

refactor: refacto steps to simplify future code
  front/src/accounting/components/from-depot-form/from-depot-form.tsx
  front/src/accounting/components/from-depot-form/from-depot-form.types.ts
  front/src/accounting/components/from-depot-form/from-depot-form.utils.ts
  front/src/accounting/components/from-depot-form/index.ts
  front/src/accounting/components/quantity-form/index.ts
  front/src/accounting/components/quantity-form/quantity-form.tsx
  front/src/accounting/components/quantity-form/quantity-form.types.ts
  front/src/accounting/components/quantity-form/quantity-form.utils.ts
  front/src/accounting/components/recipient-to-depot-form/recipient-to-depot-form.tsx
  front/src/accounting/pages/balances/components/debit-operation-dialog/cession-dialog/cession-dialog.tsx
  front/src/common/components/stepper/stepper.tsx
Due: check-frontend

refactor: move types/components to prepare future components
  api-schema.yaml
  front/src/accounting/components/from-depot-form/api.ts
  front/src/accounting/components/from-depot-form/from-depot-form.tsx
  front/src/accounting/components/from-depot-form/from-depot-form.utils.ts
  front/src/accounting/components/quantity-form/quantity-form.tsx
  front/src/accounting/components/quantity-form/quantity-form.utils.ts
  front/src/accounting/components/recap-operation/index.ts
  front/src/accounting/components/recap-operation/recap-operation.tsx
  front/src/accounting/components/recipient-to-depot-form/api.ts
  front/src/accounting/components/recipient-to-depot-form/recipient-to-depot-form.tsx
  front/src/accounting/pages/balances/api.ts
  front/src/accounting/pages/balances/components/debit-operation-dialog/cession-dialog/cession-dialog.tsx
  front/src/accounting/pages/balances/components/debit-operation-dialog/cession-dialog/cession-dialog.types.ts
  front/src/accounting/pages/balances/components/debit-operation-dialog/debit-operation-dialog.tsx
  front/src/accounting/pages/balances/types.ts
  front/src/accounting/types.ts
  front/src/api-schema.ts
  front/src/common/api.ts
  front/src/common/components/stepper/stepper.tsx
Due: check-frontend

fix(stats): correctly load metabase private dashboard url
  web/entity/views/entity/mixins/stats.py
Due: check-backend

refactor(saf layout): fix last endpoints saf
  front/public/locales/en/translation.json
  front/public/locales/fr/translation.json
  front/src/common/components/inputs2/input.tsx
  front/src/common/components/inputs2/text/text-input.tsx
  front/src/saf/components/assignment/volume-input.tsx
  front/src/saf/components/ticket-details/reject-assignment.tsx
  front/src/saf/pages/airline/accept-assignment.tsx
  front/src/saf/pages/airline/api.ts
  front/src/saf/pages/airline/ticket-details.tsx
  front/src/saf/pages/operator/ticket-details/cancel-assignment.tsx
  front/src/saf/pages/operator/ticket-details/credit-ticket-source.tsx
  front/src/saf/pages/operator/ticket-sources/status-switcher.tsx
Due: check-frontend

refactor: simplify how to use a stepper
  front/src/accounting/components/from-depot-form/from-depot-form.utils.ts
  front/src/accounting/components/quantity-form/quantity-form.utils.ts
  front/src/accounting/components/recipient-to-depot-form/recipient-to-depot-form.tsx
  front/src/accounting/pages/balances/components/debit-operation-dialog/cession-dialog/cession-dialog.hooks.ts
  front/src/accounting/pages/balances/components/debit-operation-dialog/cession-dialog/cession-dialog.tsx
  front/src/accounting/pages/balances/components/debit-operation-dialog/debit-operation-dialog.tsx
  front/src/common/components/stepper/README.md
  front/src/common/components/stepper/index.ts
  front/src/common/components/stepper/stepper.provider.tsx
  front/src/common/components/stepper/stepper.stories.tsx
  front/src/common/components/stepper/stepper.tsx
Due: check-frontend

fix(elec): deduplicate year list for elec auditors
  web/elec/api/auditor/years.py
Due: check-backend

fix(dc): allow uploading multiple dc files from admin page
  front/src/common/services/api-fetch.ts
  front/src/common/services/api.ts
  front/src/double-counting-admin/api.ts
  front/src/double-counting-admin/components/files-checker/files-checker-dialog.tsx
Due: check-frontend

feat(tiruert soldes exportation): continue dev exportation dialog
  front/public/locales/en/translation.json
  front/public/locales/fr/translation.json
  front/src/accounting/components/quantity-form/quantity-form.tsx
  front/src/accounting/components/quantity-form/quantity-form.utils.ts
  front/src/accounting/components/recap-operation/recap-operation.tsx
  front/src/accounting/components/recipient-to-depot-form/recipient-to-depot-form.tsx
  front/src/accounting/pages/balances/components/debit-operation-dialog/cession-dialog/cession-dialog.module.css
  front/src/accounting/pages/balances/components/debit-operation-dialog/cession-dialog/cession-dialog.tsx
  front/src/accounting/pages/balances/components/debit-operation-dialog/debit-operation-dialog.tsx
  front/src/accounting/pages/balances/components/debit-operation-dialog/exportation-dialog/country-form.tsx
  front/src/accounting/pages/balances/components/debit-operation-dialog/exportation-dialog/exportation-dialog.tsx
  front/src/common/components/scaffold.module.css
  front/src/common/components/scaffold.tsx
Due: check-frontend

feat: create exportation endpoint
  front/src/accounting/pages/balances/components/debit-operation-dialog/exportation-dialog/exportation-dialog.hooks.ts
  front/src/accounting/pages/balances/components/debit-operation-dialog/exportation-dialog/exportation-dialog.tsx
  front/src/accounting/pages/balances/components/debit-operation-dialog/exportation-dialog/exportation-dialog.types.ts
Due: check-frontend

Path conditions:
  check-backend: any of: web/**/*, .gitlab-ci.yml
  check-frontend: any of: front/**/*, .gitlab-ci.yml
