Repository MTES-MCT/carbure: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-ci-image, check-backend, check-frontend

.gitlab-ci.yml:

stages:
  - prepare
  - check
  - deploy

workflow:
  rules:
  # 1. Don't run pipelines for MR drafts.
  # 2. Don't run branch pipelines when there's an open MR for the branch (run the MR pipeline instead).
  # 3. Run all other MR pipelines
  # 4. Run branch pipelines for dev, preview and master
  # 5. Else, don't run it
    - if: $CI_PIPELINE_SOURCE == "merge_request_event" && $CI_MERGE_REQUEST_TITLE =~ /^Draft:/ # 1
      when: never
    - if: $CI_COMMIT_BRANCH && $CI_OPEN_MERGE_REQUESTS # 2
      when: never
    - if: $CI_PIPELINE_SOURCE == 'merge_request_event' # 3
      when: always
    - if: $CI_COMMIT_BRANCH == "dev" || $CI_COMMIT_BRANCH == "preview" || $CI_COMMIT_BRANCH == "master" # 4
      when: always
    - when: never # 5

variables:
  MYSQL_DATABASE: carbure_mysql_test_db
  MYSQL_ROOT_PASSWORD: carbure_mysql_ci_db_password

# use prebuild CI image when running checks
.checks:
  image: $CI_REGISTRY/$CI_PROJECT_PATH/ci-image:latest
  before_script:
    - mv /app/.venv ./.venv
    - mv /app/front/node_modules ./front

# prepare git env to push new code to scalingo
.scalingo:
  image: alpine:latest
  before_script:
    - mkdir ~/.ssh
    - apk add --update git openssh-client
    - eval $(ssh-agent -s)
    - echo "$SCALINGO_SSH_PRIVATE_KEY" | tr -d '\r' | ssh-add -
    - ssh-keyscan $SCALINGO_SSH_HOST $SCALINGO_SSH_HOST_SECNUMCLOUD >> ~/.ssh/known_hosts
    - chmod 644 ~/.ssh/known_hosts
    - git config user.name $GIT_USER_NAME
    - git config user.email $GIT_USER_EMAIL
    - git remote add scalingo-dev $SCALINGO_GIT_REMOTE_DEV || true
    - git remote add scalingo-staging $SCALINGO_GIT_REMOTE_STAGING || true
    - git remote add scalingo-prod $SCALINGO_GIT_REMOTE_PROD || true
    - git fetch origin $CI_COMMIT_BRANCH --unshallow
    - git checkout $CI_COMMIT_BRANCH

build-ci-image:
  stage: prepare
  image: docker:stable
  services:
    - docker:dind
  script:
    - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
    - docker build -f ci/Dockerfile -t $CI_REGISTRY/$CI_PROJECT_PATH/ci-image:latest .
    - docker push $CI_REGISTRY/$CI_PROJECT_PATH/ci-image:latest    
  rules:
    - changes: 
      - ci/Dockerfile
      - Pipfile
      - Pipfile.lock
      - front/package.json
      - front/package-lock.json

check-backend:
  stage: check
  extends: .checks
  services:
    - mysql:8.0
    - redis:latest
  script:
    - export CARBURE_HOME=$(pwd)
    - export DATABASE_URL=mysql://root:$MYSQL_ROOT_PASSWORD@mysql:3306/$MYSQL_DATABASE
    - export REDIS_URL=redis://redis:6379
    - pipenv run ruff check
    - pipenv run ruff format --check
    - TEST=1 pipenv run python web/manage.py test web
  rules:
    - changes:
      - web/**/*
    
check-frontend:
  stage: check
  extends: .checks
  script:
    - cd front
    - npx eslint --ext .ts,.tsx src/
    - npm test
  rules:
    - changes:
      - front/**/*

deploy-dev:
  stage: deploy
  extends: .scalingo
  only:
    - dev
    - preview
  script:
    - git push scalingo-dev $CI_COMMIT_BRANCH:master -f

deploy-staging:
  stage: deploy
  extends: .scalingo
  only:
    - master
  script:
    - git push scalingo-staging master -f

deploy-prod:
  stage: deploy
  extends: .scalingo
  when: manual
  only:
    - master
  script:
    - git push scalingo-prod master -f

fix: pass ruff checks
  web/auth/api/register.py
  web/elec/api/cpo/meter_readings/check_application.py
Due: check-backend

[back] some fixes in docx
  web/doublecount/api/admin/applications/export_application.py
  web/templates/word/double_count_approval_template.docx
Due: check-backend

[back] some fixes
  web/doublecount/api/admin/applications/export_application.py
  web/doublecount/api/admin/applications/tests_applications.py
  web/templates/word/double_count_approval_template.docx
Due: check-backend

[back] fix 1er in docx
  web/doublecount/api/admin/applications/export_application.py
Due: check-backend

[back] fix DI in docx
  web/doublecount/api/admin/applications/export_application.py
  web/templates/word/double_count_approval_template.docx
Due: check-backend

fix: front/package.json & front/package-lock.json to reduce vulnerabilities
  front/package-lock.json
  front/package.json
Due: build-ci-image, check-frontend

feat: add auditor type new company form
  front/src/carbure/utils/normalizers.ts
  front/src/companies/components/registration-dialog.tsx
Due: check-frontend

feat(sb): user/entity switching works
  front/.storybook/preview.tsx
  front/package-lock.json
  front/package.json
  front/src/carbure/__test__/api.ts
  front/src/carbure/__test__/data.ts
  front/src/carbure/__test__/helpers.ts
  front/src/carbure/hooks/entity.ts
  front/src/carbure/hooks/user.ts
  front/tsconfig.json
Due: build-ci-image, check-frontend

feat(sb): add msw
  front/.storybook/main.ts
  front/.storybook/mocks.ts
  front/.storybook/preview.tsx
  front/package-lock.json
  front/package.json
  front/src/mocks.ts
Due: build-ci-image, check-frontend

feat(storybook): add i18next on storybook
  front/.storybook/preview.ts
  front/.storybook/preview.tsx
  front/src/common/components/button.stories.tsx
Due: check-frontend

feat(storybook): init storybook with a simple story
  front/.eslintrc.json
  front/.gitignore
  front/.storybook/main.ts
  front/.storybook/preview.ts
  front/package-lock.json
  front/package.json
  front/src/common/components/button.stories.tsx
Due: build-ci-image, check-frontend

[back] elec refactoring
  Pipfile
  Pipfile.lock
  web/carbure/api/__init__.py
  web/carbure/settings.py
  web/carbure/urls.py
  web/elec/filters/__init__.py
  web/elec/filters/applications.py
  web/elec/filters/transfer_certificates.py
  web/elec/models/elec_charge_point_application.py
  web/elec/serializers/elec_charge_point.py
  web/elec/urls.py
  web/elec/views/__init__.py
  web/elec/views/charge_points.py
  web/elec/views/charge_points_applications/__init__.py
  web/elec/views/charge_points_applications/charge_points_applications.py
  web/elec/views/charge_points_applications/mixins/__init__.py
  web/elec/views/charge_points_applications/mixins/accept.py
  web/elec/views/charge_points_applications/mixins/export.py
  web/elec/views/charge_points_applications/mixins/filter.py
  web/elec/views/charge_points_applications/mixins/generate_sample.py
  web/elec/views/charge_points_applications/mixins/get_sample.py
  web/elec/views/charge_points_applications/mixins/reject.py
  web/elec/views/transfert_certificates.py
Due: build-ci-image, check-backend

feat<add company>: make fields not disabled
  front/src/companies/components/registration-dialog.tsx
Due: check-frontend

feat: add chromatic
  docker-compose.yml
  front/.gitignore
  front/.storybook/preview.tsx
  front/README.md
  front/package-lock.json
  front/package.json
  front/src/carbure/__test__/api.ts
Due: build-ci-image, check-frontend

fix: force rebuild docker image with a file (temporary fix)
  .force-rebuild
  .gitlab-ci.yml
Due: none

feat: add base chromatic conf
  front/chromatic.config.json
Due: check-frontend

ci: remove ci docker image, use cache instead
  .gitlab-ci.yml
  ci/Dockerfile
Due: build-ci-image

ci: force CI
  front/src/index.tsx
  web/carbure/settings.py
Due: check-backend, check-frontend

fix: restart CI if config file changed
  .gitlab-ci.yml
  front/src/index.tsx
  web/carbure/settings.py
Due: check-backend, check-frontend

test: add stories input
  front/src/common/components/button.stories.tsx
  front/src/common/components/input.stories.tsx
Due: check-frontend
