Repository MTES-MCT/carbure: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-ci-image, check-backend, check-frontend

.gitlab-ci.yml:

stages:
  - prepare
  - check
  - deploy

variables:
  MYSQL_DATABASE: carbure_mysql_test_db
  MYSQL_ROOT_PASSWORD: carbure_mysql_ci_db_password

# use prebuild CI image when running checks
.checks:
  image: $CI_REGISTRY/$CI_PROJECT_PATH/ci-image:latest
  before_script:
    - mv /app/front/node_modules ./front

# prepare git env to push new code to scalingo
.scalingo:
  image: alpine:latest
  before_script:
    - mkdir ~/.ssh
    - apk add --update git openssh-client
    - eval $(ssh-agent -s)
    - echo "$SCALINGO_SSH_PRIVATE_KEY" | tr -d '\r' | ssh-add -
    - ssh-keyscan $SCALINGO_SSH_HOST >> ~/.ssh/known_hosts
    - chmod 644 ~/.ssh/known_hosts
    - git config user.name $GIT_USER_NAME
    - git config user.email $GIT_USER_EMAIL
    - git remote add scalingo-dev $SCALINGO_GIT_REMOTE_DEV || true
    - git remote add scalingo-staging $SCALINGO_GIT_REMOTE_STAGING || true
    - git remote add scalingo-prod $SCALINGO_GIT_REMOTE_PROD || true
    - git fetch origin $CI_COMMIT_BRANCH --unshallow
    - git checkout $CI_COMMIT_BRANCH

build-ci-image:
  stage: prepare
  image: docker:stable
  services:
    - docker:dind
  script:
    - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
    - docker build -f ci/Dockerfile -t $CI_REGISTRY/$CI_PROJECT_PATH/ci-image:latest .
    - docker push $CI_REGISTRY/$CI_PROJECT_PATH/ci-image:latest
  only:
    changes:
      - ci/Dockerfile
      - Pipfile
      - Pipfile.lock
      - front/package.json
      - front/package-lock.json

check-backend:
  stage: check
  extends: .checks
  services:
    - mysql:8.0
    - redis:latest
  script:
    - export CARBURE_HOME=$(pwd)
    - export DATABASE_URL=mysql://root:$MYSQL_ROOT_PASSWORD@mysql:3306/$MYSQL_DATABASE
    - export REDIS_URL=redis://redis:6379
    - mypy web || true
    - TEST=1 python3 web/manage.py test web
  only:
    refs:
      - dev
      - master
    changes:
      - web/**/*

check-frontend:
  stage: check
  extends: .checks
  script:
    - cd front
    - npx eslint --ext .ts,.tsx src/
    - npm test
  only:
    refs:
      - dev
      - master
    changes:
      - front/**/*

deploy-dev:
  stage: deploy
  extends: .scalingo
  only:
    - dev
  script:
    - git push scalingo-dev $CI_COMMIT_BRANCH:master -f

deploy-staging:
  stage: deploy
  extends: .scalingo
  only:
    - master
  script:
    - git push scalingo-staging master -f

deploy-prod:
  stage: deploy
  extends: .scalingo
  when: manual
  only:
    - master
  script:
    - git push scalingo-prod master -f

[api] fix tests
  web/api/v3/admin/tests.py
Due: check-backend

[api] fix bulk scoring bug
  web/api/v4/views.py
Due: check-backend

[api] fix missing key in prefetched data for sanity checks
  web/api/v4/helpers.py
Due: check-backend

[front] add setDisabledFields to useform + use it for trasnfered lot in correction
  front/src/common/components/form.tsx
  front/src/lot-add/components/delivery-fields.tsx
  front/src/lot-add/components/lot-form.tsx
  front/src/settings/components/double-counting-production-dialog.tsx
  front/src/settings/components/production-site.tsx
  front/src/transaction-details/components/lots/index.tsx
Due: check-frontend

[front] add clearDisabledFields + disabled field for chield from stock batch in correction
  front/src/common/components/form.tsx
  front/src/lot-add/components/lot-form.tsx
  front/src/transaction-details/components/lots/index.tsx
Due: check-frontend

[front] display message in modal when want correction in batch from stock
  front/public/locales/en/translation.json
  front/public/locales/fr/translation.json
  front/src/transaction-details/components/lots/actions.tsx
  front/src/transaction-details/components/lots/index.tsx
  front/src/transaction-details/types.ts
  front/src/transactions/actions/request-fix.tsx
Due: check-frontend

[front] fix test data but 3 tests others doesn't pass TODO
  front/src/transaction-details/__test__/data.ts
Due: check-frontend

[front] fix code review
  front/src/common/components/form.tsx
  front/src/lot-add/components/lot-form.tsx
  front/src/transaction-details/components/lots/index.tsx
Due: check-frontend

[front] fix setgroupsfields state
  front/src/common/components/form.tsx
  front/src/lot-add/components/lot-form.tsx
  front/src/transaction-details/components/lots/index.tsx
Due: check-frontend

[front] display NOT_ENOUGH_VOLUME_LEFT error
  front/public/locales/en/errors.json
  front/public/locales/en/translation.json
  front/public/locales/fr/errors.json
Due: check-frontend

[front] fix tests
  front/src/lot-add/components/delivery-fields.tsx
  front/src/lot-add/components/production-fields.tsx
  front/src/settings/components/double-counting-sourcing-dialog.tsx
Due: check-frontend

[api] add new feedstock CARINATA
  web/fixtures/csv/matierespremieres.csv
Due: check-backend

[api] migration for new external admin rights
  web/core/migrations/0007_alter_externaladminrights_right.py
Due: check-backend

[front] add missing feedstock translations
  front/public/locales/en/feedstocks.json
  front/public/locales/fr/feedstocks.json
Due: check-frontend

[api] allow carinata for emhv
  web/api/v4/sanity_checks.py
Due: check-backend

[api+front] experimental excel uploader that can take into account typos and errors
  front/src/common/components/input.tsx
  front/src/lot-add/components/lot-form.tsx
  front/src/transactions/actions/import.tsx
  front/src/transactions/api.ts
  web/api/v4/sanity_checks.py
  web/api/v4/views.py
  web/api/v5/__init__.py
  web/api/v5/transactions/__init__.py
  web/api/v5/transactions/upload_lot_excel.py
  web/core/migrations/0007_alter_carburelot_transport_document_type_and_more.py
  web/core/models.py
Due: check-backend, check-frontend

[front] ticekt sources grouped-select for assignement
  front/src/saf/api.ts
  front/src/saf/components/operator-tabs.tsx
  front/src/saf/components/ticket-sources/index.tsx
  front/src/saf/components/ticket-sources/summary.tsx
  front/src/saf/components/ticket-sources/table.tsx
  front/src/saf/types.ts
Due: check-frontend

[api] add english names to excel template
  docker-compose.yml
  scripts/patches/2022-12-19_add_english_names_to_feedstock_and_biofuel.py
  web/core/xlsx_v3.py
Due: check-backend

[front] start groupedAssignement modal
  front/src/carbure/__test__/data.ts
  front/src/carbure/components/notifications.tsx
  front/src/saf/api.ts
  front/src/saf/components/assignment/grouped-assignment.tsx
  front/src/saf/components/assignment/index.tsx
  front/src/saf/components/assignment/period-select.tsx
  front/src/saf/components/assignment/volume-input.tsx
  front/src/saf/components/ticket-source-details/index.tsx
  front/src/saf/components/ticket-sources/index.tsx
  front/src/saf/components/ticket-sources/summary.tsx
  front/src/saf/components/ticket-sources/table.tsx
Due: check-frontend

[front] group-assign - wait for define api and types
  front/src/saf/components/assignment/grouped-assignment.tsx
  front/src/saf/components/ticket-sources/index.tsx
  front/src/saf/components/ticket-sources/summary.tsx
  front/src/saf/components/ticket-sources/table.tsx
Due: check-frontend

[front] adapt front for expected changes
  front/src/saf/api.ts
  front/src/saf/components/ticket-sources/summary.tsx
Due: check-frontend
