Repository MTES-MCT/carbure: changes, and which GitLab CI jobs are due for each by the changed paths.
All: check-backend, check-frontend

.gitlab-ci.yml:

stages:
  - check


workflow:
  rules:
    # 1. Don't run pipelines for MR drafts.
    - if: $CI_PIPELINE_SOURCE == "merge_request_event" && $CI_MERGE_REQUEST_TITLE =~ /^Draft:/
      when: never

    # 2. Don't run branch pipelines when there's an open MR for the branch (run the MR pipeline instead).
    - if: $CI_COMMIT_BRANCH && $CI_OPEN_MERGE_REQUESTS
      when: never

    # 3. Run all other MR pipelines
    - if: $CI_PIPELINE_SOURCE == 'merge_request_event'
      when: always

    # 4. Run branch pipelines for dev and master
    - if: $CI_COMMIT_BRANCH == "dev" || $CI_COMMIT_BRANCH == "master"
      when: always

    # 5. Else, don't run it
    - when: never


variables:
  MYSQL_DATABASE: carbure_mysql_test_db
  MYSQL_ROOT_PASSWORD: carbure_mysql_ci_db_password
  PIP_CACHE_DIR: "$CI_PROJECT_DIR/.cache/pip"
  PIPENV_VENV_IN_PROJECT: true


# job: run linting and tests for backend
check-backend:
  stage: check
  extends: .backend
  services:
    - mysql:8.0
    - redis:latest
  script:
    - export CARBURE_HOME=$(pwd)
    - export DATABASE_URL=mysql://root:$MYSQL_ROOT_PASSWORD@mysql:3306/$MYSQL_DATABASE
    - export REDIS_URL=redis://redis:6379
    - pipenv run ruff check
    - pipenv run ruff format --check
    - TEST=1 pipenv run python web/manage.py test web


# job: run linting and tests for frontend
check-frontend:
  stage: check
  extends: .frontend
  script:
    - npm run lint
    - npm run build
    - npx chromatic
  interruptible: true


.backend:
  image: python:3.12
  cache:
    - key:
        files:
          - Pipfile.lock
      paths:
        - .cache/pip/
        - .venv/
  before_script:
    - pip install pipenv
    - pipenv install --dev --deploy --ignore-pipfile
  rules:
    - changes:
      - web/**/*
      - .gitlab-ci.yml


.frontend:
  image: node:latest
  cache:
    - key:
        files:
          - front/package-lock.json
      paths:
        - front/.npm/
  before_script:
    - cd front
    - npm ci --cache .npm --prefer-offline
  rules:
    - changes:
      - front/**/*
      - .gitlab-ci.yml

Merge branch 'fix/1215-producer-excel' into 'staging'
  front/public/locales/en/errors.json
  front/public/locales/fr/errors.json
  front/src/lot-add/components/lot-form.tsx
  web/core/carburetypes.py
  web/core/common.py
  web/transactions/api/lots/tests/tests_excel.py
  web/transactions/fixtures/test_lot_template.xlsx
  web/transactions/helpers.py
  web/transactions/sanity_checks/mandatory.py
  web/transactions/sanity_checks/sanity_checks.py
Due: check-backend, check-frontend

fix: fixtures and no migration
  web/core/migrations/0039_new_kraft_mp.py
  web/doublecount/parser/excel_to_carbure_convertor.py
  web/fixtures/csv/matierespremieres.csv
Due: check-backend

feat(tiruert): fix fuel and objective model
  web/tiruert/models/fossil_fuel.py
  web/tiruert/models/objectives.py
Due: check-backend

feat(register): register company outside france
  front/src/carbure/api.ts
  front/src/companies/components/company-form.tsx
  front/src/companies/components/foreign-company-dialog.tsx
  front/src/companies/components/registration-dialog.hooks.ts
  front/src/companies/components/registration-dialog.tsx
Due: check-frontend

feat(tiruert - soldes): start cession/devaluation/exportation dialog
  front/src/common/components/notice/notice.module.css
  front/src/common/components/notice/notice.stories.tsx
  front/src/common/components/notice/notice.tsx
  front/src/material-accounting/balances/components/debit-operation-dialog/cession-dialog/cession-dialog.module.css
  front/src/material-accounting/balances/components/debit-operation-dialog/cession-dialog/cession-dialog.tsx
  front/src/material-accounting/balances/components/debit-operation-dialog/cession-dialog/index.ts
  front/src/material-accounting/balances/components/debit-operation-dialog/debit-operation-dialog.module.css
  front/src/material-accounting/balances/components/debit-operation-dialog/debit-operation-dialog.tsx
  front/src/material-accounting/balances/components/debit-operation-dialog/devaluation-dialog/devaluation-dialog.tsx
  front/src/material-accounting/balances/components/debit-operation-dialog/devaluation-dialog/index.ts
  front/src/material-accounting/balances/components/debit-operation-dialog/exportation-dialog/exportation-dialog.tsx
  front/src/material-accounting/balances/components/debit-operation-dialog/exportation-dialog/index.ts
  front/src/material-accounting/balances/components/debit-operation-dialog/index.ts
  front/src/material-accounting/components/operation-text.module.css
  front/src/material-accounting/components/operation-text.tsx
Due: check-frontend

feat(tiruert soldes): add balances table
  front/src/accounting/index.tsx
  front/src/common/utils/routes.ts
  front/src/material-accounting/balances/api.ts
  front/src/material-accounting/balances/balances.hooks.tsx
  front/src/material-accounting/balances/balances.tsx
  front/src/material-accounting/balances/index.ts
Due: check-frontend

feat(tiruert operations): start debit operation dialog
  front/src/accounting/operations/types.ts
  front/src/common/components/inputs2/radio/radio.module.css
  front/src/common/components/inputs2/radio/radio.tsx
  front/src/common/hooks/query-builder-2.ts
  front/src/material-accounting/balances/api.ts
  front/src/material-accounting/balances/balances.hooks.tsx
  front/src/material-accounting/balances/balances.tsx
  front/src/material-accounting/balances/components/debit-operation-dialog.module.css
  front/src/material-accounting/balances/components/debit-operation-dialog.tsx
  front/src/material-accounting/balances/types.ts
Due: check-frontend

feat(tiruert soldes): continue cession dialog
  front/src/accounting/api.ts
  front/src/accounting/balances/components/debit-operation-dialog/cession-dialog/api.ts
  front/src/accounting/balances/components/debit-operation-dialog/cession-dialog/cession-dialog.module.css
  front/src/accounting/balances/components/debit-operation-dialog/cession-dialog/cession-dialog.tsx
  front/src/accounting/balances/components/debit-operation-dialog/cession-dialog/cession-dialog.types.ts
  front/src/accounting/balances/components/debit-operation-dialog/cession-dialog/from-depot/from-depot.tsx
  front/src/accounting/balances/components/debit-operation-dialog/cession-dialog/from-depot/index.ts
  front/src/accounting/operations/pages/operation-detail/operation-detail.tsx
  front/src/common/components/autocomplete2/autocomplete.stories.tsx
  front/src/common/components/autocomplete2/autocomplete.tsx
  front/src/common/components/autocomplete2/index.ts
  front/src/common/components/button2/button.tsx
  front/src/common/components/stepper/stepper.stories.tsx
  front/src/common/components/stepper/stepper.tsx
Due: check-frontend

refactor(TIRUERT - SOLDES): move types to the accounting folder
  front/src/accounting/balances/api.ts
  front/src/accounting/balances/balances.hooks.tsx
  front/src/accounting/balances/balances.tsx
  front/src/accounting/balances/components/debit-operation-dialog/cession-dialog/cession-dialog.tsx
  front/src/accounting/balances/components/debit-operation-dialog/debit-operation-dialog.tsx
  front/src/accounting/balances/types.ts
  front/src/accounting/hooks/normalizers.ts
  front/src/accounting/operations/components/operation-badge.tsx
  front/src/accounting/operations/operations.hooks.tsx
  front/src/accounting/operations/operations.tsx
  front/src/accounting/operations/operations.utils.ts
  front/src/accounting/operations/pages/operation-detail/operation-detail.tsx
  front/src/accounting/operations/types.ts
  front/src/accounting/types.ts
  front/src/accounting/utils/formatters.ts
Due: check-frontend

feat(tiruert soldes - cession): get available volume for a depot
  front/src/accounting/balances/components/debit-operation-dialog/cession-dialog/api.ts
  front/src/accounting/balances/components/debit-operation-dialog/cession-dialog/cession-dialog.tsx
  front/src/accounting/balances/components/debit-operation-dialog/cession-dialog/from-depot-form/from-depot-form.tsx
  front/src/accounting/balances/components/debit-operation-dialog/cession-dialog/from-depot-form/index.ts
  front/src/accounting/balances/components/debit-operation-dialog/cession-dialog/from-depot/from-depot.tsx
  front/src/accounting/balances/components/debit-operation-dialog/cession-dialog/from-depot/index.ts
  front/src/common/components/form2/form.tsx
  front/src/common/components/inputs2/base-input.module.css
  front/src/common/components/inputs2/base-input.tsx
Due: check-frontend

feat(tiruert soldes): add generic stepper component
  front/src/accounting/balances/components/debit-operation-dialog/cession-dialog/cession-dialog.tsx
  front/src/accounting/index.tsx
  front/src/carbure/assets/css/index.css
  front/src/carbure/assets/css/reset.css
  front/src/common/components/stepper/index.ts
  front/src/common/components/stepper/stepper.module.css
  front/src/common/components/stepper/stepper.tsx
Due: check-frontend

refactor: fix folder namings
  front/src/accounting/balance/balance.tsx
  front/src/accounting/balance/index.ts
  front/src/accounting/balances/api.ts
  front/src/accounting/balances/balances.hooks.tsx
  front/src/accounting/balances/balances.tsx
  front/src/accounting/balances/components/debit-operation-dialog/cession-dialog/cession-dialog.module.css
  front/src/accounting/balances/components/debit-operation-dialog/cession-dialog/cession-dialog.tsx
  front/src/accounting/balances/components/debit-operation-dialog/cession-dialog/index.ts
  front/src/accounting/balances/components/debit-operation-dialog/debit-operation-dialog.module.css
  front/src/accounting/balances/components/debit-operation-dialog/debit-operation-dialog.tsx
  front/src/accounting/balances/components/debit-operation-dialog/devaluation-dialog/devaluation-dialog.tsx
  front/src/accounting/balances/components/debit-operation-dialog/devaluation-dialog/index.ts
  front/src/accounting/balances/components/debit-operation-dialog/exportation-dialog/exportation-dialog.tsx
  front/src/accounting/balances/components/debit-operation-dialog/exportation-dialog/index.ts
  front/src/accounting/balances/components/debit-operation-dialog/index.ts
  front/src/accounting/balances/index.ts
  front/src/accounting/balances/types.ts
  front/src/accounting/components/operation-text.module.css
  front/src/accounting/components/operation-text.tsx
Due: check-frontend

feat(tiruert soldes): terminate first step cession dialog
  front/public/locales/en/translation.json
  front/public/locales/fr/translation.json
  front/src/accounting/balances/balances.hooks.tsx
  front/src/accounting/balances/components/debit-operation-dialog/cession-dialog/cession-dialog.tsx
  front/src/accounting/balances/components/debit-operation-dialog/cession-dialog/from-depot-form/from-depot-form.tsx
  front/src/common/components/autocomplete2/autocomplete.stories.tsx
  front/src/common/utils/formatters.ts
  front/src/settings/components/production-site-dialog.tsx
Due: check-frontend

feat(lazy load): lazy load pages instead of single import
  front/src/accounting/index.tsx
  front/src/carbure/index.tsx
  front/src/contact/index.tsx
  front/src/elec/operator.tsx
  front/src/index.tsx
Due: check-frontend

feat(balances): continue step 2 cession
  front/src/accounting/balances/components/debit-operation-dialog/cession-dialog/cession-dialog.tsx
  front/src/accounting/balances/components/debit-operation-dialog/cession-dialog/cession-dialog.types.ts
  front/src/accounting/balances/components/debit-operation-dialog/cession-dialog/from-depot-form/from-depot-form.tsx
  front/src/accounting/balances/components/debit-operation-dialog/cession-dialog/volume-form/index.ts
  front/src/accounting/balances/components/debit-operation-dialog/cession-dialog/volume-form/volume-form.tsx
  front/src/accounting/components/operation-text.tsx
  front/src/common/components/autocomplete2/autocomplete.stories.tsx
  front/src/common/components/autocomplete2/autocomplete.tsx
  front/src/common/components/stepper/stepper.tsx
Due: check-frontend

feat(tiruert soldes): add step 2 volume
  front/src/accounting/api.ts
  front/src/accounting/balances/components/debit-operation-dialog/cession-dialog/cession-dialog.tsx
  front/src/accounting/balances/components/debit-operation-dialog/cession-dialog/cession-dialog.types.ts
  front/src/accounting/balances/components/debit-operation-dialog/cession-dialog/from-depot-form/from-depot-form.tsx
  front/src/accounting/balances/components/debit-operation-dialog/cession-dialog/volume-form/volume-form.tsx
  front/src/common/components/inputs2/base-input.module.css
  front/src/common/components/inputs2/base-input.tsx
Due: check-frontend

feat(tiruert soldes) terminate cession dialog
  front/src/accounting/balances/components/debit-operation-dialog/cession-dialog/cession-dialog.tsx
  front/src/accounting/balances/components/debit-operation-dialog/cession-dialog/cession-dialog.types.ts
  front/src/accounting/balances/components/debit-operation-dialog/cession-dialog/recipient-to-depot-form/index.ts
  front/src/accounting/balances/components/debit-operation-dialog/cession-dialog/recipient-to-depot-form/recipient-to-depot-form.tsx
  front/src/accounting/balances/components/debit-operation-dialog/cession-dialog/volume-form/volume-form.tsx
  front/src/accounting/components/operation-text.tsx
  front/src/common/components/autocomplete2/autocomplete.tsx
  front/src/common/components/inputs2/input.tsx
Due: check-frontend

feat(tiruert soldes cession): call createOperation
  front/src/accounting/api.ts
  front/src/accounting/balances/balances.hooks.tsx
  front/src/accounting/balances/components/debit-operation-dialog/cession-dialog/api.ts
  front/src/accounting/balances/components/debit-operation-dialog/cession-dialog/cession-dialog.tsx
  front/src/accounting/balances/components/debit-operation-dialog/cession-dialog/cession-dialog.types.ts
  front/src/accounting/balances/components/debit-operation-dialog/cession-dialog/from-depot-form/from-depot-form.tsx
  front/src/accounting/balances/components/debit-operation-dialog/cession-dialog/recipient-to-depot-form/recipient-to-depot-form.tsx
  front/src/accounting/balances/components/debit-operation-dialog/cession-dialog/volume-form/volume-form.tsx
  front/src/accounting/balances/types.ts
  front/src/accounting/types.ts
  front/src/common/components/autocomplete2/autocomplete.tsx
  front/src/common/services/api-fetch.ts
Due: check-frontend

feat: rename volume to quantity
  front/public/locales/en/translation.json
  front/public/locales/fr/translation.json
  front/src/accounting/api.ts
  front/src/accounting/balances/components/debit-operation-dialog/cession-dialog/cession-dialog.tsx
  front/src/accounting/balances/components/debit-operation-dialog/cession-dialog/cession-dialog.types.ts
  front/src/accounting/balances/components/debit-operation-dialog/cession-dialog/from-depot-form/from-depot-form.tsx
  front/src/accounting/balances/components/debit-operation-dialog/cession-dialog/quantity-form/index.ts
  front/src/accounting/balances/components/debit-operation-dialog/cession-dialog/quantity-form/quantity-form.tsx
  front/src/accounting/balances/components/debit-operation-dialog/cession-dialog/recipient-to-depot-form/recipient-to-depot-form.tsx
  front/src/accounting/balances/components/debit-operation-dialog/cession-dialog/volume-form/index.ts
  front/src/common/utils/formatters.ts
Due: check-frontend

feat(tiruert soldes cession): fix types
  front/src/accounting/balances/api.ts
  front/src/accounting/balances/components/debit-operation-dialog/cession-dialog/api.ts
  front/src/accounting/balances/components/debit-operation-dialog/cession-dialog/cession-dialog.types.ts
  front/src/accounting/balances/components/debit-operation-dialog/cession-dialog/from-depot-form/from-depot-form.tsx
  front/src/accounting/balances/components/debit-operation-dialog/cession-dialog/volume-form/volume-form.tsx
Due: check-frontend

feat(tiruert cession): terminate fixs cession dialog
  front/public/locales/en/translation.json
  front/public/locales/fr/translation.json
  front/src/accounting/api.ts
  front/src/accounting/balances/balances.hooks.tsx
  front/src/accounting/balances/components/debit-operation-dialog/cession-dialog/api.ts
  front/src/accounting/balances/components/debit-operation-dialog/cession-dialog/cession-dialog.tsx
  front/src/accounting/balances/components/debit-operation-dialog/cession-dialog/from-depot-form/from-depot-form.tsx
  front/src/accounting/balances/components/debit-operation-dialog/cession-dialog/quantity-form/quantity-form.tsx
  front/src/accounting/balances/components/debit-operation-dialog/cession-dialog/recipient-to-depot-form/recipient-to-depot-form.tsx
  front/src/accounting/balances/components/debit-operation-dialog/debit-operation-dialog.tsx
  front/src/accounting/index.tsx
  front/src/accounting/operations/operations.utils.ts
  front/src/accounting/operations/pages/operation-detail/operation-detail.tsx
  front/src/common/components/autocomplete2/autocomplete.tsx
  front/src/common/hooks/unit.ts
  front/src/common/layouts/navigation/private/sidebar/hooks/useMaterialAccouting.ts
Due: check-frontend

feat(tiruert soldes): add line through
  front/src/accounting/operations/operations.hooks.tsx
  front/src/accounting/operations/operations.tsx
  front/src/carbure/assets/css/reset.css
  front/src/common/components/no-result2/index.ts
  front/src/common/components/no-result2/no-result.tsx
  front/src/common/hooks/query-builder-2.ts
Due: check-frontend

refacto(soldes tiruert): move all endpoints to a single api file
  front/src/accounting/api.ts
  front/src/accounting/operations/api.ts
  front/src/accounting/operations/operations.hooks.tsx
  front/src/accounting/operations/operations.tsx
  front/src/accounting/operations/operations.utils.ts
  front/src/accounting/operations/pages/operation-detail/api.ts
  front/src/accounting/operations/pages/operation-detail/operation-detail.hooks.ts
  front/src/accounting/operations/pages/operation-detail/operation-detail.tsx
  front/src/accounting/operations/types.ts
  front/src/accounting/types.ts
Due: check-frontend

refacto(soldes tiruert): make each step of the cession formreusable
  front/src/accounting/balances/components/debit-operation-dialog/cession-dialog/cession-dialog.types.ts
  front/src/accounting/components/from-depot-form/api.ts
  front/src/accounting/components/from-depot-form/from-depot-form.tsx
  front/src/accounting/components/from-depot-form/index.ts
  front/src/accounting/components/quantity-form/index.ts
  front/src/accounting/components/quantity-form/quantity-form.tsx
  front/src/accounting/components/recipient-to-depot-form/api.ts
  front/src/accounting/components/recipient-to-depot-form/index.ts
  front/src/accounting/components/recipient-to-depot-form/recipient-to-depot-form.tsx
  front/src/accounting/index.tsx
  front/src/accounting/pages/balances/api.ts
  front/src/accounting/pages/balances/balances.hooks.tsx
  front/src/accounting/pages/balances/balances.tsx
  front/src/accounting/pages/balances/components/debit-operation-dialog/cession-dialog/cession-dialog.module.css
  front/src/accounting/pages/balances/components/debit-operation-dialog/cession-dialog/cession-dialog.tsx
  front/src/accounting/pages/balances/components/debit-operation-dialog/cession-dialog/cession-dialog.types.ts
  front/src/accounting/pages/balances/components/debit-operation-dialog/cession-dialog/index.ts
  front/src/accounting/pages/balances/components/debit-operation-dialog/debit-operation-dialog.module.css
  front/src/accounting/pages/balances/components/debit-operation-dialog/debit-operation-dialog.tsx
  front/src/accounting/pages/balances/components/debit-operation-dialog/devaluation-dialog/devaluation-dialog.tsx
  front/src/accounting/pages/balances/components/debit-operation-dialog/devaluation-dialog/index.ts
  front/src/accounting/pages/balances/components/debit-operation-dialog/exportation-dialog/exportation-dialog.tsx
  front/src/accounting/pages/balances/components/debit-operation-dialog/exportation-dialog/index.ts
  front/src/accounting/pages/balances/components/debit-operation-dialog/index.ts
  front/src/accounting/pages/balances/index.ts
  front/src/accounting/pages/balances/types.ts
  front/src/accounting/pages/operations/components/operation-badge.tsx
  front/src/accounting/pages/operations/index.ts
  front/src/accounting/pages/operations/operations.hooks.tsx
  front/src/accounting/pages/operations/operations.tsx
  front/src/accounting/pages/operations/operations.utils.ts
  front/src/accounting/pages/operations/pages/operation-detail/index.ts
  front/src/accounting/pages/operations/pages/operation-detail/operation-detail.hooks.ts
  front/src/accounting/pages/operations/pages/operation-detail/operation-detail.module.css
  front/src/accounting/pages/operations/pages/operation-detail/operation-detail.tsx
Due: check-frontend

feat(tiruert soldes): update stepper to disallow next step
  front/src/accounting/components/from-depot-form/from-depot-form.tsx
  front/src/accounting/components/quantity-form/quantity-form.tsx
  front/src/accounting/components/recipient-to-depot-form/recipient-to-depot-form.tsx
  front/src/accounting/pages/balances/components/debit-operation-dialog/cession-dialog/cession-dialog.tsx
  front/src/accounting/pages/operations/operations.utils.ts
  front/src/accounting/pages/operations/pages/operation-detail/operation-detail.tsx
  front/src/common/components/stepper/stepper.stories.tsx
  front/src/common/components/stepper/stepper.tsx
Due: check-frontend

refacto(carbure->common): fix bad imports
  front/src/accounting/operations/operations.hooks.tsx
  front/src/accounting/operations/operations.tsx
  front/src/accounting/operations/pages/operation-detail/operation-detail.tsx
  front/src/common/layouts/navigation/private/sidebar/hooks/useMaterialAccouting.ts
  front/src/companies/components/company-form.tsx
Due: check-frontend

feat(947): create certificate for compensation
  web/elec/management/commands/compensate_elec_provision_certificate.py
  web/elec/management/scripts/__init__.py
  web/elec/management/scripts/compensate_elec_provision_certificate.py
  web/elec/migrations/0052_elecprovisioncertificate_compensation.py
  web/elec/migrations/0053_update_model_data.py
  web/elec/models/elec_provision_certificate.py
  web/tiruert/migrations/0009_fossilfuelcategory_fossilfuel_objective.py
  web/transactions/migrations/0013_alter_yearconfig_renewable_share.py
  web/transactions/models/year_config.py
Due: check-backend

refacto(carbure->common): fix bad imports
  front/.storybook/main.ts
  front/.storybook/mocks.ts
  front/.storybook/mocks/common.ts
  front/.storybook/mocks/index.ts
  front/src/accounting/operations/operations.hooks.tsx
  front/src/accounting/operations/operations.tsx
  front/src/accounting/operations/pages/operation-detail/operation-detail.tsx
  front/src/common/layouts/navigation/private/notifications/notifications.stories.tsx
  front/src/common/layouts/navigation/private/sidebar/hooks/useMaterialAccouting.ts
  front/src/companies/components/company-form.tsx
  front/tsconfig.json
Due: check-frontend

ci: skip chromatic on dev pipeline
  .gitlab-ci.yml
Due: check-backend, check-frontend

fix: migrations
  web/core/migrations/0039_alter_externaladminrights_right.py
  web/transactions/migrations/0012_site_is_ue_airport.py
Due: check-backend

feat: double count download link
  front/public/locales/en/translation.json
  front/public/locales/fr/translation.json
  front/src/double-counting-admin/components/agreements/agreement-details-dialog.tsx
  front/src/double-counting/components/files-table.tsx
  web/doublecount/serializers.py
Due: check-backend, check-frontend

fix(1201): filters for agreement view for MTE-DGEC
  api-schema.yaml
  api-schema.yml
  front/src/api-schema.ts
  front/src/double-counting-admin/api.ts
  front/src/double-counting-admin/components/agreements/agreement-list.tsx
  front/src/double-counting-admin/filters.tsx
  front/src/double-counting-admin/types.ts
  web/carbure/settings.py
  web/core/carburetypes.py
  web/doublecount/filters/agreement.py
  web/doublecount/views/agreements/agreement.py
  web/doublecount/views/agreements/mixins/__init__.py
  web/doublecount/views/agreements/mixins/filter.py
  web/doublecount/views/agreements/mixins/list_admin.py
  web/saf/filters/ticket.py
  web/saf/filters/ticket_source.py
  web/tiruert/filters.py
Due: check-backend, check-frontend

fix: add validity date
  front/public/locales/en/translation.json
  front/public/locales/fr/translation.json
  front/src/double-counting-admin/components/applications/application-info.tsx
  front/src/double-counting-admin/components/applications/application-list.tsx
Due: check-frontend

fix: translations
  front/public/locales/en/translation.json
  front/public/locales/fr/translation.json
Due: check-frontend

fix: fix csp style
  web/carbure/settings.py
Due: check-backend

fix(doucle coun): fix <trans> component
  front/src/double-counting-admin/components/applications/application-info.tsx
Due: check-frontend

fix: permissions as company admin
  front/src/common/molecules/user-rights-table/user-rights-table.tsx
  front/src/companies-admin/routes/entity-details.tsx
Due: check-frontend

fix: fix user error + translations
  front/public/locales/en/translation.json
  front/public/locales/fr/translation.json
  front/src/common/molecules/user-rights-table/user-rights-table.tsx
  front/src/companies-admin/index.tsx
  front/src/companies-admin/routes/entity-details.tsx
  front/src/companies/components/company-form.tsx
  front/src/companies/components/company-info-siren-missing-dialog.tsx
  front/src/settings/components/company-info.tsx
Due: check-frontend
