Repository MTES-MCT/carbure: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-ci-image, check-backend, check-frontend

.gitlab-ci.yml:

stages:
  - prepare
  - check
  - deploy

variables:
  MYSQL_DATABASE: carbure_mysql_test_db
  MYSQL_ROOT_PASSWORD: carbure_mysql_ci_db_password

# use prebuild CI image when running checks
.checks:
  image: $CI_REGISTRY/$CI_PROJECT_PATH/ci-image:latest
  before_script:
    - mv /app/front/node_modules ./front

# prepare git env to push new code to scalingo
.scalingo:
  image: alpine:latest
  before_script:
    - mkdir ~/.ssh
    - apk add --update git openssh-client
    - eval $(ssh-agent -s)
    - echo "$SCALINGO_SSH_PRIVATE_KEY" | tr -d '\r' | ssh-add -
    - ssh-keyscan $SCALINGO_SSH_HOST >> ~/.ssh/known_hosts
    - chmod 644 ~/.ssh/known_hosts
    - git config user.name $GIT_USER_NAME
    - git config user.email $GIT_USER_EMAIL
    - git remote add scalingo-dev $SCALINGO_GIT_REMOTE_DEV || true
    - git remote add scalingo-staging $SCALINGO_GIT_REMOTE_STAGING || true
    - git remote add scalingo-prod $SCALINGO_GIT_REMOTE_PROD || true
    - git fetch origin $CI_COMMIT_BRANCH --unshallow
    - git checkout $CI_COMMIT_BRANCH

build-ci-image:
  stage: prepare
  image: docker:stable
  services:
    - docker:dind
  script:
    - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
    - docker build -f ci/Dockerfile -t $CI_REGISTRY/$CI_PROJECT_PATH/ci-image:latest .
    - docker push $CI_REGISTRY/$CI_PROJECT_PATH/ci-image:latest
  only:
    changes:
      - ci/Dockerfile
      - Pipfile
      - Pipfile.lock
      - front/package.json
      - front/package-lock.json

check-backend:
  stage: check
  extends: .checks
  services:
    - mysql:8.0
    - redis:latest
  script:
    - export CARBURE_HOME=$(pwd)
    - export DATABASE_URL=mysql://root:$MYSQL_ROOT_PASSWORD@mysql:3306/$MYSQL_DATABASE
    - export REDIS_URL=redis://redis:6379
    - mypy web || true
    - TEST=1 python3 web/manage.py test web
  only:
    refs:
      - dev
      - master
    changes:
      - web/**/*

check-frontend:
  stage: check
  extends: .checks
  script:
    - cd front
    - npx eslint --ext .ts,.tsx src/
    - npm test
  only:
    refs:
      - dev
      - master
    changes:
      - front/**/*

deploy-dev:
  stage: deploy
  extends: .scalingo
  only:
    - dev
  script:
    - git push scalingo-dev $CI_COMMIT_BRANCH:master -f

deploy-staging:
  stage: deploy
  extends: .scalingo
  only:
    - master
  script:
    - git push scalingo-staging master -f

deploy-prod:
  stage: deploy
  extends: .scalingo
  when: manual
  only:
    - master
  script:
    - git push scalingo-prod master -f

[back] add endpoint for elec audit application details
  web/elec/api/audit/application_details.py
Due: check-backend

[front] display correct count for in progress elec audits
  front/src/elec-audit-admin/__test__/data.ts
  front/src/elec-audit-admin/components/meter-readings/list.tsx
  front/src/elec-audit-admin/index.tsx
  front/src/elec-audit-admin/types.ts
Due: check-frontend

[back] cleanup
  web/elec/api/admin/snapshot.py
  web/elec/api/audit/application_details.py
  web/elec/api/audit/get_sample.py
Due: check-backend

[back] modify meter reading admin audit endpoint to manage audit samples
  web/elec/api/admin/audit/meter_readings/__init__.py
  web/elec/api/admin/audit/meter_readings/application_details.py
  web/elec/api/admin/audit/meter_readings/generate_sample.py
  web/elec/api/admin/audit/meter_readings/get_sample.py
  web/elec/api/admin/audit/meter_readings/tests_audit_meter_readings.py
  web/elec/serializers/elec_meter_reading_application.py
Due: check-backend

[front] disable missingCompanyInfoModal
  front/src/carbure/index.tsx
Due: check-frontend

[front] place save button to the bottom of companyInfoForm
  front/src/settings/components/company-info.tsx
Due: check-frontend

[front] meter readings - add api mocks
  front/src/elec-audit-admin/__test__/api.ts
  front/src/elec-audit-admin/components/meter-readings/details-application-summary.tsx
  front/src/elec-audit-admin/components/meter-readings/details.tsx
  front/src/elec-audit-admin/components/sample/generation.tsx
  front/src/elec/__test__/data.ts
  front/src/elec/types.ts
  front/src/index.tsx
Due: check-frontend

[front] factorisation sample generation to add meter-readings easily
  front/src/elec-audit-admin/__test__/api.ts
  front/src/elec-audit-admin/__test__/data.ts
  front/src/elec-audit-admin/components/charge-points/details-application-summary.tsx
  front/src/elec-audit-admin/components/charge-points/details-pending.tsx
  front/src/elec-audit-admin/components/charge-points/details-sample-generation-form.tsx
  front/src/elec-audit-admin/components/charge-points/details.tsx
  front/src/elec-audit-admin/components/meter-readings/details-pending.tsx
  front/src/elec-audit-admin/components/sample/application-generation.tsx
  front/src/elec/__test__/data.ts
  front/src/elec/types.ts
Due: check-frontend

[front] audit - add meter readings sample generation
  front/src/elec-audit-admin/api.ts
  front/src/elec-audit-admin/components/charge-points/details-accepted.tsx
  front/src/elec-audit-admin/components/charge-points/details-in-progress.tsx
  front/src/elec-audit-admin/components/charge-points/details-pending.tsx
  front/src/elec-audit-admin/components/charge-points/details.tsx
  front/src/elec-audit-admin/components/meter-readings/details-pending.tsx
  front/src/elec-audit-admin/components/meter-readings/details.tsx
  front/src/elec-audit-admin/components/sample/application-generation.tsx
  front/src/elec-audit-admin/components/sample/details-sample-generation-form.tsx
  front/src/elec-audit-admin/components/sample/details-sample-summary.tsx
  front/src/elec-audit-admin/components/sample/sample-map.tsx
  front/src/elec-audit-admin/types.ts
  front/src/elec-audit/__test__/data.ts
  front/src/elec-audit/components/details.tsx
  front/src/elec/__test__/data.ts
  front/src/elec/types.ts
Due: check-frontend

[front] enable SIREN modal
  front/src/carbure/index.tsx
Due: check-frontend

[front] add test for sample generation
  front/src/elec-audit-admin/__test__/api.ts
  front/src/elec-audit-admin/__test__/audit-admin-charge-points-sample.spec.tsx
  front/src/elec-audit-admin/components/charge-points/details-pending.tsx
  front/src/elec-audit-admin/components/charge-points/reject-dialog.tsx
  front/src/elec-audit-admin/components/meter-readings/details-pending.tsx
  front/src/elec-audit-admin/components/meter-readings/reject-dialog.tsx
  front/src/elec-audit-admin/components/sample/application-generation.tsx
  front/src/saf/__test__/saf-operator.spec.tsx
Due: check-frontend

[front] add history modal for audit applications
  front/src/elec-audit-admin/__test__/api.ts
  front/src/elec-audit-admin/components/charge-points/details-history.tsx
  front/src/elec-audit-admin/components/charge-points/details.tsx
  front/src/elec-audit-admin/components/meter-readings/details-history-copy.tsx
  front/src/elec-audit-admin/components/meter-readings/details-in-progress.tsx
  front/src/elec-audit-admin/components/meter-readings/details.tsx
  front/src/elec/__test__/data.ts
  front/src/elec/types.ts
Due: check-frontend

[front+api] link to api and add power_total to meterReadings details
  front/src/elec-audit-admin/__test__/api.ts
  front/src/elec-audit-admin/api.ts
  front/src/elec-audit-admin/components/meter-readings/details-pending.tsx
  front/src/elec-audit-admin/components/meter-readings/details.tsx
  front/src/index.tsx
  web/elec/api/admin/audit/meter_readings/application_details.py
  web/elec/repositories/meter_reading_repository.py
  web/elec/serializers/elec_meter_reading_application.py
Due: check-backend, check-frontend

[front] fix wording
  front/public/locales/en/translation.json
  front/src/elec-audit-admin/components/charge-points/details-in-progress.tsx
  front/src/elec-audit-admin/components/charge-points/details-pending.tsx
  front/src/elec-audit-admin/components/charge-points/details.tsx
  front/src/elec-audit-admin/components/charge-points/list.tsx
  front/src/elec-audit/components/details.tsx
  front/src/elec-audit/components/list.tsx
  front/src/elec/__test__/data.ts
  front/src/elec/api-cpo.ts
Due: check-frontend

[front] audit translations
  front/public/locales/en/translation.json
  front/public/locales/fr/translation.json
Due: check-frontend

[front] translate user company panel for admin
  front/src/companies-admin/components/user-rights.tsx
Due: check-frontend

[front] fix h1 DC list
  front/src/carbure/assets/css/index.css
  front/src/double-counting/components/agreement-public-list.tsx
Due: check-frontend

[back] add script to recompute stock volumes based on current state
  web/carbure/scripts/recompute_stocks.py
Due: check-backend

[back] correctly update parent stocks when canceling etbe transformations
  web/core/models.py
  web/transactions/api/stocks/cancel_transformation.py
  web/transactions/api/stocks/tests_stocks.py
Due: check-backend

[back] fix stock transform cancel
  web/transactions/api/stocks/cancel_transformation.py
  web/transactions/api/stocks/tests_stocks.py
Due: check-backend

[back] fix github issue/59 - activity_description limited to 5000 char
  web/entity/api/update_info.py
Due: check-backend

[api + front] disabled meer_readings declaration if no chargePoint available
  front/src/elec/__test__/data.ts
  front/src/elec/__test__/settings-meter-readings.spec.tsx
  front/src/elec/components/meter-readings/settings.tsx
  front/src/elec/types.ts
  web/elec/api/cpo/meter_readings/applications.py
  web/elec/api/cpo/meter_readings/tests_meter_readings.py
Due: check-backend, check-frontend
