Repository MTES-MCT/carbure: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-ci-image, check-backend, check-frontend

.gitlab-ci.yml:

stages:
  - prepare
  - check
  - deploy

variables:
  MYSQL_DATABASE: carbure_mysql_test_db
  MYSQL_ROOT_PASSWORD: carbure_mysql_ci_db_password

# use prebuild CI image when running checks
.checks:
  image: $CI_REGISTRY/$CI_PROJECT_PATH/ci-image:latest
  before_script:
    - mv /app/front/node_modules ./front

# prepare git env to push new code to scalingo
.scalingo:
  image: alpine:latest
  before_script:
    - mkdir ~/.ssh
    - apk add --update git openssh-client
    - eval $(ssh-agent -s)
    - echo "$SCALINGO_SSH_PRIVATE_KEY" | tr -d '\r' | ssh-add -
    - ssh-keyscan $SCALINGO_SSH_HOST >> ~/.ssh/known_hosts
    - chmod 644 ~/.ssh/known_hosts
    - git config user.name $GIT_USER_NAME
    - git config user.email $GIT_USER_EMAIL
    - git remote add scalingo-dev $SCALINGO_GIT_REMOTE_DEV || true
    - git remote add scalingo-staging $SCALINGO_GIT_REMOTE_STAGING || true
    - git remote add scalingo-prod $SCALINGO_GIT_REMOTE_PROD || true
    - git fetch origin $CI_COMMIT_BRANCH --unshallow
    - git checkout $CI_COMMIT_BRANCH

build-ci-image:
  stage: prepare
  image: docker:stable
  services:
    - docker:dind
  script:
    - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
    - docker build -f ci/Dockerfile -t $CI_REGISTRY/$CI_PROJECT_PATH/ci-image:latest .
    - docker push $CI_REGISTRY/$CI_PROJECT_PATH/ci-image:latest
  only:
    changes:
      - ci/Dockerfile
      - Pipfile
      - Pipfile.lock
      - front/package.json
      - front/package-lock.json

check-backend:
  stage: check
  extends: .checks
  services:
    - mysql:8.0
    - redis:latest
  script:
    - export CARBURE_HOME=$(pwd)
    - export DATABASE_URL=mysql://root:$MYSQL_ROOT_PASSWORD@mysql:3306/$MYSQL_DATABASE
    - export REDIS_URL=redis://redis:6379
    - mypy web || true
    - TEST=1 python3 web/manage.py test web
  only:
    refs:
      - dev
      - master
    changes:
      - web/**/*

check-frontend:
  stage: check
  extends: .checks
  script:
    - cd front
    - npx eslint --ext .ts,.tsx src/
    - npm test
  only:
    refs:
      - dev
      - master
    changes:
      - front/**/*

deploy-dev:
  stage: deploy
  extends: .scalingo
  only:
    - dev
  script:
    - git push scalingo-dev $CI_COMMIT_BRANCH:master -f

deploy-staging:
  stage: deploy
  extends: .scalingo
  only:
    - master
  script:
    - git push scalingo-staging master -f

deploy-prod:
  stage: deploy
  extends: .scalingo
  when: manual
  only:
    - master
  script:
    - git push scalingo-prod master -f

[api] combine download transport data and parse charge point excel in one service
  web/elec/api/cpo/charge_points/check_charge_point_application.py
  web/elec/services/download_charge_point_data.py
  web/elec/services/import_charge_point_excel.py
  web/elec/services/parse_charge_point_excel.py
Due: check-backend

[api] make check_user_rights and check_admin_rights better in their use of kwargs
  web/core/common.py
  web/core/decorators.py
  web/entity/api/options/tests_options.py
Due: check-backend

[api] transform charging point excel file cells to the right type
  web/core/excel.py
  web/elec/services/import_charge_point_excel.py
Due: check-backend

[api] add check application endpoint
  web/elec/api/cpo/charge_points/check_application.py
  web/elec/api/cpo/charge_points/tests_charge_points.py
  web/fixtures/csv/test_data/points-de-recharge-errors.xlsx
  web/fixtures/csv/test_data/points-de-recharge-ok.xlsx
Due: check-backend

[api] save charging point application endpoint
  web/elec/api/cpo/charge_points/__init__.py
  web/elec/api/cpo/charge_points/add_application.py
  web/elec/api/cpo/charge_points/tests_charge_points.py
  web/elec/migrations/0008_elecchargepointapplication_elecchargepoint.py
  web/elec/models/elec_charge_point.py
  web/elec/models/elec_charge_point_application.py
Due: check-backend

[api] cleanup
  web/elec/api/cpo/charge_points/__init__.py
  web/elec/api/cpo/charge_points/check_charge_point_application.py
Due: check-backend

[api] always overwrite rights in session
  web/core/decorators.py
Due: check-backend

[api] add admin forms for charge point models
  web/elec/admin.py
  web/elec/models/__init__.py
Due: check-backend

[api] add endpoint to list an entity's charge point applications
  web/elec/api/cpo/charge_points/__init__.py
  web/elec/api/cpo/charge_points/applications.py
  web/elec/serializers/elec_charge_point_application.py
Due: check-backend

[api] add charge point export to excel
  web/elec/api/cpo/charge_points/__init__.py
  web/elec/api/cpo/charge_points/application_details.py
  web/elec/api/cpo/charge_points/charge_points.py
  web/elec/serializers/elec_charge_point.py
  web/elec/services/export_charge_point_excel.py
Due: check-backend

[api] fix saf bug: operator was not seeing years where it was just client
  web/saf/api/operator/years.py
Due: check-backend

[api] check that an entity can only load charging points of an application it owns
  web/elec/api/cpo/charge_points/application_details.py
Due: check-backend

[front] dc - rename dossier to demande
  front/src/companies/components/entity-summary.tsx
  front/src/double-counting/components/agreements/agreement-details-dialog.tsx
  front/src/double-counting/components/applications/application-details-dialog.tsx
  front/src/double-counting/components/applications/application-download-button.tsx
  front/src/double-counting/components/applications/application-list.tsx
  front/src/double-counting/components/applications/application-status.tsx
  front/src/double-counting/components/files-checker/files-checker-dialog.tsx
  front/src/double-counting/components/files-checker/index.tsx
  front/src/double-counting/components/files-checker/upload-button.tsx
  front/src/double-counting/index.tsx
  front/src/settings/__test__/double-counting.disabled.tsx
Due: check-frontend

[back] dc - hide agreement quotas without application
  front/src/double-counting/components/agreements/agreement-list.tsx
  web/admin/api/double_counting/agreements/agreements.py
Due: check-backend, check-frontend

[front] fix endpoints to export charging points
  front/src/settings/components/charging-points.tsx
Due: check-frontend

[front] cpo - connect ot back endpoints
  front/src/elec/__test__/data.ts
  front/src/elec/components/charging-points/errors-dialog.tsx
  front/src/elec/components/charging-points/upload-dialog.tsx
  front/src/elec/components/charging-points/valid-dialog.tsx
  front/src/elec/types.ts
  front/src/settings/__test__/api.ts
  front/src/settings/__test__/charging-points.spec.tsx
  front/src/settings/components/charging-points.tsx
Due: check-frontend

[api] cleanup user charge points endpoints
  web/elec/api/cpo/charge_points/add_application.py
  web/elec/api/cpo/charge_points/applications.py
  web/elec/api/cpo/charge_points/check_application.py
  web/elec/api/cpo/charge_points/tests_charge_points.py
  web/elec/services/get_annotated_applications.py
Due: check-backend

[api] clean up user charge points endpoints
  web/elec/api/cpo/charge_points/add_application.py
  web/elec/api/cpo/charge_points/application_details.py
  web/elec/api/cpo/charge_points/charge_points.py
  web/elec/api/cpo/charge_points/check_application.py
Due: check-backend

[api] error handling when import charge point excel
  web/elec/services/import_charge_point_excel.py
Due: check-backend

[api] more reliable charge point serializer
  web/elec/serializers/elec_charge_point.py
  web/elec/serializers/elec_charge_point_application.py
Due: check-backend
