Repository MTES-MCT/carbure: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-ci-image, check-backend, check-frontend

.gitlab-ci.yml:

stages:
  - prepare
  - check
  - deploy

variables:
  MYSQL_DATABASE: carbure_mysql_test_db
  MYSQL_ROOT_PASSWORD: carbure_mysql_ci_db_password

# use prebuild CI image when running checks
.checks:
  image: $CI_REGISTRY/$CI_PROJECT_PATH/ci-image:latest
  before_script:
    - mv /app/front/node_modules ./front

# prepare git env to push new code to scalingo
.scalingo:
  image: alpine:latest
  before_script:
    - mkdir ~/.ssh
    - apk add --update git openssh-client
    - eval $(ssh-agent -s)
    - echo "$SCALINGO_SSH_PRIVATE_KEY" | tr -d '\r' | ssh-add -
    - ssh-keyscan $SCALINGO_SSH_HOST >> ~/.ssh/known_hosts
    - chmod 644 ~/.ssh/known_hosts
    - git config user.name $GIT_USER_NAME
    - git config user.email $GIT_USER_EMAIL
    - git remote add scalingo-dev $SCALINGO_GIT_REMOTE_DEV || true
    - git remote add scalingo-staging $SCALINGO_GIT_REMOTE_STAGING || true
    - git remote add scalingo-prod $SCALINGO_GIT_REMOTE_PROD || true
    - git fetch origin $CI_COMMIT_BRANCH --unshallow
    - git checkout $CI_COMMIT_BRANCH

build-ci-image:
  stage: prepare
  image: docker:stable
  services:
    - docker:dind
  script:
    - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
    - docker build -f ci/Dockerfile -t $CI_REGISTRY/$CI_PROJECT_PATH/ci-image:latest .
    - docker push $CI_REGISTRY/$CI_PROJECT_PATH/ci-image:latest
  only:
    changes:
      - ci/Dockerfile
      - Pipfile
      - Pipfile.lock
      - front/package.json
      - front/package-lock.json

check-backend:
  stage: check
  extends: .checks
  services:
    - mysql:8.0
    - redis:latest
  script:
    - export CARBURE_HOME=$(pwd)
    - export DATABASE_URL=mysql://root:$MYSQL_ROOT_PASSWORD@mysql:3306/$MYSQL_DATABASE
    - export REDIS_URL=redis://redis:6379
    - mypy web || true
    - TEST=1 python3 web/manage.py test web
  only:
    refs:
      - dev
      - master
    changes:
      - web/**/*

check-frontend:
  stage: check
  extends: .checks
  script:
    - cd front
    - npx eslint --ext .ts,.tsx src/
    - npm test
  only:
    refs:
      - dev
      - master
    changes:
      - front/**/*

deploy-dev:
  stage: deploy
  extends: .scalingo
  only:
    - dev
  script:
    - git push scalingo-dev $CI_COMMIT_BRANCH:master -f

deploy-staging:
  stage: deploy
  extends: .scalingo
  only:
    - master
  script:
    - git push scalingo-staging master -f

deploy-prod:
  stage: deploy
  extends: .scalingo
  when: manual
  only:
    - master
  script:
    - git push scalingo-prod master -f

refactor: start refactor generic user rights table
  front/public/locales/en/translation.json
  front/public/locales/fr/translation.json
  front/src/common/components/user-rights/index.ts
  front/src/common/components/user-rights/user-rights.tsx
Due: check-frontend

refactor: continue refactor with edit-user-rights/accept-usr
  front/src/common/components/user-rights-table/accept-user-button/accept-user-button.tsx
  front/src/common/components/user-rights-table/accept-user-button/index.ts
  front/src/common/components/user-rights-table/edit-user-rights-button/edit-user-rights-button.tsx
  front/src/common/components/user-rights-table/edit-user-rights-button/index.ts
  front/src/common/components/user-rights-table/index.ts
  front/src/common/components/user-rights-table/user-rights-table.tsx
  front/src/common/components/user-rights/index.ts
  front/src/companies-admin/components/user-rights.tsx
Due: check-frontend

refactor: add revoke user button
  front/src/common/components/user-rights-table/revoke-user-button/index.ts
  front/src/common/components/user-rights-table/revoke-user-button/revoke-user-button.tsx
  front/src/common/components/user-rights-table/user-rights-table.tsx
  front/src/companies-admin/components/user-rights.tsx
Due: check-frontend

refactor: edit user role in organisation settings works
  front/src/common/components/user-rights-table/change-user-role-button/change-user-role-button.tsx
  front/src/common/components/user-rights-table/change-user-role-button/change-user-role-dialog/change-user-role-dialog.tsx
  front/src/common/components/user-rights-table/change-user-role-button/change-user-role-dialog/index.ts
  front/src/common/components/user-rights-table/change-user-role-button/index.ts
  front/src/common/components/user-rights-table/edit-user-rights-button/edit-user-rights-button.tsx
  front/src/common/components/user-rights-table/edit-user-rights-button/index.ts
  front/src/common/components/user-rights-table/reject-user-button/index.ts
  front/src/common/components/user-rights-table/reject-user-button/reject-user-button.tsx
  front/src/common/components/user-rights-table/user-rights-table.tsx
  front/src/companies-admin/components/user-rights.tsx
  front/src/settings/components/user-rights.tsx
Due: check-frontend

refactor: move api endpoints to a separated hook file
  front/src/settings/components/user-rights.tsx
  front/src/settings/components/user-rights/index.ts
  front/src/settings/components/user-rights/user-rights.hooks.ts
  front/src/settings/components/user-rights/user-rights.tsx
Due: check-frontend

refactor: terminate refacto user table companies page
  front/src/common/components/user-rights-table/change-user-role-button/change-user-role-button.tsx
  front/src/common/components/user-rights-table/change-user-role-button/change-user-role-dialog/change-user-role-dialog.tsx
  front/src/common/components/user-rights-table/user-rights-table.tsx
  front/src/companies-admin/components/user-rights.tsx
  front/src/settings/components/user-rights/user-rights.tsx
  front/src/settings/index.tsx
Due: check-frontend

refactor: manage loading state edit user role internally
  front/src/common/components/user-rights-table/change-user-role-button/change-user-role-button.tsx
  front/src/common/components/user-rights-table/change-user-role-button/change-user-role-dialog/change-user-role-dialog.tsx
  front/src/common/components/user-rights-table/user-rights-table.tsx
Due: check-frontend

fix: remove useless prop
  front/src/common/components/user-rights-table/user-rights-table.tsx
  front/src/companies-admin/components/user-rights.tsx
  front/src/settings/components/user-rights/user-rights.tsx
Due: check-frontend

refactor: change folder architecture for user-rights-table
  front/src/common/components/user-rights-table/accept-user-button/index.ts
  front/src/common/components/user-rights-table/change-user-role-button/change-user-role-button.tsx
  front/src/common/components/user-rights-table/change-user-role-button/change-user-role-dialog/index.ts
  front/src/common/components/user-rights-table/change-user-role-button/index.ts
  front/src/common/components/user-rights-table/reject-user-button/index.ts
  front/src/common/components/user-rights-table/revoke-user-button/index.ts
  front/src/common/molecules/README.md
  front/src/common/molecules/user-rights-table/accept-user-button.tsx
  front/src/common/molecules/user-rights-table/change-user-role-button.tsx
  front/src/common/molecules/user-rights-table/index.ts
  front/src/common/molecules/user-rights-table/reject-user-button.tsx
  front/src/common/molecules/user-rights-table/revoke-user-button.tsx
  front/src/common/molecules/user-rights-table/user-rights-table.tsx
  front/src/companies-admin/components/user-rights.tsx
  front/src/settings/components/user-rights/user-rights.tsx
Due: check-frontend

[front] details-pending clean architecture to add checkAudit
  front/src/common/components/button.module.css
  front/src/elec-audit-admin/components/charge-points/details-in-progress.tsx
  front/src/elec-audit-admin/components/meter-readings/details-history.tsx
  front/src/elec-audit-admin/components/meter-readings/details-in-progress.tsx
  front/src/elec-audit-admin/components/sample/application-generation.tsx
  front/src/elec-auditor/components/details-pending-download-sample.tsx
  front/src/elec-auditor/components/details-pending-upload.tsx
  front/src/elec-auditor/components/details-pending.tsx
  front/src/elec-auditor/components/details.tsx
Due: check-frontend

[front] start mocking api auditor applications
  front/src/elec-auditor/__test__/api.ts
  front/src/elec-auditor/__test__/data.ts
  front/src/elec-auditor/components/list.tsx
  front/src/index.tsx
  web/elec/services/import_elec_audit_report_excel.py
  web/elec/services/import_meter_reading_excel.py
Due: check-backend, check-frontend

feat: change text new company siren
  front/public/locales/en/translation.json
  front/public/locales/fr/translation.json
  front/src/companies/components/siren-picker.tsx
Due: check-frontend

Add api route to invite user to an entity
  web/auth/api/register.py
  web/entity/api/users/__init__.py
  web/entity/api/users/invite_user.py
  web/templates/emails/account_activation_email.txt
  web/templates/emails/invite_user_email.html
  web/templates/emails/invite_user_email.txt
Due: check-backend

refactor: fix last errors manually
  front/src/control-details/components/lot.tsx
  front/src/control-details/components/stock.tsx
  front/src/double-counting-admin/components/agreements/agreement-details-dialog.tsx
  front/src/double-counting-admin/components/applications/application-details-dialog.tsx
  front/src/double-counting/components/agreement-details-dialog.tsx
  front/src/double-counting/components/application-details-dialog.tsx
  front/src/elec-admin/components/provision-certificates/details.tsx
  front/src/elec-admin/components/transfer-certificate/details.tsx
  front/src/elec-audit-admin/components/charge-points/details.tsx
  front/src/elec-audit-admin/components/meter-readings/details.tsx
  front/src/elec-audit/components/details.tsx
  front/src/saf/components/ticket-details/airline-details.tsx
  front/src/saf/components/ticket-details/operator-details.tsx
  front/src/saf/components/ticket-source-details/index.tsx
  front/src/settings/__test__/api.ts
  front/src/transaction-details/__test__/api.ts
  front/src/transaction-details/components/stocks/index.tsx
Due: check-frontend

docs: add MR template gitlab
  .gitlab/merge_request_templates/NEW_FEATURE.MD
Due: none

fix: rebase develop and fix linter
  front/src/companies/components/siren-picker.tsx
Due: check-frontend

Invited users can change their password right after account validation
  web/auth/api/activate.py
  web/templates/emails/account_activation_email.html
  web/templates/emails/account_activation_email.txt
Due: check-backend

[front] mock api error and validation
  front/src/elec-auditor/__test__/api.ts
  front/src/elec-auditor/components/details-pending-check.tsx
  front/src/elec-auditor/components/details-pending-report-errors.tsx
  front/src/elec-auditor/components/details-pending-report-valid.tsx
  front/src/elec-auditor/components/details-pending.tsx
  front/src/elec-auditor/components/list.tsx
Due: check-frontend

[front] handle audit accepted
  front/src/elec-auditor/components/details-pending-report-valid.tsx
  front/src/elec-auditor/components/details-pending.tsx
  front/src/elec-auditor/components/details.tsx
  front/src/index.tsx
Due: check-frontend

chore: bad naming MR template
  .gitlab/merge_request_templates/NEW_FEATURE.md
Due: none

feat: add new_feature template
  .gitlab/merge_request_templates/new_feature.md
Due: none
