Repository MTES-MCT/carbure: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-ci-image, check-backend, check-frontend

.gitlab-ci.yml:

stages:
  - prepare
  - check
  - deploy

variables:
  MYSQL_DATABASE: carbure_mysql_test_db
  MYSQL_ROOT_PASSWORD: carbure_mysql_ci_db_password

# use prebuild CI image when running checks
.checks:
  image: $CI_REGISTRY/$CI_PROJECT_PATH/ci-image:latest
  before_script:
    - mv /app/front/node_modules ./front

# prepare git env to push new code to scalingo
.scalingo:
  image: alpine:latest
  before_script:
    - mkdir ~/.ssh
    - apk add --update git openssh-client
    - eval $(ssh-agent -s)
    - echo "$SCALINGO_SSH_PRIVATE_KEY" | tr -d '\r' | ssh-add -
    - ssh-keyscan $SCALINGO_SSH_HOST >> ~/.ssh/known_hosts
    - chmod 644 ~/.ssh/known_hosts
    - git config user.name $GIT_USER_NAME
    - git config user.email $GIT_USER_EMAIL
    - git remote add scalingo-dev $SCALINGO_GIT_REMOTE_DEV || true
    - git remote add scalingo-staging $SCALINGO_GIT_REMOTE_STAGING || true
    - git remote add scalingo-prod $SCALINGO_GIT_REMOTE_PROD || true
    - git fetch origin $CI_COMMIT_BRANCH --unshallow
    - git checkout $CI_COMMIT_BRANCH

build-ci-image:
  stage: prepare
  image: docker:stable
  services:
    - docker:dind
  script:
    - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
    - docker build -f ci/Dockerfile -t $CI_REGISTRY/$CI_PROJECT_PATH/ci-image:latest .
    - docker push $CI_REGISTRY/$CI_PROJECT_PATH/ci-image:latest
  only:
    changes:
      - ci/Dockerfile
      - Pipfile
      - Pipfile.lock
      - front/package.json
      - front/package-lock.json

check-backend:
  stage: check
  extends: .checks
  services:
    - mysql:8.0
    - redis:latest
  script:
    - export CARBURE_HOME=$(pwd)
    - export DATABASE_URL=mysql://root:$MYSQL_ROOT_PASSWORD@mysql:3306/$MYSQL_DATABASE
    - export REDIS_URL=redis://redis:6379
    - mypy web || true
    - TEST=1 python3 web/manage.py test web
  only:
    refs:
      - dev
      - master
    changes:
      - web/**/*

check-frontend:
  stage: check
  extends: .checks
  script:
    - cd front
    - npx eslint --ext .ts,.tsx src/
    - npm test
  only:
    refs:
      - dev
      - master
    changes:
      - front/**/*

deploy-dev:
  stage: deploy
  extends: .scalingo
  only:
    - dev
  script:
    - git push scalingo-dev $CI_COMMIT_BRANCH:master -f

deploy-staging:
  stage: deploy
  extends: .scalingo
  only:
    - master
  script:
    - git push scalingo-staging master -f

deploy-prod:
  stage: deploy
  extends: .scalingo
  when: manual
  only:
    - master
  script:
    - git push scalingo-prod master -f

[api] deal with empty cells for reading energy in charge point application
  web/elec/services/import_charge_point_excel.py
Due: check-backend

[api] cleanup some stuff on charge point model
  web/elec/migrations/0026_alter_elecchargepoint_measure_reference_point_id.py
  web/elec/models/elec_charge_point.py
  web/elec/services/import_charge_point_excel.py
Due: check-backend

[api] fix tests
  web/elec/api/cpo/cancel_transfer_certificate.py
  web/elec/api/cpo/charge_points/tests_charge_points.py
Due: check-backend

[front] create company registration dialog file
  front/src/account/index.tsx
  front/src/companies/components/registration-dialog.tsx
Due: check-frontend

[api] move entity admin api inside entity module
  front/src/companies-admin/api.ts
  web/elec/api/admin/audit/meter_readings/accept_application.py
  web/entity/api/__init__.py
  web/entity/api/admin/__init__.py
  web/entity/api/admin/certificates/__init__.py
  web/entity/api/admin/certificates/certificates.py
  web/entity/api/admin/certificates/check.py
  web/entity/api/admin/certificates/reject.py
  web/entity/api/admin/create.py
  web/entity/api/admin/depots.py
  web/entity/api/admin/details.py
  web/entity/api/admin/entities.py
  web/entity/api/admin/production_sites.py
  web/entity/api/admin/tests_entities.py
  web/entity/api/admin/users/__init__.py
  web/entity/api/admin/users/rights_requests.py
  web/entity/api/admin/users/update_right_request.py
  web/entity/api/admin/users/update_user_role.py
  web/entity/api/admin/users/users.py
  web/transactions/api/admin/__init__.py
Due: check-backend, check-frontend

[api] optimize transport.data.gouv.fr charge point data parsing
  web/elec/services/transport_data_gouv.py
Due: check-backend

[front] fileinput - handle max size error
  front/src/common/components/input.tsx
Due: check-frontend

[front] filelistinput remove null value
  front/src/common/components/input.tsx
  front/src/double-counting-admin/components/files-checker/files-checker-dialog.tsx
Due: check-frontend

[front] fileinput and filelistinput factorise
  front/src/common/components/input.tsx
Due: check-frontend

[front] add translations
  front/public/locales/en/translation.json
  front/public/locales/fr/translation.json
  front/src/common/components/input.tsx
Due: check-frontend

[front] fix company registration route
  front/src/account/index.tsx
  front/src/carbure/index.tsx
Due: check-frontend

[front] request siren api + create input
  front/src/common/components/input.tsx
  front/src/companies/api.ts
  front/src/companies/components/registration-dialog.tsx
  front/src/companies/types.ts
Due: check-frontend

[front] custom autocomplete to use for simple version of siren picker
  front/src/common/components/autocomplete.tsx
  front/src/common/components/input.tsx
  front/src/companies/__test__/data.ts
  front/src/companies/api.ts
  front/src/companies/components/registration-dialog.tsx
Due: check-frontend

[front] factoriser CompanyForm
  front/src/companies/components/company-form.tsx
  front/src/companies/components/registration-dialog.tsx
  front/src/companies/components/siren-picker.tsx
  front/src/settings/components/company-info.tsx
Due: check-frontend

[front] show 'Company' settings for airline
  front/src/carbure/components/top-bar.tsx
Due: check-frontend

[api] only save the date of creation of an charge point application without the time to fix timezone bugs on scalingo
  web/elec/migrations/0027_alter_elecchargepointapplication_created_at.py
  web/elec/models/elec_charge_point_application.py
Due: check-backend

[front] add form missing fields
  front/src/account/components/access-rights.tsx
  front/src/carbure/types.ts
  front/src/companies/components/company-form.tsx
  front/src/companies/components/registration-dialog.tsx
  front/src/settings/api/company.ts
  front/src/settings/components/certificates.tsx
  front/src/settings/components/company-info.tsx
Due: check-frontend

[api] update entity model with officer_email and description
  front/src/carbure/hooks/entity.ts
  front/src/carbure/types.ts
  front/src/companies/components/company-form.tsx
  front/src/companies/components/registration-dialog.tsx
  front/src/settings/components/company-info.tsx
  web/core/migrations/0022_entity_activity_description_and_more.py
  web/core/models.py
  web/entity/api/update_info.py
Due: check-backend, check-frontend

[front] update searchCompanyBySiren method
  front/src/companies/__test__/api.ts
  front/src/companies/__test__/data.ts
  front/src/companies/api.ts
  front/src/companies/components/registration-dialog.tsx
  front/src/companies/components/siren-picker.tsx
Due: check-frontend

[api] start searc-company endpoint
  front/src/companies/__test__/data.ts
  front/src/companies/api.ts
  front/src/companies/components/registration-dialog.tsx
  front/src/companies/components/siren-picker.tsx
  front/src/companies/types.ts
  web/entity/api/__init__.py
  web/entity/api/search_company.py
Due: check-backend, check-frontend

[api] turn datetimefield in datefield in meter reading application created_at field
  web/elec/migrations/0028_alter_elecmeterreadingapplication_created_at.py
  web/elec/models/elec_meter_reading_application.py
Due: check-backend

[api] adapt serializers to updated created_at fields
  web/elec/api/admin/audit/meter_readings/application_details.py
  web/elec/api/admin/audit/meter_readings/applications.py
  web/elec/api/admin/meter_readings/applications.py
  web/elec/api/cpo/meter_readings/applications.py
  web/elec/serializers/elec_charge_point_application.py
  web/elec/serializers/elec_meter_reading_application.py
Due: check-backend

[api] fix tests
  web/elec/api/admin/charge_points/tests_charge_points.py
  web/elec/api/admin/meter_readings/tests_meter_readings.py
  web/elec/api/cpo/charge_points/tests_charge_points.py
  web/elec/api/cpo/meter_readings/tests_meter_readings.py
Due: check-backend

[front] request siren api + create input
  front/src/companies/api.ts
  front/src/companies/components/registration-dialog.tsx
  front/src/companies/types.ts
Due: check-frontend
