Repository MTES-MCT/carbure: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-ci-image, check-backend, check-frontend

.gitlab-ci.yml:

stages:
  - prepare
  - check
  - deploy

variables:
  MYSQL_DATABASE: carbure_mysql_test_db
  MYSQL_ROOT_PASSWORD: carbure_mysql_ci_db_password

# use prebuild CI image when running checks
.checks:
  image: $CI_REGISTRY/$CI_PROJECT_PATH/ci-image:latest
  before_script:
    - mv /app/.venv ./.venv
    - mv /app/front/node_modules ./front

# prepare git env to push new code to scalingo
.scalingo:
  image: alpine:latest
  before_script:
    - mkdir ~/.ssh
    - apk add --update git openssh-client
    - eval $(ssh-agent -s)
    - echo "$SCALINGO_SSH_PRIVATE_KEY" | tr -d '\r' | ssh-add -
    - ssh-keyscan $SCALINGO_SSH_HOST $SCALINGO_SSH_HOST_SECNUMCLOUD >> ~/.ssh/known_hosts
    - chmod 644 ~/.ssh/known_hosts
    - git config user.name $GIT_USER_NAME
    - git config user.email $GIT_USER_EMAIL
    - git remote add scalingo-dev $SCALINGO_GIT_REMOTE_DEV || true
    - git remote add scalingo-staging $SCALINGO_GIT_REMOTE_STAGING || true
    - git remote add scalingo-prod $SCALINGO_GIT_REMOTE_PROD || true
    - git fetch origin $CI_COMMIT_BRANCH --unshallow
    - git checkout $CI_COMMIT_BRANCH

build-ci-image:
  stage: prepare
  image: docker:stable
  services:
    - docker:dind
  script:
    - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
    - docker build -f ci/Dockerfile -t $CI_REGISTRY/$CI_PROJECT_PATH/ci-image:latest .
    - docker push $CI_REGISTRY/$CI_PROJECT_PATH/ci-image:latest
  only:
    refs:
      - dev
      - preview
      - master
    changes:
      - ci/Dockerfile
      - Pipfile
      - Pipfile.lock
      - front/package.json
      - front/package-lock.json
      - force-rebuild

check-backend:
  stage: check
  extends: .checks
  services:
    - mysql:8.0
    - redis:latest
  script:
    - export CARBURE_HOME=$(pwd)
    - export DATABASE_URL=mysql://root:$MYSQL_ROOT_PASSWORD@mysql:3306/$MYSQL_DATABASE
    - export REDIS_URL=redis://redis:6379
    - TEST=1 pipenv run python web/manage.py test web
  only:
    refs:
      - dev
      - preview
      - master
    changes:
      - web/**/*

check-frontend:
  stage: check
  extends: .checks
  script:
    - cd front
    - npx eslint --ext .ts,.tsx src/
    - npm test
  only:
    refs:
      - dev
      - preview
      - master
    changes:
      - front/**/*

deploy-dev:
  stage: deploy
  extends: .scalingo
  only:
    - dev
    - preview
  script:
    - git push scalingo-dev $CI_COMMIT_BRANCH:master -f

deploy-staging:
  stage: deploy
  extends: .scalingo
  only:
    - master
  script:
    - git push scalingo-staging master -f

deploy-prod:
  stage: deploy
  extends: .scalingo
  when: manual
  only:
    - master
  script:
    - git push scalingo-prod master -f

refactor(biofuel): migration from Depot and ProductionSite to new model Site
  web/transactions/migrations/0004_contenttoupdate_site_entitysite.py
  web/transactions/migrations/0005_move_data_to_site_model_backup.py
  web/transactions/migrations/0006_move_data_to_site.py
  web/transactions/models/site.py
Due: check-backend

refactor(biofuel): prepare migration from Depot and ProductionSite to new model Site
  web/transactions/models/__init__.py
  web/transactions/models/entity_site.py
  web/transactions/models/site.py
Due: check-backend

refactor(biofuel): migration from Depot and ProductionSite to new model Site
  web/certificates/migrations/0006_alter_doublecountingregistration_production_site_and_more.py
  web/certificates/models.py
  web/core/migrations/0034_alter_entitydepot_blender.py
  web/core/migrations/0035_alter_carburelot_carbure_delivery_site_and_more.py
  web/core/models.py
  web/doublecount/migrations/0015_alter_doublecountingapplication_production_site.py
  web/doublecount/models.py
  web/producers/migrations/0004_alter_productionsiteinput_production_site_and_more.py
  web/producers/migrations/0005_alter_productionsiteinput_production_site_and_more.py
  web/producers/models.py
  web/saf/migrations/0021_alter_safticket_carbure_production_site_and_more.py
  web/saf/models/saf_ticket.py
  web/saf/models/saf_ticket_source.py
  web/transactions/migrations/0004_contenttoupdate_site_entitysite.py
  web/transactions/migrations/0005_move_data_to_site_model_backup.py
  web/transactions/migrations/0006_move_data_to_site.py
  web/transactions/models/__init__.py
  web/transactions/models/entity_site.py
  web/transactions/models/site.py
Due: check-backend

refactor(biofuel): migration from Depot and ProductionSite to new model Site
  web/core/admin.py
  web/core/xlsx_v3.py
  web/doublecount/apps.py
  web/entity/api/admin/depots.py
  web/entity/api/depots/create.py
  web/entity/api/depots/tests_depots.py
  web/entity/api/production_sites/delete.py
  web/entity/api/production_sites/production_sites.py
  web/entity/api/production_sites/set_certificates.py
  web/entity/api/production_sites/tests_production_sites.py
  web/entity/api/production_sites/update.py
  web/entity/serializers/depot.py
  web/fixtures/json/depots.json
  web/fixtures/json/entities.json
  web/fixtures/json/entities_sites.json
  web/fixtures/json/productionsites.json
  web/producers/models.py
  web/resources/api/tests_resources.py
  web/transactions/api/lots/tests/tests_certif_mayhem.py
  web/transactions/api/lots/tests/tests_corrections.py
  web/transactions/api/lots/tests/tests_lots_flow.py
  web/transactions/api/lots/tests/tests_lots_units.py
  web/transactions/api/lots/tests/tests_ml_checks.py
  web/transactions/api/lots/tests/tests_utils.py
  web/transactions/api/stocks/split.py
  web/transactions/api/stocks/tests_stocks.py
  web/transactions/factories/carbure_lot.py
  web/transactions/factories/carbure_stock.py
  web/transactions/forms/lot_form.py
  web/transactions/migrations/0005_move_data_to_site_model_backup.py
  web/transactions/models/site.py
  web/transactions/sanity_checks/helpers.py
  web/transactions/sanity_checks/tests/tests_double_counting.py
  web/transactions/sanity_checks/tests/tests_general.py
  web/transactions/sanity_checks/tests/tests_mandatory.py
Due: check-backend

refactor(biofuel): optim Depot search
  web/entity/api/depots/depots.py
Due: check-backend

fix: force logging node env
  front/src/index.tsx
Due: check-frontend

fix: set msw as dependency instead devDependencies
  front/package-lock.json
  front/package.json
Due: build-ci-image, check-frontend

fix(elec): fix endpoint name
  front/src/elec/__test__/api.ts
  front/src/elec/api-cpo.ts
Due: check-frontend

Feature/add sentry
  front/package-lock.json
Due: build-ci-image, check-frontend

Hotfix : OTP token not sent
  web/auth/api/register.py
Due: check-backend

fix(elec): fix translation
  front/public/locales/en/translation.json
  front/public/locales/fr/translation.json
  front/src/elec-auditor/components/table.tsx
Due: check-frontend

fix: meter reading date is now read correctly
  web/elec/api/cpo/meter_readings/add_application.py
  web/elec/api/cpo/meter_readings/check_application.py
  web/elec/services/import_meter_reading_excel.py
Due: check-backend

fix: restart CI if config file changed
  .gitlab-ci.yml
  front/src/index.tsx
  web/carbure/settings.py
Due: check-backend, check-frontend

ci: force CI
  front/src/index.tsx
  web/carbure/settings.py
Due: check-backend, check-frontend

fix: more robust duplicate detection in meter reading upload
  web/elec/api/cpo/meter_readings/add_application.py
  web/elec/api/cpo/meter_readings/check_application.py
  web/elec/api/cpo/meter_readings/tests_meter_readings.py
Due: check-backend

ci: remove ci docker image, use cache instead
  .gitlab-ci.yml
  ci/Dockerfile
Due: build-ci-image

fix: pass ruff checks
  web/auth/api/register.py
Due: check-backend

ci: remove deploy jobs from ci, use scalingo directly
  .gitlab-ci.yml
Due: none

feat(storybook): add i18next on storybook
  front/.storybook/preview.ts
  front/.storybook/preview.tsx
  front/src/common/components/button.stories.tsx
Due: check-frontend

feat(storybook): init storybook with a simple story
  front/.eslintrc.json
  front/.gitignore
  front/.storybook/main.ts
  front/.storybook/preview.ts
  front/package-lock.json
  front/package.json
  front/src/common/components/button.stories.tsx
Due: build-ci-image, check-frontend

feat(sb): add msw
  front/.storybook/main.ts
  front/.storybook/mocks.ts
  front/.storybook/preview.tsx
  front/package-lock.json
  front/package.json
  front/src/mocks.ts
Due: build-ci-image, check-frontend

feat(sb): user/entity switching works
  front/.storybook/preview.tsx
  front/package-lock.json
  front/package.json
  front/src/carbure/__test__/api.ts
  front/src/carbure/__test__/data.ts
  front/src/carbure/__test__/helpers.ts
  front/src/carbure/hooks/entity.ts
  front/src/carbure/hooks/user.ts
  front/tsconfig.json
Due: build-ci-image, check-frontend

feat: add chromatic to the CI
  .gitlab-ci.yml
  front/package.json
Due: build-ci-image, check-frontend

feat: add base chromatic conf
  front/chromatic.config.json
Due: check-frontend

fix: force rebuild
  front/src/common/components/button.stories.tsx
Due: check-frontend

feat: add chromatic
  docker-compose.yml
  front/.gitignore
  front/.storybook/preview.tsx
  front/README.md
  front/package-lock.json
  front/package.json
  front/src/carbure/__test__/api.ts
Due: build-ci-image, check-frontend

fix: try to throw CI with new screenshot
  front/src/common/components/button.stories.tsx
Due: check-frontend

feat: remove the error
  front/src/common/components/button.stories.tsx
Due: check-frontend

feat: type generic useYears works
  front/src/common/services/api-fetch.types.ts
  front/src/saf/hooks/years.tsx
Due: check-frontend

feat: continue refactoring saf
  front/src/common/services/api-fetch.ts
  front/src/common/services/api-fetch.types.ts
  front/src/saf/pages/airline/api.ts
  front/src/saf/pages/airline/tickets.tsx
  front/src/saf/types.ts
Due: check-frontend
