Repository MTES-MCT/carbure: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-ci-image, check-backend, check-frontend

build-ci-image:
  stage: prepare
  image: docker:stable
  services:
  - docker:dind
  script:
  - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
  - docker build -f ci/Dockerfile -t $CI_REGISTRY/$CI_PROJECT_PATH/ci-image:latest .
  - docker push $CI_REGISTRY/$CI_PROJECT_PATH/ci-image:latest

check-backend:
  image: $CI_REGISTRY/$CI_PROJECT_PATH/ci-image:latest
  before_script:
  - mv /app/front/node_modules ./front
  stage: check
  services:
  - mysql:8.0
  - redis:latest
  script:
  - export CARBURE_HOME=$(pwd)
  - export DATABASE_URL=mysql://root:$MYSQL_ROOT_PASSWORD@mysql:3306/$MYSQL_DATABASE
  ...

check-frontend:
  image: $CI_REGISTRY/$CI_PROJECT_PATH/ci-image:latest
  before_script:
  - mv /app/front/node_modules ./front
  stage: check
  script:
  - cd front
  - npx eslint --ext .ts,.tsx src/
  - npm test

[front] reorg companies + elect-audit
  front/src/carbure/index.tsx
  front/src/companies-admin/__test__/data.ts
  front/src/companies-admin/api.ts
  front/src/companies-admin/components/add-entity-dialog.tsx
  front/src/companies-admin/components/certificates.tsx
  front/src/companies-admin/components/entity-summary.module.css
  front/src/companies-admin/components/entity-summary.tsx
  front/src/companies-admin/components/user-rights.tsx
  front/src/companies-admin/index.tsx
  front/src/companies-admin/routes/entity-details.tsx
  front/src/companies-admin/types.ts
  front/src/elec-audit-admin/__test__/data.ts
  front/src/elec-audit-admin/api.ts
  front/src/elec-audit-admin/components/charge-points/accept-dialog.tsx
  front/src/elec-audit-admin/components/charge-points/details.tsx
  front/src/elec-audit-admin/components/charge-points/list-query-params-store.ts
  front/src/elec-audit-admin/components/charge-points/list-query.ts
  front/src/elec-audit-admin/components/charge-points/list.tsx
  front/src/elec-audit-admin/components/charge-points/reject-dialog.tsx
  front/src/elec-audit-admin/components/list-filters.tsx
  front/src/elec-audit-admin/components/meter-readings/accept-dialog.tsx
  front/src/elec-audit-admin/components/meter-readings/details.tsx
  front/src/elec-audit-admin/components/meter-readings/list-query-params-store.ts
  front/src/elec-audit-admin/components/meter-readings/list-query.ts
  front/src/elec-audit-admin/components/meter-readings/list.tsx
  front/src/elec-audit-admin/components/meter-readings/reject-dialog.tsx
  front/src/elec-audit-admin/components/status-switcher.tsx
  front/src/elec-audit-admin/index.tsx
  front/src/elec-audit-admin/types.ts
  front/src/elec/components/meter-readings/settings.tsx
Due: check-frontend

[back] reorg double-counting/admin
  front/src/double-counting-admin/api.ts
  front/src/double-counting-admin/components/applications/application-download-button.tsx
  web/admin/api/__init__.py
  web/admin/api/double_counting/__init__.py
  web/doublecount/api/__init__.py
  web/doublecount/api/admin/__init__.py
  web/doublecount/api/admin/agreements/__init__.py
  web/doublecount/api/admin/agreements/agreement_details.py
  web/doublecount/api/admin/agreements/agreements.py
  web/doublecount/api/admin/agreements/tests_agreements.py
  web/doublecount/api/admin/applications/__init__.py
  web/doublecount/api/admin/applications/add.py
  web/doublecount/api/admin/applications/application.py
  web/doublecount/api/admin/applications/applications.py
  web/doublecount/api/admin/applications/approve_application.py
  web/doublecount/api/admin/applications/check_files.py
  web/doublecount/api/admin/applications/reject_application.py
  web/doublecount/api/admin/applications/tests_applications.py
  web/doublecount/api/admin/applications/update_quotas.py
  web/doublecount/api/admin/snapshot.py
Due: check-backend, check-frontend

[api] reorg admin/flow-map
  front/src/controls/actions/delivery-map.tsx
  web/admin/api/__init__.py
  web/transactions/api/__init__.py
  web/transactions/api/admin/__init__.py
  web/transactions/api/admin/map.py
Due: check-backend, check-frontend

[api] reorg admin/declarations
  front/src/dashboard/api.ts
  front/src/dashboard/components/declarations.tsx
  web/admin/api/__init__.py
  web/admin/api/dashboard/__init__.py
  web/transactions/api/admin/__init__.py
  web/transactions/api/admin/declarations.py
Due: check-backend, check-frontend

[api] create TransactionsAdminLotsRepository
  web/admin/api/controls/lots/filters.py
  web/admin/api/controls/lots/lots.py
  web/admin/api/controls/lots/summary.py
  web/admin/helpers.py
  web/transactions/api/admin/map.py
  web/transactions/repositories/admin_lots_repository.py
Due: check-backend

[api] reorg admin/entities
  front/src/companies-admin/api.ts
  web/admin/api/__init__.py
  web/admin/api/controls/lots/filters.py
  web/admin/api/controls/lots/lots.py
  web/admin/api/controls/lots/summary.py
  web/admin/api/entities/__init__.py
  web/admin/api/entities/certificates/__init__.py
  web/admin/api/entities/users/__init__.py
  web/transactions/api/admin/__init__.py
  web/transactions/api/admin/entities/__init__.py
  web/transactions/api/admin/entities/certificates/__init__.py
  web/transactions/api/admin/entities/certificates/certificates.py
  web/transactions/api/admin/entities/certificates/check.py
  web/transactions/api/admin/entities/certificates/reject.py
  web/transactions/api/admin/entities/create.py
  web/transactions/api/admin/entities/depots.py
  web/transactions/api/admin/entities/details.py
  web/transactions/api/admin/entities/entities.py
  web/transactions/api/admin/entities/production_sites.py
  web/transactions/api/admin/entities/tests_entities.py
  web/transactions/api/admin/entities/users/__init__.py
  web/transactions/api/admin/entities/users/rights_requests.py
  web/transactions/api/admin/entities/users/update_right_request.py
  web/transactions/api/admin/entities/users/update_user_role.py
  web/transactions/api/admin/entities/users/users.py
  web/transactions/api/admin/map.py
Due: check-backend, check-frontend

[api] reorg admin/controls
  front/src/control-details/api.ts
  front/src/controls/__test__/api.ts
  front/src/controls/api/admin.ts
  web/admin/__init__.py
  web/admin/api/__init__.py
  web/admin/api/controls/__init__.py
  web/admin/api/controls/lots/__init__.py
  web/audit/api/lots/summary.py
  web/carbure/api/__init__.py
  web/transactions/api/admin/__init__.py
  web/transactions/api/admin/helpers.py
  web/transactions/api/admin/lots/__init__.py
  web/transactions/api/admin/lots/comment.py
  web/transactions/api/admin/lots/delete_many.py
  web/transactions/api/admin/lots/details.py
  web/transactions/api/admin/lots/filters.py
  web/transactions/api/admin/lots/lots.py
  web/transactions/api/admin/lots/pin.py
  web/transactions/api/admin/lots/summary.py
  web/transactions/api/admin/lots/toggle_warning.py
  web/transactions/api/admin/lots/update_many.py
  web/transactions/api/admin/snapshot.py
  web/transactions/api/admin/stocks/__init__.py
  web/transactions/api/admin/stocks/details.py
  web/transactions/api/admin/stocks/filters.py
  web/transactions/api/admin/stocks/stocks.py
  web/transactions/api/admin/stocks/summary.py
  web/transactions/api/admin/years.py
  web/transactions/api/lots/delete.py
Due: check-backend, check-frontend

[api] create TransactionsAuditLotsRepository
  web/audit/api/lots/details.py
  web/audit/api/lots/filters.py
  web/audit/api/lots/lots.py
  web/audit/api/lots/summary.py
  web/audit/api/snapshot.py
  web/audit/api/years.py
  web/audit/helpers.py
  web/transactions/repositories/audit_lots_repository.py
Due: check-backend

[api] reorg /audit
  front/src/control-details/api.ts
  front/src/controls/api/auditor.ts
  web/audit/__init__.py
  web/audit/api/__init__.py
  web/audit/api/lots/__init__.py
  web/audit/api/stocks/__init__.py
  web/carbure/api/__init__.py
  web/elec/api/admin/audit/__init__.py
  web/elec/api/admin/audit/tests_audit.py
  web/transactions/api/__init__.py
  web/transactions/api/audit/__init__.py
  web/transactions/api/audit/lots/__init__.py
  web/transactions/api/audit/lots/comment.py
  web/transactions/api/audit/lots/details.py
  web/transactions/api/audit/lots/filters.py
  web/transactions/api/audit/lots/lots.py
  web/transactions/api/audit/lots/mark_as_conform.py
  web/transactions/api/audit/lots/mark_as_nonconform.py
  web/transactions/api/audit/lots/pin.py
  web/transactions/api/audit/lots/summary.py
  web/transactions/api/audit/lots/toggle_warning.py
  web/transactions/api/audit/snapshot.py
  web/transactions/api/audit/stocks/__init__.py
  web/transactions/api/audit/stocks/details.py
  web/transactions/api/audit/stocks/filters.py
  web/transactions/api/audit/stocks/stocks.py
  web/transactions/api/audit/stocks/summary.py
  web/transactions/api/audit/years.py
Due: check-backend, check-frontend

[scripts] add script to delete lots that should already be deleted because their parent was
  scripts/patches/2024-02-21_delete_lots_with_deleted_parents.py
  web/core/utils.py
Due: check-backend

[api] fix cpo SIREN not read correctly from TDG
  web/elec/services/transport_data_gouv.py
Due: check-backend

[api] Mock TDG data for tests
  web/elec/api/cpo/charge_points/tests_charge_points.py
Due: check-backend

[api] fix saf ticket generation when there's no production country defined
  web/saf/models/saf_ticket.py
Due: check-backend

[api] hide carbure staff from members of entities
  web/entity/api/users/users.py
Due: check-backend

[api+front] add new sanity checks that verifies if a lot being modified is under an already validated declaration
  front/public/locales/en/errors.json
  front/public/locales/fr/errors.json
  front/src/lot-add/components/lot-form.tsx
  web/carbure/settings.py
  web/core/carburetypes.py
  web/core/common.py
  web/transactions/api/declarations/invalidate.py
  web/transactions/api/declarations/validate.py
  web/transactions/api/lots/add.py
  web/transactions/api/lots/request_fix.py
  web/transactions/sanity_checks/general.py
  web/transactions/sanity_checks/helpers.py
  web/transactions/sanity_checks/sanity_checks.py
  web/transactions/sanity_checks/tests/tests_general.py
Due: check-backend, check-frontend

[api] add search to charge points and meter readings in django admin
  web/elec/admin.py
Due: check-backend

[api] remove error if meter reading is for an article 2 charge point
  web/elec/services/import_meter_reading_excel.py
Due: check-backend

[api] fix meter reading excel template
  web/elec/services/create_meter_reading_excel.py
Due: check-backend

[api] show all charge points when exporting readings
  web/elec/api/admin/audit/meter_readings/application_details.py
  web/elec/api/cpo/meter_readings/application_details.py
Due: check-backend

[api] use all charge points when building the meter readings template
  web/elec/api/cpo/meter_readings/application_template.py
Due: check-backend

Path conditions:
  build-ci-image: any of: ci/Dockerfile, Pipfile, Pipfile.lock, front/package.json, front/package-lock.json
  check-backend: any of: web/**/*
  check-frontend: any of: front/**/*
