Repository MTES-MCT/carbure: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-ci-image, check-backend, check-frontend

build-ci-image:
  stage: prepare
  image: docker:stable
  services:
  - docker:dind
  script:
  - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
  - docker build -f ci/Dockerfile -t $CI_REGISTRY/$CI_PROJECT_PATH/ci-image:latest .
  - docker push $CI_REGISTRY/$CI_PROJECT_PATH/ci-image:latest

check-backend:
  image: $CI_REGISTRY/$CI_PROJECT_PATH/ci-image:latest
  before_script:
  - mv /app/front/node_modules ./front
  stage: check
  services:
  - mysql:8.0
  - redis:latest
  script:
  - export CARBURE_HOME=$(pwd)
  - export DATABASE_URL=mysql://root:$MYSQL_ROOT_PASSWORD@mysql:3306/$MYSQL_DATABASE
  ...

check-frontend:
  image: $CI_REGISTRY/$CI_PROJECT_PATH/ci-image:latest
  before_script:
  - mv /app/front/node_modules ./front
  stage: check
  script:
  - cd front
  - npx eslint --ext .ts,.tsx src/
  - npm test

[api + front] disabled meer_readings declaration if no chargePoint available
  front/src/elec/__test__/data.ts
  front/src/elec/__test__/settings-meter-readings.spec.tsx
  front/src/elec/components/meter-readings/settings.tsx
  front/src/elec/types.ts
  web/elec/api/cpo/meter_readings/applications.py
  web/elec/api/cpo/meter_readings/tests_meter_readings.py
Due: check-backend, check-frontend

[api] do not send reminders to cpo without meter_readings obligations
  web/elec/api/cpo/meter_readings/applications.py
  web/elec/repositories/meter_reading_repository.py
Due: check-backend

[front] faq button - fix dsfr side effect
  front/src/carbure/components/top-bar.module.css
Due: check-frontend

[back] fix recompute stock script
  web/carbure/scripts/recompute_stocks.py
Due: check-backend

[back] strip whitespaces when parsing charge point application
  web/elec/services/import_charge_point_excel.py
Due: check-backend

[front] dynamically get TDG preview url from data gouv API
  front/src/elec/components/charge-points/tdg-info.tsx
Due: check-frontend

[back] fix some errors not being shown during meter reading pre-check
  web/elec/api/cpo/meter_readings/check_application.py
Due: check-backend

[back] add service to bulk update carbure_ids a lot faster
  web/transactions/services/carbure_id.py
Due: check-backend

[back] fix carbure_id not updated in traceability checks
  web/core/traceability/bulk_update_traceability_nodes.py
Due: check-backend

[back] use new carbure_id service to regenerate carbure_id with script
  web/carbure/scripts/update_carbure_ids.py
Due: check-backend

[api] set audit_sample status to AUDITED when meter readings accepted
  front/src/elec-audit-admin/components/meter-readings/accept-dialog.tsx
  front/src/elec-audit/components/details.tsx
  web/elec/api/admin/audit/meter_readings/accept_application.py
  web/elec/api/admin/audit/meter_readings/generate_sample.py
  web/elec/api/admin/audit/meter_readings/tests_audit_meter_readings.py
Due: check-backend, check-frontend

[api] set audit sample for registration to AUDITED
  web/elec/api/admin/audit/charge_points/accept_application.py
  web/elec/api/admin/audit/meter_readings/accept_application.py
  web/elec/api/admin/audit/meter_readings/generate_sample.py
Due: check-backend

[front] add types for audit check
  front/src/elec-audit/api.ts
  front/src/elec-audit/types.ts
  front/src/elec/__test__/data.ts
  front/src/elec/components/charge-points/errors-dialog.tsx
  front/src/elec/types.ts
Due: check-frontend

[front + api] fix types
  front/src/elec-audit-admin/components/meter-readings/details-history.tsx
  front/src/elec-audit-admin/components/meter-readings/details.tsx
  front/src/elec-audit/api.ts
  front/src/elec-audit/components/application-status.tsx
  front/src/elec-audit/components/details-application-summary.tsx
  front/src/elec-audit/components/details-pending.tsx
  front/src/elec-audit/components/details.tsx
  front/src/elec-audit/components/list-query-params-store.ts
  front/src/elec-audit/components/list.tsx
  front/src/elec-audit/components/table.tsx
  front/src/elec-audit/index.tsx
  front/src/elec-audit/types.ts
  front/src/elec/__test__/data.ts
  front/src/elec/types.ts
  web/elec/api/audit/applications.py
  web/elec/serializers/elec_audit_sample_serializer.py
Due: check-backend, check-frontend

[front] rename audit to auditor
  front/src/carbure/index.tsx
  front/src/carbure/types.ts
  front/src/elec-audit/api.ts
  front/src/elec-audit/components/application-status.tsx
  front/src/elec-auditor/__test__/api.ts
  front/src/elec-auditor/__test__/data.ts
  front/src/elec-auditor/api.ts
  front/src/elec-auditor/components/application-status.tsx
  front/src/elec-auditor/components/details-application-summary.tsx
  front/src/elec-auditor/components/details-pending.tsx
  front/src/elec-auditor/components/details.tsx
  front/src/elec-auditor/components/filter-search-params.tsx
  front/src/elec-auditor/components/list-filters.tsx
  front/src/elec-auditor/components/list-query-params-store.ts
  front/src/elec-auditor/components/list-query.ts
  front/src/elec-auditor/components/list.tsx
  front/src/elec-auditor/components/status-switcher.tsx
  front/src/elec-auditor/components/table.tsx
  front/src/elec-auditor/helpers.ts
  front/src/elec-auditor/index.tsx
  front/src/elec-auditor/types.ts
  front/src/elec/__test__/data.ts
  front/src/elec/components/charge-points/errors-dialog.tsx
  front/src/elec/components/meter-readings/errors-dialog.tsx
  front/src/elec/types.ts
  front/src/mocks.ts
Due: check-frontend

[front] add stepper
  front/src/elec-auditor/components/details-pending.tsx
  front/src/elec-auditor/components/details.tsx
Due: check-frontend

[front] step1 ok and prepare others steps
  front/src/elec-auditor/components/details-pending.tsx
Due: check-frontend

[front+back] rename application_id to audit_sample_id for more clarity in elec audit endpoints
  front/src/elec-auditor/api.ts
  web/elec/api/audit/application_details.py
  web/elec/api/audit/get_sample.py
  web/elec/repositories/elec_audit_repository.py
Due: check-backend, check-frontend

[front+back] rename elec auditor endpoints from audit/ to auditor/
  front/src/elec-auditor/__test__/api.ts
  front/src/elec-auditor/api.ts
  web/elec/api/__init__.py
  web/elec/api/audit/__init__.py
  web/elec/api/auditor/__init__.py
  web/elec/api/auditor/application_details.py
  web/elec/api/auditor/applications.py
  web/elec/api/auditor/filters.py
  web/elec/api/auditor/get_sample.py
  web/elec/api/auditor/snapshot.py
  web/elec/api/auditor/years.py
Due: check-backend, check-frontend

[back] move is_true helper for pandas to a shared file
  web/core/utils.py
  web/elec/services/transport_data_gouv.py
Due: check-backend

[back] add endpoint to check audit reports
  web/core/carburetypes.py
  web/elec/api/auditor/check_report.py
  web/elec/services/import_elec_audit_report_excel.py
Due: check-backend

[back] add tests for audit report check endpoint
  web/elec/api/auditor/tests_elec_audit.py
  web/elec/fixtures/charge_point_audit_sample.xlsx
  web/elec/fixtures/meter_reading_audit_sample.xlsx
Due: check-backend

[back] add accept report endpoint
  web/elec/api/auditor/__init__.py
  web/elec/api/auditor/accept_report.py
  web/elec/services/import_elec_audit_report_excel.py
Due: check-backend

[back] add tests for accepting elec audit reports
  web/elec/api/auditor/tests_elec_audit.py
Due: check-backend

docs: update readme to simplify the project installation
  README.md
  scripts/database/restore_db.sh
Due: none

[back] allow data.gouv.fr urls in CSP header
  web/carbure/settings.py
Due: check-backend

refactor: start refactor generic user rights table
  front/public/locales/en/translation.json
  front/public/locales/fr/translation.json
  front/src/common/components/user-rights/index.ts
  front/src/common/components/user-rights/user-rights.tsx
Due: check-frontend

Path conditions:
  build-ci-image: any of: ci/Dockerfile, Pipfile, Pipfile.lock, front/package.json, front/package-lock.json
  check-backend: any of: web/**/*
  check-frontend: any of: front/**/*
