Repository MTES-MCT/carbure: changes, and which GitLab CI jobs are due for each by the changed paths.
All: check-backend, check-frontend

check-backend:
  image: python:3.12
  cache:
  - key:
      files:
      - Pipfile.lock
    paths:
    - .cache/pip/
    - .venv/
  before_script:
  - pip install pipenv
  - pipenv install --dev --deploy --ignore-pipfile
  stage: check
  services:
  - mysql:8.0
  - redis:latest
  script:
  - export CARBURE_HOME=$(pwd)
  ...

check-frontend:
  image: node:latest
  cache:
  - key:
      files:
      - front/package-lock.json
    paths:
    - front/.npm/
  before_script:
  - cd front
  - npm ci --cache .npm --prefer-offline
  stage: check
  script:
  - npm run lint
  - npm run build
  - npx chromatic
  interruptible: true

feat(dc): script to insert old dc applications info
  web/doublecount/management/__init__.py
  web/doublecount/management/commands/__init__.py
  web/doublecount/management/commands/import_sourcing_and_production_history.py
Due: check-backend

refactor: adapt dc admin snapshot endpoint
  front/src/double-counting-admin/api.ts
  front/src/double-counting-admin/index.tsx
  front/src/double-counting/types.ts
Due: check-frontend

test: fix double counting tests
  web/doublecount/tests/applications/tests_applications_admin.py
  web/doublecount/tests/applications/tests_applications_user.py
Due: check-backend

fix: double counting endpoint bugs
  web/doublecount/serializers.py
  web/doublecount/views/applications/application.py
  web/doublecount/views/applications/mixins/check_files.py
  web/doublecount/views/applications/mixins/update_quotas.py
Due: check-backend

fix: producer serialization for dc registration
  api-schema.yaml
  front/src/api-schema.ts
  web/certificates/serializers.py
Due: check-backend, check-frontend

feat(dc): update upload checks for sourcing and sourcing history
  web/doublecount/dc_sanity_checks.py
  web/doublecount/errors.py
  web/doublecount/helpers.py
  web/doublecount/parser/parse_sourcing_forecast.py
  web/doublecount/parser/parse_sourcing_history.py
  web/doublecount/tests/applications/tests_applications_user.py
  web/fixtures/csv/test_data/dc_agreement_application_errors_prod_integrity.xlsx
  web/fixtures/csv/test_data/dc_agreement_application_errors_production_history.xlsx
  web/fixtures/csv/test_data/dc_agreement_application_errors_sourcing.xlsx
  web/fixtures/csv/test_data/dc_agreement_application_errors_sourcing_history.xlsx
Due: check-backend

feat(tiruert): add new type, status and feedstock
  web/core/migrations/0037_alter_matierepremiere_category.py
  web/core/migrations/0038_alter_matierepremiere_category.py
  web/core/models.py
  web/tiruert/migrations/0003_rename_energy_operationdetail_volume_and_more.py
  web/tiruert/migrations/0004_alter_operation_type.py
  web/tiruert/models/operation.py
  web/tiruert/models/operation_detail.py
  web/tiruert/serializers/operation.py
  web/tiruert/serializers/operation_detail.py
  web/tiruert/services/balance.py
  web/tiruert/views/operation/operation.py
Due: check-backend

feat(tiruert): display sector and pending info on balance
  web/tiruert/models/operation.py
  web/tiruert/serializers/balance.py
  web/tiruert/serializers/operation.py
  web/tiruert/services/balance.py
Due: check-backend

feat(tiruert): display biofuel code and update reject
  web/tiruert/serializers/balance.py
  web/tiruert/serializers/operation.py
  web/tiruert/services/balance.py
  web/tiruert/views/operation/mixins/reject.py
Due: check-backend

feat(tiruert): add total volume and saved_ghg for each operation
  web/tiruert/serializers/operation.py
Due: check-backend

feat(tiruert): add from_to filter
  web/tiruert/filters.py
Due: check-backend

feat(tiruert): add fields from_depot and to_depot on operation model
  web/tiruert/migrations/0005_remove_operation_depot_operation_from_depot_and_more.py
  web/tiruert/models/operation.py
Due: check-backend

feat(tiruert): add 'details' parameter
  web/tiruert/models/operation.py
  web/tiruert/serializers/operation.py
  web/tiruert/views/operation/operation.py
Due: check-backend

feat(tiruert): add initial_balance when we set a date_from
  web/tiruert/serializers/balance.py
  web/tiruert/services/balance.py
  web/tiruert/views/operation/mixins/balance.py
Due: check-backend

feat(tiruert): DELETE endpoint for CESSION operations
  web/tiruert/services/balance.py
  web/tiruert/views/operation/operation.py
Due: check-backend

feat(tiruert): operation status is ACCEPTED by default for some types
  web/tiruert/models/operation.py
Due: check-backend

fix(1124): double count word template
  web/doublecount/views/applications/mixins/export_application.py
  web/doublecount/views/applications/mixins/utils.py
  web/templates/word/double_count_approval_template.docx
Due: check-backend

fix: plural in double count word
  web/doublecount/views/applications/mixins/utils.py
Due: check-backend

fix: article 2 in double count word
  web/doublecount/views/applications/mixins/utils.py
Due: check-backend

feat(design system): start new dialog
  front/src/common/components/button2/button.tsx
  front/src/common/components/dialog.stories.tsx
  front/src/common/components/dialog2/dialog.module.css
  front/src/common/components/dialog2/dialog.stories.tsx
  front/src/common/components/dialog2/dialog.tsx
  front/src/common/components/dialog2/index.ts
  front/src/common/components/text/text.tsx
  front/src/common/components/title/title.tsx
Due: check-frontend

feat: continue style side nav
  front/.storybook/preview.tsx
  front/src/common/components/icon/icon.tsx
  front/src/common/components/icon/index.ts
  front/src/common/components/text/text.module.css
  front/src/common/components/text/text.stories.tsx
  front/src/common/components/text/text.tsx
  front/src/common/components/title/title.stories.tsx
  front/src/common/components/title/title.tsx
  front/src/common/layouts/main-navigation/main-navigation.stories.tsx
  front/src/common/layouts/main-navigation/private-sidebar/private-sidebar.hooks.ts
  front/src/common/layouts/main-navigation/private-sidebar/private-sidebar.module.css
  front/src/common/layouts/main-navigation/private-sidebar/private-sidebar.tsx
Due: check-frontend

feat: terminate title/text component
  front/.storybook/preview.tsx
  front/src/carbure/assets/css/theme.css
  front/src/common/components/text/index.ts
  front/src/common/components/text/text.module.css
  front/src/common/components/text/text.stories.tsx
  front/src/common/components/text/text.tsx
  front/src/common/components/title/title.module.css
  front/src/common/components/title/title.stories.tsx
  front/src/common/components/title/title.tsx
  front/src/common/layouts/main-navigation.module.css
  front/src/common/layouts/main-navigation.tsx
  front/src/index.tsx
Due: check-frontend

feat(nav): first version navigation
  front/.storybook/preview.tsx
  front/src/carbure/assets/css/index.css
  front/src/common/layouts/main-navigation.context.tsx
  front/src/common/layouts/main-navigation.module.css
  front/src/common/layouts/main-navigation.stories.tsx
  front/src/common/layouts/main-navigation.tsx
Due: check-frontend

feat: continue navigation
  front/.storybook/preview.tsx
  front/package-lock.json
  front/package.json
  front/src/common/layouts/main-navigation.module.css
  front/src/common/layouts/main-navigation.tsx
Due: check-frontend

feat: continue links sidenav
  front/package.json
  front/src/common/components/icon/icon.tsx
  front/src/common/hooks/routes.ts
  front/src/common/layouts/main-navigation/main-navigation.stories.tsx
  front/src/common/layouts/main-navigation/private-sidebar/child-item/child-item.module.css
  front/src/common/layouts/main-navigation/private-sidebar/child-item/child-item.tsx
  front/src/common/layouts/main-navigation/private-sidebar/private-sidebar.hooks.ts
  front/src/common/layouts/main-navigation/private-sidebar/private-sidebar.module.css
  front/src/common/layouts/main-navigation/private-sidebar/private-sidebar.tsx
  front/src/common/layouts/main-navigation/private-sidebar/private-sidebar.types.ts
  front/src/common/utils/routes.ts
Due: check-frontend

feat: setup title reusable component
  front/src/common/components/text/index.ts
  front/src/common/components/text/text.stories.tsx
  front/src/common/components/text/text.tsx
  front/src/common/components/title/index.ts
  front/src/common/components/title/title.stories.tsx
  front/src/common/components/title/title.tsx
  front/src/common/layouts/main-navigation.tsx
Due: check-frontend

feat: add private/public sidebar
  front/src/carbure/__test__/api.ts
  front/src/carbure/hooks/user.ts
  front/src/common/layouts/main-navigation/main-navigation.context.tsx
  front/src/common/layouts/main-navigation/main-navigation.hooks.ts
  front/src/common/layouts/main-navigation/main-navigation.module.css
  front/src/common/layouts/main-navigation/main-navigation.stories.tsx
  front/src/common/layouts/main-navigation/main-navigation.tsx
  front/src/common/layouts/main-navigation/private-sidebar/index.ts
  front/src/common/layouts/main-navigation/private-sidebar/private-sidebar.module.css
  front/src/common/layouts/main-navigation/private-sidebar/private-sidebar.tsx
  front/src/common/layouts/main-navigation/public-sidebar/index.ts
  front/src/common/layouts/main-navigation/public-sidebar/public-sidebar.tsx
Due: check-frontend

refactor: separate code in a better way
  front/src/common/components/text/text.tsx
  front/src/common/layouts/main-navigation/main-navigation.tsx
  front/src/common/layouts/main-navigation/private-sidebar/child-item/child-item.module.css
  front/src/common/layouts/main-navigation/private-sidebar/child-item/child-item.tsx
  front/src/common/layouts/main-navigation/private-sidebar/child-item/index.ts
  front/src/common/layouts/main-navigation/private-sidebar/private-sidebar.hooks.ts
  front/src/common/layouts/main-navigation/private-sidebar/private-sidebar.module.css
  front/src/common/layouts/main-navigation/private-sidebar/private-sidebar.tsx
  front/src/common/layouts/main-navigation/private-sidebar/private-sidebar.types.ts
Due: check-frontend

feat: continue style links sidenav
  front/src/carbure/hooks/user.ts
  front/src/common/components/text/text.module.css
  front/src/common/components/text/text.tsx
  front/src/common/hooks/routes.ts
  front/src/common/layouts/main-navigation/private-sidebar/private-sidebar.hooks.ts
  front/src/common/layouts/main-navigation/private-sidebar/private-sidebar.module.css
  front/src/common/layouts/main-navigation/private-sidebar/private-sidebar.tsx
  front/src/common/utils/routes.ts
Due: check-frontend

fix: fix bad import dsfr
  front/.storybook/preview-head.html
  front/.storybook/preview.tsx
  front/src/carbure/components/notifications.stories.tsx
Due: check-frontend

feat: add loader select
  front/src/carbure/assets/css/index.css
  front/src/common/components/icon/icon.module.css
  front/src/common/components/list2/list.tsx
  front/src/common/components/selects2/select/select.stories.tsx
  front/src/common/components/selects2/select/select.tsx
  front/src/common/layouts/navigation/private/private-navigation.tsx
  front/src/common/molecules/language-selector/language-selector.tsx
Due: check-frontend

feat: start new select
  front/.storybook/preview-head.html
  front/.storybook/preview.tsx
  front/src/carbure/assets/css/index.css
  front/src/common/components/button2/button.stories.tsx
  front/src/common/components/button2/button.tsx
  front/src/common/components/button2/index.ts
  front/src/common/components/icon/icon.tsx
  front/src/common/components/selects/select/select.module.css
  front/src/common/components/selects/select/select.stories.tsx
  front/src/common/components/selects/select/select.tsx
  front/src/common/components/text/text.stories.tsx
  front/src/common/components/text/text.tsx
  front/src/common/components/title/title.stories.tsx
  front/src/common/hooks/async-list.ts
Due: check-frontend

test: terminate list
  front/src/common/components/list/list.module.css
  front/src/common/components/list/list.stories.tsx
Due: check-frontend

feat: change pages admin
  front/src/common/hooks/routes.ts
  front/src/common/layouts/navigation/private/sidebar/private-sidebar.hooks.ts
  front/src/common/utils/routes.ts
  front/src/elec-admin/index.tsx
  front/src/elec-admin/pages/provision-certificates/index.tsx
  front/src/elec-admin/pages/transfer-certificates/index.tsx
Due: check-frontend

fix: fix user menu
  front/src/carbure/__test__/data.ts
  front/src/common/layouts/navigation/private/user-menu/user-menu.tsx
Due: check-frontend

fix: update translations
  front/public/locales/en/translation.json
  front/public/locales/fr/translation.json
Due: check-frontend

fix: fix user menu name
  front/src/carbure/components/pending.module.css
  front/src/carbure/components/pending.tsx
  front/src/carbure/hooks/user.ts
  front/src/common/layouts/navigation/private/sidebar/private-sidebar.tsx
  front/src/common/layouts/navigation/private/user-menu/user-menu.tsx
Due: check-frontend

feat: start notifications
  front/src/carbure/index.tsx
  front/src/common/components/menu2/simple-menu/simple-menu.tsx
  front/src/common/layouts/navigation/private/notifications/notifications.tsx
  front/src/common/layouts/navigation/private/private-navigation.tsx
  front/src/common/layouts/navigation/private/sidebar/entity-selector/entity-selector.tsx
  front/src/common/layouts/navigation/private/user-menu/user-menu.tsx
  front/src/common/utils/routes.ts
  front/src/contact/index.tsx
Due: check-frontend

refactor: clean ui for new navigation
  front/src/carbure/assets/css/index.css
  front/src/carbure/components/home.module.css
  front/src/common/components/scaffold.module.css
  front/src/elec-charge-points/charge-points.tsx
  front/src/elec-charge-points/pages/list/index.tsx
  front/src/elec-charge-points/pages/meter-readings/index.tsx
  front/src/elec-charge-points/pages/pending/index.tsx
Due: check-frontend

fix: refacto icon and clean stories
  front/.storybook/preview.tsx
  front/src/common/components/icon/icon.tsx
  front/src/common/layouts/navigation/private/private-navigation.module.css
  front/src/common/layouts/navigation/private/private-navigation.stories.tsx
  front/src/index.tsx
  front/src/setup-dsfr.ts
Due: check-frontend

Path conditions:
  check-backend: any of: web/**/*, .gitlab-ci.yml
  check-frontend: any of: front/**/*, .gitlab-ci.yml
