Repository MTES-MCT/carbure: changes, and which GitLab CI jobs are due for each by the changed paths.
All: check-backend, check-frontend

.gitlab-ci.yml:

stages:
  - check


workflow:
  rules:
    # 1. Don't run pipelines for MR drafts.
    - if: $CI_PIPELINE_SOURCE == "merge_request_event" && $CI_MERGE_REQUEST_TITLE =~ /^Draft:/
      when: never

    # 2. Don't run branch pipelines when there's an open MR for the branch (run the MR pipeline instead).
    - if: $CI_COMMIT_BRANCH && $CI_OPEN_MERGE_REQUESTS
      when: never

    # 3. Run all other MR pipelines
    - if: $CI_PIPELINE_SOURCE == 'merge_request_event'
      when: always

    # 4. Run branch pipelines for dev and master
    - if: $CI_COMMIT_BRANCH == "dev" || $CI_COMMIT_BRANCH == "master"
      when: always

    # 5. Else, don't run it
    - when: never


variables:
  MYSQL_DATABASE: carbure_mysql_test_db
  MYSQL_ROOT_PASSWORD: carbure_mysql_ci_db_password
  PIP_CACHE_DIR: "$CI_PROJECT_DIR/.cache/pip"
  PIPENV_VENV_IN_PROJECT: true


# job: run linting and tests for backend
check-backend:
  stage: check
  extends: .backend
  services:
    - mysql:8.0
    - redis:latest
  script:
    - export CARBURE_HOME=$(pwd)
    - export DATABASE_URL=mysql://root:$MYSQL_ROOT_PASSWORD@mysql:3306/$MYSQL_DATABASE
    - export REDIS_URL=redis://redis:6379
    - pipenv run ruff check
    - pipenv run ruff format --check
    - TEST=1 pipenv run python web/manage.py test web


# job: run linting and tests for frontend
check-frontend:
  stage: check
  extends: .frontend
  script:
    - npm run lint
    - npm run build
    - npx chromatic
  interruptible: true


.backend:
  image: python:3.12
  cache:
    - key:
        files:
          - Pipfile.lock
      paths:
        - .cache/pip/
        - .venv/
  before_script:
    - pip install pipenv
    - pipenv install --dev --deploy --ignore-pipfile
  rules:
    - changes:
      - web/**/*
      - .gitlab-ci.yml


.frontend:
  image: node:latest
  cache:
    - key:
        files:
          - front/package-lock.json
      paths:
        - front/.npm/
  before_script:
    - cd front
    - npm ci --cache .npm --prefer-offline
  rules:
    - changes:
      - front/**/*
      - .gitlab-ci.yml

refactor(storybook): fix stories
  front/public/locales/fr/translation.json
  front/src/common/components/button2/button.stories.tsx
  front/src/common/components/button2/button.tsx
  front/src/common/components/inputs2/date/date-input.tsx
  front/src/common/components/inputs2/number/number-input.tsx
  front/src/common/components/table2/table.stories.tsx
Due: check-frontend

feat(tiruert): add unit parameter, and add pagination
  web/tiruert/serializers/balance.py
  web/tiruert/serializers/operation.py
  web/tiruert/services/balance.py
  web/tiruert/views/operation/mixins/balance.py
  web/tiruert/views/operation/operation.py
Due: check-backend

feat(tiruert): add filters endpoint
  web/tiruert/views/operation/mixins/__init__.py
  web/tiruert/views/operation/mixins/filter.py
Due: check-backend

feat(tiruert): add method to validate teneur
  web/tiruert/views/operation/mixins/accept.py
Due: check-backend

feat: display an error when a meter initial cannot be modified
  front/public/locales/en/translation.json
  front/public/locales/fr/translation.json
  front/src/elec-charge-points/pages/list/charge-point/[id]/update/index.tsx
Due: check-frontend

feat: rename fields in meter modal for clarity
  front/src/elec-charge-points/pages/list/charge-point/[id]/update/change-meter/index.tsx
Due: check-frontend

feat: show error when adding a new meter with invalid reading date
  front/src/elec-charge-points/pages/list/charge-point/[id]/update/change-meter/accept-change-meter.tsx
Due: check-frontend

feat: add ability to modify meter initial index from PDC modal
  front/src/elec-charge-points/pages/list/charge-point/[id]/update/index.tsx
  front/src/elec-charge-points/pages/list/charge-point/[id]/update/types.ts
  front/src/elec-charge-points/types.ts
  web/elec/models/elec_charge_point.py
  web/elec/serializers/elec_charge_point.py
Due: check-backend, check-frontend

test: fixes
  web/elec/api/admin/charge_points/tests_charge_points.py
  web/elec/api/cpo/charge_points/tests_charge_points.py
Due: check-backend

chore: translations
  front/public/locales/en/translation.json
  front/public/locales/fr/translation.json
Due: check-frontend

Add new template for issues
  .gitlab/issue_templates/issue_template.md
Due: none

Add a new description template for issues
  .gitlab/issue_templates/issue_description.md
Due: none

Delete issue_template.md
  .gitlab/issue_templates/issue_template.md
Due: none

Add new bug template issue
  .gitlab/issue_templates/Bug.md
Due: none

Edit Bug.md
  .gitlab/issue_templates/Bug.md
Due: none

fix: front/package.json & front/package-lock.json to reduce vulnerabilities
  front/package-lock.json
  front/package.json
Due: check-frontend

feat: generate agreement link
  api-schema.yaml
  front/src/api-schema.ts
  web/doublecount/tests/applications/tests_applications_admin.py
  web/doublecount/views/applications/mixins/__init__.py
  web/doublecount/views/applications/mixins/export_application.py
  web/doublecount/views/applications/mixins/get_file_link.py
  web/doublecount/views/applications/mixins/response_serializer.py
Due: check-backend, check-frontend

feat(elec): add django-simple-history for elec app
  Pipfile
  Pipfile.lock
  web/carbure/settings.py
  web/elec/migrations/0049_elecchargepointhistory_elecmeterhistory.py
  web/elec/models/elec_charge_point.py
  web/elec/models/elec_meter.py
Due: check-backend

ruff: version update
  Pipfile
  Pipfile.lock
Due: none

Merge branch 'dev' into feature/integrate-layout-to-carbure
  front/public/locales/en/translation.json
  front/public/locales/fr/translation.json
  front/src/elec-charge-points/pages/list/charge-point/[id]/update/change-meter/accept-change-meter.tsx
  front/src/elec-charge-points/pages/list/charge-point/[id]/update/change-meter/index.tsx
  front/src/elec-charge-points/pages/list/charge-point/[id]/update/index.tsx
  front/src/elec-charge-points/pages/list/charge-point/[id]/update/types.ts
  front/src/elec-charge-points/types.ts
  web/elec/api/admin/charge_points/tests_charge_points.py
  web/elec/api/cpo/charge_points/tests_charge_points.py
  web/elec/models/elec_charge_point.py
  web/elec/serializers/elec_charge_point.py
Due: check-backend, check-frontend

feat(compta mat - Operations): add comptabilité matiere links
  front/src/carbure/index.tsx
  front/src/common/hooks/routes.ts
  front/src/common/layouts/navigation/private/sidebar/hooks/useMaterialAccouting.ts
  front/src/common/layouts/navigation/private/sidebar/sidebar.hooks.ts
  front/src/common/utils/routes.ts
  front/src/material-accounting/index.tsx
Due: check-frontend

fix(redcert): change click button action, remove typo, better handling when no result
  web/certificates/management/commands/get_redcert_pdf.py
Due: check-backend

feat(dc): add button on agreement
  api-schema.yaml
  front/package.json
  front/scripts/transform-schema.ts
  front/src/api-schema.ts
  front/src/common/services/api-fetch.ts
  front/src/double-counting-admin/api.ts
  front/src/double-counting-admin/components/agreements/agreement-details-dialog.tsx
  front/src/double-counting-admin/components/applications/application-download-button.tsx
  front/src/double-counting/api.ts
Due: check-frontend

ELEC : add django-simple-history for elec app
  Pipfile
  Pipfile.lock
  web/carbure/settings.py
  web/elec/migrations/0049_elecchargepointhistory_elecmeterhistory.py
  web/elec/models/elec_charge_point.py
  web/elec/models/elec_meter.py
Due: check-backend

feat(dc): prepare frontend with two button download decision
  api-schema.yaml
  front/src/api-schema.ts
  front/src/double-counting-admin/components/agreements/agreement-details-dialog.tsx
  front/src/double-counting-admin/components/applications/application-details-dialog/application-details-dialog.tsx
  front/src/double-counting-admin/components/generate-decision-dialog/generate-decision-dialog.tsx
  front/src/double-counting-admin/components/generate-decision-dialog/index.ts
Due: check-frontend

feat(dc): terminate generate decision double count
  front/src/double-counting-admin/components/agreements/agreement-details-dialog.tsx
  web/doublecount/views/applications/mixins/export_application.py
Due: check-backend, check-frontend

fix(entity): fix notification type error
  front/src/carbure/components/notifications.tsx
  front/src/carbure/types.ts
Due: check-frontend

feat(entity): fix some errors ts
  front/src/carbure/components/notifications.tsx
  front/src/carbure/types.ts
  front/src/carbure/utils/normalizers.ts
  front/src/companies-admin/api.ts
  front/src/companies-admin/components/certificates.tsx
  front/src/companies-admin/components/entity-summary.tsx
  front/src/companies-admin/types.ts
  front/src/companies/api.ts
  front/src/settings/api/delivery-sites.ts
Due: check-frontend

fix(dc): fix test export app
  web/doublecount/tests/applications/tests_applications_admin.py
Due: check-backend

feat(material accounting): layout for all pages
  front/src/common/components/icon/icon.tsx
  front/src/common/components/scaffold.module.css
  front/src/common/components/scaffold.tsx
  front/src/common/layouts/navigation/private/sidebar/hooks/useMaterialAccouting.ts
  front/src/common/utils/routes.ts
  front/src/material-accounting/balance/balance.tsx
  front/src/material-accounting/balance/index.ts
  front/src/material-accounting/index.tsx
  front/src/material-accounting/operations/index.ts
  front/src/material-accounting/operations/operations.tsx
Due: check-frontend

feat(generic component): add filter multiselect
  front/src/common/components/show-more/show-more.module.css
  front/src/common/components/show-more/show-more.stories.tsx
  front/src/common/components/show-more/show-more.tsx
  front/src/common/molecules/filter-multiselect2/filter-multiselect2.stories.tsx
  front/src/common/molecules/filter-multiselect2/filter-multiselect2.tsx
  front/src/common/molecules/filter-multiselect2/index.ts
Due: check-frontend

feat(tiruert): fix unit tests
  web/tiruert/tests/tests_balances.py
  web/tiruert/tests/tests_operations.py
Due: check-backend

feat(tiruert): generate schema with new endpoints
  api-schema.yaml
  front/src/api-schema.ts
  front/src/material-accounting/operations/operations.tsx
  front/src/material-accounting/operations/types.ts
Due: check-frontend

fix(entity): fix entity ts errors
  api-schema.yaml
  front/src/api-schema.ts
  front/src/carbure/__test__/data.ts
  front/src/carbure/types.ts
  front/src/elec/components/provision-certificates/transfer-dialog.tsx
  front/src/settings/__test__/api.ts
  front/src/settings/api/company.ts
  front/src/settings/api/delivery-sites.ts
  front/src/settings/components/certificates.tsx
  front/src/settings/components/delivery-site/create-delivery-site-form.tsx
  front/src/settings/components/delivery-site/delivery-site.hooks.tsx
  front/src/settings/components/delivery-site/delivery-site.tsx
  web/entity/serializers/depot.py
Due: check-backend, check-frontend

feat(tiruert): add openapi definition for GET POST DELET operations, GET filters and GET balances
  web/tiruert/serializers/__init__.py
  web/tiruert/views/operation/mixins/balance.py
  web/tiruert/views/operation/mixins/filter.py
  web/tiruert/views/operation/operation.py
Due: check-backend

feat(tiruert): openapi in progress
  web/tiruert/views/operation/mixins/simulate.py
Due: check-backend

feat(tiruert): openapi definitions
  web/tiruert/views/operation/mixins/balance.py
  web/tiruert/views/operation/mixins/simulate.py
  web/tiruert/views/operation/operation.py
Due: check-backend

feat(tiruert): openapi definitions fix
  web/tiruert/views/operation/mixins/balance.py
  web/tiruert/views/operation/mixins/filter.py
  web/tiruert/views/operation/mixins/simulate.py
  web/tiruert/views/operation/operation.py
Due: check-backend
