Repository MTES-MCT/carbure: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-ci-image, check-backend, check-frontend

.gitlab-ci.yml:

stages:
  - prepare
  - check
  - deploy

variables:
  MYSQL_DATABASE: carbure_mysql_test_db
  MYSQL_ROOT_PASSWORD: carbure_mysql_ci_db_password

# use prebuild CI image when running checks
.checks:
  image: $CI_REGISTRY/$CI_PROJECT_PATH/ci-image:latest
  before_script:
    - mv /app/front/node_modules ./front

# prepare git env to push new code to scalingo
.scalingo:
  image: alpine:latest
  before_script:
    - mkdir ~/.ssh
    - apk add --update git openssh-client
    - eval $(ssh-agent -s)
    - echo "$SCALINGO_SSH_PRIVATE_KEY" | tr -d '\r' | ssh-add -
    - ssh-keyscan $SCALINGO_SSH_HOST >> ~/.ssh/known_hosts
    - chmod 644 ~/.ssh/known_hosts
    - git config user.name $GIT_USER_NAME
    - git config user.email $GIT_USER_EMAIL
    - git remote add scalingo-dev $SCALINGO_GIT_REMOTE_DEV || true
    - git remote add scalingo-staging $SCALINGO_GIT_REMOTE_STAGING || true
    - git remote add scalingo-prod $SCALINGO_GIT_REMOTE_PROD || true
    - git fetch origin $CI_COMMIT_BRANCH --unshallow
    - git checkout $CI_COMMIT_BRANCH

build-ci-image:
  stage: prepare
  image: docker:stable
  services:
    - docker:dind
  script:
    - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
    - docker build -f ci/Dockerfile -t $CI_REGISTRY/$CI_PROJECT_PATH/ci-image:latest .
    - docker push $CI_REGISTRY/$CI_PROJECT_PATH/ci-image:latest
  only:
    changes:
      - ci/Dockerfile
      - Pipfile
      - Pipfile.lock
      - front/package.json
      - front/package-lock.json

check-backend:
  stage: check
  extends: .checks
  services:
    - mysql:8.0
    - redis:latest
  script:
    - export CARBURE_HOME=$(pwd)
    - export DATABASE_URL=mysql://root:$MYSQL_ROOT_PASSWORD@mysql:3306/$MYSQL_DATABASE
    - export REDIS_URL=redis://redis:6379
    - mypy web || true
    - TEST=1 python3 web/manage.py test web
  only:
    refs:
      - dev
      - master
    changes:
      - web/**/*

check-frontend:
  stage: check
  extends: .checks
  script:
    - cd front
    - npx eslint --ext .ts,.tsx src/
    - npm test
  only:
    refs:
      - dev
      - master
    changes:
      - front/**/*

deploy-dev:
  stage: deploy
  extends: .scalingo
  only:
    - dev
  script:
    - git push scalingo-dev $CI_COMMIT_BRANCH:master -f

deploy-staging:
  stage: deploy
  extends: .scalingo
  only:
    - master
  script:
    - git push scalingo-staging master -f

deploy-prod:
  stage: deploy
  extends: .scalingo
  when: manual
  only:
    - master
  script:
    - git push scalingo-prod master -f

[api] dc tests 50%
  front/public/locales/en/translation.json
  front/public/locales/fr/translation.json
  front/src/double-counting/components/files-checker/index.tsx
  web/doublecount/api/application/tests_application.py
  web/doublecount/dc_sanity_checks.py
  web/doublecount/errors.py
  web/fixtures/csv/test_data/dc_agreement_application_errors_global.xlsx
  web/fixtures/csv/test_data/dc_agreement_application_errors_prod_integrity.xlsx
  web/fixtures/csv/test_data/dc_agreement_application_errors_sourcing.xlsx
Due: check-backend, check-frontend

[back] add tests dc checker errors
  front/src/double-counting/types.ts
  front/src/settings/utils/double-counting.ts
  web/doublecount/api/application/tests_application.py
  web/doublecount/errors.py
  web/doublecount/helpers.py
  web/doublecount/parser/parse_production.py
  web/fixtures/csv/test_data/dc_agreement_application_errors_invalid_year.xlsx
  web/fixtures/csv/test_data/dc_agreement_application_errors_production.xlsx
Due: check-backend, check-frontend

[back] clean tests dc-checker
  front/public/locales/en/translation.json
  front/public/locales/fr/translation.json
  front/src/double-counting/components/application/application-info.tsx
  front/src/double-counting/components/dc-tables.tsx
  front/src/double-counting/components/files-checker/errors-details-dialog.tsx
  front/src/double-counting/components/files-checker/index.tsx
  front/src/double-counting/types.ts
  front/src/settings/utils/double-counting.ts
  web/doublecount/api/application/tests_application.py
  web/doublecount/dc_sanity_checks.py
  web/doublecount/errors.py
  web/doublecount/helpers.py
  web/fixtures/csv/test_data/dc_agreement_application_errors_invalid_year.xlsx
  web/fixtures/csv/test_data/dc_agreement_application_errors_invalid_year_and_missing_data.xlsx
  web/fixtures/csv/test_data/dc_agreement_application_errors_unknow_year.xlsx
Due: check-backend, check-frontend

[api] fix bug for dc without production site
  web/core/traceability/tests_traceability.py
  web/doublecount/helpers.py
Due: check-backend

[api] fix mutation of lot traceability config causing bugs
  web/core/traceability/lot.py
  web/core/traceability/tests_traceability.py
Due: check-backend

[front] add contact page with typeform
  front/package-lock.json
  front/package.json
  front/src/carbure/components/contact.tsx
  front/src/carbure/index.tsx
  package-lock.json
  package.json
Due: build-ci-image, check-frontend

[front] prefill mailto to add company
  front/public/locales/en/translation.json
  front/public/locales/fr/translation.json
  front/src/account/components/access-rights.tsx
  front/src/carbure/components/footer.tsx
  front/src/common/components/button.tsx
Due: check-frontend

[api] fix dc certificate search when creating new lot
  web/core/common.py
  web/core/helpers.py
  web/transactions/helpers.py
  web/transactions/sanity_checks/double_counting.py
  web/transactions/sanity_checks/helpers.py
Due: check-backend

[api] fix listing traceability nodes when the root list is empty
  web/core/traceability/get_traceability_nodes.py
Due: check-backend

[api] use only one version of get_prefetched_data
  web/admin/api/controls/lots/update_many.py
  web/carbure/scripts/data_reliability_scoring.py
  web/carbure/scripts/sanity_checks.py
  web/core/admin.py
  web/core/helpers.py
  web/ml/scripts/calc_ml_score.py
  web/ml/scripts/check_stats.py
  web/transactions/api/lots/accept_trading.py
  web/transactions/api/lots/add.py
  web/transactions/api/lots/add_excel.py
  web/transactions/api/lots/duplicate.py
  web/transactions/api/lots/reject.py
  web/transactions/api/lots/send.py
  web/transactions/api/lots/update.py
  web/transactions/api/stocks/split.py
  web/transactions/sanity_checks/__init__.py
  web/transactions/sanity_checks/double_counting.py
  web/transactions/sanity_checks/helpers.py
  web/transactions/sanity_checks/sanity_checks.py
Due: check-backend

[dc] add dechets industriel specifications + email template to send application
  front/public/locales/en/translation.json
  front/public/locales/fr/translation.json
  front/public/templates/Processus de validation de matières premières IXA.docx
  front/src/common/components/alert.module.css
  front/src/common/components/alert.tsx
  front/src/double-counting/components/files-checker/errors-details-dialog.tsx
  front/src/double-counting/components/files-checker/valid-details-dialog.tsx
  front/src/double-counting/types.ts
  web/doublecount/api/application/check_file.py
  web/doublecount/api/application/tests_application.py
Due: check-backend, check-frontend

[back] fix dc checker test
  web/doublecount/api/application/check_file.py
Due: check-backend

[dc] add test to add application and display agreement_id
  front/src/double-counting/components/agreement-list.tsx
  front/src/double-counting/components/files-checker/valid-details-dialog.tsx
  front/src/double-counting/types.ts
  web/admin/api/double_counting/application/add.py
  web/admin/api/double_counting/application/tests_application.py
  web/doublecount/api/views.py
  web/doublecount/models.py
  web/doublecount/serializers.py
  web/producers/models.py
Due: check-backend, check-frontend

[dc] add script to extract dc_number from dc agreement for produciton sites
  scripts/patches/2023-07-25_generate_production_site_dc_number.py
  web/producers/migrations/0003_alter_productionsite_dc_number.py
  web/producers/models.py
Due: check-backend

[dc] avoid duplicated agreement
  web/admin/api/double_counting/application/add.py
  web/admin/api/double_counting/application/tests_application.py
  web/doublecount/models.py
Due: check-backend

[front] hide pays d'origine when dc production agregated
  front/src/double-counting/components/dc-tables.tsx
Due: check-frontend

[dc] generated ID ok + fix avoid duplicated and clean
  front/public/locales/en/errors-api.json
  front/public/locales/en/errors.json
  front/public/locales/en/translation.json
  front/public/locales/fr/errors-api.json
  front/public/locales/fr/errors.json
  front/public/locales/fr/translation.json
  front/src/common/components/notifications.tsx
  front/src/double-counting/components/files-checker/valid-details-dialog.tsx
  web/admin/api/double_counting/application/add.py
  web/admin/api/double_counting/application/tests_application.py
  web/doublecount/admin.py
  web/doublecount/api/views.py
Due: check-backend, check-frontend

[front] fix alert styling
  front/src/common/components/alert.module.css
  front/src/common/components/alert.tsx
Due: check-frontend

[scripts] fix 2bs not reading certificate start date
  web/carbure/scripts/update_2bs_certificates.py
Due: check-backend
