Repository MTES-MCT/carbure: changes, and which GitLab CI jobs are due for each by the changed paths.
All: check-backend, check-frontend

.gitlab-ci.yml:

stages:
  - check


workflow:
  rules:
    # 1. Don't run pipelines for MR drafts.
    - if: $CI_PIPELINE_SOURCE == "merge_request_event" && $CI_MERGE_REQUEST_TITLE =~ /^Draft:/
      when: never

    # 2. Don't run branch pipelines when there's an open MR for the branch (run the MR pipeline instead).
    - if: $CI_COMMIT_BRANCH && $CI_OPEN_MERGE_REQUESTS
      when: never

    # 3. Run all other MR pipelines
    - if: $CI_PIPELINE_SOURCE == 'merge_request_event'
      when: always

    # 4. Run branch pipelines for dev and master
    - if: $CI_COMMIT_BRANCH == "dev" || $CI_COMMIT_BRANCH == "master"
      when: always

    # 5. Else, don't run it
    - when: never


variables:
  MYSQL_DATABASE: carbure_mysql_test_db
  MYSQL_ROOT_PASSWORD: carbure_mysql_ci_db_password
  PIP_CACHE_DIR: "$CI_PROJECT_DIR/.cache/pip"
  PIPENV_VENV_IN_PROJECT: true


# job: run linting and tests for backend
check-backend:
  stage: check
  extends: .backend
  services:
    - mysql:8.0
    - redis:latest
  script:
    - export CARBURE_HOME=$(pwd)
    - export DATABASE_URL=mysql://root:$MYSQL_ROOT_PASSWORD@mysql:3306/$MYSQL_DATABASE
    - export REDIS_URL=redis://redis:6379
    - pipenv run ruff check
    - pipenv run ruff format --check
    - TEST=1 pipenv run python web/manage.py test web


# job: run linting and tests for frontend
check-frontend:
  stage: check
  extends: .frontend
  script:
    - npm run lint
    - npm run build
    - npx chromatic
  interruptible: true


.backend:
  image: python:3.12
  cache:
    - key:
        files:
          - Pipfile.lock
      paths:
        - .cache/pip/
        - .venv/
  before_script:
    - pip install pipenv
    - pipenv install --dev --deploy --ignore-pipfile
  rules:
    - changes:
      - web/**/*
      - .gitlab-ci.yml


.frontend:
  image: node:latest
  cache:
    - key:
        files:
          - front/package-lock.json
      paths:
        - front/.npm/
  before_script:
    - cd front
    - npm ci --cache .npm --prefer-offline
  rules:
    - changes:
      - front/**/*
      - .gitlab-ci.yml

feat(tiruert): remove empty lines in fuels csv fixture
  web/fixtures/csv/fossil_fuels.csv
Due: check-backend

feat(airports): update airports list via fixture
  web/fixtures/csv/airports.csv
  web/fixtures/load_airports.py
Due: check-backend

feat(airports): update airports, is_enabled=False if not EU airport
  web/fixtures/load_airports.py
Due: check-backend

refactor(saf architecture): simplify api.ts and start moving components
  front/src/saf/__test__/data.ts
  front/src/saf/api.ts
  front/src/saf/components/durability-fields.tsx
  front/src/saf/components/tabs.module.css
  front/src/saf/components/ticket-details/fields.tsx
  front/src/saf/components/ticket-details/reject-assignment.tsx
  front/src/saf/pages/airline/accept-assignment.tsx
  front/src/saf/pages/airline/index.tsx
  front/src/saf/pages/airline/ticket-details.tsx
  front/src/saf/pages/airline/tickets.tsx
  front/src/saf/pages/operator/api.ts
  front/src/saf/pages/operator/components/ticket-details/cancel-assignment.tsx
  front/src/saf/pages/operator/components/ticket-details/credit-ticket-source.tsx
  front/src/saf/pages/operator/components/ticket-details/index.tsx
  front/src/saf/pages/operator/components/ticket-details/linked-ticket-source.tsx
  front/src/saf/pages/operator/components/ticket-source-details/assigned-tickets.tsx
  front/src/saf/pages/operator/components/ticket-source-details/fields.tsx
  front/src/saf/pages/operator/components/ticket-source-details/index.stories.tsx
  front/src/saf/pages/operator/components/ticket-source-details/index.tsx
  front/src/saf/pages/operator/components/ticket-source-details/parent-lot.tsx
  front/src/saf/pages/operator/components/ticket-source-tag.tsx
  front/src/saf/pages/operator/index.tsx
  front/src/saf/pages/operator/pages/ticket-sources/index.hooks.ts
  front/src/saf/pages/operator/pages/ticket-sources/index.tsx
  front/src/saf/pages/operator/pages/ticket-sources/status-switcher.tsx
  front/src/saf/pages/operator/pages/ticket-sources/table.tsx
  front/src/saf/pages/operator/pages/ticket-sources/tag.tsx
  front/src/saf/pages/operator/pages/tickets/index.hooks.ts
  front/src/saf/pages/operator/pages/tickets/index.tsx
  front/src/saf/pages/operator/pages/tickets/status-switcher.tsx
  front/src/saf/pages/operator/tabs.tsx
  front/src/saf/pages/operator/types.ts
Due: check-frontend

refactor(airline): terminate clean saf folder
  front/src/saf/pages/airline/index.tsx
  front/src/saf/pages/airline/pages/tickets/index.ts
  front/src/saf/pages/airline/pages/tickets/ticket-details/accept-assignment.tsx
  front/src/saf/pages/airline/pages/tickets/ticket-details/index.ts
  front/src/saf/pages/airline/pages/tickets/ticket-details/ticket-details.tsx
  front/src/saf/pages/airline/pages/tickets/tickets.hooks.ts
  front/src/saf/pages/airline/pages/tickets/tickets.tsx
  front/src/saf/pages/airline/tabs.tsx
  front/src/saf/pages/operator/pages/ticket-sources/index.tsx
  front/src/saf/pages/operator/pages/tickets/index.tsx
Due: check-frontend

fix: feedbacks teneur
  front/src/accounting/components/quantity-form/quantity-form.tsx
  front/src/accounting/pages/teneur/components/declare-teneur-dialog/declare-teneur-dialog.tsx
  front/src/accounting/pages/teneur/components/recap-data/recap-data.tsx
Due: check-frontend

feat(tiruert): remove teneur volume from depot balances
  web/tiruert/services/balance.py
Due: check-backend

fix: fix errors cession
  front/public/locales/en/translation.json
  front/public/locales/fr/translation.json
  front/src/accounting/components/quantity-form/quantity-form.tsx
  front/src/accounting/components/recipient-to-depot-form/api.ts
  front/src/accounting/components/recipient-to-depot-form/recipient-to-depot-form.tsx
  front/src/accounting/pages/operations/operations.tsx
  front/src/accounting/pages/operations/pages/operation-detail/operation-detail.tsx
Due: check-frontend

feat(hide teneur page ): hide page if entity is not tiruert_liable
  api-schema.yaml
  front/src/accounting/index.tsx
  front/src/api-schema.ts
  front/src/common/hooks/entity.ts
  front/src/common/layouts/navigation/private/sidebar/hooks/useAccounting.ts
  web/core/models.py
  web/core/serializers.py
Due: check-backend, check-frontend

refactor(formatNumber): add options to generic formatNumber
  front/src/accounting/pages/balances/balances.hooks.tsx
  front/src/accounting/pages/teneur/components/capped-categories-progress/capped-categories-progress.tsx
  front/src/accounting/pages/teneur/components/declare-teneur-dialog/declare-teneur-dialog.hooks.ts
  front/src/accounting/pages/teneur/components/validate-pending-teneur-dialog/validate-pending-teneur-dialog.hooks.tsx
  front/src/accounting/pages/teneur/teneur.tsx
  front/src/accounting/pages/teneur/utils/formatters.ts
  front/src/common/__test__/data.ts
  front/src/common/hooks/unit.ts
  front/src/common/layouts/navigation/private/sidebar/hooks/useAccounting.ts
  front/src/common/utils/formatters.ts
  front/src/common/utils/normalizers.ts
  front/src/elec-admin/pages/provision-certificates/details.tsx
  front/src/elec-admin/pages/provision-certificates/table.tsx
  front/src/elec/components/provision-certificates/details.tsx
  front/src/elec/components/provision-certificates/table.tsx
  front/src/elec/components/provision-certificates/transfer-dialog.tsx
  front/src/elec/components/provision-certificates/transfer-summary.tsx
  front/src/elec/components/transfer-certificates/list-operator.tsx
Due: check-frontend

fix: make all numbers integers for teneur page
  front/src/accounting/pages/teneur/components/card-progress/card-progress.tsx
  front/src/accounting/pages/teneur/components/objectivized-categories-progress/objectivized-categories-progress.tsx
  front/src/accounting/pages/teneur/components/overall-progress/overall-progress.tsx
  front/src/accounting/pages/teneur/components/sector-progress/sector-progress.tsx
  front/src/accounting/pages/teneur/components/unconstrained-categories-progress/unconstrained-categories-progress.tsx
Due: check-frontend

refactor: terminate format number in teneur
  front/src/accounting/components/quantity-form/quantity-form.tsx
  front/src/accounting/pages/balances/balances.tsx
  front/src/accounting/pages/balances/components/debit-operation-dialog/debit-operation-dialog.tsx
  front/src/accounting/pages/operations/operations.hooks.tsx
  front/src/accounting/pages/operations/operations.module.css
  front/src/accounting/pages/operations/operations.tsx
  front/src/accounting/pages/teneur/components/declare-teneur-dialog/declare-teneur-dialog.tsx
  front/src/accounting/pages/teneur/components/objectivized-categories-progress/objectivized-categories-progress.tsx
  front/src/accounting/pages/teneur/utils/formatters.ts
  front/src/common/components/inputs2/input.tsx
Due: check-frontend

feat: add progress bar for unconstrained categories
  front/src/accounting/pages/teneur/components/declare-teneur-dialog/declare-teneur-dialog.tsx
  front/src/accounting/pages/teneur/components/declare-teneur-dialog/declare-teneur-progress-bar.tsx
  front/src/accounting/pages/teneur/teneur.tsx
Due: check-frontend

feat(tiruert): calcul teneur for depot
  web/tiruert/services/balance.py
Due: check-backend

feat(tiruert): fix bug to use the correct entity when calculate balance
  web/tiruert/services/operation.py
  web/tiruert/services/teneur.py
  web/tiruert/views/operation/mixins/simulate.py
Due: check-backend

fix(elec): fix issues in partial elec audit uploading
  front/src/elec-auditor/components/details-pending-check.tsx
  web/core/utils.py
  web/elec/api/auditor/accept_report.py
  web/elec/api/auditor/tests_elec_audit.py
  web/elec/services/import_elec_audit_report_excel.py
Due: check-backend, check-frontend

refactor: after api call objectives, set all values to GJ
  front/src/accounting/pages/teneur/api.ts
  front/src/accounting/pages/teneur/components/capped-categories-progress/capped-categories-progress.tsx
  front/src/accounting/pages/teneur/components/declare-teneur-dialog/biofuel-form/biofuel-form.tsx
  front/src/accounting/pages/teneur/components/declare-teneur-dialog/declare-teneur-dialog.tsx
  front/src/accounting/pages/teneur/components/declare-teneur-dialog/declare-teneur-progress-bar.tsx
  front/src/accounting/pages/teneur/components/objectivized-categories-progress/objectivized-categories-progress.tsx
  front/src/accounting/pages/teneur/components/overall-progress/overall-progress.tsx
  front/src/accounting/pages/teneur/components/progress-bar/progress-bar.tsx
  front/src/accounting/pages/teneur/components/sector-progress/sector-progress.tsx
  front/src/accounting/pages/teneur/components/unconstrained-categories-progress/unconstrained-categories-progress.tsx
  front/src/accounting/pages/teneur/utils/formatters.ts
Due: check-frontend

feat(tiruert): don't check objective compliance for reach objective and no objective during teneur creation
  web/tiruert/services/objective.py
  web/tiruert/services/operation.py
Due: check-backend

refactor: clean values in validate pending teneur dialog
  front/src/accounting/pages/operations/pages/operation-detail/operation-detail.tsx
  front/src/accounting/pages/teneur/components/validate-pending-teneur-dialog/validate-pending-teneur-dialog.hooks.tsx
  front/src/accounting/pages/teneur/components/validate-pending-teneur-dialog/validate-pending-teneur-dialog.tsx
Due: check-frontend

feat(tiruert): validate all pending teneurs when validate declaration
  web/tiruert/views/operation/mixins/accept.py
Due: check-backend

fix: allow teneur operation to be deleted
  web/tiruert/views/operation/operation.py
Due: check-backend

fix: display button delete teneur
  front/src/accounting/pages/operations/pages/operation-detail/operation-detail.tsx
Due: check-frontend

feat(saf): add new filter + new field in table
  api-schema.yaml
  front/public/locales/en/translation.json
  front/public/locales/fr/translation.json
  front/src/api-schema.ts
  front/src/common/components/scaffold.module.css
  front/src/common/components/scaffold.tsx
  front/src/saf/__test__/data.ts
  front/src/saf/components/assignment/grouped-assignment.tsx
  front/src/saf/components/assignment/simple-assignment/simple-assignment.tsx
  front/src/saf/components/filters.tsx
  front/src/saf/components/tickets/table.tsx
  front/src/saf/pages/airline/pages/tickets/tickets.tsx
  front/src/saf/pages/operator/api.ts
  front/src/saf/pages/operator/components/ticket-source-details/assigned-tickets.tsx
  front/src/saf/pages/operator/pages/tickets/index.tsx
  front/src/saf/types.ts
  front/src/saf/utils/formatters.ts
  front/src/saf/utils/normalizers.ts
  web/saf/filters/ticket.py
  web/saf/serializers/saf_ticket.py
  web/saf/serializers/saf_ticket_source.py
  web/saf/views/ticket/mixins/filter.py
Due: check-backend, check-frontend

test: fix backend tests
  api-schema.yaml
  front/src/api-schema.ts
  web/saf/tests/tests_ticket_source_details.py
  web/saf/tests/tests_ticket_sources.py
  web/saf/tests/tests_tickets.py
Due: check-backend, check-frontend

feat(security): task to anonymize inactive users
  web/user/management/__init__.py
  web/user/management/commands/__init__.py
  web/user/management/commands/anonymize_inactive_users
  web/user/models/__init__.py
  web/user/models/inactive_user.py
  web/user/services/__init__.py
  web/user/services/inactive_user.py
  web/user/tests/tests_inactive_user.py
Due: check-backend

feat(security): task to anonymize inactive users
  web/carbure/settings.py
  web/user/management/commands/anonymize_inactive_users.py
  web/user/models/inactive_user.py
  web/user/services/__init__.py
Due: check-backend

feat(security): add migration for proxy model InactiveUser
  web/user/migrations/0001_initial.py
  web/user/migrations/__init__.py
Due: check-backend

feat(security): add crontab info and email notification
  web/carbure/tasks.py
  web/core/helpers.py
  web/user/management/commands/anonymize_inactive_users.py
Due: check-backend

fix: permissions refactoring
  web/core/permissions.py
  web/doublecount/permissions/__init__.py
  web/doublecount/permissions/user_rights.py
  web/doublecount/views/agreements/agreement.py
  web/doublecount/views/applications/application.py
  web/doublecount/views/snapshot.py
  web/entity/permissions/__init__.py
  web/entity/permissions/user_rights.py
  web/entity/views/certificates/certificates.py
  web/entity/views/depots/depots.py
  web/entity/views/enable_entity.py
  web/entity/views/entity/entity.py
  web/entity/views/notifications/notifications.py
  web/entity/views/production_sites/production_sites.py
  web/entity/views/users/users.py
  web/saf/permissions/__init__.py
  web/saf/permissions/admin_rights.py
  web/saf/permissions/user_rights.py
  web/saf/views/extra/snapshot.py
  web/saf/views/extra/years.py
  web/saf/views/ticket/ticket.py
  web/saf/views/ticket_source/ticket_source.py
  web/tiruert/permissions.py
  web/tiruert/views/operation/operation.py
Due: check-backend

Feat/1340 rgpd inactive users
  web/carbure/settings.py
  web/carbure/tasks.py
  web/core/helpers.py
  web/user/management/__init__.py
  web/user/management/commands/__init__.py
  web/user/management/commands/anonymize_inactive_users.py
  web/user/migrations/0001_initial.py
  web/user/migrations/__init__.py
  web/user/models/__init__.py
  web/user/models/inactive_user.py
  web/user/services/__init__.py
  web/user/services/inactive_user.py
  web/user/tests/tests_inactive_user.py
Due: check-backend

feat(S3): private objects handling on S3
  web/carbure/settings.py
  web/core/__init__.py
  web/doublecount/management/commands/import_sourcing_and_production_history.py
  web/doublecount/migrations/0020_convert_download_links.py
  web/doublecount/utils.py
  web/doublecount/views/agreements/mixins/download_link.py
  web/doublecount/views/agreements/mixins/retrieve.py
  web/doublecount/views/applications/mixins/add_application.py
Due: check-backend

feat(S3): add 'private' storage backend for unit tests
  web/carbure/settings.py
Due: check-backend

feat(S3): using the new private_storage
  web/tiruert/management/commands/import_fossil_fuel_mac.py
Due: check-backend

fix: front/package.json & front/package-lock.json to reduce vulnerabilities
  front/package-lock.json
  front/package.json
Due: check-frontend

fix: display button delete teneur
  front/public/locales/en/translation.json
  front/public/locales/fr/translation.json
  front/src/accounting/pages/operations/pages/operation-detail/operation-detail.tsx
  front/src/accounting/pages/teneur/components/progress-bar/progress-bar.tsx
  front/src/accounting/pages/teneur/components/validate-pending-teneur-dialog/validate-pending-teneur-dialog.hooks.tsx
  front/src/accounting/pages/teneur/components/validate-pending-teneur-dialog/validate-pending-teneur-dialog.tsx
  front/src/accounting/pages/teneur/teneur.tsx
  front/src/accounting/pages/teneur/utils/formatters.ts
Due: check-frontend

test: add stories for screenshot categories
  front/src/accounting/pages/teneur/__test__/data.ts
  front/src/accounting/pages/teneur/components/capped-categories-progress/capped-categories-progress.stories.tsx
  front/src/accounting/pages/teneur/components/card-progress/card-progress.stories.tsx
  front/src/accounting/pages/teneur/components/objectivized-categories-progress/objectivized-categories-progress.stories.tsx
  front/src/accounting/pages/teneur/components/overall-progress/overall-progress.stories.tsx
  front/src/accounting/pages/teneur/components/progress-bar/progress-bar.tsx
  front/src/accounting/pages/teneur/components/unconstrained-categories-progress/unconstrained-categories-progress.stories.tsx
Due: check-frontend

feat(tiruert): remove few updatable operation fields
  web/tiruert/serializers/operation.py
Due: check-backend

feat(dc): be sure download_link exists before using it
  web/doublecount/views/agreements/mixins/download_link.py
  web/doublecount/views/agreements/mixins/retrieve.py
Due: check-backend
