Repository MTES-MCT/carbure: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-ci-image, check-backend, check-frontend

.gitlab-ci.yml:

stages:
  - prepare
  - check
  - deploy

variables:
  MYSQL_DATABASE: carbure_mysql_test_db
  MYSQL_ROOT_PASSWORD: carbure_mysql_ci_db_password

# use prebuild CI image when running checks
.checks:
  image: $CI_REGISTRY/$CI_PROJECT_PATH/ci-image:latest
  before_script:
    - mv /app/front/node_modules ./front

# prepare git env to push new code to scalingo
.scalingo:
  image: alpine:latest
  before_script:
    - mkdir ~/.ssh
    - apk add --update git openssh-client
    - eval $(ssh-agent -s)
    - echo "$SCALINGO_SSH_PRIVATE_KEY" | tr -d '\r' | ssh-add -
    - ssh-keyscan $SCALINGO_SSH_HOST >> ~/.ssh/known_hosts
    - chmod 644 ~/.ssh/known_hosts
    - git config user.name $GIT_USER_NAME
    - git config user.email $GIT_USER_EMAIL
    - git remote add scalingo-dev $SCALINGO_GIT_REMOTE_DEV || true
    - git remote add scalingo-staging $SCALINGO_GIT_REMOTE_STAGING || true
    - git remote add scalingo-prod $SCALINGO_GIT_REMOTE_PROD || true
    - git fetch origin $CI_COMMIT_BRANCH --unshallow
    - git checkout $CI_COMMIT_BRANCH

build-ci-image:
  stage: prepare
  image: docker:stable
  services:
    - docker:dind
  script:
    - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
    - docker build -f ci/Dockerfile -t $CI_REGISTRY/$CI_PROJECT_PATH/ci-image:latest .
    - docker push $CI_REGISTRY/$CI_PROJECT_PATH/ci-image:latest
  only:
    changes:
      - ci/Dockerfile
      - Pipfile
      - Pipfile.lock
      - front/package.json
      - front/package-lock.json

check-backend:
  stage: check
  extends: .checks
  services:
    - mysql:8.0
    - redis:latest
  script:
    - export CARBURE_HOME=$(pwd)
    - export DATABASE_URL=mysql://root:$MYSQL_ROOT_PASSWORD@mysql:3306/$MYSQL_DATABASE
    - export REDIS_URL=redis://redis:6379
    - mypy web || true
    - TEST=1 python3 web/manage.py test web
  only:
    refs:
      - dev
      - master
    changes:
      - web/**/*

check-frontend:
  stage: check
  extends: .checks
  script:
    - cd front
    - npx eslint --ext .ts,.tsx src/
    - npm test
  only:
    refs:
      - dev
      - master
    changes:
      - front/**/*

deploy-dev:
  stage: deploy
  extends: .scalingo
  only:
    - dev
  script:
    - git push scalingo-dev $CI_COMMIT_BRANCH:master -f

deploy-staging:
  stage: deploy
  extends: .scalingo
  only:
    - master
  script:
    - git push scalingo-staging master -f

deploy-prod:
  stage: deploy
  extends: .scalingo
  when: manual
  only:
    - master
  script:
    - git push scalingo-prod master -f

conditional certificates for company form
  front/src/companies/api.ts
  front/src/companies/components/registration-dialog.tsx
  web/entity/api/registration/add_company.py
Due: check-backend, check-frontend

[front] add tel regexp on company form
  front/src/common/components/input.tsx
  front/src/companies/components/registration-dialog.tsx
  front/src/settings/components/company-info.tsx
Due: check-frontend

add vat_number + website to company info
  front/src/carbure/hooks/entity.ts
  front/src/carbure/types.ts
  front/src/companies/api.ts
  front/src/companies/components/registration-dialog.tsx
  front/src/companies/types.ts
  front/src/settings/api/company.ts
  front/src/settings/components/company-info.tsx
  web/core/migrations/0029_entity_vat_number_entity_website.py
  web/core/models.py
  web/doublecount/serializers.py
  web/entity/api/registration/add_company.py
  web/entity/api/update_info.py
Due: check-backend, check-frontend

[front] fix select component required displaying error message
  front/src/account/__test__/access-rights.spec.tsx
  front/src/carbure/index.tsx
  front/src/common/components/input.tsx
  front/src/common/components/select.tsx
  front/src/companies/components/registration-dialog.tsx
  front/src/settings/__test__/company.spec.tsx
Due: check-frontend

[front] allow select button content to shrink
  front/src/common/components/input.module.css
Due: check-frontend

[front] fix select component with hidden input
  front/src/common/components/select.tsx
Due: check-frontend

fix non mandatory cmpany field + default certificat
  front/src/companies/components/registration-dialog.tsx
  web/entity/api/registration/add_company.py
  web/entity/api/registration/tests_add_company.py
Due: check-backend, check-frontend

[api] better heuristic for sampling charge points for audit
  web/elec/api/admin/audit/charge_points/application_details.py
  web/elec/api/admin/audit/meter_readings/application_details.py
  web/elec/repositories/charge_point_repository.py
  web/elec/repositories/meter_reading_repository.py
  web/elec/services/export_charge_point_excel.py
Due: check-backend

[api] fix automatic provision certificate creation by using mWh instead of kWh
  web/elec/api/admin/audit/meter_readings/accept_application.py
Due: check-backend

[api] fix tests
  web/elec/api/admin/audit/meter_readings/tests_audit_meter_readings.py
Due: check-backend

[front] add mailto to add foreign companies
  front/src/companies/components/registration-dialog.tsx
  front/src/saf/airline.tsx
  front/src/saf/operator.tsx
  web/entity/api/registration/add_company.py
  web/entity/helpers.py
Due: check-backend, check-frontend

[api] fix tests
  web/elec/api/admin/charge_points/tests_charge_points.py
  web/elec/api/admin/meter_readings/tests_meter_readings.py
Due: check-backend

[api] remove accept/reject charge point related applications from company detail page
  web/elec/api/admin/charge_points/__init__.py
  web/elec/api/admin/charge_points/accept_application.py
  web/elec/api/admin/charge_points/reject_application.py
  web/elec/api/admin/meter_readings/__init__.py
  web/elec/api/admin/meter_readings/accept_application.py
  web/elec/api/admin/meter_readings/reject_application.py
Due: check-backend

[front] fix unit for meter reading detail renewable energy
  front/src/elec-audit-admin/components/meter-readings/details.tsx
Due: check-frontend

[api] Show PRM id in audit sample + fixes
  web/elec/serializers/elec_charge_point.py
  web/elec/services/export_charge_point_excel.py
  web/elec/services/import_charge_point_excel.py
Due: check-backend

[ci] update CI ssh for secnumcloud
  .gitlab-ci.yml
Due: none

authorize activity_description to 5000 chars
  front/src/common/components/input.tsx
  front/src/companies/components/registration-dialog.tsx
  front/src/settings/components/company-info.tsx
  web/entity/api/registration/add_company.py
  web/entity/api/update_info.py
Due: check-backend, check-frontend

[back] add cpo to ENTITY_TYPES
  web/core/models.py
Due: check-backend

[front] fix autocomplete option matching
  front/src/common/utils/collection.ts
Due: check-frontend

[front] add info about how we use TDG data
  front/public/locales/en/translation.json
  front/public/locales/fr/translation.json
  front/src/common/components/tooltip.module.css
  front/src/common/components/tooltip.tsx
  front/src/companies/components/registration-dialog.tsx
  front/src/elec/components/charge-points/errors-dialog.tsx
  front/src/elec/components/charge-points/tdg-info.tsx
  front/src/elec/components/charge-points/upload-dialog.tsx
Due: check-frontend

[api] migration
  web/core/migrations/0030_alter_entity_entity_type.py
Due: check-backend
