Repository MTES-MCT/carbure: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-ci-image, check-backend, check-frontend

build-ci-image:
  stage: prepare
  image: docker:stable
  services:
  - docker:dind
  script:
  - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
  - docker build -f ci/Dockerfile -t $CI_REGISTRY/$CI_PROJECT_PATH/ci-image:latest .
  - docker push $CI_REGISTRY/$CI_PROJECT_PATH/ci-image:latest

check-backend:
  image: $CI_REGISTRY/$CI_PROJECT_PATH/ci-image:latest
  before_script:
  - mv /app/front/node_modules ./front
  stage: check
  services:
  - mysql:8.0
  - redis:latest
  script:
  - export CARBURE_HOME=$(pwd)
  - export DATABASE_URL=mysql://root:$MYSQL_ROOT_PASSWORD@mysql:3306/$MYSQL_DATABASE
  ...

check-frontend:
  image: $CI_REGISTRY/$CI_PROJECT_PATH/ci-image:latest
  before_script:
  - mv /app/front/node_modules ./front
  stage: check
  script:
  - cd front
  - npx eslint --ext .ts,.tsx src/
  - npm test

Feature/remove pdc
  web/elec/api/admin/charge_points/application_details.py
  web/elec/api/admin/charge_points/charge_points.py
  web/elec/api/cpo/charge_point_snapshot.py
  web/elec/api/cpo/charge_points/__init__.py
  web/elec/api/cpo/charge_points/application_details.py
  web/elec/api/cpo/charge_points/charge_point_details.py
  web/elec/api/cpo/charge_points/charge_points.py
  web/elec/api/cpo/charge_points/delete_charge_point.py
  web/elec/api/cpo/charge_points/filters.py
  web/elec/migrations/0043_elecchargepoint_is_deleted.py
  web/elec/models/elec_charge_point.py
  web/elec/repositories/charge_point_repository.py
  web/elec/repositories/elec_audit_repository.py
  web/elec/repositories/meter_reading_repository.py
  web/elec/serializers/elec_charge_point.py
  web/elec/serializers/elec_charge_point_application.py
Due: check-backend

[back] setup sentry
  web/carbure/middlewares/exception.py
  web/carbure/settings.py
Due: check-backend

[back] disable sentry for DEBUG=True
  web/carbure/settings.py
Due: check-backend

Fix/sentry
  web/carbure/middlewares/exception.py
  web/carbure/settings.py
Due: check-backend

[back] disable sentry for local env
  web/carbure/middlewares/exception.py
  web/carbure/settings.py
Due: check-backend

fix: settings
  web/carbure/settings.py
Due: check-backend

refacto : move operator pages
  front/src/carbure/index.tsx
  front/src/saf/pages/airline/airline-details.tsx
  front/src/saf/pages/airline/airline-tabs.tsx
  front/src/saf/pages/airline/airline-tickets.tsx
  front/src/saf/pages/airline/index.tsx
  front/src/saf/pages/operator/index.tsx
  front/src/saf/pages/operator/operator-details.tsx
  front/src/saf/pages/operator/operator-tabs.tsx
  front/src/saf/pages/operator/operator-tickets.tsx
  front/src/saf/pages/operator/ticket-source-details/assigned-tickets.tsx
  front/src/saf/pages/operator/ticket-source-details/fields.tsx
  front/src/saf/pages/operator/ticket-source-details/index.tsx
  front/src/saf/pages/operator/ticket-sources/index.tsx
  front/src/saf/pages/operator/ticket-sources/status-switcher.tsx
  front/src/saf/pages/operator/ticket-sources/summary.tsx
  front/src/saf/pages/operator/ticket-sources/table.tsx
  front/src/saf/pages/operator/ticket-sources/tag.tsx
Due: check-frontend

refacto(front):creation pages of saf domain
  front/src/carbure/index.tsx
  front/src/saf/__test__/api.ts
  front/src/saf/__test__/data.ts
  front/src/saf/__test__/saf-operator.spec.tsx
  front/src/saf/components/assignment/grouped-assignment.tsx
  front/src/saf/components/assignment/simple-assignment.tsx
  front/src/saf/components/ticket-details/airline-details.tsx
  front/src/saf/components/ticket-details/cancel-assignment.tsx
  front/src/saf/components/ticket-details/credit-ticket-source.tsx
  front/src/saf/components/ticket-details/operator-details.tsx
  front/src/saf/components/ticket-details/reject-assignment.tsx
  front/src/saf/components/ticket-source-details/index.tsx
  front/src/saf/components/ticket-sources/index.tsx
  front/src/saf/components/tickets/airline-tickets.tsx
  front/src/saf/components/tickets/operator-tickets.tsx
  front/src/saf/pages/airline/api.ts
  front/src/saf/pages/airline/index.tsx
  front/src/saf/pages/operator/api.ts
  front/src/saf/pages/operator/index.tsx
Due: check-frontend

refacto(saf) : move assignement components to operator pages
  front/src/saf/pages/airline/airline-ticket-details.tsx
  front/src/saf/pages/airline/airline-tickets.tsx
  front/src/saf/pages/operator/assignment/grouped-assignment.tsx
  front/src/saf/pages/operator/assignment/period-select.tsx
  front/src/saf/pages/operator/assignment/simple-assignment.tsx
  front/src/saf/pages/operator/assignment/volume-input.tsx
  front/src/saf/pages/operator/operator-ticket-details.tsx
  front/src/saf/pages/operator/operator-tickets.tsx
  front/src/saf/pages/operator/ticket-source-details/index.tsx
  front/src/saf/pages/operator/ticket-sources/index.tsx
  front/src/saf/pages/operator/ticket-sources/summary.tsx
  front/src/saf/types.ts
Due: check-frontend

refacto(saf) : move types and last cleans
  front/src/saf/components/assignment/grouped-assignment.tsx
  front/src/saf/components/assignment/period-select.tsx
  front/src/saf/components/assignment/simple-assignment.tsx
  front/src/saf/components/assignment/volume-input.tsx
  front/src/saf/components/filters.tsx
  front/src/saf/components/ticket-details/fields.tsx
  front/src/saf/pages/airline/index.tsx
  front/src/saf/pages/airline/tabs.tsx
  front/src/saf/pages/airline/ticket-details.tsx
  front/src/saf/pages/airline/tickets.tsx
  front/src/saf/pages/operator/__test__/api.ts
  front/src/saf/pages/operator/__test__/data.ts
  front/src/saf/pages/operator/__test__/saf-operator.spec.tsx
  front/src/saf/pages/operator/api.ts
  front/src/saf/pages/operator/index.tsx
  front/src/saf/pages/operator/tabs.tsx
  front/src/saf/pages/operator/ticket-details/cancel-assignment.tsx
  front/src/saf/pages/operator/ticket-details/credit-ticket-source.tsx
  front/src/saf/pages/operator/ticket-details/index.tsx
  front/src/saf/pages/operator/ticket-details/linked-ticket-source.tsx
  front/src/saf/pages/operator/ticket-source-details/assigned-tickets.tsx
  front/src/saf/pages/operator/ticket-source-details/export.tsx
  front/src/saf/pages/operator/ticket-source-details/fields.tsx
  front/src/saf/pages/operator/ticket-source-details/index.tsx
  front/src/saf/pages/operator/ticket-source-details/parent-lot/durability-fields.tsx
  front/src/saf/pages/operator/ticket-source-details/parent-lot/index.tsx
  front/src/saf/pages/operator/ticket-sources/index.tsx
  front/src/saf/pages/operator/ticket-sources/status-switcher.tsx
  front/src/saf/pages/operator/ticket-sources/summary.tsx
  front/src/saf/pages/operator/ticket-sources/table.tsx
  front/src/saf/pages/operator/ticket-sources/tag.tsx
  front/src/saf/pages/operator/tickets/index.tsx
  front/src/saf/pages/operator/tickets/status-switcher.tsx
  front/src/saf/pages/operator/types.ts
  front/src/saf/types.ts
Due: check-frontend

chore: remove unused import
  front/src/saf/pages/operator/__test__/data.ts
Due: check-frontend

feat: terminate routing
  front/src/elec/charge-points-tabs.tsx
  front/src/elec/charge-points.tsx
Due: check-frontend

feat: add years url charge points
  front/src/elec/__test__/api-charge-points.ts
  front/src/elec/__test__/data-charge-points.ts
  front/src/elec/api-charge-points.ts
  front/src/elec/charge-points-tabs.tsx
  front/src/elec/charge-points.tsx
  front/src/index.tsx
  front/src/mocks.ts
Due: check-frontend

feat: add charge points page
  front/src/carbure/components/top-bar.tsx
  front/src/carbure/index.tsx
  front/src/elec/charge-points.tsx
Due: check-frontend

feat: add snapshot query charge points
  front/src/common/components/tabs.tsx
  front/src/elec/__test__/api-charge-points.ts
  front/src/elec/__test__/data-charge-points.ts
  front/src/elec/api-charge-points.ts
  front/src/elec/charge-points-tabs.tsx
  front/src/elec/charge-points.tsx
  front/src/elec/components/transfer-certificates/list-operator.tsx
  front/src/elec/types-charge-points.ts
Due: check-frontend

refactor: move charge points to new module
  front/src/elec-charge-points/pages/charge-points-pending.tsx
  front/src/elec-charge-points/pages/charge-points-pending/index.tsx
  front/src/elec-charge-points/pages/charge-points-pending/upload-dialog/errors-dialog.tsx
  front/src/elec-charge-points/pages/charge-points-pending/upload-dialog/index.tsx
  front/src/elec-charge-points/pages/charge-points-pending/upload-dialog/tdg-info.tsx
  front/src/elec-charge-points/pages/charge-points-pending/upload-dialog/valid-dialog.tsx
  front/src/index.tsx
Due: check-frontend

refactor: clean html
  front/src/elec-charge-points/pages/charge-points-pending/index.tsx
  front/src/elec-charge-points/pages/meter-readings/index.tsx
Due: check-frontend

refactor: add charge points pending page
  front/src/carbure/index.tsx
  front/src/elec/__test__/api-charge-points.ts
  front/src/elec/api-charge-points.ts
  front/src/elec/api-cpo.ts
  front/src/elec/pages/charge-points/charge-points-pending.tsx
  front/src/elec/pages/charge-points/charge-points-tabs.tsx
  front/src/elec/pages/charge-points/charge-points.tsx
Due: check-frontend

refactor: terminate readings meter section
  front/src/elec/components/meter-readings/settings.hooks.ts
  front/src/elec/components/meter-readings/settings.tsx
  front/src/elec/pages/charge-points/charge-points-pending.tsx
  front/src/elec/pages/charge-points/charge-points-tabs.tsx
  front/src/elec/pages/charge-points/charge-points.tsx
  front/src/elec/pages/charge-points/meter-readings.tsx
  front/src/settings/index.tsx
Due: check-frontend

refactor: move meter readings code to a new module
  front/src/companies-admin/routes/entity-details.tsx
  front/src/elec-charge-points/charge-points.tsx
  front/src/elec-charge-points/pages/charge-points-pending.tsx
  front/src/elec-charge-points/pages/meter-readings/index.hooks.ts
  front/src/elec-charge-points/pages/meter-readings/index.tsx
  front/src/elec-charge-points/pages/meter-readings/upload-dialog/errors-dialog.tsx
  front/src/elec-charge-points/pages/meter-readings/upload-dialog/index.tsx
  front/src/elec-charge-points/pages/meter-readings/upload-dialog/valid-dialog.tsx
Due: check-frontend

refactor: clean pdc pending with existing endpoints
  front/src/elec/__test__/api-charge-points.ts
  front/src/elec/__test__/api.ts
  front/src/elec/api-charge-points.ts
  front/src/elec/api-cpo.ts
  front/src/elec/components/charge-points/settings.tsx
  front/src/elec/pages/charge-points/charge-points-pending.tsx
  front/src/elec/pages/charge-points/meter-readings.tsx
  front/src/settings/index.tsx
Due: check-frontend

refactor: move charge points in a separated module
  front/src/carbure/index.tsx
  front/src/companies-admin/components/entity-summary.tsx
  front/src/elec-audit-admin/components/meter-readings/list.tsx
  front/src/elec-charge-points/__test__/api.ts
  front/src/elec-charge-points/__test__/data.ts
  front/src/elec-charge-points/api.ts
  front/src/elec-charge-points/charge-points-pending.tsx
  front/src/elec-charge-points/charge-points-tabs.tsx
  front/src/elec-charge-points/charge-points.tsx
  front/src/elec-charge-points/types.ts
  front/src/mocks.ts
  front/src/settings/index.tsx
Due: check-frontend

feat: connect with backend
  front/src/elec-charge-points/__test__/data.ts
  front/src/elec-charge-points/api.ts
  front/src/elec-charge-points/charge-points-tabs.tsx
  front/src/elec-charge-points/charge-points.tsx
  front/src/elec-charge-points/types.ts
  web/elec/api/cpo/charge_point_snapshot.py
Due: check-backend, check-frontend

style: fix lint errors
  front/src/companies-admin/routes/entity-details.tsx
  front/src/elec-audit-admin/components/meter-readings/list.tsx
  front/src/elec-charge-points/pages/meter-readings/upload-dialog/valid-dialog.tsx
  front/src/elec/components/meter-readings/settings.tsx
Due: check-frontend

Feature/move code elec to charge point page
  front/src/carbure/components/top-bar.tsx
  front/src/carbure/index.tsx
  front/src/common/components/tabs.tsx
  front/src/companies-admin/components/entity-summary.tsx
  front/src/companies-admin/routes/entity-details.tsx
  front/src/elec-audit-admin/components/meter-readings/list.tsx
  front/src/elec-charge-points/__test__/api.ts
  front/src/elec-charge-points/__test__/data.ts
  front/src/elec-charge-points/api.ts
  front/src/elec-charge-points/charge-points-tabs.tsx
  front/src/elec-charge-points/charge-points.tsx
  front/src/elec-charge-points/pages/charge-points-pending/index.tsx
  front/src/elec-charge-points/pages/charge-points-pending/upload-dialog/errors-dialog.tsx
  front/src/elec-charge-points/pages/charge-points-pending/upload-dialog/index.tsx
  front/src/elec-charge-points/pages/charge-points-pending/upload-dialog/tdg-info.tsx
  front/src/elec-charge-points/pages/charge-points-pending/upload-dialog/valid-dialog.tsx
  front/src/elec-charge-points/pages/meter-readings/index.hooks.ts
  front/src/elec-charge-points/pages/meter-readings/index.tsx
  front/src/elec-charge-points/pages/meter-readings/upload-dialog/errors-dialog.tsx
  front/src/elec-charge-points/pages/meter-readings/upload-dialog/index.tsx
  front/src/elec-charge-points/pages/meter-readings/upload-dialog/valid-dialog.tsx
  front/src/elec-charge-points/types.ts
  front/src/elec/__test__/api.ts
  front/src/elec/api-cpo.ts
  front/src/elec/components/charge-points/settings.tsx
  front/src/elec/components/meter-readings/settings.hooks.ts
  front/src/elec/components/transfer-certificates/list-operator.tsx
  front/src/mocks.ts
  front/src/settings/index.tsx
  web/elec/api/cpo/charge_point_snapshot.py
Due: check-backend, check-frontend

test(elec): remove failed tests (new test suite in the future)
  front/src/elec-audit-admin/__test__/audit-admin-charge-points-sample.spec.tsx
  front/src/elec/__test__/settings-charge-points.spec.tsx
  front/src/elec/__test__/settings-meter-readings.spec.tsx
Due: check-frontend

feat(biofuel): add scoring column to xlsx lots export
  web/core/helpers.py
  web/core/serializers.py
Due: check-backend

test(elec): fix tests for elec meter
  web/elec/api/cpo/meters/test_meters.py
Due: check-backend

Feature/pdc page for cpo
  Back.code-workspace
  web/elec/api/cpo/charge_points/charge_point_details.py
  web/elec/api/cpo/charge_points/tests_charge_points.py
  web/elec/api/cpo/meters/__init__.py
  web/elec/api/cpo/meters/add_meter.py
  web/elec/api/cpo/meters/meters.py
  web/elec/api/cpo/meters/test_meters.py
  web/elec/serializers/elec_meter.py
Due: check-backend

feat: init charge points list page
  front/src/elec-charge-points/api.ts
  front/src/elec-charge-points/charge-points-list.tsx
  front/src/elec-charge-points/charge-points-tabs.tsx
  front/src/elec-charge-points/charge-points.tsx
  front/src/elec-charge-points/types.ts
Due: check-frontend

Path conditions:
  build-ci-image: any of: ci/Dockerfile, Pipfile, Pipfile.lock, front/package.json, front/package-lock.json
  check-backend: any of: web/**/*
  check-frontend: any of: front/**/*
