Repository MTES-MCT/carbure: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-ci-image, check-backend, check-frontend

build-ci-image:
  stage: prepare
  image: docker:stable
  services:
  - docker:dind
  script:
  - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
  - docker build -f ci/Dockerfile -t $CI_REGISTRY/$CI_PROJECT_PATH/ci-image:latest .
  - docker push $CI_REGISTRY/$CI_PROJECT_PATH/ci-image:latest

check-backend:
  image: $CI_REGISTRY/$CI_PROJECT_PATH/ci-image:latest
  before_script:
  - mv /app/front/node_modules ./front
  stage: check
  services:
  - mysql:8.0
  - redis:latest
  script:
  - export CARBURE_HOME=$(pwd)
  - export DATABASE_URL=mysql://root:$MYSQL_ROOT_PASSWORD@mysql:3306/$MYSQL_DATABASE
  ...

check-frontend:
  image: $CI_REGISTRY/$CI_PROJECT_PATH/ci-image:latest
  before_script:
  - mv /app/front/node_modules ./front
  stage: check
  script:
  - cd front
  - npx eslint --ext .ts,.tsx src/
  - npm test

[api] automatically create ticket sources when lots are declared
  web/api/v4/views.py
  web/carbure/tasks.py
  web/saf/models/saf_ticket_source.py
  web/saf/scripts/create_ticket_sources_from_declared_lots.py
Due: check-backend

[api] fix tests
  web/api/v5/saf/tests/tests_snapshot.py
  web/api/v5/saf/tests/tests_ticket_source_details.py
  web/api/v5/saf/tests/tests_years.py
  web/api/v5/saf/years.py
Due: check-backend

[api] add endpoint to create tickets from sources
  web/api/v5/saf/__init__.py
  web/api/v5/saf/assign_ticket.py
  web/api/v5/saf/tests/tests_assign_ticket.py
  web/saf/models/saf_ticket.py
Due: check-backend

[api] rename some errors
  web/api/v5/saf/snapshot.py
  web/api/v5/saf/tests/tests_snapshot.py
  web/api/v5/saf/ticket_details.py
  web/api/v5/saf/ticket_source_details.py
  web/api/v5/saf/ticket_sources.py
  web/api/v5/saf/tickets.py
Due: check-backend

[api] fix problem in DC parser for some feedstocks
  web/doublecount/dc_parser.py
Due: check-backend

[front] fix conflict
  front/src/settings/utils/double-counting.ts
Due: check-frontend

[api] fix carbure_id not stripped in stock excel
  web/api/v4/views.py
  web/core/common.py
Due: check-backend

[front] dgac - operator - improve assignment form
  front/src/saf/components/ticket-source-details/assignment.tsx
Due: check-frontend

[front] dgac create ticket assignment modal
  front/src/saf/api.ts
  front/src/saf/components/ticket-source-details/assignment.tsx
  front/src/saf/components/ticket-source-details/index.tsx
Due: check-frontend

[front] dgac - operator - link api + assignment ok
  front/src/common/components/form.tsx
  front/src/common/components/input.tsx
  front/src/saf/__test__/data.ts
  front/src/saf/api.ts
  front/src/saf/components/ticket-source-details/assignment.tsx
  front/src/saf/components/ticket-source-details/index.tsx
  front/src/saf/components/ticket-sources/index.tsx
  front/src/saf/components/ticket-sources/table.tsx
  front/src/saf/index.tsx
  front/src/saf/types.ts
  web/api/v5/saf/snapshot.py
  web/api/v5/saf/ticket_sources.py
Due: check-backend, check-frontend

[front] dgac - operator - show ticket detail and cancel ticket
  front/src/saf/__test__/api.ts
  front/src/saf/__test__/data.ts
  front/src/saf/api.ts
  front/src/saf/components/durability-fields.tsx
  front/src/saf/components/no-result.tsx
  front/src/saf/components/ticket-details/cancel-assignment.tsx
  front/src/saf/components/ticket-details/fields.tsx
  front/src/saf/components/ticket-details/index.tsx
  front/src/saf/components/ticket-source-details/assignment.tsx
  front/src/saf/components/ticket-source-details/index.tsx
  front/src/saf/components/ticket-sources/index.tsx
  front/src/saf/components/tickets/index.tsx
  front/src/saf/types.ts
Due: check-frontend

fix tests
  web/api/v5/saf/snapshot.py
  web/api/v5/saf/ticket_sources.py
Due: check-backend

[backend] stop polluting logs with huey stuff
  Procfile
  web/entrypoint.sh
Due: check-backend

[api] stop using OTHER as a delivery type
  web/core/models.py
Due: check-backend

[front] Show "pending" as delivery type for pending lots
  front/src/carbure/utils/normalizers.ts
Due: check-frontend

[backend] add script to delete lot properly
  scripts/patches/2022-10-27_fix_declared_deleted_lots.py
  web/core/admin.py
Due: check-backend

resolve conflict
  front/src/saf/api.ts
  web/api/v5/saf/snapshot.py
Due: check-backend, check-frontend

[front] dgac - operator - link api + assignment ok
  web/api/v5/saf/ticket_sources.py
  web/api/v5/saf/years.py
Due: check-backend

[api] dgac - get clients
  front/src/saf/api.ts
  front/src/saf/components/ticket-source-details/assignment.tsx
  web/api/v5/saf/__init__.py
  web/api/v5/saf/clients.py
  web/entrypoint.sh
Due: check-backend, check-frontend

[front] dgac - operator - clean navigation and add hook useRefToScroll
  front/src/carbure/components/top-bar.tsx
  front/src/carbure/index.tsx
  front/src/common/hooks/scroll-to-ref.ts
  front/src/saf/components/operator-tabs.tsx
  front/src/saf/components/ticket-details/index.tsx
  front/src/saf/components/ticket-source-details/assigned-tickets.tsx
  front/src/saf/components/ticket-source-details/assignment.tsx
  front/src/saf/components/ticket-source-details/index.tsx
  front/src/saf/components/ticket-source-details/parent-lot.tsx
  front/src/saf/components/ticket-sources/index.tsx
  front/src/saf/components/ticket-sources/table.tsx
  front/src/saf/components/tickets/index.tsx
  front/src/saf/components/tickets/status-switcher.tsx
  front/src/saf/components/tickets/table.tsx
  front/src/saf/components/tickets/tag.tsx
  front/src/transaction-details/components/lots/anomalies.tsx
  front/src/transaction-details/components/lots/index.tsx
  front/src/transaction-details/components/lots/navigation.module.css
  front/src/transaction-details/components/lots/navigation.tsx
  front/src/transactions/components/lots/lot-table.tsx
  front/src/transactions/components/stocks/stock-table.tsx
  web/api/v5/saf/clients.py
Due: check-backend, check-frontend

[front] dgac - operator - clean comments
  front/src/saf/components/ticket-details/index.tsx
  front/src/saf/components/ticket-source-details/assignment.tsx
Due: check-frontend

Path conditions:
  build-ci-image: any of: ci/Dockerfile, Pipfile, Pipfile.lock, front/package.json, front/package-lock.json
  check-backend: any of: web/**/*
  check-frontend: any of: front/**/*
