Repository MTES-MCT/carbure: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-ci-image, check-backend, check-frontend

build-ci-image:
  stage: prepare
  image: docker:stable
  services:
  - docker:dind
  script:
  - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
  - docker build -f ci/Dockerfile -t $CI_REGISTRY/$CI_PROJECT_PATH/ci-image:latest .
  - docker push $CI_REGISTRY/$CI_PROJECT_PATH/ci-image:latest

check-backend:
  image: $CI_REGISTRY/$CI_PROJECT_PATH/ci-image:latest
  before_script:
  - mv /app/front/node_modules ./front
  stage: check
  services:
  - mysql:8.0
  - redis:latest
  script:
  - export CARBURE_HOME=$(pwd)
  - export DATABASE_URL=mysql://root:$MYSQL_ROOT_PASSWORD@mysql:3306/$MYSQL_DATABASE
  ...

check-frontend:
  image: $CI_REGISTRY/$CI_PROJECT_PATH/ci-image:latest
  before_script:
  - mv /app/front/node_modules ./front
  stage: check
  script:
  - cd front
  - npx eslint --ext .ts,.tsx src/
  - npm test

[api] cleanup model
  web/core/models.py
Due: check-backend

[api] fix dc certificate detection
  web/core/common.py
Due: check-backend

[patches] add patch to cleanup production site double counting certificates in lots
  scripts/patches/2023-07-26_pick_right_dc_agreements.py
Due: none

[api] fix issues with edge cases of dc agreement references in lots
  web/transactions/sanity_checks/double_counting.py
  web/transactions/sanity_checks/helpers.py
  web/transactions/sanity_checks/tests/tests_double_counting.py
Due: check-backend

[api] add 6th case for prod site DC certificate
  web/certificates/models.py
  web/transactions/sanity_checks/double_counting.py
  web/transactions/sanity_checks/tests/tests_double_counting.py
Due: check-backend

[dc] rename dc agreement to dc application
  front/src/double-counting/api.ts
  front/src/double-counting/components/application-details.tsx
  front/src/double-counting/components/application-list.tsx
  front/src/double-counting/components/dc-tables.tsx
  front/src/double-counting/components/files-checker/upload-button.tsx
  front/src/double-counting/index.tsx
  front/src/double-counting/types.ts
  front/src/settings/__test__/api.ts
  front/src/settings/api/double-counting.ts
  front/src/settings/components/double-counting-dialog.tsx
  front/src/settings/components/double-counting-production-dialog.tsx
  front/src/settings/components/double-counting-quotas-dialog.tsx
  front/src/settings/components/double-counting.tsx
  package.json
  web/admin/api/double_counting/__init__.py
  web/admin/api/double_counting/agreements/__init__.py
  web/admin/api/double_counting/agreements/agreements.py
  web/admin/api/double_counting/application/__init__.py
  web/admin/api/double_counting/application/add.py
  web/admin/api/double_counting/application/applications.py
  web/admin/api/double_counting/application/tests_application.py
  web/admin/api/entities/entities.py
  web/core/models.py
  web/doublecount/admin.py
  web/doublecount/api/new_tests.py
  web/doublecount/api/tests.py
  web/doublecount/api/urls.py
  web/doublecount/api/views.py
  web/doublecount/dc_sanity_checks.py
  web/doublecount/helpers.py
  web/doublecount/migrations/0007_rename_doublecountingagreement_doublecountingapplication.py
  web/doublecount/migrations/0008_alter_doublecountingapplication_table.py
  web/doublecount/models.py
  web/doublecount/old_helpers.py
  web/doublecount/serializers.py
Due: check-backend, check-frontend

[dc] rename dc agreement to dc application
  scripts/database/clean_private.sql
Due: none

[dc] rename dc agreement to dc application
  front/src/double-counting/api.ts
  web/admin/api/double_counting/__init__.py
  web/admin/api/double_counting/applications/__init__.py
  web/admin/api/double_counting/applications/add.py
  web/admin/api/double_counting/applications/applications.py
  web/admin/api/double_counting/applications/check_files.py
  web/admin/api/double_counting/applications/tests_application.py
  web/doublecount/api/urls.py
  web/doublecount/api/views.py
Due: check-backend, check-frontend

[dc] upload application file
  front/src/double-counting/api.ts
  web/admin/api/double_counting/applications/add.py
  web/admin/api/double_counting/applications/tests_application.py
  web/doublecount/admin.py
  web/doublecount/migrations/0009_doublecountingdocfile_agreement_id.py
  web/doublecount/models.py
Due: check-backend, check-frontend

[dc] replace an existing application
  front/public/locales/en/errors.json
  front/public/locales/en/translation.json
  front/public/locales/fr/errors.json
  front/public/locales/fr/translation.json
  front/src/double-counting/api.ts
  front/src/double-counting/components/application-details.tsx
  front/src/double-counting/components/application-list.tsx
  front/src/double-counting/components/files-checker/valid-details-dialog.tsx
  front/src/double-counting/types.ts
  front/src/settings/components/double-counting-dialog.tsx
  front/src/settings/components/double-counting.tsx
  web/admin/api/double_counting/applications/add.py
  web/admin/api/double_counting/applications/tests_application.py
  web/doublecount/admin.py
  web/doublecount/migrations/0010_doublecountingdocfile_created_at.py
  web/doublecount/migrations/0011_rename_creation_date_doublecountingapplication_created_at.py
  web/doublecount/models.py
  web/doublecount/serializers.py
Due: check-backend, check-frontend

[dc] add snapshot
  front/src/carbure/index.tsx
  front/src/double-counting/api.ts
  front/src/double-counting/components/application-list.tsx
  front/src/double-counting/components/dc-quotas.tsx
  front/src/double-counting/components/files-checker/application-info.tsx
  front/src/double-counting/components/files-checker/errors-details-dialog.tsx
  front/src/double-counting/components/files-checker/valid-details-dialog.tsx
  front/src/double-counting/index.tsx
  front/src/double-counting/types.ts
  front/src/transactions/api.ts
  web/admin/api/double_counting/__init__.py
  web/admin/api/double_counting/applications/applications.py
  web/admin/api/double_counting/snapshot.py
  web/doublecount/api/urls.py
  web/doublecount/api/views.py
  web/doublecount/models.py
Due: check-backend, check-frontend

[dc] list added applications
  front/src/double-counting/components/application-list.tsx
  front/src/double-counting/components/dc-status.tsx
  front/src/double-counting/index.tsx
  front/src/double-counting/types.ts
  web/admin/api/double_counting/applications/applications.py
  web/admin/api/double_counting/snapshot.py
Due: check-backend, check-frontend

[dc]fix dechets industriels alert and translations
  front/public/locales/en/translation.json
  front/public/locales/fr/translation.json
  front/src/common/components/alert.module.css
  front/src/double-counting/components/files-checker/valid-details-dialog.tsx
Due: check-frontend

[dc] factorise application details
  front/src/double-counting/components/application-details-dialog.tsx
  front/src/double-counting/components/application-details.tsx
  front/src/double-counting/components/application-list.tsx
  front/src/double-counting/components/files-checker/valid-details-dialog.tsx
Due: check-frontend

[dc] add address field in production site
  front/src/carbure/__test__/data.ts
  front/src/carbure/types.ts
  front/src/settings/api/production-sites.ts
  front/src/settings/components/production-site-dialog.tsx
  front/src/settings/components/production-site.tsx
  web/doublecount/migrations/0012_alter_doublecountingapplication_status.py
  web/entity/api/production_sites/add.py
  web/entity/api/production_sites/update.py
  web/producers/models.py
Due: check-backend, check-frontend

[dc] Rendre obligatoire adresse sur site de production + renvoyer vers edition site de prod si manquant
  front/public/locales/en/errors.json
  front/public/locales/fr/errors.json
  front/src/common/components/alert.module.css
  front/src/common/components/notifications.tsx
  front/src/double-counting/components/files-checker/valid-details-dialog.tsx
  web/admin/api/double_counting/applications/add.py
  web/admin/api/double_counting/applications/tests_application.py
  web/entity/api/production_sites/add.py
  web/entity/api/production_sites/tests_production_sites.py
  web/entity/api/production_sites/update.py
Due: check-backend, check-frontend

[dc] create route to see application details
  front/src/double-counting/api.ts
  front/src/double-counting/components/application-details-dialog.tsx
  front/src/double-counting/components/application-list.tsx
  front/src/double-counting/index.tsx
  front/src/settings/api/double-counting.ts
  front/src/settings/components/double-counting-dialog.tsx
  front/src/settings/components/double-counting-production-dialog.tsx
  front/src/settings/components/double-counting-sourcing-dialog.tsx
  front/src/settings/components/double-counting.tsx
  web/admin/api/double_counting/applications/__init__.py
  web/admin/api/double_counting/applications/application.py
  web/certificates/admin.py
  web/doublecount/api/urls.py
  web/doublecount/api/views.py
Due: check-backend, check-frontend

[dc] update quotas and reject application
  front/src/double-counting/api.ts
  front/src/double-counting/components/application-details-dialog.tsx
  front/src/double-counting/components/application-details.tsx
  front/src/double-counting/components/dc-tables.tsx
  front/src/double-counting/components/files-checker/valid-details-dialog.tsx
  front/src/double-counting/index.tsx
  front/src/settings/components/double-counting-dialog.tsx
  web/admin/api/double_counting/applications/__init__.py
  web/admin/api/double_counting/applications/application.py
  web/admin/api/double_counting/applications/reject_application.py
  web/admin/api/double_counting/applications/update_quotas.py
  web/doublecount/api/urls.py
  web/doublecount/api/views.py
  web/doublecount/helpers.py
  web/doublecount/serializers.py
  web/templates/emails/notifications.v3.html
Due: check-backend, check-frontend

[dc] version ok to merge - disabled application validation to avoid errors
  front/src/double-counting/components/application-details-dialog.tsx
  web/doublecount/api/urls.py
  web/doublecount/api/views.py
Due: check-backend, check-frontend

[dc] clean navigation and invalidates
  front/src/double-counting/components/application-details-dialog.tsx
  front/src/double-counting/components/files-checker/valid-details-dialog.tsx
Due: check-frontend

Path conditions:
  build-ci-image: any of: ci/Dockerfile, Pipfile, Pipfile.lock, front/package.json, front/package-lock.json
  check-backend: any of: web/**/*
  check-frontend: any of: front/**/*
