Repository MTES-MCT/carbure: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-ci-image, check-backend, check-frontend

build-ci-image:
  stage: prepare
  image: docker:stable
  services:
  - docker:dind
  script:
  - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
  - docker build -f ci/Dockerfile -t $CI_REGISTRY/$CI_PROJECT_PATH/ci-image:latest .
  - docker push $CI_REGISTRY/$CI_PROJECT_PATH/ci-image:latest

check-backend:
  image: $CI_REGISTRY/$CI_PROJECT_PATH/ci-image:latest
  before_script:
  - mv /app/front/node_modules ./front
  stage: check
  services:
  - mysql:8.0
  - redis:latest
  script:
  - export CARBURE_HOME=$(pwd)
  - export DATABASE_URL=mysql://root:$MYSQL_ROOT_PASSWORD@mysql:3306/$MYSQL_DATABASE
  ...

check-frontend:
  image: $CI_REGISTRY/$CI_PROJECT_PATH/ci-image:latest
  before_script:
  - mv /app/front/node_modules ./front
  stage: check
  script:
  - cd front
  - npx eslint --ext .ts,.tsx src/
  - npm test

[front] lot erros + translations
  front/public/locales/en/translation.json
  front/public/locales/fr/translation.json
  front/src/controls/__test__/data.ts
  front/src/controls/actions/update-many-confirmation.tsx
  front/src/controls/actions/update-many-errors.tsx
  front/src/controls/actions/update-many.tsx
  front/src/controls/api/admin.ts
  front/src/controls/types.ts
  front/tsconfig.json
Due: check-frontend

[front] mulit-fix - delete many
  front/public/locales/en/translation.json
  front/public/locales/fr/translation.json
  front/src/controls/__test__/data.ts
  front/src/controls/actions/delete-many.tsx
  front/src/controls/actions/update-many-errors.tsx
  front/src/controls/actions/update-many.tsx
  front/src/controls/components/control-actions.tsx
  front/src/controls/types.ts
Due: check-frontend

[front] split company address with zipcode + city + country
  front/public/locales/en/translation.json
  front/public/locales/fr/translation.json
  front/src/carbure/__test__/data.ts
  front/src/carbure/hooks/entity.ts
  front/src/carbure/types.ts
  front/src/carbure/utils/normalizers.ts
  front/src/settings/api/company.ts
  front/src/settings/components/company-info.tsx
Due: check-frontend

[api+front] better parsing of dc files
  front/src/double-counting/api.ts
  front/src/double-counting/components/files-checker/errors-details-dialog.tsx
  front/src/double-counting/components/files-checker/files-checker-dialog.tsx
  front/src/double-counting/components/files-checker/index.tsx
  front/src/double-counting/types.ts
  front/src/settings/__test__/double-counting.spec.tsx
  front/src/settings/components/double-counting-upload.tsx
  front/src/settings/utils/double-counting.ts
  gateway/nginx.conf
  web/api/v5/double_counting/check_files.py
  web/doublecount/dc_parser.py
Due: check-backend, check-frontend

[front] fix dc page locked when no agreement in database
  front/src/common/components/select.tsx
  front/src/double-counting/components/dc-quotas.tsx
  front/src/double-counting/index.tsx
  front/tsconfig.json
Due: check-frontend

[api] add lot factory for tests
  web/lots/factory/__init__.py
  web/lots/factory/carbure_lot.py
Due: check-backend

[patch] create patch to sync declaration state with lot status
  scripts/patches/2023-01-23_sync_declarations_with_lot_status.py
Due: none

[api] add new endpoints for validating/invalidating declarations
  web/api/v5/__init__.py
  web/api/v5/declarations/__init__.py
  web/api/v5/declarations/invalidate.py
  web/api/v5/declarations/tests/__init__.py
  web/api/v5/declarations/tests/tests_invalidate.py
  web/api/v5/declarations/tests/tests_validate.py
  web/api/v5/declarations/validate.py
  web/core/models.py
  web/core/tests_utils.py
Due: check-backend

[front] update declaration validate/invalidate endpoints
  front/src/transactions/api.ts
Due: check-frontend

[front] fix wrong links in control traceability
  front/src/control-details/components/lot.tsx
  front/src/control-details/components/stock.tsx
Due: check-frontend

[front] adapt update many dialog to api endpoint requirements
  front/src/controls/actions/update-many-confirmation.tsx
  front/src/controls/actions/update-many.tsx
  front/src/controls/api/admin.ts
  front/src/lot-add/components/delivery-fields.tsx
  front/src/lot-add/components/lot-form.tsx
  front/src/transaction-details/components/lots/history.tsx
Due: check-frontend

[back] prepare test factories for lot, stock and stock transform
  web/lots/factory/__init__.py
  web/transactions/factories/__init__.py
  web/transactions/factories/carbure_lot.py
  web/transactions/factories/carbure_stock.py
  web/transactions/factories/carbure_stock_transform.py
Due: check-backend

[api] fix declaration tests
  web/api/v5/declarations/tests/tests_invalidate.py
  web/api/v5/declarations/tests/tests_validate.py
Due: check-backend

[api] add index to traceability links between models
  web/core/migrations/0008_alter_carburelotevent_event_type_and_more.py
  web/core/migrations/0009_carburestock_carbure_sto_parent__9cb474_idx_and_more.py
  web/core/models.py
  web/saf/migrations/0020_safticket_saf_ticket_parent__0bbce0_idx_and_more.py
  web/saf/models/saf_ticket.py
  web/saf/models/saf_ticket_source.py
Due: check-backend

[api] add traceability helpers to facilitate working with the chains
  web/core/tests_traceability.py
  web/core/traceability.py
Due: check-backend

[api] move perf helper to common
  web/core/common.py
Due: check-backend

[api] add endpoint to update many lots at once as admin
  web/api/v4/lots.py
  web/api/v4/sanity_checks.py
  web/api/v5/admin/__init__.py
  web/api/v5/admin/lots/__init__.py
  web/api/v5/admin/lots/update_many.py
Due: check-backend

[front] dry run the update so we can display the impact to the user
  front/src/controls/actions/update-many-confirmation.tsx
  front/src/controls/api/admin.ts
  front/src/controls/types.ts
Due: check-frontend

[api] cleanup
  web/api/v5/admin/lots/update_many.py
  web/core/tests_traceability.py
  web/core/traceability.py
Due: check-backend

[api] boost up sanity checks speed
  web/api/v4/helpers.py
  web/api/v4/sanity_checks.py
Due: check-backend

[front] block operation if there are errors in update many
  front/src/controls/actions/update-many-confirmation.tsx
Due: check-frontend

Path conditions:
  build-ci-image: any of: ci/Dockerfile, Pipfile, Pipfile.lock, front/package.json, front/package-lock.json
  check-backend: any of: web/**/*
  check-frontend: any of: front/**/*
