Repository MTES-MCT/carbure: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-ci-image, check-backend, check-frontend

.gitlab-ci.yml:

stages:
  - prepare
  - check
  - deploy

variables:
  MYSQL_DATABASE: carbure_mysql_test_db
  MYSQL_ROOT_PASSWORD: carbure_mysql_ci_db_password

# use prebuild CI image when running checks
.checks:
  image: $CI_REGISTRY/$CI_PROJECT_PATH/ci-image:latest
  before_script:
    - mv /app/front/node_modules ./front

# prepare git env to push new code to scalingo
.scalingo:
  image: alpine:latest
  before_script:
    - mkdir ~/.ssh
    - apk add --update git openssh-client
    - eval $(ssh-agent -s)
    - echo "$SCALINGO_SSH_PRIVATE_KEY" | tr -d '\r' | ssh-add -
    - ssh-keyscan $SCALINGO_SSH_HOST >> ~/.ssh/known_hosts
    - chmod 644 ~/.ssh/known_hosts
    - git config user.name $GIT_USER_NAME
    - git config user.email $GIT_USER_EMAIL
    - git remote add scalingo-dev $SCALINGO_GIT_REMOTE_DEV || true
    - git remote add scalingo-staging $SCALINGO_GIT_REMOTE_STAGING || true
    - git remote add scalingo-prod $SCALINGO_GIT_REMOTE_PROD || true
    - git fetch origin $CI_COMMIT_BRANCH --unshallow
    - git checkout $CI_COMMIT_BRANCH

build-ci-image:
  stage: prepare
  image: docker:stable
  services:
    - docker:dind
  script:
    - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
    - docker build -f ci/Dockerfile -t $CI_REGISTRY/$CI_PROJECT_PATH/ci-image:latest .
    - docker push $CI_REGISTRY/$CI_PROJECT_PATH/ci-image:latest
  only:
    changes:
      - ci/Dockerfile
      - Pipfile
      - Pipfile.lock
      - front/package.json
      - front/package-lock.json

check-backend:
  stage: check
  extends: .checks
  services:
    - mysql:8.0
    - redis:latest
  script:
    - export CARBURE_HOME=$(pwd)
    - export DATABASE_URL=mysql://root:$MYSQL_ROOT_PASSWORD@mysql:3306/$MYSQL_DATABASE
    - export REDIS_URL=redis://redis:6379
    - mypy web || true
    - TEST=1 python3 web/manage.py test web
  only:
    refs:
      - dev
      - master
    changes:
      - web/**/*

check-frontend:
  stage: check
  extends: .checks
  script:
    - cd front
    - npx eslint --ext .ts,.tsx src/
    - npm test
  only:
    refs:
      - dev
      - master
    changes:
      - front/**/*

deploy-dev:
  stage: deploy
  extends: .scalingo
  only:
    - dev
  script:
    - git push scalingo-dev $CI_COMMIT_BRANCH:master -f

deploy-staging:
  stage: deploy
  extends: .scalingo
  only:
    - master
  script:
    - git push scalingo-staging master -f

deploy-prod:
  stage: deploy
  extends: .scalingo
  when: manual
  only:
    - master
  script:
    - git push scalingo-prod master -f

[front] use ref to store current timeout in dropdown
  front/src/common/components/dropdown.tsx
Due: check-frontend

[front] remove preferred_unit flag
  front/src/control-details/components/lot.tsx
  front/src/controls/components/lots/control-lot-summary.tsx
  front/src/controls/components/lots/control-lot-table.tsx
  front/src/controls/components/stocks/control-stock-table.tsx
  front/src/flags.json
  front/src/lot-add/__test__/lot-add.spec.tsx
  front/src/lot-add/components/lot-fields.tsx
  front/src/settings/components/company-options.tsx
  front/src/transaction-details/__test__/lot-details.spec.tsx
  front/src/transaction-details/components/lots/index.tsx
  front/src/transaction-details/components/lots/lot-traceability.tsx
  front/src/transaction-details/components/stocks/lot-fields.tsx
  front/src/transaction-details/components/stocks/stock-traceability.tsx
  front/src/transactions/__test__/transactions.spec.tsx
  front/src/transactions/components/lots/lot-summary.tsx
  front/src/transactions/components/lots/lot-table.tsx
  front/src/transactions/components/stocks/stock-summary.tsx
  front/src/transactions/components/stocks/stock-table.tsx
Due: check-frontend

[front] don't use Intl for date formatting to avoid discrepencies
  front/src/carbure/components/home.tsx
  front/src/common/utils/formatters.ts
  front/src/lot-add/components/lot-form.tsx
  front/src/saf/components/assignment/period-select.tsx
  front/src/transactions/actions/declaration.tsx
Due: check-frontend

[front] add tooltip in Field component
  front/public/locales/en/translation.json
  front/public/locales/fr/translation.json
  front/src/carbure/__test__/helpers.ts
  front/src/common/components/input.tsx
  front/src/common/components/tooltip.module.css
  front/src/common/components/tooltip.tsx
  front/src/lot-add/__test__/lot-add.spec.tsx
  front/src/lot-add/components/ghg-fields.tsx
  front/src/settings/components/production-site.tsx
  front/src/transaction-details/__test__/lot-details.spec.tsx
Due: check-frontend

[api] update dependencies
  Pipfile
  Pipfile.lock
  web/spa/middleware.py
  web/spa/storage.py
Due: build-ci-image, check-backend

[front] update dependencies
  front/package-lock.json
  front/package.json
  front/src/auth/__test__/register.spec.tsx
  front/src/carbure/__test__/helpers.ts
  front/src/common/services/api.ts
  front/src/i18n.ts
  front/src/settings/__test__/production-site.spec.tsx
  front/src/transactions/__test__/helpers.ts
Due: build-ci-image, check-frontend

[api] fix traceability test for different owners
  web/core/tests_traceability.py
Due: check-backend

[scripts] allow restoring db from local files
  scripts/database/dump_db.sh
  scripts/database/restore_db.sh
Due: none

[api] fix spa module for loading frontend with whitenoise
  web/carbure/settings.py
  web/spa/middleware.py
Due: check-backend

[scripts] remove printing all errors in sanity check script
  web/carbure/scripts/sanity_checks.py
Due: check-backend

[api] locked year check simple
  web/api/v4/tests_lots_flow.py
  web/api/v4/views.py
  web/core/migrations/0012_alter_entity_entity_type.py
Due: check-backend

[api] locked year check simple
  web/transactions/helpers.py
Due: check-backend

[api] switch lots-add to v5
  web/api/v4/tests_lots_flow.py
  web/api/v4/tests_utils.py
  web/api/v5/transactions/lots/__init__.py
  web/api/v5/transactions/lots/add.py
  web/api/v5/transactions/lots/tests/tests_create_draft.py
  web/transactions/helpers.py
Due: check-backend

[api] add YEAR_LOCKED error
  web/api/v4/tests_lots_flow.py
  web/api/v4/views.py
  web/api/v5/__init__.py
  web/api/v5/transactions/lots/add.py
  web/api/v5/transactions/lots/tests/tests_create_draft.py
  web/core/carburetypes.py
  web/transactions/helpers.py
Due: check-backend

[front] add company info in control admin
  front/src/companies/routes/entity-details.tsx
  front/src/settings/components/company-info.tsx
Due: check-frontend

[scripts] give the email addresses of an entity users when generating report
  web/core/utils.py
Due: check-backend

[front] show all admin updates in lot history
  front/src/transaction-details/components/lots/history.tsx
Due: check-frontend

[front] always allow editing free field during corrections
  front/src/lot-add/components/lot-form.tsx
  front/src/transaction-details/components/lots/index.tsx
Due: check-frontend

[api] simplify check_locked_year
  web/api/v4/urls.py
  web/api/v4/views.py
  web/transactions/helpers.py
Due: check-backend

[api] check locked year on api-v4-update-lot
  front/src/transaction-details/components/lots/index.tsx
  web/api/v4/tests_lots_flow.py
  web/api/v4/urls.py
  web/api/v4/views.py
Due: check-backend, check-frontend

[api] add year_locked in anomalies
  front/src/transaction-details/components/lots/index.tsx
  web/api/v4/helpers.py
  web/api/v4/sanity_checks.py
  web/api/v4/tests_lots_flow.py
  web/api/v4/urls.py
  web/api/v4/views.py
  web/core/carburetypes.py
  web/core/common.py
  web/transactions/helpers.py
Due: check-backend, check-frontend
