Repository MTES-MCT/carbure: changes, and which GitLab CI jobs are due for each by the changed paths.
All: check-backend, check-frontend

check-backend:
  image: python:3.12
  cache:
  - key:
      files:
      - Pipfile.lock
    paths:
    - .cache/pip/
    - .venv/
  before_script:
  - pip install pipenv
  - pipenv install --dev --deploy --ignore-pipfile
  stage: check
  services:
  - mysql:8.0
  - redis:latest
  script:
  - export CARBURE_HOME=$(pwd)
  ...

check-frontend:
  image: node:latest
  cache:
  - key:
      files:
      - front/package-lock.json
    paths:
    - front/.npm/
  before_script:
  - cd front
  - npm ci --cache .npm --prefer-offline
  stage: check
  script:
  - npm run lint

feat: fix tsc error
  front/.eslintrc.json
  front/package.json
  front/src/common/components/input.tsx
  front/src/common/components/table.tsx
  front/src/common/components/tabs.tsx
  front/src/common/hooks/store.ts
  front/src/common/hooks/years.tsx
  front/src/common/services/api-fetch.ts
  front/src/common/utils/formatters.ts
  front/src/control-details/components/lot.tsx
  front/src/controls/actions/update-many-errors.tsx
  front/src/double-counting-admin/components/applications/application-details-dialog.tsx
  front/src/double-counting/components/year-table.tsx
  front/src/elec-admin/pages/provision-certificates/index.tsx
  front/src/elec-audit-admin/components/sample/application-generation.tsx
  front/src/elec-auditor/components/details-pending.tsx
  front/src/saf/components/assignment/grouped-assignment.tsx
  front/src/saf/pages/airline/api.ts
  front/src/settings/__test__/server.ts
  front/src/transaction-details/components/lots/history.tsx
  front/src/transaction-details/components/lots/index.tsx
  front/src/transactions/__test__/helpers.ts
  front/src/transactions/actions/duplicate.tsx
  front/src/transactions/components/lots/lot-table.tsx
  front/tsconfig.json
Due: check-frontend

fix: force logging node env
  front/src/index.tsx
Due: check-frontend

fix: set msw as dependency instead devDependencies
  front/package-lock.json
  front/package.json
Due: check-frontend

[back] fix swagger
  web/saf/views/extra/snapshot.py
Due: check-backend

Fix: browser freezes on elec forms
  web/elec/admin.py
Due: check-backend

refactor: terminate refactor navigation buttons
  front/src/common/components/navigation/index.ts
  front/src/common/components/navigation/navigation.hooks.ts
  front/src/common/components/navigation/navigation.tsx
  front/src/common/components/pagination.tsx
  front/src/common/components/tabs.tsx
  front/src/common/hooks/query-builder-2.ts
  front/src/saf/pages/airline/ticket-details.tsx
  front/src/saf/pages/airline/tickets.tsx
  front/src/saf/pages/operator/ticket-details/index.tsx
  front/src/saf/pages/operator/ticket-source-details/index.tsx
  front/src/saf/pages/operator/ticket-sources/index.tsx
  front/src/saf/pages/operator/tickets/index.tsx
Due: check-frontend

feat: add previous/next buttons for saf modal
  front/src/common/components/navigation/index.ts
  front/src/common/components/navigation/navigation.hooks.ts
  front/src/common/components/navigation/navigation.module.css
  front/src/common/components/navigation/navigation.tsx
  front/src/common/components/navigation/navigation.utils.ts
  front/src/common/hooks/query-builder-2.ts
  front/src/saf/pages/airline/index.tsx
  front/src/saf/pages/airline/ticket-details.tsx
  front/src/saf/pages/airline/tickets.tsx
Due: check-frontend

fix: fix pagination component
  front/src/common/components/pagination.tsx
  front/src/common/hooks/query-builder-2.ts
  front/src/saf/pages/operator/ticket-sources/index.tsx
Due: check-frontend

refacto: add page in search params
  front/src/common/components/pagination.tsx
  front/src/common/hooks/query-builder-2.ts
  front/src/saf/components/tickets/table.tsx
Due: check-frontend

rebase conflicts
  .pre-commit-config.yaml
  Pipfile.lock
  front/.eslintrc.json
  front/src/common/components/tabs.tsx
  front/src/saf/pages/airline/tickets.tsx
Due: check-frontend

[back] fix pagination
  web/carbure/settings.py
  web/core/utils.py
Due: check-backend

fix: keep search between sub pages PDC - admin
  front/src/elec-audit-admin/components/charge-points/status-switcher.tsx
Due: check-frontend

fix: fix sentry front
  docker-compose.yml
  front/src/sentry.tsx
Due: check-frontend

fix(depot): get emails from queryset
  web/entity/services/enable_depot.py
Due: check-backend

feat(storybook): init storybook with a simple story
  front/.eslintrc.json
  front/.gitignore
  front/.storybook/main.ts
  front/.storybook/preview.ts
  front/package-lock.json
  front/package.json
  front/src/common/components/button.stories.tsx
Due: check-frontend

ci: remove ci docker image, use cache instead
  .gitlab-ci.yml
  ci/Dockerfile
Due: check-backend, check-frontend

fix: restart CI if config file changed
  .gitlab-ci.yml
  front/src/index.tsx
  web/carbure/settings.py
Due: check-backend, check-frontend

feat(storybook): add i18next on storybook
  front/.storybook/preview.ts
  front/.storybook/preview.tsx
  front/src/common/components/button.stories.tsx
Due: check-frontend

ci: remove deploy jobs from ci, use scalingo directly
  .gitlab-ci.yml
Due: check-backend, check-frontend

feat(sb): add msw
  front/.storybook/main.ts
  front/.storybook/mocks.ts
  front/.storybook/preview.tsx
  front/package-lock.json
  front/package.json
  front/src/mocks.ts
Due: check-frontend

ci: force CI
  front/src/index.tsx
  web/carbure/settings.py
Due: check-backend, check-frontend

feat(sb): user/entity switching works
  front/.storybook/preview.tsx
  front/package-lock.json
  front/package.json
  front/src/carbure/__test__/api.ts
  front/src/carbure/__test__/data.ts
  front/src/carbure/__test__/helpers.ts
  front/src/carbure/hooks/entity.ts
  front/src/carbure/hooks/user.ts
  front/tsconfig.json
Due: check-frontend

feat: add base chromatic conf
  front/chromatic.config.json
Due: check-frontend

fix(elec): error when charge point not validated yet
  web/elec/api/cpo/meter_readings/add_application.py
  web/elec/api/cpo/meter_readings/check_application.py
  web/elec/api/cpo/meter_readings/tests_meter_readings.py
  web/elec/services/import_meter_reading_excel.py
Due: check-backend

Feature/back import doublecount history
  web/doublecount/api/admin/applications/add.py
  web/doublecount/api/admin/applications/check_files.py
  web/doublecount/api/agreements/agreements.py
  web/doublecount/api/applications/check_file.py
  web/doublecount/api/applications/tests_applications.py
  web/doublecount/helpers.py
  web/doublecount/migrations/0015_doublecountingsourcinghistory.py
  web/doublecount/models.py
  web/doublecount/parser/dc_parser.py
  web/doublecount/parser/parse_sourcing_history.py
  web/doublecount/parser/types.py
  web/doublecount/serializers.py
  web/fixtures/csv/test_data/dc_agreement_application_errors_global.xlsx
  web/fixtures/csv/test_data/dc_agreement_application_errors_invalid_year_and_missing_data.xlsx
  web/fixtures/csv/test_data/dc_agreement_application_errors_missing_sheet.xlsx
  web/fixtures/csv/test_data/dc_agreement_application_errors_prod_integrity.xlsx
  web/fixtures/csv/test_data/dc_agreement_application_errors_production.xlsx
  web/fixtures/csv/test_data/dc_agreement_application_errors_production_max.xlsx
  web/fixtures/csv/test_data/dc_agreement_application_errors_sourcing.xlsx
  web/fixtures/csv/test_data/dc_agreement_application_errors_unknow_year.xlsx
  web/fixtures/csv/test_data/dc_agreement_application_valid.xlsx
Due: check-backend

feat: add chromatic
  docker-compose.yml
  front/.gitignore
  front/.storybook/preview.tsx
  front/README.md
  front/package-lock.json
  front/package.json
  front/src/carbure/__test__/api.ts
Due: check-frontend

[back] credit source in saf
  web/saf/views/ticket_source/mixins/__init__.py
  web/saf/views/ticket_source/mixins/credit.py
Due: check-backend

fix: round number emission fields
  front/src/common/utils/formatters.ts
  front/src/lot-add/components/lot-form.tsx
Due: check-frontend

fix(elec): delete on cascade elecmeter when deleting charge point
  web/elec/migrations/0045_alter_elecmeter_charge_point.py
  web/elec/models/elec_meter.py
Due: check-backend

[back] fix assigned_tickets schema
  web/saf/serializers/saf_ticket.py
  web/saf/serializers/saf_ticket_source.py
Due: check-backend

fix(login): check if user is authenticated before create session
  web/auth/api/login.py
Due: check-backend

[back] agreement_reference and agreement_date no required
  web/saf/serializers/saf_assign_ticket_source.py
Due: check-backend

feat: openapi ts ready to use
  api-schema.yaml
  front/package.json
  front/src/api-schema.d.ts
  front/src/common/services/api-fetch.ts
  front/src/common/services/carbure-api.schema.d.ts
  front/src/saf/pages/airline/api.ts
  front/tsconfig.json
  package.json
Due: check-frontend

feat: format number durability fields
  front/src/saf/pages/operator/ticket-source-details/parent-lot/durability-fields.tsx
Due: check-frontend

[back] fix serializer
  web/saf/views/ticket_source/mixins/assign.py
  web/saf/views/ticket_source/mixins/grouped_assign.py
Due: check-backend

Path conditions:
  check-backend: any of: web/**/*, .gitlab-ci.yml
  check-frontend: any of: front/**/*, .gitlab-ci.yml
