Repository MTES-MCT/carbure: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-ci-image, check-backend, check-frontend

build-ci-image:
  stage: prepare
  image: docker:stable
  services:
  - docker:dind
  script:
  - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
  - docker build -f ci/Dockerfile -t $CI_REGISTRY/$CI_PROJECT_PATH/ci-image:latest .
  - docker push $CI_REGISTRY/$CI_PROJECT_PATH/ci-image:latest

check-backend:
  image: $CI_REGISTRY/$CI_PROJECT_PATH/ci-image:latest
  before_script:
  - mv /app/front/node_modules ./front
  stage: check
  services:
  - mysql:8.0
  - redis:latest
  script:
  - export CARBURE_HOME=$(pwd)
  - export DATABASE_URL=mysql://root:$MYSQL_ROOT_PASSWORD@mysql:3306/$MYSQL_DATABASE
  ...

check-frontend:
  image: $CI_REGISTRY/$CI_PROJECT_PATH/ci-image:latest
  before_script:
  - mv /app/front/node_modules ./front
  stage: check
  script:
  - cd front
  - npx eslint --ext .ts,.tsx src/
  - npm test

[front + api] stats per entity type
  Pipfile.lock
  front/src/carbure/components/top-bar.tsx
  front/src/stats/api.ts
  front/src/stats/index.tsx
  web/api/v5/stats/entity.py
Due: build-ci-image, check-backend, check-frontend

add traders
  web/api/v5/stats/entity.py
Due: check-backend

[api] fix stats
  front/src/carbure/components/top-bar.tsx
  front/src/stats/index.tsx
  web/api/v5/stats/entity.py
Due: check-backend, check-frontend

[front+api] disable traders and auditor to merge asap
  front/src/carbure/components/top-bar.tsx
  front/src/carbure/index.tsx
  web/api/v5/stats/entity.py
Due: check-backend, check-frontend

[front] dgac - small fixes
  front/src/saf/airline.tsx
  front/src/saf/components/ticket-source-details/assignment.tsx
  front/src/saf/operator.tsx
Due: check-frontend

[front] dgac - fix button icon validation
  front/src/saf/components/ticket-details/airline-details.tsx
Due: check-frontend

[front] add lot error DELIVERY_IN_THE_FUTURE
  front/public/locales/fr/errors.json
Due: check-frontend

reload pipfile.lock
  Pipfile.lock
Due: build-ci-image

[front] dc-checker - start 'upload dialog' and 'files list page'
  front/src/double-counting/api.ts
  front/src/double-counting/components/agreement-list.tsx
  front/src/double-counting/components/files-checker/files-checker-dialog.tsx
  front/src/double-counting/components/files-checker/index.tsx
  front/src/double-counting/types.ts
Due: check-frontend

[front] prepare dc checker types to work with many files
  front/src/double-counting/api.ts
  front/src/double-counting/types.ts
Due: check-frontend

[front] dc-checker - send filelist
  front/src/common/components/input.tsx
  front/src/double-counting/api.ts
  front/src/double-counting/components/files-checker/files-checker-dialog.tsx
  front/src/double-counting/components/files-checker/index.tsx
  front/src/double-counting/index.tsx
Due: check-frontend

[front] dgac-fix - remove agreement number and date + free field
  front/src/saf/__test__/data.ts
  front/src/saf/api.ts
  front/src/saf/components/ticket-details/fields.tsx
  front/src/saf/components/ticket-source-details/assignment.tsx
  front/src/saf/types.ts
Due: check-frontend

[front+api] dgac-fix : fix status
  front/src/saf/airline.tsx
  front/src/saf/api.ts
  front/src/saf/components/client-tabs.tsx
  front/src/saf/components/operator-tabs.tsx
  front/src/saf/components/tickets/status-switcher.tsx
  front/src/saf/types.ts
  web/api/v5/saf/airline/tickets.py
  web/api/v5/saf/operator/ticket_sources.py
  web/api/v5/saf/operator/tickets.py
Due: check-backend, check-frontend

[front] dgac-fix add parent_lot in ticket source list
  front/public/locales/en/translation.json
  front/src/carbure/components/top-bar.tsx
  front/src/saf/airline.tsx
  front/src/saf/api.ts
  front/src/saf/components/ticket-sources/status-switcher.tsx
  front/src/saf/components/ticket-sources/table.tsx
  front/src/saf/types.ts
Due: check-frontend

[front] dgac-fix - add company form
  front/src/companies/api.ts
  front/src/companies/components/add-entity-dialog.tsx
  front/src/companies/index.tsx
Due: check-frontend

[front] dgac - displayed period is delivery date
  front/src/carbure/components/top-bar.tsx
  front/src/saf/components/no-result.tsx
  front/src/saf/components/ticket-source-details/fields.tsx
  front/src/saf/components/ticket-sources/table.tsx
Due: check-frontend

[api] use lot year and period when creating new ticket source
  web/saf/models/saf_ticket_source.py
Due: check-backend

[api] use RED II values in ticket sources
  web/saf/models/saf_ticket_source.py
Due: check-backend

[api] rename ticket source period to delivery_period + add preview of parent in list mode
  web/saf/admin.py
  web/saf/factories/saf_ticket_source.py
  web/saf/migrations/0014_rename_period_safticketsource_delivery_period.py
  web/saf/models/saf_ticket_source.py
  web/saf/serializers/saf_ticket_source.py
Due: check-backend

[api] stop sending declaration emails to carbure members
  web/api/v4/helpers.py
Due: check-backend

Path conditions:
  build-ci-image: any of: ci/Dockerfile, Pipfile, Pipfile.lock, front/package.json, front/package-lock.json
  check-backend: any of: web/**/*
  check-frontend: any of: front/**/*
