Repository MTES-MCT/carbure: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-ci-image, check-backend, check-frontend

.gitlab-ci.yml:

stages:
  - prepare
  - check
  - deploy

variables:
  MYSQL_DATABASE: carbure_mysql_test_db
  MYSQL_ROOT_PASSWORD: carbure_mysql_ci_db_password

# use prebuild CI image when running checks
.checks:
  image: $CI_REGISTRY/$CI_PROJECT_PATH/ci-image:latest
  before_script:
    - mv /app/front/node_modules ./front

# prepare git env to push new code to scalingo
.scalingo:
  image: alpine:latest
  before_script:
    - mkdir ~/.ssh
    - apk add --update git openssh-client
    - eval $(ssh-agent -s)
    - echo "$SCALINGO_SSH_PRIVATE_KEY" | tr -d '\r' | ssh-add -
    - ssh-keyscan $SCALINGO_SSH_HOST >> ~/.ssh/known_hosts
    - chmod 644 ~/.ssh/known_hosts
    - git config user.name $GIT_USER_NAME
    - git config user.email $GIT_USER_EMAIL
    - git remote add scalingo-dev $SCALINGO_GIT_REMOTE_DEV || true
    - git remote add scalingo-staging $SCALINGO_GIT_REMOTE_STAGING || true
    - git remote add scalingo-prod $SCALINGO_GIT_REMOTE_PROD || true
    - git fetch origin $CI_COMMIT_BRANCH --unshallow
    - git checkout $CI_COMMIT_BRANCH

build-ci-image:
  stage: prepare
  image: docker:stable
  services:
    - docker:dind
  script:
    - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
    - docker build -f ci/Dockerfile -t $CI_REGISTRY/$CI_PROJECT_PATH/ci-image:latest .
    - docker push $CI_REGISTRY/$CI_PROJECT_PATH/ci-image:latest
  only:
    changes:
      - ci/Dockerfile
      - Pipfile
      - Pipfile.lock
      - front/package.json
      - front/package-lock.json

check-backend:
  stage: check
  extends: .checks
  services:
    - mysql:8.0
    - redis:latest
  script:
    - export CARBURE_HOME=$(pwd)
    - export DATABASE_URL=mysql://root:$MYSQL_ROOT_PASSWORD@mysql:3306/$MYSQL_DATABASE
    - export REDIS_URL=redis://redis:6379
    - mypy web || true
    - TEST=1 python3 web/manage.py test web
  only:
    refs:
      - dev
      - master
    changes:
      - web/**/*

check-frontend:
  stage: check
  extends: .checks
  script:
    - cd front
    - npx eslint --ext .ts,.tsx src/
    - npm test
  only:
    refs:
      - dev
      - master
    changes:
      - front/**/*

deploy-dev:
  stage: deploy
  extends: .scalingo
  only:
    - dev
  script:
    - git push scalingo-dev $CI_COMMIT_BRANCH:master -f

deploy-staging:
  stage: deploy
  extends: .scalingo
  only:
    - master
  script:
    - git push scalingo-staging master -f

deploy-prod:
  stage: deploy
  extends: .scalingo
  when: manual
  only:
    - master
  script:
    - git push scalingo-prod master -f

[api] allow all charge points when creating new meter readings
  web/elec/api/cpo/meter_readings/add_application.py
Due: check-backend

[front] translate more fields for meter reading errors
  front/src/elec/components/meter-readings/errors-dialog.tsx
Due: check-frontend

[api] round energy and power values to the 3rd digit
  web/elec/serializers/elec_charge_point.py
  web/elec/serializers/elec_charge_point_application.py
  web/elec/serializers/elec_meter_reading_application_serializer.py
Due: check-backend

[api] detect non article 2 stations with DC charge points
  web/elec/services/import_charge_point_excel.py
  web/elec/services/transport_data_gouv.py
Due: check-backend

[api] update charge point refresh script to detect special non article 2 stations
  web/elec/scripts/refresh_charge_point_data.py
Due: check-backend

[api] fix tests
  web/elec/api/admin/charge_points/tests_charge_points.py
  web/elec/api/cpo/charge_points/tests_charge_points.py
  web/elec/api/cpo/meter_readings/tests_meter_readings.py
Due: check-backend

[api] also update charge points that are not on TDG anymore in refresh script
  web/elec/scripts/refresh_charge_point_data.py
Due: check-backend

Ajoute une balise open graph avec le nom du site
  front/public/index.html
Due: check-frontend

[front] dc send application dialog
  front/src/carbure/api.ts
  front/src/double-counting-admin/api.ts
  front/src/double-counting-admin/components/files-checker/index.tsx
  front/src/double-counting-admin/components/files-checker/send-application-dialog.tsx
  front/src/double-counting-admin/components/files-checker/valid-details-dialog.tsx
  front/src/double-counting/api.ts
  front/src/double-counting/components/application-checker/errors-details-dialog.tsx
  front/src/double-counting/components/application-checker/industrial-waste-alert.tsx
  front/src/double-counting/components/application-checker/replace-application-dialog.tsx
  front/src/double-counting/components/application-checker/valid-details-dialog.tsx
  front/src/double-counting/components/send-application-dialog.tsx
  front/src/double-counting/components/settings.tsx
  front/src/double-counting/components/upload-dialog.tsx
  front/src/elec-audit-admin/components/charge-points/details.tsx
  front/src/elec/components/provision-certificates/transfer-summary.tsx
Due: check-frontend

[back] dc add application - add form to admin endpoint
  web/doublecount/api/admin/applications/add.py
  web/doublecount/api/admin/applications/tests_applications.py
  web/elec/api/admin/audit/meter_readings/application_details.py
Due: check-backend

[api] add script to generate an excel with all charge points
  web/elec/scripts/all_charge_point_excel.py
Due: check-backend

[api] fix charge point import + more tests
  web/elec/api/cpo/charge_points/tests_charge_points.py
  web/elec/fixtures/full_ac_charge_points_error.xlsx
  web/elec/fixtures/full_ac_charge_points_ok.xlsx
  web/elec/fixtures/partial_dc_charge_points_ok.xlsx
  web/elec/fixtures/points-de-recharge-errors.xlsx
  web/elec/fixtures/points-de-recharge-ok.xlsx
  web/elec/fixtures/transport_data_gouv.csv
  web/elec/migrations/0025_alter_elecchargepoint_latitude_and_more.py
  web/elec/models/elec_charge_point.py
  web/elec/scripts/refresh_charge_point_data.py
  web/elec/services/import_charge_point_excel.py
  web/elec/services/transport_data_gouv.py
Due: check-backend

[back] dc producer - add application
  front/public/locales/fr/errors.json
  front/src/carbure/api.ts
  front/src/double-counting-admin/components/files-checker/send-application-dialog.tsx
  front/src/double-counting/api.ts
  front/src/double-counting/components/application-checker/errors-details-dialog.tsx
  front/src/double-counting/components/send-application-dialog.tsx
  front/src/double-counting/components/settings.tsx
  web/doublecount/api/agreements/agreements.py
  web/doublecount/api/applications/__init__.py
  web/doublecount/api/applications/add_application.py
  web/doublecount/api/applications/tests_applications.py
  web/doublecount/helpers.py
Due: check-backend, check-frontend

[back] dc - refactory admin and producer add application function
  front/src/double-counting-admin/components/agreements/agreement-details-dialog.tsx
  front/src/elec-admin/components/provision-certificates/list.tsx
  front/src/elec-audit-admin/components/charge-points/list.tsx
  front/src/elec-audit-admin/components/meter-readings/list.tsx
  front/src/transaction-details/components/lots/history.tsx
  web/doublecount/api/admin/applications/add.py
  web/doublecount/api/applications/add_application.py
  web/doublecount/api/applications/tests_applications.py
Due: check-backend, check-frontend

[api] remove prints
  web/elec/api/admin/audit/meter_readings/accept_application.py
  web/elec/api/cpo/clients.py
  web/elec/api/cpo/provision_certificates.py
Due: check-backend

[api] more robust detection of article 2 charge points
  web/core/utils.py
  web/elec/api/cpo/charge_points/tests_charge_points.py
  web/elec/fixtures/partial_dc_charge_points_ok.xlsx
  web/elec/scripts/refresh_charge_point_data.py
  web/elec/services/import_charge_point_excel.py
  web/elec/services/transport_data_gouv.py
Due: check-backend

[api] fix refresh charge point script
  web/elec/scripts/refresh_charge_point_data.py
Due: check-backend

[api] round energy values in elec certificates
  web/elec/api/cpo/cancel_transfer_certificate.py
  web/elec/api/cpo/create_transfer_certificate.py
Due: check-backend
