Repository MTES-MCT/carbure: changes, and which GitLab CI jobs are due for each by the changed paths.
All: check-backend, check-frontend

.gitlab-ci.yml:

stages:
  - check


workflow:
  rules:
    # 1. Don't run pipelines for MR drafts.
    - if: $CI_PIPELINE_SOURCE == "merge_request_event" && $CI_MERGE_REQUEST_TITLE =~ /^Draft:/
      when: never

    # 2. Don't run branch pipelines when there's an open MR for the branch (run the MR pipeline instead).
    - if: $CI_COMMIT_BRANCH && $CI_OPEN_MERGE_REQUESTS
      when: never

    # 3. Run all other MR pipelines
    - if: $CI_PIPELINE_SOURCE == 'merge_request_event'
      when: always

    # 4. Run branch pipelines for dev and master
    - if: $CI_COMMIT_BRANCH == "dev" || $CI_COMMIT_BRANCH == "master"
      when: always

    # 5. Else, don't run it
    - when: never


variables:
  MYSQL_DATABASE: carbure_mysql_test_db
  MYSQL_ROOT_PASSWORD: carbure_mysql_ci_db_password
  PIP_CACHE_DIR: "$CI_PROJECT_DIR/.cache/pip"
  PIPENV_VENV_IN_PROJECT: true


# job: run linting and tests for backend
check-backend:
  stage: check
  extends: .backend
  services:
    - mysql:8.0
    - redis:latest
  script:
    - export CARBURE_HOME=$(pwd)
    - export DATABASE_URL=mysql://root:$MYSQL_ROOT_PASSWORD@mysql:3306/$MYSQL_DATABASE
    - export REDIS_URL=redis://redis:6379
    - pipenv run ruff check
    - pipenv run ruff format --check
    - TEST=1 pipenv run python web/manage.py test web


# job: run linting and tests for frontend
check-frontend:
  stage: check
  extends: .frontend
  script:
    - npm run lint
    - npm run build
    - npx chromatic
  interruptible: true


.backend:
  image: python:3.12
  cache:
    - key:
        files:
          - Pipfile.lock
      paths:
        - .cache/pip/
        - .venv/
  before_script:
    - pip install pipenv
    - pipenv install --dev --deploy --ignore-pipfile
  rules:
    - changes:
      - web/**/*
      - .gitlab-ci.yml


.frontend:
  image: node:latest
  cache:
    - key:
        files:
          - front/package-lock.json
      paths:
        - front/.npm/
  before_script:
    - cd front
    - npm ci --cache .npm --prefer-offline
  rules:
    - changes:
      - front/**/*
      - .gitlab-ci.yml

fix: add is_eu_airport field in model
  api-schema.yaml
  front/src/api-schema.ts
  web/core/migrations/0039_alter_externaladminrights_right.py
  web/core/serializers.py
  web/transactions/migrations/0012_site_is_ue_airport.py
  web/transactions/models/airport.py
  web/transactions/models/site.py
Due: check-backend, check-frontend

fix: replace incompatible scalingo db url params
  web/carbure/settings.py
Due: check-backend

chore: add dependencies for biofuel anomaly detection
  Pipfile
  Pipfile.lock
Due: none

fix(dc): add oneshot patch to insert missing dc data
  README.md
  scripts/patches/2025-02-25_restore_deleted_dc_applications.py
Due: none

feat: add management command to update ticket
  web/saf/management/commands/__init__.py
  web/saf/management/commands/update_ticket_from_file.py
Due: check-backend

feat(biofuels): add sanity check for production information
  front/public/locales/en/errors.json
  front/public/locales/fr/errors.json
  front/src/lot-add/components/lot-form.tsx
  web/core/carburetypes.py
  web/transactions/api/lots/tests/tests_excel.py
  web/transactions/sanity_checks/mandatory.py
  web/transactions/sanity_checks/sanity_checks.py
Due: check-backend, check-frontend

fix(213): hide actions for auditor and read only
  api-schema.yaml
  front/src/elec/components/provision-certificates/list.tsx
  front/src/elec/components/provision-certificates/transfer-summary.tsx
  front/src/elec/components/transfer-certificates/details.tsx
Due: check-frontend

test(biofuels): add excel import tests for producer and producer trader entities
  web/transactions/api/lots/tests/tests_excel.py
  web/transactions/fixtures/test_producer_template.xlsx
  web/transactions/fixtures/test_producer_trader_template.xlsx
Due: check-backend

fix(login): fix translations
  front/public/locales/en/translation.json
  front/public/locales/fr/translation.json
  front/src/auth/components/login.tsx
  front/src/common/layouts/navigation/private/user-menu/user-menu.tsx
  front/src/common/utils/routes.ts
Due: check-frontend

fix: schemas
  front/src/carbure/__test__/data.ts
  front/src/saf/pages/operator/__test__/data.ts
Due: check-frontend

feat(site): show site name in django admin
  web/transactions/models/site.py
Due: check-backend

feat(outliers): add cron task to run the algorithm monthly
  cron.json
Due: none

fix(biofuels): stricter checks for automatic fields
  web/core/common.py
  web/transactions/helpers.py
Due: check-backend

fix(saf): set actions saf to read only for readOnly users
  front/src/common/services/api-fetch.ts
  front/src/saf/pages/operator/ticket-details/index.tsx
  front/src/saf/pages/operator/ticket-source-details/index.tsx
  front/src/saf/pages/operator/ticket-sources/summary.tsx
Due: check-frontend

fix(sanity_checks): remove delivery date sanity check until we fix it
  web/transactions/api/lots/tests/tests_lots_flow.py
  web/transactions/sanity_checks/sanity_checks.py
Due: check-backend

feat(biofuels): add new anomaly detection algorithm
  web/transactions/services/anomaly_detection/__init__.py
  web/transactions/services/anomaly_detection/anomaly_detection.py
  web/transactions/services/anomaly_detection/create_errors.py
  web/transactions/services/anomaly_detection/create_groups.py
  web/transactions/services/anomaly_detection/data/biofuel_mapping.csv
  web/transactions/services/anomaly_detection/data/db_tables_names.txt
  web/transactions/services/anomaly_detection/data/ddv_eec.csv
  web/transactions/services/anomaly_detection/data/ddv_ep.csv
  web/transactions/services/anomaly_detection/data/ddv_etd.csv
  web/transactions/services/anomaly_detection/data/feedstock_mapping.csv
  web/transactions/services/anomaly_detection/default_values.py
  web/transactions/services/anomaly_detection/detect_outliers.py
  web/transactions/services/anomaly_detection/load_db.py
Due: check-backend

chore: remove old fixtures
  web/transactions/fixtures/test_producer_template.xlsx
  web/transactions/fixtures/test_producer_trader_template.xlsx
Due: check-backend

feat(outliers): refactor code for easier parameterization
  web/transactions/services/anomaly_detection/anomaly_detection.py
  web/transactions/services/anomaly_detection/create_errors.py
  web/transactions/services/anomaly_detection/create_groups.py
  web/transactions/services/anomaly_detection/data/db_tables_names.txt
  web/transactions/services/anomaly_detection/detect_outliers.py
Due: check-backend

feat(outliers): add django command to trigger outlier detection
  web/transactions/management/__init__.py
  web/transactions/management/commands/__init__.py
  web/transactions/management/commands/trigger_anomaly_detection.py
  web/transactions/services/anomaly_detection/anomaly_detection.py
Due: check-backend

chore(outliers): remove test endpoint
  web/carbure/api/__init__.py
  web/carbure/api/trigger_anomaly_detection.py
Due: check-backend

ci: run a job that always succeeds to deal with MR without change in source code
  .gitlab-ci.yml
Due: check-backend, check-frontend

chore(outliers): remove connectorx and put sqlalchemy for compatibility reasons
  Pipfile
  Pipfile.lock
  web/transactions/services/anomaly_detection/load_db.py
Due: check-backend

fix: wrong option definition on db settings 2/2
  web/carbure/settings.py
Due: check-backend

fix(biofuel): catch error when lot_id provided is not found
  web/transactions/api/lots/details.py
Due: check-backend

Add new issue template for service desk
  .gitlab/issue_templates/Service_desk
Due: none

fix(middleware): check if entity_id is a digit
  web/carbure/middlewares/entity.py
Due: check-backend

feat(dc): better display of DC applications and registrations in admin
  web/certificates/migrations/0007_alter_doublecountingregistration_options.py
  web/certificates/models.py
  web/doublecount/migrations/0019_alter_doublecountingapplication_options.py
  web/doublecount/models.py
Due: check-backend

Revert "Merge branch 'fix/1215-producer-excel' into 'staging'"
  front/public/locales/en/errors.json
  front/public/locales/fr/errors.json
  front/src/lot-add/components/lot-form.tsx
  web/core/carburetypes.py
  web/core/common.py
  web/transactions/api/lots/tests/tests_excel.py
  web/transactions/fixtures/test_lot_template.xlsx
  web/transactions/helpers.py
  web/transactions/sanity_checks/mandatory.py
  web/transactions/sanity_checks/sanity_checks.py
Due: check-backend, check-frontend

fix: make sure traders have canTrade always true
  front/src/carbure/hooks/entity.ts
Due: check-frontend

fix(saf): fix filters
  api-schema.yaml
  front/src/api-schema.ts
  web/saf/filters/ticket_source.py
  web/saf/views/ticket_source/mixins/filter.py
Due: check-backend, check-frontend

fix(1230): company permissions
  front/src/common/molecules/user-rights-table/user-rights-table.tsx
  front/src/companies-admin/index.tsx
  front/src/companies-admin/routes/entity-details.tsx
  web/entity/views/certificates/certificates.py
  web/entity/views/entity/entity.py
  web/entity/views/users/users.py
  web/saf/permissions/admin_rights.py
Due: check-backend, check-frontend

feat(1205): add kraft mp
  web/core/migrations/0039_new_kraft_mp.py
  web/transactions/sanity_checks/biofuel_feedstock.py
Due: check-backend

test(dc): adapt test to new ordering
  web/doublecount/tests/agreements/tests_agreements_user.py
Due: check-backend

chore(biofuels): add type annotations to detect_outliers function
  web/transactions/services/anomaly_detection/detect_outliers.py
Due: check-backend

test(biofuels): update fixture and excel import tests
  web/transactions/api/lots/tests/tests_excel.py
  web/transactions/fixtures/test_lot_template.xlsx
Due: check-backend

feat(biofuels): add test endpoint to trigger anomaly detection
  web/carbure/api/__init__.py
  web/carbure/api/trigger_anomaly_detection.py
  web/transactions/services/anomaly_detection/anomaly_detection.py
  web/transactions/services/anomaly_detection/create_errors.py
Due: check-backend

Edit Service_desk
  .gitlab/issue_templates/Service_desk.md
Due: none

fix(dc): display name of dc applications
  web/doublecount/models.py
Due: check-backend

fix(biofuels): overwrite excel producer value for non-trading producers
  web/core/common.py
Due: check-backend
