Repository MTES-MCT/carbure: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-ci-image, check-backend, check-frontend

.gitlab-ci.yml:

stages:
  - prepare
  - check
  - deploy

variables:
  MYSQL_DATABASE: carbure_mysql_test_db
  MYSQL_ROOT_PASSWORD: carbure_mysql_ci_db_password

# use prebuild CI image when running checks
.checks:
  image: $CI_REGISTRY/$CI_PROJECT_PATH/ci-image:latest
  before_script:
    - mv /app/front/node_modules ./front

# prepare git env to push new code to scalingo
.scalingo:
  image: alpine:latest
  before_script:
    - mkdir ~/.ssh
    - apk add --update git openssh-client
    - eval $(ssh-agent -s)
    - echo "$SCALINGO_SSH_PRIVATE_KEY" | tr -d '\r' | ssh-add -
    - ssh-keyscan $SCALINGO_SSH_HOST >> ~/.ssh/known_hosts
    - chmod 644 ~/.ssh/known_hosts
    - git config user.name $GIT_USER_NAME
    - git config user.email $GIT_USER_EMAIL
    - git remote add scalingo-dev $SCALINGO_GIT_REMOTE_DEV || true
    - git remote add scalingo-staging $SCALINGO_GIT_REMOTE_STAGING || true
    - git remote add scalingo-prod $SCALINGO_GIT_REMOTE_PROD || true
    - git fetch origin $CI_COMMIT_BRANCH --unshallow
    - git checkout $CI_COMMIT_BRANCH

build-ci-image:
  stage: prepare
  image: docker:stable
  services:
    - docker:dind
  script:
    - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
    - docker build -f ci/Dockerfile -t $CI_REGISTRY/$CI_PROJECT_PATH/ci-image:latest .
    - docker push $CI_REGISTRY/$CI_PROJECT_PATH/ci-image:latest
  only:
    changes:
      - ci/Dockerfile
      - Pipfile
      - Pipfile.lock
      - front/package.json
      - front/package-lock.json

check-backend:
  stage: check
  extends: .checks
  services:
    - mysql:8.0
    - redis:latest
  script:
    - export CARBURE_HOME=$(pwd)
    - export DATABASE_URL=mysql://root:$MYSQL_ROOT_PASSWORD@mysql:3306/$MYSQL_DATABASE
    - export REDIS_URL=redis://redis:6379
    - mypy web || true
    - TEST=1 python3 web/manage.py test web
  only:
    refs:
      - dev
      - master
    changes:
      - web/**/*

check-frontend:
  stage: check
  extends: .checks
  script:
    - cd front
    - npx eslint --ext .ts,.tsx src/
    - npm test
  only:
    refs:
      - dev
      - master
    changes:
      - front/**/*

deploy-dev:
  stage: deploy
  extends: .scalingo
  only:
    - dev
  script:
    - git push scalingo-dev $CI_COMMIT_BRANCH:master -f

deploy-staging:
  stage: deploy
  extends: .scalingo
  only:
    - master
  script:
    - git push scalingo-staging master -f

deploy-prod:
  stage: deploy
  extends: .scalingo
  when: manual
  only:
    - master
  script:
    - git push scalingo-prod master -f

[api] fix dc compatibility check
  web/doublecount/dc_sanity_checks.py
Due: check-backend

[api] dc - prepare to merge compatibility danity check
  web/doublecount/dc_sanity_checks.py
Due: check-backend

[front] reorganize double-compte files
  front/src/double-counting/components/agreements/agreement-details-dialog.tsx
  front/src/double-counting/components/agreements/agreement-list.tsx
  front/src/double-counting/components/agreements/agreement-status.tsx
  front/src/double-counting/components/applications/application-details-dialog.tsx
  front/src/double-counting/components/applications/application-download-button.tsx
  front/src/double-counting/components/applications/application-info.tsx
  front/src/double-counting/components/applications/application-list.tsx
  front/src/double-counting/components/applications/application-status.tsx
  front/src/double-counting/components/applications/application-tabs.tsx
  front/src/double-counting/components/files-checker/valid-details-dialog.tsx
  front/src/double-counting/index.tsx
  front/src/settings/components/double-counting-dialog.tsx
  front/src/settings/components/double-counting.tsx
Due: check-frontend

[front] dc - not display pending application on linked agreement
  README.md
  front/src/double-counting/components/agreements/agreement-details-dialog.tsx
Due: check-frontend

[api] hide conform lots from alerts for admin and auditors
  web/admin/api/controls/snapshot.py
  web/admin/helpers.py
  web/audit/api/snapshot.py
  web/audit/helpers.py
Due: check-backend

[api] fix ML filters for admin and auditor
  web/core/helpers.py
Due: check-backend

[front] hide admin features to auditors in controls
  front/src/controls/components/control-actions.tsx
Due: check-frontend

[scripts] fix iscc certificate loader
  web/carbure/scripts/update_iscc_certificates.py
Due: check-backend

[api] fix bug when dealing with entity privacy in lot history
  web/core/serializers.py
  web/transactions/api/lots/delete.py
Due: check-backend

[back] dc - striginfy class print
  web/doublecount/helpers.py
  web/doublecount/models.py
Due: check-backend

[api] dc - merge similar line
  web/admin/api/double_counting/applications/tests_applications.py
  web/doublecount/api/application/tests_application.py
  web/doublecount/dc_sanity_checks.py
  web/doublecount/helpers.py
  web/fixtures/csv/test_data/dc_agreement_application_valid.xlsx
  web/fixtures/csv/test_data/~$dc_agreement_application_valid.xlsx
Due: check-backend

[api] elec: fix endpoint paths
  web/elec/api/__init__.py
  web/elec/api/operator/__init__.py
  web/elec/api/snapshot.py
Due: check-backend

[api] add new module elec + certificat de fourniture
  web/elec/__init__.py
  web/elec/admin.py
  web/elec/apps.py
  web/elec/migrations/__init__.py
  web/elec/models/__init__.py
  web/elec/models/elec_provision_certificate.py
  web/elec/views.py
Due: check-backend

[api] setup endpoint for elec snapshot
  web/carbure/api/__init__.py
  web/carbure/settings.py
  web/elec/api/__init__.py
  web/elec/api/snapshot.py
  web/elec/views.py
Due: check-backend

[api+front] add drag and drop area to upload a list of provision certificates as csv
  front/src/carbure/components/top-bar.tsx
  front/src/carbure/index.tsx
  front/src/elec-admin/api.ts
  front/src/elec-admin/index.tsx
  front/src/elec-admin/types.ts
  web/admin/api/elec/__init__.py
  web/admin/api/elec/import_certificates.py
  web/admin/api/elec/years.py
  web/elec/migrations/0003_alter_elecprovisioncertificate_unique_together.py
  web/elec/models/elec_provision_certificate.py
  web/fixtures/csv/test_data/provision_certificate.csv
Due: check-backend, check-frontend

[front] display CPO in company list
  front/src/carbure/components/top-bar.tsx
  front/src/carbure/utils/normalizers.ts
  front/src/companies/components/entity-summary.tsx
Due: check-frontend

[api] elec: add endpoint to create transfer certificate from provision certificates
  web/elec/api/cpo/tests_cpo.py
  web/elec/api/cpo/transfer_provision_certificate.py
Due: check-backend

[api] make create/list entity endpoints accessible by elec admins
  web/admin/api/entities/create.py
  web/admin/api/entities/entities.py
Due: check-backend

[api] add endpoints for snaphost and year for elec admin
  web/admin/api/__init__.py
  web/admin/api/elec/__init__.py
  web/admin/api/elec/snapshot.py
  web/admin/api/elec/years.py
Due: check-backend

[api] add has_elec entity
  web/admin/api/entities/create.py
Due: check-backend

[api] add snapshot for CPO (elec)
  web/elec/api/cpo/__init__.py
  web/elec/api/cpo/snapshot.py
Due: check-backend

[api] add elec transfer certificates listing for admin
  web/admin/api/elec/__init__.py
  web/admin/api/elec/provision_certificates.py
  web/admin/api/elec/transfer_certificates.py
  web/elec/serializers/elec_provision_certificate.py
  web/elec/serializers/elec_transfer_certificate.py
Due: check-backend

[api] add filter listing endpoint for elec provision certificates
  web/admin/api/elec/__init__.py
  web/admin/api/elec/import_certificates.py
  web/admin/api/elec/provision_certificate_filters.py
Due: check-backend
