Repository MTES-MCT/carbure: changes, and which GitLab CI jobs are due for each by the changed paths.
All: check-backend, check-frontend

check-backend:
  image: python:3.12
  cache:
  - key:
      files:
      - Pipfile.lock
    paths:
    - .cache/pip/
    - .venv/
  before_script:
  - pip install pipenv
  - pipenv install --dev --deploy --ignore-pipfile
  stage: check
  services:
  - mysql:8.0
  - redis:latest
  script:
  - export CARBURE_HOME=$(pwd)
  ...

check-frontend:
  image: node:latest
  cache:
  - key:
      files:
      - front/package-lock.json
    paths:
    - front/.npm/
  before_script:
  - cd front
  - npm ci --cache .npm --prefer-offline
  stage: check
  script:
  - npm run lint
  - npm run build
  - npx chromatic
  interruptible: true

feat(tiruert): fix to get initial balance
  web/tiruert/views/operation/mixins/balance.py
Due: check-backend

feat(tiruert): handle 3 units for 'quantity' in responses
  web/tiruert/services/teneur.py
Due: check-backend

feat(tiruert): fix unit tests
  web/tiruert/tests/tests_balances.py
  web/tiruert/tests/tests_operations.py
Due: check-backend

fix(saf): add possible undefined airport
  front/src/saf/components/assignment/grouped-assignment.tsx
  front/src/saf/components/assignment/simple-assignment.tsx
  front/vite.config.ts
Due: check-frontend

Merge branch 'hotfix/fix-saf-error' into 'staging'
  front/src/saf/components/assignment/grouped-assignment.tsx
  front/src/saf/components/assignment/simple-assignment.tsx
  front/vite.config.ts
Due: check-frontend

fix: fix errors related to saf assignment period
  front/index.html
  front/src/saf/components/assignment/grouped-assignment.tsx
  front/src/saf/components/assignment/simple-assignment.tsx
Due: check-frontend

fix(1201): filters for agreement view for MTE-DGEC
  api-schema.yaml
  api-schema.yml
  front/src/api-schema.ts
  front/src/carbure/__test__/data.ts
  front/src/carbure/types.ts
  front/src/double-counting-admin/api.ts
  front/src/double-counting-admin/components/agreements/agreement-list.tsx
  front/src/double-counting-admin/filters.tsx
  front/src/double-counting/types.ts
  front/src/saf/pages/operator/__test__/data.ts
  web/doublecount/filters/agreement.py
  web/doublecount/views/agreements/agreement.py
  web/doublecount/views/agreements/mixins/__init__.py
  web/doublecount/views/agreements/mixins/filter.py
  web/doublecount/views/agreements/mixins/list_admin.py
Due: check-backend, check-frontend

feat(947): compensation certificates
  api-schema.yaml
  front/src/api-schema.ts
  front/src/carbure/__test__/data.ts
  front/src/carbure/types.ts
  front/src/saf/pages/operator/__test__/data.ts
  web/core/migrations/0039_alter_externaladminrights_right.py
  web/elec/management/commands/compensate_elec_provision_certificate.py
  web/elec/management/scripts/__init__.py
  web/elec/management/scripts/compensate_elec_provision_certificate.py
  web/elec/migrations/0052_elecprovisioncertificate_compensation.py
  web/elec/models/elec_provision_certificate.py
Due: check-backend, check-frontend

feat(dashboard): add dashboard link for admin
  front/src/carbure/index.tsx
  front/src/common/layouts/navigation/private/sidebar/hooks/useAdmin.ts
  front/src/dashboard/api.ts
  front/src/dashboard/components/declarations.tsx
  front/src/dashboard/index.tsx
  front/src/dashboard/types.ts
Due: check-frontend

feat: try to add default csp tally
  front/src/common/components/button.tsx
  web/carbure/settings.py
Due: check-backend, check-frontend

fix(merge): fix merge dev
  api-schema.yaml
  front/src/accounting/operations/operations.hooks.tsx
  front/src/accounting/operations/operations.utils.ts
  front/src/api-schema.ts
  front/vite.config.ts
Due: check-frontend

feat(registry airports): add airports tabs in registry page
  front/src/common/components/list2/list-item/list-item.module.css
  front/src/common/components/list2/list-item/list-item.tsx
  front/src/common/layouts/navigation/private/user-menu/user-menu.tsx
  front/src/registry/components/airports.tsx
  front/src/registry/index.tsx
  front/vite.config.ts
Due: check-frontend

add sha src CSP
  web/carbure/settings.py
Due: check-backend

fix(elec): slow generation of PDC excel files
  web/elec/api/admin/audit/charge_points/application_details.py
  web/elec/api/admin/audit/charge_points/generate_sample.py
  web/elec/api/admin/charge_points/application_details.py
  web/elec/api/admin/charge_points/charge_points.py
  web/elec/api/cpo/charge_points/application_details.py
  web/elec/api/cpo/charge_points/charge_points.py
  web/elec/repositories/charge_point_repository.py
Due: check-backend

fix(biofuels): overwrite excel producer value for non-trading producers
  web/core/common.py
Due: check-backend

test(biofuels): add excel import tests for producer and producer trader entities
  web/transactions/api/lots/tests/tests_excel.py
  web/transactions/fixtures/test_producer_template.xlsx
  web/transactions/fixtures/test_producer_trader_template.xlsx
Due: check-backend

feat(biofuels): add sanity check for production information
  front/public/locales/en/errors.json
  front/public/locales/fr/errors.json
  front/src/lot-add/components/lot-form.tsx
  web/core/carburetypes.py
  web/transactions/api/lots/tests/tests_excel.py
  web/transactions/sanity_checks/mandatory.py
  web/transactions/sanity_checks/sanity_checks.py
Due: check-backend, check-frontend

add sha src CSP
  front/src/common/components/button.tsx
  front/src/common/layouts/navigation/navigation-layout.module.css
  front/src/common/layouts/navigation/navigation-layout.tsx
  front/src/contact/index.tsx
Due: check-frontend

feat: add translations airports
  front/public/locales/en/translation.json
  front/public/locales/fr/translation.json
  front/src/carbure/components/new-navigation-dialog.tsx
Due: check-frontend

feat(translations): fix en translations
  front/public/locales/en/translation.json
  front/public/locales/fr/translation.json
  front/src/common/layouts/navigation/private/user-menu/user-menu.tsx
  front/src/double-counting/components/application-status.tsx
Due: check-frontend

fix(storybook): fix stories
  front/src/common/components/list2/list-item/list-item.module.css
  front/src/common/layouts/navigation/private/user-menu/user-menu.module.css
  front/src/common/layouts/navigation/private/user-menu/user-menu.tsx
Due: check-frontend

fix(trans): forgot translation
  front/public/locales/en/translation.json
Due: check-frontend

fix(charge points): remove selected ids export charge points
  front/src/elec-charge-points/pages/list/api.ts
  front/src/elec-charge-points/pages/list/index.tsx
Due: check-frontend

refactor(refacto ui saf): start refacto saf
  front/src/common/components/scaffold.module.css
  front/src/common/components/scaffold.tsx
  front/src/saf/components/export.tsx
  front/src/saf/pages/airline/index.tsx
  front/src/saf/pages/airline/tickets.hooks.ts
  front/src/saf/pages/airline/tickets.tsx
  front/src/saf/pages/operator/ticket-sources/index.tsx
  front/src/saf/pages/operator/tickets/index.tsx
Due: check-frontend

refactor(new ui saf): refacto checkbox to handle checkbox only for table
  front/src/common/components/inputs2/checkbox/checkbox.module.css
  front/src/common/components/inputs2/checkbox/checkbox.tsx
  front/src/common/components/table2/table.module.css
  front/src/common/components/table2/table.tsx
  front/src/saf/components/export.tsx
  front/src/saf/pages/operator/ticket-sources/index.tsx
  front/src/saf/pages/operator/ticket-sources/status-switcher.tsx
  front/src/saf/pages/operator/ticket-sources/table.tsx
  front/src/saf/pages/operator/ticket-sources/tag.tsx
Due: check-frontend

refactor(refacto ui saf): continue refacto pages
  front/index.html
  front/src/common/molecules/filter-multiselect2/filter-multiselect2.tsx
  front/src/saf/components/filters.tsx
  front/src/saf/components/tickets/table.tsx
  front/src/saf/components/tickets/tag.tsx
Due: check-frontend

refactor(new layout saf): terminate assigned/received tickets
  front/src/common/components/icon/icon.tsx
  front/src/common/components/no-result2/index.ts
  front/src/common/components/no-result2/no-result.tsx
  front/src/common/components/notice/notice.tsx
  front/src/common/hooks/query-builder-2.ts
  front/src/saf/components/tickets/table.tsx
  front/src/saf/pages/airline/tickets.tsx
  front/src/saf/pages/operator/tickets/index.tsx
  front/src/saf/pages/operator/tickets/status-switcher.tsx
Due: check-frontend

Add new issue template for service desk
  .gitlab/issue_templates/Service_desk
Due: none

Edit Service_desk
  .gitlab/issue_templates/Service_desk.md
Due: none

feat(1205): add kraft mp
  web/core/migrations/0039_new_kraft_mp.py
  web/transactions/sanity_checks/biofuel_feedstock.py
Due: check-backend

fix: schemas
  api-schema.yaml
  front/src/api-schema.ts
  front/src/carbure/__test__/data.ts
  front/src/carbure/types.ts
  front/src/saf/pages/operator/__test__/data.ts
Due: check-frontend

feat(saf modal): start refacto saf modal
  front/src/common/components/collapse2/collapse.stories.tsx
  front/src/common/components/collapse2/collapse.tsx
  front/src/common/components/collapse2/index.ts
  front/src/common/components/dialog2/dialog.module.css
  front/src/common/components/dialog2/dialog.tsx
  front/src/common/components/dialog2/index.ts
  front/src/common/components/icon/icon.tsx
  front/src/common/components/inputs2/field.tsx
  front/src/common/components/inputs2/input.tsx
  front/src/common/components/no-result2/no-result.tsx
  front/src/common/components/notice/notice.module.css
  front/src/common/components/notice/notice.tsx
  front/src/common/components/scaffold.module.css
  front/src/common/components/scaffold.tsx
  front/src/saf/components/dialog-section/dialog-section.module.css
  front/src/saf/components/dialog-section/dialog-section.tsx
  front/src/saf/components/dialog-section/index.ts
  front/src/saf/pages/operator/ticket-source-details/fields.tsx
  front/src/saf/pages/operator/ticket-source-details/index.tsx
  front/src/saf/pages/operator/ticket-source-details/parent-lot/durability-fields.tsx
  front/src/saf/pages/operator/ticket-sources/index.tsx
Due: check-frontend

feat(refacto saf modal): refacto saf form with new UI
  front/src/common/components/collapse2/collapse.module.css
  front/src/common/components/collapse2/collapse.tsx
  front/src/common/components/dialog2/dialog.module.css
  front/src/common/components/inputs2/base-input.module.css
  front/src/common/components/inputs2/base-input.tsx
  front/src/common/components/inputs2/field.module.css
  front/src/common/components/inputs2/field.tsx
  front/src/common/components/selects2/select/select.tsx
  front/src/saf/components/assignment/period-select.tsx
  front/src/saf/components/assignment/simple-assignment.tsx
  front/src/saf/components/assignment/volume-input.tsx
  front/src/saf/components/tickets/tag.tsx
  front/src/saf/pages/operator/ticket-source-details/assigned-tickets.tsx
  front/src/saf/pages/operator/ticket-source-details/parent-lot/index.tsx
Due: check-frontend

feat(registry): hide all tabs except airports for airline entities
  front/src/registry/index.tsx
Due: check-frontend

fix(biofuels): stricter checks for automatic fields
  web/core/common.py
  web/transactions/helpers.py
Due: check-backend

test(biofuels): update fixture and excel import tests
  web/transactions/api/lots/tests/tests_excel.py
  web/transactions/fixtures/test_lot_template.xlsx
Due: check-backend

fix: fixtures and no migration
  web/core/migrations/0039_new_kraft_mp.py
  web/doublecount/parser/excel_to_carbure_convertor.py
  web/fixtures/csv/matierespremieres.csv
Due: check-backend

chore: remove old fixtures
  web/transactions/fixtures/test_producer_template.xlsx
  web/transactions/fixtures/test_producer_trader_template.xlsx
Due: check-backend

Path conditions:
  check-backend: any of: web/**/*, .gitlab-ci.yml
  check-frontend: any of: front/**/*, .gitlab-ci.yml
