Repository MTES-MCT/carbure: changes, and which GitLab CI jobs are due for each by the changed paths.
All: check-backend, check-frontend

.gitlab-ci.yml:

stages:
  - check


workflow:
  rules:
    # 1. Don't run pipelines for MR drafts.
    - if: $CI_PIPELINE_SOURCE == "merge_request_event" && $CI_MERGE_REQUEST_TITLE =~ /^Draft:/
      when: never

    # 2. Don't run branch pipelines when there's an open MR for the branch (run the MR pipeline instead).
    - if: $CI_COMMIT_BRANCH && $CI_OPEN_MERGE_REQUESTS
      when: never

    # 3. Run all other MR pipelines
    - if: $CI_PIPELINE_SOURCE == 'merge_request_event'
      when: always

    # 4. Run branch pipelines for dev and master
    - if: $CI_COMMIT_BRANCH == "dev" || $CI_COMMIT_BRANCH == "master"
      when: always

    # 5. Else, don't run it
    - when: never


variables:
  MYSQL_DATABASE: carbure_mysql_test_db
  MYSQL_ROOT_PASSWORD: carbure_mysql_ci_db_password
  PIP_CACHE_DIR: "$CI_PROJECT_DIR/.cache/pip"
  PIPENV_VENV_IN_PROJECT: true


# job: run linting and tests for backend
check-backend:
  stage: check
  extends: .backend
  services:
    - mysql:8.0
    - redis:latest
  script:
    - export CARBURE_HOME=$(pwd)
    - export DATABASE_URL=mysql://root:$MYSQL_ROOT_PASSWORD@mysql:3306/$MYSQL_DATABASE
    - export REDIS_URL=redis://redis:6379
    - pipenv run ruff check
    - pipenv run ruff format --check
    - TEST=1 pipenv run python web/manage.py test web


# job: run linting and tests for frontend
check-frontend:
  stage: check
  extends: .frontend
  script:
    - npm run lint
    - npm run build
    - npx chromatic
  interruptible: true


.backend:
  image: python:3.12
  cache:
    - key:
        files:
          - Pipfile.lock
      paths:
        - .cache/pip/
        - .venv/
  before_script:
    - pip install pipenv
    - pipenv install --dev --deploy --ignore-pipfile
  rules:
    - changes:
      - web/**/*
      - .gitlab-ci.yml


.frontend:
  image: node:latest
  cache:
    - key:
        files:
          - front/package-lock.json
      paths:
        - front/.npm/
  before_script:
    - cd front
    - npm ci --cache .npm --prefer-offline
  rules:
    - changes:
      - front/**/*
      - .gitlab-ci.yml

feat(tiruert): add 'period' param, and refacto spectacular params definitions
  web/tiruert/filters.py
  web/tiruert/serializers/balance.py
  web/tiruert/serializers/operation.py
  web/tiruert/views/operation/mixins/accept.py
  web/tiruert/views/operation/mixins/balance.py
  web/tiruert/views/operation/mixins/filter.py
  web/tiruert/views/operation/mixins/reject.py
  web/tiruert/views/operation/mixins/simulate.py
  web/tiruert/views/operation/operation.py
Due: check-backend

feat(tiruert): Remove validity_date and add validation_date, set when operation accepted
  web/tiruert/migrations/0008_remove_operation_validity_date_and_more.py
  web/tiruert/models/operation.py
  web/tiruert/serializers/operation.py
  web/tiruert/tests/tests_operations.py
  web/tiruert/views/operation/mixins/accept.py
  web/tiruert/views/operation/operation.py
Due: check-backend

fix(tiruert - operations): fix operation detail
  api-schema.yaml
  front/src/accounting/operations/operations.hooks.tsx
  front/src/accounting/operations/operations.utils.ts
  front/src/accounting/operations/pages/operation-detail/operation-detail.tsx
  front/src/api-schema.ts
Due: check-frontend

feat(tiruert): return 'period' in possible filter and enum operations
  web/tiruert/filters.py
  web/tiruert/views/operation/mixins/filter.py
Due: check-backend

feat(tiruert - operations): add period filter
  api-schema.yaml
  front/src/accounting/operations/operations.hooks.tsx
  front/src/accounting/operations/operations.tsx
  front/src/api-schema.ts
Due: check-frontend

feat(tiruert): add PATCH /operation endpoinnt
  web/tiruert/serializers/__init__.py
  web/tiruert/serializers/operation.py
  web/tiruert/views/operation/operation.py
Due: check-backend

refactor(TIRUERT - SOLDES): move types to the accounting folder
  front/src/accounting/balances/api.ts
  front/src/accounting/balances/balances.hooks.tsx
  front/src/accounting/balances/balances.tsx
  front/src/accounting/balances/components/debit-operation-dialog/cession-dialog/cession-dialog.tsx
  front/src/accounting/balances/components/debit-operation-dialog/debit-operation-dialog.tsx
  front/src/accounting/balances/types.ts
  front/src/accounting/hooks/normalizers.ts
  front/src/accounting/operations/components/operation-badge.tsx
  front/src/accounting/operations/operations.hooks.tsx
  front/src/accounting/operations/operations.tsx
  front/src/accounting/operations/operations.utils.ts
  front/src/accounting/operations/pages/operation-detail/operation-detail.tsx
  front/src/accounting/operations/types.ts
  front/src/accounting/types.ts
  front/src/accounting/utils/formatters.ts
Due: check-frontend

feat(1181): new personna DGDDI
  api-schema.yaml
  front/src/api-schema.ts
  front/src/carbure/index.tsx
  front/src/common/layouts/navigation/private/sidebar/hooks/useAdmin.ts
  front/src/common/layouts/navigation/private/sidebar/hooks/useElec.ts
  web/carbure/api/nav_stats.py
  web/core/models.py
  web/doublecount/urls.py
  web/elec/api/admin/snapshot.py
  web/elec/api/admin/transfer_certificates/transfer_certificate_details.py
  web/elec/api/admin/transfer_certificates/transfer_certificate_filters.py
  web/elec/api/admin/transfer_certificates/transfer_certificates.py
  web/elec/api/admin/years.py
  web/saf/permissions/__init__.py
  web/saf/permissions/user_rights.py
Due: check-backend, check-frontend

fix(dgddi): fix conditions new navigation dgddi
  front/src/carbure/index.tsx
  front/src/common/layouts/navigation/private/sidebar/hooks/useAdmin.ts
  front/src/common/layouts/navigation/private/sidebar/hooks/useElec.ts
Due: check-frontend

feat(tiruert): fix on the 'date_from' to calculate the right 'initial_balance'
  web/tiruert/services/balance.py
  web/tiruert/views/operation/mixins/balance.py
Due: check-backend

chore: add dependencies for biofuel anomaly detection
  Pipfile
  Pipfile.lock
Due: none

feat(biofuels): add new anomaly detection algorithm
  web/transactions/services/anomaly_detection/__init__.py
  web/transactions/services/anomaly_detection/anomaly_detection.py
  web/transactions/services/anomaly_detection/create_errors.py
  web/transactions/services/anomaly_detection/create_groups.py
  web/transactions/services/anomaly_detection/data/biofuel_mapping.csv
  web/transactions/services/anomaly_detection/data/db_tables_names.txt
  web/transactions/services/anomaly_detection/data/ddv_eec.csv
  web/transactions/services/anomaly_detection/data/ddv_ep.csv
  web/transactions/services/anomaly_detection/data/ddv_etd.csv
  web/transactions/services/anomaly_detection/data/feedstock_mapping.csv
  web/transactions/services/anomaly_detection/default_values.py
  web/transactions/services/anomaly_detection/detect_outliers.py
  web/transactions/services/anomaly_detection/load_db.py
Due: check-backend

feat(biofuels): add test endpoint to trigger anomaly detection
  web/carbure/api/__init__.py
  web/carbure/api/trigger_anomaly_detection.py
  web/transactions/services/anomaly_detection/anomaly_detection.py
  web/transactions/services/anomaly_detection/create_errors.py
Due: check-backend

fix(dgddi): back refacto
  web/entity/views/certificates/certificates.py
  web/entity/views/depots/depots.py
  web/entity/views/entity/entity.py
  web/entity/views/entity/mixins/options/lists.py
  web/entity/views/production_sites/production_sites.py
  web/entity/views/users/users.py
  web/saf/permissions/user_rights.py
Due: check-backend

feat(elec): add fields and endpoints for elec certificat fields
  front/public/locales/en/translation.json
  front/public/locales/fr/translation.json
  front/src/elec/api-operator.ts
  front/src/elec/components/transfer-certificates/accept.tsx
  front/src/elec/components/transfer-certificates/details.tsx
  front/src/elec/components/transfer-certificates/table.tsx
  front/src/elec/types.ts
  web/elec/api/operator/accept_transfer_certificate.py
  web/elec/api/operator/transfer_certificate_details.py
  web/elec/api/operator/transfer_certificates.py
  web/elec/migrations/0050_electransfercertificate_consumption_date_and_more.py
  web/elec/models/elec_transfer_certificate.py
  web/elec/serializers/elec_transfer_certificate.py
Due: check-backend, check-frontend

feat(elec): add loading accept certificate
  front/src/elec/components/transfer-certificates/accept.tsx
Due: check-frontend

feat(dca-email): email sent when dca approved
  web/doublecount/helpers.py
  web/doublecount/views/applications/mixins/__init__.py
  web/doublecount/views/applications/mixins/approve_application.py
Due: check-backend

feat(design system): add error state from the form to the inputs
  front/src/common/components/form2/form.stories.tsx
  front/src/common/components/form2/form.tsx
  front/src/common/components/inputs2/base-input.module.css
  front/src/common/components/inputs2/base-input.tsx
  front/src/common/components/inputs2/input.tsx
  front/src/common/components/inputs2/text/text-input.tsx
Due: check-frontend

fix(1037): releases for consumption translations
  front/public/locales/en/translation.json
  front/public/locales/fr/translation.json
Due: check-frontend

feat(navigation): invalidate nav query when different actions done
  front/src/double-counting-admin/components/applications/application-details-dialog/application-details-dialog-validate-quotas.tsx
  front/src/elec-audit-admin/components/charge-points/accept-dialog.tsx
  front/src/elec-audit-admin/components/charge-points/details-pending.tsx
  front/src/elec-audit-admin/components/charge-points/reject-dialog.tsx
  front/src/elec-audit-admin/components/meter-readings/accept-dialog.tsx
  front/src/elec-audit-admin/components/meter-readings/details-pending.tsx
  front/src/elec-audit-admin/components/meter-readings/reject-dialog.tsx
  front/src/elec-auditor/components/details-pending-report-valid.tsx
  front/src/elec/components/transfer-certificates/accept.tsx
  front/src/elec/components/transfer-certificates/reject.tsx
  front/src/saf/components/ticket-details/reject-assignment.tsx
  front/src/saf/pages/airline/accept-assignment.tsx
Due: check-frontend

feat(tiruert): fix filters, don't use requested filter in the request
  web/tiruert/views/operation/mixins/filter.py
Due: check-backend

feat(tiruert): return entity_id to OperationSerializer
  web/tiruert/serializers/operation.py
  web/tiruert/views/operation/operation.py
Due: check-backend

fix: fix ts error on inputs
  front/src/common/components/inputs2/input.tsx
  front/src/common/components/inputs2/text/text-input.tsx
Due: check-frontend

fix(tiruert - operations): re-add link accounting
  api-schema.yaml
  front/src/api-schema.ts
  front/src/common/layouts/navigation/private/sidebar/hooks/useMaterialAccouting.ts
  front/src/common/layouts/navigation/private/sidebar/sidebar.hooks.ts
Due: check-frontend

fix(csp): add sentry as csp
  web/carbure/settings.py
Due: check-backend

fix(911): tiruert status
  front/public/locales/en/translation.json
  front/public/locales/fr/translation.json
  front/src/common/components/inputs2/date/date-input.tsx
  front/src/common/components/inputs2/number/number-input.tsx
  front/src/elec/components/transfer-certificates/accept.tsx
  front/src/elec/components/transfer-certificates/details.tsx
  front/src/elec/components/transfer-certificates/list-operator.tsx
  front/src/elec/components/transfer-certificates/table.tsx
  front/src/elec/components/transfer-certificates/tiruert-tag.tsx
Due: check-frontend

feat(tiruert): fix unit tests
  web/tiruert/services/balance.py
  web/tiruert/tests/__init__.py
  web/tiruert/tests/tests_balances.py
  web/tiruert/tests/tests_operations.py
  web/tiruert/views/operation/mixins/balance.py
Due: check-backend

feat(tiruert): little change just to trigger pipeline
  web/tiruert/views/operation/mixins/reject.py
Due: check-backend

feat(tiruert - operations): add patch operation
  front/src/accounting/api.ts
  front/src/accounting/operations/operations.hooks.tsx
  front/src/accounting/operations/operations.tsx
  front/src/accounting/operations/pages/operation-detail/operation-detail.module.css
  front/src/accounting/operations/pages/operation-detail/operation-detail.tsx
  front/src/common/components/autocomplete/autocomplete.tsx
  front/src/common/components/button2/button.tsx
Due: check-frontend

fix: label
  front/src/common/components/inputs2/date/date-input.tsx
  front/src/common/components/inputs2/number/number-input.tsx
Due: check-frontend

fix(storybook): fix multiselect dropdown width
  front/src/common/components/selects2/multiselect/multiselect.stories.tsx
  front/src/common/components/selects2/select/select.stories.tsx
Due: check-frontend

feat(tiruert): add 'depot' parameter for /balance endpoint
  web/tiruert/views/operation/mixins/balance.py
  web/tiruert/views/operation/mixins/filter.py
Due: check-backend

fix: sentence in accept agreement
  front/public/locales/en/translation.json
  front/public/locales/fr/translation.json
  front/src/elec/components/transfer-certificates/accept.tsx
  front/src/elec/components/transfer-certificates/table.tsx
Due: check-frontend

feat(tiruert): don't create lots twice (check lot existence)
  web/tiruert/models/operation.py
Due: check-backend

fix(operations - tiruert): fix operation status column width
  front/src/accounting/operations/operations.hooks.tsx
Due: check-frontend

refactor(tiruert - operations): change grid to flex div for filter multiselect
  front/src/common/molecules/filter-multiselect2/filter-multiselect2.module.css
  front/src/common/molecules/filter-multiselect2/filter-multiselect2.tsx
Due: check-frontend

feat(elec): remove few columns from history table
  web/elec/migrations/0051_remove_elecchargepointhistory_application_and_more.py
  web/elec/models/elec_charge_point.py
Due: check-backend

fix: front/package.json & front/package-lock.json to reduce vulnerabilities
  front/package-lock.json
  front/package.json
Due: check-frontend

feat(new dialog navigation ): add dialog to present new navigation
  front/src/carbure/components/new-navigation-dialog.tsx
  front/src/common/components/autocomplete/autocomplete.tsx
  front/src/common/components/button.module.css
  front/src/common/components/button2/button.tsx
  front/src/common/components/dialog2/dialog.tsx
  front/src/common/components/icon/icon.tsx
  front/src/common/components/pagination2/pagination.module.css
  front/src/common/components/pagination2/pagination.stories.tsx
  front/src/common/components/pagination2/pagination.tsx
  front/src/common/components/scaffold.module.css
  front/src/common/components/scaffold.tsx
  front/src/common/components/selects2/multiselect/multiselect.stories.tsx
  front/src/common/components/selects2/multiselect/multiselect.tsx
  front/src/common/components/selects2/select/select.stories.tsx
  front/src/common/components/show-more/show-more.module.css
  front/src/common/components/show-more/show-more.stories.tsx
  front/src/common/components/show-more/show-more.tsx
  front/src/common/components/table2/table.module.css
  front/src/common/components/table2/table.tsx
  front/src/common/molecules/filter-multiselect2/filter-multiselect2.module.css
  front/src/common/molecules/filter-multiselect2/filter-multiselect2.stories.tsx
  front/src/common/molecules/filter-multiselect2/filter-multiselect2.tsx
  front/src/common/molecules/filter-multiselect2/index.ts
Due: check-frontend
