Repository MTES-MCT/carbure: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-ci-image, check-backend, check-frontend

build-ci-image:
  stage: prepare
  image: docker:stable
  services:
  - docker:dind
  script:
  - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
  - docker build -f ci/Dockerfile -t $CI_REGISTRY/$CI_PROJECT_PATH/ci-image:latest .
  - docker push $CI_REGISTRY/$CI_PROJECT_PATH/ci-image:latest

check-backend:
  image: $CI_REGISTRY/$CI_PROJECT_PATH/ci-image:latest
  before_script:
  - mv /app/front/node_modules ./front
  stage: check
  services:
  - mysql:8.0
  - redis:latest
  script:
  - export CARBURE_HOME=$(pwd)
  - export DATABASE_URL=mysql://root:$MYSQL_ROOT_PASSWORD@mysql:3306/$MYSQL_DATABASE
  ...

check-frontend:
  image: $CI_REGISTRY/$CI_PROJECT_PATH/ci-image:latest
  before_script:
  - mv /app/front/node_modules ./front
  stage: check
  script:
  - cd front
  - npx eslint --ext .ts,.tsx src/
  - npm test

[api] elec: use cpo name in prov cert csv
  web/admin/api/elec/import_provision_certificates.py
  web/fixtures/csv/test_data/provision_certificate.csv
Due: check-backend

[api] add endpoint to cancel transfer certificate as CPO
  web/core/notifications.py
  web/elec/api/cpo/__init__.py
  web/elec/api/cpo/cancel_transfer_certificate.py
  web/elec/api/cpo/tests_cpo.py
Due: check-backend

[api] fix rights decorator
  web/elec/api/cpo/transfer_certificate_filters.py
Due: check-backend

[api] elec: add years endpoint for cpo
  web/elec/api/cpo/years.py
Due: check-backend

[api] elec: add require_GET to cpo snapshot
  web/elec/api/cpo/snapshot.py
Due: check-backend

[front] cpo transfer certificates
  front/src/elec/api.ts
  front/src/elec/components/transfer-certificates/filters.tsx
  front/src/elec/components/transfer-certificates/list.tsx
  front/src/elec/components/transfer-certificates/status-switcher.tsx
  front/src/elec/components/transfer-certificates/table.tsx
  front/src/elec/cpo.tsx
  front/src/elec/hooks/transfer-certificate-filter-search-params.tsx
  front/src/elec/hooks/transfer-certificate-query-params-store.ts
  front/src/elec/hooks/transfer-certificates-query.ts
  front/src/elec/types.ts
Due: check-frontend

[front] as admin - display transfer certificates
  front/src/elec-admin/api.ts
  front/src/elec-admin/components/provision-certificates/filters.tsx
  front/src/elec-admin/components/transfer-certificate/filters.tsx
  front/src/elec-admin/components/transfer-certificate/list.tsx
  front/src/elec-admin/components/transfer-certificate/table.tsx
  front/src/elec-admin/index.tsx
  front/src/elec-admin/types.ts
  front/src/elec/__test__/data.ts
  front/src/elec/types.ts
  web/elec/serializers/elec_transfer_certificate.py
Due: check-backend, check-frontend

[api] elec: add transfer cert filter endpoint for cpo
  web/elec/api/cpo/transfer_certificate_filters.py
Due: check-backend

[front] cancel transfer certificates
  front/src/carbure/index.tsx
  front/src/common/components/notifications.tsx
  front/src/elec-admin/components/transfer-certificate/list.tsx
  front/src/elec/components/provision-certificates/transfer-summary.tsx
  front/src/elec/components/transfer-certificates/cancel.tsx
  front/src/elec/components/transfer-certificates/details.tsx
  front/src/elec/components/transfer-certificates/list.tsx
Due: check-frontend

[front] provision cert admin + CPO fix
  front/src/carbure/components/top-bar.tsx
  front/src/elec-admin/api.ts
  front/src/elec-admin/components/provision-certificates/list.tsx
  front/src/elec/components/provision-certificates/list.tsx
  web/elec/api/cpo/provision_certificates.py
Due: check-backend, check-frontend

[api] fix entities endpoint for elec admin
  web/admin/api/entities/entities.py
Due: check-backend

[api] elec: add provision cert endpoint for cpo
  web/admin/api/elec/provision_certificates.py
  web/elec/api/cpo/provision_certificates.py
Due: check-backend

[front] handle get-provision-certificates
  front/src/companies/components/add-entity-dialog.tsx
  front/src/elec-admin/api.ts
  front/src/elec-admin/components/provisionImportButton.tsx
  front/src/elec-admin/components/provisionList.tsx
  front/src/elec-admin/components/provisionStatusSwitch.tsx
  front/src/elec-admin/hooks/provision-certificate-query-params-store.ts
  front/src/elec-admin/hooks/provision-certificates-query.ts
  front/src/elec-admin/index.tsx
  front/src/elec-admin/types.ts
  web/admin/api/double_counting/applications/add.py
  web/admin/api/elec/provision_certificates.py
Due: check-backend, check-frontend

[api] rename transfer-provision-certificate into create-transfer-certificate
  web/elec/api/cpo/__init__.py
  web/elec/api/cpo/create_transfer_certificate.py
Due: check-backend

[api] elec: fix bugs in cpo endpoints
  web/elec/api/cpo/cancel_transfer_certificate.py
  web/elec/api/cpo/provision_certificate_filters.py
  web/elec/api/cpo/provision_certificates.py
  web/elec/api/cpo/snapshot.py
  web/elec/api/cpo/tests_cpo.py
  web/elec/api/cpo/transfer_certificate_filters.py
  web/elec/api/cpo/transfer_certificates.py
Due: check-backend

[api] update prov certificate model
  front/src/elec-admin/api.ts
  front/src/elec-admin/components/transfer-certificate/list.tsx
  front/src/elec-admin/types.ts
  front/src/elec/components/provision-certificates/transfer-dialog.tsx
  front/src/elec/types.ts
  web/elec/migrations/0007_alter_elecprovisioncertificate_cpo.py
  web/elec/models/elec_provision_certificate.py
Due: check-backend, check-frontend

[api] elec: add comment when rejecting transfer certificate
  web/elec/api/operator/reject_transfer_certificate.py
  web/elec/migrations/0006_electransfercertificate_comment.py
  web/elec/models/elec_transfer_certificate.py
Due: check-backend

[front] find cpo clients
  front/src/elec-admin/components/provision-certificates/list.tsx
  front/src/elec-admin/index.tsx
  front/src/elec/api.ts
  front/src/elec/components/provision-certificates/transfer-dialog.tsx
  web/elec/api/cpo/clients.py
Due: check-backend, check-frontend

[all] elec-cpo semi-fix snapshot and years
  front/src/carbure/index.tsx
  front/src/elec/api.ts
  front/src/elec/index.tsx
  front/src/elec/types.ts
  web/elec/api/__init__.py
  web/elec/api/cpo/snapshot.py
  web/elec/api/cpo/years.py
Due: check-backend, check-frontend

[api] elec: allow operator to accept transfer certificate
  web/elec/api/operator/__init__.py
  web/elec/api/operator/accept_transfer_certificate.py
Due: check-backend

[api] elec: add provision cert filter endpoint for cpo
  web/admin/api/elec/__init__.py
  web/elec/api/cpo/provision_certificate_filters.py
Due: check-backend

[api] elec: add operator endpoints
  web/elec/api/operator/__init__.py
  web/elec/api/operator/snapshot.py
  web/elec/api/operator/transfer_certificate_filters.py
  web/elec/api/operator/transfer_certificates.py
  web/elec/api/operator/years.py
Due: check-backend

[api+front] fix snapshots
  front/src/elec-admin/__test__/data.ts
  front/src/elec-admin/components/provision-certificates/status-switcher.tsx
  front/src/elec-admin/index.tsx
  front/src/elec-admin/types.ts
  front/src/elec/components/provision-certificates/status-switcher.tsx
  front/src/elec/cpo.tsx
  front/src/elec/types.ts
  web/admin/api/elec/snapshot.py
  web/elec/api/cpo/snapshot.py
Due: check-backend, check-frontend

[api] elec: add csv export for admin for provision and transfer certificates
  web/admin/api/elec/provision_certificates.py
  web/admin/api/elec/transfer_certificates.py
Due: check-backend

[api] add missing filters for elec certificates
  web/admin/api/elec/provision_certificates.py
  web/admin/api/elec/transfer_certificate_filters.py
  web/admin/api/elec/transfer_certificates.py
Due: check-backend

[front] add provision certificates import button and error
  front/src/elec-admin/api.ts
  front/src/elec-admin/components/provisionImportButton.tsx
  front/src/elec-admin/components/provisionList.tsx
  front/src/elec-admin/index.tsx
  front/src/settings/components/double-counting-upload.tsx
Due: check-frontend

[api] add endpoint to reject transfer certificate as operator
  web/elec/api/operator/__init__.py
  web/elec/api/operator/reject_transfer_certificate.py
Due: check-backend

[front] add filters
  front/src/elec-admin/__test__/data.ts
  front/src/elec-admin/api.ts
  front/src/elec-admin/components/provision-certificates/filters.tsx
  front/src/elec-admin/components/provision-certificates/index.tsx
  front/src/elec-admin/components/provision-certificates/table.tsx
  front/src/elec-admin/hooks/provision-certificate-query-params-store.ts
  front/src/elec-admin/hooks/provision-certificates-query.ts
  front/src/elec-admin/index.tsx
  front/src/elec-admin/types.ts
Due: check-frontend

[api] elec: link endpoints for cpo
  web/elec/api/cpo/__init__.py
Due: check-backend

[api] elec: fix bugs in certificate endpoints
  web/admin/api/elec/provision_certificates.py
  web/admin/api/elec/transfer_certificate_filters.py
  web/admin/api/elec/transfer_certificates.py
  web/elec/api/cpo/provision_certificates.py
  web/elec/api/cpo/transfer_certificate_filters.py
  web/elec/api/cpo/transfer_certificates.py
Due: check-backend

Path conditions:
  build-ci-image: any of: ci/Dockerfile, Pipfile, Pipfile.lock, front/package.json, front/package-lock.json
  check-backend: any of: web/**/*
  check-frontend: any of: front/**/*
