Repository MTES-MCT/carbure: changes, and which GitLab CI jobs are due for each by the changed paths.
All: check-backend, check-frontend

.gitlab-ci.yml:

stages:
  - check
  - deploy

workflow:
  rules:
  # 1. Don't run pipelines for MR drafts.
  # 2. Don't run branch pipelines when there's an open MR for the branch (run the MR pipeline instead).
  # 3. Run all other MR pipelines
  # 4. Run branch pipelines for dev and master
  # 5. Else, don't run it
    - if: $CI_PIPELINE_SOURCE == "merge_request_event" && $CI_MERGE_REQUEST_TITLE =~ /^Draft:/ # 1
      when: never
    - if: $CI_COMMIT_BRANCH && $CI_OPEN_MERGE_REQUESTS # 2
      when: never
    - if: $CI_PIPELINE_SOURCE == 'merge_request_event' # 3
      when: always
    - if: $CI_COMMIT_BRANCH == "dev" || $CI_COMMIT_BRANCH == "master" # 4
      when: always
    - when: never # 5

variables:
  MYSQL_DATABASE: carbure_mysql_test_db
  MYSQL_ROOT_PASSWORD: carbure_mysql_ci_db_password
  PIP_CACHE_DIR: "$CI_PROJECT_DIR/.cache/pip"
  PIPENV_VENV_IN_PROJECT: true

check-backend:
  stage: check
  extends: .backend
  services:
    - mysql:8.0
    - redis:latest
  script:
    - export CARBURE_HOME=$(pwd)
    - export DATABASE_URL=mysql://root:$MYSQL_ROOT_PASSWORD@mysql:3306/$MYSQL_DATABASE
    - export REDIS_URL=redis://redis:6379
    - pipenv run ruff check
    - pipenv run ruff format --check
    - TEST=1 pipenv run python web/manage.py test web

check-frontend:
  stage: check
  extends: .frontend
  script:
    - npm run lint

deploy-dev:
  stage: deploy
  extends: .scalingo
  only:
    - dev
  script:
    - git push scalingo-dev $CI_COMMIT_BRANCH:master -f

deploy-staging:
  stage: deploy
  extends: .scalingo
  only:
    - master
  script:
    - git push scalingo-staging master -f

deploy-prod:
  stage: deploy
  extends: .scalingo
  when: manual
  only:
    - master
  script:
    - git push scalingo-prod master -f

# --------------------------------------------------------------------------- #

# prepare backend env
.backend:
  image: python:3.12
  cache:
    - key:
        files:
          - Pipfile.lock
      paths:
        - .cache/pip/
        - .venv/
  before_script:
    - pip install pipenv
    - pipenv install --dev --deploy --ignore-pipfile
  rules:
    - changes:
      - web/**/*
      - .gitlab-ci.yml

# prepare frontend env
.frontend:
  image: node:latest
  cache:
    - key:
        files:
          - front/package-lock.json
      paths:
        - front/.npm/
  before_script:
    - cd front
    - npm ci --cache .npm --prefer-offline
  rules:
    - changes:
      - front/**/*
      - .gitlab-ci.yml

# prepare git env to push new code to scalingo
.scalingo:
  image: alpine:latest
  before_script:
    - mkdir ~/.ssh
    - apk add --update git openssh-client
    - eval $(ssh-agent -s)
    - echo "$SCALINGO_SSH_PRIVATE_KEY" | tr -d '\r' | ssh-add -
    - ssh-keyscan $SCALINGO_SSH_HOST $SCALINGO_SSH_HOST_SECNUMCLOUD >> ~/.ssh/known_hosts
    - chmod 644 ~/.ssh/known_hosts
    - git config user.name $GIT_USER_NAME
    - git config user.email $GIT_USER_EMAIL
    - git remote add scalingo-dev $SCALINGO_GIT_REMOTE_DEV || true
    - git remote add scalingo-staging $SCALINGO_GIT_REMOTE_STAGING || true
    - git remote add scalingo-prod $SCALINGO_GIT_REMOTE_PROD || true
    - git fetch origin $CI_COMMIT_BRANCH --unshallow
    - git checkout $CI_COMMIT_BRANCH

refactor: fix ticket source details
  front/src/carbure/types.ts
  front/src/saf/pages/operator/api.ts
  front/src/saf/pages/operator/ticket-source-details/fields.tsx
  front/src/saf/pages/operator/ticket-source-details/index.tsx
  front/src/saf/pages/operator/ticket-source-details/parent-lot/durability-fields.tsx
  front/src/saf/pages/operator/types.ts
  front/src/saf/types.ts
Due: check-frontend

refactor: terminate refactor navigation buttons
  front/src/common/components/navigation/index.ts
  front/src/common/components/navigation/navigation.hooks.ts
  front/src/common/components/navigation/navigation.tsx
  front/src/common/components/pagination.tsx
  front/src/common/components/tabs.tsx
  front/src/common/hooks/query-builder-2.ts
  front/src/saf/pages/airline/ticket-details.tsx
  front/src/saf/pages/airline/tickets.tsx
  front/src/saf/pages/operator/ticket-details/index.tsx
  front/src/saf/pages/operator/ticket-source-details/index.tsx
  front/src/saf/pages/operator/ticket-sources/index.tsx
  front/src/saf/pages/operator/tickets/index.tsx
Due: check-frontend

feat: add previous/next buttons for saf modal
  front/src/common/components/navigation/index.ts
  front/src/common/components/navigation/navigation.hooks.ts
  front/src/common/components/navigation/navigation.module.css
  front/src/common/components/navigation/navigation.tsx
  front/src/common/components/navigation/navigation.utils.ts
  front/src/common/hooks/query-builder-2.ts
  front/src/saf/pages/airline/index.tsx
  front/src/saf/pages/airline/ticket-details.tsx
  front/src/saf/pages/airline/tickets.tsx
Due: check-frontend

feat: download saf endpoint works
  api-schema.yaml
  front/package.json
  front/src/api-schema.d.ts
  front/src/common/services/api-fetch.ts
  front/src/common/services/api-fetch.types.ts
  front/src/saf/pages/airline/api.ts
  front/src/saf/pages/airline/index.tsx
  front/src/saf/pages/airline/types.ts
  front/src/saf/types.ts
Due: check-frontend

Revert "Merge branch 'feature/master-to-dev' into 'dev'"
  docker-compose.yml
  front/src/elec-audit-admin/components/charge-points/status-switcher.tsx
  front/src/sentry.tsx
Due: check-frontend

feat: add error bad id pdc
  front/public/locales/en/translation.json
  front/public/locales/fr/translation.json
  front/src/elec-charge-points/components/charge-point-list-table/index.hooks.tsx
  front/src/elec-charge-points/pages/list/charge-point/[id]/update/index.tsx
Due: check-frontend

feature(elec): pdc modal - check cp_id unicity
  web/elec/api/admin/charge_points/tests_charge_points.py
  web/elec/api/cpo/charge_points/tests_charge_points.py
  web/elec/api/cpo/charge_points/update_charge_point.py
Due: check-backend

feat: manage new error id pdc
  front/public/locales/en/translation.json
  front/public/locales/fr/translation.json
  front/src/elec-charge-points/pages/list/charge-point/[id]/update/index.tsx
Due: check-frontend

fix: test add company
  web/entity/api/registration/tests_add_company.py
Due: check-backend

Feature/front update pdc modal
  front/public/locales/en/translation.json
  front/public/locales/fr/translation.json
  front/src/common/components/alert.module.css
  front/src/common/components/form.module.css
  front/src/common/components/input.module.css
  front/src/common/globals.ts
  front/src/elec-charge-points/components/charge-point-list-table/index.hooks.tsx
  front/src/elec-charge-points/components/charge-point-list-table/index.tsx
  front/src/elec-charge-points/components/charge-point-list-table/is-article-2.tsx
  front/src/elec-charge-points/components/charge-point-status-switcher/index.tsx
  front/src/elec-charge-points/components/charge-point-status-tag/index.tsx
  front/src/elec-charge-points/hooks/charge-point-status.hooks.ts
  front/src/elec-charge-points/pages/list/charge-point/[id]/update/api.ts
  front/src/elec-charge-points/pages/list/charge-point/[id]/update/change-meter/accept-change-meter.tsx
  front/src/elec-charge-points/pages/list/charge-point/[id]/update/change-meter/index.tsx
  front/src/elec-charge-points/pages/list/charge-point/[id]/update/change-prm/accept-change-prm.tsx
  front/src/elec-charge-points/pages/list/charge-point/[id]/update/change-prm/index.tsx
  front/src/elec-charge-points/pages/list/charge-point/[id]/update/delete-charge-point-dialog.tsx
  front/src/elec-charge-points/pages/list/charge-point/[id]/update/index.tsx
  front/src/elec-charge-points/pages/list/charge-point/[id]/update/meters-history.tsx
  front/src/elec-charge-points/pages/list/charge-point/[id]/update/types.ts
  front/src/elec-charge-points/pages/list/index.hooks.ts
  front/src/elec-charge-points/pages/list/index.tsx
  front/src/elec-charge-points/pages/list/types.ts
  front/src/elec-charge-points/types.ts
  web/elec/api/admin/charge_points/tests_charge_points.py
  web/elec/api/cpo/charge_point_snapshot.py
  web/elec/api/cpo/charge_points/tests_charge_points.py
  web/elec/api/cpo/charge_points/update_charge_point.py
  web/elec/serializers/elec_charge_point.py
  web/elec/services/transport_data_gouv.py
  web/entity/api/registration/tests_add_company.py
Due: check-backend, check-frontend

feat(elec): script to delete duplicate charge points
  web/elec/management/__init__.py
  web/elec/management/commands/__init__.py
  web/elec/management/commands/remove_duplicate_cp.py
Due: check-backend

feat(elec): script to delete duplicate charge points
  web/elec/management/commands/remove_duplicate_cp.py
Due: check-backend

feat(elec): soft delete duplicate charge points
  web/elec/management/commands/remove_duplicate_cp.py
  web/entity/api/registration/tests_add_company.py
Due: check-backend

feat(elec): script to delete duplicate charge points
  web/elec/management/__init__.py
  web/elec/management/commands/__init__.py
  web/elec/management/commands/remove_duplicate_cp.py
  web/entity/api/registration/tests_add_company.py
Due: check-backend

fix(lots): add a condition when no SAF lots
  web/saf/models/saf_ticket_source.py
Due: check-backend

fix(lots): tests
  web/entity/api/registration/tests_add_company.py
Due: check-backend

fix(lots): add a condition when no SAF lots
  web/entity/api/registration/tests_add_company.py
  web/saf/models/saf_ticket_source.py
Due: check-backend

[back] elec refactoring
  Pipfile.lock
  web/carbure/api/__init__.py
  web/elec/admin.py
  web/elec/api/admin/charge_points/tests_charge_points.py
  web/elec/api/cpo/charge_point_snapshot.py
  web/elec/api/cpo/charge_points/add_application.py
  web/elec/api/cpo/charge_points/tests_charge_points.py
  web/elec/api/cpo/charge_points/update_charge_point.py
  web/elec/api/cpo/meter_readings/add_application.py
  web/elec/api/cpo/meter_readings/check_application.py
  web/elec/api/cpo/meter_readings/tests_meter_readings.py
  web/elec/filters/__init__.py
  web/elec/filters/applications.py
  web/elec/filters/transfer_certificates.py
  web/elec/management/__init__.py
  web/elec/management/commands/__init__.py
  web/elec/management/commands/remove_duplicate_cp.py
  web/elec/migrations/0045_alter_elecmeter_charge_point.py
  web/elec/models/elec_charge_point_application.py
  web/elec/models/elec_meter.py
  web/elec/repositories/charge_point_repository.py
  web/elec/serializers/elec_charge_point.py
  web/elec/services/import_meter_reading_excel.py
  web/elec/services/transport_data_gouv.py
  web/elec/urls.py
  web/elec/views/__init__.py
  web/elec/views/charge_points.py
  web/elec/views/charge_points_applications/__init__.py
  web/elec/views/charge_points_applications/charge_points_applications.py
  web/elec/views/charge_points_applications/mixins/__init__.py
  web/elec/views/charge_points_applications/mixins/accept.py
  web/elec/views/charge_points_applications/mixins/export.py
  web/elec/views/charge_points_applications/mixins/filter.py
  web/elec/views/charge_points_applications/mixins/generate_sample.py
  web/elec/views/charge_points_applications/mixins/get_sample.py
  web/elec/views/charge_points_applications/mixins/reject.py
  web/elec/views/transfert_certificates.py
Due: check-backend

fix: upgrade @sentry/react from 8.30.0 to 8.33.1
  front/package-lock.json
  front/package.json
Due: check-frontend

fix: upgrade @types/node from 18.19.50 to 18.19.54
  front/package-lock.json
  front/package.json
Due: check-frontend

fix: upgrade @types/react from 18.3.9 to 18.3.11
  front/package-lock.json
  front/package.json
Due: check-frontend

fix: upgrade @vitejs/plugin-react from 4.3.1 to 4.3.2
  front/package-lock.json
  front/package.json
Due: check-frontend

fix: upgrade i18next-http-backend from 2.6.1 to 2.6.2
  front/package-lock.json
  front/package.json
Due: check-frontend

fix: fix calculation estimated efficiency
  front/src/double-counting/components/production-table.tsx
Due: check-frontend

feat(certificates): script to scrape redcert certificates
  Pipfile
  Pipfile.lock
  web/certificates/management/__init__.py
  web/certificates/management/commands/__init__.py
  web/certificates/management/commands/get_redcert.py
Due: check-backend

feat(dc): add admin page for history
  web/doublecount/admin.py
Due: check-backend

fix: add logs to debug navigation
  front/src/common/components/navigation/navigation.hooks.ts
  front/src/common/components/navigation/navigation.tsx
Due: check-frontend

feat(certificates): script to scrape redcert certificates
  web/certificates/management/commands/get_redcert.py
Due: check-backend

fix: fix new Map update
  front/src/common/components/navigation/navigation.hooks.ts
  front/src/common/components/navigation/navigation.tsx
Due: check-frontend

feat: hide estimated efficiency
  front/src/double-counting/components/production-table.tsx
Due: check-frontend

feat(certificates): add google chrome and chromedriver to Aptfile
  Aptfile
Due: none

feat(certificates): insall google chrome and chromedriver via sh script
  Aptfile
  Procfile
  bin/install_chrome.sh
Due: none

feat(certificates): insall google chrome and chromedriver via sh script
  Aptfile
  bin/install_chrome.sh
Due: none

refactor: move enable entity helper to its own file
  web/core/admin.py
  web/entity/api/registration/tests_add_company.py
  web/entity/services/enable_entity.py
Due: check-backend

feat(certificates): use custom buildpack to install chrome and chromedriver
  .buildpacks
  Aptfile
  Procfile
  bin/install_chrome.sh
Due: none

feat: show entity enabled status in admin list + filter
  front/src/carbure/types.ts
  front/src/companies-admin/components/entity-summary.tsx
  web/core/models.py
Due: check-backend, check-frontend

feat(certificates): use chromium
  .buildpacks
  Aptfile
Due: none

feat: add readonly state to admin company forms
  front/src/common/molecules/user-rights-table/user-rights-table.tsx
  front/src/companies-admin/components/user-rights.tsx
  front/src/settings/components/company-info.tsx
Due: check-frontend

feat(certificates): use custom buildpack to install chrome and chromedriver
  .buildpacks
  Aptfile
Due: none
