Repository MTES-MCT/carbure: changes, and which GitLab CI jobs are due for each by the changed paths.
All: check-backend, check-frontend

check-backend:
  image: python:3.12
  cache:
  - key:
      files:
      - Pipfile.lock
    paths:
    - .cache/pip/
    - .venv/
  before_script:
  - pip install pipenv
  - pipenv install --dev --deploy --ignore-pipfile
  stage: check
  services:
  - mysql:8.0
  - redis:latest
  script:
  - export CARBURE_HOME=$(pwd)
  ...

check-frontend:
  image: node:latest
  cache:
  - key:
      files:
      - front/package-lock.json
    paths:
    - front/.npm/
  before_script:
  - cd front
  - npm ci --cache .npm --prefer-offline
  stage: check
  script:
  - npm run lint
  - npm run build
  - npx chromatic
  interruptible: true

feat: try to continue migration endpoints
  front/src/transaction-details/api.ts
  front/src/transaction-details/components/lots/actions.tsx
  front/src/transaction-details/components/stocks/index.tsx
  front/src/transactions/actions/split.tsx
  front/src/transactions/api.ts
  front/src/transactions/components/lots/index.tsx
  front/src/transactions/components/stocks/index.tsx
  front/src/transactions/types.ts
Due: check-frontend

fix: fix dev banner style
  front/src/common/layouts/navigation/navigation-layout.module.css
  front/src/common/layouts/navigation/navigation-layout.tsx
  front/src/common/layouts/navigation/private/private-navigation.module.css
Due: check-frontend

fix: allow double counting external admins on dc endpoints
  web/core/models.py
  web/doublecount/api/admin/agreements/agreement_details.py
  web/doublecount/api/admin/agreements/agreements.py
  web/doublecount/api/admin/applications/add.py
  web/doublecount/api/admin/applications/application.py
  web/doublecount/api/admin/applications/applications.py
  web/doublecount/api/admin/applications/approve_application.py
  web/doublecount/api/admin/applications/check_files.py
  web/doublecount/api/admin/applications/export_application.py
  web/doublecount/api/admin/applications/reject_application.py
  web/doublecount/api/admin/applications/update_quotas.py
  web/doublecount/api/admin/snapshot.py
Due: check-backend

feat: show entity admin page to DCA admin
  front/src/carbure/components/top-bar.tsx
  front/src/carbure/index.tsx
Due: check-frontend

feat: show certificates for DC admins
  front/src/companies-admin/components/certificates.tsx
  front/src/companies-admin/components/entity-summary.tsx
  front/src/companies-admin/index.tsx
Due: check-frontend

feat: allow getting certificates for DC admins
  web/entity/api/admin/certificates/certificates.py
  web/entity/api/admin/certificates/check.py
  web/entity/api/admin/certificates/reject.py
Due: check-backend

feat: allow managing entity users for DC admins
  web/entity/api/admin/users/rights_requests.py
  web/entity/api/admin/users/update_right_request.py
  web/entity/api/admin/users/update_user_role.py
Due: check-backend

feat: allow managing producer entities for DC admins
  web/entity/api/admin/create.py
  web/entity/api/admin/details.py
  web/entity/api/admin/entities.py
  web/entity/api/admin/production_sites.py
  web/entity/views/enable_entity.py
Due: check-backend

fix: refacto icon and clean stories
  front/.storybook/preview.tsx
  front/src/common/components/icon/icon.tsx
  front/src/common/layouts/navigation/private/private-navigation.module.css
  front/src/common/layouts/navigation/private/private-navigation.stories.tsx
  front/src/index.tsx
  front/src/setup-dsfr.ts
Due: check-frontend

feat: first version new tabs
  front/src/common/components/tabs.stories.tsx
  front/src/common/components/tabs2/index.ts
  front/src/common/components/tabs2/tabs.hooks.ts
  front/src/common/components/tabs2/tabs.module.css
  front/src/common/components/tabs2/tabs.stories.tsx
  front/src/common/components/tabs2/tabs.tsx
Due: check-frontend

feat: start multiselect
  front/src/common/components/selects2/multiselect/index.ts
  front/src/common/components/selects2/multiselect/multiselect.module.css
  front/src/common/components/selects2/multiselect/multiselect.tsx
Due: check-frontend

feat: continue multiselect
  front/src/common/components/dropdown2/dropdown.tsx
  front/src/common/components/selects2/multiselect/multiselect.module.css
  front/src/common/components/selects2/multiselect/multiselect.stories.tsx
  front/src/common/components/selects2/multiselect/multiselect.tsx
  front/src/common/components/selects2/select/select.module.css
  front/src/common/components/selects2/select/select.tsx
Due: check-frontend

refactor: change translation double count
  front/public/locales/en/translation.json
  front/public/locales/fr/translation.json
  front/src/double-counting/components/production-table.tsx
Due: check-frontend

fix: remove unused class
  front/src/common/components/selects2/multiselect/multiselect.module.css
  front/src/common/components/selects2/multiselect/multiselect.tsx
Due: check-frontend

feat(certifcates): add outscale S3 configuration to upload certs pdf
  web/carbure/settings.py
  web/carbure/storage_backends.py
  web/certificates/management/commands/get_redcert.py
Due: check-backend

feat(certifcates): call new script to get pdf at the end of current redcert script
  web/carbure/scripts/update_redcert_certificates.py
  web/certificates/management/commands/get_redcert_pdf.py
  web/core/utils.py
Due: check-backend

chore: remove type keyword from imports
  front/src/account/components/access-rights.tsx
  front/src/carbure/components/autocomplete-operators.tsx
  front/src/double-counting-admin/components/files-checker/send-application-dialog.tsx
  front/src/lot-add/components/delivery-fields.tsx
  front/src/lot-add/components/lot-form.tsx
  front/src/lot-add/components/production-fields.tsx
  front/src/settings/api/delivery-sites.ts
  front/src/settings/components/delivery-site/delivery-site.tsx
  front/src/transactions/actions/accept.tsx
  front/src/transactions/api.ts
Due: check-frontend

[back] fix enable entity
  web/entity/views/enable_entity.py
Due: check-backend

fix: allow HO* biofuels for MaC
  web/transactions/sanity_checks/general.py
Due: check-backend

feat(certifcates): remove debug
  web/certificates/management/commands/get_redcert_pdf.py
Due: check-backend

feat: add notice component
  front/.storybook/preview.tsx
  front/src/carbure/assets/css/index.css
  front/src/common/components/alert.stories.tsx
  front/src/common/components/icon/icon.tsx
  front/src/common/components/nav-link/index.ts
  front/src/common/components/nav-link/nav-link.module.css
  front/src/common/components/nav-link/nav-link.tsx
  front/src/common/components/notice/index.ts
  front/src/common/components/notice/notice.module.css
  front/src/common/components/notice/notice.stories.tsx
  front/src/common/components/notice/notice.tsx
Due: check-frontend

fix: front/package.json & front/package-lock.json to reduce vulnerabilities
  front/package-lock.json
  front/package.json
Due: check-frontend

fix: saf client endpoint serializer
  api-schema.yaml
  front/src/api-schema.ts
  web/saf/serializers/saf_ticket.py
  web/saf/views/client.py
Due: check-backend, check-frontend

fix: ruff problem
  web/entity/views/enable_entity.py
Due: check-backend

[back] user refactoring
  api-schema.yaml
  docker-compose.yml
  front/src/api-schema.ts
  web/carbure/api/__init__.py
  web/carbure/settings.py
  web/saf/filters/ticket.py
  web/saf/filters/ticket_source.py
  web/user/serializers/__init__.py
  web/user/serializers/request_access_revoke.py
  web/user/serializers/user.py
  web/user/tests/__init__.py
  web/user/tests/tests_user.py
  web/user/urls.py
  web/user/views/__init__.py
  web/user/views/request_access.py
  web/user/views/revoke_access.py
  web/user/views/user.py
Due: check-backend, check-frontend

fix: adapt saf types again
  front/src/common/hooks/query-builder-2.ts
  front/src/saf/pages/airline/api.ts
  front/src/saf/pages/airline/tickets.tsx
  front/src/saf/pages/operator/api.ts
  front/src/saf/pages/operator/ticket-sources/index.tsx
  front/src/saf/pages/operator/tickets/index.tsx
  front/src/saf/types.ts
Due: check-frontend

chore: add shortcut to check types from root folder
  package.json
Due: none

refactor: use typed endpoint for request access endpoint
  front/src/account/api.ts
Due: check-frontend

chore: update api schema
  api-schema.yaml
  front/src/api-schema.ts
Due: check-frontend

chore: add more schema overrides
  front/scripts/overrides-api-schema.ts
Due: check-frontend

fix: adapt serializers
  web/user/serializers/user.py
Due: check-backend

refactor: adapt front to new user endpoints
  front/src/account/api.ts
  front/src/account/components/access-rights.tsx
  front/src/carbure/__test__/data.ts
  front/src/carbure/api.ts
  front/src/carbure/hooks/entity.ts
  front/src/carbure/hooks/user.ts
  front/src/carbure/types.ts
  front/src/carbure/utils/normalizers.ts
  front/src/lot-add/components/lot-form.tsx
  front/src/settings/components/certificates.tsx
  front/src/settings/components/company-options.tsx
  front/src/settings/components/user-rights/user-rights.tsx
  front/src/transactions/actions/split.tsx
Due: check-frontend

feat(tiruert): add a new matiere premiere category and change saved_ghg calculation
  web/core/models.py
  web/tiruert/models/operation.py
Due: check-backend

feat(sites): rename 'PRODUCTION SITE' to 'PRODUCTION BIOLIQUID'
  web/entity/api/production_sites/add.py
  web/fixtures/json/productionsites.json
  web/resources/tests/tests_resources.py
  web/transactions/migrations/0008_alter_site_site_type.py
  web/transactions/models/production_site.py
  web/transactions/models/site.py
Due: check-backend

hotfix(deployment): comment django migration for now
  bin/post_deploy.sh
Due: none

fix: do not make revoke access linked to a specific entity
  web/user/views/revoke_access.py
Due: check-backend

chore: cleanup commented code
  front/src/carbure/types.ts
Due: check-frontend

chore: remove useless bangs
  front/src/account/components/access-rights.tsx
  front/src/settings/components/user-rights/user-rights.tsx
Due: check-frontend

feat(dc): add empty values for history not to block submission
  web/doublecount/helpers.py
Due: check-backend

Path conditions:
  check-backend: any of: web/**/*, .gitlab-ci.yml
  check-frontend: any of: front/**/*, .gitlab-ci.yml
