Repository MTES-MCT/carbure: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-ci-image, check-backend, check-frontend

build-ci-image:
  stage: prepare
  image: docker:stable
  services:
  - docker:dind
  script:
  - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
  - docker build -f ci/Dockerfile -t $CI_REGISTRY/$CI_PROJECT_PATH/ci-image:latest .
  - docker push $CI_REGISTRY/$CI_PROJECT_PATH/ci-image:latest

check-backend:
  image: $CI_REGISTRY/$CI_PROJECT_PATH/ci-image:latest
  before_script:
  - mv /app/front/node_modules ./front
  stage: check
  services:
  - mysql:8.0
  - redis:latest
  script:
  - export CARBURE_HOME=$(pwd)
  - export DATABASE_URL=mysql://root:$MYSQL_ROOT_PASSWORD@mysql:3306/$MYSQL_DATABASE
  ...

check-frontend:
  image: $CI_REGISTRY/$CI_PROJECT_PATH/ci-image:latest
  before_script:
  - mv /app/front/node_modules ./front
  stage: check
  script:
  - cd front
  - npx eslint --ext .ts,.tsx src/
  - npm test

[front] start fixing the delivery site creation
  front/src/settings/components/delivery-site/delivery-site-dialog.tsx
  front/src/settings/components/delivery-site/delivery-site.const.ts
Due: check-frontend

[back] Adapt code and tests to new model fields.
  web/elec/api/cpo/charge_points/add_application.py
  web/elec/api/cpo/charge_points/tests_charge_points.py
  web/elec/api/cpo/meter_readings/tests_meter_readings.py
  web/elec/services/import_charge_point_excel.py
  web/elec/services/import_meter_reading_excel.py
Due: check-backend

[front] refacto list-query and list-query-params-store in elec-audit-admin
  front/src/elec-audit-admin/components/charge-points/list-query-params-store.ts
  front/src/elec-audit-admin/components/charge-points/list-query.ts
  front/src/elec-audit-admin/components/charge-points/list.tsx
  front/src/elec-audit-admin/components/charge-points/page-title.ts
  front/src/elec-audit-admin/components/list-query-params-store.ts
  front/src/elec-audit-admin/components/list-query.ts
  front/src/elec-audit-admin/components/meter-readings/list.tsx
  front/src/elec-audit-admin/components/meter-readings/page-title.ts
Due: check-frontend

[back] Rename migrations because of conflicts
  web/elec/migrations/0040_elecmeter_elecchargepoint_current_meter_and_more.py
  web/elec/migrations/0041_move_data_in_meter_table.py
  web/elec/migrations/0042_remove_elecchargepoint_measure_date_and_more.py
Due: check-backend

[front] refacto useQueryBuilder for elec
  front/public/locales/fr/translation.json
  front/src/common/hooks/query-builder.ts
  front/src/elec-admin/components/provision-certificates/list.tsx
  front/src/elec-admin/components/transfer-certificate/list.tsx
  front/src/elec-admin/hooks/provision-certificates-query.ts
  front/src/elec-admin/hooks/transfer-certificates-query.ts
  front/src/elec-audit-admin/components/charge-points/list.tsx
  front/src/elec-audit-admin/components/list-query.ts
  front/src/elec-audit-admin/components/meter-readings/list.tsx
  front/src/elec-auditor/api.ts
  front/src/elec-auditor/components/list-query-params-store.ts
  front/src/elec-auditor/components/list-query.ts
  front/src/elec-auditor/components/list.tsx
  front/src/elec-auditor/types.ts
Due: check-frontend

[front] export page-title from useStore
  front/src/elec-admin/components/provision-certificates/list.tsx
  front/src/elec-admin/components/provision-certificates/page-title.ts
  front/src/elec-admin/components/transfer-certificate/list.tsx
  front/src/elec-admin/components/transfer-certificate/page-title.ts
  front/src/elec-admin/hooks/provision-certificate-query-params-store.ts
  front/src/elec-admin/hooks/transfer-certificate-query-params-store.ts
Due: check-frontend

[back] Add validations on depot_type param
  web/core/models.py
  web/entity/api/depots/create.py
  web/entity/serializers/depot.py
Due: check-backend

[Vscode] Remove black background header
  Back.code-workspace
Due: none

[back] Add new post_compile to compile translations on deploy, and small files reorganization
  Procfile
  bin/post_compile
  bin/post_deploy.sh
  web/Dockerfile
  web/entrypoint.sh
Due: check-backend

[back] Change EN text to FR text by default
  web/core/admin.py
  web/locale/en/LC_MESSAGES/django.po
Due: check-backend

[back] fix to get 'nom_raison_sociale' via search_company api
  web/entity/api/registration/search_company.py
Due: check-backend

Add gettext to Aptfile for django translation
  Aptfile
Due: none

remove pythonpath definition
  bin/post_compile
Due: none

add scalingo apt-buildpack
  .buildpacks
Due: none

[front] format SnapshotType and FilterSelectionType
  front/src/common/hooks/query-builder.ts
  front/src/elec-admin/components/provision-certificates/list.tsx
  front/src/elec-admin/components/transfer-certificate/list.tsx
  front/src/elec-admin/hooks/provision-certificate-query-params-store.ts
  front/src/elec-admin/types.ts
  front/src/elec-audit-admin/components/charge-points/list.tsx
  front/src/elec-audit-admin/components/charge-points/page-title.ts
  front/src/elec-audit-admin/components/list-query-params-store.ts
  front/src/elec-audit-admin/components/meter-readings/list.tsx
  front/src/elec-audit-admin/types.ts
  front/src/elec-auditor/components/list-query-params-store.ts
  front/src/elec-auditor/components/list.tsx
  front/src/elec-auditor/types.ts
Due: check-frontend

[front] refacto useCBQueryParamsStore on elec-audit-admin
  front/src/common/hooks/query-builder.ts
  front/src/elec-admin/api.ts
  front/src/elec-admin/components/provision-certificates/list.tsx
  front/src/elec-admin/components/transfer-certificate/list.tsx
  front/src/elec-admin/hooks/provision-certificate-query-params-store.ts
  front/src/elec-admin/types.ts
  front/src/elec-audit-admin/api.ts
  front/src/elec-audit-admin/components/charge-points/list.tsx
  front/src/elec-audit-admin/components/charge-points/page-title.ts
  front/src/elec-audit-admin/components/list-filters.tsx
  front/src/elec-audit-admin/components/list-query-params-store.ts
  front/src/elec-audit-admin/components/meter-readings/list.tsx
  front/src/elec-audit-admin/components/meter-readings/page-title.ts
  front/src/elec-audit-admin/types.ts
  front/src/elec-auditor/components/list-filters.tsx
  front/src/elec-auditor/components/list-query-params-store.ts
  front/src/elec-auditor/components/list.tsx
  front/src/elec-auditor/types.ts
Due: check-frontend

[front] create filter-selec molecule
  front/src/common/molecules/filter-select.tsx
  front/src/elec-audit-admin/api.ts
  front/src/elec-audit-admin/components/charge-points/list.tsx
  front/src/elec-audit-admin/components/meter-readings/list.tsx
  front/src/elec-audit-admin/components/status-switcher.tsx
Due: check-frontend

[front] clean elec folders after hook factorisation
  front/src/common/hooks/query-builder.ts
  front/src/common/molecules/filter-select.tsx
  front/src/elec-admin/api.ts
  front/src/elec-admin/hooks/provision-certificate-query-params-store.ts
  front/src/elec-admin/types.ts
  front/src/elec-audit-admin/api.ts
  front/src/elec-audit-admin/components/meter-readings/list.tsx
  front/src/elec-audit-admin/types.ts
  front/src/elec-auditor/api.ts
  front/src/elec-auditor/components/filter-search-params.tsx
  front/src/elec-auditor/components/list-filters.tsx
  front/src/elec-auditor/components/list-query-params-store.ts
  front/src/elec-auditor/components/list.tsx
  front/src/elec-auditor/types.ts
  front/src/elec/api-cpo.ts
  front/src/elec/api-operator.ts
  front/src/elec/components/charge-points/settings.tsx
  front/src/elec/components/provision-certificates/filters.tsx
  front/src/elec/components/provision-certificates/list.tsx
  front/src/elec/components/transfer-certificates/filters.tsx
  front/src/elec/components/transfer-certificates/list-cpo.tsx
  front/src/elec/components/transfer-certificates/list-operator.tsx
  front/src/elec/hooks/provision-certificate-filter-search-params.tsx
  front/src/elec/hooks/provision-certificate-query-params-store.ts
  front/src/elec/hooks/provision-certificates-query.ts
  front/src/elec/hooks/transfer-certificate-filter-search-params.tsx
  front/src/elec/hooks/transfer-certificate-query-params-store.ts
  front/src/elec/hooks/transfer-certificates-query.ts
  front/src/elec/types-cpo.ts
  front/src/elec/types-operator.ts
  front/src/elec/types.ts
Due: check-frontend

[back] add endpoints to get cp details, to update cp and to get all meters of one cp
  web/elec/api/cpo/__init__.py
  web/elec/api/cpo/charge_points/__init__.py
  web/elec/api/cpo/charge_points/charge_point_details.py
  web/elec/api/cpo/charge_points/update_charge_point.py
  web/elec/api/cpo/meters/__init__.py
  web/elec/api/cpo/meters/meters.py
  web/elec/serializers/elec_charge_point.py
  web/elec/serializers/elec_meter.py
Due: check-backend

[back] add filters for PDC tab
  web/elec/api/cpo/__init__.py
  web/elec/api/cpo/certificate_snapshot.py
  web/elec/api/cpo/certificate_years.py
  web/elec/api/cpo/charge_point_snapshot.py
  web/elec/api/cpo/charge_point_years.py
  web/elec/api/cpo/charge_points/__init__.py
  web/elec/api/cpo/charge_points/applications.py
  web/elec/api/cpo/charge_points/charge_points.py
  web/elec/api/cpo/charge_points/filters.py
  web/elec/api/cpo/charge_points/tests_charge_points.py
  web/elec/api/cpo/meter_readings/applications.py
  web/elec/api/cpo/meter_readings/tests_meter_readings.py
  web/elec/api/cpo/tests_cpo.py
Due: check-backend

typo
  web/elec/api/cpo/charge_points/__init__.py
Due: check-backend

Path conditions:
  build-ci-image: any of: ci/Dockerfile, Pipfile, Pipfile.lock, front/package.json, front/package-lock.json
  check-backend: any of: web/**/*
  check-frontend: any of: front/**/*
