Repository MTES-MCT/carbure: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-ci-image, check-backend, check-frontend

.gitlab-ci.yml:

stages:
  - prepare
  - check
  - deploy

variables:
  MYSQL_DATABASE: carbure_mysql_test_db
  MYSQL_ROOT_PASSWORD: carbure_mysql_ci_db_password

# use prebuild CI image when running checks
.checks:
  image: $CI_REGISTRY/$CI_PROJECT_PATH/ci-image:latest
  before_script:
    - mv /app/front/node_modules ./front

# prepare git env to push new code to scalingo
.scalingo:
  image: alpine:latest
  before_script:
    - mkdir ~/.ssh
    - apk add --update git openssh-client
    - eval $(ssh-agent -s)
    - echo "$SCALINGO_SSH_PRIVATE_KEY" | tr -d '\r' | ssh-add -
    - ssh-keyscan $SCALINGO_SSH_HOST >> ~/.ssh/known_hosts
    - chmod 644 ~/.ssh/known_hosts
    - git config user.name $GIT_USER_NAME
    - git config user.email $GIT_USER_EMAIL
    - git remote add scalingo-dev $SCALINGO_GIT_REMOTE_DEV || true
    - git remote add scalingo-staging $SCALINGO_GIT_REMOTE_STAGING || true
    - git remote add scalingo-prod $SCALINGO_GIT_REMOTE_PROD || true
    - git fetch origin $CI_COMMIT_BRANCH --unshallow
    - git checkout $CI_COMMIT_BRANCH

build-ci-image:
  stage: prepare
  image: docker:stable
  services:
    - docker:dind
  script:
    - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
    - docker build -f ci/Dockerfile -t $CI_REGISTRY/$CI_PROJECT_PATH/ci-image:latest .
    - docker push $CI_REGISTRY/$CI_PROJECT_PATH/ci-image:latest
  only:
    changes:
      - ci/Dockerfile
      - Pipfile
      - Pipfile.lock
      - front/package.json
      - front/package-lock.json

check-backend:
  stage: check
  extends: .checks
  services:
    - mysql:8.0
    - redis:latest
  script:
    - export CARBURE_HOME=$(pwd)
    - export DATABASE_URL=mysql://root:$MYSQL_ROOT_PASSWORD@mysql:3306/$MYSQL_DATABASE
    - export REDIS_URL=redis://redis:6379
    - mypy web || true
    - TEST=1 python3 web/manage.py test web
  only:
    refs:
      - dev
      - master
    changes:
      - web/**/*

check-frontend:
  stage: check
  extends: .checks
  script:
    - cd front
    - npx eslint --ext .ts,.tsx src/
    - npm test
  only:
    refs:
      - dev
      - master
    changes:
      - front/**/*

deploy-dev:
  stage: deploy
  extends: .scalingo
  only:
    - dev
  script:
    - git push scalingo-dev $CI_COMMIT_BRANCH:master -f

deploy-staging:
  stage: deploy
  extends: .scalingo
  only:
    - master
  script:
    - git push scalingo-staging master -f

deploy-prod:
  stage: deploy
  extends: .scalingo
  when: manual
  only:
    - master
  script:
    - git push scalingo-prod master -f

[migration] fix ticket models
  web/saf/migrations/0004_alter_safticketsource_options_and_more.py
  web/saf/migrations/0005_alter_safticket_agreement_date.py
  web/saf/models/saf_ticket.py
Due: check-backend

[api] add saf/ticket-sources endpoint
  web/api/v5/saf/__init__.py
  web/api/v5/saf/tests_ticket_sources.py
  web/api/v5/saf/ticket_sources.py
  web/saf/serializers/__init__.py
  web/saf/serializers/saf_ticket.py
  web/saf/serializers/saf_ticket_source.py
Due: check-backend

[api] put tests in their own folder again
  web/api/v5/saf/tests/tests_snapshot.py
  web/api/v5/saf/tests/tests_ticket_sources.py
  web/api/v5/saf/tests/tests_years.py
  web/api/v5/saf/ticket_sources.py
Due: check-backend

[db] rename added_by field into supplier for saf ticket model
  web/saf/admin.py
  web/saf/factories/saf_ticket.py
  web/saf/migrations/0006_alter_safticket_agreement_reference.py
  web/saf/migrations/0007_rename_added_by_safticket_supplier.py
  web/saf/models/saf_ticket.py
Due: check-backend

[test] cleanup
  web/api/v5/saf/tests/tests_ticket_sources.py
Due: check-backend

[api] add saf/tickets endpoint
  web/api/v5/saf/__init__.py
  web/api/v5/saf/tests/__init__.py
  web/api/v5/saf/tests/tests_tickets.py
  web/api/v5/saf/tickets.py
  web/saf/serializers/saf_ticket.py
Due: check-backend

[api] cleanup
  web/api/v5/saf/snapshot.py
  web/api/v5/saf/tests/tests_ticket_sources.py
  web/api/v5/saf/tests/tests_tickets.py
  web/api/v5/saf/ticket_sources.py
  web/api/v5/saf/tickets.py
  web/api/v5/saf/years.py
  web/saf/migrations/0008_alter_safticket_parent_ticket_source.py
  web/saf/models/saf_ticket.py
Due: check-backend

[api] add saf/ticket-sources/details endpoint
  web/api/v5/saf/__init__.py
  web/api/v5/saf/tests/tests_ticket_source_details.py
  web/api/v5/saf/ticket_source_details.py
  web/core/serializers.py
  web/saf/serializers/saf_ticket_source.py
Due: check-backend

[api] cleanup
  web/api/v5/saf/snapshot.py
  web/api/v5/saf/ticket_source_details.py
  web/api/v5/saf/ticket_sources.py
  web/api/v5/saf/tickets.py
Due: check-backend

[api] add saf/tickets/details endpoint
  web/api/v5/saf/__init__.py
  web/api/v5/saf/tests/tests_ticket_details.py
  web/api/v5/saf/ticket_details.py
  web/api/v5/saf/ticket_source_details.py
  web/saf/serializers/saf_ticket.py
  web/saf/serializers/saf_ticket_source.py
Due: check-backend

[front] dgac - tciket source fix review
  front/src/saf/api.ts
  front/src/saf/components/ticket-source-details/index.tsx
Due: check-frontend

[front] dgac create ticket assignment modal
  front/src/saf/api.ts
  front/src/saf/components/ticket-source-details/assignment.tsx
  front/src/saf/components/ticket-source-details/index.tsx
Due: check-frontend

[front] dgac - operator - improve assignment form
  front/src/saf/components/ticket-source-details/assignment.tsx
Due: check-frontend

[front] dgac - operator - link api + assignment ok
  front/src/common/components/form.tsx
  front/src/common/components/input.tsx
  front/src/saf/__test__/data.ts
  front/src/saf/api.ts
  front/src/saf/components/ticket-source-details/assignment.tsx
  front/src/saf/components/ticket-source-details/index.tsx
  front/src/saf/components/ticket-sources/index.tsx
  front/src/saf/components/ticket-sources/table.tsx
  front/src/saf/index.tsx
  front/src/saf/types.ts
  web/api/v5/saf/snapshot.py
  web/api/v5/saf/ticket_sources.py
  web/api/v5/saf/years.py
Due: check-backend, check-frontend

[front+api] fix dc sanity checks and add new kinds of errors
  front/public/locales/en/translation.json
  front/public/locales/fr/translation.json
  front/src/doublecount/types.ts
  front/src/settings/utils/double-counting.ts
  web/doublecount/dc_sanity_checks.py
Due: check-backend, check-frontend

[front] fix dc tests
  front/src/settings/__test__/data.ts
  front/src/settings/__test__/double-counting.spec.tsx
Due: check-frontend

[front] dgac - operator - show ticket detail and cancel ticket
  front/src/saf/__test__/api.ts
  front/src/saf/__test__/data.ts
  front/src/saf/api.ts
  front/src/saf/components/durability-fields.tsx
  front/src/saf/components/no-result.tsx
  front/src/saf/components/ticket-details/cancel-assignment.tsx
  front/src/saf/components/ticket-details/fields.tsx
  front/src/saf/components/ticket-details/index.tsx
  front/src/saf/components/ticket-source-details/assignment.tsx
  front/src/saf/components/ticket-source-details/index.tsx
  front/src/saf/components/ticket-sources/index.tsx
  front/src/saf/components/tickets/index.tsx
  front/src/saf/types.ts
Due: check-frontend

[api] add parent_lot preview in ticket source details
  web/core/serializers.py
  web/saf/serializers/saf_ticket_source.py
Due: check-backend

[api] cleanup
  web/api/v5/saf/snapshot.py
  web/api/v5/saf/ticket_sources.py
Due: check-backend

[api] automatically create ticket sources when lots are declared
  web/api/v4/views.py
  web/carbure/tasks.py
  web/saf/models/saf_ticket_source.py
  web/saf/scripts/create_ticket_sources_from_declared_lots.py
Due: check-backend

[api] fix tests
  web/api/v5/saf/tests/tests_snapshot.py
  web/api/v5/saf/tests/tests_ticket_source_details.py
  web/api/v5/saf/tests/tests_years.py
  web/api/v5/saf/years.py
Due: check-backend

[api] rename some errors
  web/api/v5/saf/snapshot.py
  web/api/v5/saf/tests/tests_snapshot.py
  web/api/v5/saf/ticket_details.py
  web/api/v5/saf/ticket_source_details.py
  web/api/v5/saf/ticket_sources.py
  web/api/v5/saf/tickets.py
Due: check-backend

[api] add endpoint to create tickets from sources
  web/api/v5/saf/__init__.py
  web/api/v5/saf/assign_ticket.py
  web/api/v5/saf/tests/tests_assign_ticket.py
  web/saf/models/saf_ticket.py
Due: check-backend

[api] cleanup
  web/api/v5/saf/snapshot.py
Due: check-backend
