Repository MTES-MCT/carbure: changes, and which GitLab CI jobs are due for each by the changed paths.
All: check-backend, check-frontend

check-backend:
  image: python:3.12
  cache:
  - key:
      files:
      - Pipfile.lock
    paths:
    - .cache/pip/
    - .venv/
  before_script:
  - pip install pipenv
  - pipenv install --dev --deploy --ignore-pipfile
  stage: check
  services:
  - mysql:8.0
  - redis:latest
  script:
  - export CARBURE_HOME=$(pwd)
  ...

check-frontend:
  image: node:latest
  cache:
  - key:
      files:
      - front/package-lock.json
    paths:
    - front/.npm/
  before_script:
  - cd front
  - npm ci --cache .npm --prefer-offline
  stage: check
  script:
  - npm run lint
  - npm run build
  - npx chromatic
  interruptible: true

refactor: add sorts on operation table
  api-schema.yaml
  front/src/accounting/api/operations.ts
  front/src/accounting/pages/operations/biofuels/operations.hooks.tsx
  front/src/accounting/pages/operations/biofuels/operations.tsx
  front/src/accounting/pages/operations/biofuels/operations.utils.ts
  front/src/accounting/pages/operations/biofuels/pages/operation-detail/operation-detail.tsx
  front/src/accounting/types.ts
  front/src/api-schema.ts
  web/tiruert/views/operation/mixins/filter.py
Due: check-backend, check-frontend

refactor: simplify how to compose form steps inside tiruert
  front/src/accounting/components/recipient-form/api.ts
  front/src/accounting/components/recipient-form/index.ts
  front/src/accounting/components/recipient-form/recipient-form.tsx
  front/src/accounting/components/recipient-to-depot-form/index.ts
  front/src/accounting/components/recipient-to-depot-form/recipient-to-depot-form.tsx
  front/src/accounting/components/to-depot-form/index.ts
  front/src/accounting/components/to-depot-form/to-depot-form.tsx
  front/src/accounting/pages/balances/biofuels/biofuels.hooks.tsx
  front/src/accounting/pages/balances/biofuels/biofuels.tsx
  front/src/accounting/pages/balances/biofuels/debit-operation-dialog/cession-dialog/cession-dialog.tsx
  front/src/accounting/pages/balances/biofuels/debit-operation-dialog/cession-dialog/from-depot-recipient-to-depot-form/from-depot-recipient-to-depot-form.tsx
  front/src/accounting/pages/balances/biofuels/debit-operation-dialog/exportation-dialog/country-form.tsx
  front/src/accounting/pages/balances/biofuels/debit-operation-dialog/exportation-dialog/exportation-dialog.hooks.ts
  front/src/accounting/pages/balances/biofuels/debit-operation-dialog/transfert-dialog/transfert-dialog.hooks.ts
  front/src/accounting/pages/balances/biofuels/debit-operation-dialog/transfert-dialog/transfert-dialog.tsx
  front/src/accounting/pages/balances/biofuels/debit-operation-dialog/transfert-dialog/transfert-dialog.types.ts
  front/src/common/hooks/query-builder-2.ts
  front/src/index.tsx
Due: check-frontend

feat: setup transfert dialog
  front/src/accounting/components/ghg-range-form/ghg-range-form.tsx
  front/src/accounting/components/ghg-range-form/index.ts
  front/src/accounting/components/quantity-form/quantity-form.hooks.ts
  front/src/accounting/components/quantity-form/quantity-form.utils.ts
  front/src/accounting/pages/balances/biofuels/debit-operation-dialog/debit-operation-dialog.tsx
  front/src/accounting/pages/balances/biofuels/debit-operation-dialog/transfert-dialog/ghg-range-form/ghg-range-form.tsx
  front/src/accounting/pages/balances/biofuels/debit-operation-dialog/transfert-dialog/ghg-range-form/ghg-range-form.types.ts
  front/src/accounting/pages/balances/biofuels/debit-operation-dialog/transfert-dialog/ghg-range-form/index.ts
  front/src/accounting/pages/balances/biofuels/debit-operation-dialog/transfert-dialog/index.ts
  front/src/accounting/pages/balances/biofuels/debit-operation-dialog/transfert-dialog/transfert-dialog.hooks.ts
  front/src/accounting/pages/balances/biofuels/debit-operation-dialog/transfert-dialog/transfert-dialog.tsx
  front/src/accounting/pages/balances/biofuels/debit-operation-dialog/transfert-dialog/transfert-dialog.types.ts
  front/src/accounting/utils/formatters.ts
  front/src/common/components/inputs2/double-range/double-range.tsx
Due: check-frontend

feat(tiruert): fix when no depots available (transfert issue)
  web/tiruert/services/balance.py
Due: check-backend

refactor: add sorts on operation table
  api-schema.yaml
  front/src/accounting/api/operations.ts
  front/src/accounting/pages/operations/biofuels/operations.hooks.tsx
  front/src/accounting/pages/operations/biofuels/operations.tsx
  front/src/accounting/pages/operations/biofuels/operations.utils.ts
  front/src/accounting/pages/operations/biofuels/pages/operation-detail/operation-detail.tsx
  front/src/accounting/types.ts
  front/src/api-schema.ts
Due: check-frontend

fix(tiruert): in filter, ACQUISITION type has to be CREDIT not DEBIT
  web/tiruert/filters/operation.py
  web/tiruert/views/operation/mixins/filter.py
  web/tiruert/views/operation/operation.py
Due: check-backend

refactor: make radio read only
  front/src/common/components/inputs2/radio/radio.module.css
  front/src/common/components/inputs2/radio/radio.stories.tsx
  front/src/common/components/inputs2/radio/radio.tsx
  front/src/common/components/inputs2/text/text-input.stories.tsx
  front/src/common/components/scaffold.module.css
  front/src/common/components/scaffold.tsx
  front/src/double-counting/components/application-checker/valid-details-dialog.tsx
  front/src/double-counting/components/applications/application-tabs/production-site-recap.tsx
Due: check-frontend

feat: add tag autocomplete component
  front/package-lock.json
  front/package.json
  front/src/common/components/tag-autocomplete2/tag-autocomplete.module.css
  front/src/common/components/tag-autocomplete2/tag-autocomplete.stories.tsx
  front/src/common/components/tag-autocomplete2/tag-autocomplete.tsx
  front/src/common/components/tag2/index.ts
  front/src/common/components/tag2/tags-group.module.css
  front/src/common/components/tag2/tags-group.tsx
Due: check-frontend

refacto: start new page double count
  front/src/common/components/tabs2/tabs.tsx
  front/src/common/hooks/routes.ts
  front/src/common/index.tsx
  front/src/common/layouts/navigation/private/sidebar/hooks/useDoubleCount.ts
  front/src/common/layouts/navigation/private/sidebar/sidebar.hooks.ts
  front/src/common/utils/routes.ts
  front/src/double-counting/components/application-status.tsx
  front/src/double-counting/double-counting.hooks.tsx
  front/src/double-counting/double-counting.tsx
  front/src/double-counting/index.ts
  front/src/double-counting/types.ts
  front/src/double-counting/utils.ts
Due: check-frontend

feat: start refacto admin DC
  front/src/common/components/dialog2/dialog.module.css
  front/src/common/components/notice/notice.module.css
  front/src/double-counting-admin/components/agreements/agreement-list.tsx
  front/src/double-counting-admin/components/applications/application-details-dialog/application-details-dialog.tsx
  front/src/double-counting-admin/components/applications/application-list.tsx
  front/src/double-counting-admin/components/files-checker/upload-button.tsx
  front/src/double-counting-admin/filters.tsx
  front/src/double-counting/components/application-checker/industrial-waste-alert.tsx
  front/src/double-counting/components/application-checker/valid-details-dialog.tsx
  front/src/double-counting/components/applications/application-tabs/application-tabs.tsx
  front/src/double-counting/components/files-table.tsx
  front/src/double-counting/components/production-table.tsx
  front/src/double-counting/components/send-application-dialog.tsx
  front/src/double-counting/components/upload-dialog.tsx
  front/src/saf/pages/operator/pages/ticket-sources/table.tsx
Due: check-frontend

refacto: continue refacto DC application
  front/src/common/components/inputs2/radio/radio.stories.tsx
  front/src/common/components/inputs2/radio/radio.tsx
  front/src/double-counting-admin/components/applications/application-info.tsx
  front/src/double-counting-admin/components/applications/application-tabs.tsx
  front/src/double-counting/components/application-details-dialog.tsx
  front/src/settings/components/production-site-dialog.tsx
Due: check-frontend

refactor: refacto radio/grid
  front/src/common/components/inputs2/radio/radio.tsx
  front/src/common/components/scaffold.tsx
  front/src/common/utils/normalizers.ts
  front/src/double-counting/components/applications/application-tabs/production-site-recap.tsx
Due: check-frontend

refactor: refacto tag autocomplete
  front/src/common/components/tag-autocomplete2/tag-autocomplete.module.css
  front/src/common/components/tag-autocomplete2/tag-autocomplete.tsx
Due: check-frontend

refacto(double count agreement details dialog)
  front/src/common/components/dialog2/dialog.module.css
  front/src/common/components/dialog2/dialog.tsx
  front/src/common/components/icon/icon.tsx
  front/src/common/components/scaffold.module.css
  front/src/common/components/scaffold.tsx
  front/src/common/components/tabs2/tabs.stories.tsx
  front/src/common/components/tabs2/tabs.tsx
  front/src/double-counting-admin/components/agreements/agreement-status.tsx
  front/src/double-counting/components/agreement-details-dialog.tsx
  front/src/double-counting/components/production-table.tsx
  front/src/double-counting/components/quotas-table.tsx
  front/src/double-counting/components/sourcing-table.tsx
  front/src/double-counting/components/year-table.tsx
  front/src/double-counting/double-counting.hooks.tsx
  front/src/double-counting/double-counting.tsx
Due: check-frontend

refactor: continue refacto double count
  front/src/common/components/inputs2/file/base-file-input.module.css
  front/src/common/components/inputs2/file/base-file-input.tsx
  front/src/common/components/inputs2/file/file-input/file-input.tsx
  front/src/common/components/tabs2/tabs.module.css
  front/src/common/components/tag-autocomplete2/field/field.module.css
  front/src/common/components/tag-autocomplete2/field/field.tsx
  front/src/common/components/tag-autocomplete2/index.ts
  front/src/common/components/tag-autocomplete2/tag-autocomplete.hooks.ts
  front/src/common/components/tag-autocomplete2/tag-autocomplete.tsx
  front/src/double-counting/components/agreement-details-dialog.tsx
  front/src/double-counting/components/application-checker/errors-details-dialog.tsx
  front/src/double-counting/components/applications/application-tabs/production-site-recap.tsx
  front/src/double-counting/components/upload-dialog.tsx
  front/src/double-counting/double-counting.tsx
  front/src/settings/index.tsx
Due: check-frontend

refactor: terminate refacto producer DC
  front/src/common/components/dialog2/dialog.module.css
  front/src/common/components/inputs2/checkbox/checkbox.tsx
  front/src/common/components/inputs2/file/base-file-input.tsx
  front/src/common/components/inputs2/input.tsx
  front/src/common/components/inputs2/radio/radio.tsx
  front/src/common/components/notice/notice.stories.tsx
  front/src/common/components/tabs2/tabs.module.css
  front/src/common/components/tabs2/tabs.stories.tsx
  front/src/double-counting-admin/components/files-checker/file-application-info.tsx
  front/src/double-counting-admin/components/files-checker/send-application-dialog.tsx
  front/src/double-counting/components/application-checker/errors-details-dialog.tsx
  front/src/double-counting/components/application-checker/industrial-waste-alert.tsx
  front/src/double-counting/components/application-checker/valid-details-dialog.tsx
  front/src/double-counting/components/send-application-dialog.tsx
  front/src/saf/pages/airline/pages/tickets/ticket-details/accept-assignment.tsx
Due: check-frontend

feat(ds): terminate clean file input
  front/src/common/components/inputs2/file/base-file-input.module.css
  front/src/common/components/inputs2/file/base-file-input.tsx
  front/src/common/components/inputs2/file/file-input/file-input.stories.tsx
  front/src/common/components/inputs2/file/file-input/file-input.tsx
  front/src/common/components/inputs2/file/file-list-input/file-list-input.stories.tsx
  front/src/common/components/inputs2/file/file-list-input/file-list-input.tsx
Due: check-frontend

start refacto file upload
  front/src/common/components/inputs2/field/field.module.css
  front/src/common/components/inputs2/field/field.tsx
  front/src/common/components/inputs2/field/index.ts
  front/src/common/components/inputs2/file/base-file-input.tsx
  front/src/common/components/tag-autocomplete2/tag-autocomplete.tsx
Due: check-frontend

refactor: refacto admin DC
  front/src/double-counting-admin/components/agreements/agreement-details-dialog.tsx
  front/src/double-counting-admin/components/agreements/agreement-list.tsx
  front/src/double-counting-admin/components/applications/application-info.tsx
  front/src/double-counting-admin/components/files-checker/files-checker-dialog.tsx
  front/src/double-counting-admin/components/files-checker/index.tsx
  front/src/double-counting-admin/components/generate-decision-dialog/generate-decision-dialog.tsx
Due: check-frontend

refactor: move components + change UI radios
  front/src/common/components/icon/icon.tsx
  front/src/common/components/inputs2/radio/radio.module.css
  front/src/common/components/inputs2/radio/radio.tsx
  front/src/common/components/scaffold.module.css
  front/src/common/components/scaffold.tsx
  front/src/common/components/tabs2/tabs.tsx
  front/src/double-counting-admin/components/applications/application-details-dialog/application-details-dialog.tsx
  front/src/double-counting/components/agreement-details-dialog.tsx
  front/src/double-counting/components/application-details-dialog.tsx
  front/src/double-counting/components/applications/application-tabs/application-tabs.tsx
  front/src/double-counting/components/applications/application-tabs/index.ts
  front/src/double-counting/components/applications/application-tabs/production-site-recap.tsx
  front/src/double-counting/double-counting.hooks.tsx
  front/src/double-counting/double-counting.tsx
  front/src/settings/components/production-site-dialog.tsx
Due: check-frontend

feat: setup tag autocomplete
  front/src/common/components/tabs2/tabs.module.css
  front/src/common/components/tabs2/tabs.tsx
  front/src/common/components/tag-autocomplete2/field/field.module.css
  front/src/common/components/tag-autocomplete2/field/field.tsx
  front/src/common/components/tag-autocomplete2/field/index.ts
  front/src/common/components/tag-autocomplete2/tag-autocomplete.hooks.ts
  front/src/common/components/tag-autocomplete2/tag-autocomplete.module.css
  front/src/common/components/tag-autocomplete2/tag-autocomplete.stories.tsx
  front/src/common/components/tag-autocomplete2/tag-autocomplete.tsx
  front/src/double-counting/components/applications/application-tabs/application-tabs.tsx
  front/src/double-counting/components/applications/application-tabs/production-site-recap.tsx
Due: check-frontend

refactor: terminate check all files DC
  front/src/double-counting-admin/components/agreements/agreement-details-dialog.tsx
  front/src/double-counting-admin/components/applications/application-details-dialog/application-details-dialog-validate-quotas.tsx
  front/src/double-counting-admin/components/applications/application-info.tsx
  front/src/double-counting-admin/components/files-checker/file-application-info.tsx
  front/src/double-counting-admin/components/files-checker/files-checker-dialog.tsx
  front/src/double-counting-admin/components/generate-decision-dialog/generate-decision-dialog.tsx
  front/src/double-counting/components/agreement-public-list.tsx
  front/src/double-counting/components/application-checker/double-count-period.tsx
  front/src/double-counting/components/application-checker/errors-details-dialog.tsx
  front/src/double-counting/components/application-checker/valid-details-dialog.tsx
  front/src/double-counting/components/send-application-dialog.tsx
Due: check-frontend

refactor: simplify icon usage
  front/public/locales/en/translation.json
  front/public/locales/fr/translation.json
  front/src/accounting/layouts/operations-balances-layout.tsx
  front/src/common/components/notice/notice.tsx
  front/src/common/components/tabs2/tabs.tsx
  front/src/double-counting-admin/components/files-checker/file-application-info.tsx
  front/src/double-counting/components/agreement-details-dialog.tsx
  front/src/double-counting/components/application-checker/errors-details-dialog.tsx
  front/src/double-counting/components/applications/application-tabs/application-tabs.tsx
  front/src/double-counting/double-counting.tsx
  front/src/saf/pages/operator/pages/ticket-sources/status-switcher.tsx
  front/src/saf/pages/operator/pages/tickets/status-switcher.tsx
  web/doublecount/views/applications/mixins/check_file.py
Due: check-backend, check-frontend

fix: disable submit DC when production has already DC
  front/src/double-counting/components/files-table.tsx
  front/src/double-counting/components/send-application-dialog.tsx
Due: check-frontend

feat: add sort balance table tiruert
  front/src/accounting/api/operations.ts
  front/src/accounting/pages/balances/biofuels/biofuels.hooks.tsx
  front/src/accounting/pages/balances/biofuels/biofuels.tsx
  front/src/common/hooks/query-builder-2.ts
Due: check-frontend

fix: add available balance as sorting
  api-schema.yaml
  front/src/accounting/pages/balances/biofuels/biofuels.hooks.tsx
  front/src/api-schema.ts
  web/tiruert/filters/operation.py
Due: check-backend, check-frontend

refactor: add industrial waste file
  front/src/common/services/api-fetch.ts
  front/src/double-counting-admin/components/files-checker/send-application-dialog.tsx
  front/src/double-counting/api.ts
  front/src/double-counting/components/add-industrial-wastes.tsx
  front/src/double-counting/components/application-checker/industrial-waste-alert.tsx
  front/src/double-counting/components/application-checker/replace-application-dialog.tsx
  front/src/double-counting/components/application-checker/valid-details-dialog.tsx
  front/src/double-counting/components/applications/application-tabs/application-tabs.tsx
  front/src/double-counting/components/send-application-dialog.tsx
  web/doublecount/helpers.py
  web/doublecount/migrations/0021_doublecountingapplication_industrial_wastes_file_link.py
  web/doublecount/models.py
  web/doublecount/views/applications/mixins/add_application.py
  web/doublecount/views/applications/mixins/check_file.py
Due: check-backend, check-frontend

feat(tiruert): fix sorting for quantity, pending_operations and available_balance
  web/tiruert/filters/custom_filters.py
  web/tiruert/filters/operation.py
  web/tiruert/serializers/operation.py
  web/tiruert/views/operation/mixins/balance.py
  web/tiruert/views/operation/operation.py
Due: check-backend

feat(tiruert): xlsx operations export
  web/tiruert/views/operation/mixins/__init__.py
  web/tiruert/views/operation/mixins/excel_export.py
  web/tiruert/views/operation/operation.py
Due: check-backend

feat(tiruert): add button in front to export operations
  api-schema.yaml
  front/src/accounting/api/operations.ts
  front/src/accounting/pages/operations/biofuels/operations.tsx
  front/src/api-schema.ts
  front/src/saf/components/export.tsx
Due: check-frontend

fix: front/package.json & front/package-lock.json to reduce vulnerabilities
  front/package-lock.json
  front/package.json
Due: check-frontend

fix(elec): cover dates with microseconds when parsing excel date times
  web/core/utils.py
Due: check-backend

feat(elec): add nominal power to PDC change history
  web/elec/models/elec_charge_point.py
Due: check-backend

feat(elec): add command to refresh PDC nominal power from TDG
  web/elec/management/commands/refresh_charge_points.py
  web/elec/services/transport_data_gouv.py
Due: check-backend

feat(tiruert): add admin pages for objectives
  web/tiruert/serializers/__init__.py
  web/tiruert/serializers/objective.py
  web/tiruert/services/balance.py
  web/tiruert/urls.py
  web/tiruert/views/objective/objective.py
Due: check-backend

feat(tiruert): sort operations by quantity
  front/src/accounting/pages/operations/biofuels/operations.hooks.tsx
  front/src/accounting/pages/operations/biofuels/operations.utils.ts
  front/src/accounting/pages/operations/biofuels/pages/operation-detail/operation-detail.tsx
  web/tiruert/serializers/operation.py
  web/tiruert/views/operation/operation.py
Due: check-backend, check-frontend

fix(elec): pandas warning
  web/elec/services/transport_data_gouv.py
Due: check-backend

fix(elec): refresh charge point db update
  web/elec/management/commands/refresh_charge_points.py
Due: check-backend

feat(elec): command to replace charge point ids in block
  web/elec/management/commands/replace_charge_point_id.py
Due: check-backend

fix(elec): apply argument for elec commands
  web/elec/management/commands/refresh_charge_points.py
  web/elec/management/commands/replace_charge_point_id.py
Due: check-backend

Path conditions:
  check-backend: any of: web/**/*, .gitlab-ci.yml
  check-frontend: any of: front/**/*, .gitlab-ci.yml
