Repository MTES-MCT/carbure: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-ci-image, check-backend, check-frontend

build-ci-image:
  stage: prepare
  image: docker:stable
  services:
  - docker:dind
  script:
  - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
  - docker build -f ci/Dockerfile -t $CI_REGISTRY/$CI_PROJECT_PATH/ci-image:latest .
  - docker push $CI_REGISTRY/$CI_PROJECT_PATH/ci-image:latest

check-backend:
  image: $CI_REGISTRY/$CI_PROJECT_PATH/ci-image:latest
  before_script:
  - mv /app/front/node_modules ./front
  stage: check
  services:
  - mysql:8.0
  - redis:latest
  script:
  - export CARBURE_HOME=$(pwd)
  - export DATABASE_URL=mysql://root:$MYSQL_ROOT_PASSWORD@mysql:3306/$MYSQL_DATABASE
  ...

check-frontend:
  image: $CI_REGISTRY/$CI_PROJECT_PATH/ci-image:latest
  before_script:
  - mv /app/front/node_modules ./front
  stage: check
  script:
  - cd front
  - npx eslint --ext .ts,.tsx src/
  - npm test

[front] dgac - operator show lot and hide navigation when no need
  front/src/carbure/types.ts
  front/src/carbure/utils/normalizers.ts
  front/src/control-details/components/lot.tsx
  front/src/control-details/components/stock.tsx
  front/src/saf/__test__/data.ts
  front/src/saf/api.ts
  front/src/saf/components/ticket-details/index.tsx
  front/src/saf/components/ticket-source-details/assignment.tsx
  front/src/saf/components/ticket-source-details/index.tsx
  front/src/saf/components/ticket-sources/index.tsx
  front/src/saf/components/ticket-sources/table.tsx
  front/src/saf/components/tickets/table.tsx
  front/src/saf/components/tickets/tag.tsx
  front/src/saf/types.ts
  front/src/transaction-details/components/lots/index.tsx
  front/src/transaction-details/components/lots/navigation.tsx
  front/src/transaction-details/components/stocks/index.tsx
  web/api/v5/saf/clients.py
  web/saf/serializers/saf_ticket.py
Due: check-backend, check-frontend

[front] dgac - operator - clean navigation and add hook useRefToScroll
  front/src/carbure/components/top-bar.tsx
  front/src/carbure/index.tsx
  front/src/common/hooks/scroll-to-ref.ts
  front/src/saf/components/operator-tabs.tsx
  front/src/saf/components/ticket-details/index.tsx
  front/src/saf/components/ticket-source-details/assigned-tickets.tsx
  front/src/saf/components/ticket-source-details/assignment.tsx
  front/src/saf/components/ticket-source-details/index.tsx
  front/src/saf/components/ticket-source-details/parent-lot.tsx
  front/src/saf/components/ticket-sources/index.tsx
  front/src/saf/components/ticket-sources/table.tsx
  front/src/saf/components/tickets/index.tsx
  front/src/saf/components/tickets/status-switcher.tsx
  front/src/saf/components/tickets/table.tsx
  front/src/saf/components/tickets/tag.tsx
  front/src/transaction-details/components/lots/anomalies.tsx
  front/src/transaction-details/components/lots/index.tsx
  front/src/transaction-details/components/lots/navigation.module.css
  front/src/transaction-details/components/lots/navigation.tsx
  front/src/transactions/components/lots/lot-table.tsx
  front/src/transactions/components/stocks/stock-table.tsx
  web/api/v5/saf/clients.py
Due: check-backend, check-frontend

resolve conflict
  web/api/v5/saf/snapshot.py
Due: check-backend

[front] dgac - operator - clean comments
  front/src/saf/components/ticket-details/index.tsx
  front/src/saf/components/ticket-source-details/assignment.tsx
Due: check-frontend

[front] add useScrollToRef to double-counting
  front/src/settings/components/double-counting-upload.tsx
Due: check-frontend

[front] fix previous commit : faut tester avant de commit
  front/src/settings/components/double-counting-upload.tsx
Due: check-frontend

[api] create unique carbure id for each ticket and ticket source
  web/saf/models/saf_ticket.py
  web/saf/models/saf_ticket_source.py
Due: check-backend

[api] rework carbure_id generation for saf tickets and sources
  web/saf/migrations/0009_alter_safticketsource_carbure_id.py
  web/saf/migrations/0010_alter_safticketsource_carbure_id.py
  web/saf/migrations/0011_alter_safticket_carbure_id.py
  web/saf/models/saf_ticket.py
  web/saf/models/saf_ticket_source.py
Due: check-backend

[api] fix saf tests
  web/api/v5/saf/assign_ticket.py
  web/api/v5/saf/tests/tests_assign_ticket.py
  web/api/v5/saf/tests/tests_ticket_source_details.py
  web/api/v5/saf/tests/tests_ticket_sources.py
  web/api/v5/saf/ticket_sources.py
  web/core/utils.py
Due: check-backend

[front] dgac - operator fix PR
  front/src/common/hooks/scroll-to-ref.ts
  front/src/saf/components/tickets/tag.tsx
Due: check-frontend

[api] cleanup saf
  web/api/v5/saf/assign_ticket.py
  web/api/v5/saf/tests/tests_snapshot.py
  web/api/v5/saf/ticket_details.py
Due: check-backend

[api] add endpoint to list filter values in saf
  web/api/v5/saf/__init__.py
  web/api/v5/saf/tests/tests_ticket_source_filters.py
  web/api/v5/saf/ticket_source_filters.py
  web/saf/models/saf_ticket_source.py
Due: check-backend

[api] cleanup
  web/saf/models/saf_ticket_source.py
Due: check-backend

[api] adapt ticket sources endpoint to use filters
  web/api/v5/saf/tests/tests_ticket_source_filters.py
  web/api/v5/saf/tests/tests_ticket_sources.py
  web/api/v5/saf/ticket_source_filters.py
  web/api/v5/saf/ticket_sources.py
  web/saf/models/saf_ticket_source.py
Due: check-backend

[api] add filter endpoint for tickets + allow filtering
  web/api/v5/saf/__init__.py
  web/api/v5/saf/tests/tests_ticket_filters.py
  web/api/v5/saf/ticket_filters.py
  web/api/v5/saf/tickets.py
Due: check-backend

[api] cleanup saf
  web/api/v5/saf/clients.py
  web/api/v5/saf/ticket_details.py
  web/api/v5/saf/ticket_source_details.py
  web/api/v5/saf/tickets.py
Due: check-backend

[api] add search query param to ticket sources and tickets
  web/api/v5/saf/ticket_sources.py
  web/api/v5/saf/tickets.py
Due: check-backend

[api] add endpoint to cancel saf tickets
  web/api/v5/saf/__init__.py
  web/api/v5/saf/cancel_ticket.py
  web/api/v5/saf/tests/tests_assign_ticket.py
  web/api/v5/saf/tests/tests_cancel_ticket.py
  web/api/v5/saf/tests/tests_ticket_details.py
Due: check-backend

[ci] only redbuild base image in master/dev
  .gitlab-ci.yml
Due: none

[front] dgac - client - create page and route
  front/src/carbure/components/top-bar.tsx
  front/src/carbure/hooks/entity.ts
  front/src/carbure/index.tsx
  front/src/carbure/types.ts
  front/src/common/hooks/years.tsx
  front/src/controls/index.tsx
  front/src/saf/__test__/data.ts
  front/src/saf/__test__/saf-operator.spec.tsx
  front/src/saf/api.ts
  front/src/saf/client.tsx
  front/src/saf/components/client-tabs.tsx
  front/src/saf/operator.tsx
  front/src/saf/types.ts
  front/src/transactions/index.tsx
Due: check-frontend

[front] dgac - client - ticket list
  front/src/saf/__test__/data.ts
  front/src/saf/api.ts
  front/src/saf/client.tsx
  front/src/saf/components/client-tabs.tsx
  front/src/saf/components/ticket-details/index.tsx
  front/src/saf/components/ticket-sources/index.tsx
  front/src/saf/components/tickets/index.tsx
  front/src/saf/components/tickets/status-switcher.tsx
  front/src/saf/components/tickets/table.tsx
  front/src/saf/hooks/query-params-store.ts
  front/src/saf/operator.tsx
  front/src/saf/types.ts
Due: check-frontend

Path conditions:
  build-ci-image: any of: ci/Dockerfile, Pipfile, Pipfile.lock, front/package.json, front/package-lock.json
  check-backend: any of: web/**/*
  check-frontend: any of: front/**/*
