Repository MTES-MCT/carbure: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-ci-image, check-backend, check-frontend

build-ci-image:
  stage: prepare
  image: docker:stable
  services:
  - docker:dind
  script:
  - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
  - docker build -f ci/Dockerfile -t $CI_REGISTRY/$CI_PROJECT_PATH/ci-image:latest .
  - docker push $CI_REGISTRY/$CI_PROJECT_PATH/ci-image:latest

check-backend:
  image: $CI_REGISTRY/$CI_PROJECT_PATH/ci-image:latest
  before_script:
  - mv /app/front/node_modules ./front
  stage: check
  services:
  - mysql:8.0
  - redis:latest
  script:
  - export CARBURE_HOME=$(pwd)
  - export DATABASE_URL=mysql://root:$MYSQL_ROOT_PASSWORD@mysql:3306/$MYSQL_DATABASE
  ...

check-frontend:
  image: $CI_REGISTRY/$CI_PROJECT_PATH/ci-image:latest
  before_script:
  - mv /app/front/node_modules ./front
  stage: check
  script:
  - cd front
  - npx eslint --ext .ts,.tsx src/
  - npm test

feat: setup filter bar without request
  front/public/locales/en/translation.json
  front/public/locales/fr/translation.json
  front/src/common/hooks/query-builder.ts
  front/src/elec-charge-points/__test__/data.ts
  front/src/elec-charge-points/api.ts
  front/src/elec-charge-points/charge-points-list.tsx
  front/src/elec-charge-points/charge-points.tsx
  front/src/elec-charge-points/pages/charge-points-list/__test__/api.ts
  front/src/elec-charge-points/pages/charge-points-list/__test__/data.ts
  front/src/elec-charge-points/pages/charge-points-list/api.ts
  front/src/elec-charge-points/pages/charge-points-list/index.tsx
  front/src/elec-charge-points/pages/charge-points-list/types.ts
  front/src/elec-charge-points/types.ts
  front/src/mocks.ts
Due: check-frontend

feat(<front>): add status
  front/public/locales/en/translation.json
  front/public/locales/fr/translation.json
  front/src/elec-charge-points/charge-points.tsx
  front/src/elec-charge-points/pages/charge-points-list/__test__/api.ts
  front/src/elec-charge-points/pages/charge-points-list/index.hooks.ts
  front/src/elec-charge-points/pages/charge-points-list/index.tsx
  front/src/elec-charge-points/pages/charge-points-list/status-switcher.tsx
  front/src/elec-charge-points/pages/charge-points-list/types.ts
Due: check-frontend

feat: connect snapshot to pdc list page
  front/src/elec-charge-points/__test__/data.ts
  front/src/elec-charge-points/charge-points.tsx
  front/src/elec-charge-points/pages/charge-points-list/index.tsx
  front/src/elec-charge-points/pages/charge-points-list/status-switcher.tsx
  front/src/elec-charge-points/types.ts
Due: check-frontend

feat: prepare charge points tabl
  front/src/elec-charge-points/pages/charge-points-list/api.ts
  front/src/elec-charge-points/pages/charge-points-list/index.hooks.ts
  front/src/elec-charge-points/pages/charge-points-list/index.tsx
  front/src/elec-charge-points/pages/charge-points-list/status-switcher.tsx
  front/src/elec-charge-points/pages/charge-points-list/table/index.hooks.tsx
  front/src/elec-charge-points/pages/charge-points-list/table/index.tsx
  front/src/elec-charge-points/pages/charge-points-list/table/status.tsx
  front/src/elec-charge-points/pages/charge-points-list/types.ts
Due: check-frontend

[back] change cpo charge_point list response format
  web/elec/api/cpo/charge_points/charge_points.py
  web/elec/api/cpo/charge_points/tests_charge_points.py
Due: check-backend

[back] rename cpo charge_point list response key
  front/src/elec-charge-points/pages/charge-points-list/index.tsx
  front/src/elec-charge-points/pages/charge-points-list/types.ts
  web/elec/api/cpo/charge_points/charge_points.py
  web/elec/api/cpo/charge_points/tests_charge_points.py
Due: check-backend, check-frontend

fix: fix errors after rebase
  front/src/elec-charge-points/pages/charge-points-list/__test__/data.ts
Due: check-frontend

[back] fix filters
  web/elec/api/cpo/charge_point_snapshot.py
  web/elec/api/cpo/charge_points/charge_points.py
  web/elec/api/cpo/charge_points/filters.py
  web/elec/api/cpo/charge_points/tests_charge_points.py
Due: check-backend

feat(<front>): continue pdc table
  front/public/locales/en/translation.json
  front/public/locales/fr/translation.json
  front/src/common/components/table.tsx
  front/src/elec-charge-points/pages/charge-points-list/__test__/api.ts
  front/src/elec-charge-points/pages/charge-points-list/api.ts
  front/src/elec-charge-points/pages/charge-points-list/index.hooks.ts
  front/src/elec-charge-points/pages/charge-points-list/index.tsx
  front/src/elec-charge-points/pages/charge-points-list/status-switcher.tsx
  front/src/elec-charge-points/pages/charge-points-list/table/index.hooks.tsx
  front/src/elec-charge-points/pages/charge-points-list/table/index.tsx
  front/src/elec-charge-points/pages/charge-points-list/types.ts
  front/src/elec-charge-points/pages/charge-points-pending.tsx
Due: check-frontend

refactor: renaming folders pages
  front/src/elec-charge-points/charge-points.tsx
  front/src/elec-charge-points/pages/charge-points-pending.tsx
  front/src/elec-charge-points/pages/list/__test__/api.ts
  front/src/elec-charge-points/pages/list/__test__/data.ts
  front/src/elec-charge-points/pages/list/api.ts
  front/src/elec-charge-points/pages/list/index.hooks.ts
  front/src/elec-charge-points/pages/list/index.tsx
  front/src/elec-charge-points/pages/list/status-switcher.tsx
  front/src/elec-charge-points/pages/list/table/index.hooks.tsx
  front/src/elec-charge-points/pages/list/table/index.tsx
  front/src/elec-charge-points/pages/list/table/status.tsx
  front/src/elec-charge-points/pages/list/types.ts
  front/src/elec-charge-points/pages/pending/index.tsx
  front/src/elec-charge-points/pages/pending/upload-dialog/errors-dialog.tsx
  front/src/elec-charge-points/pages/pending/upload-dialog/index.tsx
  front/src/elec-charge-points/pages/pending/upload-dialog/tdg-info.tsx
  front/src/elec-charge-points/pages/pending/upload-dialog/valid-dialog.tsx
  front/src/mocks.ts
Due: check-frontend

feat: add pagination
  front/src/elec-charge-points/pages/list/index.tsx
Due: check-frontend

feat: terminate charge points list table
  front/public/locales/en/translation.json
  front/public/locales/fr/translation.json
  front/src/elec-charge-points/pages/list/api.ts
  front/src/elec-charge-points/pages/list/index.tsx
  front/src/elec-charge-points/pages/list/table/index.hooks.tsx
  front/src/elec-charge-points/pages/list/table/index.tsx
  front/src/elec-charge-points/pages/list/table/is-article-2.tsx
  front/src/elec-charge-points/pages/list/types.ts
Due: check-frontend

feat: terminate pdc list page
  front/src/common/molecules/filter-select.tsx
  front/src/elec-charge-points/pages/list/__test__/api.ts
  front/src/elec-charge-points/pages/list/index.hooks.ts
  front/src/elec-charge-points/pages/list/index.tsx
  front/src/elec-charge-points/pages/list/table/index.tsx
  front/src/elec-charge-points/pages/list/table/status.tsx
  front/src/elec-charge-points/pages/list/types.ts
Due: check-frontend

[back] change pdc filters
  web/elec/api/admin/charge_points/application_details.py
  web/elec/api/admin/charge_points/charge_points.py
  web/elec/api/admin/charge_points/tests_charge_points.py
  web/elec/api/cpo/charge_point_snapshot.py
  web/elec/api/cpo/charge_points/application_details.py
  web/elec/api/cpo/charge_points/charge_points.py
  web/elec/api/cpo/charge_points/filters.py
  web/elec/api/cpo/charge_points/tests_charge_points.py
  web/elec/serializers/elec_charge_point.py
Due: check-backend

[front] fix filter
  front/src/elec-charge-points/pages/list/types.ts
Due: check-frontend

[back] fix filter and export
  web/elec/api/cpo/charge_points/charge_points.py
  web/elec/api/cpo/charge_points/filters.py
Due: check-backend

refactor(emails): check environment before sending emails
  web/auth/api/register.py
  web/auth/api/request_activation_link.py
  web/auth/api/request_otp.py
  web/auth/api/request_password_reset.py
  web/core/admin.py
  web/core/helpers.py
  web/elec/api/admin/audit/charge_points/accept_application.py
  web/elec/api/admin/audit/meter_readings/accept_application.py
  web/elec/api/auditor/accept_report.py
  web/entity/api/admin/users/update_right_request.py
  web/entity/api/depots/create.py
  web/entity/api/registration/add_company.py
  web/entity/api/registration/tests_add_company.py
  web/entity/helpers.py
  web/entity/services/enable_depot.py
  web/user/api/request_access.py
Due: check-backend

Fix/sentry
  web/carbure/middlewares/exception.py
  web/carbure/settings.py
Due: check-backend

[back] disable sentry for local env
  web/carbure/middlewares/exception.py
  web/carbure/settings.py
Due: check-backend

fix: settings
  web/carbure/settings.py
Due: check-backend

Hotfix/sentry
  web/carbure/middlewares/exception.py
  web/carbure/settings.py
Due: check-backend

refactor(emails): remove extra accolade
  web/templates/emails/account_activation_email.txt
Due: check-backend

refactor(emails): check environment before sending emails
  web/core/helpers.py
  web/transactions/api/declarations/invalidate.py
  web/transactions/api/declarations/validate.py
Due: check-backend

feat(tech): add sentry for the frontend
  docker-compose.yml
  front/package-lock.json
  front/package.json
  front/src/index.tsx
  front/src/sentry.tsx
Due: build-ci-image, check-frontend

fix(saf): check if carbure_production_site and carbure_producer are None
  web/saf/serializers/saf_ticket_source.py
Due: check-backend

fix(saf): export volumes saf
  web/saf/serializers/saf_ticket_source.py
Due: check-backend

[back] docx export for doublecount
  Pipfile
  Pipfile.lock
  web/doublecount/api/admin/agreements/agreement_details.py
  web/doublecount/api/admin/agreements/tests_agreements.py
  web/doublecount/api/admin/applications/__init__.py
  web/doublecount/api/admin/applications/export_application.py
  web/doublecount/api/admin/applications/tests_applications.py
  web/templates/word/double_count_approval_template.docx
Due: build-ci-image, check-backend

fix: use GET instead of POST
  web/doublecount/api/admin/applications/export_application.py
  web/doublecount/api/admin/applications/tests_applications.py
Due: check-backend

fix: styling
  web/doublecount/api/admin/applications/export_application.py
  web/templates/word/double_count_approval_template.docx
Due: check-backend

fix: use certificate_id
  web/doublecount/api/admin/applications/export_application.py
Due: check-backend

feat(tech): terminate sentry integration with the frontend
  docker-compose.yml
  front/public/locales/en/translation.json
  front/public/locales/fr/translation.json
  front/src/sentry.tsx
Due: check-frontend

Path conditions:
  build-ci-image: any of: ci/Dockerfile, Pipfile, Pipfile.lock, front/package.json, front/package-lock.json
  check-backend: any of: web/**/*
  check-frontend: any of: front/**/*
