Repository MTES-MCT/carbure: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-ci-image, check-backend, check-frontend

.gitlab-ci.yml:

stages:
  - prepare
  - check
  - deploy

variables:
  MYSQL_DATABASE: carbure_mysql_test_db
  MYSQL_ROOT_PASSWORD: carbure_mysql_ci_db_password

# use prebuild CI image when running checks
.checks:
  image: $CI_REGISTRY/$CI_PROJECT_PATH/ci-image:latest
  before_script:
    - mv /app/front/node_modules ./front

# prepare git env to push new code to scalingo
.scalingo:
  image: alpine:latest
  before_script:
    - mkdir ~/.ssh
    - apk add --update git openssh-client
    - eval $(ssh-agent -s)
    - echo "$SCALINGO_SSH_PRIVATE_KEY" | tr -d '\r' | ssh-add -
    - ssh-keyscan $SCALINGO_SSH_HOST >> ~/.ssh/known_hosts
    - chmod 644 ~/.ssh/known_hosts
    - git config user.name $GIT_USER_NAME
    - git config user.email $GIT_USER_EMAIL
    - git remote add scalingo-dev $SCALINGO_GIT_REMOTE_DEV || true
    - git remote add scalingo-staging $SCALINGO_GIT_REMOTE_STAGING || true
    - git remote add scalingo-prod $SCALINGO_GIT_REMOTE_PROD || true
    - git fetch origin $CI_COMMIT_BRANCH --unshallow
    - git checkout $CI_COMMIT_BRANCH

build-ci-image:
  stage: prepare
  image: docker:stable
  services:
    - docker:dind
  script:
    - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
    - docker build -f ci/Dockerfile -t $CI_REGISTRY/$CI_PROJECT_PATH/ci-image:latest .
    - docker push $CI_REGISTRY/$CI_PROJECT_PATH/ci-image:latest
  only:
    changes:
      - ci/Dockerfile
      - Pipfile
      - Pipfile.lock
      - front/package.json
      - front/package-lock.json

check-backend:
  stage: check
  extends: .checks
  services:
    - mysql:8.0
    - redis:latest
  script:
    - export CARBURE_HOME=$(pwd)
    - export DATABASE_URL=mysql://root:$MYSQL_ROOT_PASSWORD@mysql:3306/$MYSQL_DATABASE
    - export REDIS_URL=redis://redis:6379
    - mypy web || true
    - TEST=1 python3 web/manage.py test web
  only:
    refs:
      - dev
      - master
    changes:
      - web/**/*

check-frontend:
  stage: check
  extends: .checks
  script:
    - cd front
    - npx eslint --ext .ts,.tsx src/
    - npm test
  only:
    refs:
      - dev
      - master
    changes:
      - front/**/*

deploy-dev:
  stage: deploy
  extends: .scalingo
  only:
    - dev
  script:
    - git push scalingo-dev $CI_COMMIT_BRANCH:master -f

deploy-staging:
  stage: deploy
  extends: .scalingo
  only:
    - master
  script:
    - git push scalingo-staging master -f

deploy-prod:
  stage: deploy
  extends: .scalingo
  when: manual
  only:
    - master
  script:
    - git push scalingo-prod master -f

[front] start mocking api auditor applications
  front/src/elec-auditor/__test__/api.ts
  front/src/elec-auditor/__test__/data.ts
  front/src/elec-auditor/components/list.tsx
  web/elec/services/import_elec_audit_report_excel.py
  web/elec/services/import_meter_reading_excel.py
Due: check-backend, check-frontend

[front] mock api error and validation
  front/src/elec-auditor/__test__/api.ts
  front/src/elec-auditor/components/details-pending-check.tsx
  front/src/elec-auditor/components/details-pending-report-errors.tsx
  front/src/elec-auditor/components/details-pending-report-valid.tsx
  front/src/elec-auditor/components/details-pending.tsx
  front/src/elec-auditor/components/list.tsx
Due: check-frontend

[back] use audited charge point serializer to return current sample values
  web/elec/api/admin/audit/charge_points/get_sample.py
  web/elec/api/admin/audit/meter_readings/get_sample.py
  web/elec/api/auditor/get_sample.py
  web/elec/services/export_charge_point_excel.py
Due: check-backend

[back] add audited charge point serializer
  web/elec/serializers/elec_audit_charge_point.py
Due: check-backend

[back] send email when new elec audit result is available
  web/elec/api/auditor/accept_report.py
Due: check-backend

[front] handle audit accepted
  front/src/elec-auditor/components/details-pending-report-valid.tsx
  front/src/elec-auditor/components/details-pending.tsx
  front/src/elec-auditor/components/details.tsx
Due: check-frontend

[back] add method to get meter readings of an application as queryset
  web/elec/api/admin/meter_readings/application_details.py
  web/elec/api/cpo/meter_readings/application_details.py
  web/elec/repositories/meter_reading_repository.py
Due: check-backend

[back] fix meter reading audits not being linked to actual readings
  web/elec/api/admin/audit/meter_readings/generate_sample.py
Due: check-backend

[front] some fixes and add navigation
  front/src/elec-audit-admin/__test__/data.ts
  front/src/elec-audit-admin/components/charge-points/list.tsx
  front/src/elec-audit-admin/components/meter-readings/list.tsx
  front/src/elec-audit-admin/components/status-switcher.tsx
  front/src/elec-audit-admin/index.tsx
  front/src/elec-audit-admin/types.ts
  front/src/elec-auditor/components/details-pending-check.tsx
  front/src/elec-auditor/components/details-pending-download-sample.tsx
  front/src/elec-auditor/components/details-pending-report-valid.tsx
  front/src/elec-auditor/components/details-pending.tsx
  web/elec/api/admin/audit/snapshot.py
Due: check-backend, check-frontend

[front] display errors when uploading elec audit reports
  front/src/elec-auditor/components/details-pending-check.tsx
  front/src/elec-auditor/components/details-pending-report-errors.tsx
Due: check-frontend

[back] fix missing argument when importing audit reports
  web/elec/api/auditor/accept_report.py
Due: check-backend

[front] add prev and next button for sample generation
  front/src/elec-audit-admin/components/meter-readings/accept-dialog.tsx
  front/src/elec-audit-admin/components/sample/application-generation.tsx
Due: check-frontend

move elec audit sample excel generation to its own file
  web/elec/api/admin/audit/charge_points/get_sample.py
  web/elec/api/admin/audit/meter_readings/get_sample.py
  web/elec/api/auditor/get_sample.py
  web/elec/services/export_audited_charge_points_sample_to_excel.py
  web/elec/services/export_charge_point_excel.py
Due: check-backend

[back] add new status for elec applications when audit is done
  web/elec/migrations/0036_alter_elecchargepointapplication_status_and_more.py
  web/elec/models/elec_charge_point_application.py
  web/elec/models/elec_meter_reading_application.py
Due: check-backend

[back] update endpoints to take into account new elec application status for done audits
  web/elec/api/admin/audit/charge_points/applications.py
  web/elec/api/admin/audit/meter_readings/applications.py
  web/elec/api/admin/audit/snapshot.py
Due: check-backend

[back] when uploading audit sample check that the PDCs are indeed part of the original sample
  web/elec/api/auditor/check_report.py
  web/elec/services/import_elec_audit_report_excel.py
Due: check-backend

[back] update elec application status when audit is done
  web/elec/api/auditor/accept_report.py
Due: check-backend

[back] fix audit tests
  web/elec/api/auditor/tests_elec_audit.py
Due: check-backend

[front] add comment count to audit file
  front/src/elec-auditor/__test__/data.ts
  front/src/elec-auditor/api.ts
  front/src/elec-auditor/components/details-pending-check.tsx
  front/src/elec-auditor/components/details-pending-report-valid.tsx
  front/src/elec-auditor/components/details-pending.tsx
  front/src/elec-auditor/types.ts
Due: check-frontend

[front] show admin elec audit details for new AUDIT_DONE status
  front/src/elec-audit-admin/components/charge-points/details.tsx
  front/src/elec-audit-admin/components/meter-readings/details.tsx
Due: check-frontend

[front] fixes
  front/src/carbure/components/top-bar.tsx
  front/src/elec/__test__/data.ts
Due: check-frontend
