Repository MTES-MCT/carbure: changes, and which GitLab CI jobs are due for each by the changed paths.
All: check-backend, check-frontend

.gitlab-ci.yml:

stages:
  - check


workflow:
  rules:
    # 1. Don't run pipelines for MR drafts.
    - if: $CI_PIPELINE_SOURCE == "merge_request_event" && $CI_MERGE_REQUEST_TITLE =~ /^Draft:/
      when: never

    # 2. Don't run branch pipelines when there's an open MR for the branch (run the MR pipeline instead).
    - if: $CI_COMMIT_BRANCH && $CI_OPEN_MERGE_REQUESTS
      when: never

    # 3. Run all other MR pipelines
    - if: $CI_PIPELINE_SOURCE == 'merge_request_event'
      when: always

    # 4. Run branch pipelines for dev and master
    - if: $CI_COMMIT_BRANCH == "dev" || $CI_COMMIT_BRANCH == "master"
      when: always

    # 5. Else, don't run it
    - when: never


variables:
  MYSQL_DATABASE: carbure_mysql_test_db
  MYSQL_ROOT_PASSWORD: carbure_mysql_ci_db_password
  PIP_CACHE_DIR: "$CI_PROJECT_DIR/.cache/pip"
  PIPENV_VENV_IN_PROJECT: true


# job: run linting and tests for backend
check-backend:
  stage: check
  extends: .backend
  services:
    - mysql:8.0
    - redis:latest
  script:
    - export CARBURE_HOME=$(pwd)
    - export DATABASE_URL=mysql://root:$MYSQL_ROOT_PASSWORD@mysql:3306/$MYSQL_DATABASE
    - export REDIS_URL=redis://redis:6379
    - pipenv run ruff check
    - pipenv run ruff format --check
    - TEST=1 pipenv run python web/manage.py test web


# job: run linting and tests for frontend
check-frontend:
  stage: check
  extends: .frontend
  script:
    - npm run lint
    - npm run build
    - npx chromatic
  interruptible: true


.backend:
  image: python:3.12
  cache:
    - key:
        files:
          - Pipfile.lock
      paths:
        - .cache/pip/
        - .venv/
  before_script:
    - pip install pipenv
    - pipenv install --dev --deploy --ignore-pipfile
  rules:
    - changes:
      - web/**/*
      - .gitlab-ci.yml


.frontend:
  image: node:latest
  cache:
    - key:
        files:
          - front/package-lock.json
      paths:
        - front/.npm/
  before_script:
    - cd front
    - npm ci --cache .npm --prefer-offline
  rules:
    - changes:
      - front/**/*
      - .gitlab-ci.yml

feat(tiruert-elec): add accept/reject endpoints for elec operations
  web/tiruert/views/elec_operation/mixins/__init__.py
  web/tiruert/views/elec_operation/mixins/accept.py
  web/tiruert/views/elec_operation/mixins/reject.py
Due: check-backend

fix(tiruert-elec): use right api endpoints in elec operation details
  front/src/accounting/pages/operations/elec/operations.hooks.tsx
  front/src/accounting/pages/operations/elec/pages/operation-detail/operation-detail.hooks.ts
Due: check-frontend

feat(tiruert-elec): compute avoided emissions for elec operations
  web/tiruert/models/elec_operation.py
  web/tiruert/serializers/elec_operation.py
Due: check-backend

feat(tiruert-elec): better routing for different tiruert sections
  front/src/accounting/layouts/operations-balances-layout.tsx
  front/src/accounting/pages/operations/operations.tsx
  front/src/common/utils/routes.ts
Due: check-frontend

chore(tiruert-elec): update api schema
  api-schema.yaml
  front/src/api-schema.ts
  web/tiruert/serializers/elec_operation.py
  web/tiruert/views/elec_operation/mixins/balance.py
Due: check-backend, check-frontend

feat(tiruert-elec): add total elec balance
  web/tiruert/serializers/__init__.py
  web/tiruert/serializers/elec_balance.py
  web/tiruert/services/elec_balance.py
  web/tiruert/views/elec_operation/mixins/__init__.py
  web/tiruert/views/elec_operation/mixins/balance.py
Due: check-backend

feat(tiruert-elec): create elec operations when accepting cpo certificates
  web/elec/api/operator/accept_transfer_certificate.py
Due: check-backend

feat(tiruert-elec): add elec operations page and details
  front/src/accounting/api/elec-operations.ts
  front/src/accounting/pages/operations/elec/index.ts
  front/src/accounting/pages/operations/elec/operations.hooks.tsx
  front/src/accounting/pages/operations/elec/operations.tsx
  front/src/accounting/pages/operations/elec/operations.utils.ts
  front/src/accounting/pages/operations/elec/pages/operation-detail/index.ts
  front/src/accounting/pages/operations/elec/pages/operation-detail/operation-detail.hooks.ts
  front/src/accounting/pages/operations/elec/pages/operation-detail/operation-detail.tsx
Due: check-frontend

fix(tiruert-elec): unique keys for elec queries and mutations
  front/src/accounting/pages/operations/elec/operations.tsx
  front/src/accounting/pages/operations/elec/pages/operation-detail/operation-detail.hooks.ts
Due: check-frontend

feat(tiruert-elec): add undesigned elec cession modal
  front/src/accounting/pages/balances/elec/cession-dialog/cession-dialog.hooks.ts
  front/src/accounting/pages/balances/elec/cession-dialog/cession-dialog.tsx
  front/src/accounting/pages/balances/elec/cession-dialog/cession-dialog.types.ts
  front/src/accounting/pages/balances/elec/cession-dialog/index.ts
Due: check-frontend

feat(tiruert-elec): display avoided emissions in elec cession dialog
  front/src/accounting/pages/balances/elec/cession-dialog/cession-dialog.tsx
Due: check-frontend

feat(tiruert-elec): add elec to objective calculation
  web/tiruert/services/objective.py
  web/tiruert/views/objective/objective.py
Due: check-backend

feat(tiruert-elec): add special elec teneur dialog
  front/src/accounting/pages/teneur/components/declare-elec-teneur-dialog/declare-elec-teneur-dialog.hooks.ts
  front/src/accounting/pages/teneur/components/declare-elec-teneur-dialog/declare-elec-teneur-dialog.tsx
  front/src/accounting/pages/teneur/components/declare-elec-teneur-dialog/declare-elec-teneur-dialog.types.ts
  front/src/accounting/pages/teneur/components/declare-elec-teneur-dialog/index.ts
  front/src/accounting/pages/teneur/teneur.tsx
Due: check-frontend

feat(tiruert-elec): prepare frontend for new elec objectives
  front/src/accounting/pages/teneur/__test__/data.ts
  front/src/accounting/pages/teneur/api.ts
  front/src/accounting/pages/teneur/teneur.tsx
  front/src/accounting/pages/teneur/types.ts
Due: check-frontend

fix(tiruert-elec): bug in migration
  web/tiruert/migrations/0018_generate_acquisition_from_cpo_operations.py
Due: check-backend

feat(tiruert-elec): adapt frontend types to new elec objective category
  front/src/accounting/pages/teneur/components/declare-teneur-dialog/declare-teneur-dialog.tsx
  front/src/accounting/pages/teneur/teneur.tsx
  front/src/accounting/pages/teneur/types.ts
  front/src/accounting/pages/teneur/utils/formatters.ts
Due: check-frontend

feat(tiruert-elec): add new elec balance page
  front/src/accounting/api/elec-balances.ts
  front/src/accounting/index.tsx
  front/src/accounting/pages/balances/balances.tsx
  front/src/accounting/pages/balances/elec/elec.hooks.tsx
  front/src/accounting/pages/balances/elec/elec.tsx
  front/src/accounting/pages/balances/elec/index.ts
  front/src/accounting/types.ts
  front/src/accounting/utils/formatters.ts
Due: check-frontend

feat(tiruert-elec): show pending elec teneur in validation dialog
  front/src/accounting/api/elec-balances.ts
  front/src/accounting/pages/teneur/components/validate-pending-teneur-dialog/validate-pending-teneur-dialog.hooks.tsx
  front/src/accounting/pages/teneur/components/validate-pending-teneur-dialog/validate-pending-teneur-dialog.tsx
Due: check-frontend

fix(tiruert): use right signs for total operation quantity sum
  web/tiruert/views/operation/operation.py
Due: check-backend

feat(tiruert-elec): add elec teneur validation endpoint
  web/tiruert/views/elec_operation/elec_operation.py
  web/tiruert/views/elec_operation/mixins/accept.py
Due: check-backend

chore(tiruert-elec): update api schema
  api-schema.yaml
  front/src/api-schema.ts
Due: check-frontend

feat(tiruert-elec): include elec teneur when validating pending teneur
  front/src/accounting/pages/balances/elec/cession-dialog/cession-dialog.tsx
  front/src/accounting/pages/teneur/api.ts
  front/src/accounting/pages/teneur/components/validate-pending-teneur-dialog/validate-pending-teneur-dialog.tsx
Due: check-frontend

feat(tiruert-elec): translate unconstrained category code when relevant
  front/src/accounting/api/elec-balances.ts
  front/src/accounting/pages/teneur/api.ts
  front/src/accounting/pages/teneur/components/unconstrained-categories-progress/unconstrained-categories-progress.tsx
  front/src/accounting/pages/teneur/components/validate-pending-teneur-dialog/validate-pending-teneur-dialog.tsx
  front/src/accounting/utils/formatters.ts
Due: check-frontend

feat(tiruert-elec): do not count rejected operations in elec operation total
  web/tiruert/views/elec_operation/elec_operation.py
Due: check-backend

feat(tiruert-elec): add hook to help navigating between the different tiruert sectors
  front/src/accounting/hooks/last-sector-visited.ts
  front/src/accounting/index.tsx
  front/src/accounting/layouts/operations-balances-layout.tsx
Due: check-frontend

feat(tiruert-elec): fix sector navigation hook
  front/src/accounting/hooks/last-sector-visited.ts
Due: check-frontend

refactor: refacto progress bar in teneur
  front/public/locales/en/translation.json
  front/public/locales/fr/translation.json
  front/src/accounting/components/quantity-form/quantity-form.tsx
  front/src/accounting/hooks/formatters.ts
  front/src/accounting/pages/operations/biofuels/operations.tsx
  front/src/accounting/pages/teneur/api.ts
  front/src/accounting/pages/teneur/components/capped-categories-progress/capped-categories-progress.tsx
  front/src/accounting/pages/teneur/components/declare-teneur-dialog/declare-teneur-dialog.tsx
  front/src/accounting/pages/teneur/components/declare-teneur-dialog/declare-teneur-progress-bar.tsx
  front/src/accounting/pages/teneur/components/objectivized-categories-progress/objectivized-categories-progress.tsx
  front/src/accounting/pages/teneur/components/overall-progress/overall-progress.tsx
  front/src/accounting/pages/teneur/components/unconstrained-categories-progress/unconstrained-categories-progress.tsx
  front/src/accounting/pages/teneur/teneur.tsx
  front/src/accounting/pages/teneur/types.ts
Due: check-frontend

fix: display error quantity max
  front/src/accounting/components/quantity-form/quantity-form.tsx
  front/src/accounting/components/quantity-form/quantity-form.utils.ts
  front/src/accounting/pages/teneur/components/declare-teneur-dialog/declare-teneur-dialog.tsx
  front/src/accounting/pages/teneur/components/declare-teneur-dialog/declare-teneur-progress-bar.tsx
  front/src/common/components/form2/form.tsx
  front/src/common/components/scaffold.module.css
  front/src/common/components/scaffold.tsx
Due: check-frontend

fix: fix preload + translations
  front/public/locales/en/translation.json
  front/public/locales/fr/translation.json
  front/src/common/layouts/navigation/private/sidebar/entity-selector/entity-selector.tsx
  front/src/companies/components/company-form.tsx
  front/src/companies/components/company-info-siren-missing-dialog.tsx
  front/src/index.tsx
  front/src/settings/components/company-info.tsx
Due: check-frontend

fix: re-add exportation dialog
  front/src/accounting/components/quantity-form/quantity-form.tsx
  front/src/accounting/layouts/operations-balances-layout.tsx
  front/src/accounting/pages/balances/biofuels/debit-operation-dialog/debit-operation-dialog.tsx
  front/src/accounting/pages/balances/biofuels/debit-operation-dialog/exportation-dialog/exportation-dialog.hooks.ts
Due: check-frontend

fix: front/package.json & front/package-lock.json to reduce vulnerabilities
  front/package-lock.json
  front/package.json
Due: check-frontend

start refacto file upload
  front/src/common/components/inputs2/field/field.module.css
  front/src/common/components/inputs2/field/field.tsx
  front/src/common/components/inputs2/field/index.ts
  front/src/common/components/inputs2/file/base-file-input.tsx
  front/src/common/components/tag-autocomplete2/tag-autocomplete.tsx
Due: check-frontend

fix: set renewable energy share from lots declaration
  front/src/accounting/pages/teneur/components/card-progress/card-progress.tsx
  web/tiruert/models/operation.py
Due: check-backend, check-frontend

feat(ds): terminate clean file input
  front/src/common/components/inputs2/file/base-file-input.module.css
  front/src/common/components/inputs2/file/base-file-input.tsx
  front/src/common/components/inputs2/file/file-input/file-input.stories.tsx
  front/src/common/components/inputs2/file/file-input/file-input.tsx
  front/src/common/components/inputs2/file/file-list-input/file-list-input.stories.tsx
  front/src/common/components/inputs2/file/file-list-input/file-list-input.tsx
Due: check-frontend

refactor: terminate refacto producer DC
  front/src/common/components/dialog2/dialog.module.css
  front/src/common/components/inputs2/checkbox/checkbox.tsx
  front/src/common/components/inputs2/file/base-file-input.tsx
  front/src/common/components/inputs2/input.tsx
  front/src/common/components/inputs2/radio/radio.tsx
  front/src/common/components/notice/notice.stories.tsx
  front/src/common/components/tabs2/tabs.module.css
  front/src/common/components/tabs2/tabs.stories.tsx
  front/src/double-counting-admin/components/files-checker/file-application-info.tsx
  front/src/double-counting-admin/components/files-checker/send-application-dialog.tsx
  front/src/double-counting/components/application-checker/errors-details-dialog.tsx
  front/src/double-counting/components/application-checker/industrial-waste-alert.tsx
  front/src/double-counting/components/application-checker/valid-details-dialog.tsx
  front/src/double-counting/components/send-application-dialog.tsx
  front/src/saf/pages/airline/pages/tickets/ticket-details/accept-assignment.tsx
Due: check-frontend

refactor: refacto admin DC
  front/src/double-counting-admin/components/agreements/agreement-details-dialog.tsx
  front/src/double-counting-admin/components/agreements/agreement-list.tsx
  front/src/double-counting-admin/components/applications/application-info.tsx
  front/src/double-counting-admin/components/files-checker/files-checker-dialog.tsx
  front/src/double-counting-admin/components/files-checker/index.tsx
  front/src/double-counting-admin/components/generate-decision-dialog/generate-decision-dialog.tsx
Due: check-frontend

refactor: terminate check all files DC
  front/src/double-counting-admin/components/agreements/agreement-details-dialog.tsx
  front/src/double-counting-admin/components/applications/application-details-dialog/application-details-dialog-validate-quotas.tsx
  front/src/double-counting-admin/components/applications/application-info.tsx
  front/src/double-counting-admin/components/files-checker/file-application-info.tsx
  front/src/double-counting-admin/components/files-checker/files-checker-dialog.tsx
  front/src/double-counting-admin/components/generate-decision-dialog/generate-decision-dialog.tsx
  front/src/double-counting/components/agreement-public-list.tsx
  front/src/double-counting/components/application-checker/double-count-period.tsx
  front/src/double-counting/components/application-checker/errors-details-dialog.tsx
  front/src/double-counting/components/application-checker/valid-details-dialog.tsx
  front/src/double-counting/components/send-application-dialog.tsx
Due: check-frontend

feat(tiruert): remove few updatable operation fields
  web/tiruert/serializers/operation.py
Due: check-backend

feat(S3): using the new private_storage
  web/tiruert/management/commands/import_fossil_fuel_mac.py
Due: check-backend

feat(tiruert): add renewable_energy_share info
  web/core/migrations/0041_alter_matierepremiere_category.py
  web/core/migrations/0042_biocarburant_renewable_energy_share.py
  web/core/models.py
  web/fixtures/csv/biocarburants.csv
  web/fixtures/load_biocarburants.py
  web/tiruert/migrations/0017_operation_renewable_energy_share.py
  web/tiruert/models/operation.py
  web/tiruert/serializers/balance.py
  web/tiruert/serializers/operation.py
  web/tiruert/services/balance.py
Due: check-backend
