Repository MTES-MCT/carbure: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-ci-image, check-backend, check-frontend

.gitlab-ci.yml:

stages:
  - prepare
  - check
  - deploy

workflow:
  rules:
  # 1. Don't run pipelines for MR drafts.
  # 2. Don't run branch pipelines when there's an open MR for the branch (run the MR pipeline instead).
  # 3. Run all other MR pipelines
  # 4. Run branch pipelines for dev, preview and master
  # 5. Else, don't run it
    - if: $CI_PIPELINE_SOURCE == "merge_request_event" && $CI_MERGE_REQUEST_TITLE =~ /^Draft:/ # 1
      when: never
    - if: $CI_COMMIT_BRANCH && $CI_OPEN_MERGE_REQUESTS # 2
      when: never
    - if: $CI_PIPELINE_SOURCE == 'merge_request_event' # 3
      when: always
    - if: $CI_COMMIT_BRANCH == "dev" || $CI_COMMIT_BRANCH == "preview" || $CI_COMMIT_BRANCH == "master" # 4
      when: always
    - when: never # 5

variables:
  MYSQL_DATABASE: carbure_mysql_test_db
  MYSQL_ROOT_PASSWORD: carbure_mysql_ci_db_password

# use prebuild CI image when running checks
.checks:
  image: $CI_REGISTRY/$CI_PROJECT_PATH/ci-image:latest
  before_script:
    - mv /app/.venv ./.venv
    - mv /app/front/node_modules ./front

# prepare git env to push new code to scalingo
.scalingo:
  image: alpine:latest
  before_script:
    - mkdir ~/.ssh
    - apk add --update git openssh-client
    - eval $(ssh-agent -s)
    - echo "$SCALINGO_SSH_PRIVATE_KEY" | tr -d '\r' | ssh-add -
    - ssh-keyscan $SCALINGO_SSH_HOST $SCALINGO_SSH_HOST_SECNUMCLOUD >> ~/.ssh/known_hosts
    - chmod 644 ~/.ssh/known_hosts
    - git config user.name $GIT_USER_NAME
    - git config user.email $GIT_USER_EMAIL
    - git remote add scalingo-dev $SCALINGO_GIT_REMOTE_DEV || true
    - git remote add scalingo-staging $SCALINGO_GIT_REMOTE_STAGING || true
    - git remote add scalingo-prod $SCALINGO_GIT_REMOTE_PROD || true
    - git fetch origin $CI_COMMIT_BRANCH --unshallow
    - git checkout $CI_COMMIT_BRANCH

build-ci-image:
  stage: prepare
  image: docker:stable
  services:
    - docker:dind
  script:
    - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
    - docker build -f ci/Dockerfile -t $CI_REGISTRY/$CI_PROJECT_PATH/ci-image:latest .
    - docker push $CI_REGISTRY/$CI_PROJECT_PATH/ci-image:latest    
  rules:
    - changes: 
      - ci/Dockerfile
      - Pipfile
      - Pipfile.lock
      - front/package.json
      - front/package-lock.json

check-backend:
  stage: check
  extends: .checks
  services:
    - mysql:8.0
    - redis:latest
  script:
    - export CARBURE_HOME=$(pwd)
    - export DATABASE_URL=mysql://root:$MYSQL_ROOT_PASSWORD@mysql:3306/$MYSQL_DATABASE
    - export REDIS_URL=redis://redis:6379
    - pipenv run ruff check
    - pipenv run ruff format --check
    - TEST=1 pipenv run python web/manage.py test web
  rules:
    - changes:
      - web/**/*
    
check-frontend:
  stage: check
  extends: .checks
  script:
    - cd front
    - npx eslint --ext .ts,.tsx src/
    - npm test
  rules:
    - changes:
      - front/**/*

deploy-dev:
  stage: deploy
  extends: .scalingo
  only:
    - dev
    - preview
  script:
    - git push scalingo-dev $CI_COMMIT_BRANCH:master -f

deploy-staging:
  stage: deploy
  extends: .scalingo
  only:
    - master
  script:
    - git push scalingo-staging master -f

deploy-prod:
  stage: deploy
  extends: .scalingo
  when: manual
  only:
    - master
  script:
    - git push scalingo-prod master -f

fix(depot): fix delivery site form
  front/public/locales/en/translation.json
  front/public/locales/fr/translation.json
  front/src/settings/components/delivery-site/delivery-site.hooks.tsx
Due: check-frontend

ci: updates for review apps
  scalingo.json
  scripts/database/restore_db.sh
Due: none

Revert "Merge branch 'bugfix/create-new-depot' into 'dev'"
  front/public/locales/en/translation.json
  front/public/locales/fr/translation.json
  front/src/settings/components/delivery-site/delivery-site.hooks.tsx
Due: check-frontend

force docker image to rebuild
  front/package.json
Due: build-ci-image, check-frontend

ci: update import db script for review apps
  scripts/database/restore_db.sh
Due: none

[back] fix link in emilien email
  web/doublecount/helpers.py
Due: check-backend

[back] fix export docx
  web/doublecount/api/admin/applications/export_application.py
Due: check-backend

[back] fix latest_meter_reading_date in exports
  web/elec/services/export_charge_point_excel.py
Due: check-backend

fix: continue fix msw
  front/jest.config.ts
  front/package-lock.json
  front/package.json
  front/src/auth/__test__/api.ts
  front/src/common/components/tag-autocomplete.tsx
  front/src/controls/__test__/api.ts
  front/src/elec/__test__/api.ts
  front/src/lot-add/__test__/api.ts
  front/src/lot-add/__test__/lot-add.spec.tsx
  front/src/saf/pages/operator/__test__/api.ts
Due: build-ci-image, check-frontend

fix(transactions): fix transaction api test
  front/src/transactions/__test__/api.ts
Due: check-frontend

fix: fix lot details test
  front/src/transaction-details/__test__/api.ts
  front/src/transaction-details/__test__/lot-details.spec.tsx
Due: check-frontend

feat: vite works like a charm
  front/Dockerfile
  front/index.html
  front/package-lock.json
  front/package.json
  front/vite.config.ts
  gateway/nginx.conf
Due: build-ci-image, check-frontend

refactor: start refacto msw 2.0
  front/package-lock.json
  front/package.json
  front/public/mockServiceWorker.js
  front/src/account/__test__/api.ts
  front/src/auth/__test__/api.ts
  front/src/carbure/__test__/api.ts
  front/src/carbure/__test__/helpers.ts
  front/src/controls/__test__/api.ts
  front/src/elec/__test__/api.ts
  front/src/lot-add/__test__/api.ts
  front/src/mocks.ts
  front/src/saf/pages/operator/__test__/api.ts
  front/src/settings/__test__/api.ts
  front/src/transaction-details/__test__/api.ts
  front/src/transactions/__test__/api.ts
Due: build-ci-image, check-frontend

feat(ts): update ts to latest version
  front/package-lock.json
  front/package.json
Due: build-ci-image, check-frontend

refactor: remove jest tests before migration to storybook
  .gitlab-ci.yml
  front/jest.config.ts
  front/jest.polyfills.js
  front/package-lock.json
  front/package.json
Due: build-ci-image, check-frontend

refactor(msw): continue refacto msw 2
  front/jest.config.ts
  front/jest.polyfills.js
  front/package-lock.json
  front/package.json
  front/public/mockServiceWorker.js
  front/src/carbure/__test__/api.ts
  front/src/carbure/__test__/helpers.ts
  front/src/common/components/autocomplete.tsx
  front/src/settings/__test__/api.ts
  front/src/transaction-details/__test__/api.ts
  front/src/transaction-details/__test__/lot-details.spec.tsx
Due: build-ci-image, check-frontend

fix: remove process.env
  docker-compose.yml
  front/package-lock.json
  front/package.json
  front/src/index.tsx
  front/src/sentry.tsx
  gateway/nginx.conf
Due: build-ci-image, check-frontend

feat: start migration to vite
  docker-compose.yml
  front/Dockerfile
  front/index.html
  front/package-lock.json
  front/package.json
  front/tsconfig.json
  front/vite-env.d.ts
  front/vite.config.ts
Due: build-ci-image, check-frontend

refactor: fix tests
  front/jest.config.ts
  front/package.json
  front/src/transaction-details/__test__/lot-details.spec.tsx
  front/src/transaction-details/components/lots/index.tsx
Due: build-ci-image, check-frontend

refactor(dsfr): refacto dsfr import according to the doc
  front/index.html
  front/package-lock.json
  front/package.json
  front/src/index.tsx
Due: build-ci-image, check-frontend
