Repository MTES-MCT/carbure: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-ci-image, check-backend, check-frontend

build-ci-image:
  stage: prepare
  image: docker:stable
  services:
  - docker:dind
  script:
  - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
  - docker build -f ci/Dockerfile -t $CI_REGISTRY/$CI_PROJECT_PATH/ci-image:latest .
  - docker push $CI_REGISTRY/$CI_PROJECT_PATH/ci-image:latest

check-backend:
  image: $CI_REGISTRY/$CI_PROJECT_PATH/ci-image:latest
  before_script:
  - mv /app/front/node_modules ./front
  stage: check
  services:
  - mysql:8.0
  - redis:latest
  script:
  - export CARBURE_HOME=$(pwd)
  - export DATABASE_URL=mysql://root:$MYSQL_ROOT_PASSWORD@mysql:3306/$MYSQL_DATABASE
  ...

check-frontend:
  image: $CI_REGISTRY/$CI_PROJECT_PATH/ci-image:latest
  before_script:
  - mv /app/front/node_modules ./front
  stage: check
  script:
  - cd front
  - npx eslint --ext .ts,.tsx src/
  - npm test

[api] refactor submit fix endpoint to propagate changes
  web/transactions/api/lots/submit_fix.py
Due: check-backend

[api] cleanup print
  web/core/traceability/node.py
  web/spa/middleware.py
  web/transactions/api/lots/add.py
Due: check-backend

[api] fix traceability to auto generate some fields
  web/core/traceability/lot.py
  web/core/traceability/node.py
Due: check-backend

[api] fix wrong check for traceability rights
  web/core/traceability/lot.py
  web/core/traceability/node.py
Due: check-backend

[api] prevent submitting corrections of lots with blocking errors
  web/transactions/api/lots/submit_fix.py
Due: check-backend

[api] refactor update endpoint to do better traceability checks
  front/src/transaction-details/api.ts
  web/api/v4/tests_lots_flow.py
  web/api/v4/urls.py
  web/api/v4/views.py
  web/transactions/api/lots/__init__.py
  web/transactions/api/lots/update.py
  web/transactions/api/stocks/tests_stocks.py
  web/transactions/sanity_checks.py
Due: check-backend, check-frontend

[api] fix update endpoint to check stock limit and adjust accordingly
  web/transactions/api/lots/update.py
Due: check-backend

[api] extract diff_to_metadata helper from update_many
  web/api/v5/admin/lots/update_many.py
  web/core/traceability/__init__.py
  web/core/traceability/node.py
Due: check-backend

[api+front] cleanup + fix tests
  front/src/carbure/__test__/api.ts
  front/src/transaction-details/__test__/api.ts
  web/api/v4/tests_corrections.py
  web/api/v4/urls.py
  web/api/v4/views.py
Due: check-backend, check-frontend

[api] fix production site fixtures
  web/fixtures/json/productionsites.json
Due: check-backend

[front+api] dynamically compute which fields of a lot should be disabled from traceability data
  front/src/common/components/form.tsx
  front/src/transaction-details/__test__/data.ts
  front/src/transaction-details/components/lots/index.tsx
  front/src/transaction-details/types.ts
  front/src/transactions/api.ts
  web/api/v4/views.py
  web/core/traceability/lot.py
Due: check-backend, check-frontend

[api] fix bugs in traceability engine
  web/core/traceability/lot.py
  web/core/traceability/node.py
  web/core/traceability/stock.py
Due: check-backend

[front] show deleted status instead of correction status
  front/src/transactions/components/lots/lot-tag.tsx
Due: check-frontend

[api] show only parents and children that the entity can see
  web/api/v4/views.py
Due: check-backend

[api] fix passed fields in traceability engine
  web/core/traceability/lot.py
  web/core/traceability/stock.py
Due: check-backend

[api] run sanity checks on updated version of the lot during update call
  web/transactions/api/lots/update.py
Due: check-backend

[front] fix tests
  front/src/settings/__test__/api.ts
  front/src/transaction-details/__test__/api.ts
Due: check-frontend

[api] copy models directly instead of their id in traceability engine
  web/core/traceability/lot.py
  web/core/traceability/stock.py
  web/core/traceability/stock_transform.py
  web/core/traceability/ticket.py
  web/core/traceability/ticket_source.py
Due: check-backend

[api] fix update many form validation
  web/api/v5/admin/lots/update_many.py
Due: check-backend

[front] fix disabling state for the producer autocomplete in lot form
  front/src/common/components/form.tsx
  front/src/lot-add/components/production-fields.tsx
Due: check-frontend

[api] add tolerance to duplicate production sites in lot form
  web/transactions/forms/lot_form.py
Due: check-backend

[api+front] add integrity checks during updates (to check if stock volume is respected)
  front/src/controls/actions/update-many-confirmation.tsx
  web/api/v5/admin/lots/update_many.py
  web/core/traceability/__init__.py
  web/core/traceability/node.py
  web/transactions/api/lots/update.py
Due: check-backend, check-frontend

[front] fix missing api mock
  front/src/carbure/__test__/api.ts
Due: check-frontend

execute script 2023-04-7_update_dc_registrations in production
  scripts/patches/2023-04-7_update_dc_registrations.py
Due: none

[api] refacto transactions years; snapshot and declarations
  front/src/transactions/__test__/api.ts
  front/src/transactions/api.ts
  web/api/v4/urls.py
  web/api/v4/views.py
  web/api/v5/__init__.py
  web/api/v5/declarations/__init__.py
  web/api/v5/declarations/tests/__init__.py
  web/transactions/api/__init__.py
  web/transactions/api/declarations/__init__.py
  web/transactions/api/declarations/declarations.py
  web/transactions/api/declarations/invalidate.py
  web/transactions/api/declarations/tests_invalidate.py
  web/transactions/api/declarations/tests_validate.py
  web/transactions/api/declarations/validate.py
  web/transactions/api/snapshot.py
  web/transactions/api/years.py
Due: check-backend, check-frontend

[scripts] fix 2bs certificate loader
  web/carbure/scripts/update_2bs_certificates.py
Due: check-backend

Path conditions:
  build-ci-image: any of: ci/Dockerfile, Pipfile, Pipfile.lock, front/package.json, front/package-lock.json
  check-backend: any of: web/**/*
  check-frontend: any of: front/**/*
