Repository MTES-MCT/carbure: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-ci-image, check-backend, check-frontend

build-ci-image:
  stage: prepare
  image: docker:stable
  services:
  - docker:dind
  script:
  - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
  - docker build -f ci/Dockerfile -t $CI_REGISTRY/$CI_PROJECT_PATH/ci-image:latest .
  - docker push $CI_REGISTRY/$CI_PROJECT_PATH/ci-image:latest

check-backend:
  image: $CI_REGISTRY/$CI_PROJECT_PATH/ci-image:latest
  before_script:
  - mv /app/.venv ./.venv
  - mv /app/front/node_modules ./front
  stage: check
  services:
  - mysql:8.0
  - redis:latest
  script:
  - export CARBURE_HOME=$(pwd)
  - export DATABASE_URL=mysql://root:$MYSQL_ROOT_PASSWORD@mysql:3306/$MYSQL_DATABASE
  ...

check-frontend:
  image: $CI_REGISTRY/$CI_PROJECT_PATH/ci-image:latest
  before_script:
  - mv /app/.venv ./.venv
  - mv /app/front/node_modules ./front
  stage: check
  script:
  - cd front
  - npx eslint --ext .ts,.tsx src/
  - npm test

fix: fix errors after rebase
  front/src/elec-charge-points/pages/charge-points-list/__test__/data.ts
Due: check-frontend

[back] rename cpo charge_point list response key
  front/src/elec-charge-points/pages/charge-points-list/index.tsx
  front/src/elec-charge-points/pages/charge-points-list/types.ts
  web/elec/api/cpo/charge_points/charge_points.py
  web/elec/api/cpo/charge_points/tests_charge_points.py
Due: check-backend, check-frontend

refactor(elec): remove years in url
  front/src/carbure/index.tsx
  front/src/elec-charge-points/charge-points.tsx
Due: check-frontend

feat: init charge points list page
  front/src/elec-charge-points/api.ts
  front/src/elec-charge-points/charge-points-list.tsx
  front/src/elec-charge-points/charge-points-tabs.tsx
  front/src/elec-charge-points/charge-points.tsx
  front/src/elec-charge-points/types.ts
Due: check-frontend

[back] fix filter and export
  web/elec/api/cpo/charge_points/charge_points.py
  web/elec/api/cpo/charge_points/filters.py
Due: check-backend

feat: prepare charge points tabl
  front/src/elec-charge-points/pages/charge-points-list/api.ts
  front/src/elec-charge-points/pages/charge-points-list/index.hooks.ts
  front/src/elec-charge-points/pages/charge-points-list/index.tsx
  front/src/elec-charge-points/pages/charge-points-list/status-switcher.tsx
  front/src/elec-charge-points/pages/charge-points-list/table/index.hooks.tsx
  front/src/elec-charge-points/pages/charge-points-list/table/index.tsx
  front/src/elec-charge-points/pages/charge-points-list/table/status.tsx
  front/src/elec-charge-points/pages/charge-points-list/types.ts
Due: check-frontend

[back] change pdc filters
  web/elec/api/admin/charge_points/application_details.py
  web/elec/api/admin/charge_points/charge_points.py
  web/elec/api/admin/charge_points/tests_charge_points.py
  web/elec/api/cpo/charge_point_snapshot.py
  web/elec/api/cpo/charge_points/application_details.py
  web/elec/api/cpo/charge_points/charge_points.py
  web/elec/api/cpo/charge_points/filters.py
  web/elec/api/cpo/charge_points/tests_charge_points.py
  web/elec/serializers/elec_charge_point.py
Due: check-backend

feat(<front>): continue pdc table
  front/public/locales/en/translation.json
  front/public/locales/fr/translation.json
  front/src/common/components/table.tsx
  front/src/elec-charge-points/pages/charge-points-list/__test__/api.ts
  front/src/elec-charge-points/pages/charge-points-list/api.ts
  front/src/elec-charge-points/pages/charge-points-list/index.hooks.ts
  front/src/elec-charge-points/pages/charge-points-list/index.tsx
  front/src/elec-charge-points/pages/charge-points-list/status-switcher.tsx
  front/src/elec-charge-points/pages/charge-points-list/table/index.hooks.tsx
  front/src/elec-charge-points/pages/charge-points-list/table/index.tsx
  front/src/elec-charge-points/pages/charge-points-list/types.ts
  front/src/elec-charge-points/pages/charge-points-pending.tsx
Due: check-frontend

fix: latest_meter_reading_date format
  web/elec/api/cpo/charge_points/charge_points.py
  web/elec/api/cpo/charge_points/filters.py
  web/elec/api/cpo/charge_points/tests_charge_points.py
Due: check-backend

feat: terminate charge points list table
  front/public/locales/en/translation.json
  front/public/locales/fr/translation.json
  front/src/elec-charge-points/pages/list/api.ts
  front/src/elec-charge-points/pages/list/index.tsx
  front/src/elec-charge-points/pages/list/table/index.hooks.tsx
  front/src/elec-charge-points/pages/list/table/index.tsx
  front/src/elec-charge-points/pages/list/table/is-article-2.tsx
  front/src/elec-charge-points/pages/list/types.ts
Due: check-frontend

refactor(elec): bad import meter readings page
  front/src/elec-charge-points/charge-points.tsx
Due: check-frontend

fix(elec): fix translation
  front/public/locales/en/translation.json
  front/public/locales/fr/translation.json
  front/src/elec-auditor/components/table.tsx
Due: check-frontend

fix(elec): remove year param
  front/src/elec-charge-points/pages/list/api.ts
Due: check-frontend

fix(invitation): do not create new EmailDevice when user already exists
  web/auth/api/register.py
  web/entity/api/users/tests_users.py
Due: check-backend

Hotfix : OTP token not sent
  web/auth/api/register.py
  web/entity/api/users/tests_users.py
Due: check-backend

back: remove year filter for cpo and change date format
  web/elec/api/cpo/__init__.py
  web/elec/api/cpo/charge_point_years.py
  web/elec/api/cpo/charge_points/charge_points.py
  web/elec/api/cpo/charge_points/filters.py
  web/elec/api/cpo/charge_points/tests_charge_points.py
  web/elec/serializers/elec_charge_point.py
Due: check-backend

fix: tests
  web/elec/api/cpo/tests_cpo.py
Due: check-backend

fix(elec): with latest_meter_reading_date
  front/src/elec-charge-points/pages/list/table/index.hooks.tsx
  front/src/elec-charge-points/pages/list/table/index.tsx
  front/src/elec-charge-points/pages/list/types.ts
Due: check-frontend

refactor: remove year from endpoint
  front/src/elec-charge-points/pages/list/api.ts
Due: check-frontend

fix: filters
  web/elec/api/cpo/charge_points/charge_points.py
  web/elec/api/cpo/charge_points/filters.py
Due: check-backend

fix: filters
  web/elec/api/cpo/charge_points/filters.py
  web/elec/api/cpo/charge_points/tests_charge_points.py
Due: check-backend

fix(elec): fix translation reading meter filter
  front/src/elec-charge-points/pages/list/index.hooks.ts
Due: check-frontend

fix: filters
  web/elec/api/cpo/charge_points/charge_points.py
Due: check-backend

Path conditions:
  build-ci-image: any of: ci/Dockerfile, Pipfile, Pipfile.lock, front/package.json, front/package-lock.json
  check-backend: any of: web/**/*
  check-frontend: any of: front/**/*
