Repository MTES-MCT/carbure: changes, and which GitLab CI jobs are due for each by the changed paths.
All: check-backend, check-frontend

.gitlab-ci.yml:

stages:
  - check


workflow:
  rules:
    # 1. Don't run pipelines for MR drafts.
    - if: $CI_PIPELINE_SOURCE == "merge_request_event" && $CI_MERGE_REQUEST_TITLE =~ /^Draft:/
      when: never

    # 2. Don't run branch pipelines when there's an open MR for the branch (run the MR pipeline instead).
    - if: $CI_COMMIT_BRANCH && $CI_OPEN_MERGE_REQUESTS
      when: never

    # 3. Run all other MR pipelines
    - if: $CI_PIPELINE_SOURCE == 'merge_request_event'
      when: always

    # 4. Run branch pipelines for dev and master
    - if: $CI_COMMIT_BRANCH == "dev" || $CI_COMMIT_BRANCH == "master"
      when: always

    # 5. Else, don't run it
    - when: never


variables:
  MYSQL_DATABASE: carbure_mysql_test_db
  MYSQL_ROOT_PASSWORD: carbure_mysql_ci_db_password
  PIP_CACHE_DIR: "$CI_PROJECT_DIR/.cache/pip"
  PIPENV_VENV_IN_PROJECT: true


# job: run linting and tests for backend
check-backend:
  stage: check
  extends: .backend
  services:
    - mysql:8.0
    - redis:latest
  script:
    - export CARBURE_HOME=$(pwd)
    - export DATABASE_URL=mysql://root:$MYSQL_ROOT_PASSWORD@mysql:3306/$MYSQL_DATABASE
    - export REDIS_URL=redis://redis:6379
    - pipenv run ruff check
    - pipenv run ruff format --check
    - TEST=1 pipenv run python web/manage.py test web


# job: run linting and tests for frontend
check-frontend:
  stage: check
  extends: .frontend
  script:
    - npm run lint
    - npm run build
    - npx chromatic
  interruptible: true


.backend:
  image: python:3.12
  cache:
    - key:
        files:
          - Pipfile.lock
      paths:
        - .cache/pip/
        - .venv/
  before_script:
    - pip install pipenv
    - pipenv install --dev --deploy --ignore-pipfile
  rules:
    - changes:
      - web/**/*
      - .gitlab-ci.yml


.frontend:
  image: node:latest
  cache:
    - key:
        files:
          - front/package-lock.json
      paths:
        - front/.npm/
  before_script:
    - cd front
    - npm ci --cache .npm --prefer-offline
  rules:
    - changes:
      - front/**/*
      - .gitlab-ci.yml

feat: add rules contract signature date
  front/src/biomethane/pages/contract/components/contract-files/add-contract.tsx
  front/src/biomethane/pages/contract/components/contract-files/add-contract.utils.ts
  front/src/biomethane/pages/contract/components/contract-files/contract-files.tsx
  front/src/common/components/inputs2/date/date-input.tsx
  front/src/common/components/stepper/stepper.tsx
Due: check-frontend

refactor: send only required data for each section digestate
  front/src/biomethane/pages/digestate/components/composting/composting.tsx
  front/src/biomethane/pages/digestate/components/incineration-landfill/incineration-landfill.tsx
  front/src/biomethane/pages/digestate/components/production/production.tsx
  front/src/biomethane/pages/digestate/components/sale/sale.tsx
  front/src/biomethane/pages/digestate/components/spreading-distance/spreading-distance.tsx
Due: check-frontend

feat: add form validation on stepper
  front/src/accounting/components/quantity-form/quantity-form.hooks.ts
  front/src/accounting/pages/balances/biofuels/debit-operation-dialog/cession-dialog/cession-dialog.tsx
  front/src/accounting/pages/balances/biofuels/debit-operation-dialog/transfert-dialog/transfert-dialog.tsx
  front/src/common/components/stepper/README.md
  front/src/common/components/stepper/stepper.provider.tsx
  front/src/common/components/stepper/stepper.stories.tsx
  front/src/common/components/stepper/stepper.tsx
Due: check-frontend

feat(biomethane): complete energy model and serializer
  web/biomethane/serializers/energy/__init__.py
Due: check-backend

feat(biomethane): add tests for 'contract' part
  web/biomethane/serializers/contract/contract.py
  web/biomethane/tests/contract/__init__.py
  web/biomethane/tests/contract/amendment/__init__.py
  web/biomethane/tests/contract/amendment/test_serializers.py
  web/biomethane/tests/contract/amendment/test_views.py
  web/biomethane/tests/contract/test_serializers.py
  web/biomethane/tests/contract/test_signals.py
  web/biomethane/tests/contract/test_views.py
  web/biomethane/tests/test_contract.py
  web/biomethane/tests/test_contract_amendment.py
Due: check-backend

feat: prefill adress fields with SIRET
  api-schema.yaml
  front/src/api-schema.ts
  front/src/biomethane/pages/production/components/general-info.tsx
  front/src/common/api.ts
  front/src/common/molecules/siret-picker.tsx
  front/src/companies/api.ts
  web/entity/serializers/registration.py
Due: check-backend, check-frontend

feat: clean current_tracked_types when amendment is add
  web/biomethane/serializers/contract/contract_amendment.py
  web/biomethane/tests/contract/amendment/test_serializers.py
Due: check-backend

feat(biomethane): use filtersets and dispatch in get_queryset() for digestate viewset
  web/biomethane/views/digestate/digestate.py
Due: check-backend

feat(biomethane): contract - use filterset for entity_id filtering
  web/biomethane/filters/__init__.py
  web/biomethane/filters/contract.py
  web/biomethane/filters/contract_amendment.py
  web/biomethane/views/contract/contract.py
Due: check-backend

feat(biomethane): put back get_serializer_class()
  web/biomethane/views/digestate/digestate.py
Due: check-backend

feat(biomethane): tests for contract part
  web/biomethane/tests/contract/amendment/test_serializers.py
  web/biomethane/tests/contract/amendment/test_views.py
  web/biomethane/tests/contract/test_serializers.py
  web/biomethane/tests/contract/test_signals.py
  web/biomethane/tests/contract/test_views.py
Due: check-backend

feat: start adding new feature contract
  front/src/biomethane/pages/contract/components/contract-infos/contract-infos.hooks.ts
  web/biomethane/migrations/0017_biomethanecontract_tracked_amendment_types.py
  web/biomethane/models/biomethane_contract.py
  web/biomethane/serializers/contract/contract.py
  web/biomethane/tests/contract/test_serializers.py
Due: check-backend, check-frontend

feat(biomethane): use filtersets for digestate viewset
  web/biomethane/filters/__init__.py
  web/biomethane/filters/digestate.py
  web/biomethane/views/digestate/digestate.py
Due: check-backend

feat(biomethane): force current declaration year for upsert (digestate)
  web/biomethane/views/digestate/digestate.py
Due: check-backend

feat(biomethane): add tests for injection site part
  web/biomethane/tests/test_injection_site.py
Due: check-backend

feat(biomethane): add tests for injection site part
  web/biomethane/serializers/injection_site/injection_site.py
  web/biomethane/tests/injection_site/__init__.py
  web/biomethane/tests/injection_site/test_serializers.py
  web/biomethane/tests/injection_site/test_signals.py
  web/biomethane/tests/injection_site/test_views.py
Due: check-backend

feat: display warn message when contract is updated
  api-schema.yaml
  front/src/api-schema.ts
  front/src/biomethane/pages/contract/components/tracked-amendment-types.tsx
  front/src/biomethane/pages/contract/contract.tsx
  front/src/biomethane/pages/contract/types.ts
  front/src/common/components/notice/notice.tsx
  web/biomethane/models/biomethane_contract_amendment.py
  web/biomethane/serializers/contract/contract.py
  web/biomethane/tests/test_contract_utils.py
  web/biomethane/utils/contract.py
Due: check-backend, check-frontend

fix: fix input name Villle -> Commune
  front/src/biomethane/pages/injection/injection.tsx
  front/src/biomethane/pages/production/components/general-info.tsx
Due: check-frontend

test: move tests from get_tracked_amendment_types
  web/biomethane/factories/__init__.py
  web/biomethane/serializers/contract/contract.py
  web/biomethane/tests/contract/test_serializers.py
  web/biomethane/tests/test_contract_utils.py
  web/biomethane/utils/contract.py
Due: check-backend

feat: add department code for production unit
  api-schema.yaml
  front/src/api-schema.ts
  front/src/biomethane/pages/digestate/components/composting/composting.tsx
  front/src/biomethane/pages/production/components/general-info.tsx
  front/src/common/molecules/autocomplete-departments.tsx
  front/src/companies/__test__/data.ts
  front/src/companies/types.ts
  web/biomethane/migrations/0018_biomethaneproductionunit_department.py
  web/biomethane/models/biomethane_production_unit.py
  web/entity/serializers/registration.py
  web/entity/tests/registration/tests_search_company.py
  web/entity/views/registration/search_company.py
Due: check-backend, check-frontend

feat(biomethane): add tests and factories for digestate part
  web/biomethane/factories/__init__.py
  web/biomethane/factories/digestate.py
  web/biomethane/factories/digestate_spreading.py
  web/biomethane/models/biomethane_digestate.py
  web/biomethane/serializers/digestate/spreading.py
  web/biomethane/tests/digestate/__init__.py
  web/biomethane/tests/digestate/mixins/__init__.py
  web/biomethane/tests/digestate/mixins/test_validate.py
  web/biomethane/tests/digestate/mixins/test_years.py
  web/biomethane/tests/digestate/spreading/__init__.py
  web/biomethane/tests/digestate/spreading/test_serializers.py
  web/biomethane/tests/digestate/spreading/test_views.py
  web/biomethane/tests/digestate/test_digestate.py
  web/biomethane/tests/digestate/test_serializers.py
  web/biomethane/tests/digestate/test_signals.py
  web/biomethane/tests/digestate/test_spreading.py
  web/biomethane/tests/digestate/test_views.py
  web/biomethane/tests/injection_site/test_serializers.py
  web/biomethane/tests/injection_site/test_views.py
Due: check-backend

feat: display alert red ii all the time
  front/src/biomethane/pages/contract/components/contract-infos/contract-infos.tsx
Due: check-frontend

test: remove unused stories
  api-schema.yaml
  front/src/api-schema.ts
  front/src/biomethane/pages/contract/tests/contract.data.ts
  front/src/common/api.ts
  front/src/common/components/stepper/stepper.stories.tsx
  front/src/common/molecules/siren-picker.tsx
  front/src/common/molecules/siret-picker.tsx
  web/biomethane/tests/test_contract_utils.py
  web/biomethane/utils/contract.py
  web/entity/serializers/registration.py
Due: check-backend, check-frontend

feat(biomethane): use new get_biomethane_permissions() method and add test for permissions testing
  web/biomethane/tests/contract/amendment/test_views.py
  web/biomethane/tests/contract/test_views.py
  web/biomethane/tests/digestate/spreading/test_views.py
  web/biomethane/tests/digestate/test_views.py
  web/biomethane/tests/injection_site/test_views.py
  web/biomethane/tests/test_production_unit.py
  web/biomethane/views/contract/contract.py
  web/biomethane/views/contract/contract_amendment.py
  web/biomethane/views/digestate/digestate.py
  web/biomethane/views/digestate/spreading.py
  web/biomethane/views/injection_site/injection_site.py
  web/biomethane/views/production_unit/digestate_storage.py
  web/biomethane/views/production_unit/production_unit.py
Due: check-backend

fix(doublecount): allow external admin with DC rights to access the endpoints
  web/doublecount/permissions.py
  web/doublecount/views/agreements/agreement.py
  web/doublecount/views/applications/application.py
  web/doublecount/views/snapshot.py
Due: check-backend

fix(doublecount): stricter queryset depending on the type of entity requesting data
  front/public/locales/en/translation.json
  web/doublecount/tests/agreements/tests_agreements_admin.py
  web/doublecount/tests/applications/tests_applications_admin.py
  web/doublecount/views/agreements/agreement.py
  web/doublecount/views/applications/application.py
Due: check-backend, check-frontend

feat(biomethane): change comment to test commit signature
  web/biomethane/tests/contract/test_views.py
Due: check-backend

feat(biomethane): fix tests
  web/biomethane/views/digestate/spreading.py
  web/entity/tests/registration/tests_search_company.py
Due: check-backend

fix: front/package.json & front/package-lock.json to reduce vulnerabilities
  front/package-lock.json
  front/package.json
Due: check-frontend

fix: add factory query to a lazy function
  web/biomethane/factories/contract.py
Due: check-backend

So far
  web/edelivery/adapters/edelivery_adapter.py
Due: check-backend

feat: add translations
  front/public/locales/en/translation.json
  front/public/locales/fr/translation.json
  front/src/biomethane/pages/contract/components/contract-infos/contract-infos.tsx
Due: check-frontend

Fetch next Domibus pending message id
  web/edelivery/adapters/edelivery_adapter.py
  web/edelivery/soap/actions.py
  web/edelivery/soap/responses.py
  web/edelivery/tests/soap/test_actions.py
  web/edelivery/tests/soap/test_responses.py
Due: check-backend

[CLEANUP] remove duplication
  web/edelivery/soap/actions.py
  web/edelivery/soap/envelope.py
  web/edelivery/soap/responses.py
  web/edelivery/tests/soap/test_actions.py
  web/edelivery/tests/soap/test_envelope.py
Due: check-backend

feat: add error when a site is created with bad infos
  front/public/locales/en/fields.json
  front/public/locales/fr/fields.json
  front/src/settings/pages/delivery-site/create-delivery-site-dialog.tsx
  web/transactions/models/site.py
Due: check-backend, check-frontend

Add `RetrieveMessage` SOAP action
  web/edelivery/soap/actions.py
  web/edelivery/soap/responses.py
  web/edelivery/tests/soap/test_actions.py
Due: check-backend

refactor: split clean function to depot/productionSite
  api-schema.yaml
  front/src/api-schema.ts
  front/src/common/components/inputs2/hidden-required-input.tsx
  web/entity/tests/depots/mixins/__init__.py
  web/entity/tests/depots/mixins/test_create_depot.py
  web/entity/tests/depots/tests_views.py
  web/transactions/factories/depot.py
  web/transactions/factories/production_site.py
  web/transactions/models/depot.py
  web/transactions/models/production_site.py
  web/transactions/models/site.py
  web/transactions/tests/__init__.py
  web/transactions/tests/test_models.py
Due: check-backend, check-frontend

feat: validate article 2 charge points in meter readings
  web/elec/services/import_meter_reading_excel.py
Due: check-backend

refactor: use balance endpoint to display total
  front/src/elec/pages/certificates/components/send-transfer-certificates.tsx
  front/src/elec/pages/certificates/hooks/provision-certificates.hooks.ts
  front/src/elec/pages/certificates/index.tsx
  front/src/elec/pages/certificates/pages/provision/index.tsx
  front/src/elec/pages/certificates/pages/transfer/index.tsx
Due: check-frontend

test: fix test import meter readings
  web/elec/api/cpo/meter_readings/tests_meter_readings.py
Due: check-backend
