Repository MTES-MCT/carbure: changes, and which GitLab CI jobs are due for each by the changed paths.
All: check-backend, check-frontend

check-backend:
  image: python:3.12
  cache:
  - key:
      files:
      - Pipfile.lock
    paths:
    - .cache/pip/
    - .venv/
  before_script:
  - pip install pipenv
  - pipenv install --dev --deploy --ignore-pipfile
  stage: check
  services:
  - mysql:8.0
  - redis:latest
  script:
  - export CARBURE_HOME=$(pwd)
  ...

check-frontend:
  image: node:latest
  cache:
  - key:
      files:
      - front/package-lock.json
    paths:
    - front/.npm/
  before_script:
  - cd front
  - npm ci --cache .npm --prefer-offline
  stage: check
  script:
  - npm run lint

refactor: get entity type from backend
  front/src/api-schema.d.ts
  front/src/carbure/__test__/api.ts
  front/src/carbure/__test__/data.ts
  front/src/carbure/hooks/entity.ts
  front/src/carbure/types.ts
  front/src/index.tsx
  front/tsconfig.json
Due: check-frontend

feat: update schema
  api-schema.yaml
  front/src/api-schema.ts
  front/src/saf/components/assignment/simple-assignment.tsx
  front/src/saf/pages/operator/api.ts
Due: check-frontend

feat: add extra infos yaml schema
  api-schema.yaml
  front/package-lock.json
  front/package.json
  front/scripts/overrides-api-schema.ts
  front/src/api-schema.d.ts
  front/src/api-schema.ts
  front/src/carbure/__test__/api.ts
  front/src/carbure/__test__/data.ts
  front/src/index.tsx
Due: check-frontend

refactor: fix ticket source details
  front/src/carbure/types.ts
  front/src/saf/pages/operator/api.ts
  front/src/saf/pages/operator/ticket-source-details/fields.tsx
  front/src/saf/pages/operator/ticket-source-details/index.tsx
  front/src/saf/pages/operator/ticket-source-details/parent-lot/durability-fields.tsx
  front/src/saf/pages/operator/types.ts
  front/src/saf/types.ts
Due: check-frontend

[back] add ticket source
  web/saf/views/ticket_source/mixins/grouped_assign.py
Due: check-backend

feat: update schema with enums
  api-schema.yaml
  front/package.json
  front/src/api-schema.d.ts
  front/src/saf/components/tickets/table.tsx
  front/src/saf/pages/airline/api.ts
  front/src/saf/pages/airline/tickets.tsx
  front/src/saf/types.ts
Due: check-frontend

feat: terminate endpoints airline
  front/package.json
  front/src/api-schema.ts
  front/src/common/services/api-axios.ts
  front/src/common/services/api-fetch.ts
  front/src/common/utils/cookies.ts
  front/src/saf/pages/airline/api.ts
Due: check-frontend

feat: add base chromatic conf
  front/chromatic.config.json
Due: check-frontend

[back] add suppliers and fix swagger
  web/saf/filters/ticket.py
  web/saf/views/extra/snapshot.py
  web/saf/views/ticket/mixins/filter.py
  web/saf/views/ticket_source/mixins/filter.py
Due: check-backend

build: update commands package.json
  front/package.json
Due: check-frontend

[back] add EFCA Depot
  web/core/models.py
Due: check-backend

[back] credit source in saf
  web/saf/views/ticket_source/mixins/__init__.py
  web/saf/views/ticket_source/mixins/credit.py
Due: check-backend

[back] add filter param
  web/saf/views/ticket/mixins/filter.py
Due: check-backend

feat: continue change endpoints saf
  front/src/common/services/api-fetch.types.ts
  front/src/saf/pages/airline/api.ts
  front/src/saf/pages/airline/index.tsx
  front/src/saf/types.ts
Due: check-frontend

feat: add chromatic to the CI
  .gitlab-ci.yml
  front/package.json
Due: check-backend, check-frontend

feat(openapi-to-ts): generate ts schema from openapi spec
  front/carbure-api.yaml
  front/package-lock.json
  front/package.json
  front/src/common/services/api-fetch.ts
  front/src/common/services/carbure-api.schema.d.ts
Due: check-frontend

feat: openapi ts ready to use
  api-schema.yaml
  front/package.json
  front/src/api-schema.d.ts
  front/src/common/services/api-fetch.ts
  front/src/common/services/carbure-api.schema.d.ts
  front/src/saf/pages/airline/api.ts
  front/tsconfig.json
  package.json
Due: check-frontend

fix: try to throw CI with new screenshot
  front/src/common/components/button.stories.tsx
Due: check-frontend

feat: download saf endpoint works
  api-schema.yaml
  front/package.json
  front/src/api-schema.d.ts
  front/src/common/services/api-fetch.ts
  front/src/common/services/api-fetch.types.ts
  front/src/saf/pages/airline/api.ts
  front/src/saf/pages/airline/index.tsx
  front/src/saf/pages/airline/types.ts
  front/src/saf/types.ts
Due: check-frontend

refactor: refacto last types
  api-schema.yaml
  front/src/api-schema.ts
  front/src/saf/components/assignment/grouped-assignment.tsx
  front/src/saf/pages/operator/api.ts
  front/src/settings/components/delivery-site/create-delivery-site-form.tsx
  front/src/settings/components/delivery-site/delivery-site.hooks.tsx
  front/src/settings/components/delivery-site/delivery-site.tsx
  front/src/transaction-details/components/lots/lot-traceability.tsx
  front/src/transaction-details/components/stocks/stock-traceability.tsx
  front/src/transactions/components/lots/lot-summary.tsx
  front/src/transactions/components/lots/lot-table.tsx
  front/src/transactions/components/stocks/stock-summary.tsx
  front/src/transactions/components/stocks/stock-table.tsx
Due: check-frontend

fix(login): check if user is authenticated before create session
  web/auth/api/login.py
Due: check-backend

fix: force rebuild
  front/src/common/components/button.stories.tsx
Due: check-frontend

feat: add chromatic
  docker-compose.yml
  front/.gitignore
  front/.storybook/preview.tsx
  front/README.md
  front/package-lock.json
  front/package.json
  front/src/carbure/__test__/api.ts
Due: check-frontend

[back] agreement_reference and agreement_date no required
  web/saf/serializers/saf_assign_ticket_source.py
Due: check-backend

feat: type generic useYears works
  front/src/common/services/api-fetch.types.ts
  front/src/saf/hooks/years.tsx
Due: check-frontend

fix: fix safTicketStatus enum
  front/src/saf/components/tickets/tag.tsx
  front/src/saf/pages/airline/api.ts
  front/src/saf/pages/airline/index.tsx
  front/src/saf/pages/airline/tabs.tsx
  front/src/saf/pages/airline/ticket-details.tsx
  front/src/saf/pages/operator/__test__/data.ts
  front/src/saf/pages/operator/tabs.tsx
  front/src/saf/pages/operator/ticket-details/index.tsx
  front/src/saf/pages/operator/tickets/status-switcher.tsx
  front/src/saf/types.ts
Due: check-frontend

[back] add entity id for assign
  web/saf/views/ticket_source/mixins/assign.py
Due: check-backend

refactor: continue refactoring
  front/src/carbure/__test__/data.ts
  front/src/carbure/types.ts
  front/src/controls/components/lots/control-lot-summary.tsx
  front/src/lot-add/components/ghg-fields.tsx
  front/src/lot-add/components/lot-fields.tsx
  front/src/registry/components/depots.tsx
  front/src/registry/components/feedstocks.tsx
  front/src/saf/components/assignment/grouped-assignment.tsx
  front/src/saf/pages/operator/__test__/data.ts
  front/src/saf/pages/operator/api.ts
  front/src/settings/components/delivery-site/create-delivery-site-form.tsx
  front/src/settings/components/delivery-site/delivery-site.hooks.tsx
Due: check-frontend

feat: fix the generic type for useYears saf
  api-schema.yaml
  front/src/api-schema.d.ts
  front/src/common/services/api-axios.ts
  front/src/common/services/api-fetch.ts
  front/src/common/services/api-fetch.types.ts
  front/src/saf/hooks/years.tsx
  front/src/saf/pages/airline/api.ts
  front/src/saf/pages/airline/index.tsx
Due: check-frontend

feat: last endpoints changed
  api-schema.yaml
  front/src/api-schema.ts
  front/src/saf/pages/operator/api.ts
  front/src/saf/pages/operator/ticket-details/credit-ticket-source.tsx
Due: check-frontend

fix: force logging node env
  front/src/index.tsx
Due: check-frontend

Feature/back import doublecount history
  web/doublecount/api/admin/applications/add.py
  web/doublecount/api/admin/applications/check_files.py
  web/doublecount/api/agreements/agreements.py
  web/doublecount/api/applications/check_file.py
  web/doublecount/api/applications/tests_applications.py
  web/doublecount/helpers.py
  web/doublecount/migrations/0015_doublecountingsourcinghistory.py
  web/doublecount/models.py
  web/doublecount/parser/dc_parser.py
  web/doublecount/parser/parse_sourcing_history.py
  web/doublecount/parser/types.py
  web/doublecount/serializers.py
  web/fixtures/csv/test_data/dc_agreement_application_errors_global.xlsx
  web/fixtures/csv/test_data/dc_agreement_application_errors_invalid_year_and_missing_data.xlsx
  web/fixtures/csv/test_data/dc_agreement_application_errors_missing_sheet.xlsx
  web/fixtures/csv/test_data/dc_agreement_application_errors_prod_integrity.xlsx
  web/fixtures/csv/test_data/dc_agreement_application_errors_production.xlsx
  web/fixtures/csv/test_data/dc_agreement_application_errors_production_max.xlsx
  web/fixtures/csv/test_data/dc_agreement_application_errors_sourcing.xlsx
  web/fixtures/csv/test_data/dc_agreement_application_errors_unknow_year.xlsx
  web/fixtures/csv/test_data/dc_agreement_application_valid.xlsx
Due: check-backend

[back] fix ticket source
  web/saf/views/ticket/mixins/__init__.py
  web/saf/views/ticket/mixins/credit_source.py
  web/saf/views/ticket_source/mixins/__init__.py
  web/saf/views/ticket_source/ticket_source.py
Due: check-backend

fix(elec): delete on cascade elecmeter when deleting charge point
  web/elec/migrations/0045_alter_elecmeter_charge_point.py
  web/elec/models/elec_meter.py
Due: check-backend

feat: remove entity from apiTypes
  api-schema.yaml
  front/src/api-schema.ts
  front/src/carbure/types.ts
  front/src/saf/types.ts
Due: check-frontend

fix: round number emission fields
  front/src/common/utils/formatters.ts
  front/src/lot-add/components/lot-form.tsx
Due: check-frontend

[back] fix assigned_tickets schema
  web/saf/serializers/saf_ticket.py
  web/saf/serializers/saf_ticket_source.py
Due: check-backend

feat: migrate saf operator ticket sources
  api-schema.yaml
  front/src/api-schema.ts
  front/src/common/hooks/years-2.ts
  front/src/saf/pages/airline/api.ts
  front/src/saf/pages/airline/index.tsx
  front/src/saf/pages/airline/tabs.tsx
  front/src/saf/pages/airline/tickets.tsx
  front/src/saf/pages/airline/types.ts
  front/src/saf/pages/operator/__test__/data.ts
  front/src/saf/pages/operator/api.ts
  front/src/saf/pages/operator/index.tsx
  front/src/saf/pages/operator/tabs.tsx
  front/src/saf/pages/operator/ticket-source-details/export.tsx
  front/src/saf/pages/operator/ticket-sources/index.tsx
  front/src/saf/types.ts
  web/saf/views/ticket_source/mixins/filter.py
Due: check-backend, check-frontend

feat: continue refactoring endpoints saf
  front/package.json
  front/src/common/hooks/query-builder-2.ts
  front/src/saf/pages/airline/api.ts
  front/src/saf/pages/airline/index.tsx
  front/src/saf/pages/airline/tickets.tsx
  front/src/saf/types.ts
Due: check-frontend

feat: remove the error
  front/src/common/components/button.stories.tsx
Due: check-frontend

Path conditions:
  check-backend: any of: web/**/*, .gitlab-ci.yml
  check-frontend: any of: front/**/*, .gitlab-ci.yml
