Repository MTES-MCT/carbure: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-ci-image, check-backend, check-frontend

build-ci-image:
  stage: prepare
  image: docker:stable
  services:
  - docker:dind
  script:
  - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
  - docker build -f ci/Dockerfile -t $CI_REGISTRY/$CI_PROJECT_PATH/ci-image:latest .
  - docker push $CI_REGISTRY/$CI_PROJECT_PATH/ci-image:latest

check-backend:
  image: $CI_REGISTRY/$CI_PROJECT_PATH/ci-image:latest
  before_script:
  - mv /app/front/node_modules ./front
  stage: check
  services:
  - mysql:8.0
  - redis:latest
  script:
  - export CARBURE_HOME=$(pwd)
  - export DATABASE_URL=mysql://root:$MYSQL_ROOT_PASSWORD@mysql:3306/$MYSQL_DATABASE
  ...

check-frontend:
  image: $CI_REGISTRY/$CI_PROJECT_PATH/ci-image:latest
  before_script:
  - mv /app/front/node_modules ./front
  stage: check
  script:
  - cd front
  - npx eslint --ext .ts,.tsx src/
  - npm test

[ops] pip lock versions
  Pipfile
Due: build-ci-image

[ci] force check backend
  web/elec/api/cpo/charge_points/tests_charge_points.py
Due: check-backend

[ci] force check backend
  Pipfile
  Pipfile.lock
  web/elec/api/cpo/charge_points/tests_charge_points.py
Due: build-ci-image, check-backend

[api] fix spa middleware
  web/carbure/middlewares/spa.py
Due: check-backend

[api] disable silk profiler
  web/carbure/settings.py
Due: check-backend

[api] bigger cpo name in db
  web/elec/migrations/0031_alter_elecchargepoint_cpo_name.py
  web/elec/models/elec_charge_point.py
Due: check-backend

[api] sort validator errors by line number
  web/core/utils.py
Due: check-backend

[api] better parsing and targeting of the charge point excel
  web/elec/services/import_charge_point_excel.py
  web/elec/services/transport_data_gouv.py
Due: check-backend

[api] cleanup
  web/elec/api/cpo/charge_points/tests_charge_points.py
Due: check-backend

[api] tolerate short data inside mid/prm columns
  web/elec/services/transport_data_gouv.py
Due: check-backend

[front] declaration wording + translations
  front/public/locales/en/translation.json
  front/public/locales/fr/translation.json
  front/src/transactions/actions/declaration.tsx
Due: check-frontend

[api] modify dc excel export valid date format
  web/doublecount/api/admin/agreements/agreements.py
Due: check-backend

[front] remove annuaire depots doublon
  front/src/registry/index.tsx
Due: check-frontend

[front] remove external link icon . already existing in dsfr
  front/src/carbure/components/footer.tsx
  front/src/common/components/button.tsx
  front/src/companies/components/registration-dialog.tsx
  front/src/elec/components/provision-certificates/transfer-dialog.tsx
Due: check-frontend

[front] fix stepper css + add Divider composant
  front/src/carbure/assets/css/index.css
  front/src/common/components/divider.module.css
  front/src/common/components/divider.tsx
  front/src/elec-audit-admin/components/charge-points/details.tsx
  front/src/elec-audit-admin/components/charge-points/sample-generation-form.tsx
Due: check-frontend

[front] create samplegenerationform
  front/src/elec-audit-admin/components/charge-points/details.tsx
  front/src/elec-audit-admin/components/charge-points/sample-generation-form.tsx
Due: check-frontend

[front] start generate sample
  front/src/elec-audit-admin/api.ts
  front/src/elec-audit-admin/components/charge-points/details.tsx
  front/src/elec-audit-admin/components/charge-points/list.tsx
Due: check-frontend

[front] sample generation
  front/src/elec-audit-admin/__test__/api.ts
  front/src/elec-audit-admin/__test__/data.ts
  front/src/elec-audit-admin/components/charge-points/details.tsx
  front/src/elec-audit-admin/components/charge-points/sample-generation-form.tsx
  front/src/elec-audit-admin/types.ts
Due: check-frontend

[front] add dsfr and stepper
  front/.gitignore
  front/package-lock.json
  front/package.json
  front/public/index.html
  front/src/carbure/assets/css/index.css
  front/src/common/components/button.module.css
  front/src/elec-audit-admin/components/charge-points/details.tsx
Due: build-ci-image, check-frontend

[front] reorder application modal sections
  front/src/common/components/form.module.css
  front/src/common/components/form.tsx
  front/src/elec-audit-admin/components/charge-points/details.tsx
  front/src/elec-audit-admin/components/meter-readings/details.tsx
Due: check-frontend

[front] add msw worker to mock api
  front/package.json
  front/public/mockServiceWorker.js
  front/src/elec-audit-admin/__test__/api.ts
  front/src/elec-audit-admin/components/charge-points/details.tsx
  front/src/elec/__test__/api.ts
  front/src/elec/__test__/settings-meter-readings.spec.tsx
  front/src/elec/types.ts
  front/src/index.tsx
Due: build-ci-image, check-frontend

[front] fix css ovveride dsfr
  front/src/carbure/assets/css/index.css
  front/src/carbure/components/home.module.css
  front/src/common/components/button.module.css
Due: check-frontend

Path conditions:
  build-ci-image: any of: ci/Dockerfile, Pipfile, Pipfile.lock, front/package.json, front/package-lock.json
  check-backend: any of: web/**/*
  check-frontend: any of: front/**/*
