Repository MTES-MCT/carbure: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-ci-image, check-backend, check-frontend

build-ci-image:
  stage: prepare
  image: docker:stable
  services:
  - docker:dind
  script:
  - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
  - docker build -f ci/Dockerfile -t $CI_REGISTRY/$CI_PROJECT_PATH/ci-image:latest .
  - docker push $CI_REGISTRY/$CI_PROJECT_PATH/ci-image:latest

check-backend:
  image: $CI_REGISTRY/$CI_PROJECT_PATH/ci-image:latest
  before_script:
  - mv /app/front/node_modules ./front
  stage: check
  services:
  - mysql:8.0
  - redis:latest
  script:
  - export CARBURE_HOME=$(pwd)
  - export DATABASE_URL=mysql://root:$MYSQL_ROOT_PASSWORD@mysql:3306/$MYSQL_DATABASE
  ...

check-frontend:
  image: $CI_REGISTRY/$CI_PROJECT_PATH/ci-image:latest
  before_script:
  - mv /app/front/node_modules ./front
  stage: check
  script:
  - cd front
  - npx eslint --ext .ts,.tsx src/
  - npm test

[api] update saf endpoints with new columns
  web/api/v5/saf/airline/tickets.py
  web/api/v5/saf/operator/ticket_source_filters.py
  web/api/v5/saf/operator/ticket_sources.py
  web/saf/models/saf_ticket_source.py
Due: check-backend

[api] change saf ticket period column to assignment_period and make it customizable on POST
  web/api/v5/saf/airline/ticket_filters.py
  web/api/v5/saf/airline/tickets.py
  web/api/v5/saf/operator/assign_ticket.py
  web/api/v5/saf/operator/ticket_filters.py
  web/api/v5/saf/operator/tickets.py
  web/saf/admin.py
  web/saf/factories/saf_ticket.py
  web/saf/migrations/0015_rename_period_safticket_assignment_period.py
  web/saf/models/saf_ticket.py
  web/saf/serializers/saf_ticket.py
Due: check-backend

[api] fix tests
  web/api/v5/saf/airline/tests/tests_ticket_details.py
  web/api/v5/saf/airline/tests/tests_ticket_filters.py
  web/api/v5/saf/airline/tests/tests_tickets.py
  web/api/v5/saf/operator/tests/tests_assign_ticket.py
  web/api/v5/saf/operator/tests/tests_ticket_details.py
  web/api/v5/saf/operator/tests/tests_ticket_filters.py
  web/api/v5/saf/operator/tests/tests_ticket_source_details.py
  web/api/v5/saf/operator/tests/tests_ticket_source_filters.py
  web/api/v5/saf/operator/tests/tests_ticket_sources.py
  web/api/v5/saf/operator/tests/tests_tickets.py
Due: check-backend

[api] add create entity endpoint
  web/api/v5/__init__.py
  web/api/v5/admin/__init__.py
  web/api/v5/admin/create_entity.py
Due: check-backend

[front] adapt entity creation form to new api
  front/src/companies/api.ts
  front/src/companies/components/add-entity-dialog.tsx
Due: check-frontend

[front+api] fix typo in create entity endpoint url
  front/src/companies/api.ts
  web/api/v5/admin/__init__.py
Due: check-backend, check-frontend

[front] dgac - add assigment_period field
  front/src/saf/__test__/data.ts
  front/src/saf/api.ts
  front/src/saf/components/ticket-source-details/assignment.tsx
  front/src/saf/components/ticket-sources/table.tsx
  front/src/saf/components/tickets/table.tsx
  front/src/saf/types.ts
Due: check-frontend

[front] dgac - fix review
  README.md
  front/src/companies/components/add-entity-dialog.tsx
  front/src/saf/components/client-tabs.tsx
  front/src/saf/components/no-result.tsx
  front/src/saf/components/operator-tabs.tsx
  front/src/saf/components/ticket-source-details/assignment.tsx
Due: check-frontend

[front] adapt api helper to deal with FileList upload and update dc file checker endpoint
  front/src/common/services/api.ts
  front/src/double-counting/api.ts
Due: check-frontend

[api] add new endpoint check many dc files at once
  web/api/v5/__init__.py
  web/api/v5/double_counting/__init__.py
  web/api/v5/double_counting/check_files.py
  web/doublecount/migrations/0002_alter_doublecountingagreement_production_site.py
  web/doublecount/migrations/0003_alter_doublecountingagreement_producer.py
  web/doublecount/models.py
Due: check-backend

[front+api] add perdio assignement field and add free_field in db
  README.md
  front/src/saf/api.ts
  front/src/saf/components/ticket-details/fields.tsx
  front/src/saf/components/ticket-source-details/assignment.tsx
  web/api/v5/saf/operator/assign_ticket.py
  web/saf/migrations/0016_safticket_free_field.py
  web/saf/models/saf_ticket.py
  web/saf/serializers/saf_ticket.py
Due: check-backend, check-frontend

[front] clean and translate
  front/public/locales/en/translation.json
  front/public/locales/fr/translation.json
  front/src/carbure/components/notifications.tsx
  front/src/saf/api.ts
  front/src/saf/components/ticket-details/fields.tsx
  front/src/saf/components/ticket-sources/table.tsx
  front/src/stats/index.tsx
Due: check-frontend

[front] fix review
  front/public/locales/en/translation.json
  front/public/locales/fr/translation.json
  front/src/saf/components/ticket-source-details/assignment.tsx
  front/src/saf/components/ticket-source-details/parent-lot.tsx
Due: check-frontend

[api] dgac - fix free_field in test
  README.md
  web/api/v5/saf/airline/tests/tests_ticket_details.py
  web/api/v5/saf/operator/tests/tests_ticket_details.py
  web/saf/migrations/0017_alter_safticket_free_field.py
  web/saf/migrations/0018_alter_safticket_free_field.py
  web/saf/models/saf_ticket.py
Due: check-backend

[front] dc-checker - list file
  front/src/carbure/components/notifications.tsx
  front/src/double-counting/__test__/data.ts
  front/src/double-counting/components/agreement-list.tsx
  front/src/double-counting/components/files-checker/files-checker-dialog.tsx
  front/src/double-counting/components/files-checker/index.tsx
  front/src/double-counting/components/files-checker/upload-button.tsx
  front/src/double-counting/index.tsx
  front/src/stats/index.tsx
  web/api/v5/double_counting/check_files.py
Due: check-backend, check-frontend

[front] dc-checker - show errors list
  front/src/double-counting/components/files-checker/errors-details-dialog.tsx
  front/src/double-counting/components/files-checker/index.tsx
  front/src/settings/utils/double-counting.ts
Due: check-frontend

clean code
  front/src/double-counting/components/files-checker/files-checker-dialog.tsx
  web/api/v5/double_counting/check_files.py
Due: check-backend, check-frontend

[front] bound dgac rights
  front/src/carbure/components/top-bar.tsx
  front/src/carbure/hooks/entity.ts
  front/src/carbure/index.tsx
  front/src/carbure/types.ts
  front/src/companies/components/add-entity-dialog.tsx
  front/src/companies/components/entity-summary.tsx
  front/src/companies/index.tsx
  front/src/companies/routes/entity-details.tsx
  front/src/settings/index.tsx
  web/core/models.py
Due: check-backend, check-frontend

[api] group dc file check db operations inside one transaction
  web/api/v5/double_counting/check_files.py
Due: check-backend

[front+api] allow external admins to access the list of companies and their users
  front/src/companies/api.ts
  front/src/companies/components/entity-summary.tsx
  front/src/companies/components/user-rights.tsx
  web/api/v3/admin/views.py
  web/core/models.py
Due: check-backend, check-frontend

Path conditions:
  build-ci-image: any of: ci/Dockerfile, Pipfile, Pipfile.lock, front/package.json, front/package-lock.json
  check-backend: any of: web/**/*
  check-frontend: any of: front/**/*
