Repository MTES-MCT/carbure: changes, and which GitLab CI jobs are due for each by the changed paths.
All: check-backend, check-frontend

check-backend:
  image: python:3.12
  cache:
  - key:
      files:
      - Pipfile.lock
    paths:
    - .cache/pip/
    - .venv/
  before_script:
  - pip install pipenv
  - pipenv install --dev --deploy --ignore-pipfile
  stage: check
  services:
  - mysql:8.0
  - redis:latest
  script:
  - export CARBURE_HOME=$(pwd)
  ...

check-frontend:
  image: node:latest
  cache:
  - key:
      files:
      - front/package-lock.json
    paths:
    - front/.npm/
  before_script:
  - cd front
  - npm ci --cache .npm --prefer-offline
  stage: check
  script:
  - npm run lint
  - npm run build
  - npx chromatic
  interruptible: true

chore(biomethane): simplify digestate storage viewset
  api-schema.yaml
  front/src/api-schema.ts
  web/biomethane/views/production_unit/digestate_storage.py
Due: check-backend, check-frontend

feat(biomethane): add api client for production unit
  front/src/biomethane/api.ts
  front/src/biomethane/types.ts
Due: check-frontend

feat(biomethane): connect more frontend components to production unit backend
  front/src/biomethane/pages/production/components/digestate-storage/add-digestate-storage.tsx
  front/src/biomethane/pages/production/components/digestate-storage/digestate-storage.tsx
  front/src/biomethane/pages/production/components/icpe/icpe.tsx
  front/src/biomethane/pages/production/components/sanitary-agreement/sanitary-agreement.tsx
  front/src/biomethane/pages/production/production.hooks.ts
  front/src/biomethane/pages/production/production.tsx
Due: check-frontend

feat(biomethane): make production unit fields optional
  web/biomethane/migrations/0008_alter_biomethaneproductionunit_company_address_and_more.py
  web/biomethane/models/biomethane_production_unit.py
  web/biomethane/serializers/production_unit.py
Due: check-backend

chore(biomethane): update api schema
  api-schema.yaml
  front/src/api-schema.ts
Due: check-frontend

fix: fix api-schema/package-lock bad rebasing
  front/src/api-schema.ts
Due: check-frontend

fix(common): make textinput and radiobutton nullable
  front/src/common/components/inputs2/radio/radio.tsx
  front/src/common/components/inputs2/text/text-input.stories.tsx
  front/src/common/components/inputs2/text/text-input.tsx
Due: check-frontend

feat: update schema
  api-schema.yaml
Due: none

feat(biomethane): change urls and schema for get, post and patch
  front/src/api-schema.ts
Due: check-frontend

feat(biomethane): add injection site viewset and serializers
  web/biomethane/serializers/__init__.py
  web/biomethane/serializers/injection_site.py
  web/biomethane/urls.py
  web/biomethane/views/__init__.py
  web/biomethane/views/injection_site/__init__.py
  web/biomethane/views/injection_site/injection_site.py
Due: check-backend

feat(biomethane): add injection site model
  web/biomethane/migrations/0006_biomethaneinjectionsite.py
  web/biomethane/models/__init__.py
  web/biomethane/models/biomethane_injection_site.py
Due: check-backend

feat(biomethane): return a single object in the schema, not array, for get_contract
  api-schema.yaml
Due: none

fix: regenerate schema
  api-schema.yaml
  front/src/api-schema.ts
Due: check-frontend

feat(biomethane): use JSONField to store checkbox group fields in backend models
  web/biomethane/migrations/0009_remove_biomethaneproductionunit_digestate_valorization_method_and_more.py
  web/biomethane/models/biomethane_production_unit.py
  web/biomethane/serializers/production_unit.py
  web/biomethane/tests/test_production_unit.py
Due: check-backend

feat: add injection site page
  front/src/biomethane/pages/injection/api.ts
  front/src/biomethane/pages/injection/injection.hooks.ts
  front/src/biomethane/pages/injection/injection.tsx
  front/src/biomethane/pages/injection/types.ts
  front/src/common/components/inputs2/radio/radio.tsx
  front/src/common/components/inputs2/text/text-input.stories.tsx
  front/src/common/components/inputs2/text/text-input.tsx
  web/biomethane/migrations/0007_rename_biomethaneentityconfigcontract_biomethanecontract_and_more.py
  web/biomethane/models/biomethane_injection_site.py
  web/biomethane/serializers/injection_site.py
  web/tiruert/migrations/0023_alter_operation_status.py
Due: check-backend, check-frontend

chore(biomethane): update api schema
  api-schema.yaml
  front/src/api-schema.ts
  front/src/biomethane/pages/production/types.ts
Due: check-frontend

chore(biomethane): rename production tables
  web/biomethane/migrations/0010_alter_biomethanedigestatestorage_options_and_more.py
  web/biomethane/models/biomethane_digestate_storage.py
  web/biomethane/models/biomethane_production_unit.py
Due: check-backend

refactor(biomethane): combine production_init create/update in upsert
  web/biomethane/urls.py
  web/biomethane/views/production_unit/production_unit.py
Due: check-backend

refactor(biomethane): adapt existing frontend to new upsert endpoint
  front/src/biomethane/pages/production/api.ts
  front/src/biomethane/pages/production/components/digestate-storage/digestate-storage.tsx
  front/src/biomethane/pages/production/components/general-info/general-info.tsx
  front/src/biomethane/pages/production/components/icpe/icpe.tsx
  front/src/biomethane/pages/production/components/sanitary-agreement/sanitary-agreement.tsx
  front/src/biomethane/pages/production/production.hooks.ts
  front/src/biomethane/pages/production/types.ts
  front/src/common/components/inputs2/radio/radio.tsx
Due: check-frontend

feat(biomethane): finalize complex production unit forms
  front/src/biomethane/pages/production/components/digestate-processing/digestate-processing.tsx
  front/src/biomethane/pages/production/components/production-site/production-site.tsx
  front/src/biomethane/pages/production/production.tsx
Due: check-frontend

[FIX] use proper `originalSender` value
  web/edelivery/soap/envelope.py
  web/edelivery/tests/soap/test_envelope.py
Due: check-backend

[FEAT] attach UDB request as ZIP file
  web/edelivery/adapters/base64_encoder.py
  web/edelivery/adapters/zip_compressor.py
  web/edelivery/ebms/messages.py
  web/edelivery/soap/envelope.py
  web/edelivery/tests/ebms/test_message.py
  web/edelivery/tests/soap/test_envelope.py
Due: check-backend

test(biomethane): remove irrelevant test
  web/biomethane/tests/test_production_unit.py
Due: check-backend

refacto: try to improve query builder
  front/src/common/hooks/new-query-builder.ts
  front/src/saf/pages/ticket-sources/index.tsx
  front/src/saf/types.ts
Due: check-frontend

refactor: simplify contract endpoint
  api-schema.yaml
  front/src/api-schema.ts
  front/src/biomethane/api.ts
  front/src/biomethane/pages/contract/components/contract-files/add-contract.hooks.ts
  front/src/biomethane/pages/contract/components/contract-infos/contract-infos.hooks.ts
  front/src/biomethane/pages/contract/components/contract-infos/contract-infos.tsx
  front/src/biomethane/types.ts
  web/biomethane/urls.py
  web/biomethane/views/contract/contract.py
Due: check-backend, check-frontend

[FIX] Use Original Sender NTR (as declared in UDB)
  .env.example
  web/edelivery/ebms/messages.py
  web/edelivery/soap/envelope.py
  web/edelivery/tests/ebms/test_message.py
  web/edelivery/tests/soap/test_envelope.py
Due: check-backend

refactor: simplify endpoints injection site
  api-schema.yaml
  front/src/api-schema.ts
  front/src/biomethane/pages/injection/api.ts
  front/src/biomethane/pages/injection/injection.hooks.ts
  front/src/biomethane/pages/injection/injection.tsx
  front/src/biomethane/pages/injection/types.ts
  web/biomethane/urls.py
  web/biomethane/views/injection_site/injection_site.py
Due: check-backend, check-frontend

refacto: stable version query builder
  front/src/common/components/export.tsx
  front/src/common/hooks/new-query-builder.ts
  front/src/elec-charge-points/pages/qualicharge/qualicharge.hooks.tsx
  front/src/elec-charge-points/pages/qualicharge/types.ts
  front/src/saf/pages/ticket-sources/index.tsx
  front/src/saf/pages/tickets/components/table.tsx
  front/src/saf/pages/tickets/index.hooks.ts
  front/src/saf/pages/tickets/index.tsx
  front/src/saf/types.ts
Due: check-frontend

feat: move query builder in a separate folder
  front/src/accounting/pages/operations/biofuels/operations.tsx
  front/src/accounting/types.ts
  front/src/common/hooks/new-query-builder.ts
  front/src/common/hooks/new-query-builder/index.ts
  front/src/common/hooks/new-query-builder/new-query-builder.hooks.ts
  front/src/common/hooks/new-query-builder/new-query-builder.ts
  front/src/common/hooks/new-query-builder/new-query-builder.types.ts
  front/src/elec-charge-points/pages/qualicharge/qualicharge.hooks.tsx
  front/src/elec-charge-points/pages/qualicharge/types.ts
  front/src/saf/pages/ticket-sources/index.tsx
  front/src/saf/types.ts
Due: check-frontend

refactor: terminate refacto new query builder
  front/src/accounting/pages/balances/biofuels/biofuels.tsx
  front/src/accounting/pages/balances/elec/elec.tsx
  front/src/accounting/pages/operations/elec/operations.tsx
  front/src/accounting/types.ts
  front/src/common/components/no-result2/no-result.tsx
  front/src/common/hooks/new-query-builder/index.ts
  front/src/common/hooks/new-query-builder/new-query-builder.ts
  front/src/common/hooks/new-query-builder/new-query-builder.types.ts
  front/src/common/molecules/filter-multiselect2/filter-multiselect2.tsx
  front/src/double-counting-admin/api.ts
  front/src/double-counting-admin/components/agreements/agreement-list.tsx
  front/src/double-counting-admin/components/applications/application-list.tsx
  front/src/double-counting-admin/types.ts
  front/src/elec/pages/certificates/pages/provision/hooks.tsx
  front/src/elec/pages/certificates/pages/provision/index.tsx
  front/src/elec/pages/certificates/pages/transfer/hooks.tsx
  front/src/elec/pages/certificates/pages/transfer/index.tsx
  front/src/elec/pages/certificates/types.ts
  front/src/saf/api.ts
Due: check-frontend

refactor: rename new-query-builder to query-builder-2
  front/src/accounting/pages/balances/biofuels/biofuels.tsx
  front/src/accounting/pages/balances/elec/elec.tsx
  front/src/accounting/pages/operations/biofuels/operations.tsx
  front/src/accounting/pages/operations/elec/operations.tsx
  front/src/accounting/types.ts
  front/src/common/components/export.tsx
  front/src/common/components/no-result2/no-result.tsx
  front/src/common/hooks/new-query-builder/index.ts
  front/src/common/hooks/query-builder-2.ts
  front/src/common/hooks/query-builder-2/index.ts
  front/src/common/hooks/query-builder-2/query-builder-2.hooks.ts
  front/src/common/hooks/query-builder-2/query-builder-2.ts
  front/src/common/hooks/query-builder-2/query-builder-2.types.ts
  front/src/common/molecules/filter-multiselect2/filter-multiselect2.tsx
  front/src/double-counting-admin/api.ts
  front/src/double-counting-admin/components/agreements/agreement-list.tsx
  front/src/double-counting-admin/components/applications/application-list.tsx
  front/src/double-counting-admin/types.ts
  front/src/elec-charge-points/pages/qualicharge/qualicharge.hooks.tsx
  front/src/elec-charge-points/pages/qualicharge/types.ts
  front/src/elec/pages/certificates/pages/provision/index.tsx
  front/src/elec/pages/certificates/pages/transfer/index.tsx
  front/src/elec/pages/certificates/types.ts
  front/src/saf/api.ts
  front/src/saf/pages/ticket-sources/index.tsx
  front/src/saf/pages/tickets/index.hooks.ts
  front/src/saf/types.ts
Due: check-frontend

Path conditions:
  check-backend: any of: web/**/*, .gitlab-ci.yml
  check-frontend: any of: front/**/*, .gitlab-ci.yml
