Repository MTES-MCT/carbure: changes, and which GitLab CI jobs are due for each by the changed paths.
All: check-backend, check-frontend

.gitlab-ci.yml:

stages:
  - check


workflow:
  rules:
    # 1. Don't run pipelines for MR drafts.
    - if: $CI_PIPELINE_SOURCE == "merge_request_event" && $CI_MERGE_REQUEST_TITLE =~ /^Draft:/
      when: never

    # 2. Don't run branch pipelines when there's an open MR for the branch (run the MR pipeline instead).
    - if: $CI_COMMIT_BRANCH && $CI_OPEN_MERGE_REQUESTS
      when: never

    # 3. Run all other MR pipelines
    - if: $CI_PIPELINE_SOURCE == 'merge_request_event'
      when: always

    # 4. Run branch pipelines for dev and master
    - if: $CI_COMMIT_BRANCH == "dev" || $CI_COMMIT_BRANCH == "master"
      when: always

    # 5. Else, don't run it
    - when: never


variables:
  MYSQL_DATABASE: carbure_mysql_test_db
  MYSQL_ROOT_PASSWORD: carbure_mysql_ci_db_password
  PIP_CACHE_DIR: "$CI_PROJECT_DIR/.cache/pip"
  PIPENV_VENV_IN_PROJECT: true


# job: run linting and tests for backend
check-backend:
  stage: check
  extends: .backend
  services:
    - mysql:8.0
    - redis:latest
  script:
    - export CARBURE_HOME=$(pwd)
    - export DATABASE_URL=mysql://root:$MYSQL_ROOT_PASSWORD@mysql:3306/$MYSQL_DATABASE
    - export REDIS_URL=redis://redis:6379
    - pipenv run ruff check
    - pipenv run ruff format --check
    - TEST=1 pipenv run python web/manage.py test web


# job: run linting and tests for frontend
check-frontend:
  stage: check
  extends: .frontend
  script:
    - npm run lint
    - npm run build
    - npx chromatic
  interruptible: true


.backend:
  image: python:3.12
  cache:
    - key:
        files:
          - Pipfile.lock
      paths:
        - .cache/pip/
        - .venv/
  before_script:
    - pip install pipenv
    - pipenv install --dev --deploy --ignore-pipfile
  rules:
    - changes:
      - web/**/*
      - .gitlab-ci.yml


.frontend:
  image: node:latest
  cache:
    - key:
        files:
          - front/package-lock.json
      paths:
        - front/.npm/
  before_script:
    - cd front
    - npm ci --cache .npm --prefer-offline
  rules:
    - changes:
      - front/**/*
      - .gitlab-ci.yml

feat(947): create certificate for compensation
  api-schema.yaml
  front/src/api-schema.ts
  front/src/carbure/__test__/data.ts
  front/src/carbure/types.ts
  front/src/saf/pages/operator/__test__/data.ts
  web/core/migrations/0039_alter_externaladminrights_right.py
  web/elec/management/commands/compensate_elec_provision_certificate.py
  web/elec/management/scripts/__init__.py
  web/elec/management/scripts/compensate_elec_provision_certificate.py
  web/elec/migrations/0052_elecprovisioncertificate_compensation.py
  web/elec/migrations/0053_update_model_data.py
  web/elec/models/elec_provision_certificate.py
  web/transactions/migrations/0012_alter_yearconfig_renewable_share.py
  web/transactions/models/year_config.py
Due: check-backend, check-frontend

feat(public stats): add public stats link
  front/src/common/layouts/navigation/private/user-menu/user-menu.tsx
  front/src/common/utils/routes.ts
Due: check-frontend

fix(schema ts): update schema ts
  api-schema.yaml
  front/src/api-schema.ts
  front/src/carbure/__test__/data.ts
  front/src/carbure/types.ts
  front/src/saf/pages/operator/__test__/data.ts
Due: check-frontend

refactor(refacto ui saf): continue refacto pages
  front/index.html
  front/src/common/molecules/filter-multiselect2/filter-multiselect2.tsx
  front/src/saf/components/filters.tsx
  front/src/saf/components/tickets/table.tsx
  front/src/saf/components/tickets/tag.tsx
Due: check-frontend

refactor(new ui saf): refacto checkbox to handle checkbox only for table
  front/src/common/components/inputs2/checkbox/checkbox.module.css
  front/src/common/components/inputs2/checkbox/checkbox.tsx
  front/src/common/components/table2/table.module.css
  front/src/common/components/table2/table.tsx
  front/src/saf/components/export.tsx
  front/src/saf/pages/operator/ticket-sources/index.tsx
  front/src/saf/pages/operator/ticket-sources/status-switcher.tsx
  front/src/saf/pages/operator/ticket-sources/table.tsx
  front/src/saf/pages/operator/ticket-sources/tag.tsx
Due: check-frontend

feat(refacto saf modal): refacto saf form with new UI
  front/src/common/components/collapse2/collapse.module.css
  front/src/common/components/collapse2/collapse.tsx
  front/src/common/components/dialog2/dialog.module.css
  front/src/common/components/inputs2/base-input.module.css
  front/src/common/components/inputs2/base-input.tsx
  front/src/common/components/inputs2/field.module.css
  front/src/common/components/inputs2/field.tsx
  front/src/common/components/selects2/select/select.tsx
  front/src/saf/components/assignment/period-select.tsx
  front/src/saf/components/assignment/simple-assignment.tsx
  front/src/saf/components/assignment/volume-input.tsx
  front/src/saf/components/tickets/tag.tsx
  front/src/saf/pages/operator/ticket-source-details/assigned-tickets.tsx
  front/src/saf/pages/operator/ticket-source-details/parent-lot/index.tsx
Due: check-frontend

refactor(refacto saf): continue refacto ui saf
  front/src/common/components/dialog2/dialog.module.css
  front/src/common/components/dialog2/dialog.tsx
  front/src/common/components/inputs2/checkbox/checkbox.module.css
  front/src/common/components/inputs2/checkbox/checkbox.stories.tsx
  front/src/common/components/inputs2/checkbox/checkbox.tsx
  front/src/common/components/inputs2/field.module.css
  front/src/common/components/inputs2/field.tsx
  front/src/common/components/inputs2/index.ts
  front/src/common/components/inputs2/input.tsx
  front/src/common/components/navigation/navigation.tsx
  front/src/common/components/scaffold.module.css
  front/src/common/components/scaffold.tsx
  front/src/common/components/table2/table.module.css
  front/src/common/components/table2/table.tsx
  front/src/saf/components/assignment/simple-assignment.tsx
  front/src/saf/components/dialog-section/dialog-section.module.css
  front/src/saf/components/dialog-section/dialog-section.tsx
  front/src/saf/components/ticket-details/fields.tsx
  front/src/saf/pages/operator/ticket-details/cancel-assignment.tsx
  front/src/saf/pages/operator/ticket-details/index.tsx
  front/src/saf/pages/operator/ticket-details/linked-ticket-source.tsx
  front/src/saf/pages/operator/ticket-source-details/index.tsx
  front/src/saf/pages/operator/ticket-source-details/parent-lot/durability-fields.tsx
Due: check-frontend

refactor(refacto ui saf): start refacto saf
  front/src/common/components/scaffold.module.css
  front/src/common/components/scaffold.tsx
  front/src/saf/components/export.tsx
  front/src/saf/pages/airline/index.tsx
  front/src/saf/pages/airline/tickets.hooks.ts
  front/src/saf/pages/airline/tickets.tsx
  front/src/saf/pages/operator/ticket-sources/index.tsx
  front/src/saf/pages/operator/tickets/index.tsx
Due: check-frontend

refactor(new layout saf): terminate assigned/received tickets
  front/src/common/components/icon/icon.tsx
  front/src/common/components/no-result2/index.ts
  front/src/common/components/no-result2/no-result.tsx
  front/src/common/components/notice/notice.tsx
  front/src/common/hooks/query-builder-2.ts
  front/src/saf/components/tickets/table.tsx
  front/src/saf/pages/airline/tickets.tsx
  front/src/saf/pages/operator/tickets/index.tsx
  front/src/saf/pages/operator/tickets/status-switcher.tsx
Due: check-frontend

refactor(saf refacto): terminate saf refacto only for operator
  front/public/locales/en/translation.json
  front/public/locales/fr/translation.json
  front/src/common/components/autocomplete2/autocomplete.stories.tsx
  front/src/common/components/autocomplete2/autocomplete.tsx
  front/src/common/components/autocomplete2/index.ts
  front/src/common/components/button2/button.tsx
  front/src/common/components/pagination2/index.ts
  front/src/common/components/selects2/select/select.tsx
  front/src/common/components/table2/table.stories.tsx
  front/src/common/components/table2/table.tsx
  front/src/common/hooks/years-2.ts
  front/src/saf/components/assignment/grouped-assignment.tsx
  front/src/saf/components/assignment/simple-assignment.tsx
  front/src/saf/components/ticket-details/reject-assignment.tsx
  front/src/saf/pages/airline/ticket-details.tsx
  front/src/saf/pages/operator/index.tsx
  front/src/saf/pages/operator/ticket-details/credit-ticket-source.tsx
  front/src/saf/pages/operator/ticket-details/index.tsx
  front/src/saf/pages/operator/ticket-details/linked-ticket-source.tsx
  front/src/saf/pages/operator/ticket-source-details/assigned-tickets.tsx
  front/src/saf/pages/operator/ticket-source-details/fields.tsx
  front/src/saf/pages/operator/ticket-sources/index.tsx
  front/src/saf/pages/operator/ticket-sources/summary.tsx
  front/src/saf/pages/operator/ticket-sources/table.tsx
Due: check-frontend

feat(saf modal): start refacto saf modal
  front/src/common/components/collapse2/collapse.stories.tsx
  front/src/common/components/collapse2/collapse.tsx
  front/src/common/components/collapse2/index.ts
  front/src/common/components/dialog2/dialog.module.css
  front/src/common/components/dialog2/dialog.tsx
  front/src/common/components/dialog2/index.ts
  front/src/common/components/icon/icon.tsx
  front/src/common/components/inputs2/field.tsx
  front/src/common/components/inputs2/input.tsx
  front/src/common/components/no-result2/no-result.tsx
  front/src/common/components/notice/notice.module.css
  front/src/common/components/notice/notice.tsx
  front/src/common/components/scaffold.module.css
  front/src/common/components/scaffold.tsx
  front/src/saf/components/dialog-section/dialog-section.module.css
  front/src/saf/components/dialog-section/dialog-section.tsx
  front/src/saf/components/dialog-section/index.ts
  front/src/saf/pages/operator/ticket-source-details/fields.tsx
  front/src/saf/pages/operator/ticket-source-details/index.tsx
  front/src/saf/pages/operator/ticket-source-details/parent-lot/durability-fields.tsx
  front/src/saf/pages/operator/ticket-sources/index.tsx
Due: check-frontend

refactor(saf ui): terminate refacto saf
  front/src/common/components/form2/form.tsx
  front/src/common/components/inputs2/base-input.tsx
  front/src/common/components/inputs2/radio/radio.tsx
  front/src/saf/pages/airline/accept-assignment.tsx
  front/src/saf/pages/airline/index.tsx
  front/src/saf/pages/airline/ticket-details.tsx
  front/src/saf/pages/operator/ticket-sources/index.tsx
Due: check-frontend

fix(show more): fix show more component to display filters
  front/src/common/components/show-more/show-more.tsx
  front/src/common/molecules/filter-multiselect2/filter-multiselect2.module.css
  front/src/common/molecules/filter-multiselect2/filter-multiselect2.tsx
Due: check-frontend

test(biofuels): update fixture and excel import tests
  web/transactions/api/lots/tests/tests_excel.py
  web/transactions/fixtures/test_lot_template.xlsx
Due: check-backend

fix(biofuels): overwrite excel producer value for non-trading producers
  web/core/common.py
Due: check-backend

feat(biofuels): add sanity check for production information
  front/public/locales/en/errors.json
  front/public/locales/fr/errors.json
  front/src/lot-add/components/lot-form.tsx
  web/core/carburetypes.py
  web/transactions/api/lots/tests/tests_excel.py
  web/transactions/sanity_checks/mandatory.py
  web/transactions/sanity_checks/sanity_checks.py
Due: check-backend, check-frontend

chore: remove old fixtures
  web/transactions/fixtures/test_producer_template.xlsx
  web/transactions/fixtures/test_producer_trader_template.xlsx
Due: check-backend

test(biofuels): add excel import tests for producer and producer trader entities
  web/transactions/api/lots/tests/tests_excel.py
  web/transactions/fixtures/test_producer_template.xlsx
  web/transactions/fixtures/test_producer_trader_template.xlsx
Due: check-backend

fix(biofuels): stricter checks for automatic fields
  web/core/common.py
  web/transactions/helpers.py
Due: check-backend

feat(nav): change stats translations
  front/public/locales/en/translation.json
  front/public/locales/fr/translation.json
  front/src/common/layouts/navigation/private/user-menu/user-menu.tsx
Due: check-frontend

feat(tiruert): wrong input serializer for simulate/min_max
  web/tiruert/views/operation/mixins/simulate.py
Due: check-backend

feat(tiruert): return biofuel object with id and code for balance endpoint
  web/tiruert/serializers/balance.py
  web/tiruert/services/balance.py
  web/tiruert/tests/tests_balances.py
Due: check-backend

feat(tiruert): wrong output serializer for simulate/min_max
  web/tiruert/views/operation/mixins/simulate.py
Due: check-backend

feat(tiruert): add a new value 'depot' for param 'group_by' for balance endpoint
  web/tiruert/serializers/__init__.py
  web/tiruert/serializers/balance.py
  web/tiruert/services/balance.py
  web/tiruert/views/operation/mixins/balance.py
Due: check-backend

feat: update schema tiruert
  api-schema.yaml
  front/src/api-schema.ts
Due: check-frontend

feat(1205): add kraft mp
  web/core/migrations/0039_new_kraft_mp.py
  web/transactions/sanity_checks/biofuel_feedstock.py
Due: check-backend

fix: schemas
  front/src/carbure/__test__/data.ts
  front/src/saf/pages/operator/__test__/data.ts
Due: check-frontend

fix: fixtures and no migration
  web/core/migrations/0039_new_kraft_mp.py
  web/doublecount/parser/excel_to_carbure_convertor.py
  web/fixtures/csv/matierespremieres.csv
Due: check-backend

feat(tiruert): return 3 possible serializers for /balance endpoint regarding 'group_by' paramater
  web/tiruert/serializers/__init__.py
  web/tiruert/serializers/balance.py
  web/tiruert/views/operation/mixins/balance.py
Due: check-backend

feat: add error message and fix login function
  front/src/auth/components/login.tsx
  web/auth/views/mixins/login.py
Due: check-backend, check-frontend

feat: add management command to update ticket
  web/saf/management/commands/__init__.py
  web/saf/management/commands/update_ticket_from_file.py
Due: check-backend

chore: add dependencies for biofuel anomaly detection
  Pipfile
  Pipfile.lock
Due: none

chore(biofuels): add type annotations to detect_outliers function
  web/transactions/services/anomaly_detection/detect_outliers.py
Due: check-backend

feat(biofuels): add new anomaly detection algorithm
  web/transactions/services/anomaly_detection/__init__.py
  web/transactions/services/anomaly_detection/anomaly_detection.py
  web/transactions/services/anomaly_detection/create_errors.py
  web/transactions/services/anomaly_detection/create_groups.py
  web/transactions/services/anomaly_detection/data/biofuel_mapping.csv
  web/transactions/services/anomaly_detection/data/db_tables_names.txt
  web/transactions/services/anomaly_detection/data/ddv_eec.csv
  web/transactions/services/anomaly_detection/data/ddv_ep.csv
  web/transactions/services/anomaly_detection/data/ddv_etd.csv
  web/transactions/services/anomaly_detection/data/feedstock_mapping.csv
  web/transactions/services/anomaly_detection/default_values.py
  web/transactions/services/anomaly_detection/detect_outliers.py
  web/transactions/services/anomaly_detection/load_db.py
Due: check-backend

feat(biofuels): add test endpoint to trigger anomaly detection
  web/carbure/api/__init__.py
  web/carbure/api/trigger_anomaly_detection.py
  web/transactions/services/anomaly_detection/anomaly_detection.py
  web/transactions/services/anomaly_detection/create_errors.py
Due: check-backend

chore(outliers): remove connectorx and put sqlalchemy for compatibility reasons
  Pipfile
  Pipfile.lock
  web/transactions/services/anomaly_detection/load_db.py
Due: check-backend

feat(outliers): refactor code for easier parameterization
  web/transactions/services/anomaly_detection/anomaly_detection.py
  web/transactions/services/anomaly_detection/create_errors.py
  web/transactions/services/anomaly_detection/create_groups.py
  web/transactions/services/anomaly_detection/data/db_tables_names.txt
  web/transactions/services/anomaly_detection/detect_outliers.py
Due: check-backend

fix(tiruert): fix serializers
  web/tiruert/serializers/balance.py
Due: check-backend

chore(outliers): remove test endpoint
  web/carbure/api/__init__.py
  web/carbure/api/trigger_anomaly_detection.py
Due: check-backend
