Repository MTES-MCT/carbure: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-ci-image, check-backend, check-frontend

.gitlab-ci.yml:

stages:
  - prepare
  - check
  - deploy

variables:
  MYSQL_DATABASE: carbure_mysql_test_db
  MYSQL_ROOT_PASSWORD: carbure_mysql_ci_db_password

# use prebuild CI image when running checks
.checks:
  image: $CI_REGISTRY/$CI_PROJECT_PATH/ci-image:latest
  before_script:
    - mv /app/front/node_modules ./front

# prepare git env to push new code to scalingo
.scalingo:
  image: alpine:latest
  before_script:
    - mkdir ~/.ssh
    - apk add --update git openssh-client
    - eval $(ssh-agent -s)
    - echo "$SCALINGO_SSH_PRIVATE_KEY" | tr -d '\r' | ssh-add -
    - ssh-keyscan $SCALINGO_SSH_HOST >> ~/.ssh/known_hosts
    - chmod 644 ~/.ssh/known_hosts
    - git config user.name $GIT_USER_NAME
    - git config user.email $GIT_USER_EMAIL
    - git remote add scalingo-dev $SCALINGO_GIT_REMOTE_DEV || true
    - git remote add scalingo-staging $SCALINGO_GIT_REMOTE_STAGING || true
    - git remote add scalingo-prod $SCALINGO_GIT_REMOTE_PROD || true
    - git fetch origin $CI_COMMIT_BRANCH --unshallow
    - git checkout $CI_COMMIT_BRANCH

build-ci-image:
  stage: prepare
  image: docker:stable
  services:
    - docker:dind
  script:
    - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
    - docker build -f ci/Dockerfile -t $CI_REGISTRY/$CI_PROJECT_PATH/ci-image:latest .
    - docker push $CI_REGISTRY/$CI_PROJECT_PATH/ci-image:latest
  only:
    changes:
      - ci/Dockerfile
      - Pipfile
      - Pipfile.lock
      - front/package.json
      - front/package-lock.json

check-backend:
  stage: check
  extends: .checks
  services:
    - mysql:8.0
    - redis:latest
  script:
    - export CARBURE_HOME=$(pwd)
    - export DATABASE_URL=mysql://root:$MYSQL_ROOT_PASSWORD@mysql:3306/$MYSQL_DATABASE
    - export REDIS_URL=redis://redis:6379
    - mypy web || true
    - TEST=1 python3 web/manage.py test web
  only:
    refs:
      - dev
      - master
    changes:
      - web/**/*

check-frontend:
  stage: check
  extends: .checks
  script:
    - cd front
    - npx eslint --ext .ts,.tsx src/
    - npm test
  only:
    refs:
      - dev
      - master
    changes:
      - front/**/*

deploy-dev:
  stage: deploy
  extends: .scalingo
  only:
    - dev
  script:
    - git push scalingo-dev $CI_COMMIT_BRANCH:master -f

deploy-staging:
  stage: deploy
  extends: .scalingo
  only:
    - master
  script:
    - git push scalingo-staging master -f

deploy-prod:
  stage: deploy
  extends: .scalingo
  when: manual
  only:
    - master
  script:
    - git push scalingo-prod master -f

[front] add admin ability to select a different user role for users
  front/public/locales/en/translation.json
  front/public/locales/fr/translation.json
  front/src/companies/api.ts
  front/src/companies/components/user-rights.tsx
Due: check-frontend

[api+front] add update-user-role admin endpoint + cleanup front
  front/public/locales/fr/translation.json
  front/src/companies/api.ts
  web/admin/api/entities/users/__init__.py
  web/admin/api/entities/users/update_user_role.py
Due: check-backend, check-frontend

add sort dc agreement + update sort icons
  front/src/common/components/table.module.css
  front/src/common/components/table.tsx
  front/src/double-counting/api.ts
  front/src/double-counting/components/agreement-list.tsx
  web/admin/api/double_counting/agreements/agreements.py
Due: check-backend, check-frontend

[dc] add production site details on application details
  front/src/double-counting/components/agreement-details-dialog.tsx
  front/src/double-counting/components/application-details-dialog.tsx
  front/src/double-counting/components/application-info.tsx
  front/src/double-counting/components/application-tabs.tsx
  front/src/double-counting/types.ts
  front/src/settings/components/production-site-dialog.tsx
  front/src/settings/components/production-site.tsx
  web/admin/api/double_counting/applications/application.py
  web/admin/api/double_counting/applications/update_quotas.py
  web/admin/api/double_counting/tests_double_counting.py
  web/certificates/serializers.py
  web/core/serializers.py
  web/doublecount/serializers.py
Due: check-backend, check-frontend

[dc] start parsing traceability
  front/src/double-counting/components/application-tabs.tsx
  front/src/settings/components/production-site-dialog.tsx
  web/doublecount/api/application/tests_application.py
  web/doublecount/errors.py
  web/doublecount/helpers.py
  web/doublecount/parser/dc_parser.py
  web/doublecount/parser/parse_traceability.py
Due: check-backend, check-frontend

[dc] disable parse traceability
  front/src/double-counting/components/dc-tables.tsx
  web/doublecount/helpers.py
  web/doublecount/parser/dc_parser.py
Due: check-backend, check-frontend

[front] fix async list not finding the appropriate value in the fetched items
  front/src/common/hooks/async-list.ts
Due: check-frontend

[dc] fix front and back
  front/src/double-counting/components/application-details-dialog.tsx
  front/src/double-counting/components/application-tabs.tsx
  front/src/settings/components/production-site-dialog.tsx
  web/admin/api/double_counting/agreements/agreement_details.py
  web/admin/api/double_counting/tests_double_counting.py
  web/admin/api/entities/production_sites.py
  web/certificates/models.py
  web/doublecount/factories/__init__.py
  web/doublecount/factories/application.py
  web/doublecount/serializers.py
Due: check-backend, check-frontend

[dc] fix tests for 'is_in_europe'
  web/admin/api/entities/production_sites.py
  web/saf/api/airline/tests/tests_ticket_details.py
  web/saf/api/airline/tests/tests_tickets.py
  web/saf/api/operator/tests/tests_ticket_details.py
  web/saf/api/operator/tests/tests_ticket_source_details.py
  web/saf/api/operator/tests/tests_ticket_sources.py
  web/saf/api/operator/tests/tests_tickets.py
Due: check-backend

[dc] create applicaiton factories
  front/src/double-counting/api.ts
  web/admin/api/double_counting/applications/__init__.py
  web/admin/api/double_counting/applications/update_quotas.py
  web/admin/api/double_counting/tests_double_counting.py
  web/doublecount/factories/__init__.py
  web/doublecount/factories/application.py
  web/doublecount/factories/production.py
  web/doublecount/factories/sourcing.py
Due: check-backend, check-frontend

[api] fix produciton site migration inconsistency
  web/producers/migrations/0003_alter_productionsite_dc_number.py
Due: check-backend

[dc] fix dc_number model , disbaled application email, fix agreement_id year
  web/admin/api/double_counting/applications/approve_application.py
  web/admin/api/double_counting/applications/reject_application.py
  web/doublecount/helpers.py
  web/doublecount/models.py
  web/producers/models.py
Due: check-backend

[dc] fix agreement_id test
  web/admin/api/double_counting/tests_double_counting.py
Due: check-backend

[back] improve dc tests
  web/admin/api/double_counting/agreements/tests_agreements.py
  web/admin/api/double_counting/applications/tests_applications.py
  web/doublecount/factories/agreement.py
  web/doublecount/factories/application.py
Due: check-backend

[back] fix excel file agreements list
  web/admin/api/double_counting/agreements/agreements.py
  web/admin/api/double_counting/agreements/tests_agreements.py
Due: check-backend

[back] disable POME check
  web/doublecount/dc_sanity_checks.py
Due: check-backend

[back] fix tests
  web/doublecount/api/application/tests_application.py
  web/doublecount/dc_sanity_checks.py
Due: check-backend

[ci] add the preview branch to temporarily deploy some code to dev
  .gitlab-ci.yml
  package.json
Due: none

[api] fix quantity computation not using newest biofuel during updates
  web/admin/api/controls/lots/update_many.py
  web/transactions/api/lots/update.py
  web/transactions/helpers.py
Due: check-backend

[api] disable MP/BC production site config error
  web/transactions/sanity_checks/general.py
  web/transactions/sanity_checks/sanity_checks.py
Due: check-backend

[api] fix tests
  web/transactions/sanity_checks/tests/tests_general.py
Due: check-backend
