Repository MTES-MCT/carbure: changes, and which GitLab CI jobs are due for each by the changed paths.
All: check-backend, check-frontend

.gitlab-ci.yml:

stages:
  - check


workflow:
  rules:
    # 1. Don't run pipelines for MR drafts.
    - if: $CI_PIPELINE_SOURCE == "merge_request_event" && $CI_MERGE_REQUEST_TITLE =~ /^Draft:/
      when: never

    # 2. Don't run branch pipelines when there's an open MR for the branch (run the MR pipeline instead).
    - if: $CI_COMMIT_BRANCH && $CI_OPEN_MERGE_REQUESTS
      when: never

    # 3. Run all other MR pipelines
    - if: $CI_PIPELINE_SOURCE == 'merge_request_event'
      when: always

    # 4. Run branch pipelines for dev and master
    - if: $CI_COMMIT_BRANCH == "dev" || $CI_COMMIT_BRANCH == "master"
      when: always

    # 5. Else, don't run it
    - when: never


variables:
  MYSQL_DATABASE: carbure_mysql_test_db
  MYSQL_ROOT_PASSWORD: carbure_mysql_ci_db_password
  PIP_CACHE_DIR: "$CI_PROJECT_DIR/.cache/pip"
  PIPENV_VENV_IN_PROJECT: true


# job: run linting and tests for backend
check-backend:
  stage: check
  extends: .backend
  services:
    - mysql:8.0
    - redis:latest
  script:
    - export CARBURE_HOME=$(pwd)
    - export DATABASE_URL=mysql://root:$MYSQL_ROOT_PASSWORD@mysql:3306/$MYSQL_DATABASE
    - export REDIS_URL=redis://redis:6379
    - pipenv run ruff check
    - pipenv run ruff format --check
    - TEST=1 pipenv run python web/manage.py test web


# job: run linting and tests for frontend
check-frontend:
  stage: check
  extends: .frontend
  script:
    - npm run lint
    - npm run build
    - npx chromatic
  interruptible: true


.backend:
  image: python:3.12
  cache:
    - key:
        files:
          - Pipfile.lock
      paths:
        - .cache/pip/
        - .venv/
  before_script:
    - pip install pipenv
    - pipenv install --dev --deploy --ignore-pipfile
  rules:
    - changes:
      - web/**/*
      - .gitlab-ci.yml


.frontend:
  image: node:latest
  cache:
    - key:
        files:
          - front/package-lock.json
      paths:
        - front/.npm/
  before_script:
    - cd front
    - npm ci --cache .npm --prefer-offline
  rules:
    - changes:
      - front/**/*
      - .gitlab-ci.yml

fix(tiruert): drf-spectacular error for mac export
  api-schema.yaml
  front/src/accounting/pages/teneur/api.ts
  front/src/api-schema.ts
  web/tiruert/views/mac_fossil_fuel/excel_export.py
Due: check-backend, check-frontend

fix(routes): do not auto-redirect to /transactions for admin entities
  front/src/common/index.tsx
Due: check-frontend

feat(user): new endpoint to update user email
  web/user/serializers/__init__.py
  web/user/serializers/user.py
  web/user/tests/test_update_email.py
  web/user/urls.py
  web/user/views/__init__.py
  web/user/views/user.py
Due: check-backend

feat(elec): turn replace charge point id command into an endpoint as well
  web/carbure/api/__init__.py
  web/elec/management/commands/replace_charge_point_id.py
  web/elec/services/replace_charge_point_id.py
  web/elec/urls.py
  web/elec/views/__init__.py
  web/elec/views/charge_point.py
Due: check-backend

feat(user): 2 new endpoints to change user email with otp verification
  web/auth/serializers/__init__.py
  web/auth/serializers/change_email.py
  web/auth/tests/test_change_email.py
  web/auth/views/auth.py
  web/auth/views/mixins/__init__.py
  web/auth/views/mixins/change_email.py
  web/templates/emails/email_change_otp.html
  web/templates/emails/email_change_otp.txt
  web/user/serializers/__init__.py
  web/user/serializers/user.py
  web/user/urls.py
  web/user/views/__init__.py
  web/user/views/user.py
Due: check-backend

feat(user): new form to change user email with validation modal with otp code
  api-schema.yaml
  front/src/account/api.ts
  front/src/account/components/authentication.tsx
  front/src/api-schema.ts
Due: check-frontend

feat(user): fix display of change email form button
  front/src/account/components/authentication.tsx
Due: check-frontend

feat(user): update email template for change user email
  web/templates/emails/email_change_otp.txt
Due: check-backend

feat(qualicharge): add provision certificate qualicharge model, modify 'bulk create' and add 'bulk update'
  web/elec/filters/provision_certificate.py
  web/elec/migrations/0056_elecprovisioncertificatequalicharge.py
  web/elec/models/__init__.py
  web/elec/models/elec_provision_certificate_qualicharge.py
  web/elec/serializers/elec_provision_certificate_qualicharge.py
  web/elec/urls.py
  web/elec/views/__init__.py
  web/elec/views/provision_certificate/__init__.py
  web/elec/views/provision_certificate/mixins/__init__.py
  web/elec/views/provision_certificate/mixins/bulk_create.py
  web/elec/views/provision_certificate/provision_certificate.py
  web/elec/views/provision_certificate_qualicharge/__init__.py
  web/elec/views/provision_certificate_qualicharge/mixins/__init__.py
  web/elec/views/provision_certificate_qualicharge/mixins/bulk_create.py
  web/elec/views/provision_certificate_qualicharge/mixins/bulk_update.py
  web/elec/views/provision_certificate_qualicharge/provision_certificate_qualicharge.py
Due: check-backend

update: scalingo node version
  package.json
Due: none

Send message to Domibus
  .env.example
  docker-compose.yml
  web/edelivery/__init__.py
  web/edelivery/access_point.py
  web/edelivery/edelivery_adapter.py
  web/edelivery/message.py
Due: check-backend

Reorganize XML namespaces
  web/edelivery/edelivery_adapter.py
Due: check-backend

[FIX] Don't display HTTP 4XX errors when running tests
  docker-compose.yml
  web/carbure/settings.py
Due: check-backend

fix(user-rights): control that access granting is done on the right entity
  web/entity/tests/users/tests_users.py
  web/entity/views/users/mixins/grant_access.py
Due: check-backend

[CLEANUP] directly use env vars specified in `.env` file
  docker-compose.yml
Due: none

[CLEANUP] Remove Ruff PT ruleset
  pyproject.toml
Due: none

Introduce (eDelivery) Access Point domain object
  web/edelivery/__init__.py
  web/edelivery/ebms/__init__.py
  web/edelivery/ebms/access_points.py
  web/edelivery/tests/__init__.py
  web/edelivery/tests/ebms/__init__.py
  web/edelivery/tests/ebms/test_access_point.py
Due: check-backend

fix: update date-fns imports
  front/package-lock.json
  front/package.json
  front/src/carbure/components/public-stats.tsx
  front/src/common/utils/formatters.ts
  front/src/double-counting/components/files-manager.tsx
  front/src/lot-add/components/ghg-fields.tsx
  front/src/settings/components/certificates.tsx
  front/src/stats/index.tsx
  front/src/transactions/utils/deadline.ts
Due: check-frontend

fix: add download link component
  front/package-lock.json
  front/package.json
  front/public/locales/en/translation.json
  front/public/locales/fr/translation.json
  front/src/accounting/pages/teneur/api.ts
  front/src/accounting/pages/teneur/components/overall-progress/overall-progress.tsx
  front/src/common/components/download/download.module.css
  front/src/common/components/download/download.stories.tsx
  front/src/common/components/download/download.tsx
  front/src/common/components/download/index.ts
  front/src/common/services/api-fetch.ts
Due: check-frontend

refactor: change returning function centToKEuros
  front/public/locales/en/translation.json
  front/public/locales/fr/translation.json
  front/src/accounting/pages/teneur/components/card-progress/card-progress.tsx
  front/src/accounting/pages/teneur/components/overall-progress/overall-progress.tsx
  front/src/common/utils/formatters.ts
  front/src/double-counting/components/quotas-table.tsx
Due: check-frontend

feat(qualicharge): do jwt validation only for bulk-create
  web/elec/urls.py
  web/elec/views/provision_certificate_qualicharge/mixins/bulk_create.py
  web/elec/views/provision_certificate_qualicharge/provision_certificate_qualicharge.py
Due: check-backend

cleanup(saf): remove old separate saf pages
  front/src/saf/pages/airline/index.tsx
  front/src/saf/pages/airline/pages/tickets/index.ts
  front/src/saf/pages/airline/pages/tickets/ticket-details/accept-assignment.tsx
  front/src/saf/pages/airline/pages/tickets/ticket-details/index.ts
  front/src/saf/pages/airline/pages/tickets/ticket-details/ticket-details.tsx
  front/src/saf/pages/airline/pages/tickets/tickets.hooks.ts
  front/src/saf/pages/airline/pages/tickets/tickets.tsx
  front/src/saf/pages/operator/api.ts
  front/src/saf/pages/operator/components/ticket-details/cancel-assignment.tsx
  front/src/saf/pages/operator/components/ticket-details/credit-ticket-source.tsx
  front/src/saf/pages/operator/components/ticket-details/index.tsx
  front/src/saf/pages/operator/components/ticket-details/linked-ticket-source.tsx
  front/src/saf/pages/operator/components/ticket-source-details/assigned-tickets.tsx
  front/src/saf/pages/operator/components/ticket-source-details/fields.tsx
  front/src/saf/pages/operator/components/ticket-source-details/index.stories.tsx
  front/src/saf/pages/operator/components/ticket-source-details/index.tsx
  front/src/saf/pages/operator/components/ticket-source-details/parent-lot.tsx
  front/src/saf/pages/operator/components/ticket-source-tag.tsx
  front/src/saf/pages/operator/index.tsx
  front/src/saf/pages/operator/pages/ticket-sources/index.hooks.ts
  front/src/saf/pages/operator/pages/ticket-sources/index.tsx
  front/src/saf/pages/operator/pages/ticket-sources/status-switcher.tsx
  front/src/saf/pages/operator/pages/ticket-sources/table.tsx
  front/src/saf/pages/operator/pages/ticket-sources/tag.tsx
  front/src/saf/pages/operator/pages/tickets/index.hooks.ts
  front/src/saf/pages/operator/pages/tickets/index.tsx
  front/src/saf/pages/operator/pages/tickets/status-switcher.tsx
  front/src/saf/pages/operator/types.ts
Due: check-frontend

feat(saf): return more info in saf serializers
  api-schema.yaml
  front/src/api-schema.ts
  web/saf/serializers/saf_ticket.py
  web/saf/serializers/saf_ticket_source.py
Due: check-backend, check-frontend

feat(saf): add new filters and data to tickets and sources
  api-schema.yaml
  front/src/api-schema.ts
  web/saf/filters/ticket.py
  web/saf/filters/ticket_source.py
  web/saf/serializers/saf_ticket.py
  web/saf/serializers/saf_ticket_source.py
  web/saf/views/ticket/mixins/filter.py
  web/saf/views/ticket_source/mixins/filter.py
Due: check-backend, check-frontend

refactor(saf): create centralized saf entrypoint route
  front/src/saf/index.tsx
Due: check-frontend

refactor(saf): adapt saf shared components
  front/src/saf/components/assignment/grouped-assignment.tsx
  front/src/saf/components/assignment/simple-assignment/simple-assignment.tsx
  front/src/saf/components/ticket-details/client-comment.tsx
  front/src/saf/components/ticket-details/fields.tsx
  front/src/saf/components/ticket-details/reject-assignment.tsx
  front/src/saf/components/ticket-source-tag.tsx
  front/src/saf/components/tickets/table.tsx
Due: check-frontend

feat(saf): add prebuilt permissions for SAF
  web/core/permissions.py
  web/saf/permissions.py
Due: check-backend

refactor(saf): better way to define dynamic ticket tabs
  front/src/saf/pages/tickets/index.tsx
  front/src/saf/pages/tickets/status-switcher.tsx
Due: check-frontend

fix(saf): wrong query invalidation
  front/src/saf/pages/ticket-details/components/accept-assignment.tsx
  front/src/saf/pages/ticket-details/components/cancel-assignment.tsx
  front/src/saf/pages/ticket-details/components/credit-ticket-source.tsx
  front/src/saf/pages/ticket-details/components/reject-assignment.tsx
Due: check-frontend

feat(saf): add admin access to tickets
  web/saf/filters/ticket.py
  web/saf/serializers/saf_ticket.py
  web/saf/views/ticket/mixins/credit_source.py
  web/saf/views/ticket/mixins/filter.py
  web/saf/views/ticket/ticket.py
Due: check-backend

refactor(saf): relocate ticket source pages
  front/src/saf/pages/ticket-source-details/assigned-tickets.tsx
  front/src/saf/pages/ticket-source-details/fields.tsx
  front/src/saf/pages/ticket-source-details/index.stories.tsx
  front/src/saf/pages/ticket-source-details/index.tsx
  front/src/saf/pages/ticket-source-details/parent-lot.tsx
  front/src/saf/pages/ticket-sources/index.hooks.ts
  front/src/saf/pages/ticket-sources/index.tsx
  front/src/saf/pages/ticket-sources/status-switcher.tsx
  front/src/saf/pages/ticket-sources/table.tsx
  front/src/saf/pages/ticket-sources/tag.tsx
Due: check-frontend

fix(saf): restrict credit_source endpoint access
  web/saf/views/ticket/mixins/credit_source.py
  web/saf/views/ticket/ticket.py
Due: check-backend

feat(saf): conditionnally display ticket operations based on entity type
  front/src/saf/pages/ticket-details/components/accept-assignment.tsx
  front/src/saf/pages/ticket-details/components/cancel-assignment.tsx
  front/src/saf/pages/ticket-details/components/client-comment.tsx
  front/src/saf/pages/ticket-details/components/credit-ticket-source.tsx
  front/src/saf/pages/ticket-details/components/fields.tsx
  front/src/saf/pages/ticket-details/components/linked-ticket-source.tsx
  front/src/saf/pages/ticket-details/components/reject-assignment.tsx
  front/src/saf/pages/ticket-details/index.tsx
  front/src/saf/pages/ticket-details/ticket-details.tsx
Due: check-frontend

cleanup(saf): update types and api endpoints
  front/src/saf/__test__/data.ts
  front/src/saf/api.ts
  front/src/saf/types.ts
Due: check-frontend

chore(saf): update test data
  front/src/saf/__test__/data.ts
Due: check-frontend

cleanup(saf): separate components in ticket source details
  front/src/saf/pages/ticket-sources/components/status-switcher.tsx
  front/src/saf/pages/ticket-sources/components/table.tsx
  front/src/saf/pages/ticket-sources/components/tag.tsx
  front/src/saf/pages/ticket-sources/index.tsx
Due: check-frontend

feat(saf): add info about child ticket source from ticket details
  front/src/saf/__test__/data.ts
  front/src/saf/pages/ticket-details/components/linked-ticket-source.tsx
  front/src/saf/pages/ticket-details/index.tsx
  front/src/saf/types.ts
Due: check-frontend

feat(saf): add admin access to ticket sources
  web/saf/filters/ticket_source.py
  web/saf/serializers/saf_ticket_source.py
  web/saf/views/ticket_source/mixins/filter.py
  web/saf/views/ticket_source/ticket_source.py
Due: check-backend

cleanup(saf): separate components in ticket source details
  front/src/saf/pages/ticket-source-details/components/assigned-tickets.tsx
  front/src/saf/pages/ticket-source-details/components/fields.tsx
  front/src/saf/pages/ticket-source-details/components/ticket-source-parent.tsx
  front/src/saf/pages/ticket-source-details/index.tsx
  front/src/saf/pages/ticket-source-details/parent-lot.tsx
Due: check-frontend
