Repository MTES-MCT/carbure: changes, and which GitLab CI jobs are due for each by the changed paths.
All: check-backend, check-frontend

check-backend:
  image: python:3.12
  cache:
  - key:
      files:
      - Pipfile.lock
    paths:
    - .cache/pip/
    - .venv/
  before_script:
  - pip install pipenv
  - pipenv install --dev --deploy --ignore-pipfile
  stage: check
  services:
  - mysql:8.0
  - redis:latest
  script:
  - export CARBURE_HOME=$(pwd)
  ...

check-frontend:
  image: node:latest
  cache:
  - key:
      files:
      - front/package-lock.json
    paths:
    - front/.npm/
  before_script:
  - cd front
  - npm ci --cache .npm --prefer-offline
  stage: check
  script:
  - npm run lint
  - npm run build
  - npx chromatic
  interruptible: true

feat: continue links sidenav
  front/package.json
  front/src/common/components/icon/icon.tsx
  front/src/common/hooks/routes.ts
  front/src/common/layouts/main-navigation/main-navigation.stories.tsx
  front/src/common/layouts/main-navigation/private-sidebar/child-item/child-item.module.css
  front/src/common/layouts/main-navigation/private-sidebar/child-item/child-item.tsx
  front/src/common/layouts/main-navigation/private-sidebar/private-sidebar.hooks.ts
  front/src/common/layouts/main-navigation/private-sidebar/private-sidebar.module.css
  front/src/common/layouts/main-navigation/private-sidebar/private-sidebar.tsx
  front/src/common/layouts/main-navigation/private-sidebar/private-sidebar.types.ts
  front/src/common/utils/routes.ts
Due: check-frontend

feat: add private/public sidebar
  front/src/carbure/__test__/api.ts
  front/src/carbure/hooks/user.ts
  front/src/common/layouts/main-navigation/main-navigation.context.tsx
  front/src/common/layouts/main-navigation/main-navigation.hooks.ts
  front/src/common/layouts/main-navigation/main-navigation.module.css
  front/src/common/layouts/main-navigation/main-navigation.stories.tsx
  front/src/common/layouts/main-navigation/main-navigation.tsx
  front/src/common/layouts/main-navigation/private-sidebar/index.ts
  front/src/common/layouts/main-navigation/private-sidebar/private-sidebar.module.css
  front/src/common/layouts/main-navigation/private-sidebar/private-sidebar.tsx
  front/src/common/layouts/main-navigation/public-sidebar/index.ts
  front/src/common/layouts/main-navigation/public-sidebar/public-sidebar.tsx
Due: check-frontend

feat: continue style links sidenav
  front/src/carbure/hooks/user.ts
  front/src/common/components/text/text.module.css
  front/src/common/components/text/text.tsx
  front/src/common/hooks/routes.ts
  front/src/common/layouts/main-navigation/private-sidebar/private-sidebar.hooks.ts
  front/src/common/layouts/main-navigation/private-sidebar/private-sidebar.module.css
  front/src/common/layouts/main-navigation/private-sidebar/private-sidebar.tsx
  front/src/common/utils/routes.ts
Due: check-frontend

refactor: rename folders storybook
  front/src/common/components/button.stories.tsx
  front/src/common/components/button2/button.stories.tsx
  front/src/common/components/inputs/search/search-input.stories.tsx
  front/src/common/components/list2/list.stories.tsx
  front/src/common/components/selects/select/select.stories.tsx
  front/src/common/components/text/text.stories.tsx
  front/src/common/components/title/title.stories.tsx
Due: check-frontend

feat: continue navigation
  front/.storybook/preview.tsx
  front/package-lock.json
  front/package.json
  front/src/common/layouts/main-navigation.module.css
  front/src/common/layouts/main-navigation.tsx
Due: check-frontend

feat: first version select
  front/.storybook/preview-head.html
  front/src/common/components/button2/button.tsx
  front/src/common/components/button2/index.ts
  front/src/common/components/dropdown.module.css
  front/src/common/components/dropdown2/dropdown.module.css
  front/src/common/components/dropdown2/dropdown.tsx
  front/src/common/components/dropdown2/index.ts
  front/src/common/components/icon/icon.module.css
  front/src/common/components/icon/icon.tsx
  front/src/common/components/list/index.ts
  front/src/common/components/list2/index.ts
  front/src/common/components/list2/list.module.css
  front/src/common/components/list2/list.stories.tsx
  front/src/common/components/list2/list.tsx
  front/src/common/components/selects/select/select.module.css
  front/src/common/components/selects/select/select.stories.tsx
  front/src/common/components/selects/select/select.tsx
Due: check-frontend

feat(nav): first version navigation
  front/.storybook/preview.tsx
  front/src/carbure/assets/css/index.css
  front/src/common/layouts/main-navigation.context.tsx
  front/src/common/layouts/main-navigation.module.css
  front/src/common/layouts/main-navigation.stories.tsx
  front/src/common/layouts/main-navigation.tsx
Due: check-frontend

feat: setup title reusable component
  front/src/common/components/text/index.ts
  front/src/common/components/text/text.stories.tsx
  front/src/common/components/text/text.tsx
  front/src/common/components/title/index.ts
  front/src/common/components/title/title.stories.tsx
  front/src/common/components/title/title.tsx
  front/src/common/layouts/main-navigation.tsx
Due: check-frontend

test: terminate list
  front/src/common/components/list/list.module.css
  front/src/common/components/list/list.stories.tsx
Due: check-frontend

refactor: separate code in a better way
  front/src/common/components/text/text.tsx
  front/src/common/layouts/main-navigation/main-navigation.tsx
  front/src/common/layouts/main-navigation/private-sidebar/child-item/child-item.module.css
  front/src/common/layouts/main-navigation/private-sidebar/child-item/child-item.tsx
  front/src/common/layouts/main-navigation/private-sidebar/child-item/index.ts
  front/src/common/layouts/main-navigation/private-sidebar/private-sidebar.hooks.ts
  front/src/common/layouts/main-navigation/private-sidebar/private-sidebar.module.css
  front/src/common/layouts/main-navigation/private-sidebar/private-sidebar.tsx
  front/src/common/layouts/main-navigation/private-sidebar/private-sidebar.types.ts
Due: check-frontend

refactor: create a new folder containing the navigation
  front/.storybook/preview.tsx
  front/src/carbure/__test__/helpers.ts
  front/src/carbure/components/top-bar.tsx
  front/src/common/components/dev-banner/dev-banner.module.css
  front/src/common/components/dev-banner/dev-banner.tsx
  front/src/common/components/dev-banner/index.ts
  front/src/common/layouts/main-navigation/main-navigation.context.tsx
  front/src/common/layouts/main-navigation/main-navigation.tsx
  front/src/common/layouts/main-navigation/public-sidebar/index.ts
  front/src/common/layouts/main-navigation/public-sidebar/public-sidebar.tsx
  front/src/common/layouts/navigation/index.ts
  front/src/common/layouts/navigation/navigation-layout.stories.tsx
  front/src/common/layouts/navigation/navigation-layout.tsx
  front/src/common/layouts/navigation/private/private-navigation.context.tsx
  front/src/common/layouts/navigation/private/private-navigation.module.css
  front/src/common/layouts/navigation/private/private-navigation.stories.tsx
  front/src/common/layouts/navigation/private/private-navigation.tsx
  front/src/common/layouts/navigation/private/sidebar/child-item/child-item.module.css
  front/src/common/layouts/navigation/private/sidebar/child-item/child-item.tsx
  front/src/common/layouts/navigation/private/sidebar/child-item/index.ts
  front/src/common/layouts/navigation/private/sidebar/index.ts
  front/src/common/layouts/navigation/private/sidebar/private-sidebar.hooks.ts
  front/src/common/layouts/navigation/private/sidebar/private-sidebar.module.css
  front/src/common/layouts/navigation/private/sidebar/private-sidebar.tsx
  front/src/common/layouts/navigation/private/sidebar/private-sidebar.types.ts
  front/src/common/layouts/navigation/public/language-selection/index.ts
  front/src/common/layouts/navigation/public/language-selection/language-selection.tsx
  front/src/common/layouts/navigation/public/logo/index.ts
  front/src/common/layouts/navigation/public/logo/logo.module.css
  front/src/common/layouts/navigation/public/logo/logo.tsx
  front/src/common/layouts/navigation/public/public-navigation.module.css
  front/src/common/layouts/navigation/public/public-navigation.tsx
Due: check-frontend

feat: start new select
  front/.storybook/preview-head.html
  front/.storybook/preview.tsx
  front/src/carbure/assets/css/index.css
  front/src/common/components/button2/button.stories.tsx
  front/src/common/components/button2/button.tsx
  front/src/common/components/button2/index.ts
  front/src/common/components/icon/icon.tsx
  front/src/common/components/selects/select/select.module.css
  front/src/common/components/selects/select/select.stories.tsx
  front/src/common/components/selects/select/select.tsx
  front/src/common/components/text/text.stories.tsx
  front/src/common/components/text/text.tsx
  front/src/common/components/title/title.stories.tsx
  front/src/common/hooks/async-list.ts
Due: check-frontend

feat: setup new generic components
  front/src/common/components/list/index.ts
  front/src/common/components/list/list.module.css
  front/src/common/components/list/list.stories.tsx
  front/src/common/components/list/list.tsx
  front/src/common/components/selects/index.ts
  front/src/common/components/selects/select/index.ts
  front/src/common/components/selects/select/select.tsx
Due: check-frontend

feat(elec): add 'source' info to provision certificates
  front/public/templates/certificats-de-fourniture.csv
  front/public/templates/certificats-de-fourniture.xlsx
  web/elec/api/admin/audit/meter_readings/accept_application.py
  web/elec/api/admin/provision_certificates/import_provision_certificates.py
  web/elec/migrations/0046_remove_elecprovisioncertificate_current_type_and_more.py
  web/elec/models/elec_provision_certificate.py
  web/elec/serializers/elec_provision_certificate.py
Due: check-backend, check-frontend

feat: continue navigation
  front/public/locales/en/translation.json
  front/public/locales/fr/translation.json
  front/src/common/components/dropdown.module.css
  front/src/common/components/inputs2/index.ts
  front/src/common/components/inputs2/search/search-input.stories.tsx
  front/src/common/components/inputs2/search/search-input.tsx
  front/src/common/components/list2/list.tsx
  front/src/common/components/selects2/select/select.module.css
  front/src/common/components/selects2/select/select.stories.tsx
  front/src/common/components/selects2/select/select.tsx
  front/src/common/layouts/navigation/navigation-layout.stories.tsx
  front/src/common/layouts/navigation/private/private-navigation.module.css
  front/src/common/layouts/navigation/private/private-navigation.stories.tsx
  front/src/common/layouts/navigation/private/private-navigation.tsx
  front/src/common/layouts/navigation/private/sidebar/entity-selector/entity-selector.tsx
  front/src/common/molecules/language-selector/index.ts
  front/src/common/molecules/language-selector/language-selector.stories.tsx
  front/src/common/molecules/language-selector/language-selector.tsx
Due: check-frontend

feat: add language selector
  front/src/common/layouts/navigation/private/private-navigation.module.css
  front/src/common/layouts/navigation/private/private-navigation.tsx
Due: check-frontend

fix(elec): disable actions during audit in progress
  front/src/elec-charge-points/pages/list/charge-point/[id]/update/index.tsx
Due: check-frontend

feat: add source instead of current type
  front/public/locales/en/translation.json
  front/public/locales/fr/translation.json
  front/src/elec-admin/pages/provision-certificates/details.tsx
  front/src/elec-admin/pages/provision-certificates/table.tsx
  front/src/elec/__test__/data.ts
  front/src/elec/components/provision-certificates/details.tsx
  front/src/elec/components/provision-certificates/table.tsx
  front/src/elec/types.ts
  front/src/elec/utils/normalizers.ts
Due: check-frontend

fix(elec): block all cp updates when audit
  web/elec/api/cpo/charge_points/update_charge_point.py
  web/elec/api/cpo/charge_points/update_prm.py
  web/elec/api/cpo/meters/add_meter.py
  web/elec/models/elec_charge_point.py
Due: check-backend

fix(elec): block all cp updates when audit
  web/elec/api/admin/audit/meter_readings/accept_application.py
Due: check-backend

feat: add delete action to charge point application page
  front/src/elec-charge-points/pages/pending/api.ts
  front/src/elec-charge-points/pages/pending/index.tsx
  front/src/elec/components/charge-points/table.tsx
Due: check-frontend

feat: add delete action for meter readings application
  front/src/elec-charge-points/pages/meter-readings/api.ts
  front/src/elec-charge-points/pages/meter-readings/index.tsx
  front/src/elec/components/meter-readings/table.tsx
Due: check-frontend

feat: continue top bar
  front/.storybook/preview.tsx
  front/src/carbure/__test__/api.ts
  front/src/carbure/components/notifications.module.css
  front/src/carbure/components/notifications.stories.tsx
  front/src/carbure/components/notifications.tsx
  front/src/common/components/button2/button.tsx
  front/src/common/components/dropdown2/dropdown.module.css
  front/src/common/components/list2/list.tsx
  front/src/common/components/menu2/index.ts
  front/src/common/components/menu2/simple-menu/index.ts
  front/src/common/components/menu2/simple-menu/simple-menu.module.css
  front/src/common/components/menu2/simple-menu/simple-menu.stories.tsx
  front/src/common/components/menu2/simple-menu/simple-menu.tsx
  front/src/common/layouts/navigation/private/notifications/index.ts
  front/src/common/layouts/navigation/private/notifications/notifications.tsx
  front/src/common/layouts/navigation/private/private-navigation.tsx
  front/src/common/layouts/navigation/private/user-menu/index.ts
  front/src/common/layouts/navigation/private/user-menu/user-menu.module.css
  front/src/common/layouts/navigation/private/user-menu/user-menu.stories.tsx
  front/src/common/layouts/navigation/private/user-menu/user-menu.tsx
Due: check-frontend

fix: repair i18next-parser
  front/i18next-parser.config.js
  front/package-lock.json
  front/package.json
Due: check-frontend

chore: update translations
  front/public/locales/en/translation.json
  front/public/locales/fr/translation.json
Due: check-frontend

feat: terminate user menu dropdown
  front/src/carbure/components/top-bar.tsx
  front/src/common/components/dropdown2/dropdown.module.css
  front/src/common/components/icon/icon.tsx
  front/src/common/components/list2/list-item/index.ts
  front/src/common/components/list2/list-item/list-item.module.css
  front/src/common/components/list2/list-item/list-item.tsx
  front/src/common/components/list2/list.module.css
  front/src/common/components/list2/list.tsx
  front/src/common/components/menu2/simple-menu/simple-menu.tsx
  front/src/common/components/selects2/select/select.tsx
  front/src/common/hooks/routes.ts
  front/src/common/layouts/navigation/private/private-navigation.module.css
  front/src/common/layouts/navigation/private/private-navigation.tsx
  front/src/common/layouts/navigation/private/sidebar/entity-selector/entity-selector.tsx
  front/src/common/layouts/navigation/private/sidebar/private-sidebar.module.css
  front/src/common/layouts/navigation/private/sidebar/private-sidebar.tsx
  front/src/common/layouts/navigation/private/user-menu/user-menu.module.css
  front/src/common/layouts/navigation/private/user-menu/user-menu.tsx
  front/src/common/utils/routes.ts
Due: check-frontend

feat: add auditor/powerOrHeatProducer layout
  front/src/carbure/__test__/data.ts
  front/src/carbure/components/top-bar.tsx
  front/src/common/components/icon/icon.tsx
  front/src/common/hooks/routes.ts
  front/src/common/layouts/navigation/private/private-navigation.stories.tsx
  front/src/common/layouts/navigation/private/sidebar/entity-selector/entity-selector.module.css
  front/src/common/layouts/navigation/private/sidebar/private-sidebar.hooks.ts
  front/src/common/utils/routes.ts
Due: check-frontend

feat: add loader select
  front/src/carbure/assets/css/index.css
  front/src/common/components/icon/icon.module.css
  front/src/common/components/list2/list.tsx
  front/src/common/components/selects2/select/select.stories.tsx
  front/src/common/components/selects2/select/select.tsx
  front/src/common/layouts/navigation/private/private-navigation.tsx
  front/src/common/molecules/language-selector/language-selector.tsx
Due: check-frontend

fix: update translations
  front/public/locales/en/translation.json
  front/public/locales/fr/translation.json
Due: check-frontend

test: clean stories
  front/src/carbure/components/notifications.stories.tsx
  front/src/common/components/list2/list.stories.tsx
  front/src/common/components/list2/list.tsx
  front/src/common/components/menu2/simple-menu/simple-menu.stories.tsx
  front/src/common/components/selects2/select/select.stories.tsx
  front/src/common/components/text/text.stories.tsx
  front/src/common/components/title/title.stories.tsx
  front/src/common/layouts/navigation/navigation-layout.stories.tsx
  front/src/common/layouts/navigation/private/private-navigation.stories.tsx
  front/src/common/layouts/navigation/private/user-menu/user-menu.stories.tsx
  front/src/common/molecules/language-selector/language-selector.stories.tsx
Due: check-frontend

fix: fix bad import dsfr
  front/.storybook/preview-head.html
  front/.storybook/preview.tsx
  front/src/carbure/components/notifications.stories.tsx
Due: check-frontend

feat(elec): move old meter readings to the meter we keep, and hard delete duplicate charge points
  web/elec/management/commands/remove_duplicate_cp.py
Due: check-backend

Feat/back remove duplicate pdc
  web/elec/management/commands/remove_duplicate_cp.py
Due: check-backend

[back] fix double count template
  web/templates/word/double_count_approval_template.docx
Due: check-backend

fix(elec): error when dl meter readings application
  web/elec/api/admin/audit/meter_readings/application_details.py
Due: check-backend

fix(elec): Erreur lors du téléchargement d'un ancien relevé
  web/elec/api/admin/audit/meter_readings/application_details.py
Due: check-backend

feat(entity): allow to filter entities api by type
  web/resources/api/entities.py
Due: check-backend

feat: only show biofuel entities in lot autocompletes
  front/src/carbure/api.ts
  front/src/lot-add/components/delivery-fields.tsx
  front/src/transactions/actions/accept.tsx
  front/src/transactions/actions/split.tsx
Due: check-frontend

fix(saf): can't load admin page
  web/saf/admin.py
Due: check-backend

Path conditions:
  check-backend: any of: web/**/*, .gitlab-ci.yml
  check-frontend: any of: front/**/*, .gitlab-ci.yml
