Repository MTES-MCT/carbure: changes, and which GitLab CI jobs are due for each by the changed paths.
All: check-backend, check-frontend

check-backend:
  image: python:3.12
  cache:
  - key:
      files:
      - Pipfile.lock
    paths:
    - .cache/pip/
    - .venv/
  before_script:
  - pip install pipenv
  - pipenv install --dev --deploy --ignore-pipfile
  stage: check
  services:
  - mysql:8.0
  - redis:latest
  script:
  - export CARBURE_HOME=$(pwd)
  ...

check-frontend:
  image: node:latest
  cache:
  - key:
      files:
      - front/package-lock.json
    paths:
    - front/.npm/
  before_script:
  - cd front
  - npm ci --cache .npm --prefer-offline
  stage: check
  script:
  - npm run lint
  - npm run build
  - npx chromatic
  interruptible: true

fix: fix tests storybook
  front/src/carbure/__test__/helpers.ts
Due: check-frontend

feat(design system): start show more component
  front/src/common/components/show-more/index.ts
  front/src/common/components/show-more/show-more.stories.tsx
  front/src/common/components/show-more/show-more.tsx
Due: check-frontend

Fix(elec): get the right measure_energy info
  web/elec/api/cpo/charge_points/tests_charge_points.py
  web/elec/models/elec_charge_point.py
  web/elec/services/create_meter_reading_excel.py
Due: check-backend

feat: show certificates for DC admins
  front/src/companies-admin/components/certificates.tsx
  front/src/companies-admin/components/entity-summary.tsx
  front/src/companies-admin/index.tsx
Due: check-frontend

fix: allow double counting external admins on dc endpoints
  web/core/models.py
  web/doublecount/api/admin/agreements/agreement_details.py
  web/doublecount/api/admin/agreements/agreements.py
  web/doublecount/api/admin/applications/add.py
  web/doublecount/api/admin/applications/application.py
  web/doublecount/api/admin/applications/applications.py
  web/doublecount/api/admin/applications/approve_application.py
  web/doublecount/api/admin/applications/check_files.py
  web/doublecount/api/admin/applications/export_application.py
  web/doublecount/api/admin/applications/reject_application.py
  web/doublecount/api/admin/applications/update_quotas.py
  web/doublecount/api/admin/snapshot.py
Due: check-backend

feat: show entity admin page to DCA admin
  front/src/carbure/components/top-bar.tsx
  front/src/carbure/index.tsx
Due: check-frontend

feat: allow managing entity users for DC admins
  web/entity/api/admin/users/rights_requests.py
  web/entity/api/admin/users/update_right_request.py
  web/entity/api/admin/users/update_user_role.py
Due: check-backend

feat: allow getting certificates for DC admins
  web/entity/api/admin/certificates/certificates.py
  web/entity/api/admin/certificates/check.py
  web/entity/api/admin/certificates/reject.py
Due: check-backend

feat: allow managing producer entities for DC admins
  web/entity/api/admin/create.py
  web/entity/api/admin/details.py
  web/entity/api/admin/entities.py
  web/entity/api/admin/production_sites.py
Due: check-backend

feat: add amidon residuel dechet to available feedstocks
  front/public/locales/en/feedstocks.json
  front/public/locales/fr/feedstocks.json
  front/src/double-counting-admin/utils.ts
  front/src/double-counting/components/upload-dialog.tsx
  web/doublecount/api/admin/applications/export_application.py
  web/doublecount/parser/excel_to_carbure_convertor.py
  web/fixtures/csv/matierespremieres.csv
Due: check-backend, check-frontend

feat(redcert): launch script for active certificates with no pdf
  web/carbure/scripts/update_redcert_certificates.py
  web/carbure/tasks.py
  web/certificates/management/commands/get_redcert_pdf.py
Due: check-backend

fix: forgot to put amidon check during dc file check
  web/doublecount/api/applications/check_file.py
Due: check-backend

feat(redcert): update S3 config
  .env.example
Due: none

Feat/back upload pdf redcert
  .buildpacks
  .env.example
  Pipfile
  Pipfile.lock
  web/carbure/scripts/update_redcert_certificates.py
  web/carbure/settings.py
  web/carbure/storage_backends.py
  web/carbure/tasks.py
  web/certificates/management/__init__.py
  web/certificates/management/commands/__init__.py
  web/certificates/management/commands/get_redcert_pdf.py
  web/core/utils.py
Due: check-backend

hotfix(elec): return None for initial_index when DC charge_point
  web/elec/services/create_meter_reading_excel.py
Due: check-backend

feat(dc): upload excel file on S3
  docker-compose.yml
  web/doublecount/api/admin/applications/add.py
  web/doublecount/migrations/0017_doublecountingapplication_download_link.py
  web/doublecount/models.py
Due: check-backend

ci: Enable back django migration
  bin/post_deploy.sh
Due: none

feat(dc): fix name of excel file
  web/doublecount/api/admin/applications/add.py
Due: check-backend

chore: cleanup commented code
  front/src/carbure/types.ts
Due: check-frontend

fix: adapt saf types again
  front/src/common/hooks/query-builder-2.ts
  front/src/saf/pages/airline/api.ts
  front/src/saf/pages/airline/tickets.tsx
  front/src/saf/pages/operator/api.ts
  front/src/saf/pages/operator/ticket-sources/index.tsx
  front/src/saf/pages/operator/tickets/index.tsx
  front/src/saf/types.ts
Due: check-frontend

chore: update api schema
  api-schema.yaml
  front/src/api-schema.ts
Due: check-frontend

[back] user refactoring
  api-schema.yaml
  docker-compose.yml
  front/src/api-schema.ts
  web/carbure/api/__init__.py
  web/carbure/settings.py
  web/saf/filters/ticket.py
  web/saf/filters/ticket_source.py
  web/user/serializers/__init__.py
  web/user/serializers/request_access_revoke.py
  web/user/serializers/user.py
  web/user/tests/__init__.py
  web/user/tests/tests_user.py
  web/user/urls.py
  web/user/views/__init__.py
  web/user/views/request_access.py
  web/user/views/revoke_access.py
  web/user/views/user.py
Due: check-backend, check-frontend

fix: do not make revoke access linked to a specific entity
  web/user/views/revoke_access.py
Due: check-backend

fix: adapt serializers
  web/user/serializers/user.py
Due: check-backend

refactor: adapt front to new user endpoints
  front/src/account/api.ts
  front/src/account/components/access-rights.tsx
  front/src/carbure/__test__/data.ts
  front/src/carbure/api.ts
  front/src/carbure/hooks/entity.ts
  front/src/carbure/hooks/user.ts
  front/src/carbure/types.ts
  front/src/carbure/utils/normalizers.ts
  front/src/lot-add/components/lot-form.tsx
  front/src/settings/components/certificates.tsx
  front/src/settings/components/company-options.tsx
  front/src/settings/components/user-rights/user-rights.tsx
  front/src/transactions/actions/split.tsx
Due: check-frontend

refactor: refacto saf types
  front/src/common/hooks/query-builder-2.ts
  front/src/saf/pages/airline/api.ts
  front/src/saf/pages/airline/tickets.tsx
  front/src/saf/pages/operator/api.ts
  front/src/saf/pages/operator/index.tsx
  front/src/saf/pages/operator/tabs.tsx
  front/src/saf/pages/operator/ticket-source-details/export.tsx
  front/src/saf/pages/operator/ticket-sources/index.hooks.ts
  front/src/saf/pages/operator/ticket-sources/index.tsx
  front/src/saf/pages/operator/ticket-sources/status-switcher.tsx
  front/src/saf/pages/operator/ticket-sources/table.tsx
  front/src/saf/pages/operator/tickets/index.tsx
  front/src/saf/pages/operator/types.ts
  front/src/saf/types.ts
Due: check-frontend

chore: add shortcut to check types from root folder
  package.json
Due: none

chore: add more schema overrides
  front/scripts/overrides-api-schema.ts
Due: check-frontend

chore: remove useless bangs
  front/src/account/components/access-rights.tsx
  front/src/settings/components/user-rights/user-rights.tsx
Due: check-frontend

refactor: use typed endpoint for request access endpoint
  front/src/account/api.ts
Due: check-frontend

chore: use same version as scalingo for docker mysql
  docker-compose.yml
Due: none

feat(dc): change storage backend for tests
  web/carbure/settings.py
  web/doublecount/api/admin/applications/add.py
Due: check-backend

Feat/1118 stocker double comptage sur oos
  bin/post_deploy.sh
  docker-compose.yml
  web/carbure/settings.py
  web/doublecount/api/admin/applications/add.py
  web/doublecount/migrations/0017_doublecountingapplication_download_link.py
  web/doublecount/models.py
Due: check-backend

Delete api directory
  web/doublecount/api/admin/agreements/__init__.py
  web/doublecount/api/admin/agreements/agreement_details.py
  web/doublecount/api/admin/applications/__init__.py
  web/doublecount/api/admin/applications/add.py
  web/doublecount/api/admin/applications/application.py
  web/doublecount/api/admin/applications/applications.py
  web/doublecount/api/admin/applications/approve_application.py
  web/doublecount/api/admin/applications/check_files.py
  web/doublecount/api/admin/applications/export_application.py
  web/doublecount/api/admin/applications/reject_application.py
  web/doublecount/api/admin/applications/update_quotas.py
Due: check-backend

fix: typo
  web/doublecount/urls.py
  web/doublecount/views/__init__.py
  web/doublecount/views/applications/__init__.py
  web/doublecount/views/applications/application.py
Due: check-backend

refactor: use new typed endpoint for dc agreements
  front/src/double-counting/api.ts
Due: check-frontend

fix: adapt backend types
  web/carbure/settings.py
  web/doublecount/serializers.py
Due: check-backend

Path conditions:
  check-backend: any of: web/**/*, .gitlab-ci.yml
  check-frontend: any of: front/**/*, .gitlab-ci.yml
