Repository MTES-MCT/carbure: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-ci-image, check-backend, check-frontend

.gitlab-ci.yml:

stages:
  - prepare
  - check
  - deploy

variables:
  MYSQL_DATABASE: carbure_mysql_test_db
  MYSQL_ROOT_PASSWORD: carbure_mysql_ci_db_password

# use prebuild CI image when running checks
.checks:
  image: $CI_REGISTRY/$CI_PROJECT_PATH/ci-image:latest
  before_script:
    - mv /app/front/node_modules ./front

# prepare git env to push new code to scalingo
.scalingo:
  image: alpine:latest
  before_script:
    - mkdir ~/.ssh
    - apk add --update git openssh-client
    - eval $(ssh-agent -s)
    - echo "$SCALINGO_SSH_PRIVATE_KEY" | tr -d '\r' | ssh-add -
    - ssh-keyscan $SCALINGO_SSH_HOST >> ~/.ssh/known_hosts
    - chmod 644 ~/.ssh/known_hosts
    - git config user.name $GIT_USER_NAME
    - git config user.email $GIT_USER_EMAIL
    - git remote add scalingo-dev $SCALINGO_GIT_REMOTE_DEV || true
    - git remote add scalingo-staging $SCALINGO_GIT_REMOTE_STAGING || true
    - git remote add scalingo-prod $SCALINGO_GIT_REMOTE_PROD || true
    - git fetch origin $CI_COMMIT_BRANCH --unshallow
    - git checkout $CI_COMMIT_BRANCH

build-ci-image:
  stage: prepare
  image: docker:stable
  services:
    - docker:dind
  script:
    - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
    - docker build -f ci/Dockerfile -t $CI_REGISTRY/$CI_PROJECT_PATH/ci-image:latest .
    - docker push $CI_REGISTRY/$CI_PROJECT_PATH/ci-image:latest
  only:
    changes:
      - ci/Dockerfile
      - Pipfile
      - Pipfile.lock
      - front/package.json
      - front/package-lock.json

check-backend:
  stage: check
  extends: .checks
  services:
    - mysql:8.0
    - redis:latest
  script:
    - export CARBURE_HOME=$(pwd)
    - export DATABASE_URL=mysql://root:$MYSQL_ROOT_PASSWORD@mysql:3306/$MYSQL_DATABASE
    - export REDIS_URL=redis://redis:6379
    - mypy web || true
    - TEST=1 python3 web/manage.py test web
  only:
    refs:
      - dev
      - master
    changes:
      - web/**/*

check-frontend:
  stage: check
  extends: .checks
  script:
    - cd front
    - npx eslint --ext .ts,.tsx src/
    - npm test
  only:
    refs:
      - dev
      - master
    changes:
      - front/**/*

deploy-dev:
  stage: deploy
  extends: .scalingo
  only:
    - dev
  script:
    - git push scalingo-dev $CI_COMMIT_BRANCH:master -f

deploy-staging:
  stage: deploy
  extends: .scalingo
  only:
    - master
  script:
    - git push scalingo-staging master -f

deploy-prod:
  stage: deploy
  extends: .scalingo
  when: manual
  only:
    - master
  script:
    - git push scalingo-prod master -f

[front] adapt front for expected changes
  front/src/saf/api.ts
  front/src/saf/components/ticket-sources/summary.tsx
Due: check-frontend

[front] grouped affectation send request
  front/src/common/utils/formatters.ts
  front/src/saf/api.ts
  front/src/saf/components/assignment/grouped-assignment.tsx
  front/src/saf/components/assignment/index.tsx
  front/src/saf/components/ticket-sources/index.tsx
  front/src/saf/components/ticket-sources/summary.tsx
Due: check-frontend

[front] handle groupedASsignement
  front/src/carbure/index.tsx
  front/src/saf/api.ts
  front/src/saf/components/assignment/grouped-assignment.tsx
  front/src/saf/components/ticket-source-details/index.tsx
  front/src/saf/components/ticket-sources/index.tsx
  front/src/saf/components/ticket-sources/summary.tsx
  front/src/saf/components/ticket-sources/table.tsx
  front/src/saf/types.ts
Due: check-frontend

[api] prepare endpoints for multi ticket assign (wip)
  web/api/v5/saf/operator/__init__.py
  web/api/v5/saf/operator/grouped_assign_ticket.py
  web/api/v5/saf/operator/tests/tests_grouped_assign_ticket.py
Due: check-backend

[api] implement grouped ticket assignment
  web/api/v5/saf/operator/__init__.py
  web/api/v5/saf/operator/grouped_assign_ticket.py
  web/api/v5/saf/operator/tests/tests_grouped_assign_ticket.py
Due: check-backend

[api] return amount of tickets created in grouped assign
  web/api/v5/saf/operator/grouped_assign_ticket.py
  web/api/v5/saf/operator/tests/tests_grouped_assign_ticket.py
Due: check-backend

[api+front] add sorting of tickets and ticket sources in the backend
  front/src/saf/components/ticket-sources/table.tsx
  front/src/saf/components/tickets/table.tsx
  web/api/v5/saf/airline/tickets.py
  web/api/v5/saf/operator/ticket_sources.py
  web/api/v5/saf/operator/tickets.py
Due: check-backend, check-frontend

[front] fixes and review - feature ready
  front/src/saf/api.ts
  front/src/saf/components/assignment/grouped-assignment.tsx
  front/src/saf/components/assignment/index.tsx
  front/src/saf/components/ticket-sources/index.tsx
  front/src/saf/components/ticket-sources/summary.tsx
Due: check-frontend

[front] add translations
  front/public/locales/en/translation.json
  front/public/locales/fr/translation.json
Due: check-frontend

[front] refacto saf to add operator transfer
  front/src/saf/airline.tsx
  front/src/saf/api.ts
  front/src/saf/components/client-tabs.tsx
  front/src/saf/components/operator-tabs.tsx
  front/src/saf/components/tickets/airline-tickets.tsx
  front/src/saf/components/tickets/operator-tickets.tsx
  front/src/saf/components/tickets/table.tsx
  front/src/saf/operator.tsx
  front/src/saf/types.ts
Due: check-frontend

[front] components created - waiting for backend
  front/src/saf/__test__/data.ts
  front/src/saf/api.ts
  front/src/saf/components/assignment/grouped-assignment.tsx
  front/src/saf/components/assignment/simple-assignment.tsx
  front/src/saf/components/operator-tabs.tsx
  front/src/saf/components/ticket-details/airline-details.tsx
  front/src/saf/components/ticket-details/child-ticket-source.tsx
  front/src/saf/components/ticket-details/credit-ticket-source.tsx
  front/src/saf/components/ticket-details/operator-details.tsx
  front/src/saf/components/ticket-source-details/index.tsx
  front/src/saf/components/tickets/airline-tickets.tsx
  front/src/saf/components/tickets/operator-tickets.tsx
  front/src/saf/components/tickets/status-switcher.tsx
  front/src/saf/components/tickets/table.tsx
  front/src/saf/operator.tsx
  front/src/saf/types.ts
Due: check-frontend

[api] fix home page stats for the beginning of the year
  web/api/v4/views.py
Due: check-backend

[api+front] add new decorator to check admin rights
  front/src/companies/api.ts
  front/src/companies/components/add-entity-dialog.tsx
  web/api/v5/admin/create_entity.py
  web/core/decorators.py
Due: check-backend, check-frontend

[api+front] prepare ticket reception for operators
  front/src/saf/api.ts
  front/src/saf/components/ticket-details/child-ticket-source.tsx
  front/src/saf/components/ticket-details/credit-ticket-source.tsx
  front/src/saf/components/ticket-details/operator-details.tsx
  front/src/saf/components/ticket-details/reject-assignment.tsx
  front/src/saf/components/tickets/operator-tickets.tsx
  front/src/saf/hooks/query-params-store.ts
  front/src/saf/hooks/saf-query.ts
  front/src/saf/types.ts
  web/api/v5/saf/operator/clients.py
Due: check-backend, check-frontend

[api] update operator saf snapshot for received tickets
  web/api/v5/saf/operator/snapshot.py
Due: check-backend

[api] update operator saf tickets for received ones
  web/api/v5/saf/operator/tickets.py
Due: check-backend

[front] display received saf tickets for operators
  front/src/saf/components/operator-tabs.tsx
  front/src/saf/components/tickets/operator-tickets.tsx
Due: check-frontend

update readme configuration
  README.md
Due: none

[api] put back old double counting file upload
  web/api/v3/doublecount/views.py
  web/doublecount/old_helpers.py
Due: check-backend

[api] restore old double counting tests
  web/api/v3/doublecount/new_tests.py
  web/api/v3/doublecount/tests.py
  web/fixtures/csv/test_data/dca.xlsx
  web/fixtures/csv/test_data/dca_new.xlsx
Due: check-backend

[api] add reject saf ticket endpoint to operators
  web/api/v5/saf/operator/__init__.py
  web/api/v5/saf/operator/reject_ticket.py
Due: check-backend
