Repository MTES-MCT/carbure: changes, and which GitLab CI jobs are due for each by the changed paths.
All: check-backend, check-frontend

.gitlab-ci.yml:

stages:
  - check


workflow:
  rules:
    # 1. Don't run pipelines for MR drafts.
    - if: $CI_PIPELINE_SOURCE == "merge_request_event" && $CI_MERGE_REQUEST_TITLE =~ /^Draft:/
      when: never

    # 2. Don't run branch pipelines when there's an open MR for the branch (run the MR pipeline instead).
    - if: $CI_COMMIT_BRANCH && $CI_OPEN_MERGE_REQUESTS
      when: never

    # 3. Run all other MR pipelines
    - if: $CI_PIPELINE_SOURCE == 'merge_request_event'
      when: always

    # 4. Run branch pipelines for dev and master
    - if: $CI_COMMIT_BRANCH == "dev" || $CI_COMMIT_BRANCH == "master"
      when: always

    # 5. Else, don't run it
    - when: never


variables:
  MYSQL_DATABASE: carbure_mysql_test_db
  MYSQL_ROOT_PASSWORD: carbure_mysql_ci_db_password
  PIP_CACHE_DIR: "$CI_PROJECT_DIR/.cache/pip"
  PIPENV_VENV_IN_PROJECT: true


# job: run linting and tests for backend
check-backend:
  stage: check
  extends: .backend
  services:
    - mysql:8.0
    - redis:latest
  script:
    - export CARBURE_HOME=$(pwd)
    - export DATABASE_URL=mysql://root:$MYSQL_ROOT_PASSWORD@mysql:3306/$MYSQL_DATABASE
    - export REDIS_URL=redis://redis:6379
    - pipenv run ruff check
    - pipenv run ruff format --check
    - TEST=1 pipenv run python web/manage.py test web


# job: run linting and tests for frontend
check-frontend:
  stage: check
  extends: .frontend
  script:
    - npm run lint
    - npm run build
    - npx chromatic
  interruptible: true


.backend:
  image: python:3.12
  cache:
    - key:
        files:
          - Pipfile.lock
      paths:
        - .cache/pip/
        - .venv/
  before_script:
    - pip install pipenv
    - pipenv install --dev --deploy --ignore-pipfile
  rules:
    - changes:
      - web/**/*
      - .gitlab-ci.yml


.frontend:
  image: node:latest
  cache:
    - key:
        files:
          - front/package-lock.json
      paths:
        - front/.npm/
  before_script:
    - cd front
    - npm ci --cache .npm --prefer-offline
  rules:
    - changes:
      - front/**/*
      - .gitlab-ci.yml

refactor: Separate sections for settings page
  front/src/common/index.tsx
  front/src/common/layouts/navigation/private/notifications/notifications.hooks.ts
  front/src/common/layouts/navigation/private/sidebar/sidebar.tsx
  front/src/common/utils/routes.ts
  front/src/companies/components/company-info-siren-missing-dialog.tsx
  front/src/double-counting/components/application-checker/send-application-dialog.tsx
  front/src/settings/index.tsx
  front/src/settings/pages/company-options.tsx
  web/elec/api/admin/audit/charge_points/accept_application.py
  web/entity/services/enable_depot.py
  web/user/api/request_access.py
  web/user/views/request_access.py
Due: check-backend, check-frontend

refactor: start refacto production sites
  front/src/settings/index.tsx
  front/src/settings/pages/delivery-site/create-delivery-site-form.tsx
  front/src/settings/pages/delivery-site/delivery-site.hooks.tsx
  front/src/settings/pages/production-site/index.ts
  front/src/settings/pages/production-site/production-site-dialog.tsx
  front/src/settings/pages/production-site/production-site.tsx
Due: check-frontend

refactor: refacto user rights
  front/src/account/components/access-rights.tsx
  front/src/common/molecules/user-rights-table/accept-user-button.tsx
  front/src/common/molecules/user-rights-table/add-user-dialog.tsx
  front/src/common/molecules/user-rights-table/change-user-role-button.tsx
  front/src/common/molecules/user-rights-table/reject-user-button.tsx
  front/src/common/molecules/user-rights-table/revoke-user-button.tsx
  front/src/common/molecules/user-rights-table/user-rights-table.tsx
  front/src/settings/index.tsx
  front/src/settings/pages/company-info/company-info.tsx
  front/src/settings/pages/user-rights/index.ts
  front/src/settings/pages/user-rights/user-rights.hooks.ts
  front/src/settings/pages/user-rights/user-rights.tsx
Due: check-frontend

refacto company info
  front/src/common/components/inputs2/index.ts
  front/src/common/components/notice/notice.tsx
  front/src/common/molecules/editable-card/editable-card.module.css
  front/src/common/molecules/editable-card/editable-card.tsx
  front/src/common/molecules/editable-card/index.ts
  front/src/settings/api/company.ts
  front/src/settings/components/company-info.tsx
  front/src/settings/components/company-options.tsx
  front/src/settings/index.tsx
  front/src/settings/pages/company-options.tsx
Due: check-frontend

refactor: start refacto delivery-site
  front/src/common/molecules/autocomplete-operators.tsx
  front/src/settings/index.tsx
  front/src/settings/pages/delivery-site/create-delivery-site-dialog.tsx
  front/src/settings/pages/delivery-site/create-delivery-site-form.tsx
  front/src/settings/pages/delivery-site/delivery-site-dialog.tsx
  front/src/settings/pages/delivery-site/delivery-site.hooks.tsx
  front/src/settings/pages/delivery-site/delivery-site.tsx
  front/src/settings/pages/delivery-site/index.ts
Due: check-frontend

refactor: separate auditors from users
  front/src/common/molecules/user-rights-table/user-rights-table.tsx
  front/src/settings/pages/user-rights/user-rights.hooks.ts
  front/src/settings/pages/user-rights/user-rights.tsx
Due: check-frontend

refactor: terminate company-info refacto
  front/src/common/molecules/editable-card/editable-card.provider.tsx
  front/src/common/molecules/editable-card/editable-card.stories.tsx
  front/src/common/molecules/editable-card/editable-card.tsx
  front/src/settings/components/company-info.tsx
Due: check-frontend

refactor: move company info to a pages folder
  front/src/common/api.ts
  front/src/common/molecules/siren-picker.tsx
  front/src/companies/components/registration-dialog.tsx
  front/src/settings/pages/company-info/company-info-siren-dialog.tsx
  front/src/settings/pages/company-info/company-info.tsx
Due: check-frontend

refactor: set radio read only style
  front/src/account/components/access-rights.tsx
  front/src/common/components/inputs2/radio/radio.tsx
  front/src/settings/pages/delivery-site/create-delivery-site-form.tsx
  front/src/settings/pages/delivery-site/delivery-site-dialog.tsx
Due: check-frontend

refactor: control editable state / refacto siren picker
  front/src/common/molecules/editable-card/editable-card.stories.tsx
  front/src/common/molecules/editable-card/editable-card.tsx
  front/src/companies/components/company-info-siren-missing-dialog.tsx
  front/src/companies/components/siren-picker.tsx
  front/src/settings/components/company-info-siren-dialog.tsx
Due: check-frontend

feat: v0 editable card
  front/src/common/molecules/editable-card/editable-card.module.css
  front/src/common/molecules/editable-card/editable-card.stories.tsx
  front/src/common/molecules/editable-card/editable-card.tsx
Due: check-frontend

refactor: terminate delivery site refacto
  front/src/common/molecules/autocomplete-countries.tsx
  front/src/settings/components/delivery-site/create-delivery-site-dialog.tsx
  front/src/settings/components/delivery-site/create-delivery-site-form.tsx
  front/src/settings/components/delivery-site/delivery-site-dialog.tsx
  front/src/settings/components/delivery-site/delivery-site.hooks.tsx
  front/src/settings/components/delivery-site/delivery-site.tsx
  front/src/settings/pages/delivery-site/create-delivery-site-dialog.tsx
  front/src/settings/pages/delivery-site/create-delivery-site-form.tsx
Due: check-frontend

refactor: new design certificates page
  front/src/companies-admin/routes/entity-details.tsx
  front/src/settings/api/certificates.ts
  front/src/settings/index.tsx
  front/src/settings/pages/certificates.tsx
  front/src/settings/pages/company-info/index.ts
Due: check-frontend

refactor: uncomment textarea
  front/src/common/components/inputs2/textarea/textarea.tsx
  front/src/settings/pages/company-info/company-info.tsx
  front/src/settings/pages/production-site/production-site-dialog.tsx
Due: check-frontend

fix: revert to storybook 8
  front/src/common/molecules/editable-card/editable-card.stories.tsx
  front/src/companies-admin/routes/entity-details.tsx
Due: check-frontend

docs: update doc for editable-card
  front/package-lock.json
  front/src/common/molecules/editable-card/editable-card.stories.tsx
  front/src/common/molecules/editable-card/editable-card.tsx
Due: check-frontend

feat: terminate qualicharge page
  api-schema.yaml
  front/src/api-schema.ts
  front/src/common/index.tsx
  front/src/common/layouts/navigation/private/sidebar/hooks/useChargePoints.ts
  front/src/elec-charge-points/charge-points.tsx
  front/src/elec-charge-points/pages/qualicharge/components/validate-data-dialog.tsx
  front/src/elec-charge-points/pages/qualicharge/hooks/use-validate-volumes.ts
  front/src/elec-charge-points/pages/qualicharge/qualicharge.hooks.tsx
  front/src/elec-charge-points/pages/qualicharge/qualicharge.tsx
  web/elec/filters/provision_certificate_qualicharge.py
  web/elec/serializers/elec_provision_certificate_qualicharge.py
  web/elec/views/provision_certificate_qualicharge/mixins/filter.py
  web/elec/views/provision_certificate_qualicharge/provision_certificate_qualicharge.py
Due: check-backend, check-frontend

refactor: add default value for inputs in read only mode
  front/src/common/components/inputs2/base-input.tsx
  front/src/common/components/inputs2/radio/radio.tsx
Due: check-frontend

feat: continue setup biomethane config agreement
  web/biomethane/migrations/0001_initial.py
  web/biomethane/models/biomethane_entity_config_agreement.py
  web/biomethane/serializers/__init__.py
  web/biomethane/serializers/entity_config_agreement.py
  web/biomethane/urls.py
  web/biomethane/views/__init__.py
  web/biomethane/views/entity_config_agreement/__init__.py
  web/biomethane/views/entity_config_agreement/entity_config_agreement.py
  web/biomethane/views/entity_config_agreement/mixins/__init__.py
  web/carbure/api/__init__.py
  web/core/migrations/0047_alter_entity_entity_type.py
  web/core/models.py
Due: check-backend

feat: init biomethane entity config agreement
  web/biomethane/__init__.py
  web/biomethane/apps.py
  web/biomethane/migrations/0001_initial.py
  web/biomethane/migrations/__init__.py
  web/biomethane/models/__init__.py
  web/biomethane/models/biomethane_entity_config_agreement.py
  web/carbure/settings.py
  web/core/migrations/0046_entity_is_red_ii.py
  web/core/models.py
Due: check-backend

feat: add create/update biomethane agreement endpoint
  web/biomethane/migrations/0001_initial.py
  web/biomethane/models/biomethane_entity_config_agreement.py
  web/biomethane/serializers/entity_config_agreement/__init__.py
  web/biomethane/serializers/entity_config_agreement/add.py
  web/biomethane/serializers/entity_config_agreement/list.py
  web/biomethane/views/entity_config_agreement/entity_config_agreement.py
  web/biomethane/views/entity_config_agreement/mixins/__init__.py
  web/biomethane/views/entity_config_agreement/mixins/patch.py
Due: check-backend

fix: remove linter from api-schema
  front/.eslintrc.json
  front/package.json
  web/biomethane/views/entity_config_agreement/entity_config_agreement.py
Due: check-backend, check-frontend

refactor: move list endpoint to avoid pagination
  api-schema.yaml
  front/src/api-schema.ts
  web/biomethane/views/entity_config_agreement/entity_config_agreement.py
  web/biomethane/views/entity_config_agreement/mixins/__init__.py
  web/biomethane/views/entity_config_agreement/mixins/list.py
Due: check-backend, check-frontend

refactor: separate code into actions
  web/biomethane/serializers/entity_config_agreement/retrieve.py
  web/biomethane/urls.py
  web/biomethane/views/entity_config_agreement/entity_config_agreement.py
  web/biomethane/views/entity_config_agreement/mixins/__init__.py
  web/biomethane/views/entity_config_agreement/mixins/create.py
  web/biomethane/views/entity_config_agreement/mixins/retrieve.py
Due: check-backend

feat(biomethane): 'agreement' rename to 'contract' and setup list, post, patch
  front/package-lock.json
  web/biomethane/migrations/0002_rename_biomethaneentityconfigagreement_biomethaneentityconfigcontract_and_more.py
  web/biomethane/migrations/0003_alter_biomethaneentityconfigcontract_cmax_and_more.py
  web/biomethane/models/__init__.py
  web/biomethane/models/biomethane_entity_config_agreement.py
  web/biomethane/models/biomethane_entity_config_contract.py
  web/biomethane/serializers/entity_config_agreement/add.py
  web/biomethane/serializers/entity_config_agreement/retrieve.py
  web/biomethane/serializers/entity_config_contract.py
  web/biomethane/urls.py
  web/biomethane/views/entity_config_agreement/__init__.py
  web/biomethane/views/entity_config_agreement/entity_config_agreement.py
  web/biomethane/views/entity_config_agreement/mixins/__init__.py
  web/biomethane/views/entity_config_agreement/mixins/create.py
  web/biomethane/views/entity_config_agreement/mixins/patch.py
  web/biomethane/views/entity_config_agreement/mixins/retrieve.py
  web/biomethane/views/entity_config_contract/__init__.py
  web/biomethane/views/entity_config_contract/entity_config_contract.py
  web/biomethane/views/entity_config_contract/mixins/__init__.py
Due: check-backend, check-frontend

fix: fix api-schema/package-lock bad rebasing
  front/package-lock.json
  front/src/api-schema.ts
Due: check-frontend

feat: prepare pages biomethane
  front/src/common/hooks/entity.ts
  front/src/settings/api/biomethane.ts
  front/src/settings/index.tsx
  front/src/settings/pages/biomethane/contract/contract.tsx
  front/src/settings/pages/biomethane/contract/index.ts
  front/src/settings/pages/biomethane/injection/index.ts
  front/src/settings/pages/biomethane/injection/injection.tsx
  front/src/settings/pages/biomethane/production/index.ts
  front/src/settings/pages/biomethane/production/production.tsx
Due: check-frontend

fix: fix bad condition filter qualicharge
  web/elec/views/provision_certificate_qualicharge/provision_certificate_qualicharge.py
Due: check-backend

feat(tiruert): add view logic to handle draft transfert
  front/src/common/utils/routes.ts
  web/tiruert/services/balance.py
  web/tiruert/views/operation/operation.py
Due: check-backend, check-frontend

refactor: add array of query params
  front/src/accounting/pages/balances/biofuels/biofuels.hooks.tsx
  front/src/common/utils/routes.ts
Due: check-frontend

feat(tiruert): refresh draft status to 'pending' after confirmation
  front/src/accounting/pages/operations/biofuels/pages/operation-detail/operation-detail.tsx
Due: check-frontend

refactor: my account
  front/src/account/components/access-rights.tsx
  front/src/account/components/authentication/authentication.tsx
  front/src/account/components/authentication/change-email-form/change-email-form.tsx
  front/src/account/components/authentication/change-email-form/email-confirmation-modal.tsx
  front/src/account/components/authentication/change-password-form.tsx
  front/src/account/index.tsx
  front/src/common/components/dialog2/dialog.module.css
  front/src/common/components/tabs2/tabs.tsx
  front/src/common/utils/routes.ts
  front/src/companies/components/company-form.tsx
  front/src/companies/components/foreign-company-dialog.tsx
  front/src/companies/components/registration-dialog.tsx
  web/entity/views/registration/search_company.py
Due: check-backend, check-frontend

feat(biomethane): logic for POST and PATCH contract
  web/biomethane/models/biomethane_entity_config_contract.py
  web/biomethane/serializers/entity_config_contract.py
Due: check-backend

fix: fix try/except for search company
  web/entity/views/registration/search_company.py
Due: check-backend

feat: setup select dsfr
  front/src/common/components/selects2/select-dsfr/index.ts
  front/src/common/components/selects2/select-dsfr/select-dsfr.stories.tsx
  front/src/common/components/selects2/select-dsfr/select-dsfr.tsx
  front/src/settings/pages/biomethane/contract/components/contract-infos.tsx
Due: check-frontend

feat: create a select-dsfr to avoid using autocomplete
  front/src/common/components/selects2/select-dsfr/select-dsfr.stories.tsx
  front/src/common/components/selects2/select-dsfr/select-dsfr.tsx
Due: check-frontend
