Repository MTES-MCT/carbure: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-ci-image, check-backend, check-frontend

.gitlab-ci.yml:

stages:
  - prepare
  - check
  - deploy

variables:
  MYSQL_DATABASE: carbure_mysql_test_db
  MYSQL_ROOT_PASSWORD: carbure_mysql_ci_db_password

# use prebuild CI image when running checks
.checks:
  image: $CI_REGISTRY/$CI_PROJECT_PATH/ci-image:latest
  before_script:
    - mv /app/front/node_modules ./front

# prepare git env to push new code to scalingo
.scalingo:
  image: alpine:latest
  before_script:
    - mkdir ~/.ssh
    - apk add --update git openssh-client
    - eval $(ssh-agent -s)
    - echo "$SCALINGO_SSH_PRIVATE_KEY" | tr -d '\r' | ssh-add -
    - ssh-keyscan $SCALINGO_SSH_HOST >> ~/.ssh/known_hosts
    - chmod 644 ~/.ssh/known_hosts
    - git config user.name $GIT_USER_NAME
    - git config user.email $GIT_USER_EMAIL
    - git remote add scalingo-dev $SCALINGO_GIT_REMOTE_DEV || true
    - git remote add scalingo-staging $SCALINGO_GIT_REMOTE_STAGING || true
    - git remote add scalingo-prod $SCALINGO_GIT_REMOTE_PROD || true
    - git fetch origin $CI_COMMIT_BRANCH --unshallow
    - git checkout $CI_COMMIT_BRANCH

build-ci-image:
  stage: prepare
  image: docker:stable
  services:
    - docker:dind
  script:
    - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
    - docker build -f ci/Dockerfile -t $CI_REGISTRY/$CI_PROJECT_PATH/ci-image:latest .
    - docker push $CI_REGISTRY/$CI_PROJECT_PATH/ci-image:latest
  only:
    changes:
      - ci/Dockerfile
      - Pipfile
      - Pipfile.lock
      - front/package.json
      - front/package-lock.json

check-backend:
  stage: check
  extends: .checks
  services:
    - mysql:8.0
    - redis:latest
  script:
    - export CARBURE_HOME=$(pwd)
    - export DATABASE_URL=mysql://root:$MYSQL_ROOT_PASSWORD@mysql:3306/$MYSQL_DATABASE
    - export REDIS_URL=redis://redis:6379
    - mypy web || true
    - TEST=1 python3 web/manage.py test web
  only:
    refs:
      - dev
      - master
    changes:
      - web/**/*

check-frontend:
  stage: check
  extends: .checks
  script:
    - cd front
    - npx eslint --ext .ts,.tsx src/
    - npm test
  only:
    refs:
      - dev
      - master
    changes:
      - front/**/*

deploy-dev:
  stage: deploy
  extends: .scalingo
  only:
    - dev
  script:
    - git push scalingo-dev $CI_COMMIT_BRANCH:master -f

deploy-staging:
  stage: deploy
  extends: .scalingo
  only:
    - master
  script:
    - git push scalingo-staging master -f

deploy-prod:
  stage: deploy
  extends: .scalingo
  when: manual
  only:
    - master
  script:
    - git push scalingo-prod master -f

feat: add new_feature template
  .gitlab/merge_request_templates/new_feature.md
Due: none

Add email verification to invite_user and change_role features
  web/entity/api/users/change_role.py
  web/entity/api/users/invite_user.py
Due: check-backend

Add tests for 'invite user' feature
  web/entity/api/users/tests_users.py
Due: check-backend

[back] add method to get meter readings of an application as queryset
  web/elec/api/admin/meter_readings/application_details.py
  web/elec/api/cpo/meter_readings/application_details.py
  web/elec/repositories/meter_reading_repository.py
Due: check-backend

[back] fix meter reading audits not being linked to actual readings
  web/elec/api/admin/audit/meter_readings/generate_sample.py
Due: check-backend

[back] add audited charge point serializer
  web/elec/serializers/elec_audit_charge_point.py
Due: check-backend

[back] use audited charge point serializer to return current sample values
  web/elec/api/admin/audit/charge_points/get_sample.py
  web/elec/api/admin/audit/meter_readings/get_sample.py
  web/elec/api/auditor/get_sample.py
  web/elec/services/export_charge_point_excel.py
Due: check-backend

[back] send email when new elec audit result is available
  web/elec/api/auditor/accept_report.py
Due: check-backend

[back] add EEGA to biofuels list and double counting
  README.md
  web/doublecount/dc_sanity_checks.py
  web/doublecount/parser/dc_parser.py
  web/doublecount/parser/excel_to_carbure_convertor.py
  web/doublecount/parser/parse_sourcing_forecast.py
  web/fixtures/csv/biocarburants.csv
Due: check-backend

[front+back] automatically translate messages coming from django
  front/src/common/services/api.ts
  web/carbure/settings.py
Due: check-backend, check-frontend

fix: remove eslint due to an error with react-scripts
  front/.eslintignore
  front/.eslintrc.json
Due: check-frontend

fix: remove eslint due to an error with react-scripts
  front/package.json
Due: build-ci-image, check-frontend

feat: terminate form add user
  front/src/carbure/__test__/normalizers.spec.ts
  front/src/carbure/utils/normalizers.ts
  front/src/common/molecules/user-rights-table/add-user-dialog.tsx
  front/src/common/molecules/user-rights-table/change-user-role-button.tsx
Due: check-frontend

feat: manage new user to company process
  front/public/locales/en/translation.json
  front/public/locales/fr/translation.json
  front/src/auth/api.ts
  front/src/auth/components/activate.tsx
  front/src/settings/api/user-rights.ts
Due: check-frontend

feat: add button new user with simple modal
  front/public/locales/en/translation.json
  front/public/locales/fr/translation.json
  front/src/common/molecules/user-rights-table/add-user-dialog.tsx
  front/src/common/molecules/user-rights-table/user-rights-table.tsx
Due: check-frontend

fix: correction user activation
  front/src/auth/components/activate.tsx
Due: check-frontend

test: add mock for endpoint not ready by the back
  front/public/locales/en/translation.json
  front/public/locales/fr/translation.json
  front/src/elec/__test__/settings-charge-points.spec.tsx
  front/src/elec/__test__/settings-meter-readings.spec.tsx
  front/src/mocks.ts
  front/src/settings/__test__/api.ts
  front/src/settings/__test__/company.spec.tsx
  front/src/settings/__test__/delivery-site.spec.tsx
  front/src/settings/__test__/production-site.spec.tsx
  front/src/settings/__test__/server.ts
  front/src/settings/api/user-rights.ts
  front/src/settings/components/user-rights/user-rights.hooks.ts
  front/src/settings/components/user-rights/user-rights.tsx
Due: check-frontend

test: prepare mocks for invite user query
  front/src/common/molecules/user-rights-table/add-user-dialog.tsx
  front/src/common/molecules/user-rights-table/user-rights-table.tsx
  front/src/companies/__test__/api.ts
  front/src/elec-audit-admin/__test__/audit-admin-charge-points-sample.spec.tsx
  front/src/mocks.ts
  front/src/settings/__test__/api.ts
  front/src/settings/api/user-rights.ts
  front/src/settings/components/user-rights/user-rights.tsx
Due: check-frontend

test: fix random test error
  front/src/elec/__test__/settings-meter-readings.spec.tsx
  front/src/elec/components/meter-readings/settings.tsx
Due: check-frontend

fix: add missing translation
  front/public/locales/en/translation.json
  front/public/locales/fr/translation.json
Due: check-frontend

refactor: move generic code to add-user-dialog
  front/src/common/molecules/user-rights-table/add-user-dialog.tsx
  front/src/settings/components/user-rights/user-rights.hooks.ts
Due: check-frontend

test: add test application without charge points
  front/src/elec/__test__/api.ts
  front/src/elec/__test__/data.ts
  front/src/elec/__test__/settings-meter-readings.spec.tsx
  front/src/elec/components/meter-readings/settings.tsx
Due: check-frontend

feat: add input error message
  front/public/locales/en/translation.json
  front/public/locales/fr/translation.json
  front/src/auth/components/password.tsx
  front/src/auth/components/register.tsx
  front/src/common/components/input.module.css
  front/src/common/components/input.tsx
  front/src/elec/components/provision-certificates/transfer-dialog.tsx
Due: check-frontend
