Repository MTES-MCT/carbure: changes, and which GitLab CI jobs are due for each by the changed paths.
All: check-backend, check-frontend

.gitlab-ci.yml:

stages:
  - check


workflow:
  rules:
    # 1. Don't run pipelines for MR drafts.
    - if: $CI_PIPELINE_SOURCE == "merge_request_event" && $CI_MERGE_REQUEST_TITLE =~ /^Draft:/
      when: never

    # 2. Don't run branch pipelines when there's an open MR for the branch (run the MR pipeline instead).
    - if: $CI_COMMIT_BRANCH && $CI_OPEN_MERGE_REQUESTS
      when: never

    # 3. Run all other MR pipelines
    - if: $CI_PIPELINE_SOURCE == 'merge_request_event'
      when: always

    # 4. Run branch pipelines for dev and master
    - if: $CI_COMMIT_BRANCH == "dev" || $CI_COMMIT_BRANCH == "master"
      when: always

    # 5. Else, don't run it
    - when: never


variables:
  MYSQL_DATABASE: carbure_mysql_test_db
  MYSQL_ROOT_PASSWORD: carbure_mysql_ci_db_password
  PIP_CACHE_DIR: "$CI_PROJECT_DIR/.cache/pip"
  PIPENV_VENV_IN_PROJECT: true


# job: run linting and tests for backend
check-backend:
  stage: check
  extends: .backend
  services:
    - mysql:8.0
    - redis:latest
  script:
    - export CARBURE_HOME=$(pwd)
    - export DATABASE_URL=mysql://root:$MYSQL_ROOT_PASSWORD@mysql:3306/$MYSQL_DATABASE
    - export REDIS_URL=redis://redis:6379
    - pipenv run ruff check
    - pipenv run ruff format --check
    - TEST=1 pipenv run python web/manage.py test web


# job: run linting and tests for frontend
check-frontend:
  stage: check
  extends: .frontend
  script:
    - npm run lint
    - npm run build
    - npx chromatic
  interruptible: true


.backend:
  image: python:3.12
  cache:
    - key:
        files:
          - Pipfile.lock
      paths:
        - .cache/pip/
        - .venv/
  before_script:
    - pip install pipenv
    - pipenv install --dev --deploy --ignore-pipfile
  rules:
    - changes:
      - web/**/*
      - .gitlab-ci.yml


.frontend:
  image: node:latest
  cache:
    - key:
        files:
          - front/package-lock.json
      paths:
        - front/.npm/
  before_script:
    - cd front
    - npm ci --cache .npm --prefer-offline
  rules:
    - changes:
      - front/**/*
      - .gitlab-ci.yml

feat: add rules to display accounting
  api-schema.yaml
  front/src/api-schema.ts
  front/src/common/hooks/entity.ts
  front/src/common/index.tsx
  front/src/common/layouts/navigation/private/sidebar/hooks/useAccounting.ts
  web/core/models.py
  web/core/serializers.py
Due: check-backend, check-frontend

refactor(cession dialog): merge from depot step with recipient to depot step
  front/src/accounting/components/from-depot-form/from-depot-form.utils.ts
  front/src/accounting/components/recipient-to-depot-form/recipient-to-depot-form.tsx
  front/src/accounting/pages/balances/components/debit-operation-dialog/cession-dialog/cession-dialog.tsx
  front/src/accounting/pages/balances/components/debit-operation-dialog/cession-dialog/cession-dialog.types.ts
  front/src/accounting/pages/balances/components/debit-operation-dialog/cession-dialog/from-depot-recipient-to-depot-form/from-depot-recipient-to-depot-form.tsx
Due: check-frontend

feat(dc): add 'fichiers' tab with download link for pending DC applications
  front/src/double-counting-admin/components/applications/application-details-dialog/application-details-dialog.tsx
  front/src/double-counting-admin/components/applications/application-tabs.tsx
Due: check-frontend

fix: add translations
  front/public/locales/en/translation.json
  front/public/locales/fr/translation.json
  front/src/accounting/api/operations.ts
  front/src/accounting/hooks/normalizers.ts
  front/src/accounting/pages/balances/balances.hooks.tsx
  front/src/accounting/pages/operations/components/operation-badge.tsx
  front/src/accounting/pages/operations/operations.hooks.tsx
  front/src/accounting/pages/teneur/components/sector-progress/sector-progress.tsx
  front/src/accounting/pages/teneur/components/validate-pending-teneur-dialog/validate-pending-teneur-dialog.hooks.tsx
  front/src/accounting/utils/formatters.ts
  front/src/common/__test__/data.ts
  front/src/common/utils/normalizers.ts
Due: check-frontend

fix(tiruert): return decimal value for volume in /simulate endpoint
  web/tiruert/serializers/teneur.py
Due: check-backend

fix(tiruert): add quantity in mj in operation detail
  web/tiruert/serializers/operation.py
Due: check-backend

feat: feedbacks esteban
  api-schema.yaml
  front/public/locales/en/translation.json
  front/public/locales/fr/translation.json
  front/src/accounting/api/operations.ts
  front/src/accounting/components/quantity-form/quantity-form.tsx
  front/src/accounting/pages/balances/components/debit-operation-dialog/exportation-dialog/exportation-dialog.hooks.ts
  front/src/accounting/pages/balances/components/debit-operation-dialog/exportation-dialog/exportation-quantity-form.tsx
  front/src/accounting/pages/teneur/__test__/data.ts
  front/src/accounting/pages/teneur/api.ts
  front/src/accounting/pages/teneur/components/declare-teneur-dialog/declare-teneur-dialog.tsx
  front/src/accounting/pages/teneur/components/overall-progress/overall-progress.tsx
  front/src/accounting/pages/teneur/components/sector-progress/sector-progress.tsx
  front/src/accounting/pages/teneur/types.ts
  front/src/accounting/pages/teneur/utils/formatters.ts
  front/src/api-schema.ts
  front/src/common/utils/formatters.ts
  web/tiruert/serializers/objective.py
  web/tiruert/services/objective.py
  web/tiruert/views/objective/objective.py
Due: check-backend, check-frontend

fix(tiruert): fix volume returned
  web/tiruert/serializers/operation.py
Due: check-backend

fix(tiruert): fix period filter
  web/tiruert/views/operation/mixins/filter.py
Due: check-backend

fix(tiruert): fix period filter
  front/src/common/layouts/navigation/private/sidebar/hooks/useAccounting.ts
  web/tiruert/views/operation/mixins/filter.py
Due: check-backend, check-frontend

refactor: fix formatnumber error + update navigation
  front/src/accounting/index.tsx
  front/src/accounting/layouts/operations-balances-layout.tsx
  front/src/accounting/types.ts
  front/src/common/components/icon/icon.tsx
  front/src/common/layouts/navigation/private/sidebar/hooks/useAccounting.ts
  front/src/common/utils/formatters.ts
Due: check-frontend

refactor: prepare elec tiruert
  front/src/accounting/index.tsx
  front/src/accounting/layouts/operations-balances-layout.tsx
  front/src/accounting/pages/balances/balances.tsx
  front/src/accounting/pages/balances/biofuels/biofuels.hooks.tsx
  front/src/accounting/pages/balances/biofuels/biofuels.tsx
  front/src/accounting/pages/balances/biofuels/debit-operation-dialog/cession-dialog/cession-dialog.hooks.ts
  front/src/accounting/pages/balances/biofuels/debit-operation-dialog/cession-dialog/cession-dialog.module.css
  front/src/accounting/pages/balances/biofuels/debit-operation-dialog/cession-dialog/cession-dialog.tsx
  front/src/accounting/pages/balances/biofuels/debit-operation-dialog/cession-dialog/cession-dialog.types.ts
  front/src/accounting/pages/balances/biofuels/debit-operation-dialog/cession-dialog/from-depot-recipient-to-depot-form/from-depot-recipient-to-depot-form.tsx
  front/src/accounting/pages/balances/biofuels/debit-operation-dialog/cession-dialog/index.ts
  front/src/accounting/pages/balances/biofuels/debit-operation-dialog/debit-operation-dialog.module.css
  front/src/accounting/pages/balances/biofuels/debit-operation-dialog/debit-operation-dialog.tsx
  front/src/accounting/pages/balances/biofuels/debit-operation-dialog/devaluation-dialog/devaluation-dialog.tsx
  front/src/accounting/pages/balances/biofuels/debit-operation-dialog/devaluation-dialog/index.ts
  front/src/accounting/pages/balances/biofuels/debit-operation-dialog/exportation-dialog/country-form.tsx
  front/src/accounting/pages/balances/biofuels/debit-operation-dialog/exportation-dialog/exportation-dialog.hooks.ts
  front/src/accounting/pages/balances/biofuels/debit-operation-dialog/exportation-dialog/exportation-dialog.tsx
  front/src/accounting/pages/balances/biofuels/debit-operation-dialog/exportation-dialog/exportation-dialog.types.ts
  front/src/accounting/pages/balances/biofuels/debit-operation-dialog/exportation-dialog/exportation-quantity-form.tsx
  front/src/accounting/pages/balances/biofuels/debit-operation-dialog/exportation-dialog/index.ts
  front/src/accounting/pages/balances/biofuels/debit-operation-dialog/index.ts
  front/src/accounting/pages/balances/biofuels/index.ts
  front/src/accounting/pages/operations/biofuels/components/operation-badge.tsx
  front/src/accounting/pages/operations/biofuels/index.ts
  front/src/accounting/pages/operations/biofuels/operations.hooks.tsx
  front/src/accounting/pages/operations/biofuels/operations.module.css
  front/src/accounting/pages/operations/biofuels/operations.tsx
  front/src/accounting/pages/operations/biofuels/operations.utils.ts
  front/src/accounting/pages/operations/biofuels/pages/operation-detail/index.ts
  front/src/accounting/pages/operations/biofuels/pages/operation-detail/operation-detail.hooks.ts
  front/src/accounting/pages/operations/biofuels/pages/operation-detail/operation-detail.module.css
  front/src/accounting/pages/operations/biofuels/pages/operation-detail/operation-detail.tsx
  front/src/accounting/pages/operations/operations.tsx
  front/src/common/layouts/navigation/private/sidebar/hooks/useAccounting.ts
  front/src/common/utils/routes.ts
Due: check-frontend

fix(tiruert): fix period filter with no mysql timezone support
  web/tiruert/filters/operation.py
Due: check-backend

fix(tiruert): remove comma
  web/tiruert/filters/operation.py
Due: check-backend

fix(tiruert): ruff
  web/tiruert/filters/operation.py
Due: check-backend

feat(tiruert-elec): create elec operations based on elec_transfer_certificates received by oeprators
  web/tiruert/migrations/0018_generate_acquisition_from_cpo_operations.py
  web/tiruert/services/elec.py
Due: check-backend

feat(tiruert-elec): create elec operations when accepting cpo certificates
  web/elec/api/operator/accept_transfer_certificate.py
Due: check-backend

feat(tiruert-elec): add elec operation model
  web/tiruert/migrations/0017_elecoperation.py
  web/tiruert/models/__init__.py
  web/tiruert/models/elec_operation.py
Due: check-backend

fix(tiruert-elec): make elec operation migration code independent
  web/tiruert/migrations/0018_generate_acquisition_from_cpo_operations.py
Due: check-backend

feat(elec): add operation CRUD endpoints
  web/tiruert/filters/__init__.py
  web/tiruert/filters/elec_operation.py
  web/tiruert/models/elec_operation.py
  web/tiruert/serializers/__init__.py
  web/tiruert/serializers/elec_operation.py
  web/tiruert/tests/tests_elec_operations.py
  web/tiruert/urls.py
  web/tiruert/views/__init__.py
  web/tiruert/views/elec_operation/__init__.py
  web/tiruert/views/elec_operation/elec_operation.py
Due: check-backend

chore(elec): specify units in comments next to elec related db columns
  front/public/templates/points-de-recharge-inscription.xlsx
  web/elec/models/elec_audit_charge_point.py
  web/elec/models/elec_charge_point.py
  web/elec/models/elec_meter.py
  web/elec/models/elec_meter_reading.py
  web/elec/models/elec_provision_certificate.py
  web/elec/models/elec_transfer_certificate.py
Due: check-backend, check-frontend

fix(tiruert-elec): actually use MJ instead of MWh in elec operations
  web/elec/api/operator/accept_transfer_certificate.py
  web/tiruert/models/elec_operation.py
  web/tiruert/services/elec.py
  web/tiruert/services/elec_operation.py
  web/tiruert/tests/tests_elec_operations.py
Due: check-backend

chore(tiruert-elec): update api schema
  api-schema.yaml
  web/carbure/settings.py
  web/tiruert/urls.py
  web/tiruert/views/elec_operation/elec_operation.py
Due: check-backend

chore(tiruert-elec): share some biofuel operations code for other operation types
  front/src/accounting/api/operations.ts
  front/src/accounting/components/operation-badge/index.ts
  front/src/accounting/components/operation-badge/operation-badge.tsx
  front/src/accounting/pages/operations/biofuels/operations.hooks.tsx
  front/src/accounting/pages/operations/biofuels/operations.module.css
  front/src/accounting/pages/operations/biofuels/operations.utils.ts
  front/src/accounting/pages/operations/biofuels/pages/operation-detail/operation-detail.tsx
  front/src/accounting/pages/operations/operations.module.css
  front/src/accounting/types.ts
  front/src/accounting/utils/formatters.ts
  front/src/api-schema.ts
Due: check-frontend

feat(tiruert-elec): add elec operations page and details
  front/src/accounting/api/elec-operations.ts
  front/src/accounting/pages/operations/elec/index.ts
  front/src/accounting/pages/operations/elec/operations.hooks.tsx
  front/src/accounting/pages/operations/elec/operations.tsx
  front/src/accounting/pages/operations/elec/operations.utils.ts
  front/src/accounting/pages/operations/elec/pages/operation-detail/index.ts
  front/src/accounting/pages/operations/elec/pages/operation-detail/operation-detail.hooks.ts
  front/src/accounting/pages/operations/elec/pages/operation-detail/operation-detail.tsx
Due: check-frontend

feat(tiruert-elec): give access to new elec operation page
  front/src/accounting/layouts/operations-balances-layout.tsx
  front/src/accounting/pages/operations/operations.tsx
Due: check-frontend

fix(tiruert-elec): use right api endpoints in elec operation details
  front/src/accounting/pages/operations/elec/operations.hooks.tsx
  front/src/accounting/pages/operations/elec/pages/operation-detail/operation-detail.hooks.ts
Due: check-frontend

feat(tiruert-elec): add filters to elec operation page
  api-schema.yaml
  front/src/accounting/api/elec-operations.ts
  front/src/accounting/types.ts
  front/src/api-schema.ts
  web/tiruert/views/elec_operation/elec_operation.py
  web/tiruert/views/elec_operation/mixins/__init__.py
  web/tiruert/views/elec_operation/mixins/filter.py
Due: check-backend, check-frontend

feat(tiruert-elec): add accept/reject endpoints for elec operations
  web/tiruert/views/elec_operation/mixins/__init__.py
  web/tiruert/views/elec_operation/mixins/accept.py
  web/tiruert/views/elec_operation/mixins/reject.py
Due: check-backend

feat(tiruert-elec): use accept/reject endpoints in frontend
  api-schema.yaml
  front/src/accounting/api/elec-operations.ts
  front/src/api-schema.ts
Due: check-frontend

fix: front/package.json & front/package-lock.json to reduce vulnerabilities
  front/package-lock.json
  front/package.json
Due: check-frontend

feat(tiruert-elec): compute avoided emissions for elec operations
  web/tiruert/models/elec_operation.py
  web/tiruert/serializers/elec_operation.py
Due: check-backend

feat(tiruert-elec): add total elec balance
  web/tiruert/serializers/__init__.py
  web/tiruert/serializers/elec_balance.py
  web/tiruert/services/elec_balance.py
  web/tiruert/views/elec_operation/mixins/__init__.py
  web/tiruert/views/elec_operation/mixins/balance.py
Due: check-backend

chore(tiruert-elec): update api schema
  api-schema.yaml
  front/src/api-schema.ts
  web/tiruert/serializers/elec_operation.py
  web/tiruert/views/elec_operation/mixins/balance.py
Due: check-backend, check-frontend

fix(lots): update ghg info when admin bulk update lot info
  web/transactions/api/admin/lots/update_many.py
Due: check-backend

fix(lots): display comments for admin updates as well
  front/src/transaction-details/components/lots/history.tsx
Due: check-frontend

feat(tiruert-elec): add constant for elec sector
  web/tiruert/models/elec_operation.py
  web/tiruert/serializers/elec_balance.py
  web/tiruert/services/elec_balance.py
Due: check-backend

fix(tiruert-elec): unique keys for elec queries and mutations
  front/src/accounting/pages/operations/elec/operations.tsx
  front/src/accounting/pages/operations/elec/pages/operation-detail/operation-detail.hooks.ts
Due: check-frontend
