Repository MTES-MCT/carbure: changes, and which GitLab CI jobs are due for each by the changed paths.
All: check-backend, check-frontend

.gitlab-ci.yml:

stages:
  - check


workflow:
  rules:
    # 1. Don't run pipelines for MR drafts.
    - if: $CI_PIPELINE_SOURCE == "merge_request_event" && $CI_MERGE_REQUEST_TITLE =~ /^Draft:/
      when: never

    # 2. Don't run branch pipelines when there's an open MR for the branch (run the MR pipeline instead).
    - if: $CI_COMMIT_BRANCH && $CI_OPEN_MERGE_REQUESTS
      when: never

    # 3. Run all other MR pipelines
    - if: $CI_PIPELINE_SOURCE == 'merge_request_event'
      when: always

    # 4. Run branch pipelines for dev and master
    - if: $CI_COMMIT_BRANCH == "dev" || $CI_COMMIT_BRANCH == "master"
      when: always

    # 5. Else, don't run it
    - when: never


variables:
  MYSQL_DATABASE: carbure_mysql_test_db
  MYSQL_ROOT_PASSWORD: carbure_mysql_ci_db_password
  PIP_CACHE_DIR: "$CI_PROJECT_DIR/.cache/pip"
  PIPENV_VENV_IN_PROJECT: true


# job: run linting and tests for backend
check-backend:
  stage: check
  extends: .backend
  services:
    - mysql:8.0
    - redis:latest
  script:
    - export CARBURE_HOME=$(pwd)
    - export DATABASE_URL=mysql://root:$MYSQL_ROOT_PASSWORD@mysql:3306/$MYSQL_DATABASE
    - export REDIS_URL=redis://redis:6379
    - pipenv run ruff check
    - pipenv run ruff format --check
    - TEST=1 pipenv run python web/manage.py test web


# job: run linting and tests for frontend
check-frontend:
  stage: check
  extends: .frontend
  script:
    - npm run lint
    - npm run build
    - npx chromatic
  interruptible: true


.backend:
  image: python:3.12
  cache:
    - key:
        files:
          - Pipfile.lock
      paths:
        - .cache/pip/
        - .venv/
  before_script:
    - pip install pipenv
    - pipenv install --dev --deploy --ignore-pipfile
  rules:
    - changes:
      - web/**/*
      - .gitlab-ci.yml


.frontend:
  image: node:latest
  cache:
    - key:
        files:
          - front/package-lock.json
      paths:
        - front/.npm/
  before_script:
    - cd front
    - npm ci --cache .npm --prefer-offline
  rules:
    - changes:
      - front/**/*
      - .gitlab-ci.yml

feat: add translations
  front/public/locales/en/translation.json
  front/public/locales/fr/translation.json
Due: check-frontend

feat: setup biomethane energy model
  web/biomethane/models/__init__.py
  web/biomethane/models/biomethane_energy.py
Due: check-backend

feat(biomethane): add cleaning data signal for energy, and apply same format for other signals
  web/biomethane/models/biomethane_contract.py
  web/biomethane/models/biomethane_digestate.py
  web/biomethane/models/biomethane_energy.py
  web/biomethane/models/biomethane_injection_site.py
  web/biomethane/models/biomethane_production_unit.py
  web/biomethane/serializers/energy/energy.py
Due: check-backend

feat: setup biomethane monthly injection
  front/src/biomethane/pages/energy/components/monthy-biomethane-injection/index.ts
  front/src/biomethane/pages/energy/components/monthy-biomethane-injection/monthly-biomethane-injection.tsx
Due: check-frontend

test: add tests signal energy
  web/biomethane/models/biomethane_energy.py
  web/biomethane/tests/energy/__init__.py
  web/biomethane/tests/energy/test_signals.py
Due: check-backend

feat: add energy efficiency input
  front/src/biomethane/config.ts
  front/src/biomethane/pages/contract/components/contract-infos/contract-infos.tsx
  front/src/biomethane/pages/contract/components/contract-infos/red-ii-dialog.tsx
  front/src/biomethane/pages/contract/contract.utils.ts
  front/src/biomethane/pages/contract/index.ts
  front/src/biomethane/pages/energy/components/energy-efficiency/energy-efficiency.hooks.ts
  front/src/biomethane/pages/energy/components/energy-efficiency/energy-efficiency.tsx
  front/src/biomethane/pages/energy/components/energy-efficiency/index.ts
  front/src/biomethane/pages/energy/components/installation-energy-needs.tsx
  front/src/common/components/inputs2/checkbox/checkbox.tsx
Due: check-frontend

feat(biomethane): add validations on signature and effective dates, fixes
  web/biomethane/serializers/contract/contract.py
  web/biomethane/serializers/contract/contract_amendment.py
  web/biomethane/views/contract/contract.py
Due: check-backend

refactor: simplify tests and permissions
  api-schema.yaml
  front/src/api-schema.ts
  web/biomethane/mixins/__init__.py
  web/biomethane/mixins/permissions.py
  web/biomethane/tests/energy/mixins/test_validate.py
  web/biomethane/tests/energy/monthly_report/test_views.py
  web/biomethane/tests/energy/test_signals.py
  web/biomethane/tests/energy/test_views.py
  web/biomethane/tests/test_permissions.py
  web/biomethane/views/energy/energy.py
  web/biomethane/views/energy/mixins/validate.py
  web/biomethane/views/energy/monthly_report.py
  web/core/tests_utils.py
Due: check-backend, check-frontend

test: add years energy endpoint tests
  web/biomethane/tests/energy/mixins/__init__.py
  web/biomethane/tests/energy/mixins/test_years.py
Due: check-backend

test: add energy validate tests
  web/biomethane/tests/energy/mixins/__init__.py
  web/biomethane/tests/energy/mixins/test_validate.py
Due: check-backend

test: add tests for monthly report serializer
  web/biomethane/serializers/energy/monthly_report.py
  web/biomethane/tests/energy/monthly_report/__init__.py
  web/biomethane/tests/energy/monthly_report/test_serializers.py
  web/biomethane/tests/energy/monthly_report/test_views.py
  web/biomethane/views/energy/monthly_report.py
Due: check-backend

refactor: add energy filter
  web/biomethane/filters/energy.py
  web/biomethane/tests/energy/__init__.py
  web/biomethane/views/energy/energy.py
Due: check-backend

refactor: simplify permissions
  web/biomethane/mixins/__init__.py
  web/biomethane/mixins/permissions.py
  web/biomethane/permissions.py
  web/biomethane/tests/energy/monthly_report/test_views.py
  web/biomethane/tests/energy/test_views.py
  web/biomethane/tests/test_permissions.py
  web/biomethane/views/energy/energy.py
  web/biomethane/views/energy/monthly_report.py
Due: check-backend

feat: add energy factories
  web/biomethane/factories/energy.py
  web/biomethane/factories/injection_site.py
  web/biomethane/factories/sample_data.py
  web/biomethane/views/energy/monthly_report.py
  web/core/management/commands/create_sample_data.py
Due: check-backend

test: add integration test for energy endpoints
  web/biomethane/tests/energy/test_views.py
  web/biomethane/views/energy/energy.py
Due: check-backend

feat: add year for monthly reports
  api-schema.yaml
  front/src/api-schema.ts
  front/src/biomethane/pages/energy/api.ts
  front/src/biomethane/pages/energy/components/monthy-biomethane-injection/declare-monthly-quantity.tsx
  front/src/biomethane/pages/energy/components/monthy-biomethane-injection/monthly-biomethane-injection.tsx
  front/src/biomethane/pages/energy/energy.tsx
  web/biomethane/tests/energy/__init__.py
  web/biomethane/tests/energy/monthly_report/__init__.py
  web/biomethane/tests/energy/monthly_report/test_views.py
Due: check-backend, check-frontend

test: terminate tests upsert energy monthly report
  web/biomethane/tests/energy/monthly_report/test_views.py
  web/biomethane/views/energy/energy.py
  web/biomethane/views/energy/monthly_report.py
Due: check-backend

fix: hide password on hover
  front/src/common/components/input.tsx
Due: check-frontend

So far
  web/edelivery/adapters/edelivery_adapter.py
Due: check-backend

test(biofuels): add tests for fill_basic_info
  web/transactions/api/lots/add_excel.py
  web/transactions/tests/__init__.py
  web/transactions/tests/tests_fill_basic_info.py
Due: check-backend

test: add tests for check_lot_info
  web/transactions/helpers.py
  web/transactions/tests/tests_fill_basic_info.py
Due: check-backend

refactor: terminate refactoring fill_basic_info
  web/transactions/helpers.py
  web/transactions/tests/tests_fill_basic_info.py
Due: check-backend

fix(common): use a hidden required input to validate required tag-autocompletes
  front/src/common/components/inputs2/hidden-required-input.tsx
  front/src/common/components/tag-autocomplete2/tag-autocomplete.tsx
Due: check-frontend

feat(production-site): make feedstock/biofuel fields required
  front/src/settings/pages/production-site/production-site-dialog.tsx
Due: check-frontend

feat(common): add basic required validation to tag-autocomplete
  front/src/common/components/inputs2/field/field.tsx
  front/src/common/components/tag-autocomplete2/tag-autocomplete.tsx
Due: check-frontend

feat(production-site): create EntitySite entry when creating a new production site
  web/entity/serializers/production_sites.py
Due: check-backend

chore(production-site): update api schema
  api-schema.yaml
  front/src/api-schema.ts
Due: check-frontend

refactor(production-sites): replace individual list validators with allow_empty=False
  web/entity/serializers/production_sites.py
Due: check-backend

feat(prodction-site): remade the production site serializers to take feedstocks biofuels and certificates into account
  web/entity/serializers/production_sites.py
  web/entity/tests/production_sites/tests_prod_site_serializers.py
Due: check-backend

refactor(production-site): use idiomatic DRF resource for managing entity production site
  web/entity/permissions.py
  web/entity/tests/production_sites/tests_production_sites.py
  web/entity/views/production_sites/mixins/__init__.py
  web/entity/views/production_sites/mixins/add.py
  web/entity/views/production_sites/mixins/delete.py
  web/entity/views/production_sites/mixins/set_biofuels.py
  web/entity/views/production_sites/mixins/set_certificates.py
  web/entity/views/production_sites/mixins/set_feedstocks.py
  web/entity/views/production_sites/mixins/update.py
  web/entity/views/production_sites/production_sites.py
Due: check-backend

feat(production-site): update frontend to use new production site resource
  front/src/common/components/notifications.tsx
  front/src/settings/api/production-sites.ts
  front/src/settings/pages/production-site/production-site-dialog.tsx
  front/src/settings/pages/production-site/production-site.tsx
Due: check-frontend

test(entity): refresh entity production sites tests
  web/entity/tests/production_sites/tests_production_sites.py
  web/transactions/factories/certificate.py
  web/transactions/factories/production_site.py
  web/transactions/factories/site.py
Due: check-backend

feat(settings): delete prod site if there was an error while setting MP/BC
  front/src/settings/pages/production-site/production-site-dialog.tsx
Due: check-frontend

chore(production-sites): rename test files
  web/entity/tests/production_sites/tests_serializers.py
  web/entity/tests/production_sites/tests_views.py
Due: check-backend

fix(production-site): missing test fixtures for carbure lot factory
  web/entity/tests/production_sites/tests_production_sites.py
Due: check-backend

feat(core): add a special api exception for conflicts when deleting already used resources
  web/core/exceptions.py
  web/locale/en/LC_MESSAGES/django.po
Due: check-backend

perf(production-sites): prefetch related models before building production site representation
  web/entity/serializers/production_sites.py
  web/entity/views/production_sites/production_sites.py
Due: check-backend

test(production-sites): update expected errors
  web/entity/tests/production_sites/tests_views.py
Due: check-backend

refactor(serializers): move shared serializers from doublecount to core
  web/certificates/serializers.py
  web/core/serializers.py
  web/doublecount/helpers.py
  web/doublecount/serializers.py
  web/entity/serializers/production_sites.py
  web/entity/views/enable_entity.py
  web/entity/views/entity/entity.py
  web/resources/views/biofuels.py
  web/resources/views/countries.py
  web/resources/views/feedstocks.py
  web/saf/serializers/saf_ticket.py
  web/saf/serializers/saf_ticket_source.py
Due: check-backend

feat(biomethane): add postal_code and city fields into production unit model
  web/biomethane/migrations/0016_biomethaneproductionunit_city_and_more.py
  web/biomethane/models/biomethane_production_unit.py
Due: check-backend
