Repository MTES-MCT/carbure: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-ci-image, check-backend, check-frontend

build-ci-image:
  stage: prepare
  image: docker:stable
  services:
  - docker:dind
  script:
  - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
  - docker build -f ci/Dockerfile -t $CI_REGISTRY/$CI_PROJECT_PATH/ci-image:latest .
  - docker push $CI_REGISTRY/$CI_PROJECT_PATH/ci-image:latest

check-backend:
  image: $CI_REGISTRY/$CI_PROJECT_PATH/ci-image:latest
  before_script:
  - mv /app/front/node_modules ./front
  stage: check
  services:
  - mysql:8.0
  - redis:latest
  script:
  - export CARBURE_HOME=$(pwd)
  - export DATABASE_URL=mysql://root:$MYSQL_ROOT_PASSWORD@mysql:3306/$MYSQL_DATABASE
  ...

check-frontend:
  image: $CI_REGISTRY/$CI_PROJECT_PATH/ci-image:latest
  before_script:
  - mv /app/front/node_modules ./front
  stage: check
  script:
  - cd front
  - npx eslint --ext .ts,.tsx src/
  - npm test

[front] fix mock avoiding creating dependancy beetween an other one
  front/src/elec/__test__/data.ts
  front/src/elec/__test__/settings-meter-readings.spec.tsx
Due: check-frontend

refactor: move generic code to add-user-dialog
  front/src/common/molecules/user-rights-table/add-user-dialog.tsx
  front/src/settings/components/user-rights/user-rights.hooks.ts
Due: check-frontend

[back] Remove old @is_auditor decorator
  web/core/decorators.py
  web/transactions/api/audit/lots/comment.py
  web/transactions/api/audit/lots/details.py
  web/transactions/api/audit/lots/filters.py
  web/transactions/api/audit/lots/lots.py
  web/transactions/api/audit/lots/mark_as_conform.py
  web/transactions/api/audit/lots/mark_as_nonconform.py
  web/transactions/api/audit/lots/pin.py
  web/transactions/api/audit/lots/summary.py
  web/transactions/api/audit/lots/toggle_warning.py
  web/transactions/api/audit/snapshot.py
  web/transactions/api/audit/stocks/details.py
  web/transactions/api/audit/stocks/filters.py
  web/transactions/api/audit/stocks/stocks.py
  web/transactions/api/audit/stocks/summary.py
  web/user/api/request_access.py
Due: check-backend

fix: correction user activation
  front/src/auth/components/activate.tsx
Due: check-frontend

feat: manage new user to company process
  front/public/locales/en/translation.json
  front/public/locales/fr/translation.json
  front/src/auth/api.ts
  front/src/auth/components/activate.tsx
  front/src/settings/api/user-rights.ts
Due: check-frontend

feat: terminate form add user
  front/src/carbure/__test__/normalizers.spec.ts
  front/src/carbure/utils/normalizers.ts
  front/src/common/molecules/user-rights-table/add-user-dialog.tsx
  front/src/common/molecules/user-rights-table/change-user-role-button.tsx
Due: check-frontend

[back] dc - autorise zero production if production is outside of france
  web/doublecount/parser/parse_production.py
Due: check-backend

feat: add button new user with simple modal
  front/public/locales/en/translation.json
  front/public/locales/fr/translation.json
  front/src/common/molecules/user-rights-table/add-user-dialog.tsx
  front/src/common/molecules/user-rights-table/user-rights-table.tsx
Due: check-frontend

test: prepare mocks for invite user query
  front/src/common/molecules/user-rights-table/add-user-dialog.tsx
  front/src/common/molecules/user-rights-table/user-rights-table.tsx
  front/src/companies/__test__/api.ts
  front/src/elec-audit-admin/__test__/audit-admin-charge-points-sample.spec.tsx
  front/src/mocks.ts
  front/src/settings/__test__/api.ts
  front/src/settings/api/user-rights.ts
  front/src/settings/components/user-rights/user-rights.tsx
Due: check-frontend

[fix] invite user - handle case when userRightRequest already exists
  web/entity/api/users/invite_user.py
Due: check-backend

feat: add input error message
  front/public/locales/en/translation.json
  front/public/locales/fr/translation.json
  front/src/auth/components/password.tsx
  front/src/auth/components/register.tsx
  front/src/common/components/input.module.css
  front/src/common/components/input.tsx
  front/src/elec/components/provision-certificates/transfer-dialog.tsx
Due: check-frontend

test: add test application without charge points
  front/src/elec/__test__/api.ts
  front/src/elec/__test__/data.ts
  front/src/elec/__test__/settings-meter-readings.spec.tsx
  front/src/elec/components/meter-readings/settings.tsx
Due: check-frontend

[api] DC - EEAG for graisses but huiles usagées et graisses animales
  web/transactions/sanity_checks/biofuel_feedstock.py
  web/transactions/sanity_checks/double_counting.py
Due: check-backend

[back] Remove is_admin and is is_admin_or_external_admin decorators
  web/core/decorators.py
  web/doublecount/api/applications/application_details.py
  web/transactions/api/admin/declarations.py
  web/transactions/api/admin/map.py
  web/transactions/api/admin/snapshot.py
  web/transactions/api/admin/stocks/filters.py
  web/transactions/api/admin/stocks/stocks.py
  web/transactions/api/admin/stocks/summary.py
Due: check-backend

[back] fix check_user_rights for transaction audit endpoints
  web/transactions/api/audit/lots/comment.py
  web/transactions/api/audit/lots/details.py
  web/transactions/api/audit/lots/filters.py
  web/transactions/api/audit/lots/lots.py
  web/transactions/api/audit/lots/mark_as_conform.py
  web/transactions/api/audit/lots/mark_as_nonconform.py
  web/transactions/api/audit/lots/pin.py
  web/transactions/api/audit/lots/summary.py
  web/transactions/api/audit/lots/toggle_warning.py
  web/transactions/api/audit/snapshot.py
  web/transactions/api/audit/stocks/details.py
  web/transactions/api/audit/stocks/filters.py
  web/transactions/api/audit/stocks/stocks.py
  web/transactions/api/audit/stocks/summary.py
Due: check-backend

[back] add check_admin_rights decorator to admin stock details endpoint
  web/transactions/api/admin/stocks/details.py
Due: check-backend

[front] send entity_id to admin/declarations endpoint
  front/src/dashboard/api.ts
  front/src/dashboard/components/declarations.tsx
Due: check-frontend

[back] Add EN translation for 2 xls import tasks
  web/carbure/settings.py
  web/elec/services/import_charge_point_excel.py
  web/elec/services/import_meter_reading_excel.py
  web/locale/en/LC_MESSAGES/django.po
Due: check-backend

[front] add prev and next button for sample generation
  front/src/elec-audit-admin/components/meter-readings/accept-dialog.tsx
  front/src/elec-audit-admin/components/sample/application-generation.tsx
Due: check-frontend

[back] New ElecMeter model and migrations
  web/elec/migrations/0036_elecmeter_elecchargepoint_current_meter_and_more.py
  web/elec/migrations/0037_move_data_in_meter_table.py
  web/elec/models/__init__.py
  web/elec/models/elec_charge_point.py
  web/elec/models/elec_meter.py
  web/elec/models/elec_meter_reading.py
Due: check-backend

Clean legacy decorators
  front/src/dashboard/api.ts
  front/src/dashboard/components/declarations.tsx
  web/core/decorators.py
  web/doublecount/api/applications/application_details.py
  web/entity/api/depots/add.py
  web/entity/api/depots/delete.py
  web/entity/api/depots/depots.py
  web/entity/api/production_sites/add.py
  web/entity/api/production_sites/delete.py
  web/entity/api/production_sites/production_sites.py
  web/entity/api/production_sites/set_biofuels.py
  web/entity/api/production_sites/set_feedstocks.py
  web/entity/api/production_sites/update.py
  web/entity/api/users/grant_access.py
  web/entity/api/users/revoke_access.py
  web/entity/api/users/users.py
  web/transactions/api/admin/declarations.py
  web/transactions/api/admin/map.py
  web/transactions/api/admin/snapshot.py
  web/transactions/api/admin/stocks/details.py
  web/transactions/api/admin/stocks/filters.py
  web/transactions/api/admin/stocks/stocks.py
  web/transactions/api/admin/stocks/summary.py
  web/transactions/api/audit/lots/comment.py
  web/transactions/api/audit/lots/details.py
  web/transactions/api/audit/lots/filters.py
  web/transactions/api/audit/lots/lots.py
  web/transactions/api/audit/lots/mark_as_conform.py
  web/transactions/api/audit/lots/mark_as_nonconform.py
  web/transactions/api/audit/lots/pin.py
  web/transactions/api/audit/lots/summary.py
  web/transactions/api/audit/lots/toggle_warning.py
  web/transactions/api/audit/snapshot.py
  web/transactions/api/audit/stocks/details.py
  web/transactions/api/audit/stocks/filters.py
  web/transactions/api/audit/stocks/stocks.py
  web/transactions/api/audit/stocks/summary.py
  web/user/api/revoke_access.py
Due: check-backend, check-frontend

move elec audit sample excel generation to its own file
  web/elec/api/admin/audit/charge_points/get_sample.py
  web/elec/api/admin/audit/meter_readings/get_sample.py
  web/elec/api/auditor/get_sample.py
  web/elec/services/export_audited_charge_points_sample_to_excel.py
  web/elec/services/export_charge_point_excel.py
Due: check-backend

[back] when uploading audit sample check that the PDCs are indeed part of the original sample
  web/elec/api/auditor/check_report.py
  web/elec/services/import_elec_audit_report_excel.py
Due: check-backend

[front] display errors when uploading elec audit reports
  front/src/elec-auditor/components/details-pending-check.tsx
  front/src/elec-auditor/components/details-pending-report-errors.tsx
Due: check-frontend

[back] fix missing argument when importing audit reports
  web/elec/api/auditor/accept_report.py
Due: check-backend

[back] add new status for elec applications when audit is done
  web/elec/migrations/0036_alter_elecchargepointapplication_status_and_more.py
  web/elec/models/elec_charge_point_application.py
  web/elec/models/elec_meter_reading_application.py
Due: check-backend

[back] update elec application status when audit is done
  web/elec/api/auditor/accept_report.py
Due: check-backend

[back] update endpoints to take into account new elec application status for done audits
  web/elec/api/admin/audit/charge_points/applications.py
  web/elec/api/admin/audit/meter_readings/applications.py
  web/elec/api/admin/audit/snapshot.py
Due: check-backend

Path conditions:
  build-ci-image: any of: ci/Dockerfile, Pipfile, Pipfile.lock, front/package.json, front/package-lock.json
  check-backend: any of: web/**/*
  check-frontend: any of: front/**/*
