Repository MTES-MCT/carbure: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-ci-image, check-backend, check-frontend

build-ci-image:
  stage: prepare
  image: docker:stable
  services:
  - docker:dind
  script:
  - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
  - docker build -f ci/Dockerfile -t $CI_REGISTRY/$CI_PROJECT_PATH/ci-image:latest .
  - docker push $CI_REGISTRY/$CI_PROJECT_PATH/ci-image:latest

check-backend:
  image: $CI_REGISTRY/$CI_PROJECT_PATH/ci-image:latest
  before_script:
  - mv /app/front/node_modules ./front
  stage: check
  services:
  - mysql:8.0
  - redis:latest
  script:
  - export CARBURE_HOME=$(pwd)
  - export DATABASE_URL=mysql://root:$MYSQL_ROOT_PASSWORD@mysql:3306/$MYSQL_DATABASE
  ...

check-frontend:
  image: $CI_REGISTRY/$CI_PROJECT_PATH/ci-image:latest
  before_script:
  - mv /app/front/node_modules ./front
  stage: check
  script:
  - cd front
  - npx eslint --ext .ts,.tsx src/
  - npm test

[back] fix env base_url
  web/core/utils.py
Due: check-backend

[back] prepare create_meter_readings_application_reminder
  web/carbure/tasks.py
  web/core/models.py
  web/elec/helpers/meter_readings_application_quarter.py
  web/elec/scripts/create_meter_readings_application_reminder.py
Due: check-backend

[front] fix and update meters declaration tests
  front/src/elec/__test__/api.ts
  front/src/elec/__test__/data.ts
  front/src/elec/__test__/settings-meter-readings.spec.tsx
  front/src/elec/components/meter-readings/settings.tsx
Due: check-frontend

[front] improve upload dialog modal
  front/src/elec/components/meter-readings/settings.tsx
  front/src/elec/components/meter-readings/upload-dialog.tsx
Due: check-frontend

[back] send notification when meter reading should be declared
  front/src/carbure/components/notifications.tsx
  front/src/carbure/types.ts
  web/core/models.py
  web/elec/api/cpo/meter_readings/applications.py
  web/elec/api/cpo/meter_readings/tests_meter_readings.py
  web/elec/helpers/meter_readings_application_quarter.py
  web/elec/repositories/meter_reading_repository.py
  web/elec/scripts/create_meter_readings_application_reminder.py
Due: check-backend, check-frontend

[front] current application handling
  front/src/companies-admin/routes/entity-details.tsx
  front/src/elec/__test__/data.ts
  front/src/elec/api-cpo.ts
  front/src/elec/components/meter-readings/admin-settings.tsx
  front/src/elec/components/meter-readings/settings.tsx
  front/src/elec/components/meter-readings/upload-dialog.tsx
  front/src/elec/types.ts
Due: check-frontend

[back] add METER_READINGS_APP_ENDING_SOON notif + notif emails
  front/src/carbure/components/notifications.tsx
  web/carbure/scripts/send_notification_emails.py
  web/carbure/tasks.py
  web/core/models.py
  web/elec/scripts/create_meter_readings_application_deadline_reminder.py
  web/templates/emails/notifications.v3.html
  web/templates/emails/notifications.v3.txt
Due: check-backend, check-frontend

[back] fix notification emails
  web/carbure/scripts/send_notification_emails.py
  web/core/models.py
  web/templates/emails/notifications.v3.html
  web/templates/emails/notifications.v3.txt
Due: check-backend

[back] fix tests and move helper to service
  web/elec/api/cpo/meter_readings/add_application.py
  web/elec/api/cpo/meter_readings/application_template.py
  web/elec/api/cpo/meter_readings/applications.py
  web/elec/api/cpo/meter_readings/check_application.py
  web/elec/api/cpo/meter_readings/tests_meter_readings.py
  web/elec/scripts/create_meter_readings_application_reminder.py
  web/elec/services/meter_readings_application_quarter.py
Due: check-backend

[api+front] determination of current meter reading declaration quarter in backend
  front/src/common/components/dialog.module.css
  front/src/elec/components/charge-points/tdg-info.tsx
  front/src/elec/components/meter-readings/settings.tsx
  front/src/elec/components/meter-readings/upload-dialog.tsx
  web/elec/api/cpo/meter_readings/add_application.py
  web/elec/api/cpo/meter_readings/application_template.py
  web/elec/api/cpo/meter_readings/applications.py
  web/elec/api/cpo/meter_readings/check_application.py
  web/elec/api/cpo/meter_readings/tests_meter_readings.py
  web/elec/models/elec_meter_reading_application.py
  web/elec/repositories/meter_reading_repository.py
Due: check-backend, check-frontend

[front] meter readings declaration - add notifications
  front/src/carbure/components/notifications.tsx
  front/src/carbure/types.ts
Due: check-frontend

[back] move get_application_quarter to helpers
  web/elec/api/cpo/meter_readings/add_application.py
  web/elec/api/cpo/meter_readings/application_template.py
  web/elec/api/cpo/meter_readings/applications.py
  web/elec/api/cpo/meter_readings/check_application.py
  web/elec/api/cpo/meter_readings/tests_meter_readings.py
Due: check-backend

[front] fix typo in tdg info
  front/public/locales/en/translation.json
  front/public/locales/fr/translation.json
  front/src/elec/components/charge-points/tdg-info.tsx
Due: check-frontend

[front] add status to application list
  front/src/carbure/components/top-bar.tsx
  front/src/elec-audit-admin/__test__/data.ts
  front/src/elec-audit-admin/components/charge-points/list.tsx
  front/src/elec-audit-admin/components/meter-readings/list.tsx
  front/src/elec-audit-admin/components/status-switcher.tsx
  front/src/elec-audit-admin/index.tsx
  front/src/elec-audit-admin/types.ts
  front/src/elec/__test__/data.ts
  front/src/elec/components/application-status.tsx
  front/src/elec/types.ts
Due: check-frontend

[back] update endpoints returning status
  front/src/elec-audit-admin/components/charge-points/list.tsx
  front/src/elec-audit-admin/components/meter-readings/list.tsx
  front/src/elec-audit-admin/components/status-switcher.tsx
  front/src/elec-audit-admin/index.tsx
  web/elec/api/admin/audit/charge_points/applications.py
  web/elec/api/admin/audit/meter_readings/applications.py
  web/elec/api/admin/audit/snapshot.py
  web/elec/models/elec_charge_point_application.py
Due: check-backend, check-frontend

fix notification migration
  web/core/migrations/0031_alter_carburenotification_type.py
Due: check-backend

[front] remove decimals to provision certificat energy amount (mWh)
  front/src/common/utils/formatters.ts
  front/src/elec-admin/components/provision-certificates/table.tsx
Due: check-frontend

[front] fix negative decimal display in formatNumber
  front/src/common/utils/formatters.ts
Due: check-frontend

[front] refix tooltip
  front/src/common/components/tooltip.module.css
  front/src/common/components/tooltip.tsx
Due: check-frontend

[api] archive charge points when a new version is registered
  web/elec/api/cpo/charge_points/add_application.py
  web/elec/api/cpo/charge_points/check_application.py
  web/elec/api/cpo/charge_points/tests_charge_points.py
  web/elec/migrations/0029_elecchargepoint_previous_version.py
  web/elec/models/elec_charge_point.py
  web/elec/repositories/charge_point_repository.py
Due: check-backend

Path conditions:
  build-ci-image: any of: ci/Dockerfile, Pipfile, Pipfile.lock, front/package.json, front/package-lock.json
  check-backend: any of: web/**/*
  check-frontend: any of: front/**/*
