Repository MTES-MCT/carbure: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-ci-image, check-backend, check-frontend

.gitlab-ci.yml:

stages:
  - prepare
  - check
  - deploy

variables:
  MYSQL_DATABASE: carbure_mysql_test_db
  MYSQL_ROOT_PASSWORD: carbure_mysql_ci_db_password

# use prebuild CI image when running checks
.checks:
  image: $CI_REGISTRY/$CI_PROJECT_PATH/ci-image:latest
  before_script:
    - mv /app/front/node_modules ./front

# prepare git env to push new code to scalingo
.scalingo:
  image: alpine:latest
  before_script:
    - mkdir ~/.ssh
    - apk add --update git openssh-client
    - eval $(ssh-agent -s)
    - echo "$SCALINGO_SSH_PRIVATE_KEY" | tr -d '\r' | ssh-add -
    - ssh-keyscan $SCALINGO_SSH_HOST >> ~/.ssh/known_hosts
    - chmod 644 ~/.ssh/known_hosts
    - git config user.name $GIT_USER_NAME
    - git config user.email $GIT_USER_EMAIL
    - git remote add scalingo-dev $SCALINGO_GIT_REMOTE_DEV || true
    - git remote add scalingo-staging $SCALINGO_GIT_REMOTE_STAGING || true
    - git remote add scalingo-prod $SCALINGO_GIT_REMOTE_PROD || true
    - git fetch origin $CI_COMMIT_BRANCH --unshallow
    - git checkout $CI_COMMIT_BRANCH

build-ci-image:
  stage: prepare
  image: docker:stable
  services:
    - docker:dind
  script:
    - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
    - docker build -f ci/Dockerfile -t $CI_REGISTRY/$CI_PROJECT_PATH/ci-image:latest .
    - docker push $CI_REGISTRY/$CI_PROJECT_PATH/ci-image:latest
  only:
    changes:
      - ci/Dockerfile
      - Pipfile
      - Pipfile.lock
      - front/package.json
      - front/package-lock.json

check-backend:
  stage: check
  extends: .checks
  services:
    - mysql:8.0
    - redis:latest
  script:
    - export CARBURE_HOME=$(pwd)
    - export DATABASE_URL=mysql://root:$MYSQL_ROOT_PASSWORD@mysql:3306/$MYSQL_DATABASE
    - export REDIS_URL=redis://redis:6379
    - mypy web || true
    - TEST=1 python3 web/manage.py test web
  only:
    refs:
      - dev
      - master
    changes:
      - web/**/*

check-frontend:
  stage: check
  extends: .checks
  script:
    - cd front
    - npx eslint --ext .ts,.tsx src/
    - npm test
  only:
    refs:
      - dev
      - master
    changes:
      - front/**/*

deploy-dev:
  stage: deploy
  extends: .scalingo
  only:
    - dev
  script:
    - git push scalingo-dev $CI_COMMIT_BRANCH:master -f

deploy-staging:
  stage: deploy
  extends: .scalingo
  only:
    - master
  script:
    - git push scalingo-staging master -f

deploy-prod:
  stage: deploy
  extends: .scalingo
  when: manual
  only:
    - master
  script:
    - git push scalingo-prod master -f

[front] block operation if there are errors in update many
  front/src/controls/actions/update-many-confirmation.tsx
Due: check-frontend

[api] fix flushed lots with parent lots
  scripts/patches/2023-02-02_fix_flushed_lot_parents.py
  web/api/v4/views.py
Due: check-backend

[api] add arguments to accent patch script
  scripts/patches/2022-10-13_fix_entity_name_accent_mismatch.py
Due: none

[patch] update the declared deleted lots patch
  scripts/patches/2022-10-27_fix_declared_deleted_lots.py
  scripts/patches/2023-02-02_fix_declared_deleted_lots.py
Due: none

[scripts] add scripts to run the sanity and integrity checks manually
  .gitignore
  web/carbure/scripts/check_integrity.py
  web/carbure/scripts/sanity_checks.py
Due: check-backend

[api] add django-silk to debug slow backend
  Pipfile
  Pipfile.lock
  docker-compose.yml
  gateway/nginx.conf
  web/carbure/settings.py
  web/carbure/urls.py
  web/core/models.py
Due: build-ci-image, check-backend

[api] fix sanity checks
  web/api/v4/helpers.py
  web/api/v4/sanity_checks.py
Due: check-backend

[api] cleanup
  .gitignore
  web/core/common.py
Due: check-backend

[api] add recursive query helper for traceability
  web/core/tests_traceability.py
  web/core/traceability_query.py
  web/core/traceability_tree.py
Due: check-backend

[api] refactor update_many to work with the new traceability query
  web/api/v5/admin/lots/update_many.py
Due: check-backend

[api] better traceability data propagation
  web/core/tests_traceability.py
  web/core/traceability_tree.py
Due: check-backend

[api] allow propagating changes only in traceability tree
  web/api/v5/admin/lots/update_many.py
  web/core/tests_traceability.py
  web/core/traceability_tree.py
Due: check-backend

[api] split traceability logic in many files
  .gitignore
  web/api/v5/admin/lots/update_many.py
  web/core/tests_traceability.py
  web/core/traceability/__init__.py
  web/core/traceability/get_family_trees.py
  web/core/traceability/get_family_trees.sql
  web/core/traceability/lot.py
  web/core/traceability/node.py
  web/core/traceability/stock.py
  web/core/traceability/stock_transform.py
  web/core/traceability/ticket.py
  web/core/traceability/ticket_source.py
  web/core/traceability_tree.py
Due: check-backend

[front] enable the update many endpoint when calling it from the button
  front/src/controls/actions/update-many-confirmation.tsx
Due: check-frontend

[api] actually save update many changes to the database
  web/api/v5/admin/lots/update_many.py
  web/core/common.py
  web/core/traceability/__init__.py
  web/core/traceability/bulk_update_traceability_nodes.py
  web/core/traceability/get_family_trees.sql
  web/core/traceability/get_traceability_nodes.py
Due: check-backend

[api] fix bugs when saving events/comments in update many
  web/api/v5/admin/lots/update_many.py
Due: check-backend

[api] cleanup
  web/core/traceability/get_traceability_nodes.py
Due: check-backend

[api] fix bug in validate declaration
  web/api/v5/declarations/validate.py
Due: check-backend

[api] fix tests
  web/api/v3/admin/tests.py
Due: check-backend

[api] fix bugs
  web/core/traceability/get_traceability_nodes.py
Due: check-backend

[front] start tooltip
  front/src/common/components/table.tsx
  front/src/common/components/tooltip.tsx
Due: check-frontend
