Repository MTES-MCT/carbure: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-ci-image, check-backend, check-frontend

.gitlab-ci.yml:

stages:
  - prepare
  - check
  - deploy

variables:
  MYSQL_DATABASE: carbure_mysql_test_db
  MYSQL_ROOT_PASSWORD: carbure_mysql_ci_db_password

# use prebuild CI image when running checks
.checks:
  image: $CI_REGISTRY/$CI_PROJECT_PATH/ci-image:latest
  before_script:
    - mv /app/front/node_modules ./front

# prepare git env to push new code to scalingo
.scalingo:
  image: alpine:latest
  before_script:
    - mkdir ~/.ssh
    - apk add --update git openssh-client
    - eval $(ssh-agent -s)
    - echo "$SCALINGO_SSH_PRIVATE_KEY" | tr -d '\r' | ssh-add -
    - ssh-keyscan $SCALINGO_SSH_HOST >> ~/.ssh/known_hosts
    - chmod 644 ~/.ssh/known_hosts
    - git config user.name $GIT_USER_NAME
    - git config user.email $GIT_USER_EMAIL
    - git remote add scalingo-dev $SCALINGO_GIT_REMOTE_DEV || true
    - git remote add scalingo-staging $SCALINGO_GIT_REMOTE_STAGING || true
    - git remote add scalingo-prod $SCALINGO_GIT_REMOTE_PROD || true
    - git fetch origin $CI_COMMIT_BRANCH --unshallow
    - git checkout $CI_COMMIT_BRANCH

build-ci-image:
  stage: prepare
  image: docker:stable
  services:
    - docker:dind
  script:
    - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
    - docker build -f ci/Dockerfile -t $CI_REGISTRY/$CI_PROJECT_PATH/ci-image:latest .
    - docker push $CI_REGISTRY/$CI_PROJECT_PATH/ci-image:latest
  only:
    changes:
      - ci/Dockerfile
      - Pipfile
      - Pipfile.lock
      - front/package.json
      - front/package-lock.json

check-backend:
  stage: check
  extends: .checks
  services:
    - mysql:8.0
    - redis:latest
  script:
    - export CARBURE_HOME=$(pwd)
    - export DATABASE_URL=mysql://root:$MYSQL_ROOT_PASSWORD@mysql:3306/$MYSQL_DATABASE
    - export REDIS_URL=redis://redis:6379
    - mypy web || true
    - TEST=1 python3 web/manage.py test web
  only:
    refs:
      - dev
      - master
    changes:
      - web/**/*

check-frontend:
  stage: check
  extends: .checks
  script:
    - cd front
    - npx eslint --ext .ts,.tsx src/
    - npm test
  only:
    refs:
      - dev
      - master
    changes:
      - front/**/*

deploy-dev:
  stage: deploy
  extends: .scalingo
  only:
    - dev
  script:
    - git push scalingo-dev $CI_COMMIT_BRANCH:master -f

deploy-staging:
  stage: deploy
  extends: .scalingo
  only:
    - master
  script:
    - git push scalingo-staging master -f

deploy-prod:
  stage: deploy
  extends: .scalingo
  when: manual
  only:
    - master
  script:
    - git push scalingo-prod master -f

[front] fix test applications list
  front/src/settings/__test__/charging-points.spec.tsx
Due: check-frontend

[api] also replace REJECT charge point applications when adding a new one
  web/elec/api/cpo/charge_points/add_application.py
  web/elec/api/cpo/charge_points/check_application.py
Due: check-backend

[api] fix separator when importing provision certificate file
  web/admin/api/elec/import_provision_certificates.py
Due: check-backend

[api+front] remove old endpoints v3
  front/src/double-counting-admin/api.ts
  front/src/double-counting/api.ts
  web/carbure/api/__init__.py
  web/doublecount/api/urls.py
  web/doublecount/api/views.py
Due: check-backend, check-frontend

[api] use mwh as unit for all elec certificates
  web/admin/api/elec/import_provision_certificates.py
  web/elec/api/cpo/create_transfer_certificate.py
  web/elec/migrations/0008_alter_elecprovisioncertificate_energy_amount_and_more.py
  web/elec/migrations/0009_alter_electransfercertificate_energy_amount.py
  web/elec/models/elec_provision_certificate.py
  web/elec/models/elec_transfer_certificate.py
  web/fixtures/csv/test_data/provision_certificate.csv
Due: check-backend

[front] adapt frontend to display mwh unit down to kwh decimals
  front/src/common/utils/formatters.ts
  front/src/elec-admin/components/provision-certificates/details.tsx
  front/src/elec-admin/components/provision-certificates/table.tsx
  front/src/elec/components/provision-certificates/details.tsx
  front/src/elec/components/provision-certificates/table.tsx
  front/src/elec/components/provision-certificates/transfer-dialog.tsx
  front/src/elec/components/provision-certificates/transfer-summary.tsx
  front/src/elec/components/transfer-certificates/list-operator.tsx
  front/src/elec/cpo.tsx
Due: check-frontend

[api] fix conflicting migrations
  front/src/elec/components/provision-certificates/transfer-dialog.tsx
  web/elec/migrations/0013_alter_electransfercertificate_energy_amount.py
  web/elec/migrations/0014_merge_20231212_1633.py
Due: check-backend, check-frontend

[api] fix traceability on stock transform nodes
  web/core/traceability/stock_transform.py
Due: check-backend

[api] cleanup
  web/fixtures/csv/test_data/~$dc_agreement_application_errors_production.xlsx
Due: check-backend

[front] pb synchro for companyInfo form when entity change
  front/src/common/components/form.tsx
  front/src/settings/components/company-info.tsx
Due: check-frontend

[front] rename volume to quantité
  front/src/elec-admin/components/provision-certificates/Import.tsx
  front/src/elec/components/provision-certificates/list.tsx
  front/src/elec/components/provision-certificates/transfer-dialog.tsx
  front/src/elec/components/provision-certificates/transfer-summary.tsx
  front/src/elec/components/transfer-certificates/cancel.tsx
Due: check-frontend

[front] qualicharge translations
  front/public/locales/en/translation.json
  front/public/locales/fr/translation.json
  front/src/elec/components/provision-certificates/transfer-dialog.tsx
Due: check-frontend

[front] change useEffect on id to key
  front/src/companies/routes/entity-details.tsx
  front/src/settings/components/company-info.tsx
  front/src/settings/index.tsx
Due: check-frontend

[front] fix wording mistake
  front/public/locales/en/translation.json
  front/public/locales/fr/translation.json
  front/src/elec/components/charging-points/upload-dialog.tsx
  front/src/elec/components/charging-points/valid-dialog.tsx
Due: check-frontend

[front] dc - fix BES compatibilities
  web/doublecount/parser/excel_to_carbure_convertor.py
  web/transactions/sanity_checks/biofuel_feedstock.py
Due: check-backend

[front] qualiv3 - update list actions on applications
  front/src/companies/routes/entity-details.tsx
  front/src/elec-admin/components/charging-points/accept-dialog.tsx
  front/src/elec-admin/components/charging-points/reject-dialog.tsx
  front/src/elec/components/charging-points/settings.tsx
  front/src/settings/__test__/charging-points.spec.tsx
  front/src/settings/index.tsx
Due: check-frontend

[front] meter-read - list
  front/src/elec-admin/api.ts
  front/src/elec/__test__/data.ts
  front/src/elec/api-cpo.ts
  front/src/elec/components/charging-points/settings.tsx
  front/src/elec/components/meter-readings/application-status.tsx
  front/src/elec/components/meter-readings/settings.tsx
  front/src/elec/types.ts
  front/src/settings/index.tsx
Due: check-frontend

[front] qualiv3 - upload dialog and download template
  front/src/elec/api-cpo.ts
  front/src/elec/components/charging-points/settings.tsx
  front/src/elec/components/charging-points/valid-dialog.tsx
  front/src/elec/components/meter-readings/settings.tsx
  front/src/elec/components/meter-readings/upload-dialog.tsx
  front/src/elec/components/transfer-certificates/details.tsx
  front/src/elec/types.ts
  front/src/settings/api/elec.ts
Due: check-frontend

[front] fix transfert certificate detaili nfos
  front/src/elec/components/transfer-certificates/details.tsx
Due: check-frontend
