Repository MTES-MCT/carbure: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-ci-image, check-backend, check-frontend

build-ci-image:
  stage: prepare
  image: docker:stable
  services:
  - docker:dind
  script:
  - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
  - docker build -f ci/Dockerfile -t $CI_REGISTRY/$CI_PROJECT_PATH/ci-image:latest .
  - docker push $CI_REGISTRY/$CI_PROJECT_PATH/ci-image:latest

check-backend:
  image: $CI_REGISTRY/$CI_PROJECT_PATH/ci-image:latest
  before_script:
  - mv /app/front/node_modules ./front
  stage: check
  services:
  - mysql:8.0
  - redis:latest
  script:
  - export CARBURE_HOME=$(pwd)
  - export DATABASE_URL=mysql://root:$MYSQL_ROOT_PASSWORD@mysql:3306/$MYSQL_DATABASE
  ...

check-frontend:
  image: $CI_REGISTRY/$CI_PROJECT_PATH/ci-image:latest
  before_script:
  - mv /app/front/node_modules ./front
  stage: check
  script:
  - cd front
  - npx eslint --ext .ts,.tsx src/
  - npm test

[back] add BC ETHANOL_LIE_VIN + MP Bio-essence de synthèse
  web/fixtures/csv/biocarburants.csv
  web/fixtures/csv/matierespremieres.csv
Due: check-backend

[api + front] display application for producer
  front/src/carbure/index.tsx
  front/src/double-count/api.ts
  front/src/double-count/components/agreement-details-dialog.tsx
  front/src/double-count/components/application-details-dialog.tsx
  front/src/double-count/components/upload-dialog.tsx
  front/src/double-counting-admin/__test__/data.ts
  front/src/double-counting-admin/api.ts
  front/src/double-counting-admin/components/agreements/agreement-details-dialog.tsx
  front/src/double-counting-admin/components/agreements/agreement-list.tsx
  front/src/double-counting-admin/components/agreements/agreement-status.tsx
  front/src/double-counting-admin/components/applications/application-details-dialog.tsx
  front/src/double-counting-admin/components/applications/application-download-button.tsx
  front/src/double-counting-admin/components/applications/application-info.tsx
  front/src/double-counting-admin/components/applications/application-list.tsx
  front/src/double-counting-admin/components/applications/application-status.tsx
  front/src/double-counting-admin/components/applications/application-tabs.tsx
  front/src/double-counting-admin/components/files-checker/errors-details-dialog.tsx
  front/src/double-counting-admin/components/files-checker/file-application-info.tsx
  front/src/double-counting-admin/components/files-checker/files-checker-dialog.tsx
  front/src/double-counting-admin/components/files-checker/index.tsx
  front/src/double-counting-admin/components/files-checker/upload-button.tsx
  front/src/double-counting-admin/components/files-checker/valid-details-dialog.tsx
  front/src/double-counting-admin/components/production-table.tsx
  front/src/double-counting-admin/components/quotas-table.tsx
  front/src/double-counting-admin/components/sourcing-table.tsx
  front/src/double-counting-admin/components/year-table.tsx
  front/src/double-counting-admin/index.tsx
  front/src/double-counting-admin/types.ts
  front/src/settings/components/double-counting-dialog.tsx
  front/src/settings/components/double-counting-production-dialog.tsx
  front/src/settings/components/double-counting-quotas-dialog.tsx
  front/src/settings/components/double-counting-sourcing-dialog.tsx
  front/src/settings/components/double-counting.tsx
  front/src/settings/index.tsx
  front/src/settings/utils/double-counting.ts
  web/doublecount/api/agreements/__init__.py
  web/doublecount/api/applications/__init__.py
  web/doublecount/api/applications/check_file.py
Due: check-backend, check-frontend

[api + front] rename agreement_id to certificate_id
  front/src/double-counting-admin/api.ts
  front/src/double-counting-admin/components/applications/application-list.tsx
  front/src/double-counting-admin/components/files-checker/valid-details-dialog.tsx
  front/src/double-counting-admin/types.ts
  front/src/settings/components/double-counting.tsx
  web/admin/api/double_counting/agreements/agreements.py
  web/admin/api/double_counting/agreements/tests_agreements.py
  web/admin/api/double_counting/applications/add.py
  web/admin/api/double_counting/applications/approve_application.py
  web/admin/api/double_counting/applications/tests_applications.py
  web/doublecount/admin.py
  web/doublecount/api/agreements/agreements.py
  web/doublecount/api/agreements/tests_agreement.py
  web/doublecount/api/applications/tests_applications.py
  web/doublecount/factories/application.py
  web/doublecount/factories/doc_file.py
  web/doublecount/helpers.py
  web/doublecount/migrations/0014_rename_agreement_id_doublecountingapplication_certificate_id_and_more.py
  web/doublecount/models.py
  web/doublecount/serializers.py
Due: check-backend, check-frontend

[front+api] dc - producer - display agreement from application
  front/src/double-count/components/application-details-dialog.tsx
  front/src/double-count/components/upload-dialog.tsx
  front/src/double-counting-admin/types.ts
  front/src/settings/components/double-counting.tsx
  web/doublecount/api/agreements/agreements.py
  web/doublecount/api/agreements/tests_agreements.py
Due: check-backend, check-frontend

[front+api] dc remove api v3 but decision
  front/src/settings/__test__/api.ts
  front/src/settings/__test__/double-counting.disabled.tsx
  front/src/settings/components/double-counting-dialog.tsx
  front/src/settings/components/double-counting-production-dialog.tsx
  front/src/settings/components/double-counting-quotas-dialog.tsx
  front/src/settings/components/double-counting-sourcing-dialog.tsx
  front/src/settings/components/double-counting.tsx
  web/doublecount/api/tests.py
  web/doublecount/api/urls.py
  web/doublecount/api/views.py
Due: check-backend, check-frontend

[front+api] fix MP et BC names
  front/public/locales/en/biofuels.json
  front/public/locales/en/feedstocks.json
  front/public/locales/fr/biofuels.json
  front/public/locales/fr/feedstocks.json
  web/doublecount/parser/excel_to_carbure_convertor.py
  web/fixtures/csv/biocarburants.csv
  web/fixtures/csv/matierespremieres.csv
Due: check-backend, check-frontend

[api] remove useless test file
  web/fixtures/csv/test_data/points-de-recharge-inscription.xlsx
Due: check-backend

[front] dc application - add expired and expiresSoon status
  front/src/double-counting-admin/components/applications/application-list.tsx
  front/src/double-counting-admin/components/applications/application-status.tsx
  front/src/double-counting-admin/types.ts
  front/src/settings/components/double-counting.tsx
  web/certificates/models.py
Due: check-backend, check-frontend

[front]dc - clean file sorting
  front/src/double-counting-admin/api.ts
  front/src/double-counting-admin/components/agreements/agreement-details-dialog.tsx
  front/src/double-counting-admin/components/agreements/agreement-list.tsx
  front/src/double-counting-admin/components/agreements/agreement-status.tsx
  front/src/double-counting-admin/components/applications/application-details-dialog.tsx
  front/src/double-counting-admin/components/applications/application-download-button.tsx
  front/src/double-counting-admin/components/applications/application-info.tsx
  front/src/double-counting-admin/components/applications/application-list.tsx
  front/src/double-counting-admin/components/applications/application-tabs.tsx
  front/src/double-counting-admin/components/files-checker/errors-details-dialog.tsx
  front/src/double-counting-admin/components/files-checker/file-application-info.tsx
  front/src/double-counting-admin/components/files-checker/files-checker-dialog.tsx
  front/src/double-counting-admin/components/files-checker/index.tsx
  front/src/double-counting-admin/components/files-checker/valid-details-dialog.tsx
  front/src/double-counting-admin/index.tsx
  front/src/double-counting/api.ts
  front/src/double-counting/components/agreement-details-dialog.tsx
  front/src/double-counting/components/application-details-dialog.tsx
  front/src/double-counting/components/application-status.tsx
  front/src/double-counting/components/production-table.tsx
  front/src/double-counting/components/quotas-table.tsx
  front/src/double-counting/components/sourcing-table.tsx
  front/src/double-counting/components/upload-dialog.tsx
  front/src/double-counting/components/year-table.tsx
  front/src/double-counting/types.ts
  front/src/settings/components/double-counting.tsx
  front/src/settings/index.tsx
  front/src/settings/utils/double-counting.ts
Due: check-frontend

[api] fix ALCOOL_PUR_LIES_VIN wording
  web/fixtures/csv/matierespremieres.csv
Due: check-backend

[front] show scoring to users
  front/public/locales/en/translation.json
  front/public/locales/fr/translation.json
  front/src/flags.json
  front/src/transaction-details/components/lots/index.tsx
  front/src/transaction-details/components/score.tsx
  front/src/transactions/components/lots/lot-table.tsx
Due: check-frontend

[front] add score filter to lot tables
  front/src/transactions/components/lots/index.tsx
Due: check-frontend

[api] rename some field on charge point model
  web/elec/migrations/0009_rename_has_article_4_regularization_elecchargepoint_is_article_2_and_more.py
  web/elec/models/elec_charge_point.py
  web/elec/serializers/elec_charge_point.py
Due: check-backend

[api] adapt code to new charge point fields
  web/admin/api/elec/charge_points/tests_charge_points.py
  web/elec/admin.py
  web/elec/api/cpo/charge_points/tests_charge_points.py
  web/elec/services/export_charge_point_excel.py
  web/elec/services/get_annotated_applications.py
  web/fixtures/csv/test_data/points-de-recharge-errors.xlsx
Due: check-backend

[api] add validation rules to charge point excel import
  web/elec/services/import_charge_point_excel.py
Due: check-backend

[front] quickly adapt front to new charge point types and errors
  front/src/elec/__test__/data.ts
  front/src/elec/components/charging-points/errors-dialog.tsx
  front/src/elec/types.ts
Due: check-frontend

[front] add traduction ETHANOL_LIES_VIN
  front/public/locales/en/feedstocks.json
  front/public/locales/fr/feedstocks.json
Due: check-frontend

[back] MTBE compatible Lies de vin
  web/transactions/sanity_checks/biofuel_feedstock.py
Due: check-backend

[api] try to optimize transport.data.gouv csv processing
  web/elec/services/import_charge_point_excel.py
Due: check-backend

[api] return number of elec charge point applications
  web/admin/api/entities/entities.py
Due: check-backend

Path conditions:
  build-ci-image: any of: ci/Dockerfile, Pipfile, Pipfile.lock, front/package.json, front/package-lock.json
  check-backend: any of: web/**/*
  check-frontend: any of: front/**/*
