Repository MTES-MCT/carbure: changes, and which GitLab CI jobs are due for each by the changed paths.
All: check-backend, check-frontend

.gitlab-ci.yml:

stages:
  - check
  - deploy

workflow:
  rules:
  # 1. Don't run pipelines for MR drafts.
  # 2. Don't run branch pipelines when there's an open MR for the branch (run the MR pipeline instead).
  # 3. Run all other MR pipelines
  # 4. Run branch pipelines for dev and master
  # 5. Else, don't run it
    - if: $CI_PIPELINE_SOURCE == "merge_request_event" && $CI_MERGE_REQUEST_TITLE =~ /^Draft:/ # 1
      when: never
    - if: $CI_COMMIT_BRANCH && $CI_OPEN_MERGE_REQUESTS # 2
      when: never
    - if: $CI_PIPELINE_SOURCE == 'merge_request_event' # 3
      when: always
    - if: $CI_COMMIT_BRANCH == "dev" || $CI_COMMIT_BRANCH == "master" # 4
      when: always
    - when: never # 5

variables:
  MYSQL_DATABASE: carbure_mysql_test_db
  MYSQL_ROOT_PASSWORD: carbure_mysql_ci_db_password
  PIP_CACHE_DIR: "$CI_PROJECT_DIR/.cache/pip"
  PIPENV_VENV_IN_PROJECT: true

check-backend:
  stage: check
  extends: .backend
  services:
    - mysql:8.0
    - redis:latest
  script:
    - export CARBURE_HOME=$(pwd)
    - export DATABASE_URL=mysql://root:$MYSQL_ROOT_PASSWORD@mysql:3306/$MYSQL_DATABASE
    - export REDIS_URL=redis://redis:6379
    - pipenv run ruff check
    - pipenv run ruff format --check
    - TEST=1 pipenv run python web/manage.py test web

check-frontend:
  stage: check
  extends: .frontend
  script:
    - npm run lint

deploy-dev:
  stage: deploy
  extends: .scalingo
  only:
    - dev
  script:
    - git push scalingo-dev $CI_COMMIT_BRANCH:master -f

deploy-staging:
  stage: deploy
  extends: .scalingo
  only:
    - master
  script:
    - git push scalingo-staging master -f

deploy-prod:
  stage: deploy
  extends: .scalingo
  when: manual
  only:
    - master
  script:
    - git push scalingo-prod master -f

# --------------------------------------------------------------------------- #

# prepare backend env
.backend:
  image: python:3.12
  cache:
    - key:
        files:
          - Pipfile.lock
      paths:
        - .cache/pip/
        - .venv/
  before_script:
    - pip install pipenv
    - pipenv install --dev --deploy --ignore-pipfile
  rules:
    - changes:
      - web/**/*
      - .gitlab-ci.yml

# prepare frontend env
.frontend:
  image: node:latest
  cache:
    - key:
        files:
          - front/package-lock.json
      paths:
        - front/.npm/
  before_script:
    - cd front
    - npm ci --cache .npm --prefer-offline
  rules:
    - changes:
      - front/**/*
      - .gitlab-ci.yml

# prepare git env to push new code to scalingo
.scalingo:
  image: alpine:latest
  before_script:
    - mkdir ~/.ssh
    - apk add --update git openssh-client
    - eval $(ssh-agent -s)
    - echo "$SCALINGO_SSH_PRIVATE_KEY" | tr -d '\r' | ssh-add -
    - ssh-keyscan $SCALINGO_SSH_HOST $SCALINGO_SSH_HOST_SECNUMCLOUD >> ~/.ssh/known_hosts
    - chmod 644 ~/.ssh/known_hosts
    - git config user.name $GIT_USER_NAME
    - git config user.email $GIT_USER_EMAIL
    - git remote add scalingo-dev $SCALINGO_GIT_REMOTE_DEV || true
    - git remote add scalingo-staging $SCALINGO_GIT_REMOTE_STAGING || true
    - git remote add scalingo-prod $SCALINGO_GIT_REMOTE_PROD || true
    - git fetch origin $CI_COMMIT_BRANCH --unshallow
    - git checkout $CI_COMMIT_BRANCH

feat: continue change endpoints saf
  front/src/common/services/api-fetch.types.ts
  front/src/saf/pages/airline/api.ts
  front/src/saf/pages/airline/index.tsx
  front/src/saf/types.ts
Due: check-frontend

feat: download saf endpoint works
  api-schema.yaml
  front/package.json
  front/src/api-schema.d.ts
  front/src/common/services/api-fetch.ts
  front/src/common/services/api-fetch.types.ts
  front/src/saf/pages/airline/api.ts
  front/src/saf/pages/airline/index.tsx
  front/src/saf/pages/airline/types.ts
  front/src/saf/types.ts
Due: check-frontend

feat: fix tsc error
  front/.eslintrc.json
  front/package.json
  front/src/common/components/input.tsx
  front/src/common/components/table.tsx
  front/src/common/components/tabs.tsx
  front/src/common/hooks/store.ts
  front/src/common/hooks/years.tsx
  front/src/common/services/api-fetch.ts
  front/src/common/utils/formatters.ts
  front/src/control-details/components/lot.tsx
  front/src/controls/actions/update-many-errors.tsx
  front/src/double-counting-admin/components/applications/application-details-dialog.tsx
  front/src/double-counting/components/year-table.tsx
  front/src/elec-admin/pages/provision-certificates/index.tsx
  front/src/elec-audit-admin/components/sample/application-generation.tsx
  front/src/elec-auditor/components/details-pending.tsx
  front/src/saf/components/assignment/grouped-assignment.tsx
  front/src/saf/pages/airline/api.ts
  front/src/settings/__test__/server.ts
  front/src/transaction-details/components/lots/history.tsx
  front/src/transaction-details/components/lots/index.tsx
  front/src/transactions/__test__/helpers.ts
  front/src/transactions/actions/duplicate.tsx
  front/src/transactions/components/lots/lot-table.tsx
  front/tsconfig.json
Due: check-frontend

[back] add ticket source
  web/saf/views/ticket_source/mixins/grouped_assign.py
Due: check-backend

[back] credit source in saf
  web/saf/views/ticket_source/mixins/__init__.py
  web/saf/views/ticket_source/mixins/credit.py
Due: check-backend

[back] add suppliers and fix swagger
  web/saf/filters/ticket.py
  web/saf/views/extra/snapshot.py
  web/saf/views/ticket/mixins/filter.py
  web/saf/views/ticket_source/mixins/filter.py
Due: check-backend

fix: fix safTicketStatus enum
  front/src/saf/components/tickets/tag.tsx
  front/src/saf/pages/airline/api.ts
  front/src/saf/pages/airline/index.tsx
  front/src/saf/pages/airline/tabs.tsx
  front/src/saf/pages/airline/ticket-details.tsx
  front/src/saf/pages/operator/__test__/data.ts
  front/src/saf/pages/operator/tabs.tsx
  front/src/saf/pages/operator/ticket-details/index.tsx
  front/src/saf/pages/operator/tickets/status-switcher.tsx
  front/src/saf/types.ts
Due: check-frontend

feat: continue refactoring endpoints saf
  front/package.json
  front/src/common/hooks/query-builder-2.ts
  front/src/saf/pages/airline/api.ts
  front/src/saf/pages/airline/index.tsx
  front/src/saf/pages/airline/tickets.tsx
  front/src/saf/types.ts
Due: check-frontend

feat: type generic useYears works
  front/src/common/services/api-fetch.types.ts
  front/src/saf/hooks/years.tsx
Due: check-frontend

feat: migrate saf operator ticket sources
  api-schema.yaml
  front/src/api-schema.ts
  front/src/common/hooks/years-2.ts
  front/src/saf/pages/airline/api.ts
  front/src/saf/pages/airline/index.tsx
  front/src/saf/pages/airline/tabs.tsx
  front/src/saf/pages/airline/tickets.tsx
  front/src/saf/pages/airline/types.ts
  front/src/saf/pages/operator/__test__/data.ts
  front/src/saf/pages/operator/api.ts
  front/src/saf/pages/operator/index.tsx
  front/src/saf/pages/operator/tabs.tsx
  front/src/saf/pages/operator/ticket-source-details/export.tsx
  front/src/saf/pages/operator/ticket-sources/index.tsx
  front/src/saf/types.ts
  web/saf/views/ticket_source/mixins/filter.py
Due: check-backend, check-frontend

[back] add entity id for assign
  web/saf/views/ticket_source/mixins/assign.py
Due: check-backend

[back] fix swagger
  web/saf/views/extra/snapshot.py
Due: check-backend

[back] agreement_reference and agreement_date no required
  web/saf/serializers/saf_assign_ticket_source.py
Due: check-backend

feat: update schema with enums
  api-schema.yaml
  front/package.json
  front/src/api-schema.d.ts
  front/src/saf/components/tickets/table.tsx
  front/src/saf/pages/airline/api.ts
  front/src/saf/pages/airline/tickets.tsx
  front/src/saf/types.ts
Due: check-frontend

[back] add EFCA Depot
  web/core/models.py
Due: check-backend

feat: continue refactoring saf
  front/src/common/services/api-fetch.ts
  front/src/common/services/api-fetch.types.ts
  front/src/saf/pages/airline/api.ts
  front/src/saf/pages/airline/tickets.tsx
  front/src/saf/types.ts
Due: check-frontend

[back] fix assigned_tickets schema
  web/saf/serializers/saf_ticket.py
  web/saf/serializers/saf_ticket_source.py
Due: check-backend

[back] fix serializer
  web/saf/views/ticket_source/mixins/assign.py
  web/saf/views/ticket_source/mixins/grouped_assign.py
Due: check-backend

feat: fix the generic type for useYears saf
  api-schema.yaml
  front/src/api-schema.d.ts
  front/src/common/services/api-axios.ts
  front/src/common/services/api-fetch.ts
  front/src/common/services/api-fetch.types.ts
  front/src/saf/hooks/years.tsx
  front/src/saf/pages/airline/api.ts
  front/src/saf/pages/airline/index.tsx
Due: check-frontend

refactor: fix ticket source details
  front/src/carbure/types.ts
  front/src/saf/pages/operator/api.ts
  front/src/saf/pages/operator/ticket-source-details/fields.tsx
  front/src/saf/pages/operator/ticket-source-details/index.tsx
  front/src/saf/pages/operator/ticket-source-details/parent-lot/durability-fields.tsx
  front/src/saf/pages/operator/types.ts
  front/src/saf/types.ts
Due: check-frontend

[back] fix pagination
  web/carbure/settings.py
  web/core/utils.py
Due: check-backend

refacto: add page in search params
  front/src/common/components/pagination.tsx
  front/src/common/hooks/query-builder-2.ts
  front/src/saf/components/tickets/table.tsx
Due: check-frontend

rebase conflicts
  .pre-commit-config.yaml
  Pipfile.lock
  front/.eslintrc.json
  front/src/common/components/tabs.tsx
  front/src/saf/pages/airline/tickets.tsx
Due: check-frontend

refactor: continue refactoring
  front/src/carbure/__test__/data.ts
  front/src/carbure/types.ts
  front/src/controls/components/lots/control-lot-summary.tsx
  front/src/lot-add/components/ghg-fields.tsx
  front/src/lot-add/components/lot-fields.tsx
  front/src/registry/components/depots.tsx
  front/src/registry/components/feedstocks.tsx
  front/src/saf/components/assignment/grouped-assignment.tsx
  front/src/saf/pages/operator/__test__/data.ts
  front/src/saf/pages/operator/api.ts
  front/src/settings/components/delivery-site/create-delivery-site-form.tsx
  front/src/settings/components/delivery-site/delivery-site.hooks.tsx
Due: check-frontend

refactor: refacto last types
  api-schema.yaml
  front/src/api-schema.ts
  front/src/saf/components/assignment/grouped-assignment.tsx
  front/src/saf/pages/operator/api.ts
  front/src/settings/components/delivery-site/create-delivery-site-form.tsx
  front/src/settings/components/delivery-site/delivery-site.hooks.tsx
  front/src/settings/components/delivery-site/delivery-site.tsx
  front/src/transaction-details/components/lots/lot-traceability.tsx
  front/src/transaction-details/components/stocks/stock-traceability.tsx
  front/src/transactions/components/lots/lot-summary.tsx
  front/src/transactions/components/lots/lot-table.tsx
  front/src/transactions/components/stocks/stock-summary.tsx
  front/src/transactions/components/stocks/stock-table.tsx
Due: check-frontend

refactor: fix pagination
  front/src/common/components/pagination.tsx
  front/src/common/components/tabs.tsx
  front/src/common/hooks/query-builder-2.ts
  front/src/common/services/api-fetch.ts
  front/src/saf/components/assignment/grouped-assignment.tsx
  front/src/saf/components/tickets/table.tsx
  front/src/saf/pages/airline/tickets.tsx
  front/src/saf/pages/operator/api.ts
  front/src/saf/types.ts
Due: check-frontend

build: update commands package.json
  front/package.json
Due: check-frontend

fix: fix pagination component
  front/src/common/components/pagination.tsx
  front/src/common/hooks/query-builder-2.ts
  front/src/saf/pages/operator/ticket-sources/index.tsx
Due: check-frontend

refactor: get entity type from backend
  front/src/api-schema.d.ts
  front/src/carbure/__test__/api.ts
  front/src/carbure/__test__/data.ts
  front/src/carbure/hooks/entity.ts
  front/src/carbure/types.ts
  front/src/index.tsx
  front/tsconfig.json
Due: check-frontend
