Repository MTES-MCT/carbure: changes, and which GitLab CI jobs are due for each by the changed paths.
All: check-backend, check-frontend

.gitlab-ci.yml:

stages:
  - check


workflow:
  rules:
    # 1. Don't run pipelines for MR drafts.
    - if: $CI_PIPELINE_SOURCE == "merge_request_event" && $CI_MERGE_REQUEST_TITLE =~ /^Draft:/
      when: never

    # 2. Don't run branch pipelines when there's an open MR for the branch (run the MR pipeline instead).
    - if: $CI_COMMIT_BRANCH && $CI_OPEN_MERGE_REQUESTS
      when: never

    # 3. Run all other MR pipelines
    - if: $CI_PIPELINE_SOURCE == 'merge_request_event'
      when: always

    # 4. Run branch pipelines for dev and master
    - if: $CI_COMMIT_BRANCH == "dev" || $CI_COMMIT_BRANCH == "master"
      when: always

    # 5. Else, don't run it
    - when: never


variables:
  MYSQL_DATABASE: carbure_mysql_test_db
  MYSQL_ROOT_PASSWORD: carbure_mysql_ci_db_password
  PIP_CACHE_DIR: "$CI_PROJECT_DIR/.cache/pip"
  PIPENV_VENV_IN_PROJECT: true


# job: run linting and tests for backend
check-backend:
  stage: check
  extends: .backend
  services:
    - mysql:8.0
    - redis:latest
  script:
    - export CARBURE_HOME=$(pwd)
    - export DATABASE_URL=mysql://root:$MYSQL_ROOT_PASSWORD@mysql:3306/$MYSQL_DATABASE
    - export REDIS_URL=redis://redis:6379
    - pipenv run ruff check
    - pipenv run ruff format --check
    - TEST=1 pipenv run python web/manage.py test web


# job: run linting and tests for frontend
check-frontend:
  stage: check
  extends: .frontend
  script:
    - npm run lint
    - npm run build
    - npx chromatic
  interruptible: true


.backend:
  image: python:3.12
  cache:
    - key:
        files:
          - Pipfile.lock
      paths:
        - .cache/pip/
        - .venv/
  before_script:
    - pip install pipenv
    - pipenv install --dev --deploy --ignore-pipfile
  rules:
    - changes:
      - web/**/*
      - .gitlab-ci.yml


.frontend:
  image: node:latest
  cache:
    - key:
        files:
          - front/package-lock.json
      paths:
        - front/.npm/
  before_script:
    - cd front
    - npm ci --cache .npm --prefer-offline
  rules:
    - changes:
      - front/**/*
      - .gitlab-ci.yml

cleanup: split test
  web/auth/tests/test_request_otp.py
Due: check-backend

cleanup: separate contexts in different test cases
  web/auth/tests/test_request_otp.py
Due: check-backend

cleanup: remove named argument
  web/auth/views/mixins/request_otp.py
Due: check-backend

cleanup: extract method
  web/auth/views/mixins/request_otp.py
Due: check-backend

cleanup: remove duplication
  web/auth/views/mixins/request_otp.py
Due: check-backend

cleanup: remove superfluous call to database
  web/auth/views/mixins/request_otp.py
Due: check-backend

cleanup: move block
  web/auth/views/mixins/request_otp.py
Due: check-backend

cleanup: remove superfluous comments
  web/auth/views/mixins/request_otp.py
Due: check-backend

feat(tiruet): validate all teneur from all categories at once
  front/src/accounting/pages/teneur/components/validate-pending-teneur-dialog/validate-pending-teneur-dialog.tsx
Due: check-frontend

refacto: start new page double count
  front/src/common/components/tabs2/tabs.tsx
  front/src/common/hooks/routes.ts
  front/src/common/index.tsx
  front/src/common/layouts/navigation/private/sidebar/hooks/useDoubleCount.ts
  front/src/common/layouts/navigation/private/sidebar/sidebar.hooks.ts
  front/src/common/utils/routes.ts
  front/src/double-counting/components/application-status.tsx
  front/src/double-counting/double-counting.hooks.tsx
  front/src/double-counting/double-counting.tsx
  front/src/double-counting/index.ts
  front/src/double-counting/types.ts
  front/src/double-counting/utils.ts
Due: check-frontend

refacto(double count agreement details dialog)
  front/src/common/components/dialog2/dialog.module.css
  front/src/common/components/dialog2/dialog.tsx
  front/src/common/components/icon/icon.tsx
  front/src/common/components/scaffold.module.css
  front/src/common/components/scaffold.tsx
  front/src/common/components/tabs2/tabs.stories.tsx
  front/src/common/components/tabs2/tabs.tsx
  front/src/double-counting-admin/components/agreements/agreement-status.tsx
  front/src/double-counting/components/agreement-details-dialog.tsx
  front/src/double-counting/components/production-table.tsx
  front/src/double-counting/components/quotas-table.tsx
  front/src/double-counting/components/sourcing-table.tsx
  front/src/double-counting/components/year-table.tsx
  front/src/double-counting/double-counting.hooks.tsx
  front/src/double-counting/double-counting.tsx
Due: check-frontend

refacto: continue refacto DC application
  front/src/common/components/inputs2/radio/radio.stories.tsx
  front/src/common/components/inputs2/radio/radio.tsx
  front/src/double-counting-admin/components/applications/application-info.tsx
  front/src/double-counting-admin/components/applications/application-tabs.tsx
  front/src/double-counting/components/application-details-dialog.tsx
  front/src/settings/components/production-site-dialog.tsx
Due: check-frontend

fix: disable submit DC when production has already DC
  front/src/double-counting/components/files-table.tsx
  front/src/double-counting/components/send-application-dialog.tsx
Due: check-frontend

refactor: make radio read only
  front/src/common/components/inputs2/radio/radio.module.css
  front/src/common/components/inputs2/radio/radio.stories.tsx
  front/src/common/components/inputs2/radio/radio.tsx
  front/src/common/components/inputs2/text/text-input.stories.tsx
  front/src/common/components/scaffold.module.css
  front/src/common/components/scaffold.tsx
  front/src/double-counting/components/application-checker/valid-details-dialog.tsx
  front/src/double-counting/components/applications/application-tabs/production-site-recap.tsx
Due: check-frontend

start refacto file upload
  front/src/common/components/inputs2/field/field.module.css
  front/src/common/components/inputs2/field/field.tsx
  front/src/common/components/inputs2/field/index.ts
  front/src/common/components/inputs2/file/base-file-input.tsx
  front/src/common/components/tag-autocomplete2/tag-autocomplete.tsx
Due: check-frontend

refactor: continue refacto double count
  front/src/common/components/inputs2/file/base-file-input.module.css
  front/src/common/components/inputs2/file/base-file-input.tsx
  front/src/common/components/inputs2/file/file-input/file-input.tsx
  front/src/common/components/tabs2/tabs.module.css
  front/src/common/components/tag-autocomplete2/field/field.module.css
  front/src/common/components/tag-autocomplete2/field/field.tsx
  front/src/common/components/tag-autocomplete2/index.ts
  front/src/common/components/tag-autocomplete2/tag-autocomplete.hooks.ts
  front/src/common/components/tag-autocomplete2/tag-autocomplete.tsx
  front/src/double-counting/components/agreement-details-dialog.tsx
  front/src/double-counting/components/application-checker/errors-details-dialog.tsx
  front/src/double-counting/components/applications/application-tabs/production-site-recap.tsx
  front/src/double-counting/components/upload-dialog.tsx
  front/src/double-counting/double-counting.tsx
  front/src/settings/index.tsx
Due: check-frontend

refactor: refacto tag autocomplete
  front/src/common/components/tag-autocomplete2/tag-autocomplete.module.css
  front/src/common/components/tag-autocomplete2/tag-autocomplete.tsx
Due: check-frontend

feat(dc): only return dc files that match the current applicatino
  web/doublecount/models.py
  web/doublecount/views/agreements/mixins/download_link.py
Due: check-backend

refactor: move components + change UI radios
  front/src/common/components/icon/icon.tsx
  front/src/common/components/inputs2/radio/radio.module.css
  front/src/common/components/inputs2/radio/radio.tsx
  front/src/common/components/scaffold.module.css
  front/src/common/components/scaffold.tsx
  front/src/common/components/tabs2/tabs.tsx
  front/src/double-counting-admin/components/applications/application-details-dialog/application-details-dialog.tsx
  front/src/double-counting/components/agreement-details-dialog.tsx
  front/src/double-counting/components/application-details-dialog.tsx
  front/src/double-counting/components/applications/application-tabs/application-tabs.tsx
  front/src/double-counting/components/applications/application-tabs/index.ts
  front/src/double-counting/components/applications/application-tabs/production-site-recap.tsx
  front/src/double-counting/double-counting.hooks.tsx
  front/src/double-counting/double-counting.tsx
  front/src/settings/components/production-site-dialog.tsx
Due: check-frontend

refactor: terminate check all files DC
  front/src/double-counting-admin/components/agreements/agreement-details-dialog.tsx
  front/src/double-counting-admin/components/applications/application-details-dialog/application-details-dialog-validate-quotas.tsx
  front/src/double-counting-admin/components/applications/application-info.tsx
  front/src/double-counting-admin/components/files-checker/file-application-info.tsx
  front/src/double-counting-admin/components/files-checker/files-checker-dialog.tsx
  front/src/double-counting-admin/components/generate-decision-dialog/generate-decision-dialog.tsx
  front/src/double-counting/components/agreement-public-list.tsx
  front/src/double-counting/components/application-checker/double-count-period.tsx
  front/src/double-counting/components/application-checker/errors-details-dialog.tsx
  front/src/double-counting/components/application-checker/valid-details-dialog.tsx
  front/src/double-counting/components/send-application-dialog.tsx
Due: check-frontend

feat(dc): add file table to agreement details
  front/src/double-counting/components/agreement-details-dialog.tsx
  front/src/double-counting/components/files-table.tsx
  web/doublecount/views/agreements/mixins/download_link.py
Due: check-backend, check-frontend

refactor: refacto radio/grid
  front/src/common/components/inputs2/radio/radio.tsx
  front/src/common/components/scaffold.tsx
  front/src/common/utils/normalizers.ts
  front/src/double-counting/components/applications/application-tabs/production-site-recap.tsx
Due: check-frontend

feat: add tag autocomplete component
  front/package-lock.json
  front/package.json
  front/src/common/components/tag-autocomplete2/tag-autocomplete.module.css
  front/src/common/components/tag-autocomplete2/tag-autocomplete.stories.tsx
  front/src/common/components/tag-autocomplete2/tag-autocomplete.tsx
  front/src/common/components/tag2/index.ts
  front/src/common/components/tag2/tags-group.module.css
  front/src/common/components/tag2/tags-group.tsx
Due: check-frontend

refactor: simplify icon usage
  front/public/locales/en/translation.json
  front/public/locales/fr/translation.json
  front/src/accounting/layouts/operations-balances-layout.tsx
  front/src/common/components/notice/notice.tsx
  front/src/common/components/tabs2/tabs.tsx
  front/src/double-counting-admin/components/files-checker/file-application-info.tsx
  front/src/double-counting/components/agreement-details-dialog.tsx
  front/src/double-counting/components/application-checker/errors-details-dialog.tsx
  front/src/double-counting/components/applications/application-tabs/application-tabs.tsx
  front/src/double-counting/double-counting.tsx
  front/src/saf/pages/operator/pages/ticket-sources/status-switcher.tsx
  front/src/saf/pages/operator/pages/tickets/status-switcher.tsx
  web/doublecount/views/applications/mixins/check_file.py
Due: check-backend, check-frontend

feat: start refacto admin DC
  front/src/common/components/dialog2/dialog.module.css
  front/src/common/components/notice/notice.module.css
  front/src/double-counting-admin/components/agreements/agreement-list.tsx
  front/src/double-counting-admin/components/applications/application-details-dialog/application-details-dialog.tsx
  front/src/double-counting-admin/components/applications/application-list.tsx
  front/src/double-counting-admin/components/files-checker/upload-button.tsx
  front/src/double-counting-admin/filters.tsx
  front/src/double-counting/components/application-checker/industrial-waste-alert.tsx
  front/src/double-counting/components/application-checker/valid-details-dialog.tsx
  front/src/double-counting/components/applications/application-tabs/application-tabs.tsx
  front/src/double-counting/components/files-table.tsx
  front/src/double-counting/components/production-table.tsx
  front/src/double-counting/components/send-application-dialog.tsx
  front/src/double-counting/components/upload-dialog.tsx
  front/src/saf/pages/operator/pages/ticket-sources/table.tsx
Due: check-frontend

refactor: refacto admin DC
  front/src/double-counting-admin/components/agreements/agreement-details-dialog.tsx
  front/src/double-counting-admin/components/agreements/agreement-list.tsx
  front/src/double-counting-admin/components/applications/application-info.tsx
  front/src/double-counting-admin/components/files-checker/files-checker-dialog.tsx
  front/src/double-counting-admin/components/files-checker/index.tsx
  front/src/double-counting-admin/components/generate-decision-dialog/generate-decision-dialog.tsx
Due: check-frontend

feat(ds): terminate clean file input
  front/src/common/components/inputs2/file/base-file-input.module.css
  front/src/common/components/inputs2/file/base-file-input.tsx
  front/src/common/components/inputs2/file/file-input/file-input.stories.tsx
  front/src/common/components/inputs2/file/file-input/file-input.tsx
  front/src/common/components/inputs2/file/file-list-input/file-list-input.stories.tsx
  front/src/common/components/inputs2/file/file-list-input/file-list-input.tsx
Due: check-frontend

feat: add application download
  api-schema.yaml
  front/src/api-schema.ts
  front/src/double-counting/components/application-details-dialog.tsx
  front/src/double-counting/components/files-table.tsx
  web/doublecount/views/agreements/mixins/download_link.py
Due: check-backend, check-frontend

feat(dc): update dechet industriel alert
  front/src/double-counting/components/application-checker/industrial-waste-alert.tsx
  front/src/double-counting/components/application-checker/valid-details-dialog.tsx
  front/src/double-counting/components/applications/application-tabs/application-tabs.tsx
Due: check-frontend

refactor: add industrial waste file
  front/src/common/services/api-fetch.ts
  front/src/double-counting-admin/components/files-checker/send-application-dialog.tsx
  front/src/double-counting/api.ts
  front/src/double-counting/components/add-industrial-wastes.tsx
  front/src/double-counting/components/application-checker/industrial-waste-alert.tsx
  front/src/double-counting/components/application-checker/replace-application-dialog.tsx
  front/src/double-counting/components/application-checker/valid-details-dialog.tsx
  front/src/double-counting/components/applications/application-tabs/application-tabs.tsx
  front/src/double-counting/components/send-application-dialog.tsx
  web/doublecount/helpers.py
  web/doublecount/migrations/0021_doublecountingapplication_industrial_wastes_file_link.py
  web/doublecount/models.py
  web/doublecount/views/applications/mixins/add_application.py
  web/doublecount/views/applications/mixins/check_file.py
Due: check-backend, check-frontend

feat: setup tag autocomplete
  front/src/common/components/tabs2/tabs.module.css
  front/src/common/components/tabs2/tabs.tsx
  front/src/common/components/tag-autocomplete2/field/field.module.css
  front/src/common/components/tag-autocomplete2/field/field.tsx
  front/src/common/components/tag-autocomplete2/field/index.ts
  front/src/common/components/tag-autocomplete2/tag-autocomplete.hooks.ts
  front/src/common/components/tag-autocomplete2/tag-autocomplete.module.css
  front/src/common/components/tag-autocomplete2/tag-autocomplete.stories.tsx
  front/src/common/components/tag-autocomplete2/tag-autocomplete.tsx
  front/src/double-counting/components/applications/application-tabs/application-tabs.tsx
  front/src/double-counting/components/applications/application-tabs/production-site-recap.tsx
Due: check-frontend

feat(dc): do not use dc_reference to check if a production site has an active dc number
  front/src/double-counting/components/application-checker/valid-details-dialog.tsx
  front/src/double-counting/components/send-application-dialog.tsx
Due: check-frontend

refactor: terminate refacto producer DC
  front/src/common/components/dialog2/dialog.module.css
  front/src/common/components/inputs2/checkbox/checkbox.tsx
  front/src/common/components/inputs2/file/base-file-input.tsx
  front/src/common/components/inputs2/input.tsx
  front/src/common/components/inputs2/radio/radio.tsx
  front/src/common/components/notice/notice.stories.tsx
  front/src/common/components/tabs2/tabs.module.css
  front/src/common/components/tabs2/tabs.stories.tsx
  front/src/double-counting-admin/components/files-checker/file-application-info.tsx
  front/src/double-counting-admin/components/files-checker/send-application-dialog.tsx
  front/src/double-counting/components/application-checker/errors-details-dialog.tsx
  front/src/double-counting/components/application-checker/industrial-waste-alert.tsx
  front/src/double-counting/components/application-checker/valid-details-dialog.tsx
  front/src/double-counting/components/send-application-dialog.tsx
  front/src/saf/pages/airline/pages/tickets/ticket-details/accept-assignment.tsx
Due: check-frontend

feat(dc): add the ability to upload industrial waste file on already created applications
  front/src/double-counting/api.ts
  front/src/double-counting/components/agreement-details-dialog.tsx
  front/src/double-counting/components/application-details-dialog.tsx
  front/src/double-counting/double-counting.hooks.tsx
  front/src/double-counting/types.ts
Due: check-frontend

chore(dc): update api schema
  api-schema.yaml
  front/src/api-schema.ts
Due: check-frontend

feat(dc): add new endpoint to update industrial waste file
  web/doublecount/views/applications/mixins/__init__.py
  web/doublecount/views/applications/mixins/update_industrial_waste_file.py
Due: check-backend

fix: typing issues after rebase
  front/src/accounting/components/from-depot-form/from-depot-form.tsx
  front/src/accounting/components/from-depot-form/from-depot-form.utils.ts
  front/src/accounting/pages/balances/biofuels/debit-operation-dialog/exportation-dialog/exportation-dialog.tsx
  front/src/accounting/pages/teneur/__test__/data.ts
  front/src/accounting/pages/teneur/components/validate-pending-teneur-dialog/validate-pending-teneur-dialog.tsx
Due: check-frontend

feat(dc): return wether an application already has an industrial waste file
  web/doublecount/serializers.py
Due: check-backend

feat(dc): display when industrial waste file is missing in dc applications/agreements
  front/src/double-counting-admin/components/agreements/agreement-details-dialog.tsx
  front/src/double-counting-admin/components/applications/application-details-dialog/application-details-dialog.tsx
Due: check-frontend
