Repository MTES-MCT/carbure: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-ci-image, check-backend, check-frontend

build-ci-image:
  stage: prepare
  image: docker:stable
  services:
  - docker:dind
  script:
  - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
  - docker build -f ci/Dockerfile -t $CI_REGISTRY/$CI_PROJECT_PATH/ci-image:latest .
  - docker push $CI_REGISTRY/$CI_PROJECT_PATH/ci-image:latest

check-backend:
  image: $CI_REGISTRY/$CI_PROJECT_PATH/ci-image:latest
  before_script:
  - mv /app/front/node_modules ./front
  stage: check
  services:
  - mysql:8.0
  - redis:latest
  script:
  - export CARBURE_HOME=$(pwd)
  - export DATABASE_URL=mysql://root:$MYSQL_ROOT_PASSWORD@mysql:3306/$MYSQL_DATABASE
  ...

check-frontend:
  image: $CI_REGISTRY/$CI_PROJECT_PATH/ci-image:latest
  before_script:
  - mv /app/front/node_modules ./front
  stage: check
  script:
  - cd front
  - npx eslint --ext .ts,.tsx src/
  - npm test

[back] make Entity is_enabled field readonly in django admin
  web/core/admin.py
Due: check-backend

feat: terminate routing
  front/src/companies-admin/routes/entity-details.tsx
  front/src/elec/charge-points-tabs.tsx
  front/src/elec/charge-points.tsx
Due: check-frontend

[back] Feature to activate depot in admin and to send emails.
  web/core/admin.py
  web/entity/api/depots/create.py
  web/entity/serializers/depot.py
  web/entity/services/enable_depot.py
Due: check-backend

[back] Add geolocation to get gps coordinates
  web/entity/api/depots/create.py
  web/entity/services/geolocation.py
Due: check-backend

[back] Disable csrf middleware on local
  web/carbure/settings.py
Due: check-backend

[back] Remove old check_rights decorator
  web/entity/api/depots/add.py
  web/entity/api/depots/delete.py
  web/entity/api/depots/depots.py
  web/entity/api/production_sites/add.py
  web/entity/api/production_sites/delete.py
  web/entity/api/production_sites/production_sites.py
  web/entity/api/production_sites/set_biofuels.py
  web/entity/api/production_sites/set_feedstocks.py
  web/entity/api/production_sites/update.py
Due: check-backend

[back] dc - autorise zero production if production is outside of france
  web/doublecount/parser/parse_production.py
Due: check-backend

[back] Remove old check_rights decorator
  web/core/decorators.py
Due: check-backend

[front] fix mock avoiding creating dependancy beetween an other one
  front/src/elec/__test__/data.ts
  front/src/elec/__test__/settings-meter-readings.spec.tsx
Due: check-frontend

[back] Add DGEC email and change email texts
  web/entity/api/depots/create.py
  web/entity/services/enable_depot.py
Due: check-backend

Disable csrf on local
  web/carbure/settings.py
Due: check-backend

[back] Remove otp_or_403 as much as possible
  web/entity/api/users/grant_access.py
  web/entity/api/users/revoke_access.py
  web/entity/api/users/users.py
  web/user/api/request_access.py
  web/user/api/revoke_access.py
Due: check-backend

[fix] invite user - handle case when userRightRequest already exists
  web/entity/api/users/invite_user.py
Due: check-backend

[front] some fixes and add navigation
  front/src/elec-audit-admin/__test__/data.ts
  front/src/elec-audit-admin/components/charge-points/list.tsx
  front/src/elec-audit-admin/components/meter-readings/list.tsx
  front/src/elec-audit-admin/components/status-switcher.tsx
  front/src/elec-audit-admin/index.tsx
  front/src/elec-audit-admin/types.ts
  front/src/elec-auditor/components/details-pending-check.tsx
  front/src/elec-auditor/components/details-pending-download-sample.tsx
  front/src/elec-auditor/components/details-pending-report-valid.tsx
  front/src/elec-auditor/components/details-pending.tsx
  web/elec/api/admin/audit/snapshot.py
Due: check-backend, check-frontend

test: fix random test error
  front/src/elec/__test__/settings-meter-readings.spec.tsx
Due: check-frontend

test: add mock for endpoint not ready by the back
  front/public/locales/en/translation.json
  front/public/locales/fr/translation.json
  front/src/elec/__test__/settings-charge-points.spec.tsx
  front/src/elec/__test__/settings-meter-readings.spec.tsx
  front/src/mocks.ts
  front/src/settings/__test__/api.ts
  front/src/settings/__test__/company.spec.tsx
  front/src/settings/__test__/delivery-site.spec.tsx
  front/src/settings/__test__/production-site.spec.tsx
  front/src/settings/__test__/server.ts
  front/src/settings/api/user-rights.ts
  front/src/settings/components/user-rights/user-rights.hooks.ts
  front/src/settings/components/user-rights/user-rights.tsx
Due: check-frontend

test: add test application without charge points
  front/src/elec/__test__/api.ts
  front/src/elec/__test__/data.ts
  front/src/elec/__test__/settings-meter-readings.spec.tsx
  front/src/elec/components/meter-readings/settings.tsx
Due: check-frontend

test: prepare mocks for invite user query
  front/src/common/molecules/user-rights-table/add-user-dialog.tsx
  front/src/common/molecules/user-rights-table/user-rights-table.tsx
  front/src/companies/__test__/api.ts
  front/src/elec-audit-admin/__test__/audit-admin-charge-points-sample.spec.tsx
  front/src/mocks.ts
  front/src/settings/__test__/api.ts
  front/src/settings/api/user-rights.ts
  front/src/settings/components/user-rights/user-rights.tsx
Due: check-frontend

feat: add button new user with simple modal
  front/public/locales/en/translation.json
  front/public/locales/fr/translation.json
  front/src/common/molecules/user-rights-table/add-user-dialog.tsx
  front/src/common/molecules/user-rights-table/user-rights-table.tsx
Due: check-frontend

fix: add missing translation
  front/public/locales/en/translation.json
  front/public/locales/fr/translation.json
Due: check-frontend

fix: correction user activation
  front/src/auth/components/activate.tsx
Due: check-frontend

feat: add input error message
  front/public/locales/en/translation.json
  front/public/locales/fr/translation.json
  front/src/auth/components/password.tsx
  front/src/auth/components/register.tsx
  front/src/common/components/input.module.css
  front/src/common/components/input.tsx
  front/src/elec/components/provision-certificates/transfer-dialog.tsx
Due: check-frontend

Path conditions:
  build-ci-image: any of: ci/Dockerfile, Pipfile, Pipfile.lock, front/package.json, front/package-lock.json
  check-backend: any of: web/**/*
  check-frontend: any of: front/**/*
