Repository MTES-MCT/carbure: changes, and which GitLab CI jobs are due for each by the changed paths.
All: check-backend, check-frontend

.gitlab-ci.yml:

stages:
  - check


workflow:
  rules:
    # 1. Don't run pipelines for MR drafts.
    - if: $CI_PIPELINE_SOURCE == "merge_request_event" && $CI_MERGE_REQUEST_TITLE =~ /^Draft:/
      when: never

    # 2. Don't run branch pipelines when there's an open MR for the branch (run the MR pipeline instead).
    - if: $CI_COMMIT_BRANCH && $CI_OPEN_MERGE_REQUESTS
      when: never

    # 3. Run all other MR pipelines
    - if: $CI_PIPELINE_SOURCE == 'merge_request_event'
      when: always

    # 4. Run branch pipelines for dev and master
    - if: $CI_COMMIT_BRANCH == "dev" || $CI_COMMIT_BRANCH == "master"
      when: always

    # 5. Else, don't run it
    - when: never


variables:
  MYSQL_DATABASE: carbure_mysql_test_db
  MYSQL_ROOT_PASSWORD: carbure_mysql_ci_db_password
  PIP_CACHE_DIR: "$CI_PROJECT_DIR/.cache/pip"
  PIPENV_VENV_IN_PROJECT: true


# job: run linting and tests for backend
check-backend:
  stage: check
  extends: .backend
  services:
    - mysql:8.0
    - redis:latest
  script:
    - export CARBURE_HOME=$(pwd)
    - export DATABASE_URL=mysql://root:$MYSQL_ROOT_PASSWORD@mysql:3306/$MYSQL_DATABASE
    - export REDIS_URL=redis://redis:6379
    - pipenv run ruff check
    - pipenv run ruff format --check
    - TEST=1 pipenv run python web/manage.py test web


# job: run linting and tests for frontend
check-frontend:
  stage: check
  extends: .frontend
  script:
    - npm run lint
    - npm run build
    - npx chromatic
  interruptible: true


.backend:
  image: python:3.12
  cache:
    - key:
        files:
          - Pipfile.lock
      paths:
        - .cache/pip/
        - .venv/
  before_script:
    - pip install pipenv
    - pipenv install --dev --deploy --ignore-pipfile
  rules:
    - changes:
      - web/**/*
      - .gitlab-ci.yml


.frontend:
  image: node:latest
  cache:
    - key:
        files:
          - front/package-lock.json
      paths:
        - front/.npm/
  before_script:
    - cd front
    - npm ci --cache .npm --prefer-offline
  rules:
    - changes:
      - front/**/*
      - .gitlab-ci.yml

refactor: terminate applying renewable energy
  front/src/accounting/api.ts
  front/src/accounting/api/operations.ts
  front/src/accounting/components/quantity-form/quantity-form.hooks.ts
  front/src/accounting/components/quantity-form/quantity-form.tsx
  front/src/accounting/pages/balances/biofuels/biofuels.hooks.tsx
  front/src/accounting/pages/operations/biofuels/operations.hooks.tsx
  front/src/accounting/pages/operations/biofuels/pages/operation-detail/operation-detail.tsx
  front/src/accounting/pages/teneur/components/declare-teneur-dialog/biofuel-form/biofuel-form.tsx
  front/src/accounting/pages/teneur/components/declare-teneur-dialog/declare-teneur-dialog.hooks.ts
  front/src/accounting/pages/teneur/components/declare-teneur-dialog/declare-teneur-dialog.tsx
  front/src/accounting/types.ts
  front/src/accounting/utils/formatters.ts
  web/tiruert/services/balance.py
  web/tiruert/views/operation/operation.py
Due: check-backend, check-frontend

feat(renewable energy teneur): handle renewable energy for teneur
  api-schema.yaml
  front/src/accounting/components/quantity-form/quantity-form.hooks.ts
  front/src/accounting/components/quantity-form/quantity-form.tsx
  front/src/accounting/pages/balances/biofuels/biofuels.hooks.tsx
  front/src/accounting/pages/operations/biofuels/pages/operation-detail/operation-detail.tsx
  front/src/accounting/pages/teneur/components/declare-teneur-dialog/biofuel-form/biofuel-form.tsx
  front/src/accounting/pages/teneur/components/declare-teneur-dialog/declare-teneur-dialog.hooks.ts
  front/src/accounting/pages/teneur/components/declare-teneur-dialog/declare-teneur-dialog.tsx
  front/src/accounting/pages/teneur/utils/formatters.ts
  front/src/accounting/types.ts
  front/src/accounting/utils/formatters.ts
  front/src/api-schema.ts
Due: check-frontend

fix: display error quantity max
  front/src/accounting/components/quantity-form/quantity-form.tsx
  front/src/accounting/components/quantity-form/quantity-form.utils.ts
  front/src/accounting/pages/teneur/components/declare-teneur-dialog/declare-teneur-dialog.tsx
  front/src/accounting/pages/teneur/components/declare-teneur-dialog/declare-teneur-progress-bar.tsx
  front/src/common/components/form2/form.tsx
  front/src/common/components/scaffold.module.css
  front/src/common/components/scaffold.tsx
Due: check-frontend

fix: fix errors available balance
  front/public/locales/en/translation.json
  front/public/locales/fr/translation.json
  front/src/accounting/components/from-depot-form/api.ts
  front/src/accounting/components/from-depot-form/from-depot-form.tsx
  front/src/accounting/components/from-depot-form/from-depot-form.types.ts
  front/src/accounting/components/from-depot-form/from-depot-form.utils.ts
  front/src/accounting/components/quantity-form/quantity-form.hooks.ts
  front/src/accounting/components/recap-operation/recap-operation.tsx
  front/src/accounting/pages/balances/biofuels/debit-operation-dialog/cession-dialog/cession-dialog.tsx
  front/src/accounting/pages/operations/biofuels/pages/operation-detail/operation-detail.tsx
Due: check-frontend

fix: re-add exportation dialog
  front/src/accounting/components/quantity-form/quantity-form.tsx
  front/src/accounting/layouts/operations-balances-layout.tsx
  front/src/accounting/pages/balances/biofuels/debit-operation-dialog/debit-operation-dialog.tsx
  front/src/accounting/pages/balances/biofuels/debit-operation-dialog/exportation-dialog/exportation-dialog.hooks.ts
Due: check-frontend

refactor: add onClick for stepper before next step
  front/src/accounting/api/operations.ts
  front/src/accounting/components/quantity-form/index.ts
  front/src/accounting/components/quantity-form/quantity-form-summary.tsx
  front/src/accounting/components/quantity-form/quantity-form.hooks.ts
  front/src/accounting/components/quantity-form/quantity-form.types.ts
  front/src/accounting/pages/balances/biofuels/debit-operation-dialog/cession-dialog/cession-dialog.hooks.ts
  front/src/accounting/pages/balances/biofuels/debit-operation-dialog/cession-dialog/cession-dialog.tsx
  front/src/accounting/pages/balances/biofuels/debit-operation-dialog/debit-operation-dialog.tsx
  front/src/accounting/pages/teneur/__test__/data.ts
  front/src/accounting/pages/teneur/components/declare-teneur-dialog/declare-teneur-dialog.hooks.ts
  front/src/accounting/pages/teneur/components/declare-teneur-dialog/declare-teneur-dialog.tsx
  front/src/accounting/pages/teneur/components/declare-teneur-dialog/declare-teneur-progress-bar.tsx
  front/src/accounting/pages/teneur/components/objectivized-categories-progress/objectivized-categories-progress.tsx
  front/src/accounting/pages/teneur/components/overall-progress/overall-progress.tsx
  front/src/accounting/pages/teneur/components/recap-data/recap-data.tsx
  front/src/accounting/pages/teneur/utils/formatters.ts
  front/src/common/components/stepper/stepper.provider.tsx
  front/src/common/components/stepper/stepper.tsx
  web/tiruert/views/operation/operation.py
Due: check-backend, check-frontend

fix: add renewable energy share from lots declaration
  front/src/accounting/pages/teneur/components/card-progress/card-progress.tsx
  web/tiruert/models/operation.py
Due: check-backend, check-frontend

refactor: refacto progress bar in teneur
  front/public/locales/en/translation.json
  front/public/locales/fr/translation.json
  front/src/accounting/components/quantity-form/quantity-form.tsx
  front/src/accounting/hooks/formatters.ts
  front/src/accounting/pages/operations/biofuels/operations.tsx
  front/src/accounting/pages/teneur/api.ts
  front/src/accounting/pages/teneur/components/capped-categories-progress/capped-categories-progress.tsx
  front/src/accounting/pages/teneur/components/declare-teneur-dialog/declare-teneur-dialog.tsx
  front/src/accounting/pages/teneur/components/declare-teneur-dialog/declare-teneur-progress-bar.tsx
  front/src/accounting/pages/teneur/components/objectivized-categories-progress/objectivized-categories-progress.tsx
  front/src/accounting/pages/teneur/components/overall-progress/overall-progress.tsx
  front/src/accounting/pages/teneur/components/unconstrained-categories-progress/unconstrained-categories-progress.tsx
  front/src/accounting/pages/teneur/teneur.tsx
  front/src/accounting/pages/teneur/types.ts
Due: check-frontend

refactor: refactor quantity step
  front/src/accounting/components/quantity-form/index.ts
  front/src/accounting/components/quantity-form/quantity-form-summary.tsx
  front/src/accounting/components/quantity-form/quantity-form.tsx
  front/src/accounting/pages/teneur/components/declare-teneur-dialog/declare-teneur-dialog.tsx
  front/src/accounting/pages/teneur/components/declare-teneur-dialog/declare-teneur-progress-bar.tsx
  front/src/common/components/scaffold.module.css
  front/src/common/components/scaffold.tsx
Due: check-frontend

refactor: terminate check all files DC
  front/src/double-counting-admin/components/agreements/agreement-details-dialog.tsx
  front/src/double-counting-admin/components/applications/application-details-dialog/application-details-dialog-validate-quotas.tsx
  front/src/double-counting-admin/components/applications/application-info.tsx
  front/src/double-counting-admin/components/files-checker/file-application-info.tsx
  front/src/double-counting-admin/components/files-checker/files-checker-dialog.tsx
  front/src/double-counting-admin/components/generate-decision-dialog/generate-decision-dialog.tsx
  front/src/double-counting/components/agreement-public-list.tsx
  front/src/double-counting/components/application-checker/double-count-period.tsx
  front/src/double-counting/components/application-checker/errors-details-dialog.tsx
  front/src/double-counting/components/application-checker/valid-details-dialog.tsx
  front/src/double-counting/components/send-application-dialog.tsx
  front/vite.config.ts
Due: check-frontend

refactor: terminate check all files DC
  front/src/double-counting-admin/components/agreements/agreement-details-dialog.tsx
  front/src/double-counting-admin/components/applications/application-details-dialog/application-details-dialog-validate-quotas.tsx
  front/src/double-counting-admin/components/applications/application-info.tsx
  front/src/double-counting-admin/components/files-checker/file-application-info.tsx
  front/src/double-counting-admin/components/files-checker/files-checker-dialog.tsx
  front/src/double-counting-admin/components/generate-decision-dialog/generate-decision-dialog.tsx
  front/src/double-counting/components/agreement-public-list.tsx
  front/src/double-counting/components/application-checker/double-count-period.tsx
  front/src/double-counting/components/application-checker/errors-details-dialog.tsx
  front/src/double-counting/components/application-checker/valid-details-dialog.tsx
  front/src/double-counting/components/send-application-dialog.tsx
Due: check-frontend

refactor: terminate check all files DC
  front/package-lock.json
  front/package.json
  front/src/common/components/tag-autocomplete.tsx
  front/src/double-counting-admin/components/agreements/agreement-details-dialog.tsx
  front/src/double-counting-admin/components/applications/application-details-dialog/application-details-dialog-validate-quotas.tsx
  front/src/double-counting-admin/components/applications/application-info.tsx
  front/src/double-counting-admin/components/files-checker/file-application-info.tsx
  front/src/double-counting-admin/components/files-checker/files-checker-dialog.tsx
  front/src/double-counting-admin/components/generate-decision-dialog/generate-decision-dialog.tsx
  front/src/double-counting/components/agreement-public-list.tsx
  front/src/double-counting/components/application-checker/double-count-period.tsx
  front/src/double-counting/components/application-checker/errors-details-dialog.tsx
  front/src/double-counting/components/application-checker/valid-details-dialog.tsx
  front/src/double-counting/components/send-application-dialog.tsx
Due: check-frontend

fix: fix sentry + production site
  front/package-lock.json
  front/package.json
  front/src/common/components/tag-autocomplete.tsx
  front/src/settings/components/production-site-dialog.tsx
Due: check-frontend

fix: fix declare teneur
  front/src/accounting/components/quantity-form/quantity-form.hooks.ts
  front/src/accounting/pages/teneur/components/declare-teneur-dialog/declare-teneur-dialog.tsx
Due: check-frontend

fix: simplify renewable energy share
  web/tiruert/serializers/operation.py
  web/tiruert/services/balance.py
  web/tiruert/views/operation/operation.py
Due: check-backend

fix: display accounting
  front/src/common/layouts/navigation/private/sidebar/hooks/useAccounting.ts
Due: check-frontend

feat(tiruert): send 'unit' param forced to 'MJ' when simulate teneur
  front/src/accounting/components/quantity-form/quantity-form.hooks.ts
  front/src/accounting/pages/teneur/components/declare-teneur-dialog/declare-teneur-dialog.tsx
Due: check-frontend

feat(tiruert): add renewable_energy_share info
  web/tiruert/serializers/operation.py
Due: check-backend

feat(tiruert): code cleaning
  web/tiruert/services/balance.py
Due: check-backend

feat(tiruert): do not set renewable_energy_share when create teneur
  web/tiruert/serializers/operation.py
Due: check-backend

Master into Dev
  front/src/common/layouts/navigation/private/sidebar/hooks/useAccounting.ts
Due: check-frontend

feat(tiruert): add new params ges_bounds for teneur simulation
  web/tiruert/serializers/teneur.py
  web/tiruert/services/teneur.py
Due: check-backend

feat(front): change minitere logo and name
  front/src/common/assets/images/MCE.svg
  front/src/common/layouts/navigation/footer/footer.tsx
Due: check-frontend

feat(tiruert): check ges_bounds with ghg_reduction_red_ii info
  web/tiruert/models/operation_detail.py
  web/tiruert/services/balance.py
  web/tiruert/services/teneur.py
Due: check-backend

feat(tiruert): add ghg_reduction_min and max to balance response
  web/tiruert/serializers/balance.py
  web/tiruert/services/balance.py
  web/tiruert/views/operation/mixins/balance.py
Due: check-backend

feat(tiruert): filter operation details on new filters ghg_reduction_min ans max
  web/tiruert/services/balance.py
  web/tiruert/services/teneur.py
  web/tiruert/views/operation/mixins/balance.py
Due: check-backend

feat(tiruert): fix on ghg min max filtering
  web/tiruert/services/balance.py
  web/tiruert/services/teneur.py
Due: check-backend

feat(common): add DoubleRange input component
  front/src/common/components/inputs2/double-range/double-range.stories.tsx
  front/src/common/components/inputs2/double-range/double-range.tsx
  front/src/common/components/inputs2/double-range/index.ts
  front/src/common/components/inputs2/index.ts
Due: check-frontend

feat(tiruert): add ghg reduction range picker to teneur dialog
  front/src/accounting/pages/teneur/components/declare-teneur-dialog/biofuel-form/biofuel-form.tsx
  front/src/accounting/pages/teneur/components/declare-teneur-dialog/declare-teneur-dialog.tsx
Due: check-frontend

chore(tiruert): update api schema
  api-schema.yaml
  front/src/api-schema.ts
  web/tiruert/filters/operation.py
Due: check-backend, check-frontend

feat(tiruert): filter teneur available balance based on user selected ghg bounds
  front/src/accounting/components/recap-operation/recap-operation.tsx
  front/src/accounting/pages/teneur/api.ts
  front/src/accounting/pages/teneur/components/declare-teneur-dialog/biofuel-form/biofuel-form.tsx
  front/src/accounting/pages/teneur/components/declare-teneur-dialog/declare-teneur-dialog.tsx
  front/src/common/components/autocomplete2/autocomplete.tsx
  front/src/common/components/inputs2/double-range/double-range.tsx
  front/src/common/utils/functions.ts
Due: check-frontend

feat(tiruert): send ghg bounds during simulations
  front/src/accounting/api/operations.ts
  front/src/accounting/components/quantity-form/quantity-form.hooks.ts
Due: check-frontend

feat(transaction): script for roquette ghg corrections
  web/transactions/management/commands/ghg_corrections_from_file.py
Due: check-backend

feat(transaction): roquette script - handle csrftoken
  web/transactions/management/commands/ghg_corrections_from_file.py
Due: check-backend

feat(tiruert): front modifications: texts, add global remaining avoided CO2 quantity in teneur modal
  front/public/locales/en/translation.json
  front/public/locales/fr/translation.json
  front/src/accounting/components/quantity-form/quantity-form.utils.ts
  front/src/accounting/pages/operations/biofuels/operations.tsx
  front/src/accounting/pages/teneur/components/declare-teneur-dialog/declare-teneur-dialog.tsx
  front/src/accounting/pages/teneur/components/overall-progress/overall-progress.tsx
  front/src/accounting/pages/teneur/components/recap-data/recap-data.tsx
Due: check-frontend

feat(tiruert): store durability period when create lot, and handle new TRANSFERT type for operation
  web/tiruert/migrations/0018_operation_durability_period_alter_operation_type.py
  web/tiruert/models/operation.py
  web/tiruert/services/balance.py
Due: check-backend

feat(tiruert): front: fix linter issue
  front/src/accounting/components/quantity-form/quantity-form.utils.ts
  front/src/accounting/pages/operations/biofuels/operations.tsx
  front/src/accounting/pages/teneur/components/declare-teneur-dialog/declare-teneur-dialog.tsx
  front/src/accounting/pages/teneur/components/recap-data/recap-data.tsx
Due: check-frontend

feat(tiruert-elec): don't display digits in elec balance
  front/src/accounting/pages/balances/elec/elec.hooks.tsx
Due: check-frontend

fix(tiruert-elec): bug when creating new elec operation
  web/tiruert/models/elec_operation.py
  web/tiruert/views/elec_operation/elec_operation.py
Due: check-backend
