Repository MTES-MCT/carbure: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-ci-image, check-backend, check-frontend

.gitlab-ci.yml:

stages:
  - prepare
  - check
  - deploy

variables:
  MYSQL_DATABASE: carbure_mysql_test_db
  MYSQL_ROOT_PASSWORD: carbure_mysql_ci_db_password

# use prebuild CI image when running checks
.checks:
  image: $CI_REGISTRY/$CI_PROJECT_PATH/ci-image:latest
  before_script:
    - mv /app/front/node_modules ./front

# prepare git env to push new code to scalingo
.scalingo:
  image: alpine:latest
  before_script:
    - mkdir ~/.ssh
    - apk add --update git openssh-client
    - eval $(ssh-agent -s)
    - echo "$SCALINGO_SSH_PRIVATE_KEY" | tr -d '\r' | ssh-add -
    - ssh-keyscan $SCALINGO_SSH_HOST >> ~/.ssh/known_hosts
    - chmod 644 ~/.ssh/known_hosts
    - git config user.name $GIT_USER_NAME
    - git config user.email $GIT_USER_EMAIL
    - git remote add scalingo-dev $SCALINGO_GIT_REMOTE_DEV || true
    - git remote add scalingo-staging $SCALINGO_GIT_REMOTE_STAGING || true
    - git remote add scalingo-prod $SCALINGO_GIT_REMOTE_PROD || true
    - git fetch origin $CI_COMMIT_BRANCH --unshallow
    - git checkout $CI_COMMIT_BRANCH

build-ci-image:
  stage: prepare
  image: docker:stable
  services:
    - docker:dind
  script:
    - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
    - docker build -f ci/Dockerfile -t $CI_REGISTRY/$CI_PROJECT_PATH/ci-image:latest .
    - docker push $CI_REGISTRY/$CI_PROJECT_PATH/ci-image:latest
  only:
    changes:
      - ci/Dockerfile
      - Pipfile
      - Pipfile.lock
      - front/package.json
      - front/package-lock.json

check-backend:
  stage: check
  extends: .checks
  services:
    - mysql:8.0
    - redis:latest
  script:
    - export CARBURE_HOME=$(pwd)
    - export DATABASE_URL=mysql://root:$MYSQL_ROOT_PASSWORD@mysql:3306/$MYSQL_DATABASE
    - export REDIS_URL=redis://redis:6379
    - mypy web || true
    - TEST=1 python3 web/manage.py test web
  only:
    refs:
      - dev
      - master
    changes:
      - web/**/*

check-frontend:
  stage: check
  extends: .checks
  script:
    - cd front
    - npx eslint --ext .ts,.tsx src/
    - npm test
  only:
    refs:
      - dev
      - master
    changes:
      - front/**/*

deploy-dev:
  stage: deploy
  extends: .scalingo
  only:
    - dev
  script:
    - git push scalingo-dev $CI_COMMIT_BRANCH:master -f

deploy-staging:
  stage: deploy
  extends: .scalingo
  only:
    - master
  script:
    - git push scalingo-staging master -f

deploy-prod:
  stage: deploy
  extends: .scalingo
  when: manual
  only:
    - master
  script:
    - git push scalingo-prod master -f

[front] start tooltip
  front/src/common/components/table.tsx
  front/src/common/components/tooltip.tsx
Due: check-frontend

[api] add delete many endpoint for admin
  front/src/controls/actions/delete-many.tsx
  front/src/controls/api/admin.ts
  web/api/v5/admin/lots/__init__.py
  web/api/v5/admin/lots/delete_many.py
  web/api/v5/admin/lots/update_many.py
  web/core/common.py
  web/core/models.py
  web/core/traceability/__init__.py
  web/core/traceability/bulk_delete_traceability_nodes.py
  web/core/traceability/bulk_update_traceability_nodes.py
  web/core/traceability/group_nodes_by_model.py
  web/core/traceability/lot.py
  web/core/traceability/node.py
Due: check-backend, check-frontend

[api] send notifications to entities when admin updates or deletes lots
  web/api/v5/admin/lots/delete_many.py
  web/api/v5/admin/lots/update_many.py
  web/core/models.py
Due: check-backend

[api] add migrations for new events and notifications
  web/core/migrations/0010_alter_carburelotevent_event_type_and_more.py
Due: check-backend

[front] start update confirm modal
  front/src/controls/actions/update-many-confirmation.tsx
Due: check-frontend

[front] add notification et dry_run for deletion
  front/src/carbure/components/notifications.tsx
  front/src/carbure/types.ts
  front/src/controls/actions/delete-many.tsx
  front/src/controls/actions/update-many-confirmation.tsx
  front/src/controls/api/admin.ts
  front/src/controls/types.ts
Due: check-frontend

[front] update dropdown for tooltip component
  front/src/common/components/dropdown.tsx
  front/src/common/components/table.tsx
  front/src/common/components/tooltip.tsx
Due: check-frontend

[api] restore sql query for traceability tree
  .gitignore
  web/core/traceability/get_traceability_nodes.sql
Due: check-backend

[api] save comment in update/delete many notification
  web/api/v5/admin/lots/delete_many.py
  web/api/v5/admin/lots/update_many.py
Due: check-backend

[front] clean updates and deletions
  Front.code-workspace
  front/public/locales/en/translation.json
  front/public/locales/fr/translation.json
  front/src/carbure/components/notifications.tsx
  front/src/common/components/input.tsx
  front/src/controls/__test__/data.ts
  front/src/controls/actions/delete-many.tsx
  front/src/controls/actions/update-many-confirmation.tsx
  front/src/controls/actions/update-many-errors.tsx
  front/src/controls/types.ts
  web/api/v5/admin/lots/delete_many.py
  web/api/v5/admin/lots/update_many.py
Due: check-backend, check-frontend

[back] update entity address
  front/src/companies/components/add-entity-dialog.tsx
  front/src/settings/api/company.ts
  front/src/settings/components/company-info.tsx
  web/api/v5/__init__.py
  web/api/v5/settings/__init__.py
  web/api/v5/settings/entities.py
  web/core/migrations/0008_entity_registered_city_entity_registered_country_and_more.py
  web/core/models.py
  web/doublecount/serializers.py
Due: check-backend, check-frontend

[front] design tooltip - remain when change side
  front/src/common/components/table.module.css
  front/src/common/components/tooltip.module.css
  front/src/common/components/tooltip.tsx
Due: check-frontend

[api] remove cascade delete lots when deleting stocks
  web/core/migrations/0011_alter_carburelot_parent_lot_and_more.py
  web/core/models.py
  web/core/traceability/bulk_delete_traceability_nodes.py
Due: check-backend

[api] refactor checking node type in traceability stuff
  web/api/v5/admin/lots/update_many.py
  web/core/tests_traceability.py
  web/core/traceability/bulk_delete_traceability_nodes.py
  web/core/traceability/bulk_update_traceability_nodes.py
  web/core/traceability/group_nodes_by_model.py
  web/core/traceability/group_nodes_by_type.py
  web/core/traceability/lot.py
  web/core/traceability/node.py
  web/core/traceability/stock.py
  web/core/traceability/stock_transform.py
  web/core/traceability/ticket.py
  web/core/traceability/ticket_source.py
Due: check-backend

[front] wording fix producteur
  front/src/saf/components/ticket-source-details/fields.tsx
Due: check-frontend

[back] add entity_update test
  README.md
  web/api/v5/settings/tests/__init__.py
  web/api/v5/settings/tests/tests_update_entity.py
Due: check-backend

[back] use django form for update_entity
  web/api/v5/settings/entities.py
Due: check-backend

[api] fix DELIVERY_IN_THE_FUTURE sanity_check
  web/api/v4/sanity_checks.py
Due: check-backend

[api] do not add dc data to database when only checking files
  front/src/settings/utils/double-counting.ts
  web/api/v5/double_counting/check_files.py
  web/carbure/settings.py
  web/doublecount/dc_sanity_checks.py
  web/doublecount/helpers.py
Due: check-backend, check-frontend

[api] try to fix tests
  web/core/models.py
  web/core/tests_traceability.py
  web/core/traceability/stock.py
Due: check-backend

[api] fix tests
  web/core/tests_traceability.py
  web/core/traceability/stock.py
Due: check-backend
