Repository MTES-MCT/carbure: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-ci-image, check-backend, check-frontend

build-ci-image:
  stage: prepare
  image: docker:stable
  services:
  - docker:dind
  script:
  - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
  - docker build -f ci/Dockerfile -t $CI_REGISTRY/$CI_PROJECT_PATH/ci-image:latest .
  - docker push $CI_REGISTRY/$CI_PROJECT_PATH/ci-image:latest

check-backend:
  image: $CI_REGISTRY/$CI_PROJECT_PATH/ci-image:latest
  before_script:
  - mv /app/front/node_modules ./front
  stage: check
  services:
  - mysql:8.0
  - redis:latest
  script:
  - export CARBURE_HOME=$(pwd)
  - export DATABASE_URL=mysql://root:$MYSQL_ROOT_PASSWORD@mysql:3306/$MYSQL_DATABASE
  ...

check-frontend:
  image: $CI_REGISTRY/$CI_PROJECT_PATH/ci-image:latest
  before_script:
  - mv /app/front/node_modules ./front
  stage: check
  script:
  - cd front
  - npx eslint --ext .ts,.tsx src/
  - npm test

[api] add scoring calculations where it was missing
  web/api/v4/views.py
Due: check-backend

[api] refacto get stocks
  front/src/transactions/api.ts
  web/api/v4/sanity_checks.py
  web/api/v4/urls.py
  web/api/v4/views.py
  web/api/v5/__init__.py
  web/api/v5/declarations/invalidate.py
  web/api/v5/declarations/tests/tests_invalidate.py
  web/api/v5/declarations/validate.py
  web/transactions/__init__.py
  web/transactions/api/__init__.py
  web/transactions/api/lots/__init__.py
  web/transactions/api/lots/add.py
  web/transactions/api/lots/tests/__init__.py
  web/transactions/api/lots/tests/tests_create_draft.py
  web/transactions/api/stocks/__init__.py
  web/transactions/api/stocks/stocks.py
  web/transactions/api/stocks/tests_stocks.py
Due: check-backend, check-frontend

[front] fix SAF translations
  front/public/locales/en/translation.json
Due: check-frontend

[api] add endpoint v5/transactions/stocks/summary
  front/src/transactions/api.ts
  web/api/v4/urls.py
  web/api/v4/views.py
  web/transactions/api/stocks/__init__.py
  web/transactions/api/stocks/summary.py
  web/transactions/api/stocks/tests_stocks.py
Due: check-backend, check-frontend

[api] add transactions/stocks/details transactions/stocks/transform transactions/stocks/cance-transformation
  front/src/transaction-details/api.ts
  front/src/transactions/api.ts
  web/api/v4/urls.py
  web/api/v4/views.py
  web/transactions/api/stocks/__init__.py
  web/transactions/api/stocks/cancel_transformation.py
  web/transactions/api/stocks/details.py
  web/transactions/api/stocks/tests_stocks.py
  web/transactions/api/stocks/transform.py
Due: check-backend, check-frontend

[api] start split stock
  web/api/v4/tests_stocks.py
  web/api/v4/urls.py
  web/api/v4/views.py
  web/transactions/api/stocks/__init__.py
  web/transactions/api/stocks/split.py
  web/transactions/api/stocks/tests_stocks.py
Due: check-backend

[admin] exclude csp in admin page
  web/carbure/settings.py
Due: check-backend

[api] more reliable generation of carbure ids
  web/api/v4/views.py
  web/core/models.py
Due: check-backend

[api] split stocks
  front/src/transactions/api.ts
  web/transactions/api/stocks/tests_stocks.py
Due: check-backend, check-frontend

[api] v5 for stocks ok
  front/src/transactions/api.ts
  web/api/v4/tests_stocks.py
  web/api/v4/urls.py
  web/api/v4/views.py
  web/transactions/api/stocks/__init__.py
  web/transactions/api/stocks/filters.py
  web/transactions/api/stocks/flush.py
  web/transactions/api/stocks/tests_stocks.py
Due: check-backend, check-frontend

[api] add admin/map
  front/src/controls/actions/delivery-map.tsx
  web/admin/api/__init__.py
  web/admin/api/map/__init__.py
  web/admin/api/map/map.py
  web/admin/helpers.py
  web/api/v4/admin.py
  web/api/v4/urls.py
  web/api/v5/__init__.py
Due: check-backend, check-frontend

[api] admin entities
  front/src/companies/api.ts
  front/src/dashboard/api.ts
  web/admin/__init__.py
  web/admin/api/__init__.py
  web/admin/api/dashboard/__init__.py
  web/admin/api/dashboard/declarations.py
  web/admin/api/entities/__init__.py
  web/admin/api/entities/delete.py
  web/admin/api/entities/depots.py
  web/admin/api/entities/details.py
  web/admin/api/entities/entities.py
  web/admin/api/entities/production_sites.py
  web/admin/api/entities/tests_entities.py
  web/api/v3/admin/tests.py
  web/api/v3/admin/urls.py
  web/api/v3/admin/views.py
  web/api/v4/admin.py
  web/api/v4/urls.py
  web/transactions/api/stocks/tests_stocks.py
Due: check-backend, check-frontend

[api] clean /admin/entities/delete => never used > deleted
  web/admin/api/entities/__init__.py
  web/admin/api/entities/delete.py
  web/admin/api/entities/tests_entities.py
  web/api/v3/admin/urls.py
Due: check-backend

[api] run scoring when updating lots through admin mass edit
  web/api/v5/admin/lots/update_many.py
Due: check-backend

[api] start admin endpoints
  web/admin/api/__init__.py
  web/admin/api/entities/__init__.py
  web/api/v3/admin/views.py
  web/transactions/api/stocks/flush.py
Due: check-backend

[scripts] update script to remove deleted lots that reappeared
  scripts/patches/2023-04-03_fix_declared_deleted_lots.py
Due: none

[api] migration : add production_site to DCRegistration model
  web/certificates/migrations/0003_doublecountingregistration_production_site.py
  web/certificates/models.py
Due: check-backend

[api] rules to attached the right dc certificate to a batch
  README.md
  front/public/locales/en/errors.json
  front/public/locales/fr/errors.json
  front/src/lot-add/components/lot-form.tsx
  scripts/patches/2023-04-7_update_dc_registrations.py
  web/api/v4/lots.py
  web/api/v4/sanity_checks.py
  web/certificates/models.py
  web/core/carburetypes.py
Due: check-backend, check-frontend

[api] script to update dc certificate with linked production site
  README.md
  scripts/patches/2023-04-7_update_dc_registrations.py
Due: none

[api] fix handle dc certificate when add lot
  web/api/v4/lots.py
  web/api/v4/tests_certif_mayhem.py
  web/api/v4/tests_corrections.py
  web/api/v4/tests_lots_units.py
  web/api/v4/tests_ml_checks.py
  web/api/v4/tests_sanity_checks.py
Due: check-backend

[api] refacto admin/entities/certificates
  front/src/companies/api.ts
  front/src/companies/components/certificates.tsx
  web/admin/api/entities/__init__.py
  web/admin/api/entities/certificates/__init__.py
  web/admin/api/entities/certificates/certificates.py
  web/admin/api/entities/certificates/check.py
  web/admin/api/entities/certificates/reject.py
  web/admin/api/entities/depots.py
  web/admin/api/entities/production_sites.py
  web/api/v4/admin.py
  web/api/v4/urls.py
  web/transactions/api/stocks/tests_stocks.py
Due: check-backend, check-frontend

Path conditions:
  build-ci-image: any of: ci/Dockerfile, Pipfile, Pipfile.lock, front/package.json, front/package-lock.json
  check-backend: any of: web/**/*
  check-frontend: any of: front/**/*
