Repository MTES-MCT/carbure: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-ci-image, check-backend, check-frontend

build-ci-image:
  stage: prepare
  image: docker:stable
  services:
  - docker:dind
  script:
  - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
  - docker build -f ci/Dockerfile -t $CI_REGISTRY/$CI_PROJECT_PATH/ci-image:latest .
  - docker push $CI_REGISTRY/$CI_PROJECT_PATH/ci-image:latest

check-backend:
  image: $CI_REGISTRY/$CI_PROJECT_PATH/ci-image:latest
  before_script:
  - mv /app/front/node_modules ./front
  stage: check
  services:
  - mysql:8.0
  - redis:latest
  script:
  - export CARBURE_HOME=$(pwd)
  - export DATABASE_URL=mysql://root:$MYSQL_ROOT_PASSWORD@mysql:3306/$MYSQL_DATABASE
  ...

check-frontend:
  image: $CI_REGISTRY/$CI_PROJECT_PATH/ci-image:latest
  before_script:
  - mv /app/front/node_modules ./front
  stage: check
  script:
  - cd front
  - npx eslint --ext .ts,.tsx src/
  - npm test

[api] update full list of sanity checks
  web/transactions/sanity_checks/sanity_checks.py
Due: check-backend

[api] fix new sanity checks
  web/transactions/sanity_checks/general.py
  web/transactions/sanity_checks/helpers.py
  web/transactions/sanity_checks/sanity_checks.py
  web/transactions/sanity_checks/tests/tests_biofuel_feedstock.py
  web/transactions/sanity_checks/tests/tests_double_counting.py
  web/transactions/sanity_checks/tests/tests_general.py
  web/transactions/sanity_checks/tests/tests_ghg.py
  web/transactions/sanity_checks/tests/tests_mandatory.py
Due: check-backend

[api] refactor mandatory sanity checks
  web/api/v4/tests_sanity_checks.py
  web/transactions/sanity_checks/helpers.py
  web/transactions/sanity_checks/mandatory.py
  web/transactions/sanity_checks/sanity_checks.py
  web/transactions/sanity_checks/tests_mandatory.py
  web/transactions/sanity_checks/tests_sanity_checks.py
Due: check-backend

[api] refactor certifictes sanity checks
  web/transactions/sanity_checks/certificates.py
  web/transactions/sanity_checks/sanity_checks.py
  web/transactions/sanity_checks/tests_certificates.py
Due: check-backend

[api] refactor ghg sanity checks
  web/transactions/sanity_checks/ghg.py
  web/transactions/sanity_checks/helpers.py
  web/transactions/sanity_checks/sanity_checks.py
  web/transactions/sanity_checks/tests_ghg.py
  web/transactions/sanity_checks/tests_mandatory.py
  web/transactions/sanity_checks/tests_sanity_checks.py
Due: check-backend

[scripts] show details of which errors were generated on sanity cheks
  web/carbure/scripts/sanity_checks.py
Due: check-backend

[api] seprate general sanity checks
  web/transactions/sanity_checks/general.py
  web/transactions/sanity_checks/tests/tests_general.py
Due: check-backend

[api] update ep thresholds for error
  web/transactions/sanity_checks/ghg.py
Due: check-backend

[api] fix double counting sanity checks
  web/transactions/sanity_checks/double_counting.py
  web/transactions/sanity_checks/tests/tests_double_counting.py
Due: check-backend

[api] adjust allowed country of origins for some feedstock
  web/transactions/sanity_checks/biofuel_feedstock.py
Due: check-backend

[api] fix ghg sanity checks
  web/transactions/sanity_checks/ghg.py
  web/transactions/sanity_checks/tests/__init__.py
  web/transactions/sanity_checks/tests/tests_ghg.py
Due: check-backend

[api] clean up sanity checks
  web/transactions/sanity_checks/helpers.py
  web/transactions/sanity_checks/mandatory.py
  web/transactions/sanity_checks/tests_ghg.py
  web/transactions/sanity_checks/tests_sanity_checks.py
Due: check-backend

[api] add biofuel/feedstock sanity checks
  web/transactions/sanity_checks/biofuel_feedstock.py
  web/transactions/sanity_checks/tests/tests_biofuel_feedstock.py
Due: check-backend

[front] fix some errors on the lot form
  front/public/locales/en/errors.json
  front/public/locales/fr/errors.json
  front/src/lot-add/components/lot-form.tsx
Due: check-frontend

[api] move api v5 double counting check files endpoint
  web/api/v5/double_counting/__init__.py
  web/doublecount/api/__init__.py
  web/doublecount/api/check_files.py
Due: check-backend

[api] move admin v5 api endpoints to admin module
  web/admin/api/__init__.py
  web/admin/api/entities/__init__.py
  web/admin/api/entities/create.py
  web/admin/api/lots/__init__.py
  web/admin/api/lots/delete_many.py
  web/admin/api/lots/update_many.py
  web/api/v5/admin/__init__.py
  web/api/v5/admin/lots/__init__.py
Due: check-backend

[api] move entity stats endpoint
  front/src/stats/api.ts
  web/api/v5/__init__.py
  web/api/v5/stats/__init__.py
  web/entity/api/stats.py
Due: check-backend, check-frontend

[api] fix stats url imports
  web/saf/api/__init__.py
Due: check-backend

[api] cleanup api v5 folder
  web/api/migrations/__init__.py
  web/api/v5.py
Due: check-backend

[front] update endpoint for entity creation
  front/src/companies/api.ts
Due: check-frontend

[api] move update entity info endpoint
  front/src/settings/api/company.ts
  web/admin/api/__init__.py
  web/api/v5/settings/__init__.py
  web/api/v5/settings/tests/__init__.py
  web/entity/api/__init__.py
  web/entity/api/tests_update_info.py
  web/entity/api/update_info.py
Due: check-backend, check-frontend

[api] remove mypy checks from ci
  .gitlab-ci.yml
Due: none

Path conditions:
  build-ci-image: any of: ci/Dockerfile, Pipfile, Pipfile.lock, front/package.json, front/package-lock.json
  check-backend: any of: web/**/*
  check-frontend: any of: front/**/*
