Repository MTES-MCT/carbure: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-ci-image, check-backend, check-frontend

build-ci-image:
  stage: prepare
  image: docker:stable
  services:
  - docker:dind
  script:
  - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
  - docker build -f ci/Dockerfile -t $CI_REGISTRY/$CI_PROJECT_PATH/ci-image:latest .
  - docker push $CI_REGISTRY/$CI_PROJECT_PATH/ci-image:latest

check-backend:
  image: $CI_REGISTRY/$CI_PROJECT_PATH/ci-image:latest
  before_script:
  - mv /app/front/node_modules ./front
  stage: check
  services:
  - mysql:8.0
  - redis:latest
  script:
  - export CARBURE_HOME=$(pwd)
  - export DATABASE_URL=mysql://root:$MYSQL_ROOT_PASSWORD@mysql:3306/$MYSQL_DATABASE
  ...

check-frontend:
  image: $CI_REGISTRY/$CI_PROJECT_PATH/ci-image:latest
  before_script:
  - mv /app/front/node_modules ./front
  stage: check
  script:
  - cd front
  - npx eslint --ext .ts,.tsx src/
  - npm test

[api] add year_locked in anomalies
  front/src/transaction-details/components/lots/index.tsx
  web/api/v4/helpers.py
  web/api/v4/sanity_checks.py
  web/api/v4/tests_lots_flow.py
  web/api/v4/urls.py
  web/api/v4/views.py
  web/core/carburetypes.py
  web/core/common.py
  web/transactions/helpers.py
Due: check-backend, check-frontend

[api] fix sanity_check for locked_year and add error for api-v4-request-fix
  front/public/locales/en/errors.json
  front/public/locales/fr/errors.json
  front/src/transaction-details/components/lots/anomalies.tsx
  front/src/transaction-details/components/lots/index.tsx
  web/api/v4/helpers.py
  web/api/v4/sanity_checks.py
  web/api/v4/tests_corrections.py
  web/api/v4/tests_lots_flow.py
  web/api/v4/views.py
  web/transactions/helpers.py
Due: check-backend, check-frontend

[api] handle locked years for declaration-(in)validate
  web/api/v4/views.py
  web/api/v5/declarations/invalidate.py
  web/api/v5/declarations/tests/tests_invalidate.py
  web/api/v5/declarations/tests/tests_validate.py
  web/api/v5/declarations/validate.py
Due: check-backend

[front] add useNotifyError hook
  front/public/locales/en/errors-api.json
  front/public/locales/en/translation.json
  front/public/locales/fr/errors-api.json
  front/public/locales/fr/translation.json
  front/src/common/components/notifications.tsx
  front/src/i18n.ts
  front/src/transaction-details/components/lots/anomalies.tsx
  front/src/transactions/actions/declaration.tsx
Due: check-frontend

[front] notifyError for all focused endpoints
  front/public/locales/en/errors.json
  front/public/locales/en/translation.json
  front/public/locales/fr/errors-api.json
  front/public/locales/fr/errors.json
  front/src/transaction-details/components/lots/index.tsx
  front/src/transactions/actions/declaration.tsx
  front/src/transactions/actions/recall.tsx
  front/src/transactions/actions/request-fix.tsx
  web/api/v4/urls.py
  web/api/v4/views.py
Due: check-backend, check-frontend

[api + front] fix dgac update_right_request
  front/src/companies/api.ts
  front/src/companies/components/user-rights.tsx
  web/api/v3/admin/views.py
Due: check-backend, check-frontend

[front] display translate biofuel in SAF + add HCC + HCE + HCG
  front/public/locales/en/biofuels.json
  front/public/locales/en/translation.json
  front/public/locales/fr/biofuels.json
  front/public/locales/fr/translation.json
  front/src/saf/components/ticket-details/fields.tsx
  web/core/decorators.py
Due: check-backend, check-frontend

[api] fix review
  front/src/common/components/notifications.tsx
  web/api/v4/tests_utils.py
Due: check-backend, check-frontend

[backend] rollback whitenoise update
  Pipfile
  web/spa/middleware.py
  web/spa/storage.py
Due: build-ci-image, check-backend

[backend] update Pipfile.lock
  Pipfile.lock
Due: build-ci-image

[scripts] readd script to cleanup s3 backups
  scripts/database/s3cleanup.py
Due: none

[api] prevent recalling lots for locked years
  web/api/v4/views.py
Due: check-backend

disabled api v5 for transactions
  web/api/v5/__init__.py
  web/api/v5/transactions/__init__.py
  web/api/v5/transactions/lots/__init__.py
Due: check-backend

[front] filter to_checked certificates
  front/public/locales/en/translation.json
  front/public/locales/fr/translation.json
  front/src/companies/components/certificates.tsx
  front/src/companies/components/entity-summary.tsx
  front/src/companies/index.tsx
  front/src/companies/routes/entity-details.tsx
  front/src/saf/components/ticket-details/fields.tsx
  package.json
  web/api/v5/transactions/lots/tests/tests_create_draft.py
Due: check-backend, check-frontend

[front] tiny styling fixes
  front/src/common/components/input.module.css
  front/src/common/components/table.module.css
Due: check-frontend

[scripts] fix saf ticket source creation from lots
  web/saf/scripts/create_ticket_sources_from_declared_lots.py
Due: check-backend

[front] loacked year : fix wording
  front/public/locales/en/errors-api.json
  front/public/locales/en/errors.json
  front/public/locales/fr/errors.json
Due: check-frontend

[front] tooltip : add on saf and resize the icon
  front/public/locales/fr/errors-api.json
  front/src/common/components/input.tsx
  front/src/saf/components/durability-fields.tsx
Due: check-frontend

[api] add scoring calculations where it was missing
  web/api/v4/views.py
Due: check-backend

Path conditions:
  build-ci-image: any of: ci/Dockerfile, Pipfile, Pipfile.lock, front/package.json, front/package-lock.json
  check-backend: any of: web/**/*
  check-frontend: any of: front/**/*
