Repository MTES-MCT/carbure: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-ci-image, check-backend, check-frontend

.gitlab-ci.yml:

stages:
  - prepare
  - check
  - deploy

variables:
  MYSQL_DATABASE: carbure_mysql_test_db
  MYSQL_ROOT_PASSWORD: carbure_mysql_ci_db_password

# use prebuild CI image when running checks
.checks:
  image: $CI_REGISTRY/$CI_PROJECT_PATH/ci-image:latest
  before_script:
    - mv /app/front/node_modules ./front

# prepare git env to push new code to scalingo
.scalingo:
  image: alpine:latest
  before_script:
    - mkdir ~/.ssh
    - apk add --update git openssh-client
    - eval $(ssh-agent -s)
    - echo "$SCALINGO_SSH_PRIVATE_KEY" | tr -d '\r' | ssh-add -
    - ssh-keyscan $SCALINGO_SSH_HOST >> ~/.ssh/known_hosts
    - chmod 644 ~/.ssh/known_hosts
    - git config user.name $GIT_USER_NAME
    - git config user.email $GIT_USER_EMAIL
    - git remote add scalingo-dev $SCALINGO_GIT_REMOTE_DEV || true
    - git remote add scalingo-staging $SCALINGO_GIT_REMOTE_STAGING || true
    - git remote add scalingo-prod $SCALINGO_GIT_REMOTE_PROD || true
    - git fetch origin $CI_COMMIT_BRANCH --unshallow
    - git checkout $CI_COMMIT_BRANCH

build-ci-image:
  stage: prepare
  image: docker:stable
  services:
    - docker:dind
  script:
    - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
    - docker build -f ci/Dockerfile -t $CI_REGISTRY/$CI_PROJECT_PATH/ci-image:latest .
    - docker push $CI_REGISTRY/$CI_PROJECT_PATH/ci-image:latest
  only:
    changes:
      - ci/Dockerfile
      - Pipfile
      - Pipfile.lock
      - front/package.json
      - front/package-lock.json

check-backend:
  stage: check
  extends: .checks
  services:
    - mysql:8.0
    - redis:latest
  script:
    - export CARBURE_HOME=$(pwd)
    - export DATABASE_URL=mysql://root:$MYSQL_ROOT_PASSWORD@mysql:3306/$MYSQL_DATABASE
    - export REDIS_URL=redis://redis:6379
    - mypy web || true
    - TEST=1 python3 web/manage.py test web
  only:
    refs:
      - dev
      - master
    changes:
      - web/**/*

check-frontend:
  stage: check
  extends: .checks
  script:
    - cd front
    - npx eslint --ext .ts,.tsx src/
    - npm test
  only:
    refs:
      - dev
      - master
    changes:
      - front/**/*

deploy-dev:
  stage: deploy
  extends: .scalingo
  only:
    - dev
  script:
    - git push scalingo-dev $CI_COMMIT_BRANCH:master -f

deploy-staging:
  stage: deploy
  extends: .scalingo
  only:
    - master
  script:
    - git push scalingo-staging master -f

deploy-prod:
  stage: deploy
  extends: .scalingo
  when: manual
  only:
    - master
  script:
    - git push scalingo-prod master -f

[api] refacto admin/entities/certificates
  front/src/companies/api.ts
  front/src/companies/components/certificates.tsx
  web/admin/api/entities/__init__.py
  web/admin/api/entities/certificates/__init__.py
  web/admin/api/entities/certificates/certificates.py
  web/admin/api/entities/certificates/check.py
  web/admin/api/entities/certificates/reject.py
  web/admin/api/entities/depots.py
  web/admin/api/entities/production_sites.py
  web/api/v4/admin.py
  web/api/v4/urls.py
  web/transactions/api/stocks/tests_stocks.py
Due: check-backend, check-frontend

[api] refacto admin/entities/users enpoints and fix /admin/entities/production_sites
  front/src/companies/api.ts
  front/src/companies/routes/entity-details.tsx
  web/admin/api/entities/__init__.py
  web/admin/api/entities/production_sites.py
  web/admin/api/entities/tests_entities.py
  web/admin/api/entities/users/__init__.py
  web/admin/api/entities/users/rights_requests.py
  web/admin/api/entities/users/update_right_request.py
  web/admin/api/entities/users/users.py
  web/api/v3/admin/tests.py
  web/api/v3/admin/urls.py
  web/api/v3/admin/views.py
  web/api/v4/tests_utils.py
  web/core/decorators.py
Due: check-backend, check-frontend

[api] clean v3/admin
  front/src/companies/api.ts
  front/src/controls/actions/delete-many.tsx
  front/src/controls/actions/update-many-confirmation.tsx
  web/admin/api/entities/depots.py
  web/api/v3/admin/urls.py
  web/api/v3/admin/views.py
  web/api/v4/urls.py
Due: check-backend, check-frontend

[api] refacto notifications/ endpoints
  front/src/carbure/api.ts
  web/api/v4/urls.py
  web/api/v4/views.py
  web/api/v5/__init__.py
  web/notifications/__init__.py
  web/notifications/api/__init__.py
  web/notifications/api/ack.py
  web/notifications/api/notifications.py
Due: check-backend, check-frontend

[api] refacto /stats
  front/src/carbure/components/home.tsx
  web/api/v4/urls.py
  web/api/v4/views.py
  web/api/v5/__init__.py
  web/stats/__init__.py
  web/stats/api/__init__.py
  web/stats/api/stats.py
Due: check-backend, check-frontend

[api] refacto auth
  front/src/auth/api.ts
  web/api/v4/auth_views.py
  web/api/v4/urls.py
  web/api/v5/__init__.py
  web/auth/__init__.py
  web/auth/api/__init__.py
  web/auth/api/activate.py
  web/auth/api/login.py
  web/auth/api/logout.py
  web/auth/api/register.py
  web/auth/api/request_activation_link.py
  web/auth/api/request_otp.py
  web/auth/api/request_password_reset.py
  web/auth/api/reset_password.py
  web/auth/api/verify_otp.py
  web/notifications/api/__init__.py
  web/stats/api/__init__.py
  web/stats/api/stats.py
Due: check-backend, check-frontend

[api] refacto users
  front/src/account/__test__/api.ts
  front/src/account/api.ts
  front/src/auth/__test__/api.ts
  front/src/carbure/api.ts
  front/src/controls/__test__/api.ts
  front/src/settings/__test__/api.ts
  web/admin/api/entities/tests_entities.py
  web/api/v3/admin/tests.py
  web/api/v3/auditor/tests.py
  web/api/v3/common/tests.py
  web/api/v3/doublecount/new_tests.py
  web/api/v3/doublecount/tests.py
  web/api/v3/settings/tests.py
  web/api/v3/settings/urls.py
  web/api/v3/settings/views.py
  web/api/v4/tests_certif_mayhem.py
  web/api/v4/tests_corrections.py
  web/api/v4/tests_lots_flow.py
  web/api/v4/tests_lots_units.py
  web/api/v4/tests_ml_checks.py
  web/api/v4/tests_sanity_checks.py
  web/api/v4/tests_utils.py
  web/api/v5/__init__.py
  web/core/tests_utils.py
  web/transactions/api/lots/tests/tests_create_draft.py
  web/user/__init__.py
  web/user/api/__init__.py
  web/user/api/request_access.py
  web/user/api/revoke_access.py
  web/user/api/tests_user.py
  web/user/api/user.py
Due: check-backend, check-frontend

[api] refacto /resources
  front/src/carbure/__test__/api.ts
  front/src/carbure/api.ts
  front/src/settings/api/certificates.tsx
  web/api/v3/common/tests.py
  web/api/v3/common/urls.py
  web/api/v3/common/views.py
  web/api/v4/certificates.py
  web/api/v4/urls.py
  web/api/v5/__init__.py
  web/resources/__init__.py
  web/resources/api/__init__.py
  web/resources/api/biofuels.py
  web/resources/api/certificates.py
  web/resources/api/countries.py
  web/resources/api/depots.py
  web/resources/api/entities.py
  web/resources/api/feedstocks.py
  web/resources/api/operators.py
  web/resources/api/producers.py
  web/resources/api/production_sites.py
  web/resources/api/tests_resources.py
  web/resources/api/traders.py
Due: check-backend, check-frontend

[api] start refacto /entity /depots
  front/src/settings/__test__/api.ts
  front/src/settings/api/delivery-sites.ts
  web/api/v3/settings/tests.py
  web/api/v3/settings/urls.py
  web/api/v3/settings/views.py
  web/api/v5/__init__.py
  web/entity/__init__.py
  web/entity/api/__init__.py
  web/entity/api/certificates/__init__.py
  web/entity/api/depots/__init__.py
  web/entity/api/depots/add.py
  web/entity/api/depots/delete.py
  web/entity/api/depots/depots.py
  web/entity/api/depots/tests_depots.py
  web/entity/api/options/__init__.py
  web/entity/api/production_sites/__init__.py
  web/entity/api/users/__init__.py
Due: check-backend, check-frontend

[api] review refacto
  web/admin/api/entities/tests_entities.py
  web/admin/api/entities/users/__init__.py
  web/admin/api/map/map.py
  web/api/v3/admin/__init__.py
  web/api/v3/admin/tests.py
  web/api/v3/admin/urls.py
  web/api/v3/admin/views.py
  web/api/v3/common/__init__.py
  web/api/v3/common/tests.py
  web/api/v3/common/urls.py
  web/api/v3/common/views.py
  web/api/v3/settings/tests.py
  web/api/v3/urls.py
  web/api/v4/tests_certif_mayhem.py
  web/api/v4/tests_corrections.py
  web/api/v4/tests_lots_flow.py
  web/api/v4/tests_lots_units.py
  web/resources/api/tests_resources.py
  web/user/api/tests_user.py
Due: check-backend

[front] add MAC_NOT_EFPE error message
  front/public/locales/fr/errors.json
  web/transactions/helpers.py
Due: check-backend, check-frontend

[api/front] add notification certificate rejected
  README.md
  front/src/carbure/components/notifications.tsx
  front/src/carbure/types.ts
  scripts/patches/2023-04-7_update_dc_registrations.py
  web/admin/api/entities/certificates/reject.py
  web/carbure/scripts/send_notification_emails.py
  web/core/migrations/0013_alter_carburenotification_type.py
  web/core/models.py
  web/templates/emails/notifications.v3.html
  web/templates/emails/notifications.v3.txt
Due: check-backend, check-frontend

[api] update script to fix dc
  Back.code-workspace
  scripts/patches/2023-04-7_update_dc_registrations.py
Due: none

[api] fix locked year sanity_check under 2015
  web/api/v4/sanity_checks.py
Due: check-backend

[api] refacto entity production sites
  front/src/settings/__test__/api.ts
  front/src/settings/api/production-sites.ts
  web/api/v3/settings/tests.py
  web/api/v3/settings/urls.py
  web/api/v3/settings/views.py
  web/api/v4/certificates.py
  web/api/v4/urls.py
  web/entity/api/depots/tests_depots.py
  web/entity/api/production_sites/__init__.py
  web/entity/api/production_sites/add.py
  web/entity/api/production_sites/delete.py
  web/entity/api/production_sites/production_sites.py
  web/entity/api/production_sites/set_biofuels.py
  web/entity/api/production_sites/set_certificates.py
  web/entity/api/production_sites/set_feedstocks.py
  web/entity/api/production_sites/tests_production_sites.py
  web/entity/api/production_sites/update.py
Due: check-backend, check-frontend

[api] refacto entity-certificates
  front/src/settings/api/certificates.tsx
  web/api/v4/certificates.py
  web/api/v4/urls.py
  web/entity/api/__init__.py
  web/entity/api/certificates/__init__.py
  web/entity/api/certificates/add.py
  web/entity/api/certificates/certificates.py
  web/entity/api/certificates/delete.py
  web/entity/api/certificates/set_default.py
  web/entity/api/certificates/update.py
Due: check-backend, check-frontend

[api] merge settings toggle endpoints
  front/src/settings/__test__/api.ts
  front/src/settings/__test__/company.spec.tsx
  front/src/settings/api/company.ts
  web/api/v3/settings/tests.py
  web/api/v3/settings/urls.py
  web/api/v3/settings/views.py
  web/entity/api/production_sites/__init__.py
Due: check-backend, check-frontend

[api] refacto entity/options ok + userrights
  front/src/settings/__test__/api.ts
  front/src/settings/api/company.ts
  scripts/patches/2023-04-7_update_dc_registrations.py
  web/api/v3/settings/tests.py
  web/api/v3/settings/urls.py
  web/api/v3/settings/views.py
  web/api/v4/urls.py
  web/api/v4/views.py
  web/entity/api/options/__init__.py
  web/entity/api/options/direct_deliveries.py
  web/entity/api/options/rfc.py
  web/entity/api/options/stocks.py
  web/entity/api/options/tests_options.py
  web/entity/api/options/trading.py
  web/entity/api/options/unit.py
Due: check-backend, check-frontend

[front] fix get-my-certificates endpoint
  front/src/carbure/api.ts
Due: check-frontend

[api] refacto entity/users but with bug when test api.auth
  front/src/settings/__test__/api.ts
  front/src/settings/api/company.ts
  front/src/settings/api/user-rights.ts
  web/api/v3/settings/tests.py
  web/api/v3/settings/urls.py
  web/api/v3/settings/views.py
  web/api/v4/tests_settings.py
  web/api/v4/urls.py
  web/entity/api/options/__init__.py
  web/entity/api/options/release_for_consumption.py
  web/entity/api/options/tests_options.py
  web/entity/api/users/__init__.py
  web/entity/api/users/change_role.py
  web/entity/api/users/grant_access.py
  web/entity/api/users/revoke_access.py
  web/entity/api/users/tests_users.py
  web/entity/api/users/users.py
Due: check-backend, check-frontend

[api] fix force_text to force_str
  web/auth/api/activate.py
  web/auth/api/reset_password.py
Due: check-backend
