Repository MTES-MCT/carbure: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-ci-image, check-backend, check-frontend

.gitlab-ci.yml:

stages:
  - prepare
  - check
  - deploy

variables:
  MYSQL_DATABASE: carbure_mysql_test_db
  MYSQL_ROOT_PASSWORD: carbure_mysql_ci_db_password

# use prebuild CI image when running checks
.checks:
  image: $CI_REGISTRY/$CI_PROJECT_PATH/ci-image:latest
  before_script:
    - mv /app/front/node_modules ./front

# prepare git env to push new code to scalingo
.scalingo:
  image: alpine:latest
  before_script:
    - mkdir ~/.ssh
    - apk add --update git openssh-client
    - eval $(ssh-agent -s)
    - echo "$SCALINGO_SSH_PRIVATE_KEY" | tr -d '\r' | ssh-add -
    - ssh-keyscan $SCALINGO_SSH_HOST >> ~/.ssh/known_hosts
    - chmod 644 ~/.ssh/known_hosts
    - git config user.name $GIT_USER_NAME
    - git config user.email $GIT_USER_EMAIL
    - git remote add scalingo-dev $SCALINGO_GIT_REMOTE_DEV || true
    - git remote add scalingo-staging $SCALINGO_GIT_REMOTE_STAGING || true
    - git remote add scalingo-prod $SCALINGO_GIT_REMOTE_PROD || true
    - git fetch origin $CI_COMMIT_BRANCH --unshallow
    - git checkout $CI_COMMIT_BRANCH

build-ci-image:
  stage: prepare
  image: docker:stable
  services:
    - docker:dind
  script:
    - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
    - docker build -f ci/Dockerfile -t $CI_REGISTRY/$CI_PROJECT_PATH/ci-image:latest .
    - docker push $CI_REGISTRY/$CI_PROJECT_PATH/ci-image:latest
  only:
    changes:
      - ci/Dockerfile
      - Pipfile
      - Pipfile.lock
      - front/package.json
      - front/package-lock.json

check-backend:
  stage: check
  extends: .checks
  services:
    - mysql:8.0
    - redis:latest
  script:
    - export CARBURE_HOME=$(pwd)
    - export DATABASE_URL=mysql://root:$MYSQL_ROOT_PASSWORD@mysql:3306/$MYSQL_DATABASE
    - export REDIS_URL=redis://redis:6379
    - mypy web || true
    - TEST=1 python3 web/manage.py test web
  only:
    refs:
      - dev
      - master
    changes:
      - web/**/*

check-frontend:
  stage: check
  extends: .checks
  script:
    - cd front
    - npx eslint --ext .ts,.tsx src/
    - npm test
  only:
    refs:
      - dev
      - master
    changes:
      - front/**/*

deploy-dev:
  stage: deploy
  extends: .scalingo
  only:
    - dev
  script:
    - git push scalingo-dev $CI_COMMIT_BRANCH:master -f

deploy-staging:
  stage: deploy
  extends: .scalingo
  only:
    - master
  script:
    - git push scalingo-staging master -f

deploy-prod:
  stage: deploy
  extends: .scalingo
  when: manual
  only:
    - master
  script:
    - git push scalingo-prod master -f

[api] remove unique constraint on provision certificates
  web/elec/migrations/0029_alter_elecprovisioncertificate_unique_together.py
  web/elec/models/elec_provision_certificate.py
Due: check-backend

[back] fix email not send to users when not prod
  web/core/helpers.py
  web/entity/api/admin/users/update_right_request.py
  web/entity/helpers.py
Due: check-backend

[back] fix email enable company
  web/entity/api/registration/add_company.py
  web/entity/helpers.py
Due: check-backend

[back] merge migrations and fix email test
  web/elec/migrations/0030_merge_20240425_1159.py
  web/entity/api/registration/add_company.py
Due: check-backend

[api] add search to saf tickets in django admin
  web/saf/admin.py
Due: check-backend

[api] fix showing PRM only for article 2 charge points and MID for others in audit report
  web/elec/services/export_charge_point_excel.py
Due: check-backend

[api] fix dc export valid_until date
  web/doublecount/api/admin/agreements/agreements.py
Due: check-backend

update docker file
  ci/Dockerfile
  web/Dockerfile
Due: build-ci-image, check-backend

try fix ci test
  .gitlab-ci.yml
Due: none

[api] remove dead code
  web/core/utils.py
  web/elec/api/cpo/charge_points/add_application.py
  web/elec/api/cpo/charge_points/check_application.py
  web/elec/scripts/refresh_charge_point_data.py
Due: check-backend

[api] fix precedence order in ghg snity checks
  web/transactions/sanity_checks/ghg.py
Due: check-backend

[api] fix article 2 AGAIN
  web/elec/services/import_charge_point_excel.py
  web/elec/services/transport_data_gouv.py
Due: check-backend

[api] drop duplicates in meter readings excel
  web/elec/services/import_meter_reading_excel.py
Due: check-backend

[ops] update docker files
  ci/Dockerfile
  web/Dockerfile
Due: build-ci-image, check-backend

[api] update python dependencies
  Pipfile
  Pipfile.lock
Due: build-ci-image

[api] remove use of .iterator() on queryset where it's not needed
  scripts/archive/fix_lots_with_two_parents.py
  web/core/helpers.py
  web/core/traceability/get_traceability_nodes.py
  web/entity/api/admin/entities.py
  web/saf/api/operator/tests/tests_ticket_sources.py
  web/saf/models/saf_ticket_source.py
  web/transactions/api/admin/declarations.py
  web/transactions/api/admin/lots/comment.py
  web/transactions/api/audit/lots/comment.py
  web/transactions/api/lots/accept_blending.py
  web/transactions/api/lots/accept_consumption.py
  web/transactions/api/lots/accept_direct_delivery.py
  web/transactions/api/lots/accept_export.py
  web/transactions/api/lots/accept_in_stock.py
  web/transactions/api/lots/accept_processing.py
  web/transactions/api/lots/accept_release_for_consumption.py
  web/transactions/api/lots/accept_trading.py
  web/transactions/api/lots/cancel_accept.py
  web/transactions/api/lots/comment.py
  web/transactions/api/lots/reject.py
  web/transactions/sanity_checks/helpers.py
Due: check-backend

[api] adapt charge point import to new pandas rules
  web/elec/services/import_charge_point_excel.py
Due: check-backend

[ci] re
  ci/Dockerfile
  web/Dockerfile
Due: build-ci-image, check-backend

[ci] re
  .gitlab-ci.yml
Due: none
