Repository MTES-MCT/carbure: changes, and which GitLab CI jobs are due for each by the changed paths.
All: check-backend, check-frontend

check-backend:
  image: python:3.12
  cache:
  - key:
      files:
      - Pipfile.lock
    paths:
    - .cache/pip/
    - .venv/
  before_script:
  - pip install pipenv
  - pipenv install --dev --deploy --ignore-pipfile
  stage: check
  services:
  - mysql:8.0
  - redis:latest
  script:
  - export CARBURE_HOME=$(pwd)
  ...

check-frontend:
  image: node:latest
  cache:
  - key:
      files:
      - front/package-lock.json
    paths:
    - front/.npm/
  before_script:
  - cd front
  - npm ci --cache .npm --prefer-offline
  stage: check
  script:
  - npm run lint
  - npm run build
  - npx chromatic
  interruptible: true

refactor: update request otp endpoint
  api-schema.yaml
  front/src/api-schema.ts
  front/src/auth/api.ts
  web/auth/views/mixins/request_otp.py
Due: check-backend, check-frontend

refactor: update verify otp endpoint
  front/src/auth/api.ts
Due: check-frontend

refactor: update request reset password endpoint
  front/src/auth/api.ts
Due: check-frontend

refactor: update reset password endpoint
  front/src/auth/api.ts
Due: check-frontend

refactor: update request activation link endpoint
  front/src/auth/api.ts
Due: check-frontend

refactor: update activate account endpoint
  api-schema.yaml
  front/src/api-schema.ts
  front/src/auth/api.ts
  front/src/auth/components/activate.tsx
  web/auth/serializers/activate.py
  web/auth/views/mixins/activate.py
Due: check-backend, check-frontend

fix: request otp http method
  api-schema.yaml
  front/src/api-schema.ts
  front/src/auth/api.ts
  web/auth/views/mixins/request_otp.py
Due: check-backend, check-frontend

fix: make logout GET again
  api-schema.yaml
  front/src/api-schema.ts
  front/src/auth/api.ts
  web/auth/views/mixins/logout.py
Due: check-backend, check-frontend

fix: typo
  web/doublecount/urls.py
  web/doublecount/views/__init__.py
  web/doublecount/views/applications/__init__.py
  web/doublecount/views/applications/application.py
Due: check-backend

Delete api directory
  web/doublecount/api/admin/agreements/__init__.py
  web/doublecount/api/admin/agreements/agreement_details.py
  web/doublecount/api/admin/applications/__init__.py
  web/doublecount/api/admin/applications/add.py
  web/doublecount/api/admin/applications/application.py
  web/doublecount/api/admin/applications/applications.py
  web/doublecount/api/admin/applications/approve_application.py
  web/doublecount/api/admin/applications/check_files.py
  web/doublecount/api/admin/applications/export_application.py
  web/doublecount/api/admin/applications/reject_application.py
  web/doublecount/api/admin/applications/update_quotas.py
Due: check-backend

refactor: use new typed endpoint for dc agreements
  front/src/double-counting/api.ts
Due: check-frontend

fix: frontend type mismatch
  front/src/double-counting-admin/components/agreements/agreement-details-dialog.tsx
  front/src/double-counting-admin/components/applications/application-details-dialog.tsx
  front/src/double-counting/components/agreement-details-dialog.tsx
  front/src/double-counting/components/application-details-dialog.tsx
  front/src/double-counting/components/application-status.tsx
  front/src/double-counting/components/settings.tsx
  front/src/double-counting/types.ts
Due: check-frontend

chore: update api schema
  api-schema.yaml
  front/src/api-schema.ts
Due: check-frontend

refactor: adapt get dc application details
  api-schema.yaml
  front/src/api-schema.ts
  front/src/double-counting/api.ts
  front/src/double-counting/components/application-details-dialog.tsx
  front/src/double-counting/components/settings.tsx
  front/src/double-counting/types.ts
  web/doublecount/serializers.py
  web/doublecount/views/applications/application.py
  web/doublecount/views/applications/mixins/retrive.py
Due: check-backend, check-frontend

fix: extended enum typing for dca status
  front/src/double-counting/components/application-status.tsx
Due: check-frontend

chore: regenerate api schema
  api-schema.yaml
  front/src/api-schema.ts
Due: check-frontend

refactor: use new public dc agreement list endpoint
  api-schema.yaml
  front/src/api-schema.ts
  front/src/double-counting/api.ts
  front/src/double-counting/components/agreement-public-list.tsx
  front/src/double-counting/types.ts
  front/src/registry/components/double-counting.tsx
  web/certificates/serializers.py
Due: check-backend, check-frontend

fix: adapt backend types
  web/carbure/settings.py
  web/doublecount/serializers.py
Due: check-backend

refactor: adapt dc check file endpoint
  api-schema.yaml
  front/src/api-schema.ts
  front/src/double-counting/api.ts
  front/src/double-counting/components/application-checker/errors-details-dialog.tsx
  front/src/double-counting/components/upload-dialog.tsx
  front/src/double-counting/types.ts
  web/doublecount/views/applications/mixins/check_file.py
  web/doublecount/views/applications/mixins/response_serializer.py
Due: check-backend, check-frontend

refactor: adapt dc admin agreement list endpoint
  api-schema.yaml
  front/src/api-schema.ts
  front/src/double-counting-admin/api.ts
  front/src/double-counting-admin/components/agreements/agreement-list.tsx
  front/src/double-counting/types.ts
  web/certificates/serializers.py
Due: check-backend, check-frontend

refactor: adapt dc admin list application endpoint
  api-schema.yaml
  front/src/api-schema.ts
  front/src/double-counting-admin/api.ts
  front/src/double-counting-admin/components/applications/application-list.tsx
  front/src/double-counting/types.ts
  web/doublecount/serializers.py
  web/doublecount/views/applications/mixins/lists.py
Due: check-backend, check-frontend

refactor: adapt dc admin application download link
  front/src/double-counting-admin/components/applications/application-download-button.tsx
Due: check-frontend

feat(dc): #1117 save production history data in new table
  web/doublecount/helpers.py
  web/doublecount/migrations/0018_alter_doublecountingsourcinghistory_options_and_more.py
  web/doublecount/models.py
  web/doublecount/parser/dc_parser.py
  web/doublecount/parser/parse_production.py
  web/doublecount/serializers.py
  web/doublecount/tests/applications/tests_applications_user.py
  web/doublecount/views/applications/mixins/add_application.py
  web/doublecount/views/applications/mixins/check_file.py
Due: check-backend

refactor: adapt dc add application endpoint
  front/src/double-counting/api.ts
  front/src/double-counting/components/send-application-dialog.tsx
Due: check-frontend

refactor: adapt dc admin application upload endpoint
  front/src/double-counting-admin/api.ts
Due: check-frontend

fix: adapt front to new double counting types
  front/src/double-counting-admin/api.ts
  front/src/double-counting-admin/components/agreements/agreement-list.tsx
  front/src/double-counting-admin/components/applications/application-details-dialog.tsx
  front/src/double-counting-admin/components/applications/application-list.tsx
Due: check-frontend

refactor: adapt dc admin application details endpoint
  front/src/double-counting-admin/api.ts
  front/src/double-counting-admin/components/applications/application-details-dialog.tsx
Due: check-frontend

refactor: adapt dc admin multi application check endpoint
  front/src/double-counting-admin/api.ts
  front/src/double-counting-admin/components/files-checker/files-checker-dialog.tsx
Due: check-frontend

refactor: adapt dc admin approve application endpoint
  front/src/double-counting-admin/api.ts
Due: check-frontend

fix: readd amidon waste to dc checks
  web/doublecount/views/applications/mixins/check_file.py
  web/doublecount/views/applications/mixins/utils.py
Due: check-backend

refactor: adapt dc admin application quota update endpoint
  front/src/double-counting-admin/api.ts
  front/src/double-counting-admin/components/applications/application-details-dialog.tsx
Due: check-frontend

refactor: adapt dc admin reject application endpoint
  front/src/double-counting-admin/api.ts
Due: check-frontend

feat(dc): #1117 add tests for production history
  web/doublecount/dc_sanity_checks.py
  web/doublecount/helpers.py
  web/doublecount/models.py
  web/doublecount/tests/applications/tests_applications_user.py
  web/fixtures/csv/test_data/dc_agreement_application_errors_prod_integrity.xlsx
Due: check-backend

refactor: adapt dc admin agreement detail endpoint
  front/src/double-counting-admin/api.ts
  front/src/double-counting-admin/components/agreements/agreement-details-dialog.tsx
Due: check-frontend

feat: display production history errors on dc front
  api-schema.yaml
  front/src/api-schema.ts
  front/src/double-counting/components/application-checker/errors-details-dialog.tsx
  front/src/double-counting/components/production-history-table.tsx
  front/src/double-counting/types.ts
  web/doublecount/views/applications/mixins/check_files.py
  web/doublecount/views/applications/mixins/response_serializer.py
Due: check-backend, check-frontend

refactor: adapt dc agreement details endpoint
  api-schema.yaml
  front/src/api-schema.ts
  front/src/double-counting-admin/components/agreements/agreement-status.tsx
  front/src/double-counting/api.ts
  front/src/double-counting/components/agreement-details-dialog.tsx
  front/src/double-counting/types.ts
  web/carbure/settings.py
  web/certificates/models.py
  web/certificates/serializers.py
Due: check-backend, check-frontend

feat(dc): handling errors in history import script
  web/doublecount/dc_sanity_checks.py
  web/doublecount/helpers.py
  web/doublecount/management/commands/import_sourcing_and_production_history.py
  web/doublecount/parser/helpers.py
  web/doublecount/parser/parse_production.py
  web/doublecount/parser/parse_sourcing_forecast.py
  web/doublecount/parser/parse_sourcing_history.py
  web/doublecount/tests/applications/tests_applications_user.py
Due: check-backend

Path conditions:
  check-backend: any of: web/**/*, .gitlab-ci.yml
  check-frontend: any of: front/**/*, .gitlab-ci.yml
