Repository MTES-MCT/carbure: changes, and which GitLab CI jobs are due for each by the changed paths.
All: check-backend, check-frontend

check-backend:
  image: python:3.12
  cache:
  - key:
      files:
      - Pipfile.lock
    paths:
    - .cache/pip/
    - .venv/
  before_script:
  - pip install pipenv
  - pipenv install --dev --deploy --ignore-pipfile
  stage: check
  services:
  - mysql:8.0
  - redis:latest
  script:
  - export CARBURE_HOME=$(pwd)
  ...

check-frontend:
  image: node:latest
  cache:
  - key:
      files:
      - front/package-lock.json
    paths:
    - front/.npm/
  before_script:
  - cd front
  - npm ci --cache .npm --prefer-offline
  stage: check
  script:
  - npm run lint

feat: continue refactoring endpoints saf
  front/package.json
  front/src/common/hooks/query-builder-2.ts
  front/src/saf/pages/airline/api.ts
  front/src/saf/pages/airline/index.tsx
  front/src/saf/pages/airline/tickets.tsx
  front/src/saf/types.ts
Due: check-frontend

feat(openapi-to-ts): generate ts schema from openapi spec
  front/carbure-api.yaml
  front/package-lock.json
  front/package.json
  front/src/common/services/api-fetch.ts
  front/src/common/services/carbure-api.schema.d.ts
Due: check-frontend

feat: openapi ts ready to use
  api-schema.yaml
  front/package.json
  front/src/api-schema.d.ts
  front/src/common/services/api-fetch.ts
  front/src/common/services/carbure-api.schema.d.ts
  front/src/saf/pages/airline/api.ts
  front/tsconfig.json
  package.json
Due: check-frontend

feat: fix the generic type for useYears saf
  api-schema.yaml
  front/src/api-schema.d.ts
  front/src/common/services/api-axios.ts
  front/src/common/services/api-fetch.ts
  front/src/common/services/api-fetch.types.ts
  front/src/saf/hooks/years.tsx
  front/src/saf/pages/airline/api.ts
  front/src/saf/pages/airline/index.tsx
Due: check-frontend

feat: continue change endpoints saf
  front/src/common/services/api-fetch.types.ts
  front/src/saf/pages/airline/api.ts
  front/src/saf/pages/airline/index.tsx
  front/src/saf/types.ts
Due: check-frontend

feat: fix tsc error
  front/.eslintrc.json
  front/package.json
  front/src/common/components/input.tsx
  front/src/common/components/table.tsx
  front/src/common/components/tabs.tsx
  front/src/common/hooks/store.ts
  front/src/common/hooks/years.tsx
  front/src/common/services/api-fetch.ts
  front/src/common/utils/formatters.ts
  front/src/control-details/components/lot.tsx
  front/src/controls/actions/update-many-errors.tsx
  front/src/double-counting-admin/components/applications/application-details-dialog.tsx
  front/src/double-counting/components/year-table.tsx
  front/src/elec-admin/pages/provision-certificates/index.tsx
  front/src/elec-audit-admin/components/sample/application-generation.tsx
  front/src/elec-auditor/components/details-pending.tsx
  front/src/saf/components/assignment/grouped-assignment.tsx
  front/src/saf/pages/airline/api.ts
  front/src/settings/__test__/server.ts
  front/src/transaction-details/components/lots/history.tsx
  front/src/transaction-details/components/lots/index.tsx
  front/src/transactions/__test__/helpers.ts
  front/src/transactions/actions/duplicate.tsx
  front/src/transactions/components/lots/lot-table.tsx
  front/tsconfig.json
Due: check-frontend

[back] add suppliers and fix swagger
  web/saf/filters/ticket.py
  web/saf/views/extra/snapshot.py
  web/saf/views/ticket/mixins/filter.py
  web/saf/views/ticket_source/mixins/filter.py
Due: check-backend

[back] fix swagger
  web/saf/views/extra/snapshot.py
Due: check-backend

refactor(biofuel): don't run content migration if TEST mode
  web/transactions/migrations/0005_move_data_to_site_model_backup.py
Due: check-backend

[back] add filter param
  web/saf/views/ticket/mixins/filter.py
Due: check-backend

fix(elec): do not create elecmeter when not wanted
  web/elec/api/cpo/charge_points/add_application.py
  web/elec/api/cpo/charge_points/tests_charge_points.py
  web/elec/repositories/charge_point_repository.py
Due: check-backend

Fix(elec): browser freezes on elec forms
  web/elec/admin.py
Due: check-backend

Fix: browser freezes on elec forms
  web/elec/admin.py
Due: check-backend

fix(login): check if user is authenticated before create session
  web/auth/api/login.py
Due: check-backend

[back] continue transaction refactoring
  web/apikey/__init__.py
  web/apikey/admin.py
  web/apikey/apps.py
  web/apikey/authentication.py
  web/apikey/middleware.py
  web/apikey/migrations/0001_initial.py
  web/apikey/migrations/0002_apikey_name.py
  web/apikey/migrations/__init__.py
  web/apikey/models.py
  web/apikey/serializers.py
  web/apikey/tests.py
  web/apikey/urls.py
  web/apikey/views.py
  web/carbure/api/__init__.py
  web/carbure/settings.py
  web/transactions/filters/lots.py
  web/transactions/filters/stocks.py
  web/transactions/permissions/__init__.py
  web/transactions/permissions/user_rights.py
  web/transactions/views/lots/lots.py
  web/transactions/views/lots/mixins/add_comment.py
  web/transactions/views/lots/mixins/crud/add.py
  web/transactions/views/lots/mixins/crud/delete.py
  web/transactions/views/lots/mixins/crud/list.py
  web/transactions/views/lots/mixins/crud/retrieve.py
  web/transactions/views/lots/mixins/crud/update.py
  web/transactions/views/lots/mixins/toggle_warning.py
  web/transactions/views/stocks/mixins/flush.py
  web/transactions/views/stocks/mixins/transform.py
  web/transactions/views/stocks/stocks.py
Due: check-backend

fix(ci): force python version to 3.12
  Pipfile
  Pipfile.lock
Due: none

fix(elec): delete on cascade elecmeter when deleting charge point
  web/elec/migrations/0045_alter_elecmeter_charge_point.py
  web/elec/models/elec_meter.py
Due: check-backend

feat(elec): prepare modal update single charge point
  front/src/elec-charge-points/pages/list/[id]/update/index.tsx
  front/src/elec-charge-points/pages/list/index.tsx
  front/src/elec-charge-points/pages/list/table/index.tsx
Due: check-frontend

feat(elec): delete charge point
  front/public/locales/fr/translation.json
  front/src/elec-charge-points/pages/list/charge-point/[id]/update/api.ts
  front/src/elec-charge-points/pages/list/charge-point/[id]/update/delete-charge-point-dialog.tsx
  front/src/elec-charge-points/pages/list/charge-point/[id]/update/index.tsx
  front/src/elec-charge-points/pages/list/charge-point/[id]/update/meters-history.tsx
  web/elec/api/cpo/charge_point_snapshot.py
Due: check-backend, check-frontend

feat(elec): add modal change PRM
  front/public/locales/fr/translation.json
  front/src/elec-charge-points/pages/list/charge-point/[id]/update/change-meter/index.tsx
  front/src/elec-charge-points/pages/list/charge-point/[id]/update/change-prm/index.tsx
  front/src/elec-charge-points/pages/list/charge-point/[id]/update/index.tsx
  front/src/elec-charge-points/pages/list/charge-point/[id]/update/types.ts
  front/src/elec-charge-points/types.ts
Due: check-frontend

fix(elec): fix error after rebase
  front/src/elec-charge-points/types.ts
Due: check-frontend

feat(elec meter history): display the list of meters for a charge point
  front/public/locales/fr/translation.json
  front/src/common/components/alert.module.css
  front/src/elec-charge-points/pages/list/charge-point/[id]/update/api.ts
  front/src/elec-charge-points/pages/list/charge-point/[id]/update/change-meter/accept-change-meter.tsx
  front/src/elec-charge-points/pages/list/charge-point/[id]/update/change-prm/accept-change-prm.tsx
  front/src/elec-charge-points/pages/list/charge-point/[id]/update/index.tsx
  front/src/elec-charge-points/pages/list/charge-point/[id]/update/meters-history.tsx
  front/src/elec-charge-points/types.ts
Due: check-frontend

feat: terminate update meter
  front/public/locales/fr/translation.json
  front/src/common/components/form.module.css
  front/src/common/components/input.module.css
  front/src/elec-charge-points/pages/list/charge-point/[id]/update/change-meter/accept-change-meter.tsx
  front/src/elec-charge-points/pages/list/charge-point/[id]/update/change-meter/index.tsx
  front/src/elec-charge-points/pages/list/charge-point/[id]/update/index.tsx
  front/src/elec-charge-points/pages/list/index.tsx
Due: check-frontend

feat(elec): change PRM
  front/public/locales/fr/translation.json
  front/src/elec-charge-points/pages/list/charge-point/[id]/update/api.ts
  front/src/elec-charge-points/pages/list/charge-point/[id]/update/change-prm/accept-change-prm.tsx
  front/src/elec-charge-points/pages/list/charge-point/[id]/update/change-prm/index.tsx
Due: check-frontend

feat(elec): terminate update charge point
  front/public/locales/fr/translation.json
  front/src/elec-charge-points/pages/list/charge-point/[id]/update/api.ts
  front/src/elec-charge-points/pages/list/charge-point/[id]/update/delete-charge-point-dialog.tsx
  front/src/elec-charge-points/pages/list/charge-point/[id]/update/index.tsx
  front/src/elec-charge-points/pages/list/charge-point/[id]/update/types.ts
Due: check-frontend

feat(elec): continue form update charge point
  front/public/locales/en/translation.json
  front/public/locales/fr/translation.json
  front/src/common/components/input.module.css
  front/src/common/globals.ts
  front/src/elec-charge-points/components/charge-point-list-table/index.hooks.tsx
  front/src/elec-charge-points/pages/list/charge-point/[id]/update/index.tsx
  front/src/elec-charge-points/pages/list/charge-point/[id]/update/update-meter.tsx
  front/src/elec-charge-points/types.ts
Due: check-frontend

refactor: try a new way to separate components
  front/src/common/components/input.module.css
  front/src/elec-charge-points/components/charge-point-list-table/index.hooks.tsx
  front/src/elec-charge-points/components/charge-point-list-table/index.tsx
  front/src/elec-charge-points/components/charge-point-list-table/is-article-2.tsx
  front/src/elec-charge-points/components/charge-point-status-switcher/index.tsx
  front/src/elec-charge-points/components/charge-point-status-tag/index.tsx
  front/src/elec-charge-points/hooks/charge-point-status.hooks.ts
  front/src/elec-charge-points/pages/list/[id]/update/index.tsx
  front/src/elec-charge-points/pages/list/charge-point/[id]/update/api.ts
  front/src/elec-charge-points/pages/list/charge-point/[id]/update/index.tsx
  front/src/elec-charge-points/pages/list/index.hooks.ts
  front/src/elec-charge-points/pages/list/index.tsx
  front/src/elec-charge-points/pages/list/types.ts
  front/src/elec-charge-points/types.ts
Due: check-frontend

Path conditions:
  check-backend: any of: web/**/*, .gitlab-ci.yml
  check-frontend: any of: front/**/*, .gitlab-ci.yml
