Repository MTES-MCT/carbure: changes, and which GitLab CI jobs are due for each by the changed paths.
All: check-backend, check-frontend

.gitlab-ci.yml:

stages:
  - check


workflow:
  rules:
    # 1. Don't run pipelines for MR drafts.
    - if: $CI_PIPELINE_SOURCE == "merge_request_event" && $CI_MERGE_REQUEST_TITLE =~ /^Draft:/
      when: never

    # 2. Don't run branch pipelines when there's an open MR for the branch (run the MR pipeline instead).
    - if: $CI_COMMIT_BRANCH && $CI_OPEN_MERGE_REQUESTS
      when: never

    # 3. Run all other MR pipelines
    - if: $CI_PIPELINE_SOURCE == 'merge_request_event'
      when: always

    # 4. Run branch pipelines for dev and master
    - if: $CI_COMMIT_BRANCH == "dev" || $CI_COMMIT_BRANCH == "master"
      when: always

    # 5. Else, don't run it
    - when: never


variables:
  MYSQL_DATABASE: carbure_mysql_test_db
  MYSQL_ROOT_PASSWORD: carbure_mysql_ci_db_password
  PIP_CACHE_DIR: "$CI_PROJECT_DIR/.cache/pip"
  PIPENV_VENV_IN_PROJECT: true


# job: run linting and tests for backend
check-backend:
  stage: check
  extends: .backend
  services:
    - mysql:8.0
    - redis:latest
  script:
    - export CARBURE_HOME=$(pwd)
    - export DATABASE_URL=mysql://root:$MYSQL_ROOT_PASSWORD@mysql:3306/$MYSQL_DATABASE
    - export REDIS_URL=redis://redis:6379
    - pipenv run ruff check
    - pipenv run ruff format --check
    - TEST=1 pipenv run python web/manage.py test web


# job: run linting and tests for frontend
check-frontend:
  stage: check
  extends: .frontend
  script:
    - npm run lint
    - npm run build
    - npx chromatic
  interruptible: true


.backend:
  image: python:3.12
  cache:
    - key:
        files:
          - Pipfile.lock
      paths:
        - .cache/pip/
        - .venv/
  before_script:
    - pip install pipenv
    - pipenv install --dev --deploy --ignore-pipfile
  rules:
    - changes:
      - web/**/*
      - .gitlab-ci.yml


.frontend:
  image: node:latest
  cache:
    - key:
        files:
          - front/package-lock.json
      paths:
        - front/.npm/
  before_script:
    - cd front
    - npm ci --cache .npm --prefer-offline
  rules:
    - changes:
      - front/**/*
      - .gitlab-ci.yml

feat(saf): add admin access to extra endpoints
  web/saf/views/extra/snapshot.py
  web/saf/views/extra/years.py
Due: check-backend

cleanup(saf): export excel helpers
  web/saf/views/ticket/mixins/export.py
  web/saf/views/ticket_source/mixins/export.py
Due: check-backend

feat(saf): simplify access to SAF pages
  front/src/common/hooks/entity.ts
  front/src/common/index.tsx
  front/src/common/layouts/navigation/private/sidebar/hooks/useSaf.ts
Due: check-frontend

feat: change collation of sites table
  web/transactions/migrations/0015_alter_site_collation.py
Due: check-backend

feat(saf): show admin lots for admins
  front/src/saf/index.tsx
Due: check-frontend

chore(saf): update api schema
  api-schema.yaml
  front/src/api-schema.ts
Due: check-frontend

refactor(saf): relocate ticket pages
  front/src/saf/pages/ticket-details/accept-assignment.tsx
  front/src/saf/pages/ticket-details/cancel-assignment.tsx
  front/src/saf/pages/ticket-details/client-comment.tsx
  front/src/saf/pages/ticket-details/credit-ticket-source.tsx
  front/src/saf/pages/ticket-details/fields.tsx
  front/src/saf/pages/ticket-details/index.tsx
  front/src/saf/pages/ticket-details/linked-ticket-source.tsx
  front/src/saf/pages/ticket-details/reject-assignment.tsx
  front/src/saf/pages/ticket-details/ticket-details.tsx
  front/src/saf/pages/tickets/index.hooks.ts
  front/src/saf/pages/tickets/index.tsx
  front/src/saf/pages/tickets/status-switcher.tsx
Due: check-frontend

refactor(saf): centralize api functions and types
  front/src/saf/api.ts
  front/src/saf/types.ts
Due: check-frontend

feat(saf): adapt ticket source page for multiple entities
  front/src/saf/pages/ticket-sources/components/table.tsx
  front/src/saf/pages/ticket-sources/index.tsx
Due: check-frontend

feat(saf): adapt ticket page for multiple entities
  front/src/saf/components/tickets/tag.tsx
  front/src/saf/pages/tickets/components/status-switcher.tsx
  front/src/saf/pages/tickets/components/table.tsx
  front/src/saf/pages/tickets/index.tsx
Due: check-frontend

cleanup(saf): adapt ticket source details page to new components
  front/src/saf/pages/ticket-source-details/components/assigned-tickets.tsx
  front/src/saf/pages/ticket-source-details/components/fields.tsx
  front/src/saf/pages/ticket-source-details/index.tsx
Due: check-frontend

cleanup(saf): adapt ticket details page to new components
  front/src/saf/pages/ticket-details/components/accept-assignment.tsx
  front/src/saf/pages/ticket-details/components/cancel-assignment.tsx
  front/src/saf/pages/ticket-details/components/fields.tsx
  front/src/saf/pages/ticket-details/components/reject-assignment.tsx
  front/src/saf/pages/ticket-details/index.tsx
Due: check-frontend

feat(saf): support more filters
  front/src/saf/components/filters.tsx
Due: check-frontend

cleanup(saf): centralize tag components
  front/src/saf/components/ticket-source-tag.tsx
  front/src/saf/components/ticket-tag.tsx
  front/src/saf/pages/ticket-sources/components/tag.tsx
Due: check-frontend

test(saf): fix tests with new data and rules
  web/saf/tests/__init__.py
  web/saf/tests/tests_accept_ticket.py
  web/saf/tests/tests_ticket_details.py
  web/saf/tests/tests_ticket_filters.py
  web/saf/tests/tests_ticket_source_details.py
  web/saf/tests/tests_ticket_source_filters.py
  web/saf/tests/tests_ticket_sources.py
  web/saf/tests/tests_tickets.py
Due: check-backend

fix bad translations
  front/public/locales/en/translation.json
  front/public/locales/fr/translation.json
Due: check-frontend

fix: types saf
  api-schema.yaml
  front/src/accounting/layouts/operations-balances-layout.tsx
  front/src/api-schema.ts
  front/src/common/index.tsx
  front/src/saf/types.ts
  web/saf/filters/ticket.py
Due: check-backend, check-frontend

fix translations merge
  front/public/locales/en/translation.json
  front/public/locales/fr/translation.json
  front/src/accounting/pages/operations/biofuels/operations.tsx
  front/src/accounting/pages/operations/biofuels/pages/operation-detail/operation-detail.tsx
  web/doublecount/parser/excel_to_carbure_convertor.py
  web/entity/tests/users/tests_users.py
  web/entity/views/users/mixins/grant_access.py
  web/tiruert/models/operation.py
  web/tiruert/services/balance.py
Due: check-backend, check-frontend

Introduce (eDelivery) message domain concept
  .env.example
  web/edelivery/adapters/__init__.py
  web/edelivery/adapters/base64_encoder.py
  web/edelivery/adapters/clock.py
  web/edelivery/adapters/uuid_generator.py
  web/edelivery/ebms/messages.py
  web/edelivery/tests/ebms/test_message.py
Due: check-backend

feat: hide 'volumes saf' page for djac
  front/src/common/layouts/navigation/private/sidebar/hooks/useSaf.ts
Due: check-frontend

feat(lot): handle case to update/empty fields from frontend lot form
  web/transactions/api/lots/tests/tests_corrections.py
  web/transactions/api/lots/tests/tests_lots_flow.py
  web/transactions/api/lots/tests/tests_utils.py
  web/transactions/api/stocks/tests_stocks.py
  web/transactions/forms/lot_form.py
Due: check-backend

feat(lot): add autocomplete field for DC agreement in lot form, and fill in others production info
  api-schema.yaml
  front/src/api-schema.ts
  front/src/common/api.ts
  front/src/double-counting/components/agreement-public-list.tsx
  front/src/lot-add/components/production-fields.tsx
  web/certificates/serializers.py
  web/resources/urls.py
  web/resources/views/__init__.py
  web/resources/views/dc_agreements.py
Due: check-backend, check-frontend

feat(lot): add sanity check, to disallow lot creation for a french production site (if not mine)
  web/transactions/sanity_checks/mandatory.py
  web/transactions/sanity_checks/sanity_checks.py
Due: check-backend

feat(lot): allow to update fieds when empty
  front/src/lot-add/components/lot-form.tsx
  web/core/traceability/node.py
Due: check-backend, check-frontend

feat(lot): lots import via excel: autocomplete production info if double_counting_registration field
  web/core/common.py
  web/fixtures/json/productionsites.json
  web/transactions/api/lots/tests/test_excel_double_counting_autocomplete.py
Due: check-backend

feat(lot): handle new rules for creation lots from excel import
  web/core/common.py
  web/transactions/api/lots/tests/test_excel_double_counting_autocomplete.py
Due: check-backend

feat(lot): add sanity check, to disallow lot creation for a french production site (if not mine)
  front/public/locales/en/errors.json
  front/public/locales/fr/errors.json
  web/core/carburetypes.py
Due: check-backend, check-frontend

feat(lot): add autocomplete on producer field, not only for producers
  front/src/lot-add/components/lot-form.tsx
  front/src/lot-add/components/production-fields.tsx
  web/transactions/api/lots/tests/tests_certif_mayhem.py
  web/transactions/helpers.py
Due: check-backend, check-frontend

feat(lot): handle case to update/empty fields from frontend lot form
  web/core/traceability/lot.py
  web/core/traceability/node.py
Due: check-backend

feat(lot): fix tests for excel import
  web/transactions/api/lots/tests/tests_excel.py
Due: check-backend

refacto: simplify lot form
  api-schema.yaml
  front/src/api-schema.ts
  front/src/lot-add/components/production-fields.tsx
  web/certificates/serializers.py
Due: check-backend, check-frontend

feat: setup throttling backend
  web/auth/views/mixins/activate.py
  web/auth/views/mixins/login.py
  web/auth/views/mixins/register.py
  web/auth/views/mixins/request_activation_link.py
  web/auth/views/mixins/request_otp.py
  web/auth/views/mixins/request_password_reset.py
  web/auth/views/mixins/reset_password.py
  web/auth/views/mixins/verify_otp.py
  web/carbure/settings.py
  web/core/throttle.py
Due: check-backend

refactor: change throttling system
  web/auth/views/mixins/register.py
  web/auth/views/mixins/request_otp.py
  web/carbure/settings.py
  web/core/throttle.py
Due: check-backend

feat(qualicharge): add filters for front usage
  web/elec/filters/provision_certificate.py
  web/elec/views/provision_certificate_qualicharge/provision_certificate_qualicharge.py
Due: check-backend

regenerate pipfile.lock
  Pipfile.lock
Due: none

feat(qualicharge): new api-schema
  api-schema.yaml
  front/src/api-schema.ts
  web/elec/filters/__init__.py
  web/elec/filters/provision_certificate.py
  web/elec/views/provision_certificate_qualicharge/provision_certificate_qualicharge.py
  web/tiruert/views/mac_fossil_fuel/excel_export.py
Due: check-backend, check-frontend

feat(qualicharge): update filters for frontend
  web/elec/filters/provision_certificate_qualicharge.py
Due: check-backend

feat(qualicharge): fix test units
  web/auth/tests/test_user_creation.py
  web/saf/tests/tests_ticket_sources.py
Due: check-backend

feat(user): keep field for current email and add a new field for new email
  front/src/account/components/authentication.tsx
Due: check-frontend
