Repository MTES-MCT/carbure: changes, and which GitLab CI jobs are due for each by the changed paths.
All: check-backend, check-frontend

.gitlab-ci.yml:

stages:
  - check


workflow:
  rules:
    # 1. Don't run pipelines for MR drafts.
    - if: $CI_PIPELINE_SOURCE == "merge_request_event" && $CI_MERGE_REQUEST_TITLE =~ /^Draft:/
      when: never

    # 2. Don't run branch pipelines when there's an open MR for the branch (run the MR pipeline instead).
    - if: $CI_COMMIT_BRANCH && $CI_OPEN_MERGE_REQUESTS
      when: never

    # 3. Run all other MR pipelines
    - if: $CI_PIPELINE_SOURCE == 'merge_request_event'
      when: always

    # 4. Run branch pipelines for dev and master
    - if: $CI_COMMIT_BRANCH == "dev" || $CI_COMMIT_BRANCH == "master"
      when: always

    # 5. Else, don't run it
    - when: never


variables:
  MYSQL_DATABASE: carbure_mysql_test_db
  MYSQL_ROOT_PASSWORD: carbure_mysql_ci_db_password
  PIP_CACHE_DIR: "$CI_PROJECT_DIR/.cache/pip"
  PIPENV_VENV_IN_PROJECT: true


# job: run linting and tests for backend
check-backend:
  stage: check
  extends: .backend
  services:
    - mysql:8.0
    - redis:latest
  script:
    - export CARBURE_HOME=$(pwd)
    - export DATABASE_URL=mysql://root:$MYSQL_ROOT_PASSWORD@mysql:3306/$MYSQL_DATABASE
    - export REDIS_URL=redis://redis:6379
    - pipenv run ruff check
    - pipenv run ruff format --check
    - TEST=1 pipenv run python web/manage.py test web


# job: run linting and tests for frontend
check-frontend:
  stage: check
  extends: .frontend
  script:
    - npm run lint
    - npm run build
    - npx chromatic
  interruptible: true


.backend:
  image: python:3.12
  cache:
    - key:
        files:
          - Pipfile.lock
      paths:
        - .cache/pip/
        - .venv/
  before_script:
    - pip install pipenv
    - pipenv install --dev --deploy --ignore-pipfile
  rules:
    - changes:
      - web/**/*
      - .gitlab-ci.yml


.frontend:
  image: node:latest
  cache:
    - key:
        files:
          - front/package-lock.json
      paths:
        - front/.npm/
  before_script:
    - cd front
    - npm ci --cache .npm --prefer-offline
  rules:
    - changes:
      - front/**/*
      - .gitlab-ci.yml

feat(biomethane): make producer a one-to-one field on production unit
  web/biomethane/migrations/0007_alter_biomethaneproductionunit_producer.py
  web/biomethane/models/biomethane_production_unit.py
Due: check-backend

test(biomethane) production unit resource
  web/biomethane/factories/production_unit.py
  web/biomethane/tests/test_production_unit.py
Due: check-backend

chore(biomethane): update api schema
  api-schema.yaml
Due: none

feat(biomethane): connect production general info to backend
  front/src/biomethane/pages/production/components/general-info/general-info.tsx
  front/src/biomethane/pages/production/production.hooks.ts
  front/src/biomethane/pages/production/production.tsx
Due: check-frontend

chore(biomethane): extract production specific types and api functions
  front/src/biomethane/api.ts
  front/src/biomethane/pages/production/api.ts
  front/src/biomethane/pages/production/components/digestate-storage/add-digestate-storage.tsx
  front/src/biomethane/pages/production/components/general-info/general-info.tsx
  front/src/biomethane/pages/production/components/icpe/icpe.tsx
  front/src/biomethane/pages/production/components/sanitary-agreement/sanitary-agreement.tsx
  front/src/biomethane/pages/production/production.hooks.ts
  front/src/biomethane/pages/production/types.ts
  front/src/biomethane/types.ts
Due: check-frontend

feat(biomethane): make production unit fields optional
  web/biomethane/migrations/0008_alter_biomethaneproductionunit_company_address_and_more.py
  web/biomethane/models/biomethane_production_unit.py
  web/biomethane/serializers/production_unit.py
Due: check-backend

chore(biomethane): simplify digestate storage viewset
  web/biomethane/views/production_unit/digestate_storage.py
Due: check-backend

feat(biomethane): connect more frontend components to production unit backend
  front/src/biomethane/pages/production/components/digestate-storage/add-digestate-storage.tsx
  front/src/biomethane/pages/production/components/digestate-storage/digestate-storage.tsx
  front/src/biomethane/pages/production/components/icpe/icpe.tsx
  front/src/biomethane/pages/production/components/sanitary-agreement/sanitary-agreement.tsx
  front/src/biomethane/pages/production/production.hooks.ts
  front/src/biomethane/pages/production/production.tsx
Due: check-frontend

feat(biomethane): add api client for production unit
  front/src/biomethane/api.ts
  front/src/biomethane/types.ts
Due: check-frontend

feat(biomethane): use JSONField to store checkbox group fields in backend models
  web/biomethane/migrations/0009_remove_biomethaneproductionunit_digestate_valorization_method_and_more.py
  web/biomethane/models/biomethane_production_unit.py
  web/biomethane/serializers/production_unit.py
  web/biomethane/tests/test_production_unit.py
Due: check-backend

refactor(biomethane): combine production_init create/update in upsert
  web/biomethane/urls.py
  web/biomethane/views/production_unit/production_unit.py
Due: check-backend

feat(biomethane): allow sending null values from the frontend to empty columns in the db
  web/biomethane/serializers/production_unit.py
  web/core/serializers.py
Due: check-backend

feat(common): display form errors in notifyError
  front/src/common/components/notifications.tsx
  web/biomethane/serializers/production_unit.py
Due: check-backend, check-frontend

feat(biomethane): simplify production unit serializers
  web/biomethane/serializers/__init__.py
  web/biomethane/serializers/production_unit.py
  web/biomethane/tests/test_production_unit.py
  web/biomethane/views/production_unit/production_unit.py
  web/core/serializers.py
Due: check-backend

chore(biomethane): rename production tables
  web/biomethane/migrations/0010_alter_biomethanedigestatestorage_options_and_more.py
  web/biomethane/models/biomethane_digestate_storage.py
  web/biomethane/models/biomethane_production_unit.py
Due: check-backend

chore(biomethane): remove unnecessary folders
  front/src/biomethane/pages/production/components/digestate-processing.tsx
  front/src/biomethane/pages/production/components/general-info.tsx
  front/src/biomethane/pages/production/components/icpe.tsx
  front/src/biomethane/pages/production/components/production-site.tsx
  front/src/biomethane/pages/production/components/sanitary-agreement.tsx
  front/src/biomethane/pages/production/production.tsx
Due: check-frontend

feat(biomethane): display fields conditionnaly
  front/src/biomethane/pages/production/api.ts
  front/src/biomethane/pages/production/components/digestate-processing.tsx
  front/src/biomethane/pages/production/components/general-info.tsx
  front/src/biomethane/pages/production/components/icpe.tsx
  front/src/biomethane/pages/production/components/production-site.tsx
  front/src/biomethane/pages/production/components/sanitary-agreement.tsx
Due: check-frontend

chore(biomethane): update api schema
  api-schema.yaml
  front/src/api-schema.ts
  front/src/biomethane/pages/production/types.ts
Due: check-frontend

refactor(biomethane): adapt existing frontend to new upsert endpoint
  front/src/biomethane/pages/production/api.ts
  front/src/biomethane/pages/production/components/digestate-storage/digestate-storage.tsx
  front/src/biomethane/pages/production/components/general-info/general-info.tsx
  front/src/biomethane/pages/production/components/icpe/icpe.tsx
  front/src/biomethane/pages/production/components/sanitary-agreement/sanitary-agreement.tsx
  front/src/biomethane/pages/production/production.hooks.ts
  front/src/biomethane/pages/production/types.ts
  front/src/common/components/inputs2/radio/radio.tsx
Due: check-frontend

chore(biomethane): update translations
  front/public/locales/en/fields.json
  front/public/locales/en/translation.json
  front/public/locales/fr/fields.json
  front/public/locales/fr/translation.json
  front/src/common/components/notifications.tsx
Due: check-frontend

feat(biomethane): add more client side validation
  front/src/biomethane/pages/production/components/digestate-processing.tsx
  front/src/biomethane/pages/production/components/digestate-storage/add-digestate-storage.tsx
  front/src/biomethane/pages/production/components/general-info.tsx
  front/src/biomethane/pages/production/components/icpe.tsx
  front/src/biomethane/pages/production/components/production-site.tsx
  front/src/biomethane/pages/production/components/sanitary-agreement.tsx
Due: check-frontend

test(biomethane): remove irrelevant test
  web/biomethane/tests/test_production_unit.py
Due: check-backend

feat(biomethane): send null values for empty form fields
  front/src/biomethane/pages/production/api.ts
Due: check-frontend

style(biomethane): better conditional form layout
  front/src/biomethane/pages/production/components/digestate-processing.tsx
  front/src/biomethane/pages/production/components/sanitary-agreement.tsx
Due: check-frontend

fix(common): conflict between readonly/disabled on radiobuttons
  front/src/common/components/inputs2/radio/radio.tsx
Due: check-frontend

chore(biomethane): translation
  front/public/locales/en/translation.json
Due: check-frontend

feat(biomethane): finalize complex production unit forms
  front/src/biomethane/pages/production/components/digestate-processing/digestate-processing.tsx
  front/src/biomethane/pages/production/components/production-site/production-site.tsx
  front/src/biomethane/pages/production/production.tsx
Due: check-frontend

feat(biomethane): make production unit name field nullable
  web/biomethane/migrations/0011_alter_biomethaneproductionunit_unit_name.py
  web/biomethane/models/biomethane_production_unit.py
Due: check-backend

fix: fix api-schema
  api-schema.yaml
  front/src/biomethane/pages/production/types.ts
Due: check-frontend

fix: fix required prop dsfr
  front/src/common/components/selects2/select-dsfr/select-dsfr.tsx
Due: check-frontend

fix: remove bad migrations to a single one
  web/biomethane/migrations/0006_biomethaneinjectionsite.py
  web/biomethane/migrations/0007_alter_biomethanedigestatestorage_options_and_more.py
  web/biomethane/migrations/0007_alter_biomethaneproductionunit_producer.py
  web/biomethane/migrations/0007_rename_biomethaneentityconfigcontract_biomethanecontract_and_more.py
  web/biomethane/migrations/0008_alter_biomethaneinjectionsite_city_and_more.py
  web/biomethane/migrations/0008_alter_biomethaneproductionunit_company_address_and_more.py
  web/biomethane/migrations/0009_remove_biomethaneproductionunit_digestate_valorization_method_and_more.py
  web/biomethane/migrations/0010_alter_biomethanedigestatestorage_options_and_more.py
  web/biomethane/migrations/0011_alter_biomethaneproductionunit_unit_name.py
  web/carbure/settings.py
Due: check-backend

feat: add translations for injection site
  front/public/locales/en/translation.json
  front/public/locales/fr/translation.json
Due: check-frontend

refactor: move api/types from biomethane to contract folder
  front/src/biomethane/hooks/contract.hooks.ts
  front/src/biomethane/pages/contract/api.ts
  front/src/biomethane/pages/contract/components/contract-amendments/add-amendment.tsx
  front/src/biomethane/pages/contract/components/contract-amendments/amendment-detail.tsx
  front/src/biomethane/pages/contract/components/contract-amendments/contract-amendments.tsx
  front/src/biomethane/pages/contract/components/contract-files/add-contract.hooks.ts
  front/src/biomethane/pages/contract/components/contract-files/add-contract.tsx
  front/src/biomethane/pages/contract/components/contract-files/contract-files.tsx
  front/src/biomethane/pages/contract/components/contract-infos/contract-infos.hooks.ts
  front/src/biomethane/pages/contract/components/contract-infos/contract-infos.tsx
  front/src/biomethane/pages/contract/components/contract-infos/contract-infos.utils.ts
  front/src/biomethane/pages/contract/components/contract-infos/red-ii-dialog.tsx
  front/src/biomethane/pages/contract/types.ts
Due: check-frontend

test: terminate factories
  web/biomethane/factories/injection_site.py
  web/biomethane/factories/production_unit.py
  web/biomethane/factories/sample_data.py
  web/biomethane/models/biomethane_injection_site.py
Due: check-backend

fix: fix bad naming tables contract
  web/biomethane/factories/contract.py
  web/biomethane/factories/sample_data.py
  web/biomethane/migrations/0008_alter_biomethanecontractamendment_options_and_more.py
  web/biomethane/models/biomethane_contract.py
  web/biomethane/models/biomethane_contract_amendment.py
  web/entity/factories/entity.py
Due: check-backend

fix: fix missing context serializer
  web/biomethane/tests/test_production_unit.py
Due: check-backend

fix: fix api-schema after rebase
  api-schema.yaml
  front/src/api-schema.ts
Due: check-frontend
