Repository MTES-MCT/carbure: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-ci-image, check-backend, check-frontend

.gitlab-ci.yml:

stages:
  - prepare
  - check
  - deploy

variables:
  MYSQL_DATABASE: carbure_mysql_test_db
  MYSQL_ROOT_PASSWORD: carbure_mysql_ci_db_password

# use prebuild CI image when running checks
.checks:
  image: $CI_REGISTRY/$CI_PROJECT_PATH/ci-image:latest
  before_script:
    - mv /app/front/node_modules ./front

# prepare git env to push new code to scalingo
.scalingo:
  image: alpine:latest
  before_script:
    - mkdir ~/.ssh
    - apk add --update git openssh-client
    - eval $(ssh-agent -s)
    - echo "$SCALINGO_SSH_PRIVATE_KEY" | tr -d '\r' | ssh-add -
    - ssh-keyscan $SCALINGO_SSH_HOST >> ~/.ssh/known_hosts
    - chmod 644 ~/.ssh/known_hosts
    - git config user.name $GIT_USER_NAME
    - git config user.email $GIT_USER_EMAIL
    - git remote add scalingo-dev $SCALINGO_GIT_REMOTE_DEV || true
    - git remote add scalingo-staging $SCALINGO_GIT_REMOTE_STAGING || true
    - git remote add scalingo-prod $SCALINGO_GIT_REMOTE_PROD || true
    - git fetch origin $CI_COMMIT_BRANCH --unshallow
    - git checkout $CI_COMMIT_BRANCH

build-ci-image:
  stage: prepare
  image: docker:stable
  services:
    - docker:dind
  script:
    - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
    - docker build -f ci/Dockerfile -t $CI_REGISTRY/$CI_PROJECT_PATH/ci-image:latest .
    - docker push $CI_REGISTRY/$CI_PROJECT_PATH/ci-image:latest
  only:
    changes:
      - ci/Dockerfile
      - Pipfile
      - Pipfile.lock
      - front/package.json
      - front/package-lock.json

check-backend:
  stage: check
  extends: .checks
  services:
    - mysql:8.0
    - redis:latest
  script:
    - export CARBURE_HOME=$(pwd)
    - export DATABASE_URL=mysql://root:$MYSQL_ROOT_PASSWORD@mysql:3306/$MYSQL_DATABASE
    - export REDIS_URL=redis://redis:6379
    - mypy web || true
    - TEST=1 python3 web/manage.py test web
  only:
    refs:
      - dev
      - master
    changes:
      - web/**/*

check-frontend:
  stage: check
  extends: .checks
  script:
    - cd front
    - npx eslint --ext .ts,.tsx src/
    - npm test
  only:
    refs:
      - dev
      - master
    changes:
      - front/**/*

deploy-dev:
  stage: deploy
  extends: .scalingo
  only:
    - dev
  script:
    - git push scalingo-dev $CI_COMMIT_BRANCH:master -f

deploy-staging:
  stage: deploy
  extends: .scalingo
  only:
    - master
  script:
    - git push scalingo-staging master -f

deploy-prod:
  stage: deploy
  extends: .scalingo
  when: manual
  only:
    - master
  script:
    - git push scalingo-prod master -f

[api] adapt admin api to new UserRights status
  web/admin/api/double_counting/applications/add.py
  web/admin/api/double_counting/applications/tests_applications.py
  web/admin/api/entities/users/rights_requests.py
  web/admin/api/entities/users/update_right_request.py
  web/admin/api/entities/users/update_user_role.py
Due: check-backend

[api] add status directly to UserRights model
  web/core/migrations/0016_userrights_status.py
  web/core/models.py
Due: check-backend

[api] adapt doule counting api to new UserRights status
  web/doublecount/api/application/tests_application.py
  web/doublecount/api/tests.py
  web/doublecount/api/views.py
  web/doublecount/helpers.py
Due: check-backend

[api] fix duplicated key in response
  web/admin/api/entities/entities.py
Due: check-backend

[api] update right check decorators to use the new UserRights status
  web/core/decorators.py
  web/user/api/user.py
Due: check-backend

[api] stop using UserRightsRequests in entity endpoints
  web/entity/api/options/release_for_consumption.py
  web/entity/api/users/change_role.py
  web/entity/api/users/grant_access.py
  web/entity/api/users/revoke_access.py
  web/entity/api/users/users.py
Due: check-backend

[front] simplify user rights in entity settings module
  front/src/settings/components/user-rights.tsx
  front/src/settings/types.ts
Due: check-frontend

[front] simplify user rights in account module
  front/src/account/__test__/api.ts
  front/src/account/components/access-rights.tsx
Due: check-frontend

[api] stop using UserRightsRequests in core tools
  web/core/admin.py
  web/core/tests_utils.py
Due: check-backend

[api] adapt transactions tests to new UserRights status
  web/transactions/api/lots/tests/tests_certif_mayhem.py
  web/transactions/api/lots/tests/tests_lots_flow.py
  web/transactions/api/lots/tests/tests_lots_units.py
  web/transactions/api/lots/tests/tests_ml_checks.py
Due: check-backend

[api] adapt core api to new UserRights status
  web/carbure/scripts/send_notification_emails.py
  web/core/helpers.py
  web/core/utils.py
Due: check-backend

[api] stop using UserRightsRequests in admin entities endpoint
  web/admin/api/entities/entities.py
Due: check-backend

[front] simplify user rights in core module
  front/src/carbure/__test__/data.ts
  front/src/carbure/components/top-bar.tsx
  front/src/carbure/hooks/user.ts
  front/src/carbure/types.ts
Due: check-frontend

[api] fix users able to change their role in an entity after they are accepted
  web/user/api/request_access.py
Due: check-backend

[api] remove user detail from UserRights natural key + fix tests
  web/core/models.py
  web/user/api/request_access.py
  web/user/api/tests_user.py
Due: check-backend

[api] Stop using UserRightsRequests in user endpoints
  web/user/api/request_access.py
  web/user/api/revoke_access.py
  web/user/api/user.py
Due: check-backend

[api] stop using UserRightsRequest in user endpoints
  web/admin/api/entities/users/rights_requests.py
  web/admin/api/entities/users/update_right_request.py
  web/admin/api/entities/users/update_user_role.py
Due: check-backend

[api] adapt entity api to new UserRights status
  web/entity/api/options/tests_options.py
  web/entity/api/production_sites/set_biofuels.py
  web/entity/api/production_sites/set_feedstocks.py
  web/entity/api/production_sites/tests_production_sites.py
  web/entity/api/users/change_role.py
  web/entity/api/users/tests_users.py
Due: check-backend

[api] fix redundant operation in revoke_access
  web/user/api/revoke_access.py
Due: check-backend

[api] return user email in UserRights natural_key
  web/core/models.py
Due: check-backend

[api] add migration to copy status from UserRightsRequests to UserRights
  web/core/migrations/0017_auto_20230817_1534.py
Due: check-backend

[front] simplify user rights in admin companies module
  front/src/companies/api.ts
  front/src/companies/components/user-rights.tsx
Due: check-frontend

[api] change UserRights natural_key() to show the new status info
  web/core/models.py
Due: check-backend

[front] harmonize ui for changing user role
  front/src/settings/__test__/api.ts
  front/src/settings/components/user-rights.tsx
Due: check-frontend

[front] fix industrial waste wording alert
  front/public/locales/en/translation.json
  front/public/locales/fr/translation.json
  front/src/double-counting/components/files-checker/valid-details-dialog.tsx
Due: check-frontend

[front] fix alert message excel detected errors
  front/public/locales/en/translation.json
  front/public/locales/fr/translation.json
  front/src/double-counting/components/files-checker/errors-details-dialog.tsx
Due: check-frontend

[back] link application to existing agreement
  web/admin/api/double_counting/agreements/agreements.py
  web/admin/api/double_counting/agreements/tests_agreements.py
  web/admin/api/double_counting/applications/add.py
  web/admin/api/double_counting/applications/tests_applications.py
  web/doublecount/models.py
Due: check-backend

[front + back] add agreement_id field and link to add application endpoint
  front/public/locales/en/translation.json
  front/public/locales/fr/translation.json
  front/src/double-counting/api.ts
  front/src/double-counting/components/agreement-details-dialog.tsx
  front/src/double-counting/components/files-checker/valid-details-dialog.tsx
  web/admin/api/double_counting/applications/__init__.py
  web/admin/api/double_counting/applications/add.py
  web/admin/api/double_counting/applications/approve_application.py
  web/admin/api/double_counting/applications/tests_applications.py
Due: check-backend, check-frontend

[api] display bioduel dc in excel export
  web/admin/api/double_counting/agreements/agreements.py
  web/admin/api/double_counting/agreements/tests_agreements.py
Due: check-backend

[front+api] sociétés - display filter cert à valider
  web/admin/api/entities/entities.py
Due: check-backend

[front] fix error message for linking application to agreement
  front/public/locales/en/translation.json
  front/public/locales/fr/translation.json
  front/src/double-counting/components/files-checker/valid-details-dialog.tsx
Due: check-frontend

[api - 1103] request access - send emails to admins from entity
  web/user/api/request_access.py
  web/user/api/tests_user.py
Due: check-backend
