Repository MTES-MCT/carbure: changes, and which GitLab CI jobs are due for each by the changed paths.
All: check-backend, check-frontend

check-backend:
  image: python:3.12
  cache:
  - key:
      files:
      - Pipfile.lock
    paths:
    - .cache/pip/
    - .venv/
  before_script:
  - pip install pipenv
  - pipenv install --dev --deploy --ignore-pipfile
  stage: check
  services:
  - mysql:8.0
  - redis:latest
  script:
  - export CARBURE_HOME=$(pwd)
  ...

check-frontend:
  image: node:latest
  cache:
  - key:
      files:
      - front/package-lock.json
    paths:
    - front/.npm/
  before_script:
  - cd front
  - npm ci --cache .npm --prefer-offline
  stage: check
  script:
  - npm run lint
  - npm run build
  - npx chromatic
  interruptible: true

chore(site): remove tmp site migration table
  web/transactions/migrations/0014_delete_contenttoupdate.py
  web/transactions/models/site.py
Due: check-backend

feat(biofuels): allow creating new MP/BC from django admin
  web/core/admin.py
Due: check-backend

fix(dsfr): force dsfr theme
  front/index.html
Due: check-frontend

feat(elec): provision certificate source migration revision
  web/elec/migrations/0053_update_model_data.py
Due: check-backend

feat(tiruert): add 'id' info to api/resources/countries endpoint
  web/doublecount/serializers.py
Due: check-backend

fix(mp): make raw methanol kraft pulping fermentescible
  web/fixtures/csv/matierespremieres.csv
Due: check-backend

feat(tiruert): update on models fossil_fuel and mac_fossil_fuel
  web/tiruert/migrations/0010_fossilfuel_masse_volumique_and_more.py
  web/tiruert/migrations/0011_rename_name_fossilfuel_label_and_more.py
  web/tiruert/migrations/0012_macfossilfuel_unicity.py
  web/tiruert/models/__init__.py
  web/tiruert/models/fossil_fuel.py
  web/tiruert/models/mac_fossil_fuel.py
Due: check-backend

feat(tiruert): admin for fuels and fuel categories
  web/tiruert/admin.py
Due: check-backend

feat(tiruert): fixtures to create fuels and fuel categories
  web/fixtures/csv/fossil_fuel_categories.csv
  web/fixtures/csv/fossil_fuels.csv
  web/fixtures/load_fossil_fuel_categories.py
  web/fixtures/load_fossil_fuels.py
Due: check-backend

feat(tiruert): fixtures to create fuels and fuel categories
  bin/post_deploy.sh
Due: none

feat(tiruert): django command to import fossil fuels mise a consommation
  web/carbure/settings.py
  web/tiruert/management/__init__.py
  web/tiruert/management/commands/__init__.py
  web/tiruert/management/commands/import_fossil_fuel_mac.py
Due: check-backend

fix: fix foreign company
  front/index.html
  front/src/companies/api.ts
  front/src/setup-dsfr.ts
Due: check-frontend

fix(biofuels): add tolerance for almost similar data in traceability checks
  web/core/traceability/node.py
Due: check-backend

feat(tiruert): add 'total_quantity' in pagination of operations list endpoint
  web/tiruert/models/operation.py
  web/tiruert/serializers/operation.py
  web/tiruert/views/operation/operation.py
Due: check-backend

feat(tiruert): queries optimization
  web/tiruert/models/operation.py
  web/tiruert/models/operation_detail.py
Due: check-backend

feat(tiruert): import mac script - search depot on customs_id field
  web/tiruert/management/commands/import_fossil_fuel_mac.py
Due: check-backend

fix: front/package.json & front/package-lock.json to reduce vulnerabilities
  front/package-lock.json
  front/package.json
Due: check-frontend

feat: partial audit
  front/src/elec-auditor/components/details-pending-report-valid.tsx
  web/elec/api/auditor/accept_report.py
  web/elec/services/import_elec_audit_report_excel.py
Due: check-backend, check-frontend

feat(saf modal): start refacto saf modal
  front/src/common/components/collapse2/collapse.stories.tsx
  front/src/common/components/collapse2/collapse.tsx
  front/src/common/components/collapse2/index.ts
  front/src/common/components/dialog2/dialog.module.css
  front/src/common/components/dialog2/dialog.tsx
  front/src/common/components/dialog2/index.ts
  front/src/common/components/icon/icon.tsx
  front/src/common/components/inputs2/field.tsx
  front/src/common/components/inputs2/input.tsx
  front/src/common/components/no-result2/no-result.tsx
  front/src/common/components/notice/notice.module.css
  front/src/common/components/notice/notice.tsx
  front/src/common/components/scaffold.module.css
  front/src/common/components/scaffold.tsx
  front/src/saf/components/dialog-section/dialog-section.module.css
  front/src/saf/components/dialog-section/dialog-section.tsx
  front/src/saf/components/dialog-section/index.ts
  front/src/saf/pages/operator/ticket-source-details/fields.tsx
  front/src/saf/pages/operator/ticket-source-details/index.tsx
  front/src/saf/pages/operator/ticket-source-details/parent-lot/durability-fields.tsx
  front/src/saf/pages/operator/ticket-sources/index.tsx
Due: check-frontend

refactor(new ui saf): refacto checkbox to handle checkbox only for table
  front/src/common/components/inputs2/checkbox/checkbox.module.css
  front/src/common/components/inputs2/checkbox/checkbox.tsx
  front/src/common/components/table2/table.module.css
  front/src/common/components/table2/table.tsx
  front/src/saf/components/export.tsx
  front/src/saf/pages/operator/ticket-sources/index.tsx
  front/src/saf/pages/operator/ticket-sources/status-switcher.tsx
  front/src/saf/pages/operator/ticket-sources/table.tsx
  front/src/saf/pages/operator/ticket-sources/tag.tsx
Due: check-frontend

refactor(refacto ui saf): start refacto saf
  front/src/common/components/scaffold.module.css
  front/src/common/components/scaffold.tsx
  front/src/saf/components/export.tsx
  front/src/saf/pages/airline/index.tsx
  front/src/saf/pages/airline/tickets.hooks.ts
  front/src/saf/pages/airline/tickets.tsx
  front/src/saf/pages/operator/ticket-sources/index.tsx
  front/src/saf/pages/operator/tickets/index.tsx
Due: check-frontend

refactor(new layout saf): terminate assigned/received tickets
  front/src/common/components/icon/icon.tsx
  front/src/common/components/no-result2/index.ts
  front/src/common/components/no-result2/no-result.tsx
  front/src/common/components/notice/notice.tsx
  front/src/common/hooks/query-builder-2.ts
  front/src/saf/components/tickets/table.tsx
  front/src/saf/pages/airline/tickets.tsx
  front/src/saf/pages/operator/tickets/index.tsx
  front/src/saf/pages/operator/tickets/status-switcher.tsx
Due: check-frontend

fix(saf refacto): fix stories and upgrade storybook
  front/.storybook/preview.tsx
  front/package-lock.json
  front/package.json
  front/src/common/components/dialog2/dialog.module.css
  front/src/common/components/dialog2/dialog.stories.tsx
  front/src/common/components/dialog2/dialog.tsx
  front/src/common/components/inputs2/base-input.module.css
  front/src/common/components/inputs2/base-input.tsx
  front/src/common/components/inputs2/field.module.css
  front/src/common/components/inputs2/field.tsx
  front/src/common/components/inputs2/input.tsx
  front/src/common/components/inputs2/number/number-input.stories.tsx
  front/src/common/components/notice/notice.module.css
  front/src/common/components/notice/notice.stories.tsx
  front/src/common/components/notice/notice.tsx
  front/src/common/components/selects2/select/select.stories.tsx
  front/src/common/components/selects2/select/select.tsx
  front/src/common/components/table2/table.module.css
  front/src/common/components/table2/table.stories.tsx
  front/src/common/components/table2/table.tsx
  front/src/common/molecules/filter-multiselect2/filter-multiselect2.tsx
  front/src/common/services/api-fetch.ts
  front/src/saf/components/assignment/grouped-assignment.tsx
  front/src/saf/components/assignment/period-select.tsx
  front/src/saf/components/assignment/simple-assignment.tsx
  front/src/saf/components/filters.tsx
  front/src/saf/pages/airline/accept-assignment.tsx
  front/src/saf/pages/airline/tickets.tsx
  front/src/saf/pages/operator/ticket-source-details/fields.tsx
  front/src/saf/pages/operator/ticket-source-details/parent-lot/durability-fields.tsx
  front/src/saf/pages/operator/ticket-sources/index.tsx
  front/src/saf/pages/operator/ticket-sources/table.tsx
  front/src/saf/pages/operator/tickets/index.tsx
  front/src/saf/types.ts
Due: check-frontend

test: start testing saf components
  front/src/common/components/autocomplete2/autocomplete.tsx
  front/src/common/hooks/debounce.ts
  front/src/saf/__test__/api.ts
  front/src/saf/__test__/data.ts
  front/src/saf/components/assignment/simple-assignment/index.ts
  front/src/saf/components/assignment/simple-assignment/simple-assignment.stories.tsx
  front/src/saf/components/assignment/simple-assignment/simple-assignment.tsx
  front/src/saf/pages/operator/__test__/api.ts
  front/src/saf/pages/operator/__test__/saf-operator.spec.tsx
  front/src/saf/pages/operator/ticket-source-details/index.stories.tsx
  front/src/saf/pages/operator/ticket-source-details/index.tsx
Due: check-frontend

refactor(refacto saf): continue refacto ui saf
  front/src/common/components/dialog2/dialog.module.css
  front/src/common/components/dialog2/dialog.tsx
  front/src/common/components/inputs2/checkbox/checkbox.module.css
  front/src/common/components/inputs2/checkbox/checkbox.stories.tsx
  front/src/common/components/inputs2/checkbox/checkbox.tsx
  front/src/common/components/inputs2/field.module.css
  front/src/common/components/inputs2/field.tsx
  front/src/common/components/inputs2/index.ts
  front/src/common/components/inputs2/input.tsx
  front/src/common/components/navigation/navigation.tsx
  front/src/common/components/scaffold.module.css
  front/src/common/components/scaffold.tsx
  front/src/common/components/table2/table.module.css
  front/src/common/components/table2/table.tsx
  front/src/saf/components/assignment/simple-assignment.tsx
  front/src/saf/components/dialog-section/dialog-section.module.css
  front/src/saf/components/dialog-section/dialog-section.tsx
  front/src/saf/components/ticket-details/fields.tsx
  front/src/saf/pages/operator/ticket-details/cancel-assignment.tsx
  front/src/saf/pages/operator/ticket-details/index.tsx
  front/src/saf/pages/operator/ticket-details/linked-ticket-source.tsx
  front/src/saf/pages/operator/ticket-source-details/index.tsx
  front/src/saf/pages/operator/ticket-source-details/parent-lot/durability-fields.tsx
Due: check-frontend

refactor(saf layout): fix last endpoints saf
  front/public/locales/en/translation.json
  front/public/locales/fr/translation.json
  front/src/common/components/inputs2/input.tsx
  front/src/common/components/inputs2/text/text-input.tsx
  front/src/saf/components/assignment/volume-input.tsx
  front/src/saf/components/ticket-details/reject-assignment.tsx
  front/src/saf/pages/airline/accept-assignment.tsx
  front/src/saf/pages/airline/api.ts
  front/src/saf/pages/airline/ticket-details.tsx
  front/src/saf/pages/operator/ticket-details/cancel-assignment.tsx
  front/src/saf/pages/operator/ticket-details/credit-ticket-source.tsx
  front/src/saf/pages/operator/ticket-sources/status-switcher.tsx
Due: check-frontend

refactor(saf refacto): terminate saf refacto only for operator
  front/public/locales/en/translation.json
  front/public/locales/fr/translation.json
  front/src/common/components/autocomplete2/autocomplete.stories.tsx
  front/src/common/components/autocomplete2/autocomplete.tsx
  front/src/common/components/autocomplete2/index.ts
  front/src/common/components/button2/button.tsx
  front/src/common/components/pagination2/index.ts
  front/src/common/components/selects2/select/select.tsx
  front/src/common/components/table2/table.stories.tsx
  front/src/common/components/table2/table.tsx
  front/src/common/hooks/years-2.ts
  front/src/saf/components/assignment/grouped-assignment.tsx
  front/src/saf/components/assignment/simple-assignment.tsx
  front/src/saf/components/ticket-details/reject-assignment.tsx
  front/src/saf/pages/airline/ticket-details.tsx
  front/src/saf/pages/operator/index.tsx
  front/src/saf/pages/operator/ticket-details/credit-ticket-source.tsx
  front/src/saf/pages/operator/ticket-details/index.tsx
  front/src/saf/pages/operator/ticket-details/linked-ticket-source.tsx
  front/src/saf/pages/operator/ticket-source-details/assigned-tickets.tsx
  front/src/saf/pages/operator/ticket-source-details/fields.tsx
  front/src/saf/pages/operator/ticket-sources/index.tsx
  front/src/saf/pages/operator/ticket-sources/summary.tsx
  front/src/saf/pages/operator/ticket-sources/table.tsx
Due: check-frontend

refactor(saf ui): terminate refacto saf
  front/src/common/components/form2/form.tsx
  front/src/common/components/inputs2/base-input.tsx
  front/src/common/components/inputs2/radio/radio.tsx
  front/src/saf/pages/airline/accept-assignment.tsx
  front/src/saf/pages/airline/index.tsx
  front/src/saf/pages/airline/ticket-details.tsx
  front/src/saf/pages/operator/ticket-sources/index.tsx
Due: check-frontend

fix(dsfr): fix dsfr default scheme
  front/index.html
  front/src/common/components/inputs2/base-input.tsx
  front/src/common/components/inputs2/search/search-input.stories.tsx
Due: check-frontend

refactor(saf feedbacks): terminate feedbacks saf
  front/public/locales/en/translation.json
  front/public/locales/fr/translation.json
  front/src/common/components/autocomplete2/autocomplete.tsx
  front/src/common/components/button2/button.tsx
  front/src/common/components/icon/icon.tsx
  front/src/common/components/pagination2/pagination.tsx
  front/src/common/components/table2/table.module.css
  front/src/common/hooks/debounce.ts
  front/src/saf/hooks/useSafRules.ts
  front/src/saf/pages/operator/ticket-source-details/index.tsx
  front/src/saf/pages/operator/ticket-sources/status-switcher.tsx
  front/src/saf/pages/operator/ticket-sources/table.tsx
Due: check-frontend

refactor(saf feedback): continue feedbacks (add pagination selector limit)
  front/src/accounting/operations/operations.tsx
  front/src/common/components/navigation/navigation.tsx
  front/src/common/components/pagination2/pagination.module.css
  front/src/common/components/pagination2/pagination.stories.tsx
  front/src/common/components/pagination2/pagination.tsx
  front/src/saf/components/tickets/table.tsx
  front/src/saf/pages/operator/ticket-source-details/parent-lot/durability-fields.tsx
  front/src/saf/pages/operator/ticket-sources/index.tsx
Due: check-frontend

refactor(refacto ui saf): continue refacto pages
  front/src/common/molecules/filter-multiselect2/filter-multiselect2.tsx
  front/src/saf/components/filters.tsx
  front/src/saf/components/tickets/table.tsx
  front/src/saf/components/tickets/tag.tsx
Due: check-frontend

feat(refacto saf modal): refacto saf form with new UI
  front/src/common/components/collapse2/collapse.module.css
  front/src/common/components/collapse2/collapse.tsx
  front/src/common/components/dialog2/dialog.module.css
  front/src/common/components/inputs2/base-input.module.css
  front/src/common/components/inputs2/base-input.tsx
  front/src/common/components/inputs2/field.module.css
  front/src/common/components/inputs2/field.tsx
  front/src/common/components/selects2/select/select.tsx
  front/src/saf/components/assignment/period-select.tsx
  front/src/saf/components/assignment/simple-assignment.tsx
  front/src/saf/components/assignment/volume-input.tsx
  front/src/saf/components/tickets/tag.tsx
  front/src/saf/pages/operator/ticket-source-details/assigned-tickets.tsx
  front/src/saf/pages/operator/ticket-source-details/parent-lot/index.tsx
Due: check-frontend

refactor(saf layout): start feedbacks saf layout
  front/src/accounting/operations/pages/operation-detail/operation-detail.tsx
  front/src/common/components/autocomplete2/autocomplete.tsx
  front/src/common/components/button2/button.tsx
  front/src/common/components/collapse2/collapse.module.css
  front/src/common/components/table2/table.tsx
  front/src/saf/components/assignment/grouped-assignment.tsx
  front/src/saf/components/assignment/simple-assignment.tsx
  front/src/saf/components/assignment/volume-input.tsx
  front/src/saf/pages/operator/ticket-details/cancel-assignment.tsx
Due: check-frontend

refactor(transactions): start refacto transactions UI
  front/public/locales/fr/translation.json
  front/src/common/components/button2/button.tsx
  front/src/common/components/dialog2/dialog.module.css
  front/src/common/components/dialog2/dialog.tsx
  front/src/common/components/notice/notice.module.css
  front/src/common/components/notice/notice.tsx
  front/src/common/components/selects2/select/select.tsx
  front/src/common/hooks/years.tsx
  front/src/common/layouts/navigation/private/sidebar/hooks/useBiofuels.ts
  front/src/common/utils/routes.ts
  front/src/transactions/actions/declaration.tsx
  front/src/transactions/components/lots/lot-summary.tsx
  front/src/transactions/index.tsx
Due: check-frontend

feat(tiruert soldes - exportation): continue dev exportation modal
  api-schema.yaml
  front/src/accounting/components/from-depot-form/from-depot-form.tsx
  front/src/accounting/components/operation-text/index.ts
  front/src/accounting/components/operation-text/operation-text.module.css
  front/src/accounting/components/operation-text/operation-text.tsx
  front/src/accounting/components/quantity-form/quantity-form.hooks.ts
  front/src/accounting/components/quantity-form/quantity-form.tsx
  front/src/accounting/components/quantity-form/quantity-form.utils.ts
  front/src/accounting/components/recap-operation/recap-operation.tsx
  front/src/accounting/components/recipient-to-depot-form/recipient-to-depot-form.tsx
  front/src/accounting/index.tsx
  front/src/accounting/pages/balances/components/debit-operation-dialog/cession-dialog/cession-dialog.tsx
  front/src/accounting/pages/balances/components/debit-operation-dialog/debit-operation-dialog.tsx
  front/src/accounting/pages/balances/components/debit-operation-dialog/exportation-dialog/country-form.tsx
  front/src/accounting/pages/balances/components/debit-operation-dialog/exportation-dialog/exportation-dialog.hooks.ts
  front/src/accounting/pages/balances/components/debit-operation-dialog/exportation-dialog/exportation-dialog.tsx
  front/src/accounting/pages/balances/components/debit-operation-dialog/exportation-dialog/exportation-quantity-form.tsx
  front/src/api-schema.ts
Due: check-frontend

fix(elec): allow deleting rejected pdc applications
  front/src/elec/components/charge-points/table.tsx
  web/elec/api/cpo/charge_points/delete_application.py
Due: check-backend, check-frontend

feat: add filters for agreement applications
  api-schema.yaml
  front/src/api-schema.ts
  front/src/double-counting-admin/api.ts
  front/src/double-counting-admin/components/applications/application-list.tsx
  web/doublecount/filters/__init__.py
  web/doublecount/filters/application.py
  web/doublecount/views/applications/application.py
  web/doublecount/views/applications/mixins/__init__.py
  web/doublecount/views/applications/mixins/filter.py
  web/doublecount/views/applications/mixins/lists.py
Due: check-backend, check-frontend

fix(elec): meter reading template now uses correct previous reading values
  web/elec/api/cpo/meter_readings/application_template.py
  web/elec/repositories/meter_reading_repository.py
Due: check-backend

chore(elec): cleanup outdated helper functions
  web/elec/scripts/compute_meter_reading_renewable_energy.py
  web/elec/services/create_meter_reading_excel.py
Due: check-backend

Path conditions:
  check-backend: any of: web/**/*, .gitlab-ci.yml
  check-frontend: any of: front/**/*, .gitlab-ci.yml
