Repository MTES-MCT/carbure: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-ci-image, check-backend, check-frontend

build-ci-image:
  stage: prepare
  image: docker:stable
  services:
  - docker:dind
  script:
  - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
  - docker build -f ci/Dockerfile -t $CI_REGISTRY/$CI_PROJECT_PATH/ci-image:latest .
  - docker push $CI_REGISTRY/$CI_PROJECT_PATH/ci-image:latest

check-backend:
  image: $CI_REGISTRY/$CI_PROJECT_PATH/ci-image:latest
  before_script:
  - mv /app/front/node_modules ./front
  stage: check
  services:
  - mysql:8.0
  - redis:latest
  script:
  - export CARBURE_HOME=$(pwd)
  - export DATABASE_URL=mysql://root:$MYSQL_ROOT_PASSWORD@mysql:3306/$MYSQL_DATABASE
  ...

check-frontend:
  image: $CI_REGISTRY/$CI_PROJECT_PATH/ci-image:latest
  before_script:
  - mv /app/front/node_modules ./front
  stage: check
  script:
  - cd front
  - npx eslint --ext .ts,.tsx src/
  - npm test

[scripts] fix 2bs certificate loader
  web/carbure/scripts/update_2bs_certificates.py
Due: check-backend

[scripts] fix iscc certificate loader
  web/carbure/scripts/update_iscc_certificates.py
Due: check-backend

[dc] add errors UNKNOW_YEAR and LINE_FEEDSTOCKS_INCOHERENT
  front/src/double-counting/types.ts
  front/src/settings/utils/double-counting.ts
  web/api/v5/double_counting/check_files.py
  web/doublecount/dc_parser.py
  web/doublecount/dc_sanity_checks.py
  web/doublecount/helpers.py
Due: check-backend, check-frontend

[api] add helper to look for values while ignoring accents and case
  web/core/common.py
Due: check-backend

[api] add tests for sanity checks
  web/transactions/factories/__init__.py
  web/transactions/factories/carbure_lot.py
  web/transactions/sanity_checks/__init__.py
  web/transactions/sanity_checks/sanity_checks.py
  web/transactions/sanity_checks/tests_sanity_checks.py
Due: check-backend

[api] add more sanity checks tests
  web/api/v4/sanity_checks.py
  web/carbure/scripts/check_integrity.py
  web/resources/factories/__init__.py
  web/resources/factories/production_site.py
  web/transactions/sanity_checks/tests_sanity_checks.py
Due: check-backend

[api] dc checker , add BAD_WORKSHEET_NAME error
  front/src/double-counting/types.ts
  front/src/settings/utils/double-counting.ts
  web/api/v5/double_counting/check_files.py
  web/doublecount/dc_parser.py
  web/doublecount/dc_sanity_checks.py
Due: check-backend, check-frontend

[front] merge errors (but disabled for the moment)
  front/src/double-counting/components/files-checker/errors-details-dialog.tsx
  front/src/double-counting/components/files-checker/files-checker-dialog.tsx
  front/src/double-counting/types.ts
  front/src/settings/utils/double-counting.ts
  web/doublecount/dc_parser.py
Due: check-backend, check-frontend

[api] fix depot selection when there are duplicates
  web/transactions/forms/lot_form.py
Due: check-backend

[api] fix depot selection when there are duplicates (2/2)
  web/transactions/forms/lot_form.py
Due: check-backend

[dc] add production site DC certificat in the lot form
  front/src/lot-add/components/production-fields.tsx
  front/src/settings/utils/double-counting.ts
Due: check-frontend

[api] fix UNKNOWN_YEAR
  front/src/double-counting/types.ts
  package.json
  web/api/v5/double_counting/check_files.py
  web/doublecount/dc_sanity_checks.py
Due: check-backend, check-frontend

[front] add MP
  front/src/double-counting/components/files-checker/errors-details-dialog.tsx
  web/doublecount/dc_parser.py
Due: check-backend, check-frontend

[api] dc : fix POME error + return error when unknow year for a line AND worksheetname_bad
  front/src/settings/utils/double-counting.ts
  web/api/v5/double_counting/check_files.py
  web/core/common.py
  web/doublecount/dc_parser.py
  web/doublecount/dc_sanity_checks.py
  web/doublecount/errors.py
  web/doublecount/helpers.py
Due: check-backend, check-frontend

[dc] fix MP association
  web/doublecount/dc_parser.py
Due: check-backend

[api] adjust some sanity checks
  web/transactions/sanity_checks/general.py
  web/transactions/sanity_checks/ghg.py
  web/transactions/sanity_checks/sanity_checks.py
Due: check-backend

[api] refactor mandatory sanity checks
  web/api/v4/tests_sanity_checks.py
  web/transactions/sanity_checks/helpers.py
  web/transactions/sanity_checks/mandatory.py
  web/transactions/sanity_checks/sanity_checks.py
  web/transactions/sanity_checks/tests_mandatory.py
  web/transactions/sanity_checks/tests_sanity_checks.py
Due: check-backend

[api] update ep thresholds for error
  web/transactions/sanity_checks/ghg.py
Due: check-backend

[api] update full list of sanity checks
  web/transactions/sanity_checks/sanity_checks.py
Due: check-backend

[api] replace old sanity checks with the new ones
  web/api/v4/sanity_checks.py
  web/api/v4/views.py
  web/api/v5/admin/lots/update_many.py
  web/carbure/scripts/sanity_checks.py
  web/transactions/api/stocks/tests_stocks.py
  web/transactions/sanity_checks/__init__.py
  web/transactions/sanity_checks/biofuel_feedstock.py
  web/transactions/sanity_checks/helpers.py
  web/transactions/sanity_checks/sanity_checks.py
Due: check-backend

Path conditions:
  build-ci-image: any of: ci/Dockerfile, Pipfile, Pipfile.lock, front/package.json, front/package-lock.json
  check-backend: any of: web/**/*
  check-frontend: any of: front/**/*
