Repository MTES-MCT/carbure: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-ci-image, check-backend, check-frontend

.gitlab-ci.yml:

stages:
  - prepare
  - check
  - deploy

variables:
  MYSQL_DATABASE: carbure_mysql_test_db
  MYSQL_ROOT_PASSWORD: carbure_mysql_ci_db_password

# use prebuild CI image when running checks
.checks:
  image: $CI_REGISTRY/$CI_PROJECT_PATH/ci-image:latest
  before_script:
    - mv /app/front/node_modules ./front

# prepare git env to push new code to scalingo
.scalingo:
  image: alpine:latest
  before_script:
    - mkdir ~/.ssh
    - apk add --update git openssh-client
    - eval $(ssh-agent -s)
    - echo "$SCALINGO_SSH_PRIVATE_KEY" | tr -d '\r' | ssh-add -
    - ssh-keyscan $SCALINGO_SSH_HOST >> ~/.ssh/known_hosts
    - chmod 644 ~/.ssh/known_hosts
    - git config user.name $GIT_USER_NAME
    - git config user.email $GIT_USER_EMAIL
    - git remote add scalingo-dev $SCALINGO_GIT_REMOTE_DEV || true
    - git remote add scalingo-staging $SCALINGO_GIT_REMOTE_STAGING || true
    - git remote add scalingo-prod $SCALINGO_GIT_REMOTE_PROD || true
    - git fetch origin $CI_COMMIT_BRANCH --unshallow
    - git checkout $CI_COMMIT_BRANCH

build-ci-image:
  stage: prepare
  image: docker:stable
  services:
    - docker:dind
  script:
    - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
    - docker build -f ci/Dockerfile -t $CI_REGISTRY/$CI_PROJECT_PATH/ci-image:latest .
    - docker push $CI_REGISTRY/$CI_PROJECT_PATH/ci-image:latest
  only:
    changes:
      - ci/Dockerfile
      - Pipfile
      - Pipfile.lock
      - front/package.json
      - front/package-lock.json

check-backend:
  stage: check
  extends: .checks
  services:
    - mysql:8.0
    - redis:latest
  script:
    - export CARBURE_HOME=$(pwd)
    - export DATABASE_URL=mysql://root:$MYSQL_ROOT_PASSWORD@mysql:3306/$MYSQL_DATABASE
    - export REDIS_URL=redis://redis:6379
    - mypy web || true
    - TEST=1 python3 web/manage.py test web
  only:
    refs:
      - dev
      - master
    changes:
      - web/**/*

check-frontend:
  stage: check
  extends: .checks
  script:
    - cd front
    - npx eslint --ext .ts,.tsx src/
    - npm test
  only:
    refs:
      - dev
      - master
    changes:
      - front/**/*

deploy-dev:
  stage: deploy
  extends: .scalingo
  only:
    - dev
  script:
    - git push scalingo-dev $CI_COMMIT_BRANCH:master -f

deploy-staging:
  stage: deploy
  extends: .scalingo
  only:
    - master
  script:
    - git push scalingo-staging master -f

deploy-prod:
  stage: deploy
  extends: .scalingo
  when: manual
  only:
    - master
  script:
    - git push scalingo-prod master -f

Feature/add sentry
  docker-compose.yml
  front/package-lock.json
  front/package.json
  front/public/locales/en/translation.json
  front/public/locales/fr/translation.json
  front/src/index.tsx
  front/src/sentry.tsx
Due: build-ci-image, check-frontend

fix(auditor): remove ui bug from button
  front/src/common/components/button.module.css
  front/src/elec-audit-admin/components/sample/details-sample-audit-done-section.tsx
Due: check-frontend

fix: borders
  web/doublecount/api/admin/applications/export_application.py
Due: check-backend

feat: change text generate decision
  front/public/locales/en/translation.json
  front/public/locales/fr/translation.json
  front/src/common/components/dialog.tsx
  front/src/double-counting-admin/api.ts
  front/src/double-counting-admin/components/applications/application-details-dialog.tsx
Due: check-frontend

feat(double counting): terminate download docx after agreement validated
  front/src/double-counting-admin/api.ts
  front/src/double-counting-admin/components/applications/application-details-dialog-accept.tsx
  front/src/double-counting-admin/components/applications/application-details-dialog.tsx
  front/src/double-counting-admin/utils.ts
Due: check-frontend

feat(double counting): prepare download application
  front/src/double-counting-admin/api.ts
  front/src/double-counting-admin/components/applications/application-details-dialog-accept.tsx
  front/src/double-counting-admin/components/applications/application-details-dialog.tsx
Due: check-frontend

refactor: refactor application details dialog accept
  front/public/locales/en/translation.json
  front/public/locales/fr/translation.json
  front/src/double-counting-admin/api.ts
  front/src/double-counting-admin/components/applications/application-details-dialog-accept.tsx
  front/src/double-counting-admin/components/applications/application-details-dialog.tsx
Due: check-frontend

[back] fix how double counting application start year is defined
  web/doublecount/parser/dc_parser.py
Due: check-backend

refactor(emails): take into consideration bcc and local environmeent
  web/auth/api/register.py
  web/auth/api/request_activation_link.py
  web/auth/api/request_otp.py
  web/auth/api/request_password_reset.py
  web/core/helpers.py
  web/doublecount/api/admin/applications/add.py
  web/doublecount/api/admin/applications/approve_application.py
  web/doublecount/api/admin/applications/reject_application.py
  web/doublecount/helpers.py
  web/elec/api/admin/audit/charge_points/accept_application.py
  web/elec/api/admin/audit/meter_readings/accept_application.py
  web/elec/api/auditor/accept_report.py
  web/entity/api/admin/users/update_right_request.py
  web/entity/api/depots/create.py
  web/entity/api/registration/add_company.py
  web/entity/helpers.py
  web/entity/services/enable_depot.py
  web/user/api/request_access.py
Due: check-backend

Refactor/back email sending
  web/auth/api/register.py
  web/auth/api/request_activation_link.py
  web/auth/api/request_otp.py
  web/auth/api/request_password_reset.py
  web/core/admin.py
  web/core/helpers.py
  web/doublecount/api/admin/applications/add.py
  web/doublecount/api/admin/applications/approve_application.py
  web/doublecount/api/admin/applications/reject_application.py
  web/doublecount/helpers.py
  web/elec/api/admin/audit/charge_points/accept_application.py
  web/elec/api/admin/audit/meter_readings/accept_application.py
  web/elec/api/auditor/accept_report.py
  web/entity/api/admin/users/update_right_request.py
  web/entity/api/depots/create.py
  web/entity/api/registration/add_company.py
  web/entity/api/registration/tests_add_company.py
  web/entity/helpers.py
  web/entity/services/enable_depot.py
  web/templates/emails/account_activation_email.txt
  web/transactions/api/declarations/invalidate.py
  web/transactions/api/declarations/validate.py
  web/user/api/request_access.py
Due: check-backend

[back] email to emilien at dca creation
  web/doublecount/helpers.py
Due: check-backend

[back] fix Pipfile
  Pipfile.lock
Due: build-ci-image

fix(setup): pipfile
  Pipfile.lock
Due: build-ci-image

fix(biofuel): change targeted column name and fix panda warning
  web/carbure/scripts/update_2bs_certificates.py
Due: check-backend

refactor(emails): fixes
  web/elec/api/admin/audit/charge_points/accept_application.py
  web/elec/api/admin/audit/meter_readings/accept_application.py
  web/elec/api/auditor/accept_report.py
Due: check-backend

Refactor/back email sending
  web/elec/api/admin/audit/charge_points/accept_application.py
  web/elec/api/admin/audit/meter_readings/accept_application.py
  web/elec/api/auditor/accept_report.py
Due: check-backend

Email at dca creation
  web/doublecount/helpers.py
Due: check-backend
